[2017-03-08 12:28] Kaleidophon commented on #1424
Furthermore: I am also working with Stanford's PoS-Tagger and Named-Entity-Tagger and they work just fine.

[2017-03-08 12:39] Kaleidophon commented on #1424
I compared the code in those classes and I don't really understand why, but if I turn Lines 218 + 219 into comments, it runs without a problem. What are those two lines supposed to do in the first place?

https://github.com/nltk/nltk/blob/develop/nltk/parse/stanford.py#L219

[2017-03-09 15:51] aravind098 commented on #1279
when i run the command

i get this error
 HTTP Error 503: first byte timeout

[2017-03-09 15:59] bora-pajo commented on #1279
I went back and forth many times until I did the installation right.  If you are running from windows terminal try to install nltk from their site first
http://pypi.python.org/pypi/nltk
Once you have done that run from terminal

From Mac run from the terminal

then you can import

Remember you need python 2.7 or 3.4 to run it correctly.  Hope this helps

[2017-03-09 17:45] jinxuan opened #1647 "nltk data download error 503: first byte time out."
I'm using `python -m nltk.downloader all` to download the nltk data.  But face a lot of following errors.

Python version is 2.7.12. nltk version is 3.2.2. On Ubuntu 16.04

[2017-03-10 05:18] alvations opened #1648 "Porting several stemming algorithms to NLTK"
`whoosh` has a couple of great things that we can port to NLTK, other than the porter stemmer, there are:

 - [Paice-Husk stemming ](https://bitbucket.org/mchaput/whoosh/src/e344fb64067e45d47ec62dc65a75a50be51264a7/src/whoosh/lang/paicehusk.py?at=default&fileviewer=file-view-default)
 - [Lovin stemmer](https://bitbucket.org/mchaput/whoosh/src/e344fb64067e45d47ec62dc65a75a50be51264a7/src/whoosh/lan

[2017-03-10 06:16] stevenbird commented on #1648
+1

[2017-03-10 13:18] bora-pajo commented on #1648
+1

[2017-03-11 21:50] aetilley opened #1650 "Tokenizer in RTEFeatureExtractor"
(Copying from discussion at pull request resulting in eac9799 at @stevenbird 's request)

Perhaps a deeper question is why we are using the RegexpTokenizer here instead of the much more robust TreebankWordTokenizer.

The documentation in RTEFeatureExtractor says:

"Try to tokenize so that abbreviations, monetary amounts, email
addresses, URLs are single tokens."

For instance:

In []: tt = nltk.Tr

[2017-03-12 06:11] benbenguo opened #1652 "Stanford segmenter nltk Could not find SLF4J in your classpath"
I set up a nltk and stanford environment, nltk and stanford jars has downloaded, the program with nltk was ok, but I had a trouble with stanford segmenter. just make a simple program via stanford segmenter, I got a error is Could not find SLF4J in your classpath, although I had export all jars include slf4j-api.jar. Detail as follows

Python3.5 NLTK, 3.2.2, Standford jars 3.7

OS: Centos

Environm

[2017-03-13 12:35] miskolc commented on #638
I also encountered this problem 3 years after this issue was open. I also think that using a tuple instead of `FRASL` would be a good make it easier to iterate over the words of senseval instances.

[2017-03-15 11:02] borisnadion commented on #1600
stemmer.stem("oing") still fails on 3.2.2 and https://github.com/nltk/nltk/pull/1582/files#diff-3a8479d9e81a5bd798ce0a2cd1b6dd9cR214 will not fix it, what do i miss?

[2017-03-15 19:45] jaehoonhwang commented on #1648
Hi, can I try this one?

[2017-03-15 21:38] djokester opened #1653 "Error training Unigram Tagger with Indian Corpus Data"
[code]
Usually this is the general pathway we follow while training any Ngram tagger with Brown ortreebank corpus. But this doesn't work with the Indian corpus.Is there an error on my part or is this a bug?

[2017-03-17 01:32] alvations commented on #1648
@jaehoonhwang Sure! Try porting the stemmers one at a time and then do a PR and if you need help, we can guide you through it =)

Start with https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md

[2017-03-18 07:28] alvations commented on #1653
Thanks @djokester for catching the error!

This looks like a similar problem we had with the hindi portion of the corpus where there's an empty sentence c.f. #661

[code]

The solution would be to remove the empty lines from `nltk_data`.

These entries from `bangla.pos` in `nltk_data/corpora/indian.zip` is causing the error:

[code]

----

Meanwhile, to train the tagger, @djokester you can do this

[2017-03-18 07:30] djokester commented on #1653
So there are a few empty lines in the corpus. That is what is causing the error?
Mind if I take it up as my first PR to NLTK?

[2017-03-18 07:36] alvations commented on #1653
Contribution is always welcomed!! =)

But do note that the fix would be in the [`nltk_data`](https://github.com/nltk/nltk_data) repo instead of nltk. So beyond the contribution guide: https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md , do also look at https://github.com/nltk/nltk/wiki/Adding-a-Corpus

[2017-03-18 07:55] alvations commented on #1634
I'm trying to take a poke at this over the weekend. Any suggestions on how we should approach this?

[2017-03-18 12:35] stevenbird opened #1656 "New version of scipy causes fisher test to break"
Our [CI Server](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/testReport/(root)/metrics_doctest/metrics_doctest/) reports this failing test:

[code]

@pierpaolo points out that this test failure coincided with a new release of scipy. The failure goes away when we modify tox.ini to specify the previous version:

[code]

[2017-03-18 12:36] stevenbird commented on #1656
@jnothman: do you have any idea why this might be?

[2017-03-18 18:36] cchunsheng commented on #1652
FYI - An workaround I used is to set path_to_slf4j to sth that does not include slf4j, e.g. path_to_slf4j = "/home/chen/Downloads/stanford-segmenter-2016-10-31/stanford-segmenter-3.7.0.jar"

[2017-03-19 10:02] stevenbird commented on #1656
@pierpaolo: it looks like requiring the old version of scipy did not fix the problem (https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/testReport/(root)/metrics_doctest/metrics_doctest/).

I'll revert, and drop this failing test, so as not to hold up several other pull requests.

[2017-03-19 11:37] alvations commented on #1634
@AndreasMadsen actually I've worked through the math by hand and 17 BLEU for the example you've given is really similar to the "the the the the the the the" example in the [original BLEU paper](http://www.aclweb.org/anthology/P02-1040.pdf), see also https://gist.github.com/alvations/e5922afa8c91472d25c58b2d712a93e7 . In code:

[code]

The 17 BLEU (smoothed) or 34 BLEU (unsmoothed, taking only unig

[2017-03-19 11:48] AndreasMadsen commented on #1634
@alvations I see, thanks for looking into it.

[2017-03-19 12:23] stevenbird opened #1658 "Unable to find stanford-postagger.jar on CI server"
The CI server reports that NLTK cannot find the Stanford POS tagger:
https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/testReport/nltk.tag/stanford/StanfordPOSTagger/

Cf. http://stackoverflow.com/questions/34726200/nltk-was-unable-to-find-stanford-postagger-jar-set-the-classpath-environment-va

[2017-03-19 12:32] alvations commented on #1658
This requires the same hack from https://gist.github.com/alvations/e1df0ba227e542955a8a. I think a more principled way to handle this is to complete #1249 and then wrap the new stanford API in StanfordPOSTagger, StanfordNETagger, StanfordDependencyParser, StanfordParser and StanfordTokenizer

[2017-03-19 12:48] alvations opened #1659 "NLTK support for Python 3.6"
Would NLTK be supporting Python3.6?

Python3.6 had been shipped in Dec 2016 as scheduled on  [PEP 494](https://www.python.org/dev/peps/pep-0494/) . There's also an increase in Py3.6 uptake and the shelf-life should be around 2 years before [Py3.7 reaches the final dev stage](https://www.python.org/dev/peps/pep-0537/).

This might help in the port to Python 3.6 while keeping 2.7 and 3.4/3,5 functio

[2017-03-19 14:30] stevenbird commented on #1658
Thanks @alvations. But I noticed a problem in `jenkins.sh`,
 and hope this resolves the problem (https://github.com/nltk/nltk/commit/f3a40c5ee4f7a7d7f455aa758fba99a44949332e).

[2017-03-19 14:46] stevenbird commented on #1659
:+1:

[2017-03-19 19:18] fievelk commented on #1656
@stevenbird I tested again removing the `# doctest: +SKIP` flag from fisher tests and I am still getting the same results.
Running tests with `tox -- nltk/test/metrics.doctest` using the current `tox.ini` causes a failure (as expected).
Running `tox -- nltk/test/metrics.doctest` using the [`tox.ini` file that you had previously committed][1] (with `pip install -I 'scipy < 0.19' `) is still solving

[2017-03-19 20:38] aetilley commented on #1253
I'm having the same issue.  I have panlex_lite successfully dowloaded (from http://dev.panlex.org/db/panlex_lite.zip)  and located in the correct directory, but when nltk.download() is called it tries to download it again.  Is there some other file that needs to be updated to show that the corpus is in place?

Please Note:  I would try @cimarie 's suggestion, but the problem is that I'm trying to

[2017-03-19 23:37] nschneid commented on #1659
When I import the framenet module in Python 3.6.0 with warnings enabled via the `-Wd` flag, I get:

[code]

among other non-deprecation warnings. Then, the following code

[code]

causes this warning when the loop is exhausted:

[code]

which I believe is due to [PEP 479](https://www.python.org/dev/peps/pep-0479/), and can be avoided by modifying the `LazyIteratorList.iterate_from()` method (which

[2017-03-20 10:34] stevenbird commented on #1658
Problem solved [except for Python 2.7](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/testReport/nltk.tag/stanford/StanfordPOSTagger/).

[2017-03-21 00:30] alvations commented on #1425
@jmwoloso after upgrading `nltk`, is the SSL issue resolved?

[code]

[2017-03-21 00:38] alvations opened #1664 "Defining utf8 encoding for all `.py` files"
Is it a good idea to add magic encoding ([PEP 263](https://www.python.org/dev/peps/pep-0263/#defining-the-encoding)) on all `.py` files to handle non-ascii systems e.g. #1024 ?

[code]

[2017-03-21 02:16] nschneid commented on #1664
Doesn't this only indicate the encoding of the source file itself (in case there are any non-ASCII string literals or variable names)? I don't think it changes the default encoding of input/files processed by the code.

[2017-03-21 02:25] alvations commented on #1664
Yes, it only changes the source encoding.

But when the interpreter calls the [ntpath](https://github.com/python/cpython/blob/master/Lib/ntpath.py), the non-ascii strings will enter as part of the code and possibly that happens when `os.path.expanduser('~/')` lines in `nltk` "breaks" on the user-side.

But I'm not sure, we have to verify that that is the case, first.

[2017-03-21 02:52] nschneid commented on #1024
@Khutuck, what do you get if you type

[code]

at the Python prompt? (Just to confirm the problem is due to NLTK's use of `unicode_literals`.)

[2017-03-21 03:04] nschneid commented on #1664
If the user writes code with an import that uses non-ASCII characters, then yes, that file should declare its source encoding. But I don't think it would help to declare the source encoding in files that are pure-ASCII.

The problem in #1024 seems to be the `unicode_literals` import. `os.path.expanduser()` apparently assumes that the type of its argument—which, with `unicode_literals`, is `unicode

[2017-03-21 03:19] nschneid commented on #1664
P.S. as suggested in [#1593](https://github.com/nltk/nltk/pull/1593#issuecomment-273356452), `unicode_literals` can be a source of nasty bugs. This is because `unicode` is the "non-default" string type in 2.7, and some libraries may use `str` strings in ways that don't play nicely with `unicode` strings. (I recall experiencing this with a 3rd-party XML processing library, so it's not just `os.path

[2017-03-21 08:16] Khutuck commented on #1024
@nschneid I still use the same PC and same username, I've updated from 2.7.10 to 2.7.13.

[code]

and the "import nltk" still goes the same:

[code]

[2017-03-21 08:40] alvations commented on #1024
@nschneid definitely it's something that should be fixed in CPython upstream, `\xfd` looks like a badly read string.

@Khutuck what is your username on your machine?

What happens when you do this?

[code]

And if you say this to a python script, `test.py` and run `python test.py`:

[code]

Do you still see the error?

How about this:

[code]

[2017-03-21 09:47] Khutuck commented on #1024
My username on the machine is "Fırt" (ı has no dots, it's a Turkish letter, Unicode U+0131 / &#305;)

On IDLE I get this:
[code]

When I run test.py code below:
[code]
The output is this:
[code]

[2017-03-22 10:57] Gallaecio commented on #736
I see two issues with the current code (besides the fact that it does not work), user-experience-wise:

1.  In the book, the method does not take any parameters (at least when it first appears in the book), but the current signature requires a `words` parameter. So when you follow the book, what you get is the following:

        Traceback (most recent call last):
          File "<stdin>", line 1,

[2017-03-22 11:06] Gallaecio commented on #736
I also wonder if we could remove the references to `generate()` from the book. At least in chapter 1, they do not seem to be required by other sections of the chapter.

[2017-03-23 22:40] vthorsteinsson opened #1665 "Speed up FreqDist.N()"
The function FreqDist.N(), defined in probability.py, performs a sum of all contained values every time it is called. FreqDist inherits from collections.Counter, and instances of it often contain large collections, for instance all distinct unigrams in a text in the case of the TnT tagger. The N() function may thus have to iterate over tens or hundreds of thousands of values to yield its total cou

[2017-03-23 22:59] vthorsteinsson commented on #1665
...and, by the way, by adding the same optimization to ConditionalFreqDist.N() I was able to get a further 1.8x speedup on the TnT tagging use case. The cumulative speed gain is about 9x - in my case from just over 200 seconds on a 100,000-sentence training run followed by tagging of 200 test sentences, down to 23 seconds.

The function added to ConditionalFreqDist is as follows:

[code]

[2017-03-24 00:08] vthorsteinsson opened #1666 "Speed up TnT tagger with simple modification"
In the TnT tagger, in the function _tagword(), there is this piece of code:

[code]
self._wd.conditions() returns list(self.keys()), which is a list of all distinct words encountered during training - often tens of thousands, sometimes hundreds of thousands. The if statement searches linearly through this list, taking O(N) time. A simpler, equivalent, much quicker and more readable version would b

[2017-03-24 00:11] vthorsteinsson commented on #1640
See also https://github.com/nltk/nltk/issues/1665 which suggests a fix that would at least make POS tagging much quicker.

[2017-03-24 22:36] goodmami opened #1667 "nltk.translate.gleu_score problems"
I see a few possible issues with the gleu_score implementation.

1. It doesn't allow multiple references, despite the [docstring saying it does](https://github.com/nltk/nltk/blob/develop/nltk/translate/gleu_score.py#L72). This is either a code or a doc issue. Can anyone clarify which?

2. I don't see why there is no `corpus_gleu()` function. The Wu et al. 2016 paper states (emphasis added):

   So

[2017-03-24 23:53] alvations commented on #1667
@goodmami I'll try to answer some of the questions:

It's a docstring problem. It doesn't take multiple references because the GMNT paper didn't account for multiple references.

Yes, this was unclear because they were using GLEU to do some sort of reinforcement learning (I would call it nbest reranking) at the decoder, so it must have been something at sentence level.

As for the corpus level, I

[2017-03-25 19:43] goodmami commented on #1667
Ok, thanks @alvations. Maybe we should contact an author of the paper to get a more precise description of the metric before modifying the implementation?

And the docstring problem was not as bad as I thought. It was just the plural `references` instead of `reference`. (I misinterpreted `list(str)` as the type to mean a list of strings rather than a list of tokens.) Anyway, I corrected the plural

[2017-03-27 14:38] gagana-hg opened #1672 "nltk.set_proxy not working"
I was trying to download the data over a proxy. Tried the set_proxy function. Doesn't seem to make any difference.

[2017-03-28 14:54] ghost opened #1673 "UTF-8 UnicodeDecodeError and Segfault (with tkinter) on OS X"
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte
Segmentation fault: 11`

I get the above error. I believe this has something to do with python3 & tkinter (I am on python 3.5.x). I wanted to know if I am the only one seeing this issue.

[2017-03-29 07:42] jayvdb commented on #1673
What were you doing, when this happened?

Can you share the code which causes this?

[2017-03-29 09:07] jayvdb commented on #1614
Close as fixed?

[2017-03-29 09:19] jayvdb commented on #1575
@stevenbird, @ExplodingCabbage, ping

[2017-03-29 09:20] jayvdb commented on #184
Should something be done about using None values?
An exception?

[2017-03-29 09:24] ExplodingCabbage commented on #1575
I'm only a contributor, not a collaborator, so I've got no power to close this, @jayvdb. :) And possibly @stevenbird might want to adjust the release notes before doing so, I'm not sure.

[2017-03-30 00:28] ghost commented on #1673
I do the following
`import nltk`
`ntlk.download()`

Then I try downloading the packages of choices. When I try scrolling down or up I see the UnicodeDecodeError. This happens with scrolling up and down in all packages tab.

`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte`

[2017-03-31 20:09] gmarmstrong commented on #1673
This was reported on the Python bug tracker: [http://bugs.python.org/issue10731](http://bugs.python.org/issue10731)

There is a discussion on Stack Overflow about how to fix the problem: [http://stackoverflow.com/questions/16995969/inertial-scrolling-in-mac-os-x-with-tkinter-and-python](http://stackoverflow.com/questions/16995969/inertial-scrolling-in-mac-os-x-with-tkinter-and-python)

You can wor

[2017-03-31 22:43] ghost commented on #1673
Thank you for helping me with this non-nltk related issue @gmarmstrong, I appreciate the help

[2017-03-31 22:43] #1673 closed, assigned to nobody

[2017-04-02 02:11] gpassero commented on #1520
@alvations I am having the same problem here.

[2017-04-02 06:37] clouds56 opened #1675 "u201c and u201d should also be considered as open"
nltk.word_tokenize("The unicode 201C and 201D “LEFT(RIGHT) DOUBLE QUOTATION MARK” is also OPEN_PUNCT and CLOSE_PUNCT.")

# result:
['The',
 'unicode',
 '201C',
 'and',
 '201D',
 '“LEFT',
 '(',
 'RIGHT',
 ')',
 'DOUBLE',
 'QUOTATION',
 'MARK”',
 'is',
 'also',
 'OPEN_PUNCT',
 'and',
 'CLOSE_PUNCT',
 '.']

note: there's word '“LEFT' and 'MARK”', which is unexpected.
(And also u+2018 and u+2019)

[2017-04-03 05:08] gmarmstrong commented on #1647
Related to nltk/nltk_data#66. Both issues were submitted on the same day by different users, and I cannot replicate the issue now, so I imagine this was a temporary server outage.

[2017-04-04 01:31] alvations commented on #1659
Bumping issue. Any brave soul(s)?

[2017-04-04 09:27] #1634 closed, assigned to nobody

[2017-04-04 23:28] clockwiser commented on #1338
@demidovakatya,
Thank you. I met the same problem.

[2017-04-05 00:06] ghost opened #1676 "Unable to generate parse trees with ccg parser"
I am trying to generate a parse tree for the below lexicon but the ChartParser doesn't produce any parses. Can anyone throw some light on this?

[code]

[2017-04-05 10:59] kmstock commented on #1574
Hi, I'm having the same problem, same output as terencen.  Python 3.5 (also tried other versions), 64 bit computer but 32 bit python.  I download the nltk executable, when I run it, following an introductory screen, it gives me: "Python version -32 required, which was not found in the registry".

Any help would be much appreciated.

[2017-04-05 19:44] maitetaboada commented on #1574
Hi, kmstock. It worked for me with the pip install. See above.

[2017-04-05 21:50] kmstock commented on #1574
Hi Maiteaboada,  Thanks for that.  I had tried your command yesterday without success, but with fresh eyes and a bit of other research, it seems to have worked.  Many thanks!

[2017-04-06 16:23] wannaphong opened #1677 "CFG Error in Thailang"
I write thai cfg in nltk.

[code]
but , it's error.

[code]
NLTK 3.2.2 , Python 3.5.2 in Windows

[2017-04-06 18:50] NervousEnergy1979 opened #1679 "How to use texttiling with emails?"
I want to tile the email text below into the 5 sections LOGISTICS, INTRO, BODY, OUTRO, POST EMAIL DISCLAIMER

[code]

But when I run the code above, I get the same string back in list form, and un-tiled in any way. I have tried using several parameters in TextTilingTokenizer, including (w=2, k=10, similarity_method=0, stopwords=None, smoothing_method=[0], smoothing_width=2, smoothing_rounds=1, cut

[2017-04-07 02:25] #1677 closed, assigned to nobody

[2017-04-07 16:08] MhMohammedHamdan commented on #736
In my opinion, I totally agree with you guys to remove (generate()  references).

[2017-04-10 00:12] vthorsteinsson commented on #1666
I have submitted a PR addressing this: https://github.com/nltk/nltk/pull/1680

[2017-04-10 00:12] vthorsteinsson commented on #1665
I have submitted a PR addressing this: https://github.com/nltk/nltk/pull/1680

[2017-04-10 09:17] AndreasMadsen opened #1681 "Zipfile raises error when "assert self.fp is None" in Python3.6"
I only get this error on occasion and only in a production-like environment after running some code for several hours. The only thing related to nltk is that I use the `MosesTokenizer`.

I've tried quite a things even setting `self.fp = None` manually after `self.close()` is called, nothing worked. In the end I had to just make `OpenOnDemandZipFile` an alias for `zipfile.ZipFile`.

_I'm using pyth

[2017-04-10 09:44] alvations commented on #1681
Yes, definitely Python 3.6 is the problem because ZipFile works a little differently on 3.5 -> 3.6.

Related issue: https://github.com/nltk/nltk/issues/1659

In fact, this is one of the major roadblock to support Python3.6,  any module that uses `zipfile` from `nltk.data` would result in similar error at the assertion line.

@AndreasMadsen want to try a poke at #1659 ? ;P

[2017-04-10 09:57] stevenbird commented on #1679
Sorry @killerT1992 this is not an appropriate issue. Please post on nltk-users or on stackoverflow.

[2017-04-10 09:57] #1679 closed, assigned to nobody

[2017-04-10 09:58] AndreasMadsen commented on #1681
@alvations I don't need it enough to allocate the hours to fix it, sorry.

[2017-04-10 09:59] stevenbird commented on #1676
@sprakash3: I suggest you create the smallest possible grammar that illustrates the problem, and post to nltk-users or stackoverflow.

[2017-04-10 09:59] #1676 closed, assigned to nobody

[2017-04-10 10:15] stevenbird commented on #1675
:+1:

[2017-04-10 10:27] alvations commented on #1675
@clouds56 Good catch!

It's a little tricky to fix it though. The original treebank tokenizer that `word_tokenize` wraps didn't get the u+2018 and u+2019 split either =(

[code]

Without changing how `TreebankWordTokenizer` works, to fix this, we might have to  duck_typing the `TreebankWordTokenizer`object and also lump in with the chervon fix ( c.f. #1437, specifically https://github.com/nltk/nlt

[2017-04-12 05:19] alvations commented on #1664
Hopefully these will go away once the [Python2.7 goes away](https://pythonclock.org). Closing the issue =)

[2017-04-12 05:19] #1664 closed, assigned to nobody

[2017-04-12 05:27] alvations commented on #1434
c.f. #1682

[2017-04-12 05:35] alvations commented on #542
3+ years on... [Anaconda](http://anaconda.org) has done the job of nicely packaging the scientific computing tools/libraries for Python and the new `pip` install instructions should be easy enough =)

[2017-04-12 05:38] alvations commented on #416
3+ years on, the new `pip` installation should handle this issue c.f. #1538

[2017-04-12 05:40] alvations commented on #411
3+ years on... Childes doctest works on latest NLTK build https://nltk.ci.cloudbees.com/job/nltk/

[2017-04-12 05:43] alvations commented on #7
Closing issue, solved on #1365 with raised warning

[2017-04-12 05:43] #7 closed, assigned to nobody

[2017-04-12 05:45] alvations commented on #101
Closing, resolved in #1349

[2017-04-12 05:45] #101 closed, assigned to nobody

[2017-04-12 19:47] goodmami commented on #1667
Just summarizing what Mike Schuster (2nd author on Wu et al. 2016) said on an nltk-dev thread:

Nothing special for multiple-references; suggests using the max score:
* Q:

* A:

Corpus GLEU is not just the macro-average:
* Q:

* A:

"GLEU" name was used internally and team was not aware of previous instances. Fate uncertain? At least we should be clear about which "GLEU" we are using, which I thi

[2017-04-13 10:15] #1675 closed, assigned to nobody

[2017-04-13 11:07] dimazest commented on #542
I agree, anaconda works universally for me on Linux and Mac.

[2017-04-13 11:13] #1665 closed, assigned to nobody

[2017-04-13 11:13] stevenbird commented on #1665
Resolved.

[2017-04-13 11:13] stevenbird commented on #1658
Mysteriously resolved for Python 2.7 as well.

[2017-04-13 11:13] #1658 closed, assigned to nobody

[2017-04-13 11:16] stevenbird commented on #1644
@alvations: sorry for the delay. I've given you more privileges – are you able to do it yourself now?

[2017-04-13 14:38] alvations commented on #1644
@stevenbird It looks like only repo owner can add the topics. I don't see the topics adding on my end on https://github.com/nltk/nltk but I could see it on my fork though: https://github.com/alvations/nltk

[2017-04-13 15:16] nschneid commented on #1644
@stevenbird You should be able to do this at https://github.com/nltk/nltk right under where it says "NLTK Source".

[2017-04-14 04:45] 2014044 opened #1685 "Urdu corpus"
I want to download complete urdu corpus, ASC II CODE for urdu and urdu wordlist  for python 3.5.2 but i am not able to find it anywhere. can anyone help me please ? send me the links from where i can find both of these.

[2017-04-14 06:21] stevenbird commented on #1517
Please try again and open a new issue if there is still a problem.

[2017-04-14 06:22] stevenbird commented on #1253
I've updated the checksums, so please try again

[2017-04-14 06:22] #1517 closed, assigned to nobody

[2017-04-14 06:23] stevenbird commented on #1560
I've made the panlex corpus point to a dated version (currently `panlex_lite-20170401.zip`) and updated the checksums. Please try again, and open a new issue if the problem persists.

[2017-04-14 06:23] #1560 closed, assigned to nobody

[2017-04-14 10:44] stevenbird commented on #1685
This is not an NLTK issue

[2017-04-14 10:44] #1685 closed, assigned to nobody

[2017-04-14 10:46] stevenbird commented on #1644
Done, thanks. Please let me know if there's any others.

[2017-04-14 10:48] #411 closed, assigned to nobody

[2017-04-14 10:49] #1434 closed, assigned to nobody

[2017-04-14 10:50] stevenbird commented on #1666
Thanks @vthorsteinsson

[2017-04-14 10:50] #1666 closed, assigned to nobody

[2017-04-14 12:25] Zaazik opened #1686 "Something wrong with your https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml"
[In xml online validator](http://www.xmlvalidation.com)  tell:
[code]
When i trying download `stopwords` in python3
[code]
Got error
[code]
In your [xml ](https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml)
`<package checksum="6f9c042774b96366c93fd0f9a9adb697" id="dolch" name="Dolch Word List" size="2116" subdir="corpora" unzip="1" unzipped_size"1917" url="https://en.wikipedia.org

[2017-04-14 13:03] svfat commented on #1686
Same error. Is it possible to download previous version?

[2017-04-14 13:46] Zaazik commented on #1686
@svfat  I'm catch that error on 3.2.1 ver, and upgrade to 3.2.2 and got same error

[2017-04-14 15:01] owsd opened #1687 "Can't download punkt anymore"
Starting this morning, `nltk.download('punkt')` results in this error:
[code]

[2017-04-14 15:10] ajnovice opened #1688 "Getting Parse error on nltk.download('all')"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/hi-161/Pictures/unix/local/lib/python2.7/site-packages/nltk/downloader.py", line 664, in download
    for msg in self.incr_download(info_or_id, download_dir, force):
  File "/home/hi-161/Pictures/unix/local/lib/python2.7/site-packages/nltk/downloader.py", line 534, in incr_download
    try: info = self._info_or_

[2017-04-14 15:16] alvations commented on #1688
Sorry about it code was broke on the `nltk_data` side. nltk/nltk_data#70 patched it.

[2017-04-14 15:16] alvations commented on #1687
Sorry about it code was broke on the nltk_data side. nltk/nltk_data#70 patched it.

[2017-04-14 15:17] alvations commented on #1686
Sorry about it code was broke on the nltk_data side. nltk/nltk_data#70 patched it.

[2017-04-14 15:19] owsd commented on #1687
Thanks

[2017-04-14 15:19] #1687 closed, assigned to nobody

[2017-04-14 15:22] maksymx commented on #1686
@alvations thanks for rapid fix

[2017-04-14 15:23] #1688 closed, assigned to nobody

[2017-04-14 15:28] Zaazik commented on #1686
@alvations tnx now its working .
**Upcoming holidays**

[2017-04-14 15:29] #1686 closed, assigned to nobody

[2017-04-14 22:52] aetilley commented on #1253
@stevenbird Which checksums?

Anyway, it does not appear to have worked.  nltk.download('all') still tries to download panlex light, even though I have put the file attached to the above link in my ~/nltk_data/corpora folder.

Also of note, the downloader tries to download panlex_swadesh every time (although this is a much shorter download than panlex_lite).  I noticed panlex_swadesh.zip is in the

[2017-04-14 23:18] stevenbird commented on #1253
@aetilley – the checksums are published on [this page](www.nltk.org/nltk_data/) – may need to "view source".

They are from this file: https://dev.panlex.org/db/panlex_lite-20170401.zip

Unfortunately I don't have the bandwidth to download it.

There's two things you might try. Maybe you already just did the first in which case the second might be worth a shot.

1. sudo python -m nltk.downloader p

[2017-04-15 03:22] stevenbird commented on #1338
Downloading panlex_lite should work fine now

[2017-04-15 23:59] alvations commented on #1644
Great! Thanks @stevenbird !

[2017-04-15 23:59] #1644 closed, assigned to nobody

[2017-04-16 10:47] ExplodingCabbage opened #1689 "wordnet.doctest contains references to bugs by number, but they're not issues from this GitHub repo"
See https://github.com/nltk/nltk/blob/3.2.2/nltk/test/wordnet.doctest. We've got references like:

and

These certainly ain't references to issues opened here at https://github.com/nltk/nltk though; #284 and #541 are both non-WordNet-related issues.

I'm guessing these issue numbers refer to the issue tracker of some other project hosting platform that historically hosted NLTK - although I have no

[2017-04-16 11:23] ExplodingCabbage commented on #1466
The tests ran for me this time around, so I guess this is resolved!

[2017-04-16 11:23] #1466 closed, assigned to nobody

[2017-04-17 02:58] jalbalah commented on #205
Just use this, which returns a string. Solved my same issue.
[code]

[2017-04-17 07:12] alvations commented on #1689
@ExplodingCabbage, possibly @fcbond would know.

[2017-04-17 14:57] 2014044 commented on #1685
ok thank you

On Fri, Apr 14, 2017 at 3:44 PM, Steven Bird <notifications@github.com>
wrote:

[2017-04-17 17:56] chrisspen opened #1694 "Tree pretty_print() fails on a tree containing features"
If I try to call tree.pretty_print() on a tree containing FeatStructNonterminal() built from a feature-grammar, it throws the exception:

    Traceback (most recent call last):
      File "test.py", line 22, in <module>
        tree.pretty_print()
      File "myproject/.env/local/lib/python2.7/site-packages/nltk/tree.py", line 695, in pretty_print
        print(TreePrettyPrinter(self, sentence, hi

[2017-04-18 06:29] lixin4ever opened #1695 "IBM-3 Model is too slow"
Hi,

    Recently, I want to use IBM Model3 in nltk for word alignment.
    However, the running time is really unaffordable
    (e.g., for training over 100 aligned sentences, 4 hours are needed per iteration).
    Is there anybody encounter the same problem?

    p.s: IBM-2 and IBM-1 only cost a few seconds on the same machine.

[2017-04-18 06:45] alvations commented on #1695
@lixin4ever yes, the IBM models in NLTK was meant for education purposes. Possibly a reimplementation with `numpy` and `scipy` would help speed things up.

Anyone up for a challenge?

[2017-04-18 08:08] lixin4ever commented on #1695
Thanks for your response @alvations

[2017-04-21 10:51] joybinchen opened #1696 "OpenOnDemandZipFile fail to open punkt.zip on python3.x"
An exception raises when excuting an simple tutorial in nltk_book as the following command.
`$ python3 -c 'from nltk import word_tokenize; text = word_tokenize("And now for something completely different")'`

I think the problem is caused by the decorator @py3_data on ZipFilePathPointer.\_\_init\_\_ and OpenOnDemandZipFile.\_\_init\_\_. This decorator will append '/PY3' to the first arg, which is

[2017-04-21 12:03] alvations commented on #1696
@joybinchen Just to double check, which specific Python version are you using? What is your output for

[code]

Also, did you download the `punkt` tokenizer? I.e.

[code]

[2017-04-21 19:32] AncientZygote opened #1697 "SimpleGoodTuring did not find a proper best fit warning in test"
I installed NLTK 3.0 April 15, 2017 (using a pip install since I am running on Windows 8 64 bit and Python 2.7 64 bit). I ran the test suite via nltk/test/runtests.py and had a few errors due to unavailable corpora, which I subsequently downloaded. However, I continue to get a warning from the probability.py SimpleGoodTuringProbDist find_best_fit source line testing if self._slope >= -1. I determi

[2017-04-23 06:10] #1620 closed, assigned to nobody

[2017-04-23 06:21] #1641 closed, assigned to nobody

[2017-04-23 06:22] #1618 closed, assigned to nobody

[2017-04-24 15:10] joybinchen commented on #1696
@alvations I'm using python3.5 on ubuntu 17.04. I'm sure I have downloaded all zip file under ~/nltk_data. I can run the case without any Exception when ~/nltk_data/tokenizers/punkt.zip is unpacked.

[code]

[code]

[2017-04-24 15:32] alvations commented on #1696
What is your nltk version?

[code]

Also, try:

[code]

[2017-04-24 15:55] joybinchen commented on #1696
It's the git master branch latest code.
[code]

[2017-04-24 16:00] alvations commented on #1696
Thanks @joybinchen for the details! Someone should look into this =)

I'll be a little busy til the end of the month.

[2017-04-24 19:33] grafael opened #1699 "Nltk word tokenizer strange behaviour"
Given the sentence:

word = **"B. Young c Moin Khan b Wasim 0"**

if we call nltk.word_tokenize(word) We'll have the following tokens:
    **['B', '.', 'Young', 'c', 'Moin', 'Khan', 'b', 'Wasim', '0']**

But, if we change the sentence to be:
word = **"C. Young c Moin Khan b Wasim 0"**

The tokens will be:
    **['C.', 'Young', 'c', 'Moin', 'Khan', 'b', 'Wasim', '0']**

The char '.' is now joined t

[2017-04-24 20:52] doweaver opened #1700 "sys.platform.startswith('win') is not a reliable way of detecting the OS"
've been doing some work with the NLTK using IronPython and Windows, and discovered we'll often run into trouble with file paths. It appears that we mostly use the following to determine whether we're on Windows:

`windows = sys.platform.startswith('win')`

Unfortunately, IronPython has a sys.platform of "cli". I haven't been able to dig up historical reasons for this, but I have identified severa

[2017-04-25 00:47] alvations commented on #1700
@doweaver Thank you for raising the issue. I think IronPython comes with other caveats that doesn't follow the canonical Python conventions.

But the latest 27.1 version of [IronPython `sys.platform`](https://ironpython-test.readthedocs.io/en/latest/library/sys.html#sys.platform) works very similar to the canonical [CPython `sys.platform`](https://docs.python.org/3/library/sys.html).

Which versio

[2017-04-25 01:58] alvations commented on #1696
@stevenbird Is there a difference on when downloading `nltk_data` in Python2 and Python3? How is the /PY3/ subpath created? Is it when downloading or unpickling?

I've tried to find the `nltk_data/tokenizers/PY3/punkt.zip` but it doesn't exist after removing and downloading. It resides in `nltk_data/tokenizers/punkt.zip` instead.

[code]

[2017-04-25 08:19] #1495 closed, assigned to nobody

[2017-04-25 16:26] doweaver commented on #1700
I'm using IronPython 2.7.7, which according to ironpython.net/downloads is the latest stable version, and I still see 'cli':

[code]

I also installed IronPython (version 2.7.5) on Arch Linux and see 'cli' output for sys.platform.

I imagine the IronPython authors intend sys.platform to be consistent for IronPython across every OS. The Python docs on sys.platform don't really enlighten me as to wh

[2017-04-26 05:10] markpwoodward opened #1701 "skolemize() fails to create skolem constants"
A skolem constant is not created for existential quantifiers. Instead, an IndividualVariableExpression is created as though it had been a universal quantifier. The lack of distinction causes problems in provers.

[code]

results in:

[code]

while it should be something like:

[code]

Skolem functions are created properly when the existential is nested in a universal quantifier. Perhaps we need a

[2017-04-26 14:45] cdietrich commented on #1338
i still see the problem with 3.2.2

[2017-04-28 08:27] #1653 closed, assigned to nobody

[2017-04-28 08:28] alvations commented on #1653
Fixed on nltk/nltk_data#67

[2017-04-28 08:47] alvations commented on #1700
@doweaver I'm not familiar enough with IronPython to know how to proceed.

One possible way is to go through these lines

[code]

and respectively changed `sys.platform.startswith('win')` to:

[code]

But this would mean that `nltk` is unofficially supporting `IronPython`. So I'm not sure whether that'll open up another can of worms =)

Maybe someone else with better knowledge of `IronPython` shou

[2017-04-28 09:27] iamrachitajain opened #1703 "Conditional Random Field implementation in nltk"
I have been trying to implement crf for my word prediction algorithm but the pycrfsuite- binding for crfsuite and sklearn-pycrfsuite the wrapper for pycrfsuite are not at all flexible in terms of the data input for training. A complete implementation of the algorithm in nltk will be appreciated.

[2017-04-28 16:49] doweaver commented on #1700
The main reason I think we wouldn't want to add a "cli" check there is that "cli" is ALSO the value on Linux, so we'd just move NLTK on IronPython from failing on Windows machines to failing on Linux machines :)

My temporary workaround is to switch the check to:

`os.name == 'nt'`

[2017-04-29 09:25] #1667 closed, assigned to nobody

[2017-04-29 09:27] stevenbird commented on #1703
@iamrachitajain – I'm not convinced we should replicate this functionality in pure Python, as it will probably be too slow to be useful.

[2017-04-30 20:11] SanketDG opened #1704 "Debug output in PunktSentenceTokenizer"
In reference to https://github.com/nltk/nltk/commit/b3e2b410eb0031b52ae05e9d35fe275dbe8098cd, there is a print statement in the middle of nowhere, is this intended?

[2017-04-30 20:13] SanketDG commented on #1704
https://github.com/nltk/nltk/blob/develop/nltk/tokenize/punkt.py#L1072

[2017-05-01 18:34] rafaveguim opened #1705 "In nltk.corpus.wordnet, some synsets are not accessible through their parents"
In the following example "european_country.n.01" is among the hypernyms of "portugal.n.01", but "portugal.n.01" is not listed as a hyponym of "european_country.n.01".

[code]

[2017-05-02 07:12] gening opened #1706 "Tree.fromstring(): expected u'end-of-string' but got ')' when a node is ')'"
Issue:

ValueError: Tree.read(): expected u'end-of-string' but got ')' at index 4.
"(S \\))"
........^

ValueError: Tree.read(): expected u')' but got u'end-of-string' at index 5.
"(S \\()"
.......^

Solution:
Escaping '(' and ')' should be allowed.

[2017-05-03 00:30] #1703 closed, assigned to nobody

[2017-05-03 14:02] Chris00 opened #1708 "Megam URL incorrect"
The URL given [in the wiki for Megam](https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software#megam-mega-model-optimization-package) is incorrect, the right URL is http://hal3.name/megam/

[2017-05-04 17:33] hoavt-54 commented on #1510
Hi @alvations Any updates on this?
Thanks

[2017-05-04 21:33] clockwiser commented on #1338
Again not working.

[2017-05-04 22:08] alvations commented on #1510
@hoavt-54 I think there's a quick way to check whether it's Stanford side or the `DependencyGraph` code causing the problem using the new interface from #1249. I'll be a little busy today but perhaps someone else can check it out and get back on this.

[2017-05-05 03:08] alvations commented on #1699
Rather strange bug:

[code]
Without caps after the fullstop, it sort of gives the expected behavior of the TreebankWordTokenizer, e.g. https://github.com/nltk/nltk/blob/develop/nltk/tokenize/treebank.py#L39

[code]

[2017-05-05 03:37] alvations commented on #1699
It's the `sent_tokenize` part of the `word_tokenize` causing this issue:

[code]

So when the sentence is split into 2 sentences, this regex will kick in in the `TreebankWordTokenizer`: https://github.com/nltk/nltk/blob/develop/nltk/tokenize/treebank.py#L61

It will pad the final fullstop with a preceding space.

To verify the explanation above, we will see that `C. Young c Moin Khan b Wasim 0` re

[2017-05-05 03:49] alvations commented on #1699
Since this is idosyncratic to your data, I think this is not a bug but a quaint feature of [Kiss and Strunk (2006)](http://www.mitpressjournals.org/doi/abs/10.1162/coli.2006.32.4.485#.WQvzq1KB1D0) Punkt tokenizer =)

I've added a feature to `preserve_line` to be consistent with other tokenizers' user options, e.g. Stanford tokenizer's.

In the latest commit of #1710, it'll allow this:

[code]

Thi

[2017-05-05 04:11] alvations commented on #1630
@mwess After some checking, the conversion from `"` to `` is an artifact of the [original penn treebank word tokenizer](https://waybackmachine.org/web/20161026083224/http://www.cis.upenn.edu/~treebank/tokenizer.sed).

It only happens when there are double quotes, the regex rules that does the substitutions are https://github.com/nltk/nltk/blob/develop/nltk/tokenize/treebank.py#L49

And as for the

[2017-05-05 04:24] alvations commented on #1616
Patched on #1702

[2017-05-05 04:24] #1616 closed, assigned to alvations

[2017-05-05 04:31] alvations commented on #995
@letuananh after much thinking, yes. After the new PTB tokenizer is merged, interface to JVN would be something on my todo list. Care to help?

[2017-05-05 04:35] alvations commented on #1054
c.f.  #131

[2017-05-05 04:49] alvations commented on #131
c.f. #78

[2017-05-05 09:27] #948 closed, assigned to nobody

[2017-05-05 09:27] #916 closed, assigned to nobody

[2017-05-05 09:28] #1699 closed, assigned to nobody

[2017-05-05 09:28] #1217 closed, assigned to nobody

[2017-05-05 09:29] #1054 closed, assigned to nobody

[2017-05-05 09:29] #78 closed, assigned to nobody

[2017-05-05 09:54] stevenbird commented on #1338
I don't have bandwidth to test this. Our [nltk_data page](http://www.nltk.org/nltk_data/) points at the [April 1 version](https://db.panlex.org/panlex_lite-20170401.zip), which was not touched when the May 1 version was added recently.

@kamholz: would you mind doing the following to check if it still works please? `python -m nltk.downloader panlex_lite`

[2017-05-05 12:22] mwess commented on #1630
Thank you very much. It actually helps a lot.

[2017-05-05 12:22] #1630 closed, assigned to nobody

[2017-05-05 16:05] baoilleach commented on #1054
Thanks.

[2017-05-05 17:02] kamholz commented on #1338
Sorry this keeps happening. It's hard to debug, because I often can't reproduce the reported errors. In this case, when I run `python -m nltk.downloader panlex_lite`, it doesn't report any error and unzips. However, the MD5 sum at `https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml` is incorrect. I don't know how that happened, since the file has not changed. The entry should read

[2017-05-05 23:04] #1338 closed, assigned to nobody

[2017-05-05 23:05] stevenbird commented on #1338
Thanks for this @kamholz . I've pushed a corrected index file using these checksums.
@clockwiser would you please try again and let us know how you get on?

[2017-05-06 11:32] amrishparmar commented on #1708
It doesn't seem to make a difference. The URL you posted redirects to the URL already listed in wiki https://www.umiacs.umd.edu/~hal/megam/

[2017-05-06 11:53] Chris00 commented on #1708
http://hal3.name/megam/ is the URL [recommended in the README of the tarball](http://hal3.name/megam/megam_src.tgz).  Moreover, it does make a difference because it does not contain `~` and with the above URL (in Github, not from may mailer) I get `The requested page "/%7Ehal/megam/index.html" could not be found.`

[2017-05-08 08:51] g-laz77 commented on #1614
So, has the issue been resolved?

[2017-05-08 20:45] aetilley commented on #1253
@stevenbird

I'm afraid that after running both of these (both successfully),  nltk.download('all') still can't see panlex_lite.

Again, the main problem here is that it makes it difficult to use tox.

So am I the only one having this problem?

[2017-05-08 23:22] alvations commented on #1253
Is `nltk.download('all')` the main cause of these problems? If so, then I think nltk/nltk_data#69 would be something to consider.

Otherwise, the workaround is something like:

[code]

[2017-05-09 02:20] aetilley commented on #1253
@alvations

More specifically, that nltk.download('all') correctly skips over all other corpora that I already have, but for some reason tries to get panlex_lite each time.

Also that tox calls nltk.download('all'), so it's difficult to test locally before making a pull request.

[2017-05-09 04:14] stevenbird commented on #1640
Resolved.

[2017-05-09 04:14] #1640 closed, assigned to nobody

[2017-05-09 14:40] alvations commented on #1253
Hopefully, nltk/nltk_data#75 would resolve some of the issues. And after that's merged, users should be able to do `nltk.download('all-nltk')` instead of `nltk.download('all')` if they don't want to wait to download the large `panlex_lite` file.

[2017-05-09 14:47] alvations commented on #1704
@SanketDG Thanks for catching this! Yes, it shouldn't be there.

[2017-05-09 14:49] alvations commented on #1255
@hack1nt0 are you still experiencing the error? Could you share the code that you've used to produce the trees and the postscript?

[2017-05-09 18:20] #1704 closed, assigned to nobody

[2017-05-10 18:36] babbottscott opened #1715 "nltk download 2.x failing on misconfigured www.nltk.org/nltk_data/"
panlex_lite package has been removed from the Packages list, but is still present in the third_party collection.  This is causing downloader to break with:
[code]
I've monkey patched https://github.com/nltk/nltk/blob/2.0.4/nltk/downloader.py#L840-L843 with
[code]
But I believe the real fix is to correct the published index.  Thank you.

[2017-05-10 18:45] babbottscott commented on #1715
Closing, and opening in the right repo..

[2017-05-10 18:45] #1715 closed, assigned to nobody

[2017-05-12 06:05] alvations opened #1717 "LazyCorpusLoader doesn't play well with Zipfile in Python >3.5"
c.f. #1716

[code]

[2017-05-12 06:08] alvations commented on #1717
To accomodate the test, the easy fix would just be to comment out `panlex_lite` at https://github.com/nltk/nltk/blob/develop/nltk/corpus/__init__.py#L166

But the lazy loading modules is a deeper problem and it should be fixed since it's causing more pain in python3.6

[2017-05-12 06:28] #1717 closed, assigned to nobody

[2017-05-12 10:55] alvations opened #1718 "Packages not distributed through nltk_data cannot use LazyCorpusLoader since Py3.5"
c.f. #1716

Since Py >3.5, during the doctest, the `inspect` will check whether a function is wrapped by probing for `hasattr('__wrapped__')` from https://bugs.python.org/issue20691 . Thus the current flow of creating a proxy object and instantiating with `self.__load()` when the `LazyCorpusLoader.__getattr__` is accessed doesn't play well with the new inspect feature.

Thus the problem with `pl19

[2017-05-12 15:04] #1718 closed, assigned to nobody

[2017-05-12 19:10] aetilley commented on #1253
@alvations

And what will tox call?

Again, I'm happy to download a large file *once* but the downloader doesn't seem so see that I already have it so it tries to download it every time.

And again, if I'm the only person having this problem, then maybe it's not a problem, but I'm baffled.

[2017-05-12 19:24] stevenbird commented on #1253
@aetilley: is this still happening? I think it should be fixed now that we've dropped panlex-lite from the NLTK corpus collection.

[2017-05-14 12:31] chnsh opened #1721 "We need to make Verbnet more consumable"
Hello,

As things are today, in Verbnet, one can only access lemmas directly in a list. However, other aspects of verbnet like Frames are merely pretty printed and that is not really usable.

I have written code to generate a list of syntax(es) within a verbnet frame within Verbnet.py, does it make sense for the NLTK community as a whole? If yes, I shall create a pull request.

example output for

[2017-05-14 18:54] nschneid commented on #1721
I haven't used the VerbNet API before, but it looks like it defines the following methods:

## Machine-friendly methods

    classids(lemma, wordnetid, fileid, classid)
    lemmas(classids)
    longid(shortid)
    shortid(longid)
    vnclass(fileid_or_classid)
    wordnetids(classid)

## Human-friendly methods

    pprint(vnclass)
    pprint_description(vnframe, indent)
    pprint_frame(vnframe, i

[2017-05-14 18:57] chnsh commented on #1721
Yes, it is definitely a good idea. I found the verbnet API unusable because of the way it is right now.
It let's me access members(lemmas) but the usability ends there

[2017-05-14 19:19] nschneid commented on #1721
Sure, go ahead and take a stab at it!

[2017-05-14 19:20] nschneid commented on #1721
CC @dhwang90

[2017-05-14 19:21] chnsh commented on #1721
Yes, I'll start ASAP. Thanks!

On Mon 15 May, 2017, 12:49 AM Nathan Schneider, <notifications@github.com>
wrote:

[2017-05-14 20:22] aetilley commented on #1253
@stevenbird, @alvations

Yes, tox appears to be working for me now.  Sorry, I didn't catch that you had fixed that.

[2017-05-15 01:25] aetilley opened #1722 "CKY Algorithm?"
I've noticed that there are a lot of bottom-up parsers, but I don't find the exact CKY parser anywhere or the associated 'inside algorithm' for sentence scoring.

I implemented this a year ago,
https://github.com/aetilley/pcfg

and I'd be happy to re-write it inside NLTK if people think it would be worthwhile.

I understand many of the other bottom-up- / chart - parsers tend to perform better than

[2017-05-15 03:27] stevenbird commented on #1722
:+1:

[2017-05-15 03:46] alvations commented on #1722
@aetilley It's a good idea to have a working CKY wrapper in NLTK like [`earleychart.py`](https://github.com/nltk/nltk/blob/develop/nltk/parse/earleychart.py) but do note the various data structures that are already implemented in NLTK; use these structures to keep the code compact without maintaining multiple classes of the same function and remain consistency with other parser interfaces, esp. `T

[2017-05-15 04:03] alvations commented on #1705
Due to the hand-crafted nature of Wordnet, this is actually a feature not a bug =)

In the [Princeton WordNet](http://wordnetweb.princeton.edu/perl/webwn?o2=1&o0=1&o8=1&o1=1&o7=1&o5=1&o9=&o6=1&o3=1&o4=1&s=portugal&i=0&h=0#c), there's a difference between `hypernyms()` and `instance_hypernyms()`:

[code]

The reason why the path to instance hypernyms appears in `hypernym_paths` is because when trav

[2017-05-15 04:07] aetilley commented on #1722
@alvations Great.  Yes, I already noticed there's quite a bit done.  Also it seems that there's already functionality for transforming an arbitrary CFG into Chomsky Normal Form, so I don't need to bring over that machinery.

I'll get on it.

[2017-05-15 05:22] cristianocca opened #1723 "Unnecessary slow down on DecisionTreeClassifier"
Just a minor unnecessary calculation that might become huge on large trees.

https://github.com/nltk/nltk/blob/develop/nltk/classify/decisiontree.py#L269

Even if verbose is false you are building that description string. Wouldn't it be a good idea to have that string building inside the if condition of verbose?

[2017-05-15 09:05] alvations commented on #131
Resolved in #1710

[2017-05-15 09:05] #131 closed, assigned to nobody

[2017-05-15 09:15] alvations commented on #873
Resolved in #1456

[2017-05-15 09:15] #873 closed, assigned to nobody

[2017-05-15 13:36] rafaveguim commented on #1705
Oh! I wasn't aware of this distinction!
Thanks @alvations

[2017-05-18 01:03] alvations opened #1724 "Better WordNet Reader"
This is a proposal to improve the WordNet interface in terms of code quality, functionalities and speed. Please feel free to add to this issues about current wordnet reader in `nltk` and how and what should be improved.

-----

Suggestions / Issues
====

- Are there still issues with the [`_morphy()` function](https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L68)?  c.f. http

[2017-05-18 14:46] pykler opened #1725 "NLTK depends on corenlp, should not be optional sub dependency"
Here is the exception with NLTK 3.2.3

[code]

[2017-05-18 14:53] alvations commented on #1725
To use the `corenlp` module, install with

[code]

And for fuzz-free installation:

[code]

Sorry about the lack of documentation for `corenlp` api, @dimazest will be preparing it in the coming days.  I think the documentation for the optional `corenlp` installation would be documented by then too.

[2017-05-18 15:08] pykler commented on #1725
@alvations all i did was import nltk, and it crashed. Are you not supposed to install nltk without any optional dependencies?

[2017-05-18 15:15] alvations commented on #1725
Ah I see. Yes then adding `requests` would be necessary because of it was exposed at https://github.com/nltk/nltk/blob/develop/nltk/parse/__init__.py#L81

I think commenting out the import there would be more appropriate than adding additional dependencies that only one module uses.

[2017-05-18 22:39] stevenbird commented on #1725
I think this is resolved.

[2017-05-18 22:43] stevenbird commented on #1725
Can anyone replicate this problem?

[2017-05-18 23:32] alvations commented on #1725
@stevenbird The `requests` package needs to be installed if `corenlp` is to be used.

#1725 will make the `requests` optional but users have to install with `pip install -U nltk[corenlp]` but that's on the develop branch.

Could the master branch be repackaged and an update on PyPI be made? `pip install nltk` from the current tarball on PyPI still throws the error:

[code]

Maybe a v3.2.3a ?

[2017-05-19 00:36] pykler commented on #1725
What made me find this error, is we just had nltk as a dependency and suddenly all our imports broke. We do not use any optional packages, and furthermore I do believe that installing nltk, should allow nltk to be imported. Removing the import to corenlp from `nltk/__init__.py` or making it a required dependency seems fair, but currently its broken.

[2017-05-19 07:51] Sofwath opened #1728 "Add new language (dv-MV)"
I would like to request to add Dhivehi (dv-MV) spoken in Maldives to NLTK

[2017-05-19 08:13] souravsingh commented on #1130
@stevenbird Is the issue fixed?

[2017-05-20 08:46] moiri-gamboni opened #1729 "KeyError in MosesDetokenizer"
Getting a KeyError when trying to detokenize three or more symbols:
[code]
[code]
In printable ASCII characters, the problem seems to occur for ",  ',  and `.
Using Python 3.

[2017-05-20 09:18] alvations commented on #1729
@moiri-gamboni Thanks for catching that!! My bad on this.

I missed the initialization for the normalized quote at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L566. Currently, the line `quote_counts.get(normalized_quo, 0)` does nothing.

It should have been:

[code]

It should correspond to this line in [`detokenizer.perl in moses`](https://github.com/moses-smt/mosesdecoder/bl

[2017-05-20 17:11] chnsh commented on #1721
I have created a pull request #1731.

[2017-05-21 06:17] #1729 closed, assigned to nobody

[2017-05-21 06:17] stevenbird commented on #1725
Resolved in version 3.2.4

[2017-05-21 06:17] #1725 closed, assigned to nobody

[2017-05-21 19:41] Diyago opened #1732 "“IndexError: string index out of range” with nltk library - to delete"
I'm using last possible version of nltk library - 3.2.4 with python 2.7+, but the error is still persist, which was first time described [here][1] (SO) and here https://github.com/nltk/nltk/pull/1261

The goal is to apply stemmer to dataframe:
[code]

As a result I get such error:

    /home/.../anaconda2/lib/python2.7/site-packages/nltk/stem/porter.pyc in _ends_double_consonant(self, word)

[2017-05-21 19:42] Diyago commented on #1732
Link to the [SO](http://stackoverflow.com/questions/44100828/indexerror-string-index-out-of-range-with-nltk-library) to the same problem

[2017-05-22 06:13] Diyago commented on #1732
Please delete the issue, it`s just update problem. My bad

[2017-05-22 06:22] alvations commented on #1732
@Diyago, if it's convenient, before closing this issue, please tell us what was the update problem so that we can document it just in case another user had the same issue.

Was it something to do with the `pip install -U nltk` command not upgrading the correct `python` site-packages?

[2017-05-22 06:45] Diyago commented on #1732
@alvations  Shame on me, rly) I've been using ipython. Usually newly installed library is automatically visible after installation. But the behavior with upgrading is different. I manually restarted the kernel, but I believe old version persisted. Only restarting the notebook fixed the initial problem

[2017-05-22 06:45] #1732 closed, assigned to nobody

[2017-05-22 06:56] alvations commented on #1732
@Diyago Thank you for documenting the problem.

[2017-05-23 14:48] jamesmf opened #1733 "Stanford Tagger Doesn't Remove File on Failure"
When using NLTK with a Stanford tagger, a temp file is written out and passed on the command line to Java. Only upon successful completion of the tagging does the file get removed. Can we wrap a try: finally: around the call to ensure the file gets removed? If not, can we create a method for specifying the location of the temp file so the user can ensure its removal?

https://github.com/nltk/nltk/

[2017-05-23 14:53] alvations commented on #1733
Since there is the new API for Stanford CoreNLP at `nltk.parse.corenlp.py` I think the better solution is to wait till @dimazest updates the API with the protobuf support as discussed in #1249 and then all other Stanford API (POS, NER, tokenizer, segmenter) should wrap around the CoreNLP.

[2017-05-23 15:21] jamesmf commented on #1733
Makes sense - I read through that earlier and saw it was just merged. Is there already ongoing work to make the other Stanford models use the new CoreNLP API?

[2017-05-23 16:10] dimazest commented on #1733
I don't plan to work on the other modules, but adding new should be relatively easy.

The current parser is also a tokenizer, check out https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L302

[2017-05-23 22:33] dimazest commented on #1510
I can have a look, somehow I've missed this issue.

[2017-05-24 03:57] alvations commented on #1733
@dimazest Cool! I just realized the nice mixin: [`class GenericCoreNLPParser(ParserI, TokenizerI)`](https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L179).

**What if we just do this at `nltk.tokenize.stanford.py`?**:

[code]

----

BTW, what should be the canonical way to start the `CoreNLPServer` server?

I've been using this but I suspect I'm abusing `global`.

[code]

[2017-05-24 15:02] dimazest commented on #1733
Maybe we should not distinguish between a parser and a tokenizer for CoreNLP. The idea being, if you want to use CoreNLP, then using one module should be enough.

Regarding the cacnonical way of starting the server:
1. Start the CoreNLP by yourself
2. If you want to start it within a python session, use:
[code]
3. If you can't use a context manager (for example, when you start a server in a doctes

[2017-05-25 00:46] alvations commented on #1733
I agree with starting the corenlp server outside of python. It's a little too messy to start it inside the context manager, even in doctest.

@fievelk would starting the corenlp server like this https://github.com/nltk/nltk/pull/1735/commits/057d3c5ede9e61db9cd6590e005a9f3fcaf667a2 be overloading the CI server?

@dimazest to load the depparse from `english_UD.gz`, it seems to require quite a lot o

[2017-05-25 04:59] #1345 closed, assigned to nobody

[2017-05-25 05:01] stevenbird commented on #1248
We welcome pull requests to add support for specific languages. Please ensure you follow our [guidelines](https://github.com/nltk/nltk/wiki/Developers-Guide).

[2017-05-25 05:05] stevenbird commented on #995
:+1: It would be great to support Vietnamese

[2017-05-27 05:09] chnsh commented on #1721
Can anyone please look into this?

[2017-05-28 16:10] dimazest commented on #1733
I've set `-mx` to 2 gb, as it was failing with lower values.

[2017-05-29 23:06] #1723 closed, assigned to nobody

[2017-05-31 02:54] Bsmil3y opened #1740 "Errors in the Norwegian tokenizer"
Hi!

While working on my master in language technology I discovered some errors in the Norwegian tokenizers:

nltk.word_tokenize(“Hello NLTK”, “norwegian”)
nltk.sent_tokenize(“My name. Is bob.”, “norwegian”)

When these errors are fixed the sentence tokenizer fail 7-8 times less, while the word tokenizer will fail 6-7 times less (for Norwegian). I was wondering if this is something I could integra

[2017-05-31 05:00] Yevgnen commented on #1491
Similar issue here after `nltk.download()` using matplotlib `MacOSX` backend.

[2017-05-31 14:01] ohenepee opened #1741 "Anyway to install latest version on Windows XP SP3?"
Tried installing via the Windows Installer `nltk-3.2.4.win32.exe` at PyPI, and get this error when I launch the downloaded executable... "<PATH-TO-FILE>...not a valid win32 application".

I believe this has to do with the build system or compiler used, So is there any other way?

Windows XP SP3
Python 2.7.13

[2017-05-31 22:57] alvations commented on #1741
Have you tried this: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 ?

[2017-05-31 23:02] alvations commented on #1740
Thank you for the patch suggestion!

Could you explain what was failing for the sent/word tokenizer?

If there's an error, could you post the error so that we can help debug what's wrong?

If it's because the tokenization is not correct and you've written a patch to correct the tokenization, could you share the patch? Is there a repo that you can link to?

[2017-05-31 23:02] alvations commented on #1728
Is it an open-licensed corpus that you would like to contribute to NLTK?

[2017-06-01 12:01] ThajunNajaah opened #1744 "importerror cannot import name punktwordtokenizer"
My current version of nltk is 3.2.4,, I couldn't import punckt word tokenizer through this,
here is my result.
 `>>> from nltk.tokenize import PunktWordTokenizer
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name PunktWordTokenizer`

[2017-06-01 13:03] alvations commented on #1744
The punkt tokenizer is a sentence tokenizer, i.e. to split string (normally a document or paragraph) into list of strings (sentences). For word tokenizer, use the `TreebankWordTokenizer` or `word_tokenize`

[2017-06-01 14:03] ludens11 commented on #1632
where should i put those code to fix underscore issue?

[2017-06-01 17:59] Bsmil3y commented on #1740
Could you explain what was failing for the sent/word tokenizer?

Yes, first I have to say sorry about not having the latest update of the init file, it seems that the changes you did to the init file 13 Apr fixed most of the errors for the word tokenization, I still fix some errors but not nearly as many.

However for the sentence tokenizer, its because the tokenization is not correct.
Here is the

[2017-06-03 11:51] tesslocl commented on #1510
@dimazest Hello, I just ran into this error. How should I fix this?

[2017-06-03 15:16] nschneid commented on #1721
This looks like it adds useful functionality, but I don't have time do a proper code review. @stevenbird, what do you suggest?

[2017-06-03 16:04] dimazest commented on #1510
@tesslocl what's your sentence? Did you try to use CoreNLP (nltk/parse/corenlp.py) instead?

[2017-06-03 16:53] tesslocl commented on #1510
@dimazest I just tried and I ran into another error:

[code]

I only changed the StanfordDependencyParser part and left the rest of the code unchanged. I've checked the docs and I suppose the methods in CoreNLP are the same, am I right? Parsing seems to be successful because the error is on the next line where I loop over the parse results.

[2017-06-03 17:33] dimazest commented on #1632
Please create a pull request. https://help.github.com/articles/creating-a-pull-request/

[2017-06-03 17:41] dimazest commented on #1510
You need to start a cornlp server, try:
[code]

I'm sorry for the missing documentation, and for a shirt reply, as I'm typing on my phone.

[2017-06-03 18:29] tesslocl commented on #1510
@alvations I really appreciate your help and quick replies. But errors stick :(

[code]

I tried googling it but I don't know how sockets work...

[2017-06-04 04:03] toannguyenle commented on #995
wow... this is awesome stuff. Would love to have Vietnamese support!

[2017-06-04 06:36] nschneid commented on #1506
Downloading FrameNet 1.7 is supported as of #1556.

[2017-06-04 06:36] #1506 closed, assigned to nobody

[2017-06-04 06:37] nschneid commented on #1132
Fixed when #1556 was merged.

[2017-06-04 06:37] #1132 closed, assigned to nschneid

[2017-06-04 06:39] nschneid opened #1745 "FrameNet corpus reader: rewrite howto"
[This page](http://www.nltk.org/howto/framenet.html) is out of date. Rewrite borrowing examples from https://arxiv.org/abs/1703.07438.

[2017-06-05 01:46] alvations commented on #1740
By "changes you did to the init file 13 Apr", do you mean #1682? But that's an improvement to `word_tokenize` not the `PunktTokenizer` =(

You have listed 5 types of error that the tokenizer should "post-edit", ~let's see whether we can solve these by improving the algorithm~:

 - Split after delimiter and guillemet (i.e. non-ascii, utf8 punctuations)
 - Stitch non-alphabetic sentences to a senten

[2017-06-05 07:43] alvations opened #1746 "Stanford CoreNLP 'originalText' json key might not be reliable"
From stanfordnlp/CoreNLP#453, 'originaText' key from the corenlp server json might not be reliable, esp. for non-English model; maybe adding an backoff yield value at https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L302 would be helpful, e.g.:

[code]

[Validation]:

[code]

----
Starting the server as such:

[code]

Before the backoff yield with `CoreNLPTokenizer` from #1735  :

[

[2017-06-05 15:27] KCIV commented on #90
Has there been any update on this?

I found a listed function that I am currently testing but the output has some issues

https://stackoverflow.com/questions/33813405/concordance-for-a-phrase-using-nltk-in-python

[2017-06-05 15:34] dimazest commented on #1746
Ahh, I see now. I would add this as a comment to the other PR. Is it documented CoreNLP behavior?

[2017-06-05 17:10] dimazest commented on #1510
you can try other port: CoreNLPServer(port=9001), for example or just CoreNLPServer() then a free port should be chosen.

[2017-06-05 20:03] Bsmil3y commented on #1740
'By "changes you did to the init file 13 Apr", do you mean #1682?' Yes!

"But that's an improvement to word_tokenize not the PunktTokenizer =("   Thats what I said, those where most of the improvements I wanted to suggest!
I do have one suggestions for the word_tokenize, in Norway we write large numbers with white-space ‘100 000’. And '100 000' should be one token, not two? This is something we ca

[2017-06-05 22:39] alvations commented on #1746
I think it's a bug on their end. They might have read the input stream without saving. I don't think it's documented.

[2017-06-05 23:36] dimazest commented on #1746
Right, I would put a comment that the values present, but might be empty

[2017-06-06 18:14] monicatongya opened #1747 "Unable to find the Ghostscript while using nltk.tree.Tree.fromstring() method"
LookupError                               Traceback (most recent call last)
C:\Users\motongya\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\formatters.py in __call__(self, obj)
    309             method = get_real_method(obj, self.print_method)
    310             if method is not None:
--> 311                 return method()
    312             return None
    313         else

[2017-06-07 07:32] tesslocl commented on #1510
@dimazest I have tried 9001 up to 9010 and also empty parenthesis and this is what I get every time:

[code]

Considering I am in China, I have kept my VPN on while running it, but still no luck. What might be my problem here?

[2017-06-07 09:54] parikhabhi007 opened #1748 "Incorrect Part of Speech classification"
I was using NLTK library for one of our NLP based project and where I needed the Part-of-Speech tag of the sentences, string and tokens. So, before using the NLTK library, I went on to understand it's working before implementing it and faced the following error or bug:

- The pos tag for "Indemnify" was recognized correctly as "VB" (Verb).
- But, the pos tag for "indemnify" (here, the first letter

[2017-06-07 10:15] alvations commented on #1748
See https://stackoverflow.com/questions/30821188/python-nltk-pos-tag-not-returning-the-correct-part-of-speech-tag =)

[2017-06-07 11:57] dimazest commented on #1510
Do you have corenlp .jars? You need to have a corenlp server running locally.

Can you run this example https://github.com/nltk/nltk/pull/1249#pullrequestreview-18096061

[2017-06-07 12:25] tesslocl commented on #1510
I have jars under the directory `E:\classifier\stanford\stanford-corenlp-full-2016-10-31` and I suppose these are the ones that you refer to:

[code]

And the directory has been set to the CLASSPATH environment variable.

I can run the example in the windows command prompt and this is the output:

[code]

And when I ran this line `server.start()` a windows security alert pops up and I was thinking

[2017-06-07 12:52] dimazest commented on #1510
Once you've started the server, can you access http://localhost:9000 in your browser?

You can also start the server by yourself, refer to https://stanfordnlp.github.io/CoreNLP/corenlp-server.html

One it's running, and you can access it via the browser, you should be able to use the parser:
[code]

[2017-06-07 18:39] tesslocl commented on #1510
To find that out I run the example in the command prompt again but this time I get the familiar error

[code]

... And I don't know what happened in between. I didn't change any configuration.

I wanted to move this project to Linux long ago but I keep getting the `NLTK was unable to find ***.jar! Set the CLASSPATH environment variable` error on Linux. I've set CLASSPATH in `/etc/environment`, `/e

[2017-06-09 12:42] ionuthulub commented on #1062
This seems to be fixed: https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/sentiwordnet.py#L75

[2017-06-09 12:59] alvations commented on #1062
@ionuthulub ~but that's only in sentiwordnet, wordnet doesn't have this.~

[2017-06-09 13:02] ionuthulub commented on #1062
@alvations I'm interested in working on this issue but could you elaborate on what remains to be done?

[2017-06-09 13:26] alvations commented on #1062
Whoop sorry about the misunderstanding. I misunderstood the issue. We can close this issue =)

Yes, this issue is fixed at b99f35e7bafaf450130136db58c48a321c2652b4

[code]

[2017-06-09 13:26] #1062 closed, assigned to nobody

[2017-06-09 14:29] dimazest commented on #1510
Are you able to start a corenlp server from a terminal (not from python), check https://stanfordnlp.github.io/CoreNLP/corenlp-server.html for more details?
[code]

[2017-06-09 15:07] ionuthulub commented on #1724
Is anyone working on this?
If not, I'd like to do it.

[2017-06-10 07:24] tesslocl commented on #1510
[code]

Seems not. Am I doing it right?

[2017-06-10 09:28] tesslocl commented on #1510
I finally get those Stanford modules to work on Linux. With the same lines of code, the CoreNLP server seems to start without problem but I get other errors on the line where I loop over the parse results.

[code]

[2017-06-10 15:25] dimazest commented on #1510
Ok, there are two steps involved:
1) Start a CoreNLP Java process. There are two ways, I suggest you to start manually, that is using the `java -Xmx4g -cp ...` command. Did you succeed in it? You should be able to access the server via a browser by visiting http://localhost:9000. You should see in the console output, what port is being used.
2) Once the server is running, you can create a CoreNLP

[2017-06-10 18:33] aetilley commented on #1722
(Just started a job so this might get delayed a bit, but I'm definitely still interested.)

[2017-06-10 22:09] ghost commented on #994
Collecting nlkt
  Could not find a version that satisfies the requirement nlkt (from versions: )
No matching distribution found for nlkt

Am experiencing this problem i try to install nlkt
Please help me try to solve it am using Ubuntu 17.04

[2017-06-11 01:23] ncoghlan commented on #994
@kafomambia There's a typo in your installation command - the last two letters are currently reversed. You want `nltk` (for Natural Language ToolKit) rather than your current `nlkt`.

[2017-06-11 06:37] tesslocl commented on #1510
It failed:

[code]

And http://localhost:9000 shows a ERR_CONNECTION_REFUSED error

[2017-06-11 18:01] dimazest commented on #1510
Did you try it with `"*"` as a classpath:  j`ava -mx4g -cp "*" ...`?

[2017-06-12 08:13] albertauyeung opened #1750 "span_tokenize failed when sentence contains double quotation"
If we feed in a sentence with double quotation into TreebankWordTokenizer's span_tokenize function, there will be errors. Probably this is because the function sends the raw string input along with the tokenized string to the align_tokens function, without considering that the tokenize function would replace double quotation marks with something else.

[2017-06-12 08:58] alvations commented on #1750
Thanks @albertauyeung for reporting the issue. Do you have an example where you met an error with the `TreebankWordTokenizer.span_tokenize()`?

Do you mean something like this?

[code]

**Suboptimal solution**:

[code]

[2017-06-12 09:06] albertauyeung commented on #1750
@alvations Yes. That's the exact error I got. Right now it seems we have to preprocess the sentence before submitting to span_tokenize.

[2017-06-12 09:06] alvations commented on #1750
A simple solution would be to replace the quotes before calling the `nltk.tokenize.util.align_tokens` function at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/treebank.py#L147

[code]

After the patch:

[code]

@albertauyeung do you want to take a stab at adding the patch and create a new pull-request?

[2017-06-12 09:15] albertauyeung commented on #1750
@alvations Yes, sure. Will do!

[2017-06-13 08:37] July541 opened #1752 "ImportError: cannot import name 'format_exception_only'"
An error occurred when I import nltk.
Please tell me what I should do, thanks.

[code]

[2017-06-13 08:42] July541 commented on #1752
It can work after I restart terminal. I don't know why.

[2017-06-13 09:01] July541 commented on #1752
I made a mistake, sorry.
If anyone use `from nltk.tokenize import sent_tokenize` in ide with an error, you may can try run it in console.

[2017-06-13 09:01] #1752 closed, assigned to nobody

[2017-06-13 19:38] stevenbird opened #1753 "Deprecation warnings for old Stanford Tool wrappers"
Add deprecation warnings for nltk.tag.StanfordPOSTagger, nltk.tag.StanfordNERTagger and nltk.tokenize.StanfordTokenizer and nltk.tokenize.StanfordSegmenter, cf #1735

[2017-06-13 22:12] alvations commented on #1750
Fixed on #1751

[2017-06-14 18:37] rsomervillejr opened #1754 "NLTK WordNet error with a word look up using synsets"
I am using Python 3.6 with NLTK 3.2.3, and I am getting a "WordNetError" only for the word "escort". I don't get errors with any other words. Here's the transcript showing success with the word "dog" and the error using the word "escort":
[code]
The error seems to reference a hex value in the WordNet definition for the word when it is expecting to find an integer value.

Any ideas? Please advise i

[2017-06-14 19:00] alvations commented on #1754
This seems to be a Python3.6 specific issue, it works fine in Python 3.5

[code]

c.f. #1659

[2017-06-15 00:03] nschneid commented on #1754
Works fine for me on OS X 10.11.6 with:

    Python 3.6.0 |Anaconda 4.3.1 (x86_64)| (default, Dec 23 2016, 13:19:00)
    [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)] on darwin

[2017-06-15 00:07] nschneid commented on #1754
The error message suggests it is a Unicode/encoding problem.

In my environment:

[code]

@rsomervillejr, what is your default encoding?

[2017-06-15 01:27] rsomervillejr commented on #1754
I have the same default encoding:
[code]
I was able to also determine that the "verb" dictionary file was not corrupted.  Here's what it looks like grep'ing for the word escort using the verb codes:
[code]
There are no hex values like that of the error message.  I'll keep digging.

[2017-06-15 02:58] rsomervillejr commented on #1754
After closer inspection of the "verb" dictionary file, I discovered it was in fact corrupted.  Here's what it looks like in an editor like "vi":
`02025829 38 v 01 escort 0 006 @ 02025550 v 0000 + 09992538 n 0102 ~ 02026203 v 0000 ~ 02026327 v 0000 ~ 02026433^@v 0000 ~ 02026712 v 0000 04 + `
I replaced the "^@" with a space, and the problem went away.  I guess the bigger question is how it got corr

[2017-06-15 02:58] #1754 closed, assigned to nobody

[2017-06-19 07:59] alvations opened #1755 "File input processing for Stanford CoreNLP wrappers"
Currently, the `nltk.parse.corenlp.GenericCoreNLPParser` has a `raw_parse_sents()` function that iteratively post requests to the `StanfordCoreNLPServer`.

After the `StanfordCoreNLPServer` is started, it's possible to use the `StanfordCoreNLPClient` to speed up the request by sending in a full file instead of individual sentences (c.f. https://stanfordnlp.github.io/CoreNLP/corenlp-server.html), e

[2017-06-19 22:26] csn6666 commented on #1510
Hi there, seems that I also encountered with this problem. My sentence is:
'Maybe, a 2 21/2 foot cord?', u'And its of a cheaper quality than the part of the charger that the micro usb plugs into...'
And I tried to figure out, it seems that the '/' causes this error.

[2017-06-20 01:37] oxinabox opened #1756 "Fulfilling the requirements of the Treebank Tokenizer License"
I am concerned about the Treebank Tokenizer's use, by its License terms.

The source for the [tokeniser (via waybackmachine)](https://web.archive.org/web/20130804202913/http://www.cis.upenn.edu/~treebank/tokenizer.sed) includes the text:

 no warrantee, free use, etc. from the GNU General Public License.  If you
 want to be picky, assume that all of its terms apply.  Okay?

This is really problema

[2017-06-20 02:02] nschneid commented on #1756
As a layperson not extensively familiar with licensing, it sounds like he's saying this program is so simple that he doesn't feel the need to bother with legal language, and anyone is free to use the software so long as they don't sue him.

But perhaps contacting him would clarify things: https://www.linkedin.com/in/robert-macintyre-07330280

[2017-06-20 02:52] alvations commented on #1755
Actually, this is rather problematic, it goes back to the non-REST interface calling the java command from CLI. The implementation is as messy as the old wrappers.

The protobuf route as suggested in #1249 might be the better approach.

[2017-06-20 02:52] #1755 closed, assigned to nobody

[2017-06-20 18:38] dimazest commented on #1510
@caisinong have you tried using the new CoreNLP interface? See my comments above.

[2017-06-22 07:03] duartedenio opened #1757 "porter.py returns an error in self._step1b(w) when w=vowel+'ing' (Python 3)"
Any word in the form vowel+'ing' makes PorterStemmer to abort.

[code]

The same error for aing, eing, iing, and uing. However, no errors if it is  consonant+'ing', e.g., ting, bing, ...

[2017-06-22 10:59] stevenbird commented on #1756
Thanks @oxinabox and @nschneid. I'm trying to contact Robert MacIntyre.

[2017-06-22 20:27] f0lie opened #1758 "Error 403 when connecting to corenlp hosted locally"
Hello,

When I started up a server via my terminal and tried to connect to it with a python client, I got 403 errors. The odd part was that my browser could connect to the server without problems.

I found out that my issue was in my proxy. When my client tried to connect to connect to 'http://localhost:9000' it passed the url to my work's proxy. The proxy didn't recognize url and returned a 403 e

[2017-06-22 21:21] f0lie opened #1759 "corenlp.py CoreNLPServer throws TypeError exception"
Hello,

Here's the code:
[code]
The `max` function is throwing this exception.

I think what's happening is that `key=lambda model_name: re.match(self._JAR, model_name)` is returning NoneType because it didn't match anything. So it fills the list of `NoneType` and `max` fails to sort it. I found that `self._JAR` and `model_name` evaluated to the following:
[code]

Thanks,

[2017-06-22 21:24] f0lie commented on #1759
Is the `max` function suppose to be feed filenames and not full paths?

I tried to pass CoreNLPServer the folder instead and nltk couldn't find it for some reason.

[2017-06-23 15:02] dimazest commented on #1759
Hi,

i think so, what are `jars`?

[2017-06-23 15:33] dimazest commented on #1758
Another solution could be to reset the `HTTP_PROXY` environmental variable.

I like the idea of giving an advice. I'll think about it. It is probably worth including into the yet-to-be-written  documentation.

[2017-06-23 21:40] f0lie commented on #1759
The jars are located at `/usr/local/share/stanford'

Here the ls of the relevant dir:
[code]

I don't get why it's failing to find jar in the folder.

[2017-06-24 06:15] f0lie commented on #1758
If the documentation and API is an ongoing process, I could write some doc strings and redo some of the API. I am using CoreNLP API a lot for my project so I have opportunity to improve things.

[2017-06-25 07:30] tesslocl commented on #1510
@dimazest Sorry for the delay. I did just now:

[code]

It's stuck for over 10 minutes now.

[2017-06-25 13:54] dimazest commented on #1758
That would be great!

[2017-06-25 14:00] dimazest commented on #1759
Could you set the classpath env variable before starting the server:
[code]

another solution could be:
[code]

in my local setup I set all three variables.

[2017-06-25 14:02] dimazest commented on #1510
Once you've started a server manually, you **don't** need to start server in the code.

Keep the server running and instantiate the parser:
[code]

[2017-06-26 13:20] f0lie commented on #1758
Alright. For some reason, the current app only allows "officially" parsing and tokenization. There are a lot of other features than just that. So I'll add that.

I'll also try to add caching since the server responds with json of parse, tokenization, and etc. It's wasteful to call the api for one thing, then call the same api for another thing when you could just save the response.

[2017-06-26 23:39] dimazest commented on #1758
There was some successful effort to add more functionality, check https://github.com/nltk/nltk/pull/1735

I would also suggest to split the work to several pull request, so they are easier to discuss and accept.

[2017-06-27 14:14] f0lie commented on #1759
I added all three to my zsh and I am still running into the same issues.

[2017-06-27 14:15] f0lie commented on #1759
Also, when I run tox tests, I see the same exact errors.

[2017-06-27 14:28] f0lie commented on #1759
Don't know how much help this is, but I added a line to print the list of jar files that it compares to.
[code]

[2017-06-27 14:45] f0lie commented on #1759
re.match is failing to match _JAR with the found jar files.
[code]

[2017-06-27 14:48] f0lie commented on #1759
Seems like what happening is that re.match is being feed the full path, it searches for the jar file at the beginning of the string, and always fails. I think it is suppose to be feed just the names of the jar files.

[2017-06-27 14:51] f0lie commented on #1759
Alright the fix is pretty simple.

I changed re.match(...) to re.search(...).group() so instead of it only looking at the start of the string, it looks everywhere.

[2017-06-27 14:54] f0lie commented on #1759
Ran into another issue.

I think this is connected to issue I had before with CoreNLPParse using the proxy server.
[code]

[2017-06-27 14:55] f0lie commented on #1758
Alright, I'll redo the commits I did. I think I jammed all of the features into one branch.

[2017-06-27 15:33] f0lie commented on #1759
Ok, so it was the proxy problem. I found that you can set `NO_PROXY='localhost'`.

Now I have the problem with the server refusing connects.

I am not sure why, but when I init the server object, it starts a server at port 9000.
Edit: Turns out I had a corenlp server floating in the background. I just killed it and now it's pinging port 9000.
[code]

[2017-06-27 15:35] f0lie commented on #1758
Also, I found another solution.

Put `export NO_PROXY='localhost'` also `export no_proxy='localhost`.

This makes it so that requests doesn't use the proxy for localhost.

[2017-06-27 15:42] f0lie commented on #1759
Good lord, now it's working.

So overall, I had to change re.match to re.search.group and kill a floating corenlpserver in the background.

Maybe there should be some code to detect if there is other corenlpservers running? Don't know if it's even worth doing.

[2017-06-27 15:52] f0lie commented on #1759
Seems like if you don't use with clauses, create servers objects, and don't stop them, python deletes the object but not the actual server. What I was doing is that I was starting servers in my interpreter and forgetting to run `s.stop()`.

[2017-06-27 17:20] f0lie commented on #1759
Seems like if you don't use with clauses, create servers objects, and don't stop them, python deletes the object but not the actual server. What I was doing is that I was starting servers in my interpreter and forgetting to run `s.stop()`.

[2017-06-28 15:54] rmdort opened #1761 "MWE tokenizer doesnt support pickling"
You can reproduce this as follows on python 2.7.11

[code]

Error that i am getting is

[code]

[2017-06-29 07:57] somah1411 opened #1762 "Error through training seq2seq model"
in test_batches
    bleu, bleu_log = data_util.corpus_bleu(all_B_predict, all_B_raw)
TypeError: 'int' object is not iterable

[2017-06-29 09:13] alvations commented on #1762
@somah1411 Are you posting the issue to the correct repository? There's no seq2seq model in NLTK (at least not yet) =)

Could you further explain the problem so that we can help you better?

 - Which seq2seq code outside of NLTK are you using?
 - Where is the `corpus_bleu` function coming from?
 - What is the input for `all_B_predict` and `all_B_raw`?

[2017-06-30 05:55] somah1411 commented on #1762
I use seq2seq model and Blue function from nltk, but the value is 0, also, what is the  mininum size foe the data that i have to use

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: alvations <notifications@github.com>
Sent: Thursday, 29 June 2017 19:13
To: nltk/nltk
Cc: somah1411; Mention
Subject: Re: [nltk/nltk] Error through training seq2seq model (#1762)

@s

[2017-06-30 22:34] lowdanie opened #1763 "Inconsistent tokenization of "Mr." in word_tokenizer"
I noticed inconsistent behavior with the nltk.word_tokenize method. Specifically, sometimes the string "Mr." gets tokenized as one token, but in other cases it is split into two tokens: ['Mr', '.']. The same holds for the string 'Ms.'.

Here is an example:

[code]

I am using nltk version 3.2.2

[2017-07-03 10:14] hyzhak opened #1765 "How could I inline nltk graph to jupyter notebook?"
I have already asked this question on [stackoverflow](https://stackoverflow.com/questions/44880337/use-tkinter-for-nltk-draw-inside-of-jupyter-notebook) without any luck and decide to duplicate it here.

According to [the sources](https://github.com/nltk/nltk/blob/develop/nltk/draw/tree.py#L856) of `nltk` it draws graph by `tkinter (GUI)` but I need to inline this graph to `jupyter notebook`. And

[2017-07-04 08:03] HikaruL opened #1766 "get OSError: Java command failed"
I'm using stanfordCoreNLP version 2017-6-9 and get the error when I run StanfordSegmenter, I haven't tried the other models yet. Is it due to version conflict?

[2017-07-04 10:21] hyzhak opened #1767 "Got error `TypeError: not all arguments converted during string formatting` for tree.pretty_print()"
# Env
- Python 3.6.1 |Anaconda 4.4.0 (64-bit) (official docker from continuumio/anaconda3:4.4.0 https://github.com/ContinuumIO/docker-images)
- Jupyter and IPython 5.3.0
- nltk=3.2.3

# Example:
[code]

# Result

[code]

[2017-07-05 07:45] natgillin commented on #1659
Porting from py35 to py36 might not be that hard with only 4 failed test =)

[code]

[2017-07-05 10:27] hyzhak commented on #1765
ok possible work around could be by:

1 installing `Xvfb`,
2 making screenshot of tree and than
3 converting ps to png
3 inlining converted screenshot back to `jupyter`

but as for me it looks more like a dirty hack. There should be some more robust way to render tree.

[2017-07-05 17:42] HikaruL opened #1770 "UnicodeDecodeError: 'utf8' codec can't decode bytes when using Stanford Parser"
This is my original codes, I have declare # coding: utf8 on top of the script, and I'm using the latest stanford nlp package.
Some sentences can be parsed successfully, but most cannot. I also tried adding encoding='utf8' as parameter in the parser and got the same error. Not sure how to solve it. thanks!

![parser](https://user-images.githubusercontent.com/19523304/27877187-8f5991ae-616e-11e7-8fa

[2017-07-05 17:43] HikaruL commented on #1770
segmenter works fine

[2017-07-05 17:48] #1766 closed, assigned to nobody

[2017-07-06 00:54] alvations commented on #1770
@HikaruL, on your terminal, **what is your output for `locale`?**, e.g.:

[code]

If you don't see `LC_ALL="en_US.UTF-8"`, then on the terminal:

[code]

Did the locale trick work?

If so, set the locale permanently, e.g.:

[code]

then restart the machine and you should see `LC_ALL="en_US.UTF-8"`.

[2017-07-06 00:58] alvations commented on #1762
@somah1411 Could you further explain the problem so that we can help you better?

Which seq2seq code outside of NLTK are you using?
Where is the corpus_bleu function coming from?
What is the input for all_B_predict and all_B_raw?

----

Take a look at the examples in the docstring and see whether it helps you to understand how the BLEU score function should be used, see https://github.com/nltk/nlt

[2017-07-06 02:45] alvations commented on #1763
@lowdanie, This is caused by the statistically trained `PunktSentenceTokenizer` that splits the sentence before performing word tokenization.

To avoid any sentence splitting,  please use the `preserve_line=True` parameter:

[code]

You might need to upgrade your NLTK version to get the `perserve_line` option:

[code]

[2017-07-06 02:48] alvations commented on #1757
@duartedenio this issue has been resolved by @ExplodingCabbage previously #1582

Please upgrade your NLTK version and you should see the fix =)

[code]

[2017-07-06 05:32] HikaruL commented on #1770
I tried setting LC_ALL and it still gave me the same error

[2017-07-06 05:50] alvations commented on #1770
What is your output for `$ locale` on the terminal?

[2017-07-06 06:18] HikaruL commented on #1770
![locale](https://user-images.githubusercontent.com/19523304/27897966-45761dd6-61d8-11e7-85b8-337c8d23d611.jpeg)

[2017-07-06 06:48] azarezade opened #1772 "Adding Persian language support"
I wonder if there is any Persian NLP tool available in the nltk.
Specifically, I want Persian semantic parser.

[2017-07-06 08:43] alvations commented on #1772
For basic Persian NLP, there's [hazm](https://github.com/sobhe/hazm).

If you are up to it, feel free to contribute and create a pull-request when it's ready =)
To start, take a look at https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md

[2017-07-06 08:46] alvations commented on #1770
Try:

[code]

If it works, add the line above to your `~/.bash_profile`

[2017-07-06 08:49] alvations commented on #1770
**What is your output for this?**:

[code]

Please avoid posting images, post the code instead. That'll help us to help you better =)

----

P/S: Also, avoid the old Stanford API, use the new CoreNLP APIs instead, see https://github.com/nltk/nltk/pull/1735#issuecomment-306137326

[2017-07-06 09:16] azarezade commented on #1772
Thanks.
So it seems there is no Persian semantic parser...

BTW, Is hazm is integrated with nltk?

[2017-07-06 09:24] alvations commented on #1772
No, `hazm` is a separate library.

[2017-07-06 12:12] #1753 closed, assigned to nobody

[2017-07-06 12:14] stevenbird commented on #929
This should be resolved in our new interface to the Stanford Tools.

[2017-07-06 12:14] #929 closed, assigned to nobody

[2017-07-06 12:15] stevenbird commented on #1311
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:15] #1311 closed, assigned to nobody

[2017-07-06 12:15] stevenbird commented on #1375
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:15] #1375 closed, assigned to nobody

[2017-07-06 12:15] stevenbird commented on #1390
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:15] #1390 closed, assigned to nobody

[2017-07-06 12:15] stevenbird commented on #1396
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:15] #1396 closed, assigned to nobody

[2017-07-06 12:15] stevenbird commented on #1424
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:15] #1424 closed, assigned to nobody

[2017-07-06 12:15] stevenbird commented on #1426
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:15] #1426 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1443
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1443 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1476
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1476 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1518
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1518 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1523
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1523 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1603
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1603 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1625
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1625 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1632
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1632 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1652
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1652 closed, assigned to nobody

[2017-07-06 12:16] stevenbird commented on #1733
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:16] #1733 closed, assigned to nobody

[2017-07-06 12:17] stevenbird commented on #1746
This should be resolved in our new interface to the Stanford Tools. If not, please reopen.

[2017-07-06 12:17] #1746 closed, assigned to nobody

[2017-07-07 11:36] hyzhak commented on #1767
btw, I have found that simple magic trick can get us around the problem:

[code]

here is the result:

[code]

so in this case. This test will fail:
[code]

[2017-07-10 10:10] prisawant commented on #69
I am trying to train HMM on unsupervised data using model trained on supervised data. But because train_unsupervised model uses DictionaryConditionalProbDist for symbols which are unseen I get forward probability as `inf` in Baum-Welch. Can anyone tell workaround for this or how to specify smoothing in train_unsupervised

[2017-07-10 11:46] luerhard opened #1774 "Link for implemenation details is broken for PerceptronTagger"
Hey,
the link for the implemenation details in the docstring of nltk.tag.perceptron.AveragedPerceptron and  nltk.tag.perceptron.AveragedPerceptron seems to be broken (it is the same link, namely: http://spacy.io/blog/part-of-speech-POS-tagger-in-python/). Can anyone give me a hint to anthoer source with the same contents?

(Link found on http://www.nltk.org/_modules/nltk/tag/perceptron.html)

[2017-07-12 03:47] alvations opened #1776 "Fixing LGTM alerts"
#1775 raised a PR from [188 alerts from lgtm.com](https://lgtm.com/projects/g/nltk/nltk/alerts/)

Possibly, it'll be a good thing to look into each one of them.

[2017-07-12 03:49] alvations commented on #1774
@habet700 Thanks for raising this. The link to the old spacy blog is 404, the new link is at https://explosion.ai/blog/part-of-speech-pos-tagger-in-python

[2017-07-12 03:52] alvations commented on #1763
@lowdanie, did the previous comment help to resolve the issue? Or are you still facing the same issue with the abbreviations tokenization?

[2017-07-12 05:26] lowdanie commented on #1763
Thanks a lot for alerting me to the preserve_line option. I downloaded version 3.2.4 and it seems to work. However, the documents that I am parsing have multiple sentences, so I would not necessarily want to disable sentence splitting.

Since the tokenizer is statistically trained, it makes sense that the behavior will not be completely consistent.

[2017-07-12 08:24] luerhard commented on #1774
The link needs to be changed in Line 104 as well :)

[2017-07-13 09:43] alvations commented on #1774
Resolved in #1777. Thanks @habet700 again for reporting this!

[2017-07-13 10:34] tesslocl commented on #1510
@dimazest The problem was solved. Thank you for your help and patience all this time!

[2017-07-13 10:38] alvations commented on #1510
I have similar experience. Starting the Stanford CorenNLP server in the code is messy and should only be used for testing purposes. Maybe we should somehow not expose that to the user.

[2017-07-13 23:14] alvations opened #1778 "PorterStemmer seems to be stemming "this" -> "thi""
I'm not sure whether it's the expected output but NLTK PorterStemmer is giving different output as compared to https://pypi.python.org/pypi/stemming/1.0

From NLTK:

[code]

From `stemming`

[code]

[2017-07-14 08:06] #1774 closed, assigned to nobody

[2017-07-14 12:41] dimazest commented on #1510
I'm glad that things are working. Indeed, the server should be started outside of  Python code.

[2017-07-16 11:21] tastyminerals opened #1780 "WordNet jcn (Jiang & Conrath) returns 1e+300 score"
Wordnet `wn.jcn_similarity` method returns `1e+300` similarity score when identical synsets are compared.
For example:
[code]
results in `1e+300` score.

[2017-07-22 04:11] AdamMiltonBarker opened #1782 "How to not split certain special characters"
Hi guys, in my program I am using nltk.word_tokenize(pattern) (Python), before doing this I have replaced some strings in pattern with their Entity name ie:

`pattern = "I like cakes" becomes "I like <FOOD>"`

When I tokenise this becomes:

`[u'I', u'like', u'<', u'FOOD', u'>']`

I need the result of tokenizing to be:

`[u'I', u'like', u'<FOOD>']`

Only with those two characters in the instance wh

[2017-07-22 07:46] alvations opened #1783 "Documentation of how and what of NLTK pre-trained models"
There are several pre-trained models that NLTK provides and it is unclear

 - what the models are trained on
 - how the models are trained

These pre-trained models include:

 - `sent_tokenize`: Punkt sentence tokenizers trained on _____ using  `nltk.tokenize.punkt.PunktSentenceTokenizer` with ____ settings/parameters

 - `pos_tag`: @honnibal 's perceptron POS tagger trained on ____  using `nltk.t

[2017-07-22 08:06] alvations commented on #1782
I think There's no straightforward way to "protect" special words using the `nltk.word_tokenize()` function (at least not yet).

But you can easily "post-process" the tokens, e.g.

[code]

See https://regex101.com/r/1oBGsD/1 for explanation of the regex used above.

[2017-07-22 10:28] honnibal commented on #1783
`pos_tag`: Trained on Sections 00-18 of the Wall Street Journal sections of OntoNotes 5. From memory, evaluation figures refer to Sections 22-24 (the standard test set for WSJ).

Data: https://catalog.ldc.upenn.edu/ldc2013t19
Algorithm: https://explosion.ai/blog/part-of-speech-pos-tagger-in-python

It might be nice to train on the Universal Dependencies data.

If you're describing performance, it

[2017-07-22 12:43] AdamMiltonBarker commented on #1782
Thanks buddy that was spot on!

[2017-07-22 12:43] #1782 closed, assigned to nobody

[2017-07-23 19:36] DuyguA commented on #1248
Hi guys,

Unfortunately my company  decided to do another language and postpone Turkish. :( However, I'll prepare some FSTs anyway for the other language (German). I'll speak to my boss and make the pull request if applicable.

[2017-07-24 10:15] Henry-E commented on #1616
@alvations This breaks when the last token in the list has a full stop.

[code]

[2017-07-24 10:52] Henry-E commented on #1616
Hmmm, it must be the version of NLTK that I have but this appears to be fixed in the current repo
https://github.com/nltk/nltk/commit/22cbc3b9c1ca0bbe41afaf80bcfaa5e178476df4

[2017-07-25 01:01] alvations commented on #1616
@Henry-E Thank you for reporting the issue. Yes, this has been fixed in 22cbc3b. The patch should be available in the next minor version release of NLTK.

Meanwhile, feel free to install from the master branch if you would like the fix urgently but do note that it might be subjected errors/breakage, e.g.

[code]

[2017-07-25 07:31] Henry-E commented on #1616
Thanks for letting me know. For a small bug like this I just manually added the line to the module and now it's working again properly.

[2017-07-26 02:46] alvations opened #1785 "Fringe cases in MT eval metrics"
There are several fringe that still bugs the MT evaluation metrics in `nltk.translate`.

The BLEU related issues are mostly resolved in #1330. But similar issues happens in RIBES and CHRF too:

 - `ribes_score.py`
   - https://github.com/nltk/nltk/blob/develop/nltk/translate/ribes_score.py#L290 and https://github.com/nltk/nltk/blob/develop/nltk/translate/ribes_score.py#L320 are subjected to ZeroDi

[2017-07-26 02:53] norberte opened #1786 "'STANFORD_CORENLP' environment variable showing up twice"
Hello there,
I am not sure if it was intended to be developed this way, but this is how nltk/nltk/parse/stanford.py looks like now:

`stanford_jar = max(
            find_jar_iter(
                self._JAR, path_to_jar,
                env_vars=('STANFORD_PARSER', 'STANFORD_CORENLP'),
                searchpath=(), url=_stanford_url,
                verbose=verbose, is_regex=True
            ),

[2017-07-26 03:05] alvations commented on #1770
@HikaruL are you still facing the same problem?

BTW, what is your output of `sys.stdout.encoding` in your python environment? That'll help us debug what went wrong.

[2017-07-26 07:43] matthew-z opened #1787 "Failed to download NLTK data: HTTP ERROR 405 / 403"
[code]

Also, I tried to visit [https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/corpora/cmudict.zip](https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/corpora/cmudict.zip). Got the same HTTP 405 ERROR.

Find the same problem on stackoverflow: [https://stackoverflow.com/questions/45318066/getting-405-while-trying-to-download-nltk-dta](https://stackoverflow.com/qu

[2017-07-26 08:40] alvations commented on #1787
It seems like the Github is down/blocking access to the raw content on the repo.

Meanwhile the temporary solution is something like this:

[code]

**Currently downloading the `gh-pages.zip` and replacing the `nltk_data` directory is the working solution for now.**

Before we find on another channel to distribute `nltk_data`, please use the above solution.

----

~Strangely, it only seems to affec

[2017-07-26 10:00] matthew-z commented on #1787
@alvations Thank you very much!

[2017-07-26 11:41] curusarn opened #1788 "Broken link on FAQ page"
on [FAQ page](https://github.com/nltk/nltk/wiki/FAQ)
in section "13. How did NLTK start?"
link ["this plan"](http://code.google.com/p/nltk/source/browse/trunk/nltk-old/doc/technical/proposal/proposal.tex) leads to a google.code page that says:

"There was an error getting resource 'source':

401: Anonymous users does not have storage.objects.get access to object google-code-archive/v2/code.google.

[2017-07-26 11:41] plaihonen commented on #1787
Is there any alternative for the command line downloads such as this?
`python -m nltk.downloader -d ./nltk_data punkt`

[2017-07-26 12:39] rvause commented on #1787
@plaihonen you should be able to use this alternative index by doing something like `python -m nltk.downloader -u https://pastebin.com/raw/D3TBY4Mj punkt`

[2017-07-26 14:00] plaihonen commented on #1787
@rvause Works perfectly. Thank you!

[2017-07-26 15:44] owaaa commented on #1787
+1. this was a several hour surprise this morning. Went with completely bypassing nltk download for now

[2017-07-26 16:45] ewan-klein commented on #1787
GitHub is currently blocking access because "a user is consuming a very large amount of bandwidth requesting files".  They have also suggested that we should look at a different way of distributing data packages, e.g. S3.

[2017-07-26 16:46] TimFH opened #1789 "wordnet demo fails"
Using nltk.3.2.4 with phython 3.6:

In [17]: pdb
Automatic pdb calling has been turned ON

In [18]: from nltk.corpus.reader.wordnet import demo

In [19]: demo()
loading wordnet
done loading
getting a synset for go
move.v.15 v verb.competition
['move', 'go']
have a turn; make one's move in a game
['Can I go now?']
[Synset('zap.n.01')]
[Synset('zap.v.01'), Synset('zap.v.02'), Synset('nuke.v.01'), Sy

[2017-07-26 17:10] kut commented on #1787
Even with alternate index, anyone finding that some packages still don't work?

Specifically, for me, the stopwords package gives me a 405, the others (brown, wordnet, punkt, etc) do not.

[2017-07-26 17:17] prakruthi-karuna commented on #1787
yes, Im not able to download the nltk stopwords either. I get the 405 error when I do >python -m nltk.downloader -u http://nltk.github.com/nltk_data/

[2017-07-26 17:17] dfridman1 commented on #1787
Hey, I am trying to run `python -m nltk.downloader stopwords`, but getting 405 error. Can anyone point me in the right direction?

[2017-07-26 17:26] kc-dot-io commented on #1787
@dfridman1 @prakruthi-karuna read the issue above. Work around is:
[code]

[2017-07-26 20:48] zxiiro commented on #1787
We have a few projects using this in our ci system. Rather than having to update all of them with the -u parameter is there another way we can specify that data. Maybe an environment variable or config file?

[2017-07-26 21:28] zeryx commented on #1787
@alvations it seems your solution no longer works as the forked version is also now forbidden. Is anyone currently in contact with github support about this?
[code]

[2017-07-26 21:29] zxiiro commented on #1787
I've just opened a ticket with them via the contact page.

[2017-07-26 21:40] zxiiro commented on #1787
Looks like GitHub is aware and are working on the issue. Here's what they said to me:

[2017-07-26 22:20] alvations commented on #1787
Yeah, I've just received this too:

[2017-07-26 22:30] alvations commented on #1787
@zxiiro See https://stackoverflow.com/questions/3522372/how-to-config-nltk-data-directory-from-code

[2017-07-26 22:31] alvations commented on #1787
@ewan-klein @stevenbird I think we need a new way to distribute data but that'll require some rework of the `nltk.downloader.py`.

Some suggestions:
 - https://zenodo.org/
 - https://www.kaggle.com/datasets/new#
 - https://github.com/ayemos/akagi and https://speakerdeck.com/ayemos/make-your-data-grab-and-go

[2017-07-26 23:13] alvations commented on #1787
Seemingly, we have no choice but to change the data distribution channel:

[2017-07-26 23:15] anna-hope commented on #1787
One would think they could just block those IPs specifically. But maybe there is more to it than that.

[2017-07-26 23:18] jonesnc commented on #1787
I do have a docker image that downloads nltk_data, but I wasn't rebuilding it frequently. I hope I wasn't one of those high traffic users...

[2017-07-26 23:41] jonesnc commented on #1787
Is there an installation process that does not rely on github?

[2017-07-26 23:55] alvations commented on #1787
Maybe someone configured their scripts on AWS wrongly. @everyone please help to check your instances while we find an alternative to data distributing

[2017-07-27 00:02] jonesnc commented on #1787
Well that's a relief, I don't use AWS.

:relieved:

[2017-07-27 00:16] alvations commented on #1787
Code-wise, maybe we've to change how frequent the same package is being updated from nltk downloader.py too. Otherwise no matter which distribution channel we migrate to, the same service disruption will happen.

[2017-07-27 03:48] SokhnaVor commented on #1338
I tried: python -m nltk.downloader  -u https://gist.githubusercontent.com/demidovakatya/61dab385d74065ae825c80496a197980/raw/c6ff7fbf44265c7f8c9e961e3e1158cd812d6af1/index.xml all and other url but all forbidden http 403 error. Any suggestions or new url that will work?

[2017-07-27 04:02] marcolussetti commented on #1787
Maybe something torrent-based would work?

[2017-07-27 04:26] alvations commented on #1338
@sokhnavor this is caused by #1787

[2017-07-27 04:29] visonforcoding opened #1790 "nltk.download()"
403 Forbiden

same result as i  open https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml with browser

[2017-07-27 04:36] wejradford commented on #1787
Not sure what the license is like, but you could make them public on s3: https://aws.amazon.com/datasets/

[2017-07-27 04:43] usakey commented on #1787
@alvations seems only the gzip download works for now. And packages needed to be moved under `/home/username/nltk_data/` folder.

[code]

[2017-07-27 04:45] datNurd opened #1791 "NlTK downloading corpus using nltk.download() giving 403 error"
I've tried downloading punkt corpus using nltk.download() as well as manually from http://www.nltk.org/nltk_data/ both are giving me a 403 forbidden, Varnish cache server error.

[2017-07-27 05:01] usakey commented on #1791
#1787 A workaroud could be found on this thread.

[2017-07-27 06:12] alvations commented on #1790
Please see #1787

[2017-07-27 06:54] datNurd commented on #1791
Even the solution/work around in #1787 giving a 403 response. Even that did not work for me.

[2017-07-27 07:09] darshanlol commented on #1787
Do we have a temporary work-around yet?

[2017-07-27 07:11] dfridman1 commented on #1787
@darshanlol @alvations mentioned a solution. If you are trying to build a docker, the following worked for me:
[code]

[2017-07-27 07:52] usakey commented on #1791
@pnikhilvarma try below zip file solution rather than the `Downloader` one:

[code]

[2017-07-27 08:14] kirankotari opened #1792 "nltk.download() pointing to wrong url"
1. the packages are not loading for the following url: https://raw.githubusercontent.com/nltk/nltk_data
HTTP 403 Error

2. After changing the server index to http://www.nltk.org/nltk_data/
still each package pointing to 'https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/corpora/abc.zip'
which is giving HTTP 403 Error

[2017-07-27 08:18] kirankotari commented on #1792
As I can't change the package url which is loading from the web. I am using the following code to solve my problem
in `downloader.py` line no. 619
use this:
info.url = 'http://www.nltk.org/nltk_data/packages/corpora/'+info.url.split('/')[-1]
infile = urlopen(info.url)

[2017-07-27 08:25] kirankotari commented on #1791
#1792  A workaround could be found on this thread.

[2017-07-27 08:25] kirankotari commented on #1790
#1792 A workaround could be found on this thread

[2017-07-27 08:26] alvations commented on #1792
Please see #1787
Let's consolidate the same problem to #1787 so that we don't end up tracking the same bug on the different issues.

[2017-07-27 08:26] #1792 closed, assigned to nobody

[2017-07-27 08:27] alvations commented on #1791
Please see #1787
Let's consolidate the same problem to #1787 so that we don't end up tracking the same bug on the different issues.

[2017-07-27 08:27] #1791 closed, assigned to nobody

[2017-07-27 08:27] alvations commented on #1790
Please see #1787
Let's consolidate the same problem to #1787 so that we don't end up tracking the same bug on the different issues.

[2017-07-27 08:27] #1790 closed, assigned to nobody

[2017-07-27 08:40] kirankotari commented on #1792
I am getting the following error on
wget https://github.com/nltk/nltk_data/archive/gh-pages.zip

ERROR: cannot verify github.com's certificate, issued by `/C=US/O=DigiCert Inc/OU=www.digicert.com/CN=DigiCert SHA2 Extended Validation Server CA':
  Unable to locally verify the issuer's authority.
To connect to github.com insecurely, use `--no-check-certificate'.
Unable to establish SSL connection.

[2017-07-27 08:44] kirankotari commented on #1792
With my solution one of the package is not available on 'http://www.nltk.org/nltk_data/packages/corpora/'
moses_sample.zip

[2017-07-27 09:39] SahilAgarwal321 commented on #1788
This is showing on all resources of code.google.com right now. It will probably be rectified in a while.

[2017-07-27 09:52] XingDYe commented on #1787
I try to change the default url  in 'nltk.downloader.py'.But the issue still exist.

[2017-07-27 10:09] vincetran96 commented on #995
@manhtai do you plan to continue on your project. it sounds awesome.

[2017-07-27 10:21] jamesdhope commented on #1787
Workaround suggested is no longer working:

python -m nltk.downloader -u https://pastebin.com/raw/D3TBY4Mj all

[2017-07-27 10:23] alvations commented on #1787
Currently this is the only working solution:

[code]

[2017-07-27 11:07] SokhnaVor commented on #1338
@alvations thanks! I see:
PATH_TO_NLTK_DATA=/home/username/nltk_data/
wget https://github.com/nltk/nltk_data/archive/gh-pages.zip
unzip gh-pages.zip
mv nltk_data-gh-pages/ $PATH_TO_NLTK_DATA
I used Window command prompt and it does  not work, no wget is not recognized in the internal or external command. I'm pretty new to command line and the window flavor. Are there any workaround for this comman

[2017-07-27 11:13] harigovind511 commented on #1787
As @alvations said this is the only working solution.

wget https://github.com/nltk/nltk_data/archive/gh-pages.zip
unzip gh-pages.zip
mv nltk_data-gh-pages/ $PATH_TO_NLTK_DATA**

But even after downloading all the pages i was facing issues as my NLTK downloader was not able to detect all the packages downloaded for that you may have to manually change the download directory value through command.

[2017-07-27 12:35] #1788 closed, assigned to nobody

[2017-07-27 13:39] alvations commented on #1787
Here're a couple of proposals to resolve this problem after reading around and finding alternatives.

Make corpora pipable
====

 - First, we'll change it such that all `nltk_data` are pip-able. (So every new environment will require a new pip install and we no longer rely of the physical directory)
 - We will need to keep track of some sort of index too for the download to fetch and track version

[2017-07-27 14:12] alexisdimi commented on #1787
@harigovind511, yeah you have to either put the downloaded `nltk_data` folder in one of the standard locations where the nltk knows to look for it, or append to `nltk.data.path` to tell it where to look. The automatic downloader just looks for a standard location.

[2017-07-27 14:20] kut commented on #1787
Rate limiting/solving for rogue machines is probably necessary to make this not rear its ugly head again. My vote would be for pip unless there's some problem (or taboo) with large packages on pip?

Using pip would also solve the manual nltk.download() and in-code package management.

[2017-07-27 14:59] owaaa commented on #1787
Files seem back up? Seems wise though to continue to seek alternative distribution mechanisms. In my own organization though we plan to move to hosting internally and check in quarterly

[2017-07-27 15:25] zxiiro commented on #1787
I'd like to understand what $PATH_TO_NLTK_DATA does. Is it configuring an alternate local download URL for where NLTK get's it's data?

I'd like to setup a local cache of NLTK data so I was wondering if setting this tells NLTK to work offline?

[2017-07-27 15:46] alexisdimi commented on #1787
Since the root of the problem is bandwidth abuse, it seems a poor idea to recommend manual fetching **of the entire `nltk_data` tree** as a work-around. How about you show us how resource ids map to URLs, @alvations, so I can `wget` just the `punkt` bundle, for example?

The long-term solution, I believe, is to make it less trivial for beginning users to fetch the entire data bundle (638MB compres

[2017-07-27 15:50] alexisdimi commented on #1787
@zxiiro `$PATH_TO_NLTK_DATA` has no meaning to the nltk, it's just a variable in the sample script. The environment variable `$NLTK_DATA` does have special meaning. See http://www.nltk.org/data.html, all the options are explained.

[2017-07-27 15:53] alvations commented on #1787
@alexisdimi agreed on the `nltk.download('all')`. Sorry that was such an old answer from my early days. I should advise against it. I've changed the SO answer to `nltk.download('popular')` instead: https://stackoverflow.com/questions/22211525/how-do-i-download-nltk-data

One of the problem with `wget` directly to a package is that it's still rely on the raw content on github. During the down time,

[2017-07-27 16:10] alexisdimi commented on #1787
Looks like the lockout has been lifted, that's great! Now I hope there are some tickets that will work toward preventing similar problems in the future (maybe along the lines I suggested, maybe not).

(Should _this_ issue be marked "Closed", by the way, now that downloads work again?)

[2017-07-27 16:13] alvations commented on #1787
@alexisdimi putting warnings that suggest for users to download the appropriate models is a good idea.

[2017-07-27 16:37] alvations opened #1793 "Adding appropriate message to LazyCorpusLoader for nltk.download"
Following up on #1787, it would be great if the users download specific corpora / models instead of abusing `nltk.download('all')`.

@alexisdimi gave a good suggestion to warn the user with the appropriate package to download when an error is raised at model/data loading.

For corpora,  this can be easily patched with specific details to the warning on the `LazyCorpusLoader` object, when loading t

[2017-07-27 16:44] alvations opened #1794 "Adding appropriate message for nltk.download when loading pre-trained models"
Following up on #1787, it would be great if the users download specific corpora / models instead of abusing nltk.download('all').

@alexisdimi gave a good suggestion to warn the user with the appropriate package to download when an error is raised at model/data loading.

For the various model, the message would have to be added when the error is raised while loading the model.

To start off, these

[2017-07-27 17:51] zxiiro commented on #1787
For those running NLTK in a CI environment. I'd like to propose GH-1795 which allows use to specify an alternative URL for downloading. The idea here is one can setup a local copy of nltk_data on a webserver (or even python -m http.server) and then have a global variable that can override the download URL.

This is so that we can override without modifying projects local command calls to include `

[2017-07-27 23:32] alvations commented on #1787
Question to Github regarding pip data distribution using releases and pip installation:

Some updates on Github side:

[2017-07-27 23:49] wejradford commented on #1787
@owaaa / @zxiiro +1 on hosting internally for CI. We're doing this now, and the advantage for EC2/S3 users is that you get to put the data (or the subset of it you need) close to where you want to build the machines. If you're across availability zones, you can just replicate buckets where you need and be more robust to what's going on outside AWS.

@alvations I quite like the _data/model as packa

[2017-07-28 10:16] alvations opened #1796 "Extra blank space in "No. #NUMERIC#" returning unexpected tokens from MosesTokenizer"
To resolve the nltk/nltk_data#85, stripping the non-breaking prefixes would emulate the Perl chomp from the original Moses tokenizer.perl

This can be patched easily by replacing https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L244

[code]

to

[code]

This is good first bug to contribute to NLTK too =)

[2017-07-28 13:07] gbrova commented on #1793
+1

Possibly related, it would also be great to have an easy and consistent way to programmatically check whether a package exists and download it if it's missing.

For example, `nltk.data.find('tokenizers/punkt')` will search, but`nltk.download('tokenizers/punkt')` errors out with "not found in index". Also, searching for other packages like `nltk.data.find('sentiment/vader_lexicon')` (and other

[2017-07-28 21:31] dimazest commented on #1786
I'm not sure, I've never understood the logic behind find_jar_iter... Maybe it worth removing since there is a corenlp model.

[2017-07-29 09:27] SahilAgarwal321 commented on #1787
Gitignore has venv in it anyways. Imo using pip for corpus would make it much more easier to distribute programs that require a specific corpus too. Different packages for each corpus would help in not bloating stuff too. If someone then wants to install all corpuses the pip install nltk-corpus-all can easily install them all as dependencies. Similarly for popular.

[2017-07-31 16:17] Bsmil3y opened #1798 "Adding language dependent variables to Punkt Tokenizer"
ok

[2017-08-01 00:18] jnothman commented on #1798
Yes, that was the intention in design...

On 1 August 2017 at 02:17, Bsmil3y <notifications@github.com> wrote:

[2017-08-01 02:37] campionfellin commented on #1789
Hey, I'm new to this, but I think I found and solved the issue. Please let me know how I can actually commit the code for you guys.

Near the beginning of the file, line 115 for me, we need to change the regex that we define to this:
`SENSENUM_RE = re.compile(r'\.[\d]+\.')`

and the lemma method should be changed to this:

<img width="694" alt="screen shot 2017-07-31 at 10 35 41 pm" src="https://u

[2017-08-01 08:16] alvations opened #1799 "TweetTokenizer quirk with long numbers"
When there's a number token that's >8 length, the `TweetTokenizer` tries to iteratively parse the first 8-10 digits as a phone number if it matches the phone number regex on https://github.com/alvations/nltk/blob/develop/nltk/tokenize/casual.py#L125

Maybe, there should be an option to allow users to keep long digits and not try to recognize the first part as a number.

Or better yet, if there's r

[2017-08-01 20:23] jkterry1 opened #1800 "One Letter Typo in English Stoplist"
The last element returned by
[code]
is 'wouldn' when I believe it should be wouldn't

[2017-08-01 20:24] jkterry1 commented on #1800
In fact, any word in the stop list that should have a letter after a ' is cut off. Also making them return alphabetically would be slightly nice, but not a bug.

[2017-08-02 01:08] campionfellin commented on #1778
Verified using python 3.5 (had to pip install stemming first)

<img width="557" alt="screen shot 2017-08-01 at 9 07 29 pm" src="https://user-images.githubusercontent.com/11984923/28853286-7d6be934-76fd-11e7-94bc-912908e03d9b.png">

[2017-08-02 20:40] norberte commented on #1786
I am trying to use the model-path names to load in multiple models and it does not work. After some investigation I got to the conclusion that my own code seems to be error free and maybe the  'STANFORD_CORENLP' showing up twice could be the error.

Could someone confirm if this is how it was intended or it is an error.
Thanks in advance.

[2017-08-02 23:31] alessandrojcm opened #1801 "'EnglishStemmer' has no attribute 'stematize'"
So I'm trying to use the `SnowballStemmer` and I'm getting this error. From the Python 3.6.2 REPL:

[code]

I've tried with spanish, german and danish at it throws the same error with the corresponding stemmer class.

This is taken right from the NLTK Docs page. Is this a bug or I am missing something?

[2017-08-03 17:24] prisawant commented on #688
is there any update on this issue, I am stuck on this.

[2017-08-04 00:34] alessandrojcm commented on #1801
Well, I recreated the virtualenv and it worked; that's weird. Anyway, sorry for bothering.

[2017-08-04 00:34] #1801 closed, assigned to nobody

[2017-08-05 15:31] campionfellin commented on #1789
Hey @alvations can I verify this myself? If so, how? I'd love to get a PR in if possible.

[2017-08-05 16:01] alvations commented on #1789
@campionfellin It's a little unclear what is the question/issue here. I've added the `pleaseverify` tag just so that we can track or ask for more input from other developers/users that are having the same problem.

Is it right that you're facing this error where the WordNet corpus interface demo threw an `AttributeError` as such?

[code]

And the changes you're proposing is to change how the lemma

[2017-08-05 16:18] alvations commented on #1789
Now that's a strange bug =) (Related to #1724)

Partly because all lemmas should be indexed with double digits from Princeton WordNet but I think your proposed solution is right to use `[\d]+` to capture the lemma number instead of enforing the double digit.

Please feel free to create a PR and someone will review it before it's merged.

Thank you for raising this issue!

[2017-08-05 16:20] alvations commented on #1724
@ionuthulub Please feel free to work on any of the mentioned WordNet issue and create pull-requests.

[2017-08-05 16:26] campionfellin commented on #1789
Hey @alvations yes, I am getting the same error. I will go ahead and create a PR, but before I do so, do you think that the `leadingZero = int(name[separator+1]) == 0` logic is correct? I realize that this, with the if/else will only work for single digit numbers and the numbers 00-09. For example, I don't believe it would work if you had something like `meal.n.10` or `meal.n.001`

[2017-08-07 18:02] ali-abdullah commented on #1796
@alvations
I've requested a pull request with the changes you suggested. First time contributing to open source, so please let me know if I need to make any changes.

[2017-08-08 20:14] kebiro commented on #1574
@maitetaboada
Thanks a lot!

[2017-08-08 22:22] KEAppleby opened #1803 "NLTK looking for Python -32"
First, my apologies if this isn't the correct venue to ask this question -- if it's not, I would appreciate suggestions as to where to ask it.  Also, my apologies if this is a duplicate question....I attempted to search for it in previous dialogs but with no luck.

I've installed Python 3.5, 32-bit since it appears NLTK only interfaces with this version.  When I try to install NLTK (following the

[2017-08-09 04:12] ali-abdullah commented on #1799
Edit- After reading the stackoverflow discussion I realise I might have missed and repeated some points, please let me know if I have overlooked something

## TL;DR
I suggest adding a flag to check if the user wants to recognise large numbers and not phone numbers or add ` \d*` to the regex to include numbers greater then 8.

The second solution might result in some weird cases, that shouldn't pop

[2017-08-10 07:04] alvations commented on #1803
@KEAppleby does the instructions on https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 help to resolve your installation issue?

[2017-08-10 07:06] alvations commented on #13
This issue seems to be invalid for the latest WordNet + Open Multilingual WordNet interface.

[2017-08-10 23:27] KEAppleby commented on #1803
YES!  Thank you.

Karen Appleby

________________________________
From: alvations <notifications@github.com>
Sent: Thursday, August 10, 2017 12:05 AM
To: nltk/nltk
Cc: Karen E Appleby; Mention
Subject: Re: [nltk/nltk] NLTK looking for Python -32 (#1803)

@KEAppleby<https://github.com/keappleby> does the instructions on https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 help to resolve your ins

[2017-08-11 13:42] alyaxey commented on #1750
Please note that this fix will still throw an exception for a text with both types of quotes:
nltk.TreebankWordTokenizer().span_tokenize('" ``')

[2017-08-12 07:09] albertauyeung commented on #1750
Hi @alyaxey, what is the exception you see?

I executed `nltk.TreebankWordTokenizer().span_tokenize('" ``')` and got the following:
`[(0, 1), (2, 4)]`

[2017-08-12 22:09] ymfa opened #1805 "Order of lemmas returned by derivationally_related_forms() of WordNet?"
I use `derivationally_related_forms()` to get the derivationally related lemmas of a WordNet lemma. When I upgraded nltk from version 2.0.4 to 3.2.3, I realized that the lemmas returned by this function are no longer sorted as they were. Instead, the order could change from one Python session to another. Of course, I could sort the list afterwards to get a deterministic result, but I want to repli

[2017-08-13 18:47] alyaxey commented on #1750
Sorry, I've provided a wrong test case. Please take a look at this one:
[code]
The expected output is `[(0, 2), (2, 3), (4, 5)]` if we follow the logic of the current tokenize method. Also `[(0, 3), (4, 5)]` is acceptable.
Here's my output for developer branch:
[code]
I'd like to suggest a different solution to 1) fix this and similar bugs, 2) provide more flexibility to users, 3) make code more c

[2017-08-14 05:16] alvations commented on #1794
Resolved in #1806

[2017-08-14 05:16] #1794 closed, assigned to nobody

[2017-08-14 05:17] alvations commented on #1793
@gbrova the updated error message should include the instruction of how to download the packaged =)

Resolved in #1806

[2017-08-14 05:17] #1793 closed, assigned to nobody

[2017-08-14 05:18] alvations commented on #1796
Resolved in #1802

[2017-08-14 05:18] #1796 closed, assigned to nobody

[2017-08-14 05:22] alvations commented on #1789
@campionfellin sorry for replying late. I think there isn't any synsets with more than 99+ lemmas in WordNet (but I could be wrong). So assuming leading zeros should be correct.

We might have to run more checks / write better test to test out the lemma numbers though.
(Related to #1724)

[2017-08-14 08:21] scottming opened #1808 ""TypeError: expected str, bytes or os.PathLike object, not NoneType" about Stanford NLP"
### Environment

System: Mac OS X 10.11.6
Python: 3.6.1
nltk: 3.2.4

### Stanford NLP files

[code]

`chinese.misc.distsim.crf.ser.gz` and `chinesePCFG.ser.gz` are extracted from `stanford-chinese-corenlp-2017-06-09-models`.

### code

test.py

[code]

### Error

[code]
**python2.7.12**

[code]

I don't know what happened, I tested it in python3.6.1 and python2.7.12, both not work. Please help！

[2017-08-14 08:29] alvations commented on #1808
@scottming Please take a look at the answer on https://stackoverflow.com/questions/45663121/about-stanford-word-segmenter/45668849

The old StanfordSegmenter code would be deprecated soon, it is advisable to use the new interface which will remove the arcane settings needed to setup the environment of the Stanford tools.

First start the server as such:

[code]

With NLTK v3.2.4:

[code]

The new

[2017-08-14 09:19] scottming commented on #1808
Thanks，It's awesome. And when can I install v3.2.5? Can I use that api to do Part-of-Speech or Dependencies with v3.2.4? Could you give me some more references?

[2017-08-14 09:32] alvations commented on #1808
v3.2.5 will be released in a couple of weeks (fingers-crossed) =)

For now, please refer to https://github.com/nltk/nltk/pull/1735#issuecomment-306137326 for the details. There's POS and NER tagging information there.

For dependency parsing example, please see https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L495 But I'ven't tried out other languages for the parser models, maybe @d

[2017-08-14 10:33] #1808 closed, assigned to nobody

[2017-08-14 13:24] greenat92 opened #1810 "Refresh snowball module(add arabicstemmer)"
Add arabic stemmer to snowball module

* [arabicstemmer](https://github.com/assem-ch/arabicstemmer).
* [ Snowball arabicstemmer ](https://github.com/snowballstem/snowball/tree/master/algorithms/arabic).

[2017-08-14 15:21] uriva opened #1811 "Support optional tokens in PCFG?"
Hi, these quite common syntaxes don't seem to work:

[code]

Is this intended or just not implemented? (Because I do see this functionality in the DependencyGrammar).

[2017-08-14 15:21] uriva commented on #1811
also the docs are non-existing in all that's related to grammar syntax.

[2017-08-14 16:18] uriva opened #1812 "PCFG should infer uniform probability for unspecified probabilities"
If one has 10 RHS elements in a PCFG production rule, it is quite cumbersome to calculate the probabilities for each one to get it to be uniform.

Also it is quite common that I want to make a certain rhs less probable than others, in which case I would have wanted to give only probability for that one rule, and let the others be uniform on the remainder of the probability.

Would such a pull requ

[2017-08-15 03:50] alvations commented on #1659
Bumping issue. Any brave soul?

[2017-08-15 05:13] alvations commented on #518
There are still quite a lot that can be cleaned up for this issue.

Moving from the C-style `%s` , `%d`, `%f` the new [`print_function` from PEP 3105](https://www.python.org/dev/peps/pep-3105/) would be a good thing.

E.g.

[code]

[2017-08-15 05:14] alvations commented on #1211
This should be resolved from #1249 =)

[2017-08-15 05:21] alvations commented on #1296
This issue is resolved in nltk/nltk_data#46

[code]

[2017-08-15 13:04] puli83 opened #1814 "[StanfordNeuralDependencyParser]: I give one sentence and parser gives two dependency tree as output"
HI,

This is a simple sentence : 'C. I. LEWIS: THE GOOD AND THE RIGHT.'

I want to get its dependency tree, but I have tow tree after parsing : '[[<DependencyGraph with 3 nodes>, <DependencyGraph with 10 nodes>]]'

The first tree is :  'Tree('C.-I', ['.'])'

The second tree is : ' Tree('RIGHT', ['-', 'LEWIS', ':', 'THE', Tree('GOOD', ['AND', 'THE']), '.'])'

I dont want two tree, I want just one t

[2017-08-16 23:25] #1030 closed, assigned to stevenbird

[2017-08-16 23:28] #1810 closed, assigned to nobody

[2017-08-18 04:01] ali-abdullah commented on #1799
hey @alvations , I can apply the first fix (\d*) if you think that's alright.
Just wanted to make sure before submitting a pull request

[2017-08-20 14:48] alvations commented on #1783
I noticed that other than the `maxent_ne_chunker` used by `nltk.ne_chunk`.

There are 2 other chunkers in `nltk_data`:

 - treebank.chunker.pickle.gz: Seems to come from a [really old commit]( https://github.com/nltk/nltk/commit/5e54d5345d4ae6387bd640e5363994e70b753135) without much documentation
 - muc6.chunk.tagger.pickle.gz: Also from a [really old commit](https://github.com/nltk/nltk/commit/ac

[2017-08-20 14:56] alvations commented on #1783
There's an expository post on the  `ne_chunk` models on http://mattshomepage.com/articles/2016/May/23/nltk_nec/ .

The pickled object is an  `NEChunkParser`:

[code]

But it'll be great if anyone knows how the `maxent_ne_chunker` were created confirms which corpus and how the model was trained (i.e. what features/parameters, etc.)

Also, is it trained on [ACE 2004](https://catalog.ldc.upenn.edu/LD

[2017-08-20 19:38] jfrazee commented on #1783
@alvations I'd be really surprised if the Treebank and MUC6 chunker models still work, considering that pickling is so tightly coupled to the class definitions, and that at the time it would have been like python 2.4 or 2.6. They should be pickles of either the HMM and MEMM classes or the NEChunkParser, possibly along with a feature extractor. It's possible the extractor might have just been a lam

[2017-08-21 01:57] alvations commented on #1783
@jfrazee Thanks for the answer! Unpickling the MUC6 and Treebank chunkers is not possible in Python2.7 =(

[code]

@stevenbird I think it's safe to remove them from `nltk_data`.

[2017-08-22 03:23] alvations commented on #416
Resolved in  #1538
Closing resolved issues to prepare for v3.2.5

[2017-08-22 03:23] #416 closed, assigned to nobody

[2017-08-22 03:24] alvations commented on #752
Shouldn't be a proper on the latest version. @hcorreasuarez please reopen if problem still persist.

Closing resolved issues to prepare for v3.2.5.

[2017-08-22 03:24] #752 closed, assigned to nobody

[2017-08-22 03:24] alvations commented on #1757
Resolved in #1582

Closing resolved issues to prepare for v3.2.5.

[2017-08-22 03:24] #1757 closed, assigned to nobody

[2017-08-22 03:24] alvations commented on #1211
Resolved in #1249
Closing resolved issues to prepare for v3.2.5.

[2017-08-22 03:24] #1211 closed, assigned to longdt219

[2017-08-22 03:30] alvations commented on #1296
Resolved in nltk/nltk_data#46

Closing issue in preparation for v3.2.5

[2017-08-22 03:30] #1296 closed, assigned to nobody

[2017-08-22 03:32] alvations commented on #644
Conda installation is encouraged on Windows. Additionally, appropriate version of Java should be installed when using the Stanford CoreNLP interface.

@chihoonj @stevenxxiu please reopen this issue if the problem persists =)

Closing issue in preparation for v3.2.5

[2017-08-22 03:32] #644 closed, assigned to nobody

[2017-08-22 03:35] alvations commented on #1803
Resolved by external documentation but I agree that documentation for Windows installation could be better. Let's open a separate issue to track that.

Closing issue in preparation for v3.2.5

[2017-08-22 03:35] #1803 closed, assigned to nobody

[2017-08-22 03:37] alvations opened #1817 "Better installation instructions for Windows"
Windows users faces issues when installing NLTK.
We should have better documentation to install and use NLTK in Windows.

Anyone up to write some extended documentation and improve the [nltk webpage](https://github.com/nltk/nltk.github.com) ?

[2017-08-22 03:39] alvations commented on #1812
@uriva thank you for suggesting the feature/fix.

Could you explain the problem/suggestion further with some code and sample inputs/outputs?

It's a little unclear what you're proposing.

Is it also related to #1811 ?

[2017-08-22 03:48] alvations commented on #1805
@ymfa Which version of Python3 and Python2 are you using?

    python3 -c "import sys; print(sys.version)"
    python2 -c "import sys; print(sys.version)"

Try upgrading your Python version to 3.4 or 3.5.

Currently, NLTK supports Python2.7 and Python 3.4 and Python3.5.
Python 3.6 should work (most of the time) too but regression tests might fail.

On my Ubuntu machine, they return the same list (

[2017-08-22 13:51] campionfellin commented on #1817
Hey @alvations I can probably do this. Do you know what the common installation issues are? I can write up detailed instructions for Windows 7 and Windows 10 and maybe an FAQ for common issues.

[2017-08-22 14:02] alvations commented on #1817
I'm not exactly sure how people are using Python / Anaconda in NLTK but I've been referring people to https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 but there should be a documentation more canonical on NLTK.

[2017-08-22 18:38] ymfa commented on #1805
@alvations These are the Python versions I use.
[code]

Please note that in tests you just posted (both on Ubuntu and on Mac), the lists are not in the same order.

When I looked at the source code, I realized that in NLTK 3 there is a `sorted()` wrapped around the return value of `Lemma._related()` in nltk/nltk/corpus/reader/wordnet.py, which didn't exist in NLTK 2:
[code]
However, removing the `

[2017-08-22 22:17] campionfellin commented on #1817
Hmm, that documentation looks pretty thorough to me. I'll leave this and let someone who has more experience using NLTK on windows work on the documentation.

[2017-08-23 06:05] Chaithresh commented on #994
Collecting nltk
  Retrying (Retry(total=4, connect=None, read=None, redirect=None)) after connec
tion broken by 'NewConnectionError('<pip._vendor.requests.packages.urllib3.conne
ction.VerifiedHTTPSConnection object at 0x0000007AC2BB2748>: Failed to establish
 a new connection: [Errno 11002] getaddrinfo failed',)': /simple/nltk/
  Retrying (Retry(total=3, connect=None, read=None, redirect=None)) af

[2017-08-23 08:04] wangjack1221 opened #1819 "Bug in nltk.tokenize.texttiling"
In the source code `class TextTilingTokenizer`, the bug maybe exist during filting stopword.

`ts.wrdindex_list = [wi for wi in ts.wrdindex_list
                                if wi[0] not in self.stopwords]`
As shown above, this code intends to filter stopword from ts.wrdindex_list ,but ...wi[0] is the combination of the word and pos, not the word itself. So I'm afraid this code is invalid and c

[2017-08-23 08:53] uriva commented on #1812
It might make the other issue easier to implement but it isn't directly related.

I mean that if I have

A ->  b1 | b2 | b3 | b4 | b5 | b6

In a PCFG, I have to divide 100/6 then assign this probability manually to each one of the rhs possibilities.

Then if I just add another rhs possibility I have ruined everything and need to recompute.

This is all due to the demand that the probabilities add

[2017-08-28 10:16] alvations commented on #1805
@ymfa You're right the "list" of lemmas were not ordered.

The problem looks a little spaghetti-like:

The relations comes from the [`_related()`](https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L299) function which seem to return a `sorted()` list but the thing that its sorting neither the lemma name string nor the synset index from `get_synset()` function.

[code]

Lookin

[2017-08-28 11:03] michalstepniewski opened #1822 "problem with discourse tester with maltParser and RegexpTagger"
When trying to apply discourse tester as in:
http://www.nltk.org/book/ch10.html (5.2)

I ran into a problem:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: __init__() takes at least 2 arguments (2 given)

[2017-08-28 11:09] michalstepniewski commented on #1406
so what can I do to make it work? use an older version of malt parser or find some newer version of nltk?

[2017-08-29 10:29] alexeyev opened #1823 "Construct nltk.translate.PhraseTable and a language model"
Hi! Thanks for the cool library!

I'm trying to build a toy end-to-end machine translation example with NLTK.

Just wondering if there is a simple way to build a language model and, most importantly, a PhraseTable for feeding into a StackDecoder (given my own parallel corpus)?

If not, could you please provide me with ideas on a fast and simple way to do it?

Thanks in advance.

[2017-08-29 12:00] sarancruzer commented on #1237
How to add new words to PERSON node

[2017-08-29 21:52] thangduong commented on #738
Installed with:
pip3 install https://github.com/nltk/nltk/tarball/model

But I got a different error now:
ImportError: cannot import name 'NgramModel'

[2017-08-31 14:21] campionfellin commented on #1780
@tastyminerals

This seems to be the correct functionality. In `wordnet.py` we have this code in the `jcn_similarity` function:

[code]

Where `_INF` is defined earlier as:

[code]

This seems to be correct, because if they are the same synset, they should be "infinitely" similar to each other.

[2017-08-31 14:24] campionfellin commented on #1789
@alvations Let's close this issue, as the PR has been merged.

[2017-08-31 14:40] campionfellin commented on #1778
The error seems to be around line 289 in the `porter.py` file:

[code]

It strips suffixes by applying some rules like removing the letter `s`. However, it seems like some exceptions are hard-coded in. In this case it may be difficult to implement this functionality correctly without simply making a big list of exceptions.

@alvations what are your thoughts?

[2017-08-31 17:31] #1780 closed, assigned to nobody

[2017-08-31 18:57] campionfellin commented on #1822
Hey @michalstepniewski

Looks like the `__init__` function for MaltParser requires the argument `parser-dirname` which is described as the location of the maltparser jar file. You can see that here:

[code]

around lines 117 in `malt.py`.

It looks like the documentation in `discourse.doctest` around line 520 needs to be updated to reflect this.
In addition, the demo for the `discourse.py` file sh

[2017-08-31 19:23] campionfellin commented on #1724
As far as the question about `Would float('inf') be a better approach than _INF = 1e300 ` from above:

It looks like it may confuse people, as seen in Issue #1780 , so maybe it would be best to change to

`_INF = float('inf')` or even some sort of String that explains that the things being compared are similar.

[2017-09-01 02:06] #1789 closed, assigned to nobody

[2017-09-04 02:40] xrtang opened #1824 "punkt.PunktSentenceTokenizer() for Chinese"
I use the following code to train punkt for Chinese, but it doesn't produce desired result:

[code]

The produced result is as follows:

It seems that the `sent_end_chars` does not work here. I have checked the encoding. There's no problem with that. Could anyone help with it? Thanks.

[2017-09-04 03:11] jnothman commented on #1824
Punkt here only considers a `sent_end_char` to be a potential sentence boundary if it is followed by either whitespace or punctuation (see `_period_context_fmt`). The absence of a whitespace character after "。" is sufficient for it to not be picked up.

I have my doubts about the applicability of Punkt to Chinese. Does "。" not deterministically mark the end of a sentence in Chinese? Is it ambiguou

[2017-09-04 03:43] alvations commented on #1824
@jnothman the `。` isn't ambiguous and won't be used for abbreviations. You're right that the lack of whitespace after the boundary is causing Punkt to ignore the character.

@xrtang try padding the sentence ending punctuation with spaces before training punkt, e.g.

[code]

[2017-09-04 04:23] xrtang commented on #1824
@jnothman @alvations Thank you for the comment. The "。“ is mostly deterministic in marking the end of a sentence in Chinese. But there are still occasions that it does not. My idea was to use punkt to solve these ambiguous cases. But if a space is required for the training, it may not be able to do the job. But I think the general idea proposed in the paper might still work for Chinese.

[2017-09-04 04:26] jnothman commented on #1824
I don't think the space is going to make a difference except that our implementation expects it: you can either change `_period_context_fmt`, or add a space before processing and strip it afterwards. I'd be interested to hear if Punkt resolved any of the ambiguities in Chinese sentence boundaries.

[2017-09-04 17:38] edmorley opened #1825 "Skip downloader.py input() prompts when no TTY attached"
In heroku/heroku-buildpack-python#444 an `EOFError: EOF when reading a line` was raised after an nltk_data download failed and downloader.py prompted with "Error installing package. Retry? [n/y/e]".

Whilst that prompt can be suppressed by passing `--quiet`:
https://github.com/nltk/nltk/blob/3.2.4/nltk/downloader.py#L679-L688
...doing so means losing useful debugging information.

What would be gr

[2017-09-04 17:43] edmorley commented on #1825
**STR:**
1) `pip install nltk==3.2.4`
2) `python2 -m nltk.downloader -d 'nltk_data' 'zzzzzz' | sed "s/^/       /"`

**Expected:**
Error message shown about non-existent package.

**Actual:**
Command hangs until a ctrl+c, since it's stuck at the prompt.

[2017-09-06 08:08] alvations commented on #995
Coming back to this issue after the next minor release =)
But meanwhile take a look at https://github.com/magizbox/underthesea

[2017-09-07 03:04] oxinabox commented on #1756
@stevenbird  any update on this?
I'ld like to use the code in my own projects, but not while the licensing is up in the air.

[2017-09-08 03:48] yangbisheng2009 opened #1827 "How to train a LM with my own corpus?I can not find an example anywhere"

[2017-09-08 22:12] antmarakis opened #1828 "Brill Tagger Demo Broken"
I noticed that in [the book](http://www.nltk.org/book/ch05.html#tab-brill-tagging) (section 6, example 6.1), the suggested code is: `nltk.tag.brill.demo()`

When I run this I get the following error: `AttributeError: module 'nltk.tag.brill' has no attribute 'demo'`

Am I missing something?

[2017-09-11 08:11] alvations commented on #1827
@yangbisheng2009 The language model functionality has not been officially been merged to the `nltk`, the contribution from @Copper-Head went stale. It'll be good if someone can pick it up and revive it but for now, there's no one actively working on the language model functionality

The code for language modelling resides in https://github.com/nltk/nltk/tree/model/nltk/model

[2017-09-11 08:20] alvations commented on #1828
There was some reorganization of the `nltk` code base going on for the Brill tagger modules, see https://github.com/nltk/nltk/commits/develop/nltk/tag/brill.py

Currently the Brill tagger demo resides in `https://github.com/nltk/nltk/blob/develop/nltk/tbl/demo.py`, so in code:

[code]

[2017-09-11 08:27] alvations commented on #1825
The command is hanging because there Python is expecting the user to respond to a prompt, so the `| sed ...` isn't executed.

[code]

[2017-09-11 08:32] edmorley commented on #1825
Yup I realise, see the OP for what is being requested here.

[2017-09-11 08:37] alvations commented on #1825
Would the [`--exit-on-error` option](https://github.com/nltk/nltk/blob/3.2.4/nltk/downloader.py#L2258) be sufficient?

[code]

Actually, `--quiet` also exits on error:

[code]

Both `--exit-on-error` and `--quiet` keeps the prompt.  Or should something like `--skip-on-error` be implemented?

Or should it be that `--quiet` returns no prompt, add another arguments to keep the prompt?

[2017-09-12 17:47] antmarakis commented on #1828
I am afraid that doesn't work either. I get an import error on `map_tag`:

[code]

[2017-09-13 07:58] campionfellin commented on #1828
Hey, I am not getting this error, using python v2.7.10. What version are you using? This is my output:

[code]

and so on...

[2017-09-13 08:26] alvations commented on #1828
Thanks @campionfellin for verifying.

@MrDupin could you provide us with your version details so that we can help you?

Additionally, I think it would be good to add this demo to one of the `unittest` in `nltk/test/unit` so that the functionalities of this demo can be tested out in the automated CI tests. Anybody up for this?

@stevenbird We should also change the code for the online book too on h

[2017-09-13 12:02] antmarakis commented on #1828
What @campionfellin did worked. Thanks!

Maybe the book should instead of `nltk.tag.brill.demo()` be:

[code]

[2017-09-14 08:58] alvations commented on #514
Is this issue still valid? Would using `dill` work?

[2017-09-14 09:01] alvations commented on #1484
This should be resolved since these datasets no longer exist on `nltk_data` =)

[2017-09-14 09:03] alvations commented on #1647
This seems to temporary down-age from github. Related to but not similar cause as #1787

[2017-09-14 16:33] gtoffoli opened #1829 "Word alignment symmetrization is broken"
The module nltk.translate.gdfa, which includes the grow_diag_final_and function and a couple of nested functions, is broken.
It has a few serious bugs; in particular, the main loop of the grow_diag internal function runs forever except in some trivial cases. Possibly this symmetrization algorithm has been ported to NLTK from another language and hasn't been tested.

Although I didn't analyze the a

[2017-09-15 01:17] alvations commented on #1829
Thanks @gtoffoli for reporting this!

Do you have example sentences with word alignments that result in the infinite loop? I'll create a unit test with theses sentences to test the gdfa function.

[2017-09-15 08:41] gtoffoli commented on #1829
I'm attaching the test_gdfa.py module and 4 data files:
- source.txt
- target.txt
- link_fwd.txt
- link_rev.txt

They all must be put in the same directory.
The test execution should create a file link_sym.txt, containing symmetrized alignments, in the same directory.

I used as a small bi-lingual corpus some segments extracted from an Italian web site (source.txt) and the corresponding translatio

[2017-09-15 08:48] alvations commented on #1829
Thanks @gtoffoli for the details! I'll look into it over the weekend.

[2017-09-16 05:12] stevenbird commented on #1721
@chintanshah24 sorry for the delay; @nschneid thanks for your feedback

[2017-09-18 02:48] ngoctuan001 opened #1830 "How to set java_home for dockerfile when using nltk"
Hi guys ,
 I just write a chatbot using nltk module. However, one of the modules need Java and need to set JAVA_HOME. Therefore it is not runnable in another new machine.
Anybody knows how to install java and set java_home in the dockerfile ?

[2017-09-19 05:37] ngoctuan001 commented on #1830
Hi guys , i know how to do it , so close issue
Answer for anyone who needs :
[code]

[2017-09-19 05:37] #1830 closed, assigned to nobody

[2017-09-19 11:44] tiemoon commented on #1574
You can try using pip. As @maitetaboada mentioned. Her help worked for me

[2017-09-20 01:56] hyh92323 commented on #1659
Having the same issue. Did you figure it out?

[2017-09-21 14:57] alihdr commented on #1574
Hi  @maitetaboada, it seems pip works on mac & unix
I can't use could you help?!
the windows on my device is 10 64-bit
and python 3.5

[2017-09-21 19:34] gongzhitaao opened #1831 "A weird bug in MoseTokenizer.tokenize()"
The following code throws `index of range` error
[code]

[2017-09-21 23:14] alvations commented on #1831
This should have been resolved in #1768.

The fix should be released  in the next version, this would be the output with the code in the `develop` branch.

[code]

[2017-09-22 09:28] walkingpendulum opened #1832 "nltk.download('stop_words') broken: ParseError: not well-formed"
Hi!

[code]

Versions bug submitted: 3.0.0, 3.2.4

[2017-09-22 09:52] alvations commented on #1832
@walkingpendulum Did you get the same error when you do `nltk.download('stopwords')`?

That should be the correct name to download the stopwords, i.e. without the underscore.

Nevertheless, the XML should be well-formed even when the name is wrong, you should see this instead.

[code]

**Could you do try this and tell us whether you get an error?**

[code]

If the above throws an error, could you

[2017-09-22 09:59] walkingpendulum commented on #1832
@alvations thank you for fast reply!

[code]

[2017-09-24 10:28] #1484 closed, assigned to nobody

[2017-09-24 10:28] #1831 closed, assigned to nobody

[2017-09-24 10:29] #397 closed, assigned to nobody

[2017-09-24 10:41] alvations opened #1836 "Clean up the RTE classify code"
The `RTEFeatureExtractor` object in `nltk.classify.rte_classify.py` has functions outside the class object, it would be good clean up the code by:

 - having RTE relation extracting  function as staticmethod within the object
 - porting the demo code into proper unit test in `nltk.test.unit`

[2017-09-25 08:49] walkingpendulum commented on #1832
Today everything works fine. Don't know what was this ¯\_(ツ)_/¯

[2017-09-25 08:49] #1832 closed, assigned to nobody

[2017-09-25 17:05] benleetownsend opened #1838 "A weird edge case for bleu scoring."
There is an unintuitive functionality of the bleu_score module.

[code]
The default `SmoothingFunction.method0` skips any fractions that are equal to zero making bleu scores in these cases quite unintuitive. In my opinion this would be more intuitive to have the log(0) evaluate to -inf resulting in the overall bleu score in these cases evaluating to 0. This along with a clearer warning would make

[2017-09-25 17:36] alvations commented on #1838
Just a clarification before diving in. Do you get a warning when you try these fringe cases?

[2017-09-25 21:33] benleetownsend commented on #1838
Yes, I receive the warning.

[2017-09-26 00:51] alvations commented on #1838
Good. Let's go through the rational of why the outputs are as such:

Firstly, note that un-smoothed BLEU has never been meant for sentence level evaluation, it is advisable to find the optimal smoothing method that your data require, please look at https://github.com/alvations/nltk/blob/develop/nltk/translate/bleu_score.py#L425

If user wants to skip the step to find the optimal smoothing, let's l

[2017-09-26 01:14] alvations commented on #1838
Now going to the last 2 example. Actually, the first instance is an invalid use of BLEU, you should see this:

[code]

Whenever the warning shows up at the nth ngram order (in this case, bigrams), it's usually an misuse of BLEU and it will **only** take into the account the weights of the n-1th order (in this case, the unigrams).

So if we see the first example with the only weights for the unigra

[2017-09-26 01:16] alvations commented on #1838
@benleetownsend I hope the explanation makes sense and show that the current BLEU implementation with the various options is sufficient to overcome the examples you've given.

My suggestion is to (i) avoid the weights hacking unless you use some information theoretic approaches to estimate them, (ii) use the `emulate_multibleu=True` option with the default (0.25, 0.25, 0.25, 0.25) weights or (iii)

[2017-09-26 02:24] alvations opened #1839 "Deprecating the old Stanford Parser"
We have deprecated the `StanfordTokenizer`/`StanfordSegmenter`, `StanfordPOSTagger` and `StanfordNERTagger`.

It would be good to also deprecate the old `StanfordParser`, `StanfordDependencyParser` and `StanfordNeuralDependencyParser` by

1. Adding the appropriate warnings to the old interface

2a. Wrap the duck-types for `CoreNLPParser` that emulates the functions of the old interface

2b.  Write

[2017-09-26 09:12] benleetownsend commented on #1838
Thankyou for your detailed response. I agree with everything you've said however I guess my underlying point is that to me the results when you back off to n-1 grams just seems wrong based on the literature I have seen.

[code]
In this above case I would say that following the BLEU equation and returning 0 for this case is "undesirable" but unless i've missed something in the literature, the resul

[2017-09-26 10:54] alvations commented on #1838
Short questions.

Which dataset are you working on? And how often this happens?

Also, smoothing is the way to go.

[2017-09-27 01:40] alvations commented on #1838
Going back to why adding the `sys.float_info.min` is not right in the non-smoothing version of BLEU.

When we add `sys.float_info.min` to the precision for the specific order of n-gram to the **unsmoothed BLEU**, we have technically provided a laplace-like smoothen precision score. That's liken to the method1 in https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.py#L496

You could

[2017-09-27 13:50] bamattsson commented on #1838
@alvations Thanks for all the great code in NLTK. We've been using it to some extent when experimenting with dialogue-response modelling systems (or chat-bots) at [True AI](trueai.io).

I definitely see the point of warning the user about not using a smoothing function when any of the n-grams evaluates to 0. After having read up on the smoothing functions, we have now started using smoothing funct

[2017-09-27 14:22] alvations commented on #1838
Ah ha, that's a gotcha between the original BLEU vs the Eqn (2) from Chen and Cherry (2014).

Note that in the original BLEU (1992), the p_n needs to move from the decimal space to the logarithmic space, which leads to the the math domain error when p_n = 0:

![skarmavbild 2017-09-27 kl 14 39 00](https://user-images.githubusercontent.com/10145139/30916561-a0180740-a391-11e7-81a1-e2b9a2da2926.png)

[2017-09-27 14:28] antmarakis opened #1841 "Error in Online Book - Chapter 7.6"
In the online version of the book, in Chapter 7.6 the final "Your Turn" note contains some errors. The book reads:

`print(rtuple(rel, lcon=True, rcon=True))`

But this will throw an error, since `rtuple` is not recognized. Replacing `rtuple` with `nltk.rtuple` fixed the issue.

Also, in the code instead of `rel` we write `r`, so the variable name will also cause an issue.

I believe the following

[2017-09-27 14:29] alvations commented on #1838
Actually, after the implementation of the `SmoothingFunction`, I had always wanted the default to be set to smoothened BLEU. But we have to decide on which smoothing method to use as a default so we go with the non-smoothen BLEU with strange backoffs and warnings.

----

BTW, for my personal use, I would always set the default smoothing to `SmoothingFunction().method4` .

[2017-09-27 22:16] goodmami opened #1842 "nist_score vs bleu_score's SmoothingFunction.method3"
The 3.2.5 release introduced the `nltk.translate.nist_score` module, but I was under the impression that the BLEU score using `nltk.translate.bleu_score.SmoothingFunction.method3()` for smoothing was the NIST metric, as its docstring says "NIST geometric sequence smoothing". Are these two totally different things? They do give very different scores:

[code]

The docstring for `nist_score.sentence_

[2017-09-27 23:22] alvations commented on #1842
Sadly, NIST score is still broken. Although the NIST tokenizers are working fine. https://github.com/nltk/nltk/pull/1840

But I think it's a good idea to clean up the documentation too.

The `SmoothingFunction().method3` is a smoothing method from NIST but NIST score reports a totally different score from BLEU, it doesn't scale to the 0-0.1 range too. Smoothing only changes the precision part of t

[2017-09-27 23:29] goodmami commented on #1842
Thanks for the explanation. Sorry I missed #1840 when looking for discussion about this---my search criteria included `is:issue`.

I'm glad you're working on `nist_score`, because otherwise I would have continued thinking that I was computing the NIST score when I was just using NIST smoothing :)

[2017-09-27 23:43] campionfellin commented on #1841
Hey @MrDupin , I just made a PR in the nltk/nltk_book repo to fix this.

https://github.com/nltk/nltk_book/pull/202

[2017-09-29 18:32] junskang commented on #1706
I second this.

[2017-09-30 10:48] stevenbird commented on #1800
This list of stopwords assumes that words have already been tokenized on nonalphabetic characters, which is why both `wouldn` and `t` are listed.

Instead of removing those forms, it would be good to add the full forms, e.g. `wouldn't`.

[2017-09-30 19:08] jkterry1 commented on #1800
That's what I intended to request, yes.

On Sep 30, 2017 6:48 AM, "Steven Bird" <notifications@github.com> wrote:

This list of stopwords assumes that words have already been tokenized on
nonalphabetic characters, which is why both wouldn and t are listed.

Instead of removing those forms, it would be good to add the full forms,
e.g. wouldn't.

—
You are receiving this because you authored the thr

[2017-10-01 09:46] stevenbird commented on #1800
So, inspecting the current list of English stopwords I came up with these additions. What am I missing?

[code]

[2017-10-01 13:24] artiemq commented on #1839
Hi, i would like to work on this issue, but i didn't get why mock used [like this](https://github.com/nltk/nltk/blob/develop/nltk/test/unit/test_corenlp.py#L157)

Now tests don't test anything. Even if [tokenize](https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L310L340) body completely erased, tests will still pass. Maybe we should patch the `api_call` method and then call tokenize

[2017-10-02 02:06] alvations commented on #1839
@artiemq Thank you for the interest in the issue!

Mock was used in the unittest because it was a quick way to document how the python flow of the APIs and how a user should use it but it didn't actually call CoreNLP.

Regarding the unittest, perhaps using `unittest.mock` isn't the best way to test the CoreNLP functionalities. Please feel free to rewrite/edit it and create a PR =)

[2017-10-02 15:44] bamattsson commented on #1838
The two equations are actually identical from a mathematical point of view (apart from w_n). The difference is that one has to be careful about what to do when evaluating log(0). Here log(0) should be evaluated to -inf (or something similar if -inf isn't available in the library used to handle math). Evaluating it to 0 breaks the math as pointed out above. Evaluating it to 0, means that a particul

[2017-10-02 15:53] bamattsson commented on #1838
Briefly looking at the code the correct way of fixing this would be to change what follows [this else-statement](https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.py#L486) to:
[code]
or
[code]
The warning could be preserved if you'd like.

It could alternatively be merged with the `elif _emulate_multibleu and i < 5:` statement and just have one `else` at this stage.

[2017-10-02 20:56] jkterry1 commented on #1800
You can see my forked version with my attempts at corrections of these here: https://github.com/fabianvf/python-rake/blob/master/RAKE/stoplists/NLTKStopList.py

[2017-10-03 00:07] alvations commented on #1838
@bamattsson Precisely, they are the same implementation and if the rework of using `sys.float_info.min` is to be used, the geometric mean computation should also change.

From the example in [my previous comment](https://github.com/nltk/nltk/issues/1838#issuecomment-332384010), appending `sys.float_info.min` may be a bad idea depending on the corpus.

[code]

Which led to the failing unittest on h

[2017-10-03 00:40] alvations commented on #1838
Actually, looking at the PR carefully. Is it right that the outputs of the test cases using the hotfix you're proposing gives the same output as `emulate_multibleu=True`?

[2017-10-03 07:52] Sofwath commented on #1728
yes. it will be an open-licensed corpus

[2017-10-04 02:50] alvations commented on #1836
Patched in #1837

[2017-10-04 02:50] #1836 closed, assigned to nobody

[2017-10-04 02:54] alvations commented on #1721
Patched in #1731

[2017-10-04 02:54] #1721 closed, assigned to nobody

[2017-10-04 03:01] alvations commented on #1580
This should be resolved since these datasets no longer exist on nltk_data =) #1484 #1485

[2017-10-04 03:01] #1580 closed, assigned to nobody

[2017-10-04 03:03] alvations commented on #1531
Resolved in #1538 and `popular` option for nltk/nltk_data#75

[2017-10-04 03:03] #1531 closed, assigned to nobody

[2017-10-04 03:05] alvations commented on #1510
Patched and resolved by new CoreNLP API =)

[2017-10-04 03:05] #1510 closed, assigned to alvations

[2017-10-04 03:09] alvations commented on #1400
@mikejewell sorry for letting the issue slip through. Are you still having the same problems in the latest version of NLTK?

[2017-10-04 03:16] alvations commented on #1149
Closing #1149 should have resolved this and there's only one `averaged_perceptron_tagger.pickle` file in `nltk_data/taggers/averaged_perceptron_tagger/` now.

[2017-10-04 03:16] #1149 closed, assigned to nobody

[2017-10-04 03:25] alvations commented on #1201
This issue is unresolved on a OSX with NLTK v3.2.5, Python2/3 installed with pip.

[2017-10-04 03:26] alvations commented on #1334
`Text.generate()` has been deprecated.

[2017-10-04 03:26] #1334 closed, assigned to nobody

[2017-10-04 03:28] alvations commented on #1335
@adeshgupta @fysteven please do re-open this issue if you're still having problems with `nltk-contrib` when installing the latest NLTK version.

[2017-10-04 03:28] #1335 closed, assigned to nobody

[2017-10-04 03:32] alvations commented on #1342
@Copper-Head @jacobheil and NLTK users/devs who's interested in N-gram language models.

Just like to check-in on the current state of the `model` submodule.

 - Do you think it's ready to push it out into the develop/master branch?
 - Is it still a topic that people actively pursue and want to see on NLTK?

[2017-10-04 03:38] alvations commented on #1778
@ExplodingCabbage would be clearer on how to approach this.

To re-verify, the difference happens for all 3 modes of the PorterStemmer in NLTK:

[code]

[2017-10-04 04:25] alvations opened #1846 "Deep Learning + NLTK"
This issue to start a discussion on how we can provide deep learning features to NLTK. The topics can be and are not limited to:

 - What kind of DL features do we want to see in NLTK?
 - Would adding DL features add value to the exist ecology of Python NLP OSS and NLTK users?
 - What level of education vs practicality should we balance for DL features in NLTK?

Please feel free to discuss on this

[2017-10-04 09:40] fcbond commented on #1384
A possibly better naming scheme would be:

[code]

Note that only inflecting words have paradigm/inflection
https://osdn.net/projects/chasen-legacy/docs/chasen-2.4.0-manual-en.pdf/en/1/chasen-2.4.0-manual-en.pdf.pdf

[2017-10-05 14:19] www3cam opened #1847 "Cannot Import Compat"
hi I'm running NLTK on 2.7 and when I import nltk it gives a error:

  File "C:\Anaconda2\lib\site-packages\nltk\parse\chart.py", line 44, in <module>
    from nltk import compat

ImportError: cannot import name compat

However when I go into "C:\Anaconda2\lib\site-packages\nltk\" folder the file compat is in there.  Thanks for your help,

[2017-10-05 14:37] #1847 closed, assigned to nobody

[2017-10-06 01:31] ELind77 commented on #1605
Any thoughts on this?

[2017-10-06 02:31] melvyniandrag opened #1849 "Automating integration tests"
I wanted to make a few contributions to the library a year or two ago but I couldn't get Jenkins working and just gave up. I just made a PR to tensorflow, and jenkins ran automatically! I don't know how they did that, but that seems like a good thing to have!

I don't know if that automation is something I could contribute, or if anyone has given this any thought? I don't even know what would be r

[2017-10-06 17:18] ghost opened #1850 "Bug in NLTK with Python3.5"
I used tutorial from book http://www.nltk.org/book/ch07.html
[code]
and got

[2017-10-06 20:28] dimazest commented on #1846
Before thinking of new features I would make sure that the existing NLTK features are accessible. The primary scenario being "given a body of text (documents, whatever), simply integrate it into the ML or DL piplene".

Scikit-learn, gensim provide routines to build vocabularies, convert tokens to IDs and so on. How easy is it to integrate them with NLTK corpus readers?

[2017-10-06 20:35] stevenbird commented on #1850
`ne_chunk` requires a tagged sentence. Please read the docs.

[2017-10-06 20:35] #1850 closed, assigned to nobody

[2017-10-06 20:37] stevenbird commented on #1849
Your message isn't quite clear about server-based versus local use of Jenkins. We've ironed out some issues with our CI service so perhaps you can try again.

[2017-10-06 23:25] melvyniandrag commented on #1849
Thanks for the reply! It's probably the case that I just overlooked some part of the instructions. In any event, what I was referring to in my message was that when I made a tensorflow PR I got this kind of response from some bot automatically:
![automatedjenkins](https://user-images.githubusercontent.com/17210565/31301911-9ffaf9a2-aacb-11e7-812a-e8545e78f0f3.png)

There definitely are some issues

[2017-10-06 23:25] #1849 closed, assigned to nobody

[2017-10-06 23:56] alvations commented on #1846
If we're able to convert every/any corpora into a dataframe, perhaps something like https://github.com/pandas-dev/sklearn-pandas might work.

[2017-10-09 22:37] alvations opened #1851 "Missing corpus reader for PIL"
The PIL data was added quite some time ago from https://github.com/nltk/nltk/commit/ef144a94479de5536fc860c00f4f14e0a62787e4 but there's no corpus reader for it.

Reported on https://stackoverflow.com/q/46650761/610569

Simply using the XMLCorpusReader is not enough too:

[code]

[2017-10-10 21:42] ezubaric commented on #1342
I think it's definitely worth having in NLTK; it's a core part of when I
teach NLP.

Is NLTK supporting deep LMs now?  Is this API compatible with that?

--------------------
Jordan Boyd-Graber

Voice: 920.524.9464
jordanbg@gmail.com
http://boydgraber.org
--------------------

On Tue, Oct 3, 2017 at 11:32 PM, alvations <notifications@github.com> wrote:

[2017-10-11 11:04] richbalmer opened #1852 "ArabicStemmer AttributeError"
I'm failing to stem certain Arabic terms using the SnowballStemmer. Many terms are stemmed successfully but some terms cause an AttributeError to be raised. Please see below for a minimal example that fails on the term 'from'.

[code]

[2017-10-11 19:59] jacksonllee opened #1853 "Test failures in wordnet.doctest"
From the latest https://github.com/nltk/nltk/commit/0477ceb2a3ab9f4c0abc0f800a827c92e8d48623 of the `develop` branch, I ran tests locally and got three failures from `wordnet.doctest`:

[code]

The exact same three failures were observed with `tox -e py27` and `tox -e py35` (shown above is from py35).

Two peculiarities:
1. Inconsistency between nltk/nltk and nltk/nltk.github.com: The third failur

[2017-10-11 20:03] stevenbird opened #1854 "Audit codebase for pre-PEP 357 slice handling"
Special handling of slices in getitem methods was not required post PEP 357, cf #1845.

[2017-10-12 07:57] bofinbabu opened #1855 "How to get the full Penn Treebank?"
Any ideas to get the Penn Treebank?

I've checked the LDC site. The price is too high that I can't afford it.

I want it for the purpose of Semantic Role Labelling.

[2017-10-13 08:28] alvations commented on #1855
@bofinbabu NLTK has several subset of the PTB corpus, `brown`, `switchboard` and `ptb` (sample) but for the full corpus please contact ldc@ldc.upenn.edu .

----

If I'm not wrong, the [Penn Treebank](https://catalog.ldc.upenn.edu/ldc99t42) should be free under the **LDC User Agreement for Non-Members** for academic purposes. Please contact ldc@ldc.upenn.edu for the details.

[2017-10-13 08:30] alvations commented on #1854
Are there more of these instances in NLTK (other than #1845)?

Anyone want to dig into the code to patch this issue?

[2017-10-13 08:34] alvations commented on #1852
@richbalmer Thanks for reporting the issue.

@LBenzahia Could you help to look into this? Thanks in advance!

[2017-10-13 08:37] alvations commented on #1799
@ali-abdullah sorry for getting back to you this late. I'm not very familiar with the twitter tokenizer though.

Please do feel free to submit a pull request and someone will review it and see whether the `\d*` fix is okay.

[2017-10-13 08:39] alvations commented on #1765
I think it's a good idea to move away from `tkinter` for plots and move towards never graphic plotting libraries, e.g.`matplotlib` / `seaborn`.

[2017-10-13 08:41] alvations commented on #1770
This should be fixed with the #1735 in NLTK v3.2.5 with the deprecation of the old API.
And the Stanford API would be further improved with v3.2.6 =)

[2017-10-13 08:48] alvations commented on #1728
@Sofwath Is there a link to the corpus?

Would you like to help us write a corpus reader for the corpus?
To do so, first it'll be good to setup the the development environment for NLTK, please do take a look at https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md

[2017-10-13 08:50] alvations commented on #1741
@ohenepee Just checking in on this issue, have you resolved the installation issue? Did https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 help?

Do you need more help on the installation?

[2017-10-13 09:00] alvations commented on #1614
This issue should have been resolved by #1582 😉

[code]

[2017-10-13 09:00] #1614 closed, assigned to nobody

[2017-10-13 09:02] alvations commented on #1370
@nschneid Sorry in advance for the multiple comments.

Are these issues resolved in the overhaul?

 - #1370
 - #1371
 - #1372
 - #1373
 - #1374
 - #1377
 - #1378
 - #1379

Thanks again for the better Framenet interface!!

[2017-10-13 09:04] alvations commented on #1745
Related to #1370

[2017-10-13 10:43] ohenepee commented on #1741
No it didn't... Anaconda seems to be using a more modern compiler/installer that doesn't work on Windows XP... I've moved beyond this issue anyway... I just used a low-RAM-usage Linux ditro for my old PC (specifically AntiX Linux)

[2017-10-13 10:43] #1741 closed, assigned to nobody

[2017-10-13 13:41] greenat92 commented on #1852
Hi @richbalmer thank you for reporting, First word 'تسدد'   is the best possible stem  because Snowball arabic stemmer based on light stemming algorithm deals with prefixes/suffixes, if you are looking for the root  of "تسدد"  you can use ISRI (root-based stemmer/deep stemming), The second word  'من' is a stop word, you should  use stop word filter before start using Snowball ArabicStemmer, Also t

[2017-10-13 16:46] richbalmer commented on #1852
@LBenzahia thanks for looking into this so quickly! I'm getting:
[code]
Which also appears to be causing the tests to fail on Jenkins (https://nltk.ci.cloudbees.com/job/pull_request_tests/454/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/testReport/nose.failure/Failure/runTest/). I think all you need to do is put `# -*- coding: utf-8 -*-` at the top of `stem/util.py`.

Also, after fixing that lo

[2017-10-13 16:56] greenat92 commented on #1852
@richbalmer  are you using python2.7 ? ,

done for python2.7 , test it again and tell me,It works fine for me. i've updated the PR

[2017-10-13 20:24] cdraper-CS opened #1858 "ElementTree.ParseError: not well-formed"
I am getting a similar issue to #1832

[code]

The diagnostics you asked for in that ticket
[out.txt](https://github.com/nltk/nltk/files/1383914/out.txt)
 (index.xml) are attached

[2017-10-13 21:28] alvations commented on #1858
The `index.xml` file should work fine, even from the `out.txt` you've attached there's no error.
The strange thing is ETree breaks at the first character (at line 1 column 0).

Which OS are you on?
Which Python version are you using?

[code]

[2017-10-13 21:34] alvations commented on #1033
Resolved in #1086

[2017-10-13 21:34] #1033 closed, assigned to longdt219

[2017-10-13 21:40] cdraper-CS commented on #1858
Building in an alpine-based Docker container, alpine release 3.6.2

python:
[code]

[2017-10-13 21:41] alvations commented on #945
Resolved in #1003

[2017-10-13 21:41] #945 closed, assigned to nobody

[2017-10-13 21:48] alvations commented on #991
@shpigunov are you still having the problem?

If yes, what is the output for the following on your machine?

[code]

In any case, try @stevethecollier suggestion, that should resolve the issue:

[code]

[2017-10-13 22:05] alvations commented on #947
@mpenkov @ninowalker, @oxymor0n @sasinda @wenbowang Do you all still face the same issue?

I couldn't replicate the problem on my machine:

[code]
gives me:

[code]

I'm on:

- Python 2.7.12
- NLTK 3.2.5
- Ubuntu 16.04.3

[2017-10-13 22:20] alvations commented on #148
This set union issue should have been resolved in the later Python > 2.7 and 3.x versions.

[code]

The union should work now (python 2.7/3.x) with empty or single object:

[code]

[2017-10-13 22:20] #148 closed, assigned to nobody

[2017-10-13 22:20] cdraper-CS commented on #1858
fwiw I get the same error using the same python on my Mac OSX 10.11.6, and with python 2.7.12

[2017-10-13 22:27] cdraper-CS commented on #1858
OK... it seems to be a problem with nltk 3.0.0 - if I upgrade to 3.2.5, I can download it.

[2017-10-13 22:28] wenbowang commented on #947
@alvations It has been a long time since I found this issue.
I even forgot which project base was having this issue, so I couldn't tell you whether I still have the problem or not.
Sorry!

[2017-10-13 22:29] alvations commented on #1858
@cdraper-CS Thanks for reporting this, yes, 3.0.0 is badly outdated.
Great to know that it was a version problem =)

Does upgrading the NLTK and/or anaconda on the alphine-docker resolve the problem in Docker too?

[2017-10-13 22:45] alvations commented on #1854
Interesting there's only 1 more instance of it at https://github.com/nltk/nltk/blob/develop/nltk/collections.py#L165 =)

[code]

----

There are more here:

[code]

But I'm not sure whether the slice usages here are related to  PEP-357

[2017-10-14 08:49] mpenkov commented on #947
@alvations I too don't remember which of my projects suffered from this specific issues.

I ran your code on my machine and couldn't replicate the problem.

Python 2.7.12
nltk 3.2.1
macOS 10.12.6

[2017-10-14 11:16] bofinbabu commented on #1855
Thanks sent them a mail

[2017-10-14 14:50] alvations commented on #898
@ProgVal do you still face the same problem on newer PyPy version?

I couldn't replicate the issue for `WordNetLemmatizer` with environment:

 - PyPy 5.1.2
 - Python 2.7.10
 - Ubuntu 16.04
 - NLTK 3.25

[code]

However, the `tox -e py27` test still fails badly though:

[code]

[2017-10-14 14:57] alvations commented on #1783
From #428,  we should also remove `hmm_treebank_pos_tagger` model too.

[2017-10-14 14:58] alvations commented on #69
c.f. #428

[2017-10-14 15:00] johnGachihi commented on #1574
Thanks @maitetaboada

[2017-10-14 15:19] progval commented on #898
Sorry, I do not remember how to replicate this issue.

[2017-10-14 15:39] alvations commented on #898
@ProgVal Thanks for the verification! No worries, at least some NLTK functionalities works in `pypy` now =)

[2017-10-14 19:18] cyrenei opened #1859 "HiddenMarkovModelTrainer train_unsupervised - TypeError"
Hello,

I'm trying to use the `train_unsupervised` method from the `nltk.hmm` module, however, it's throwing the following TypeError:
`TypeError: Can't instantiate abstract class RandomProbDist with abstract methods max`

Here is the code I'm using:
[code]

Here's the full error:
`Traceback (most recent call last):
  File "test.py", line 10, in <module>
    ('c', '')
  File "/Library/Python/2.7/si

[2017-10-14 22:10] #1855 closed, assigned to nobody

[2017-10-15 17:24] nschneid commented on #1745
Realistically I may not get around to this before Dec. If anyone else wants to take a crack at it, there are examples at http://people.cs.georgetown.edu/nschneid/p/fnapi.pdf and http://people.cs.georgetown.edu/nschneid/p/fnapi-poster.pdf and #1370 which can serve as a starting point.

[2017-10-15 17:28] #1378 closed, assigned to nschneid

[2017-10-15 17:30] nschneid commented on #1745
Also examples in https://github.com/nltk/nltk/issues/1370

[2017-10-15 17:31] nschneid commented on #1370
Closing this issue and #1378, which were addressed by the overhaul. Leaving the other issues open as reminders for future enhancements.

[2017-10-15 17:31] #1370 closed, assigned to nschneid

[2017-10-16 03:23] campionfellin commented on #1859
This also happens using python 3.6.2 with NLTK 3.2.5

[2017-10-16 11:07] richbalmer commented on #1852
Yup I'm using 2.7. Looking good @LBenzahia - thanks again!

[2017-10-16 11:20] k0pernicus opened #1860 "[Question] Add custom Regex to improve date recognition for tokenizer and POS tagger"
I am trying to recognizing a simple kind of date ("XX/XX/XXXX") in my Python3 code.
For that, I would like to create a regex, and to add a tag for this one: "DATE" (for example).

This is the code I wrote:
[code]

Unfortunately, I got this error:
[code]

So, my question is: is it possible to add a custom regex (for my case, to recognize dates) in a default tagger, please?

Thanks a lot

[2017-10-16 11:23] talbaumel opened #1861 "TextTiling not support python 3"
In line 315 `clip = min(max(len(scores)/10, 2), 5)` you should wrap this value with a `int` because python 3 division type is float.

Thanks

[2017-10-16 12:14] alvations commented on #1861
Related #965 #1537 and https://github.com/nltk/nltk/issues?utf8=✓&q=is%3Aissue%20is%3Aopen%20texttiling

I think this is a long standing bug that hasn't been fixed and the fix could be pretty simple. Let's try to patch this by the next release ;P

[2017-10-16 16:00] cfehr247 commented on #1574
Installed Python 3.5.0 32 bit on Windows, it did not create any registry entries - I manually added it to get NLTK installer to see it, but then there was an unhandled exception during the installation of "parameter count mismatch".  Pip installation works fine, the executable installer should either be fixed or just removed since Pip install already is fine.

[2017-10-17 00:18] alvations commented on #1786
@dimazest hopefully this goes away once we move everyone to the new `nltk.parse.corenlp` interface ;P

And mostly do a hard remove of all `nltk.*.stanford` modules in the version after.

[2017-10-17 00:24] alvations commented on #1759
We need to somehow document how the Stanford CoreNLP API works so that we tell people not to start the server inside Python.

Alternatively, I think if we use the `__all__` trick, maybe we can allow limited access to what's inside the `nltk.parse.corenlp` and prevent users from access the `CoreNLPServer`. The lowest level object that a user should use is `GenericCoreNLPParser`.

BTW, @dimazest is

[2017-10-17 00:51] alvations commented on #1853
Also, equality of list should be checked rather than the string representation:

[code]

And

[code]

[2017-10-17 14:02] dimazest commented on #1759
Yes, it's used only in tests.

[2017-10-17 14:06] dimazest commented on #1786
Though removing the modules might be a too radical step. I would keep them deprecated for a while.

[2017-10-18 04:22] yibinlin opened #1865 "TreebankWordTokenizer.span_tokenize() throws Exceptions for corner case strings"
This comes from one of the sentence in my work. I have created https://github.com/nltk/nltk/pull/1864 as a fix.

to reproduce:

[code]

Also I have a question - I am not sure why the pull request check didn't run? The error seems to be here: https://nltk.ci.cloudbees.com/job/pull_request_tests/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/lastBuild/console

It looks like I did something terribly

[2017-10-18 18:26] sasinda commented on #947
@alvations I too am not working on that project anymore. But used one of those workarounds.
I tried your code but still the child process exits with segment fault (exit code 11) for me (exits at line: urllib2.urlopen("https://www.google.com").read()[:100])

It worked with urllib3(https://urllib3.readthedocs.io/en/latest/) though.
* nltk (3.2.5)
* urllib3 (1.22)
* Mac OSX 10.12.16
* Python 2.7.13 |

[2017-10-20 13:10] rmalouf commented on #1765
Moving away from tkinter is a good idea in general, but there's already support for rendering trees as inline PNGs in notebooks:

[code]

[2017-10-21 09:49] yick2232 commented on #738
Please view the [source code](https://github.com/nltk/nltk/tree/model/nltk/model)
I code a sample.
`from nltk.model import MLENgramModel`
`from nltk.model import build_vocabulary`
`from nltk.model import count_ngrams`
`docs = [['a', 'b', 'c'], ['a', 'c', 'c']]`
`vocab = build_vocabulary(cutoff, *docs)`
`counter = count_ngrams(order, vocab, *docs)`
`model = MLENgramModel(counter)`

[2017-10-22 07:57] alvations commented on #1860
I'm not sure whether there's a way to combine an n-gram tagger with the regexp tagger through the `backoff` in NLTK, usually the backoff is an ngram backoff tagger or a dictionary of key-value pairs.

But here's a dirty hack, given that I think the default `pos_tag` will tag the date pattern as `CD`:

[code]

[out]:

[code]

Drop the `and ttag == 'CD'` condition if you want less constraint and if

[2017-10-22 23:35] alvations commented on #63
There's an answer from @alexis on https://stackoverflow.com/a/46875652/610569

[2017-10-23 07:28] zorroblue commented on #1861
I would like to work on this :)

[2017-10-23 07:41] k0pernicus commented on #1860
Hello @alvations,
Thank you for your help!

Your solution works well.
I implemented an other one with consists in tagging `/` characters with `SLASH`, and create a simple rule like this:
[code]

So, now, I can recognize patterns like month/day/year, or month/year only.

[2017-10-23 10:41] e5pecial commented on #1861
https://github.com/nltk/nltk/pull/1863
This bug was fixed :)

[2017-10-23 10:52] alvations commented on #1861
@e5pecial Thanks for the note!

@zorroblue Thank you for your interest, if you're up to contribute on something else, you can try browsing the `goodfirstbug` tag: https://github.com/nltk/nltk/labels/goodfirstbug . Or if you're interested to work on the related issues, there's #965 and #1537.

Resolved in #1863

[2017-10-23 10:52] #1861 closed, assigned to nobody

[2017-10-23 20:33] iliakur commented on #388
@stevenbird seeing as the interfaces in the model package are drastically different now, this is no longer relevant. I'd close it.

[2017-10-24 23:27] stevenbird opened #1872 "Renovating CorpusReader and CorpusView"
@rmalouf has renovated NLTK's CorpusView class in https://github.com/nltk/nltk/pull/1867, which is pulled into the https://github.com/nltk/nltk/tree/new-corpus-view branch.

I'm opening this issue to host feedback.

[2017-10-26 10:32] magic282 opened #1874 "Porter Stemmer Bug"
Token ```aed``` will trigger this bug.

[code]

[2017-10-27 07:22] AmineIzanami commented on #1846
Hi all,

My team and me are working on that field, and trying to answer to : how can we use DP for NLP ?

But i think that ML can do better for NLP....

[2017-10-28 22:19] Radu-Raicea commented on #1019
Any progress on this?

[2017-10-30 00:09] alvations commented on #1019
(From https://nlp.stanford.edu/software/sutime.shtml#History)

We have the `nltk.parse.corenlp` interface that supports the CoreNLP functions. I think it's inside their NER tagger, but I'm not sure though.

[2017-10-30 17:00] k0pernicus commented on #1860
Hello @alvations,

Actually, I rewrote my parser and I did like you, using a RegexpTokenizer.
Unfortunately, I found NLTK has a strange behaviour using the following regex:

[code]

Output:

[code]

Did I made a mistake in writing the regex for an URL?

Thanks a lot

[2017-10-31 15:20] Radu-Raicea commented on #1019
I have found and used this [SUTime port](https://github.com/FraBle/python-sutime).

[2017-10-31 18:12] PhysB commented on #1759
Hello - I think I am having an issue related to the one noted here.

I recently started using this package and am using the StanfordNERTagger, which returns a deprecation error.

[code]
Note that I think there is a typo in this warning. I had to import from `nltk.tag.stanford` to find the `CoreNLPNERTagger`.

So I've attempted to switch to the new function and I cannot seem to get it to work.
Prev

[2017-10-31 18:45] dimazest commented on #1759
Hi, I'm sorry that there is no documentation. The API has changed, here are is what you need to do. Refer to #1510, it contains a long discussion on how to start a server.

The main change: **NLTK does not start CoreNLP server, you need to start it.**  Refer to https://stanfordnlp.github.io/CoreNLP/corenlp-server.html for a detailed explanation, but the command should be something like:
[code]

Op

[2017-10-31 18:55] dimazest opened #1875 "CoreNLP documentation"
Since the CoreNLP client code is more or less stable is actually being tried every now and then it's time to write detailed documentation!

Relevant issues:
 * #1510
 * https://github.com/nltk/nltk/issues/1759#issuecomment-340853721
 * #1758
 * #1876
 * https://github.com/nltk/nltk/issues/1876#issuecomment-343877499

Would it worth extending the NLTK book to include an explanation how to use CoreN

[2017-10-31 22:42] tomirio619 opened #1876 "POS tagging after Tokenization using CoreNLP classes"
Hello,

I want to use the `CoreNLPTagger` to tokenize and POS-tag a big corpus.
However, there is no option to specify additional properties to the `raw_tag_sents` method in the `CoreNLPTagger` (in contrary to the `tokenize` method in `CoreNLPTokenizer`, which lets you specify additional properties). Therefore I'm not able to tell the tokenizer to e.g. not normalize the brackets and other stuff.

[2017-11-01 14:26] dimazest commented on #1876
There is no way to implement it without changing the code.

You would need to add properties parameter to https://github.com/nltk/nltk/blob/develop/nltk/tag/stanford.py#L233 and update default_properties accordingly, check https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L232 for an example.

Also, since `GenericCoreNLPParser` already implements `ParserI` and `TokenizerI` https://gi

[2017-11-01 19:22] rameshjes commented on #1489
![image](https://user-images.githubusercontent.com/25647309/32292715-4025829c-bf41-11e7-9eba-eb00b5012c17.png)

Hi guys,
I am Ramesh Kumar, currently doing my research and development project on automatic short answer grading. For that, I am using Sultan et al.(2014) word aligner and implementing in NLTK. So far, I  have completed till Named Entities module as shown in block diagram. I have also c

[2017-11-01 20:21] jgarbers opened #1877 "UnicodeEncodeError when chunking non-ASCII text"
I've encountered a UnicodeEncodeError when chunking text that includes non-ASCII characters, using Python 2.7.12 and NLTK 3.2.5. As a new user of NLTK, there may be some subtleties when working with Unicode that I'm not sensitive to yet, but here's a sample bit of code that demonstrates the problem:

[code]

When run, this code reports an error at the chunking line above, ending with the report
[c

[2017-11-02 00:53] nschneid commented on #1877
In Python 2.7, I think the issue is that `format()` is being called with non-ASCII Unicode arguments on a non-Unicode string. Should be `u'{0}+{1}'.format(...)`. (The current code is not a problem for Python 3.)

[2017-11-02 01:11] alvations commented on #1877
@jgarbers Thank you for catching that!

@nschneid yes, `str.format()` is problematic for unicode in Python2

From https://docs.python.org/2/library/string.html#format-string-syntax , it seems like `format()` is implicitly having the `!s` [argument which should have been optional](https://github.com/python/cpython/blob/2.7/Lib/string.py#L616)

But in any case, `u'{}'.format()` resolves the problem

[2017-11-02 06:50] alvations commented on #1876
Documentation for the new CoreNLP interface should also demonstrate that beyond the usual, parsing, tokenizing, tagging, it is possible for users to call custom pipelines using `api_call()` from `CoreNLPParser` super class `GenericCoreNLPParser`

[2017-11-02 06:53] alvations commented on #1874
This should have been resolved in the latest version of NLTK from #1582. Please update your nltk

[code]

You should see this:

[code]

[2017-11-02 06:58] alvations commented on #1860
That's because the regexes in `word_tokenize` didn't handle URLs correctly.

[code]

Try another tokenizer:

[code]

Note that the `ToktokTokenizer` might come with other caveats.

But I agree that the default treebank tokenizer should handle URL (even though the original sed version was created before web text is popular.

[2017-11-02 13:03] k0pernicus commented on #1860
Thanks a lot @alvations.

[2017-11-03 06:37] alvations commented on #1877
I think there are 2 solutions to this, we use the `unicode_literals` and support the move to  only maintain Python3 eventually and change everything to unicode for the `ne_chunk` function:

[code]

Or add the `u'...'` flag to each string in `nltk/chunk/named_entity.py`.

But doing so would have this quirky properly that changes the type of the input into an unicode, even though the format input co

[2017-11-03 06:38] alvations commented on #1874
@magic282 Did upgrading NLTK resolve your problem?

[2017-11-03 06:52] magic282 commented on #1874
@alvations Yes, it is solved. Thanks.

[2017-11-03 06:52] #1874 closed, assigned to nobody

[2017-11-03 06:58] Dobatymo commented on #1819
`wi` is the combination eg. ('a', 16), so `wi[0]` is the word only. You can verify that the `stopwords `are not included in `ts.wrdindex_list` by simply printing the list. Just make sure your stopwords are lowercase.
If there is a bug, it's not here.

[2017-11-03 07:01] alvations commented on #1214
From #1860, it looks like the TreebankTokenizer that we're using as the default `word_tokenize()` is rather outdated and URL and dates parsing isn't really supported.

Taking a closer look at the TreebankTokenizer regexes and MosesTokenizer regexes, there's no easy solution.

For the `TreebankTokenizer`, it might be easier to tease apart the colons from the commas at https://github.com/nltk/nltk/b

[2017-11-03 07:02] alvations commented on #1860
@k0pernicus you're welcomed. Did the answer resolved your issue/question?

I've logged the concerned with URL and tokenization on a long standing issue at  #1860.

[2017-11-03 07:08] Dobatymo commented on #1761
The problem is with the `Trie` data structure in `nltk.util`.

[code]
[code]

Tested 2.7 and 3.5, both show same behavior.

[2017-11-03 07:42] alvations commented on #1427
There shouldn't be any error in the code for the perceptron tagger.

The `prev2` refers to the i-2 tag feature and `prev` refers to the i-1 tag feature as defined at https://github.com/nltk/nltk/blob/develop/nltk/tag/perceptron.py#L259

The confusion may come from the fact that when the [`START` was initialized](https://github.com/nltk/nltk/blob/develop/nltk/tag/perceptron.py#L129) with:

[code]