[2014-06-11 07:09] stevenbird commented on #656
Now you can initialise a Linear Logic expression like this:

[code]

However, there's a naming problem, because both logic.py and linearlogic.py define `Expression`. This wasn't a problem when this abstract class was not being imported by init.py (when `LogicParser` and `LinearLogicParser` were being imported). Now that expressions are being initialised using the `Expression` class in both cases,

[2014-06-11 07:27] stevenbird commented on #656
There's a couple of other loose ends:
- logic.py defines `parse_logic()` for processing a file of expressions
- logic.doctest includes an example where custom quote chars are used, and this requires direct access to `_LogicParser`

[2014-06-14 04:32] stevenbird commented on #656
I will merge this in preparation for the 3.0b1 release, and we can deal with these outstanding issues for 3.0b2.

[2014-06-16 06:34] undertherain commented on #390
the documentation in
https://nltk.googlecode.com/svn/trunk/doc/api/nltk.probability.FreqDist-class.html
says "Use FreqDist.keys(), or iterate over the FreqDist to get its samples in sorted order (most frequent first)"
however, nor keys() method nor iteration over the object itself does not give elements in sorted by frequency order, I guess this should be updated...

[2014-06-18 08:38] helmanofer opened #681 "using svd_dimensions in VectorSpaceClusterer raises an exception"
In python 3.2 the exception is:

[code]

It didn't happen in python 2.7 because random.sample did't have the following checks:

[code]

But it seems like the vector is nothing like the original vector after SVD/LSA

[2014-06-18 16:30] modi-thorson opened #682 "MaltParser not completely updated to new API"
Because of API changes, MaltParser objects fail when raw_parse() is called, since MaltParser.raw_parse internally calls parse() with two arguments (in addition to self).

Error occurs in malt.py, line 127, though other issues may exist.

[2014-06-19 07:34] stevenbird commented on #682
@heatherleaf are you able to take a look at this please?

[2014-06-23 11:30] heatherleaf commented on #682
Note that my fix does not change the basic API for Maltparser, which is different from the other parsers. Should we change Maltparser to adhere to the generic API? This will make `parse()` return an iterator of `DependencyGraph`s, and not a single one, as it is now.

Furthermore, should we add a `verbose` keyword argument to the parser apis?

[2014-06-23 12:13] #682 closed, assigned to nobody

[2014-06-25 14:15] jnothman opened #684 "Improve IPython Notebook usability by providing custom object display"
IPython Notebook is a very popular way of working with mixed media (code, printed output, images, arbitrary HTML) in an interactive research/development environment. By implementing a magic method on a class, it can be displayed as an image or interactive object rather than a textual `repr`esentation.

We should identify classes in NLTK (e.g. `Tree`) that could be easily visualised in this framewo

[2014-06-25 21:37] muneson commented on #555
For a number of reasons I haven't been able to touch this project for some time, but I will look into the remaining issues next week.

[2014-06-26 19:10] nickretallack opened #685 "StanfordParser fails at its own docstring examples"
When I run [this function from the docstring](https://github.com/nltk/nltk/blob/develop/nltk/parse/stanford.py#L32), [this happens](https://gist.github.com/nickretallack/d72c9f668dab9cf1f25d).

[code]

It seems like it's impossible for it to work, because it [only passes one argument to nltk.tree.Tree](https://github.com/nltk/nltk/blob/develop/nltk/parse/stanford.py#L106), and that class [throws a

[2014-06-26 19:17] heatherleaf commented on #685
The problem seems to be on line 106 in parse/stanford.py:

[code]

And I guess this solves the problem:

[code]

But I don't have the Stanford parser currently installed on my computer, so I can't double-check. Perhaps @stevenbird, @kmike or someone else can do the necessary changes in the repo?

[2014-06-26 19:18] nickretallack commented on #685
Yes, that solves the problem!  Thank you.

[2014-06-26 19:48] heatherleaf commented on #685
I've created a pull request for this: #686

[2014-06-26 21:20] stevenbird commented on #685
Thanks for the report and bugfix.

[2014-06-26 21:21] #685 closed, assigned to nobody

[2014-06-27 22:40] sbp opened #688 "Unsupervised HMM training not working?"
[code]

Gives:

[code]

I expect one of those sequences to be full of "P", not "Q".

Supervised training on this same example works fine.

Cf. issue #162.

[2014-07-02 08:49] ztane opened #689 "Update NLTK in PyPI, fix Python 3 and add Python 3 trove classifiers"
The NLTK in PyPI is 2.0.4, and not installable on Python 3; I've heard that NLTK is used as yet another example/excuse for not porting to Python 3; provided that Python 3 has vastly better text processing capabilities and less confusion, it would be the better platform for NLP. Perhaps NLTK 3.0 could be uploaded to PyPI already as alpha, or even as its own distribution - nltk-alpha or so, for easy

[2014-07-03 11:08] nournia opened #690 "Java binary path"
I've installed `3.0a4` release and NLTK  can not find Java binary:

[code]

I'm using python 2.7 in Ubuntu. Installing `3.0a3` version, fixed this issue in python2 but python3 still suffers from same error.

[2014-07-06 21:18] stevenxxiu commented on #684
I've tried to use `_repr_pdf_` for trees, which output postscript from tkinter (https://github.com/jskda/nltk/tree/pull_request.684) but firefox doesn't appear to support this. I think it might be better to use svg or png in the cases of postscript files.

[2014-07-07 03:17] giantwhale opened #691 "dispersion_plot doesn't work in python3"
The interpreter says dispersion_plot cannot be imported

[2014-07-07 10:25] stevenxxiu commented on #691
Can you try nltk 3 beta or the latest git revision?
The following code works for me:
`from nltk.draw import dispersion_plot`

[2014-07-08 09:34] stevenbird commented on #689
Thanks for the suggestion. Once NLTK 3.0b1 is ready in a few days, I will post it on PyPI.

[2014-07-08 09:34] #689 closed, assigned to nobody

[2014-07-08 09:37] stevenbird commented on #541
Superseded by https://github.com/nltk/nltk/issues/609

[2014-07-08 09:37] #541 closed, assigned to nobody

[2014-07-08 09:42] stevenbird commented on #316
This is implemented in NLTK 3.

[2014-07-08 09:42] #316 closed, assigned to stevenbird

[2014-07-08 09:46] stevenbird commented on #105
We have an interface to the Stanford Tokenizer in `tokenize/stanford.py`.

[2014-07-08 09:46] #105 closed, assigned to nobody

[2014-07-08 09:46] #80 closed, assigned to nobody

[2014-07-08 15:53] stevenbird opened #693 "Corpus Reader for Universal Dependency Treebank"
Add the corpus reader for the Universal Dependency Treebank
https://code.google.com/p/uni-dep-tb/

[2014-07-08 16:04] stevenbird opened #694 "Transition-based dependency parsing algorithms"
Implement Nivre's arc-eager and arc-standard algorithms.
http://aclweb.org/anthology/J08-4003.pdf
(Note that there have been some minor improvements made to the algorithms since these publications; please contact the author for details.)

[2014-07-09 12:11] kmike opened #696 "OS X: downloader GUI crashes in Python 3 when mouse wheel is used for scrolling"
I have no idea why is it happening, but when a mouse wheel is used for scrolling the downloader GUI crashes. Keyboard works fine. For Python 3.3 from python.org the exception is the following:

[code]

For Python 3.4 from homebrew the exception is the same.

[2014-07-09 16:00] stevenbird commented on #177
The SentiWordNet corpus was added in https://github.com/nltk/nltk_data/commit/d8a6eff7ec065293c9bbe30f8348550b8442a2ef

[2014-07-09 16:05] stevenbird commented on #177
I've pushed Christopher Potts SentiWordNet corpus reader to a new branch https://github.com/nltk/nltk/tree/sentiwordnet

There's an error in the initialiser; @jskda would you please take a look?

[code]

[2014-07-10 12:12] stevenbird commented on #177
This problem is resolved in https://github.com/nltk/nltk/commit/76187b5ad6fc0d8e4880791510f4cb7c44523e10

[2014-07-10 12:44] stevenbird commented on #177
Merged with develop branch in https://github.com/nltk/nltk/commit/b4386729c0459f2cdf4f8b08cab00b3cf49b720d

[2014-07-10 12:44] #177 closed, assigned to nobody

[2014-07-10 19:53] tealamore opened #698 "Wiki page links to a broken page"
Here's the wiki page. https://github.com/nltk/nltk/wiki/Courses

[2014-07-11 13:54] stevenbird opened #699 "FreqDist repr and str"
I think repr and str need to be swapped:

[code]

[2014-07-14 22:06] cgpotts commented on #177
I'm delighted that the code I wrote for reading SentiWordNet is being added to NLTK! ---Chris

[2014-07-18 16:36] bimargulies opened #707 "Why does the treebank include *T* tokens?"
Using the script below, I find a significant scattering of tokens of the form:

_T_-1, -NONE

what are these?

[code]

[2014-07-21 11:04] hyp3rv1p3r opened #708 "Issues/Typos on book web pages"
Hi, I found these issues on some documents:

Chap 9: In practice, this is also how the parser interprets slassh categories.
Chap 9.5 Please consult [NLTK-URL]

http://www.nltk.org/howto/featgram.html -> System Message: ERROR/3 (../../../nltk_book/definitions.rst, line 3)

System Message: ERROR/3 (featgram.doctest, line 109); backlink

[2014-07-22 11:36] stevenbird commented on #708
Thanks; these problems should be fixed now.

[2014-07-22 11:36] #708 closed, assigned to stevenbird

[2014-07-23 10:09] hyp3rv1p3r commented on #708
Hi, I don't know if it is legal to post on a closed issue but JIC:
again on page http://www.nltk.org/howto/featgram.html -> ~ row #13
I read:
"Feature structures in NLTK are ... Atomic feature values can be strings or integers."
Is something missing.

BTW, Thanks for the excellent work with NLTK. :-)

[2014-07-23 11:42] stevenbird opened #709 "Framenet methods"
These need to be methods, not attributes, for consistency with NLTK in general, and wordnet in particular, cf https://github.com/nltk/nltk/issues/475, http://www.nltk.org/howto/wordnet.html

[code]

[2014-07-25 10:31] stevenbird opened #710 "Environment variables"
The locations for third party software are specified using environment variables, but their naming scheme is inconsistent.

https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software

[2014-07-27 16:56] stevenbird opened #713 "Sphinx-style documentation in align package"

[2014-07-27 17:19] stevenbird opened #714 "sort=True"
Consider providing `sort=True` parameters to methods where result sorting would help with regression testing, cf https://github.com/nltk/nltk/pull/712

[2014-07-27 18:14] larsmans commented on #714
If it's just for testing, then why not sort in the test?

[2014-07-29 12:10] stevenbird opened #715 "Fieldworks Language Explorer"
NLTK includes some support for SIL toolbox (in `nltk.toolbox` and `nltk_contrib.toolbox`). It would be good to update this to support Fieldworks Language Explorer (FLEx).

http://fieldworks.sil.org/flex/
http://craigstips.wikispaces.com/FlexApps

[2014-07-29 15:22] stevenbird opened #716 "PanLex corpus reader"
Explore the possibility of creating a PanLex corpus reader.

[2014-07-30 05:24] pandersity commented on #715
I am most definitely interested in FLEx support added to NLTK!  To my knowledge, there is no existing Python library that has out-of-the-box support for FLEx database manipulation (I could be wrong, but I have looked high and low for one with no luck).

Best I have been able to find are:

Ken Zook's docs for FLEx with Iron Python
http://tinyurl.com/mt2oo23 -- this links to Word doc that will be do

[2014-07-30 12:33] rmlockwood commented on #715
I am also interested in FLEx support added to NLTK. This would make FLEx data easily accessible to linguists and programmers of all types. NLTK is a great library of tools! I don't think there is a cross-platform library. Right now I'm using FlexApps on Windows. Of course at the moment FLEx is just available on Windows and Linux. If there is enough interest I think we could get it put on the list

[2014-07-31 21:39] alexrudnick commented on #707
Pretty sure those represent traces:
http://en.wikipedia.org/wiki/Trace_(linguistics)

For how traces are used in Penn Treebank, see:
http://www.sfs.uni-tuebingen.de/~dm/07/autumn/795.10/ptb-annotation-guide/root.html

Does that explain it? (closing the issue -- let me know if you're not satisfied!)

[2014-07-31 21:39] #707 closed, assigned to nobody

[2014-08-01 16:39] stevenbird opened #717 "Toolbox character encoding problem"
[code]

This program from chapter 11 of the NLTK book produces the following error:

[code]

[2014-08-03 21:54] Liontooth opened #718 "FrameNet module fails to load in scripts"
With python-nltk 3.0.0b1 framenet works great in console, but appears to fail to load fully if run in a script. The demo can be called and runs successfully, but most functions fail:
# !/usr/bin/python

from pprint import pprint
from nltk.corpus.reader import framenet as fn
print fn
print dir(fn)
fn.demo()
fn.frame(256)

$ python ftest.py
<module 'nltk.corpus.reader.framenet' from '/usr/lib/python

[2014-08-03 22:07] stevenbird commented on #718
I also see this error, `AttributeError: 'module' object has no attribute 'frame'`.

However, I get different behaviour for Python 2.7 and Python 3.4. @Liontooth would you please take a look at the Python 3.4 output?

[code]

[2014-08-03 22:08] stevenbird commented on #718
@wooters would you mind looking into this please?

[2014-08-03 23:00] Liontooth commented on #718
Thank you, Steven. The problem appears to vanish if I use

  from nltk.corpus import framenet as fn

instead of

  from nltk.corpus.reader import framenet as fn

With "from nltk.corpus import framenet as fn" I get

[code]

until a function is called, such as "fn.frame(256)", and then I get

[code]

and everything works. In contrast, with

[code]

I get

<module 'nltk.corpus.reader.framenet' from '

[2014-08-03 23:00] #718 closed, assigned to stevenbird

[2014-08-04 00:28] Liontooth opened #719 "Incomplete FrameNet lexicon?"
Analyzing the sentence "IT WAS LIKELY THESE ARE FIGHTERS, MILITANTS FROM GAZA TELLING US TO GET OUT OF THERE." from the news, I get no hits on two key words, "fighter" and "militant":

  it 286
  was 110
  likely 1
  these 0
  are 40
  fighter 0
  , 0
  militant 0
  from 6
  gaza 0
  telling 1
  us 636
  to 205
  get 43
  out 87
  of 77
  there 6
  . 894

NLTK makes this information wonderfully ac

[2014-08-04 00:34] alexrudnick commented on #157
Taking a look at J&M (2nd edition, page 117); rico.sennrich seems to be on the right track...

[2014-08-04 00:43] alexrudnick commented on #157
OK, taking a look at that formula and the current code for entropy in ngram.py, I'm pretty convinced that the code does what the formula does.

I'm going to go ahead and close this issue -- pretty sure it's a non-problem! Happy to re-open it if we disagree.

[2014-08-04 01:46] alexrudnick commented on #167
The _particular_ problem that ssingh.math saw seems to have been fixed along with #158, so this works with a LidstoneProbDist, but it's still breaking for me with a WittenBellProbDist.

I'm pretty sure WittenBellProbDist is broken, though. If you don't pass a "bins" parameter, it will always set its "Z" field to 0 and then try to divide by that.

[2014-08-04 07:07] #157 closed, assigned to nobody

[2014-08-04 09:42] stevenbird commented on #714
The problem comes with the book, where we don't want to clutter up the examples too much. But I think it is unavoidable.

[2014-08-04 09:42] #714 closed, assigned to stevenbird

[2014-08-04 09:44] stevenbird commented on #699
Thanks @jskda. So now we have:

[code]

[2014-08-04 09:44] #699 closed, assigned to nobody

[2014-08-04 10:42] Liontooth opened #720 "FrameNet Frame Elements lost hierarchical structure"
Let's say we examine the lemma "likely":

  [definition]
  This frame is concerned with the likelihood of a
  Hypothetical_event occurring. The Hypothetical_event is its only
  core frame element.  'It is likely that he'll arrive late.'
  Notice that in the case where a noun phrase is the subject of the
  Support Verb, that NP is also tagged as Hypothetical_event.  'He
  is likely to arrive late.'

[2014-08-04 11:02] stevenbird opened #721 "Subpackage imports"
Do we really want to import all subpackage contents into the top level? Many names make most sense with their subpackage name included, e.g. `nltk.sem.Valuation`. However, some names are widely used and this would be cumbersome, e.g. `nltk.probability.FreqDist`.

[2014-08-04 11:34] stevenbird commented on #656
Resolved in https://github.com/nltk/nltk/commit/c2988cc0f5c5a950544f8ef1024f38cea01373d9

[2014-08-04 11:34] #656 closed, assigned to stevenxxiu

[2014-08-04 11:41] heatherleaf opened #722 "Stanford POS tagger behavior for empty input"
[This bug was reported by Tommy Carpenter, but he doesn't have a GitHub account]

My question is related to the NLTK API linked on this page: http://www.nltk.org/api/nltk.tag.html#module-nltk.tag.stanford. The Stanford POS tagger mailing list told me that the API is written by NLTK developers, not Stanford's NLP group.
# Problem

The function `batch_tag` does not return an output for every input;

[2014-08-04 12:01] stevenbird commented on #710
Resolved in https://github.com/nltk/nltk/commit/66abea6353ef9d1d9dc11879f11c09f634fd5aa3

[2014-08-04 12:01] #710 closed, assigned to stevenbird

[2014-08-04 12:24] Liontooth commented on #720
A workaround is to search for the string; here's a toy implementation -- getting the Frame ID and the Core Frame Elements should really be much easier, but this works:

[code]

[2014-08-04 20:13] stevenbird commented on #719
@wooters would you please take a look at this one?

[2014-08-04 20:14] stevenbird commented on #718
Yes, there's a design problem here, where module names in nltk.corpus.reader coincide with corpus names exported from nltk.corpus.

[2014-08-05 14:31] richwiss opened #723 "FreqDist.plot doesn't sort"
For example, Ch 1 Section 3 has the code:

fdist1 = FreqDist(text1)
fdist1.plot(50, cumulative=True)

But the plot that comes out is not sorted by most frequent type. It may be in the order of its hash values but I'm unsure. It's definitely not by most frequent which I believe is the intent.

[2014-08-05 18:32] shcherbin commented on #693
I'll try to implement this reader.

[2014-08-05 20:59] Liontooth commented on #719
Hi Steven,

I've consulted with FrameNet researchers and they say they are working on releasing version 1.6 with the improvements of the last three years.

David

[2014-08-05 20:59] #719 closed, assigned to nobody

[2014-08-05 21:00] Liontooth commented on #718
Ah, thanks. Quite confusing.

[2014-08-06 03:04] nschneid commented on #719
To add: the FrameNet website has the most current version of the FrameNet data (what will become the 1.6 release). It does have 'fighter' and 'militant', though there are certainly gaps in the vocabulary: see https://framenet.icsi.berkeley.edu/fndrupal/index.php?q=luIndex

[2014-08-06 03:17] nschneid commented on #720
This was done intentionally because it makes it easier to access the frame element by name, which is the more common expected use case than (say) retrieving all frame elements sharing the same coreness status. However, it is easy to retrieve the coreness status as an attribute of the FE object:

[code]

Thus if you wanted to group together FEs by coreType (as the frame display does), you could do:

[2014-08-06 10:17] Liontooth commented on #720
That's super helpful, thank you. The command "for fename,fe in fn.frame(framename).items()" is useful for revealing which elements can be referenced, so I realized I can simply do this to obtain the frame IDs from a lemma -- for some reason I didn't find this documented anywhere, obviously elegant as it is:

I'm having more trouble getting the Core frame element. While

 {ct: [fename for fename,fe

[2014-08-06 10:32] Liontooth opened #725 "AttrDict calls fail"
[code]

So the PrettyList and PrettyDict examples in the [FrameNet API](http://www.nltk.org/api/nltk.corpus.reader.html#nltk.corpus.reader.framenet.AttrDict) all fail. What am I missing?

Cheers,
David

[2014-08-06 10:41] Liontooth commented on #725
Sorry, git clone https://github.com/bcj/AttrDict -- I thought it was included in NLTK/FrameNet.

[2014-08-06 10:50] Liontooth commented on #725
AttrDict was apparently not the answer:

[code]

Where is PrettyDict and PrettyList? I see them only in the [FrameNet source code](http://www.nltk.org/_modules/nltk/corpus/reader/framenet.html) -- so what's the problem?

Dave

[2014-08-06 12:07] stevenbird opened #726 "Error message for 3rd party imports"
When a 3rd party library is not installed, provide a standard error message including the download location for the library.

This could be implemented with a module which puts all such error messages in a single location, invoked via one of a set of NLTK-specific ImportErrors.

[2014-08-06 13:55] nschneid commented on #720
See module documentation here: http://www.nltk.org/api/nltk.corpus.reader.html#module-nltk.corpus.reader.framenet

[2014-08-06 13:59] nschneid commented on #720
Are you saying you want the frame element IDs as well? Those are available via the `ID` attribute on the frame element object:

[code]

[2014-08-06 14:42] Liontooth commented on #720
Very cool, thank you!

[2014-08-06 14:42] #720 closed, assigned to nobody

[2014-08-07 23:39] wooters commented on #719
Sorry for the delayed response. The version of FrameNet that is in NLTK is 1.5. Thanks for adding that info @nschneid

[2014-08-09 12:44] stevenbird opened #728 "Twitter and the CorpusReader API"
@ewan-klein is working on a [TwitterCorpusReader](https://github.com/nltk/nltk/blob/twitter/nltk/corpus/reader/twitter.py) that includes:
- `tweets()` – returns a list of strings, one per tweet
- `full_tweets()` – returns a list of dictionaries, one per tweet
- `tokenized_tweets()` – returns a list of lists of tokens

How can we best align this with the existing [CorpusReader](http://www.nltk.org/

[2014-08-09 12:52] stevenbird commented on #728
Notes:
- other text corpora have items that correspond roughly to "sents" above: `posts()` and `xml_posts()` (nps_chat), `utterance()` (timit), `tweets()`. An SMS corpus might need `messages()`. The unit of sentence, post, utterance, tweet, or message is the natural size for many NLP tasks. E.g. ngram POS-tagging should not consider ngrams that cross sentence boundaries. The name of this unit chan

[2014-08-09 14:32] stevenbird commented on #728
Here is a possible solution. I'm assuming that all text corpora have a default unit size that is approximately at the level of an utterance (sentence, chunk, post, tweet, message). The methods    generally iterate over this unit size.
- `raw()` – returns iter(str)
  - _strings are for the standard unit size_
  - _gives ready access to sentence strings that you might want to tokenize_
- `tokenized(

[2014-08-11 05:04] mohammadsadeghzadeh opened #729 "ViterbiParser"
i install python 3.4.1 32 bit version and nltk3.
when i use:
grammar = nltk.induce_pcfg(S, productions)
parser = ViterbiParser(grammar)
tree=parser.parse(toks);
print(tree)

then python instead of printing tree, prints "generator object parse at 0x054CBB48"

why??

[2014-08-11 19:11] nschneid commented on #728
Some collaborators and I will soon release a dependency corpus of tweets whose syntactic annotations are at the level of sub-tweet "utterances" (omitting punctuation and some metadata tokens). This could be handled by `parsed()` as discussed above; however, I believe the Foster et al. 2011 dataset fully segments each tweet into sentences that are then individually parsed. So it might be good to ha

[2014-08-12 13:18] stevenbird commented on #729
The `parse()` methods return generators. Iterate over these to access the trees. E.g. `for tree in parser.parse(toks): print tree`.

We need to update the parse package docstring to explain this.

[2014-08-12 13:26] stevenbird opened #730 "Rename BracketParseCorpusReader"
Rename `BracketParseCorpusReader` to `ParsedCorpusReader` (cf `TaggedCorpusReader`).

[2014-08-12 13:57] stevenbird commented on #728
@nschneid's point would justify `parsed()` returning iter(list(Tree)). Several other corpora have document-level units:
- `brown`, `treebank` have news stories (one per file)
- `switchboard` has discourses (several per file)
- `state_union` and `inaugural` have speech transcripts (one per file)
- `twitter` could have sentences (several per tweet), though we don't want to force tweets to be sentenc

[2014-08-12 14:03] ewan-klein commented on #728
@nschneid: I'm interested to know what file structure you plan to use for your corpus. Could you clarify?

[2014-08-12 14:31] nschneid commented on #728
For our corpus, each document will be a tweet. Within each tweet, the parse annotation (a) does not necessarily include all tokens, and (b) may have multiple utterance roots—so essentially, there is a segmentation of the _included_ tokens into multiple utterances (I don't believe there is any interleaving of utterances with respect to the original token order). But tokens omitted from the parse ar

[2014-08-12 15:08] ewan-klein commented on #728
Thanks, this is useful. However, when you say

do you mean _tweet_ in the sense of _status['text']_ in the JSON returned by Twitter? If not, does _status['text']_ exist as a unit in your proposal? I guess I would be inclined to say the whole Tweet object is a document, and that the user should just access this document via the keys that are made available in the default dictionary representation.

[2014-08-12 15:13] stevenbird commented on #728
Some naming issues have arisen in my conversations with @ewan-klein:
- `raw()` – possible confusion with people's understanding of "raw" in `raw_string()`
- `tokens()` – unhelpfully similar to `tokenized()`
- `dicts()` – name is not semantic like the others, so consider `properties()` or `docs()` (where it can be used for document-level metadata)

[2014-08-12 17:05] nschneid commented on #728
I have not meant to propose any particular API, just a conceptual organization of tweets (including metadata) as documents, and that the relationship between syntactic parses and the tweet text string may be indirect due to tokenization, explicit utterance segmentation, and/or multiple parses.

I don't know if we have made an official decision, but people I have talked to are under the impression

[2014-08-12 22:42] ewan-klein commented on #728
Yes. It's pretty straightforward using the 'statuses/lookup' endpoint. If you're interested, checkout the twitter branch of the main NLTK github repo (though the code on this branch is still unstable). I'll post to the dev list about it soon.

[2014-08-13 08:10] mohammadsadeghzadeh commented on #729
How can i get the best tree?
Is it parse_one()?

[2014-08-13 10:40] stevenbird commented on #728
Here is a new solution that has grown out of my conversations with @ewan-klein.  We'll assume that all text corpora consist of documents, e.g. books, speeches, news stories, posts, tweets. There is also a lower level of linguistic unit corresponding to the utterance or sentence. When you ask for these lower units, you get iter(iter(item)), an iterator over documents, where each document is an iter

[2014-08-13 14:16] wenkokke opened #731 "More permissive regular expression for finding Stanford Models"
Using Homebrew, the models jar is (currently) installed as `stanford-parser-3.4-models.jar`, which NLTK is unable to detect. It reports:

[code]

Would it be a good idea to use a more permissive regular expression to find the models jar? For instance...

[code]

...so that it is detectable even if it doesn't have a version with precisely _three_ numbers.

[2014-08-13 14:29] nschneid commented on #728
I think the above proposal makes sense. Some questions:
1. What are the formal requirements (or recommendations) about the relationships between the output of the above methods? E.g., is the tokenization expected to be identical for `tokenized()`, `tagged()`, `parsed()`, and `chunked()`?
2. Is a particular corpus reader free to add optional arguments for methods? E.g., for the Penn Treebank, `toke

[2014-08-13 17:01] #731 closed, assigned to nobody

[2014-08-13 17:03] stevenbird commented on #731
Thanks @pepijnkokke

[2014-08-13 17:48] mohammadsadeghzadeh commented on #729
My productions contain  1200 rules. and when i use this grammar it takes long time (3 or 5 minutes on average) to parse a sentence with 25 words in ViterbiParser.
I don't think that Viterbi algorithm is slow in nature, because Stanford Parse that implemented this algorithm in java is fast.
What do you think?
for parsing 50 sentences i have to wait at least 2 hour. what's wrong with it?

[2014-08-13 20:23] heatherleaf commented on #729
The current implementation of Viterbi parsing in NLTK is not the most efficient one. It is more useful as a tool for experimenting with probabilistic parsing and not for "real" work.

If you look at the source code, in the file nltk/parse/viterbi.py, you see that it's not optimized for large grammars: e.g., on lines 242-243 you can see that it loops through all grammar productions and tries to mat

[2014-08-14 10:43] ewan-klein opened #732 "Update stale links in wiki page about NLTK package structure"
Links in https://github.com/nltk/nltk/wiki/Package-Structure need to be moved from googlecode to github.

[2014-08-14 14:05] stevenbird commented on #732
Fixed.

[2014-08-14 14:05] #732 closed, assigned to stevenbird

[2014-08-14 15:57] stevenbird commented on #728
Thanks for the feedback @nschneid. Here's my current thinking; I'd welcome your thoughts.
1. It would be recommended that the various methods use compatible segmentations of the source string. However, it's conceivable that a particular corpus will leave out key details (e.g. a corpus that provides sentence-segmented and parsed tweets may not provide the sentence strings, and our own sentence segm

[2014-08-14 16:18] nschneid commented on #728
Oh I think I must have misinterpreted the former (it is called `string()` in the earlier post). It provides each sentence prior to tokenization, correct? And if the corpus does not include pre-tokenized sentences, should it return `None`?

[2014-08-14 17:12] stevenbird commented on #728
That's correct. If the corpus doesn't include pre-segmented sentences, I propose that we use a sentence segmenter (by analogy with our use of a tokenizer for corpora that are not tokenized). We could return a `NotImplementedError` if the sentence segmenter does not support the language. Perhaps the method should be called `strings()` given that we get an iterator.

[2014-08-14 18:48] nschneid commented on #728
Yeah I think `strings()` is more intuitive.

Provided there's a way to check whether the segmentation was gold standard, or from NLTK's segmenter.

[2014-08-16 17:34] Liontooth opened #735 "Stanford tokenizer -- request to add -outputFormat inlineXML"
The NLTK.tokenize.stanford class provides access to the stanford-postagger, with these options:

class nltk.tokenize.stanford.StanfordTokenizer(path_to_jar=None, encoding='UTF-8', options=None, verbose=False, java_options='-mx1000m')

``` python```

 '/software/java/stanford-POS/stanford-postagger-2014-06-16/stanford-postagger.jar', 'utf-8')

 [u'Good', u'muffins', u'cost', u'$', u'3.88', u'in', u

[2014-08-20 16:12] Kasran opened #736 "text.generate() does not exist, but is still referenced"
I've been trying to follow along with the Natural Language Processing book, but right in the first chapter I'm coming across some issues. After `import`ing everything from `nltk.book`, my first thought was to try `text3.generate()` as was demonstrated in one of the examples. Of course, I got a lovely `AttributeError` because the Text class apparently doesn't have that method in the NLTK that I ins

[2014-08-20 16:48] stevenbird commented on #736
Sorry for the confusion. There were problems with NLTK's language modelling
class and so we removed it until the problems are resolved. This broke the
text generation functionality. I've updated the online version of the book
with a note about this, and updated the text demo (to be included in
release 3.0.0b2 soon).

-Steven Bird

On 20 August 2014 17:12, Kasran notifications@github.com wrote:

[2014-08-21 05:20] Kasran commented on #736
Alright! Totally understandable. I guess I'll have to write my own chatterbots with applied Markov chains, the old crude way, until it gets fixed.

Thanks for your prompt response.

[2014-08-21 15:30] mohammadsadeghzadeh commented on #729
It is very very very very slow . You don't believe how it is slow.
Stanford parser with java does this stuff only in 1 sec. But nltk takes 1 hour. That's very very bad.

[2014-08-21 17:04] stevenbird commented on #729
Remember that NLTK's goal is pedagogical. We've provided a wrapper for the Stanford Parser, so you can easily combine the two.

[2014-08-21 17:04] #729 closed, assigned to stevenbird

[2014-08-22 16:01] ilanschnell opened #737 "import error with Python 2.6"
nltk 3.0.0b2 is broken with Python 2.6:

[code]

The Counter was added in Python 2.7

[2014-08-23 01:34] hanisaf opened #738 "NgramModel no longer available?"
Hi,

I used to use nltk.models.NgramModel for tri-gram modeling. I am trying to run old code with a new installation of nltk 3 and it seems that the module is not longer available. I have downloaded all models and packages through nltk.download() and I am still getting
"No module named model"
when I try
from nltk.model import NgramModel

any help?

thank you

[2014-08-23 01:50] alexrudnick commented on #738
Hey there! Yeah, they're currently not in the master branch -- there are some outstanding bugs that we would like to fix before including them again.  These are the bugs: https://github.com/nltk/nltk/labels/model

If you're currently using the version from github, you can switch to the "model" branch, which includes the NgramModel code, though it's currently significantly behind the "develop" bran

[2014-08-23 01:55] hanisaf commented on #738
thank you Alex

[2014-08-24 00:13] pasky commented on #390
Yes, I think this should be reopened per previous comment. The main use of FreqDist seems to me to be to get stuff in frequency order, but that's not what happens in Python3, so imho this is quite broken.

[2014-08-24 00:25] kmike commented on #390
FreqDist in NLTK3 is a wrapper for collections.Counter; Counter provides `most_common()` method to return items in order. `FreqDist.keys()` method is provided by standard library; it is not overridden. I think it is good we're becoming more compatible with stdlib.

@undertherain docs at googlecode are very old, they are from 2011. More up-to-date docs can be found on http://nltk.org website.

[2014-08-25 00:33] pasky commented on #390
Oh, I see!  I just got confused by the documentation linked by
@undertherain then.  Thanks.

[2014-08-25 08:58] osmanbaskaya commented on #367
Hi everybody,

Is there any progress with this issue? Is it still an open bug? I am getting P(foo | bar, baz) = 2.625 so the problem continues.

I think this is an important problem and should have been fixed because language models are used for almost all applications in NLP.

[2014-08-25 14:36] dan-blanchard commented on #367
Unfortunately, I have not had any time to look at the numerous issues with `NgramModel`, and I don't foresee myself being able to do so anytime soon. Until someone tackles these bugs, `NgramModel` has been removed from nltk.

[2014-08-25 17:53] sabuncu commented on #65
@alexrudnick You say "I understand that the Text class is intended mainly for demo and learning
purposes..." - could you please indicate where you came across this information?  I had problems as well w/ the Text class, and your trouble ticket here finally clued me in to its shortcomings.  Thank you.

[2014-08-25 17:59] stevenbird commented on #65
http://www.nltk.org/api/nltk.html#nltk.text.Text

[2014-08-25 18:29] sabuncu commented on #65
@stevenbird Thank you.  So, if I understand correctly, it is the Text() class that is for demo purposes.  The text() class (lowercase) seems, on the other hand, to be where all the production-level functionality is hosted.

[2014-08-26 00:58] stevenbird commented on #737
Thanks, I've updated the files at https://pypi.python.org/pypi/nltk/3.0.0b2

[2014-08-26 00:58] #737 closed, assigned to nobody

[2014-08-26 07:27] osmanbaskaya commented on #367
Dan, thanks for the answer.

[2014-08-26 21:18] rajbala opened #739 "object has no attribute 'batch_ne_chunk'"
When I execute this code I get an error:

[code]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'batch_ne_chunk'

I'm using nltk 3.0.0b2 on Python 2.7.5 on OSX, but the same thing happens on Ubuntu.

Am I missing something obvious?

[2014-08-26 23:37] lakinducker commented on #366
I am having a similar problem with Python 3.4.0 on Ubuntu 14.04 LTS (trusty). I am using NLTK version 3.0.0b2. Every time I try "from nltk.draw import dispersion_plot", I get "ImportError: cannot import name 'dispersion_plot'". Do you have any ideas how I can fix this?

[2014-08-27 00:50] stevenbird commented on #739
Please see the last of API changes for NLTK 3.

[2014-08-27 00:50] #739 closed, assigned to nobody

[2014-08-27 00:55] kmike commented on #739
To be fair, batch_ne_chunk change is not documented at https://github.com/nltk/nltk/wiki/Porting-your-code-to-NLTK-3.0

[2014-08-27 18:20] rajbala commented on #739
@kmike Can you point me to what I should be using instead of batch_ne_chunk() considering the API changes?

[2014-08-27 18:25] kmike commented on #739
@rajbala sorry for not telling you earlier! It was renamed to `nltk.ne_chunk_sents`.

[2014-08-27 18:33] rajbala commented on #739
@kmike Thank you kindly!

[2014-08-28 09:27] Homyg opened #740 "Changing the brown corpus with other txt corpus on tag / hmm.py"
I'm new to Python /NLTK and I was trying to change the brown corpus used in the tag / hmm.py code with my own tagged corpus but I'm getting error. Please help! I need to replace my own corpus to train and test in hmm. Thank you!

[2014-08-30 04:14] will3784 opened #741 "nltk in Python 3.4 pos_tag issue?"
I'm trying to brush up on NLTK because I'm going to need some of its functions when I'm working on my senior thesis this fall. I figured that starting with a POS tagger would be fine, but whenever I try to tag something I get this error:

Traceback (most recent call last):
  File "<pyshell#22>", line 1, in <module>
    pos_tag_sents(sents)
  File "C:\Python34\lib\site-packages\nltk\tag__init__.py"

[2014-08-30 13:49] kmike commented on #741
Hi @will3784,

Do you use latest NLTK beta, and is nltk data up to date?

[2014-08-30 20:09] will3784 commented on #741
I downloaded the version of nltk that was on the "installing nltk" page on the website. I have it installed for python 2.7 too (the 3.2+ version wasn't ready when I was using it before) and it works fine there. When I go to try to install the book data, etc., it says it's out of date but I am unsure how to update it.

[2014-08-31 10:28] adaszko opened #742 "corpus.wordnet.morphy('lest') = 'l'"
Hello, I hope I'm reporting this in the proper place.

In case the title is clear enough, here are the steps to reproduce:

[code]

Thanks

[2014-09-04 09:59] mohammadsadeghzadeh opened #743 "Parent Annotation"
Why did you parent annotation with Chomsky normal form?
nltk.treetransforms.chomsky_normal_form(tree,factor='right',horzMarkov=None,vertMarkov=2)

How can i do parent annotation without Chomsky normal form?

[2014-09-06 03:19] amishwins commented on #723
I have the same issue. Here's my environment setup:

Python 3.4.1 (v3.4.1:c0e311e010fc, May 18 2014, 10:38:22) [MSC v.1600 32 bit (Intel)] on win32
nltk-3.0.0b2.win32
matplotlib-1.4.0.win32-py3.4
nltk-3.0.0b2.win32

Here's the link to the docs:
http://www.nltk.org/api/nltk.html#nltk.probability.FreqDist

Specifically:
`plot(*args, **kwargs)[source]
Plot samples from the frequency distribution disp

[2014-09-07 01:46] stevenbird commented on #741
Please see the instructions here for installing (updating) the NLTK data:
http://www.nltk.org/data.html

[2014-09-07 01:46] #741 closed, assigned to nobody

[2014-09-07 05:11] harshil93 opened #744 "nltk.clean_html() probably going into an infinite loop."
I tried nltk.clean_html() with this file and it never exits. I waited for around 420 mins. The file contains a lot of span tags and new lines. I also found that html2text (aaronsw) also crashes on this file.
I am using python-nltk 2.0~b9-0ubuntu4 installed from the ubuntu's official repo.

https://dl.dropboxusercontent.com/u/32632425/170594

My code :

import nltk
inp = open("170594","r").read()
c

[2014-09-07 05:30] stevenbird commented on #744
`clean_html` was dropped in NLTK 3. Please use  use BeautifulSoup's get_text() function instead.

[2014-09-07 05:30] #744 closed, assigned to nobody

[2014-09-07 05:38] harshil93 commented on #744
@stevenbird - Thanks for pointing out this. I am wondering whether get_text() is as fast as clean_html is? If not I will probably see lxml.

[2014-09-07 06:24] #723 closed, assigned to nobody

[2014-09-07 06:24] stevenbird commented on #723
Thanks for reporting the problem.

[2014-09-07 06:31] stevenbird commented on #730
I've decided not to touch this for now.

[2014-09-07 06:31] #730 closed, assigned to stevenbird

[2014-09-07 06:35] stevenbird commented on #717
This will be left unresolved for the NLTK 3.0 final release.

[2014-09-07 06:57] stevenbird commented on #709
Unfortunately this isn't so simple to resolve given the heavy use of `AttrDict` in `framenet.py`. That's a neat innovation but not consistent with the rest of the toolkit. Dropping `AttrDict` would give us code like: `fn.lu(256)['name']` which would be worse. It's probably going to take some work to get `fn.lu(256).name()` for consistency with WordNet. We won't hold up the 3.0 release for this, bu

[2014-09-07 17:36] stevenbird commented on #330
I have followed the gitflow process for the 3.0 release. NLTK-specific versions of the gitflow steps are listed in our RELEASE HOWTO at: https://github.com/nltk/nltk/blob/develop/RELEASE-HOWTO

[2014-09-07 17:52] nschneid commented on #709
Agreed that it seems complicated. There may be a way to have `AttrDict` provide its elements as methods, but I think that would require changing things throughout the code.

[2014-09-08 17:07] wooters commented on #709
Yeah, sorry. This is my fault. I should have done this in the original implementation.

[2014-09-17 10:09] kowey commented on #684
Hello @jskda! I was wondering if you'd be kind enough to look into [my _repr_png patch](https://github.com/kowey/nltk/commit/4ac4beacff7f9363c84e5d72719e2b5cda8267f2).  Unfortunately, shell=true seems to break on MacOS X. I'm not entirely sure why.

Was `shell=true` introduced because of Windows's behaviour? (opening a console window?).  This SO post seems to say you can [set a Windows `STARTUPINF

[2014-09-18 13:55] speedmancs commented on #736
I also met with this same issue which puzzled me a little bit. Thanks for this thread which google search had taken me to.

[2014-09-23 10:02] alvations opened #747 "Pushing latest stable version of NLTK into apt-get repos"
Is there any plan to update the `apt-get` repos for NLTK installation?

There are some users that don't rely on `pip` to install python tools, e.g. http://askubuntu.com/questions/527388/python-nltk-on-ubuntu-12-04-lts-nltk-downloadbrown-results-in-html-error-40

Does anyone know how to resolve the 401 Error when downloading NLTK corpus?

[2014-09-24 05:21] alvations commented on #747
While the version from apt-get is not updated, the current "hack" is to change the URL in download.py

[2014-09-28 18:10] JosephHickey commented on #741
I have the same problem mentioned by will3784 on 2014-08-30.

On 2014-09-26, I installed Python 3.4.1. On the same day, I installed NLTK 3.0.0 (by downloading and executing the file nltk-3.0.0.win32.exe from the following link: https://pypi.python.org/pypi/nltk

I successfully installed "all", "all-corpora", and "book" using nltk.download().

I am able to use word_tokenize to tokenize a string, bu

[2014-10-01 07:39] franquattri commented on #725
Same problem. Any clues?

[2014-10-02 18:32] hcorreasuarez opened #752 "Problems importing nltk3 after PunktWordTokenizer removal"
[code]

[code]

[2014-10-02 20:35] he7d3r opened #753 "Update sourceforge links"
On [stem/porter.py](https://github.com/nltk/nltk/blob/master/nltk/stem/porter.py#L86) there is a comment which says:
"The nltk version of this module is maintained by the NLTK developers, and is available from http://nltk.sourceforge.net"

The same link is present in [other parts of the code](https://github.com/nltk/nltk/search?utf8=%E2%9C%93&q=%22nltk.sourceforge.net%22&type=Code).

Shouldn't the

[2014-10-04 16:56] he7d3r opened #754 "Replace Spanish suffixes by Portuguese suffixes in the Portuguese snowball stemmer"
On [stem/snowball.py](https://github.com/nltk/nltk/blob/c23c18de204961b513947e5c593a196d06fdd6ee/nltk/stem/snowball.py#L2433-L2438), there are a few suffixes in the PortugueseStemmer which I believe were copied by mistake from SpanishStemmer:
- `'log\xEDas'` should be `'logias'`
- `'log\xEDa'` should be `'logia'`
- `'uciones'` should be `'uções'`
- `'uci\xF3n'` should be `'ução'`

Indeed, there is

[2014-10-04 17:29] he7d3r opened #755 "Treat "ü" as "u" in the Portuguese stemmer"
I believe the accented letter "ü" should be treated as "u" in some cases. For example, the stem of the following words should be the same (i.e. "aguent"):
- aguenta
- agüenta
- aguentam
- aguentamos
- aguentar
- aguentava
- agüentava
- aguente
- agüente
- aguento
- agüento
- aguentou
- agüentou

However, the ones with "ü" are being converted to "agüent".

[2014-10-04 17:54] he7d3r opened #756 "Remove word suffixes consistently (and only once) on snowball stemmers"
While comparing the Portuguese and Spanish stemmers I noticed they use different methods to remove the suffixes. For example:
- [SpanishStemmer](https://github.com/nltk/nltk/blob/c23c18de204961b513947e5c593a196d06fdd6ee/nltk/stem/snowball.py#L3479-L3487) uses `word = word.replace(suffix, ...)`
- PortugueseStemmer, FrenchStemmer and others uses `word = "".join((word[:-len(suffix)], ...))`

I believ

[2014-10-04 20:47] he7d3r opened #757 "Portuguese snowball stemmer should remove suffixes "ança" and "anças""
If we compare the snowball code of the Portuguese and Spanish stemmers, we see that the Spanish suffixes "anza" and "anzas" were changed to "eza" and "ezas". However, the Portuguese equivalent of words such as "esperanza", "venganza", etc are "esperança", "vingança", etc.

So, in the Portuguese stemmer, we are missing the suffixes "ança" and "anças" which are found in many words. This does not nee

[2014-10-05 06:41] karimkhanp opened #758 "How can I use svmlight with nltk to classify plain input text?"
Svmlight documentation says "The test data should be in the same format as training data". But as I am getting plain text to classify using svm, how should I deal with it? link - http://svmlight.joachims.org/

I have 114MB of modelrank file which I can use if I have test data in the same format. Modelrank file looks like below which has been created from 1249000 training documents:

[code]

**I wa

[2014-10-05 13:24] jnothman commented on #758
This is not an issue and should be closed.

Please contact nltk-users instead: https://groups.google.com/forum/#!forum/nltk-users

[2014-10-05 13:29] #758 closed, assigned to nobody

[2014-10-06 10:31] alvations commented on #736
hmmm. does this help (https://github.com/alvations/nltk/blob/develop/nltk/translate/decoder.py#L33)? The language model seems to work fine when decoding. I'll be pushing up an updated and properly documented code for the `translate` library soon.

Sorry I was out for hackathon, workshops and conferences back to back. I'll try to push it by the end of this week, i hope.

Ah but my model loads a pre

[2014-10-07 11:44] tobami opened #759 "SpanishStemmer raises IndexError on 'algue'"
"algue" is the only word it happens out of many tens of thousands I went through.

To reproduce:

[code]

[code]

Happens both with nltk 2.0.4 and 3.0.0

[2014-10-07 12:13] jnothman commented on #759
To be IndexError-safe, that should be rv[-1:] not rv[-1]. You can submit a
PR...

On 7 October 2014 22:44, Miquel Torres notifications@github.com wrote:

[2014-10-07 12:38] tobami commented on #759
OK, I'll do that now

[2014-10-09 20:39] vaisov opened #761 "NERTagger stops tagging at first: ? ! ."
How to reproduce:

[code]

output:

[code]

However POSTagger works without problem with same texts.

[2014-10-12 18:10] japerk opened #769 "AttributeError for Rule object in Python3.4"
The following code works perfectly with Python3.3 but produces an error with Python3.4, at least on Mac OS X. I've included the error output below the code. I've looked at the code for rule.py, and it's in a try-except block, but Python3.4 doesn't seem to care about that.

Traceback (most recent call last):
  File "/Users/jacob/py34env/lib/python3.4/site-packages/nltk/tbl/rule.py", line 191, in **

[2014-10-13 21:50] #759 closed, assigned to nobody

[2014-10-14 13:44] alvations commented on #761
Related to NER tagger, http://stackoverflow.com/questions/26352041/nltk-entity-extraction-difference-from-nltk-2-0-4-to-nltk-3-0

[2014-10-15 07:36] vaisov commented on #761
I tried Stanford's NER tagger using NLTK 2.0.4, outcome is the same, no tagging after .!?

[2014-10-16 02:56] RahulRavindren commented on #728
@nschneid @stevenbird  I would like to help out with the API for this. Would be wonderful if you would let me know.

[2014-10-16 04:01] stevenbird commented on #761
@desilinguist would you please advise?

[2014-10-16 04:05] stevenbird commented on #753
@ewan-klein does the [examples directory](https://github.com/nltk/nltk/search?utf8=%E2%9C%93&q=%22nltk.sourceforge.net%22&type=Code) belong in the source tree?

[2014-10-16 04:13] #754 closed, assigned to nobody

[2014-10-16 04:13] stevenbird commented on #754
Thanks!

[2014-10-16 04:16] stevenbird commented on #755
Is there any reference to support this? Isn't it a separate and more general step to normalise forms across different versions of [Portuguese orthography](http://en.wikipedia.org/wiki/Reforms_of_Portuguese_orthography)?

[2014-10-16 11:07] desilinguist commented on #761
I don't know much about the NERTagger portion since I only wrote the POSTagger wrapper. However, I can take a more detailed look and report back.

[2014-10-16 11:27] he7d3r commented on #754
It seems the patch introduced unwanted changes to the Spanish stemmer (see comments on 986d103). I reported this as issue #773.

[2014-10-16 11:57] he7d3r commented on #755
Consider for example this:
https://github.com/apache/lucene.net/blob/master/src/contrib/Analyzers/BR/BrazilianStemmer.cs#L306-L310

Is there a normalization step like the one you mentioned for some other language with different orthographies?

[2014-10-16 13:50] stevenbird commented on #761
Oh, no problem. Before you do that, can @vaisov confirm that the Stanford NER tagger behaves in the desired manner when invoked directly, i.e. on the command line?

[2014-10-16 15:19] vaisov commented on #761
Sure. Here are results of using command line without python.

[code]

[2014-10-17 07:38] alvations opened #771 "Missing parse_cfg"
Does anyone know where has the `parse_cfg` function been shifted to? Has it been deleted?
Some of my example scripts that uses `nltk.parse_cfg()` can no longer work.

It couldn't be found in `parse` module in the `dev` branch too:

[code]

Related SO post:
http://stackoverflow.com/questions/26415163/python-nltk-cant-import-parse-cfg

[2014-10-18 14:28] stevenbird commented on #771
Please see the documentation for [NLTK 3 API changes](https://github.com/nltk/nltk/wiki/Porting-your-code-to-NLTK-3.0)

[2014-10-18 14:30] #771 closed, assigned to nobody

[2014-10-18 17:05] desilinguist commented on #761
Okay, I looked at this and I think I know what's going on. The main difference is that we are passing `-tokenize false` as part of the  `POSTagger` command but no such option is being passed to the `NERTagger`. Let's look at an example. Let's say this our text to tag is:

[code]

If I use the `_cmd` property that's constructed for an `NERTagger` instance to tag this on the command line, I get:

[c

[2014-10-19 07:21] alvations commented on #771
Thank you for the note of the updated API.

In the case of `grammar.parse_cfg()`, it should have been, the API update refers to `ContextFreeGrammar.fromstring()` instead of `CFG.fromstring()`

`grammar.parse_cfg()` -> `CFG.fromstring()`

because

`grammar`: `ContextFreeGrammar` → `CFG`

[2014-10-19 14:11] stevenbird commented on #771
Sorry about that; I've fixed the mistake.

[2014-10-20 20:58] AbhilashaRavichander commented on #514
Hey, I'm looking to contribute. Is anyone working on this?

[2014-10-20 21:16] stevenbird commented on #514
Please take a look and submit a PR. No one is working on this AFAIK

[2014-10-21 13:47] he7d3r opened #773 "Replace Portuguese suffixes by Spanish suffixes in the Spanish snowball stemmer"
I'm creating this issue to track the regression introduced while fixing #754 (see comments on 986d103), so we don't forget it.

[2014-10-21 18:44] edran commented on #769
Confirmed on Ubuntu 12.04 and NLTK v3.0.0.

It appears only in Python 3.4 because the change was introduced in that version. It should have issued a warning in 3.2+ (source: http://bugs.python.org/issue7994)

[2014-10-21 18:55] #773 closed, assigned to nobody

[2014-10-21 19:24] edran commented on #769
It actually looks like the issue has been solved in bffbaee.

[2014-10-22 14:18] stevenbird commented on #754
Oops, thanks for fixing my mistakes here.

[2014-10-24 02:30] karpathy opened #775 "BLEU score returns 1 (perfect match) instead of zero"
Hi, taken from bleu implementation:

[code]

This function incorrectly returns BLEU score 1 when the candidate has no alignment to any of the references. In this case, `p_ns` will be all zeros because there is no overlap for any n-grams, which will make `s` zero, which will return `1` at the end.

There should be a special case check for the case when there is zero alignment and return zero correc

[2014-10-24 12:56] brightsmall commented on #741
Hello,

I have the same configuration and issue as JosephHickey.  I'm running NLTK 3.0.0 on Python 3.4.1 on Windows 7.  I also updated my data as suggested by stevenbird

My code is:

import nltk
text = nltk.word_tokenize("the man jumped over the white fence")
nltk.pos_tag(text)

Results is:

UnicodeDecodeError                        Traceback (most recent call last)
<ipython-input-8-204972655b93>

[2014-10-24 16:24] stevenbird commented on #741
I can't replicate this on mac osx with python 3.4.2:

[code]

[2014-10-24 16:39] brightsmall commented on #741
Okay, Thanks for taking a look.  I'll try upgrading to python 3.4.2.

[2014-10-26 03:33] sourcedexter commented on #739
But, with ne_chunk_sents , the output is not a tree output. It just says
generator object <genexpr> at ...
what can I do ?

[2014-10-26 16:51] owenhaynes opened #776 "Python 3.4.1 UnicodeDecodeError default pos tagger"
a Pull request has been made with a suggested fix #777

[2014-10-28 13:32] gcapiel opened #778 "SpanishStemmer error with certain terms"
All these terms:
['tgue','argue', 'lgue', 'ungue', 'igue' ]

Give this error when you try to stem any of them:
warning: range error for conversion to character value
Traceback (most recent call last):
  File "./spanishstemmer.py", line 13, in <module>
    singles.append(stemmer.stem(words.decode('utf-8')))
  File "/usr/local/lib/python2.7/dist-packages/nltk/stem/snowball.py", line 3554, in stem

[2014-10-28 15:50] stevenbird commented on #778
@he7d3r would you mind taking a look at this please?

[2014-10-28 16:36] he7d3r commented on #778
I confirmed this problem using Python 3.4

[code]

At that point of the code, `rv` is the empty string (in all 5 examples), so `rv[-1]` causes the error.

[2014-10-28 16:54] stevenbird commented on #778
Thanks @he7d3r. Can you suggest a fix please?

[2014-10-28 17:03] he7d3r commented on #778
Looks like replacing `rv[-1] == "u"` by any of these should work:
- `rv[-1:] == "u"`
- `rv.endswith("u")`
- `rv and rv[-1] == "u"`

(I don't know which one is more "Pythonic")

[2014-10-28 17:12] he7d3r commented on #778
BTW: it seems [that if/else block](https://github.com/nltk/nltk/blob/f422e337313b81581a5c13345f6803f3510c2adc/nltk/stem/snowball.py#L3550-L3557) can be simplified a little, since `word = word[:-len(suffix)]` is executed in both cases.

[2014-10-29 15:10] #778 closed, assigned to nobody

[2014-10-29 15:14] stevenbird commented on #739
Iterate over it.

[2014-10-31 14:47] dimazest opened #781 "BNC corpus reader slowness"
In my experience BNC corpus reader is too slow. I would like it to be faster to use it in NLP related workshops.

It seems that [BNCCorpusWordView](https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/bnc.py#L155) is slow because it's a subclass of [XMLCorpusView](https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/xmldocs.py#L86) which has a rather complicated logic because it's

[2014-10-31 15:23] dimazest commented on #775
@karpathy could you have a look to my fix.

[2014-10-31 15:42] dimazest commented on #542
On a related note, I've came up with a salt configuration [1], that is supposed to install required software and datasets. The nice point, is that it might be used inside a vagrant instance, docker or any other setup.

[1] https://github.com/dimazest/nltk/tree/vagrant/salt

[2014-10-31 18:31] #775 closed, assigned to nobody

[2014-10-31 18:49] karpathy commented on #775
Yep, that's very similar to how I fixed it in my own implementation. Thanks!

[2014-10-31 19:06] dimazest commented on #769
@japerk is there a test that checks this scenario?

There is one failing test in the develop branch. Once failing tests are fixed (i'm working on it), we can hook up a CI test for every pull request.

[2014-10-31 22:33] stevenbird opened #783 "paths in compat.py"
Use `os.path.join()` to concatenate paths, in `compat.py`, cf https://github.com/nltk/nltk/pull/777

[2014-11-03 17:51] bruno-vollino opened #784 "Problem when pickling Tokenizers"
Hi,

I've had problems when trying to dump tokenizer classes using pickle. I'm not very experienced in Python, so I don't know how to solve this. You may reproduce the errors using the following code.

import nltk
import pickle
import dill
from dill import detect

to_dump = nltk.tokenize.regexp.WordPunctTokenizer()

print("Bad types:")
print(detect.badtypes(to_dump))
print("Bad items:")
print(dete

[2014-11-04 16:32] alvations opened #785 "NLTK WSD with adjective POS tag as parameter"
The word "able" has adjective but `nlkt.wsd.lesk` is not returning the sense:

[code]

see https://groups.google.com/forum/#!topic/nltk-users/KPcL2iUZ0u0

(self-assign)

[2014-11-04 18:35] dimazest commented on #785
Try passing the context sentence as a list of tokens:

[code]

Another option would be to checkout nltk from the repo and use development branch.

[2014-11-06 06:12] peter-wood opened #787 "app.chunkparser() malfunctioning"
chunkparser.app() does not work in the current python 2 and python 3 versions. Exceptions are thrown in lines 1072 and 1038 of the application which has the effect that chunk rules are not applied and the application is unresponsive and does not update the highlighting, or success rate.
Fix:  replace the 3 occurrences of
RegexpChunkRule.parse(line)
to
RegexpChunkRule.fromstring(line)
This should b

[2014-11-06 11:45] alvations commented on #785
@dimazest , thanks for the fix!! Unpacking the messed up generator comprehension was a good idea.

Does anyone know whether the original lesk algorithm from 1986 filters out the POS? I sort of remember that the original lesk didn't have the POS specification. Nevertheless, it would be good to have that feature in NLTK. I've left it out in the `pywsd` repo.

[2014-11-06 11:45] #785 closed, assigned to nobody

[2014-11-06 18:49] #787 closed, assigned to nobody

[2014-11-06 18:49] stevenbird commented on #787
Thanks for the bug report.

[2014-11-06 21:31] japerk commented on #769
I don't have a specific test, but it seems that anything that exercises BrillTaggerTrainer.train would do it.

[2014-11-07 04:58] stevenbird opened #788 "Python 2/3 encoding issue"
Python 2 and 3 give different errors for a character encoding issue. It shows up in the `StanfordParser` and `StanfordTokenizer` errors in the latest test results. The problem was triggered by a seemingly unrelated commit of mine concerning the ChunkParser. @kmike I would be grateful for any advice.

https://nltk.ci.cloudbees.com/job/nltk/

[2014-11-07 06:48] karpathy opened #789 "Critical bug in BLEU score evaluation"
The BLEU score, as computed [here](https://github.com/nltk/nltk/blob/develop/nltk/align/bleu.py), returns extremely broken results

It's currently implemented as:

[code]

Now, what the `s =` part is doing is it's trying to compute a weighted **geometric average**, meaning the product of the individual modified precisions, to get the final precision across ngrams. Therefore, you cannot simply take

[2014-11-07 07:01] stevenbird commented on #789
Thanks @karpathy. @dimazest would you please look into this?

[2014-11-07 08:27] dimazest commented on #789
ahh, i see. i'll also try to come up with a test for this situation.

btw, do you think it will be useful to remove the BLEU class and make its static methods just functions?

[2014-11-07 12:35] kmike commented on #788
The error is caused by a test runner which replaces sys.stdout with a `_SpoofOut` stub which doesn't have 'encoding' property. I've commited a fix - could you please check if it helped?

[2014-11-07 14:44] stevenbird commented on #789
Good idea, please remove the BLEU class. Note that names within subpackages must be meaningful without their module name, because we import all names directly in `__init__.py`. So the evaluation function name(s) should include `bleu`. Names for internal use would generally be preceded by underscore.

[2014-11-07 14:56] Lyla-Fischer opened #790 "nltk.download() can't find data if you don't use the default directory"
If I want to keep my home directory clean and store the nltk data somewhere else, I can't do that and still access the corpus using the same "text1" notation that is used in the nltk book.

[2014-11-07 16:47] bryant1410 commented on #505
Hi. @luischir and UdelaR NLP group have been working in a transformation from MCR database to wordnet usual format: https://github.com/pln-fing-udelar/wn-mcr-transform

Maybe this can be helpful

[2014-11-07 16:58] stevenbird commented on #790
Please set the `NLTK_DATA` environment variable to the location of the data. It is documented at http://www.nltk.org/data.html

[2014-11-07 16:58] #790 closed, assigned to nobody

[2014-11-07 17:02] #789 closed, assigned to dimazest

[2014-11-08 03:25] RahulKulhari opened #792 "Lookup error when using stanford ner in nltk"
LookupError:
#

NLTK was unable to find the java file!
Use software specific configuration paramaters or set the JAVAHOME environment variable.

and when i am doing echo $JAVA_HOME

it is telling me path correctly

[2014-11-08 05:43] stevenbird commented on #792
Please give a small code sample that produces this error, thanks.

[2014-11-09 10:07] nadaa opened #793 "problem installing ntlk"
Hi,

I'm trying to install NLTK3 on ubuntu that has python2.7- When I first installed steuptools I got the following bug!

![nltk-prob](https://cloud.githubusercontent.com/assets/1457075/4967102/2e5110e8-67f8-11e4-9492-d99f2d1108b5.png)

Thanks a lot in advance!

[2014-11-10 12:46] alvations commented on #785
I did a quick check on the original lesk algorithm, it didn't have the POS specific. Added the note in the docstring. http://dl.acm.org/citation.cfm?id=318728

[2014-11-10 12:56] alvations commented on #602
Here's a possible implementation for Good-Turing: http://phoenix.cs.clemson.edu/ldong/tutorial.php

[2014-11-13 09:17] alvations opened #795 "Missing wn.ADJ_SAT key when accessing wn.synsets()"
see http://stackoverflow.com/questions/26900954/why-cant-i-pass-wn-adj-sat-as-a-pos-when-requesting-synsets for details.

Can we add the following line after line 1609 of the wordnet corpus reader, https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L1609 ?

[code]

[2014-11-13 14:01] RahulKulhari commented on #792
This Error is happening only in nltk 3.0 but i replace nltk 3.0 to nltk 2.0.4 so now its working.

[2014-11-14 01:06] stevenbird commented on #795
Thanks. Resolved in https://github.com/nltk/nltk/commit/21fd0c538b0144c5f722e4f643c9ced1deb1f15e

[2014-11-14 01:06] #795 closed, assigned to nobody

[2014-11-14 01:11] stevenbird commented on #792
Please give a small code sample that produces this error, thanks.

[2014-11-14 01:39] stevenbird commented on #793
This is not a bug in NLTK. If you search on your error message, you can see that the advice is to download and install setuptools manually.

[2014-11-14 01:39] #793 closed, assigned to nobody

[2014-11-14 23:55] stevenbird commented on #788
Thanks @kmike for the fix. Unfortunately we still have a problem, reported by our [integration testing](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py32-jenkins/lastCompletedBuild/testReport/nltk.parse/stanford/StanfordParser/).

[code]

[2014-11-17 05:08] kmike commented on #788
Sorry, I missed it. In Python 2.6 it fails with another [error](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py26-jenkins/138/testReport/junit/nltk.parse/stanford/StanfordParser/):

[code]

[2014-11-17 14:39] iliakur commented on #602
Hi all, I'm sorry for disappearing after saying I'd look into this. I finally have some time on my hands.
@stevenbird, let me know if this question is better suited for the nltk-dev mailing list, but should we maybe reconsider using SGT as the default estimator/smoother for the Ngram model? It makes more intuitive sense to me to have something much more basic as the default and then allow folks to

[2014-11-17 15:20] alvations commented on #602
If there's a vote on this, I would like +1 laplace and +0.001 lidstone smoothing as the default for Ngram models and still have SGT as a possible option when initializing the ngram model.

For `scikit-learn`, laplace/lidstone smoothing is the default estimator (e.g. http://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html)

[2014-11-17 16:17] htInEdin commented on #602
Ilia Kurenkov writes:

+1 for using a simpler default estimator -- it's what I do with our
students.

## ht

[code]

 [mail from me _always_ has a .sig like this -- mail without it is forged spam]

[2014-11-20 01:47] lenazun commented on #761
In order to return all sentences I changed tag() to return self.tag_sents([tokens])[0:] instead of just [0]

[2014-11-21 14:05] dimazest commented on #761
@lenazun, would it make sense to return `self.tag_sents([tokens])`?

[2014-11-21 18:40] lenazun commented on #761
@dimazest  Yes, that works too!  just wanted to be explicit about the change.

[2014-11-24 22:45] PanderMusubi commented on #178
Master at the moment results in

[code]

[2014-11-24 22:48] PanderMusubi commented on #6
Master at the moment results in

[code]

[2014-11-24 22:56] PanderMusubi commented on #494
Master now results in

[code]

so that is fixed but the latter example still results in:

[code]

As you can see “No and „Really (2x) is incorrect. Could this please be fixed?

[2014-11-25 02:21] jnothman commented on #494
That's a nice set of test cases for issues that neither Kiss and Strunk's Punkt algorithm nor the PTB's word tokenizer intended to deal with. Clearly " and ” are being treated differently in both cases, and it would be nice if they were not.

IIRC, Punkt assumes every ! and ? token is a sentence break, and doesn't do any interesting disambiguation. (I guess the reason it's not breaking in `“No!” a

[2014-11-25 04:49] charnugagoo commented on #694
I strongly recommend to implement this algorithm or shift-reduce parser since these linear parsing algorithm could be very fast comparing to bottom-up parser. For some situation, say parsing large data set, this would be very useful. And in academic, these linear parsers could be almost as good (in accuracy) as bottom-up parser.

I really want to work on this, but I don't have much after-work time

[2014-11-25 06:25] stnatic commented on #694
I would be interested in contributing. I think that the biggest question is how to implement the classifier. We could either do the entire training process in Python or to start by importing a pre-trained model, e.g. from MaltParser.

@charnugagoo we could start a thread on nltk-dev group and hear some feedback from the authors of ntlk

[2014-11-25 06:44] stevenbird commented on #694
Our philosophy in NLTK is to provide both, i.e. pure Python implementation(s) that have educational value, and interfaces to optimised third-party implementations. If you can pick a pre-trained model that you would like included with the NLTK-data collection, I'm happy to take care of adding that.

[2014-11-26 02:02] charnugagoo commented on #694
@stnatic Personally, I recommend perceptron, which works well when I was writing my own shift-reduce parser. An average perceptron is very easy to implement. I searched there are some papers talking about perceptron + arc eager, so I think it would work in this case.

I agree. Could you send out an email to nltk-dev, please?

[2014-11-29 05:21] keisks commented on #124
Hello,

I am not sure this is a right place to report, but I found that the ptb corpus reader reads upper-cased directories (and files) but not lower-cased ones.
https://github.com/nltk/nltk/blob/develop/nltk/corpus/__init__.py

[code]

The PTB at my hand uses all lower cased names for directories and file names including extensions.
It would be great if this reader can allow both upper and lower

[2014-11-29 15:12] dimazest commented on #124
For the time being, you can replace uppercase letters to lowercase in the following expresion

[code]

and initialize a LazyCorpusLoader object by yourself.

[2014-11-29 15:24] keisks commented on #124
Thank you for the comment.
This is exactly what I did. I just wanted to point out, because PTB 3 (LDC99T42) uses lower cases for the names and I wonder why the reader only allows upper cased names.

[2014-11-29 16:39] nschneid commented on #124
I think I wrote that regex (see #278), and that the PTB installation I was using had uppercase names. Probably it should be rewritten so it is case-insensitive.

[2014-11-29 18:05] serapio commented on #715
I would be interested in helping with this. It's tricky to work with FLEx's internal database, but the LIFT exported lexicon is pretty easy to deal with. (Export as LIFT, manipulate the LIFT data, import it again) It would be nice to be able to manipulate the interlinear corpora from NLTK, but FLEx's import and export of corpus data isn't as mature as the lexicon functions.

[2014-11-30 08:06] zultuta commented on #741
Hello,
I am facing the same problem. I have python 3.4.2 installed on my windows 8 and i installed and updated all nltk data. However, when i tried to perform the pos tagging example as specified in the nltk book, i get this error

Traceback (most recent call last):
  File "<pyshell#4>", line 1, in <module>
    tagged = nltk.pos_tag(tokens)
  File "C:\Python32\lib\site-packages\nltk\tag__init__.py

[2014-11-30 09:25] rsingh2083 commented on #739
Iterate over what ? It doesnt have any thing which could be iterated over. .close/.throw.gi_running.... all these arent iterable

[2014-11-30 12:40] nschneid commented on #739
Like this:

[code]

Generators are a Python language feature that can act like lazy sequences: they can be iterated over to give you the next item on demand. http://www.dabeaz.com/generators/ is a nice in-depth tutorial.

[2014-11-30 22:34] progval opened #797 "Cannot import NLTK"
After a Python 3.4 upgrade:

[code]

[2014-11-30 22:38] progval commented on #797
Should I report this to Debian? It happened after upgrading from 3.4.2-1 to 3.4.2-2.

[2014-12-01 03:50] stevenbird opened #798 "word embedding"
Implement some [word embedding](http://en.wikipedia.org/wiki/Word_embedding) algorithms

[2014-12-02 02:18] brightsmall commented on #741
Zultuta,

This apparently has to do with encoding.  I used the fix suggested on this link:
http://stackoverflow.com/questions/25590089/nltk-3-pos-tag-throws-unicodedecodeerror

The fix is to go into data.py and edit line 779 to use a different encoding.  I changed my encoding to latin1 and it started working.

[2014-12-02 12:48] dimazest commented on #798
Hi,

In my experience, a typical word vector workflow (it doesn't really matter whether it's distributional (based on co-occurence counts) or distributed (learned) vectors look like this.
1. Decide the source corpus to build vectors. I use BNC and BNCReader fot this (it's common to use Wikipedia or ukwac as far as i know, there are no readers for them).
2. Decide the target and context (in the dis

[2014-12-02 15:24] JosephHickey commented on #741
Following up from my comment of 2014-09-28, I installed the win32.exe file at the following site, and it worked for me: http://www.nltk.org/nltk3-alpha/

[2014-12-03 02:22] zultuta commented on #741
brightsmall, JosephHickey

Thank you so much. I changed the encoding and now its working

[2014-12-05 01:50] pafcosta opened #801 "DecisionTree"
HI All,
I have a question about the algorithm implemented for DecisionTree. Is it C4.5?

Thanks,

[2014-12-05 19:47] PanderMusubi commented on #494
Please let me know if I can help out with this to get this supported.

[2014-12-06 06:18] Liontooth opened #803 "'WordNetCorpusReader' object has no attribute '_LazyCorpusLoader__args'"
Hi Steven --

I'm getting this error on threading with python 2.7.8.11 on Debian --

[code]

The first thread works fine, and the subsequent fail:

[code]

Any reason the threading is not working?

Cheers,
Dave

[2014-12-07 07:08] stevenbird commented on #803
NLTK has not been written to be thread-safe. I don't know why a problem would show up here, particularly. Are you able to reproduce the error within a single thread?

[2014-12-07 07:10] stevenbird commented on #801
@edloper would you please tweak the decisiontree module docstring to specify what algorithm is being used?

[2014-12-07 07:14] stevenbird commented on #797
@ProgVal can you please help narrow this down? E.g. try to import `internals.py` on its own? Or better still, identify something problematic within `internals.py`?

[2014-12-07 08:55] progval commented on #797
I added some print statements to  `compile_regexp_to_noncapturing`:

[code]

Here is the output I get:

[code]

It looks like on this specific Python version, `sre_parse.Pattern.groups` is a read-only property.

[2014-12-07 08:56] progval commented on #797
Confirmed:

[code]

(code from /usr/lib/python3.4/sre_parse.py)

[2014-12-07 09:03] progval commented on #797
The issue seems to be fixed in 3.4.2-3. The code of sre_parse in this version is the same as in 3.4.2-1:

[code]

Maybe Debian undid its change, but I can't find it in the [changelog](http://metadata.ftp-master.debian.org/changelogs//main/p/python3.4/python3.4_3.4.2-3_changelog)

[2014-12-07 16:47] Liontooth commented on #803
No, a single thread works fine, which also means I can work around it. However, this code worked fine in July 2013, so it's fairly likely there's a regression introduced by an upgrade somewhere. It may be difficult to determine which upgrade of which component; the script is phrase-count.py in https://github.com/hang-qi/CDI/tree/master/tools/count-phrases

Cheers,
David

[2014-12-07 22:21] stevenbird opened #804 "Consistent naming of pretty-print methods"
Following the naming decision in #794, modify the names of other pretty-printing methods, including `FreqDist.pprint()`, `sem.drt.DrtExpression.pretty()`, and `parse.chart.Chart.pp()`.

[2014-12-08 04:56] stevenbird opened #805 "Dependency parsing evaluation"
Implement labeled and unlabeled attachment scores, possibly porting the algorithms implemented in http://ilk.uvt.nl/conll/software.html

[2014-12-09 03:23] #598 closed, assigned to stevenbird

[2014-12-09 03:23] #600 closed, assigned to stevenxxiu

[2014-12-09 03:23] #609 closed, assigned to kmike

[2014-12-09 03:31] stevenbird commented on #722
I agree that the output list should be padded with `(,)` to ensure it is the same length as the input list. Note that `batch_tag` has been renamed to `tag_sents`.

[2014-12-09 03:35] stevenbird commented on #693
@shcherbin any progress? I'd like to find someone else if you don't have time, thanks.

[2014-12-09 03:40] stevenbird commented on #543
Senna.py should probably use `internals.find_binary`

[2014-12-10 06:56] longdt219 commented on #735
Please note that -outputFormat inlineXML is not the correct option for stanford tokenizer. It is the option for POS MaxEnt tagger.

Here is the list of valid options :
https://github.com/stanfordnlp/CoreNLP/blob/master/src/edu/stanford/nlp/process/PTBTokenizer.java

For the purpose of keeping the newline we should do
==> st = StanfordTokenizer('/software/java/stanford-POS/stanford-postagger-2014-0

[2014-12-10 07:36] longdt219 commented on #690
Could you be more specific @nournia. Where I can get that NLTK version 3.0a4 ??

[2014-12-10 11:45] stevenbird commented on #690
3.0a4 is not a current version. I'll close this issue; @nournia please reopen if it recurs with the current version.

[2014-12-10 11:45] #690 closed, assigned to longdt219

[2014-12-10 19:52] shcherbin commented on #693
I've wrote you an email regarding this, I belive, in August but received no reply.

This corpus is in CONLL format.
By simply inheriting from  ConllCorpusReader (/nltk/corpus/reader/conll.py) and by providing correct columtypes there is no need to override some of the interface methods:

raw()
words()
sents()
tagged_words()
tagged_sents()

They all work as we would expect them to.

[2014-12-10 20:14] stevenbird commented on #693
Thanks @shcherbin – I must have missed that email. I can't merge this PR as is, but will adapt it, and add data to the NLTK Data repository.

[2014-12-11 12:43] marcoippolito opened #810 "Augmented Wordnets (Stanford) through NLTK seems not working"
Hi,
I found that Stanford University's NLP Group has extended WordNet:http://ai.stanford.edu/~rion/swn/index.html

as suggested in the webpage, I downloaded wn400k_cropped.tgz (http://ai.stanford.edu/~rion/swn/wn400k_cropped.tgz), unzipped the folder and put the files in the folder of the pre-existing installation of wordnet:
marco@pc:~/nltk_data/corpora/wordnet$ ls -a
.  ..  adj.exc  adv.exc  cnt

[2014-12-11 14:47] davidsbatista commented on #107
Hi! I've been using NLTK for a while and I would like to contribute to the project. Is this task still necessary? If it is, I don't mind doing it. Are there any code guidelines specific for NLTK?

[2014-12-11 22:15] westhomas opened #812 "nltk.download gives an HTTP 301"
I installed nltk and i typed the following commands
 import nltk   nltk.download()

The dialog comes up but the stack immediately outputs at 301:

BadStatusLine: HTTP/1.1 301Moved Permanently

Here's the stack:

Traceback (most recent call last):
  File "/usr/local/Cellar/python/2.7.5/Frameworks/Python.framework/Versions/2.7/lib/python2.7/lib-tk/Tkinter.py", line 1470, in **call**
    return self.

[2014-12-11 23:08] westhomas commented on #812
https://github.com/nltk/nltk/blob/develop/nltk/downloader.py#L380

This line should be:

`DEFAULT_URL = 'http://www.nltk.org/nltk_data/'`

[2014-12-11 23:14] westhomas commented on #812
Seems downloader.py cannot follow 301s. There are more in the XML file: http://www.nltk.org/nltk_data/index.xml.

[2014-12-12 05:01] longdt219 commented on #722
We can easily resolve this one by adding
-outputFormatOptions keepEmptySentences
as part of the options for stanford POS tagger.
==>testlist = ["blah","","blah"]
==>print(StanfordTagger.tag_sents(testlist))
[[(u'b', u'NN'), (u'l', u'NN'), (u'a', u'DT'), (u'h', u'NN')], [], [(u'b', u'NN'), (u'l', u'NN'), (u'a', u'DT'), (u'h', u'NN')]]

However, what I'm thinking is the empty token inside the string

[2014-12-12 19:30] stnatic commented on #694
I had almost no time during the last 2 weeks so I apologize for not starting a mailing group thread.

I see that @longdt219 is now assigned to this issue. Although, it seems to be a rather big task assuming that the classifier would be written in pure Python. Is there still any room for contribution? If so, please let me know.

[2014-12-14 10:44] heatherleaf commented on #804
More methods (including the ones mentioned by @stevenbird ):
- `classify.decisiontree.DecisionTreeClassifier.pp()`: returns a string
- `metrics.confusionmatrix.ConfusionMatrix.pp()`: returns a string
- `Tree.pprint()`: returns a string
- `Tree.pretty_print()`: prints on stdout
- `FreqDist.pprint()`: returns a string
- `sem.lfg.FStructure.pprint()`: returns a string
- `sem.drt.DrtExpression.pprint(

[2014-12-14 10:52] heatherleaf commented on #804
Some things to discuss first:
1. Sometimes `pprint()` prints the object (e.g., `DrtExpression`), and sometimes it returns a string (e.g. `FStructure`)
2. `Tree` currently has both `pprint` and `pretty_print`, which do different things.

[2014-12-14 11:01] dimazest commented on #804
i like the "standard" Python behavior:  `pformat` to get a pretty string, `pprint` to print it.

The naming might be a bit confusing in the beginning, it's not crystal clear wht 'p' stands for, but this can be explained in the documentation.

[2014-12-14 22:34] longdt219 commented on #694
Hi @stnatic, I'm a bit confuse here, why we should re-implement the classifier given that nltk already provides many classifiers i.e. svm, maxent etc.

[2014-12-15 02:35] #812 closed, assigned to nobody

[2014-12-15 02:36] stevenbird commented on #812
@edgecaselabs – thanks for reporting this problem.

[2014-12-15 02:48] stevenbird commented on #810
NLTK's interface is for the current Princeton WordNet format, not an extension of the older 2.1 format. Has anyone converted Snow et al's work to use the current WordNet format? If so, there would be a case for developing an NLTK corpus reader specifically for that. If someone would like to work on it, please open a new issue.

[2014-12-15 02:48] #810 closed, assigned to nobody

[2014-12-15 02:51] stevenbird commented on #803
The changes between NLTK 2 (from 2013) and NLTK 3 are extensive! Can you please supply a complete code sample that allows the problem to be replicated? That would be a good start at least.

[2014-12-15 03:04] stevenbird commented on #797
Thanks for the analysis, @ProgVal. I guess it is not surprising that directly setting `groups` is a slightly risky thing to do. I take it that this was only an issue in 3.4.2-2, so will not try to fix it.

[2014-12-15 03:04] #797 closed, assigned to nobody

[2014-12-15 03:12] stevenbird commented on #743
This is not a valid issue. Please post such questions to the nltk-users mailing list.

[2014-12-15 03:12] #743 closed, assigned to nobody

[2014-12-15 03:13] jnothman commented on #803
Is the lazy loading engineered to be thread-safe? otherwise, it seems
something very likely to blow up in multithreading.

In any case, multithreading is a form of parallelism that is not often very
effective in Python, because any object reference manipulation requires
holding a global mutually exclusive lock (the GIL). Multithreading is only
likely to provide substantial benefits when the most e

[2014-12-15 03:18] stevenbird commented on #757
@he7d3r should "ança" and "anças" be step 1 suffixes?

[2014-12-15 03:18] #792 closed, assigned to stevenbird

[2014-12-15 04:24] #753 closed, assigned to nobody

[2014-12-15 04:31] stevenbird commented on #756
I agree, @he7d3r . Additionally, it would be good to refactor the code slightly, and provide a `suffix_replace` function. Is this something you could do, and submit a PR please?

[2014-12-15 04:50] longdt219 commented on #805
We will try to replicate the official conll 06 eval software from http://ilk.uvt.nl/conll/software.html and evaluate on English and non-English treebank using malt parser.

[2014-12-15 04:53] stevenbird commented on #804
I think that we should use `pprint` in a way that is consistent with the standard library's `pprint.pprint`, i.e. it should print a formatted version of the object on stdout or to the specified stream, [in a form which can be used as input to the interpreter](https://docs.python.org/3/library/pprint.html). Similarly, `pformat` would return the same string.

I suggest that we use `pretty_print` to

[2014-12-15 05:10] longdt219 commented on #805
I created a pull request, could you check and close this issue @stevenbird

[2014-12-15 05:12] longdt219 commented on #735
I created a pull request, could you check and close this issue @stevenbird

[2014-12-15 08:06] longdt219 commented on #788
I don't know but using these might help.
sys.__stdout__
sys.__stderr__

These objects contain the original values of stdin, stderr and stdout at the start of the program. They are used during finalization, and could be useful to print to the actual standard stream no matter if the sys.std\* object has been redirected.

I committed the code (new pull request), could you check @stevenbird

[2014-12-15 08:10] dimazest commented on #804
`pretty_format` is a good idea. I'm for these 4 methods.

[2014-12-15 08:55] Liontooth commented on #803
Multiprocessing in fact is perfectly adequate for my task, so multi-threading is likely not worth pursuing. The code I link to above is complete if anyone should want to pursue it, but it sounds like this is not a good use of NLTK time.

Thank you for the feedback!

Cheers,
David

[2014-12-15 08:55] #803 closed, assigned to nobody

[2014-12-15 12:00] he7d3r commented on #753
But shouldn't the links be updated to point to the GitHub repository?

[2014-12-15 23:59] stevenbird commented on #753
@he7d3r please see my earlier commit above. Or are you referring to some other sourceforge link?

[2014-12-16 00:16] he7d3r commented on #753
If I understood correctly, the code was moved to the nltk_teach repo, but since the links were not changed, we still have [21 code results on nltk_teach](https://github.com/nltk/nltk_teach/search?utf8=%E2%9C%93&q=nltk.sourceforge.net) and the [14 code results on nltk repo](https://github.com/nltk/nltk/search?utf8=%E2%9C%93&q=%22nltk.sourceforge.net%22&type=Code).

[2014-12-16 00:16] stevenbird commented on #804
By the way, it looks like the [pprint module](https://docs.python.org/3/library/pprint.html) is designed to support subclassing. However, [it might be too tedious to use](http://stackoverflow.com/questions/3258072/best-way-to-implement-custom-pretty-printers). For now I suggest that we don't bother with it and have our own custom `pprint` methods, and only come back to this if we find that we want

[2014-12-16 00:33] #722 closed, assigned to longdt219

[2014-12-16 00:58] #805 closed, assigned to longdt219

[2014-12-16 01:02] #788 closed, assigned to longdt219

[2014-12-16 02:30] jnothman commented on #805
You should probably note in the evaluation implementation which other
implementation it is trying to replicate, as I gather there are a few
quirks in this space across dependency evaluator implementations.

On 16 December 2014 at 11:58, Steven Bird notifications@github.com wrote:

[2014-12-16 04:37] westhomas commented on #812
You bet. However that commit won't solve the problem completely as the downloader still fails on the individual packages which also contain 301s:

[code]

[2014-12-16 04:53] stevenbird commented on #812
Oh, right. The problem is here:

[code]

Line 2 of https://github.com/nltk/nltk_data/blob/gh-pages/Makefile

[2014-12-16 05:09] stevenbird commented on #735
Resolved by https://github.com/nltk/nltk/commit/66c9292603e73e6c7ea1ef8c093421d6e068b3a7

[2014-12-16 05:09] #735 closed, assigned to longdt219

[2014-12-16 05:24] stevenbird opened #815 "Floating point division"
Audit the codebase and replace old idioms for getting floating point division, e.g.:

[code]

with:

[code]

[2014-12-16 11:25] shcherbin commented on #693
There are two versions of Universal Dependency Treebank, do we need to add them both?

[2014-12-16 17:31] stnatic commented on #694
Hi @longdt219, I didn't mean implementing SVM from the ground up, I rather meant that converting a CoNLL treebank data to learning data for the learning black-box might take a solid amount of programming effort.

I think that the standard feature model used for arc-eager is the one described in http://www.maltparser.org/userguide.html#featurespec, I've read some paper that also worked assuming tha

[2014-12-16 22:26] stevenbird commented on #693
This issue is superseded: https://github.com/nltk/nltk/pull/809

[2014-12-16 22:26] #693 closed, assigned to stevenbird

[2014-12-16 22:34] stevenbird opened #816 "Visualizing dependency trees"
Extend NLTK's [tree drawing module](https://github.com/nltk/nltk/blob/develop/nltk/draw/tree.py) to support the display of dependency trees. Include the methods used by IPython Notebook, cf #684.

NB http://nlp.stanford.edu/software/stanford-dependencies.shtml

[2014-12-18 19:51] he7d3r commented on #757
Yeah, I think so.

[2014-12-18 21:03] stevenbird commented on #804
So, to summarise:
- `pprint` will print a formatted version of the object, in a form that can be used as input to the interpreter
- `pprint` will take an optional stream argument
- `pformat` just returns this string
- wherever `pprint` is available, `pformat` will also be available (in fact, `pprint` will just call `pformat`)
- `pretty_print` and `pretty_format` are parallel methods, less often pr

[2014-12-19 12:56] yamasite opened #819 "sentense disambiguation"

[2014-12-19 19:31] #819 closed, assigned to nobody

[2014-12-20 13:06] nournia commented on #816
[dependency-parse-tree](https://github.com/sobhe/dependency-parse-tree) project may help. Actually I prepared this for RightToLeft languages (e.g. Persian) but supporting LeftToRight is not that hard.

[2014-12-20 19:15] #756 closed, assigned to nobody

[2014-12-20 19:29] ewan-klein commented on #816
Hi Nourian,

I haven’t looked into your code, but the idea of using D3.js seems sensible, and the output is impressive. Would you consider trying to interface your approach with the existing treatment of dependency grammars in NLTK?

Regards,

Ewan

[2014-12-20 20:44] stevenbird commented on #784
I think this error is produced by re.compile when we attempt to reload the pickled object. I don't understand why re.compile is being called, since [when a class instance is unpickled, its **init**() method is usually not invoked](https://docs.python.org/3/library/pickle.html#pickle-inst).

[2014-12-22 07:03] longdt219 commented on #694
Hi @stevenbird
In the original implementation, they use libsvm. Could we include libsvm to nltk or should we substitute with the implemented maxent classifier ?

[2014-12-22 10:59] heatherleaf commented on #804
Ok, here's my interpretation of the summary. Apparently only Tree can pretty-print something that is readable by the interpreter. FreqDist comes close.

The following should be renamed to `pretty_format`:
- `classify.decisiontree.DecisionTreeClassifier.pp()`
- `metrics.confusionmatrix.ConfusionMatrix.pp()`
- `sem.lfg.FStructure.pprint()`
- `sem.drt.DrtExpression.pretty()`
- `parse.chart.Chart.pp()

[2014-12-22 17:36] nournia commented on #816
Actually, that piece of code is compatible with current DependencyGraph implementation and you only need to convert `dependency_tree` object to `CONLL` format:

[code]

But I think this resulted figure only can be shown in browser engine, e.g. visualizing trees in IPython notebooks.

[dependency-parse-tree](https://github.com/sobhe/dependency-parse-tree) finds minimum required tree height based on

[2014-12-22 22:56] stevenbird commented on #543
We can check an environment variable `SENNA`. Also need to update the wiki instructions: https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software

[2014-12-22 23:07] stevenbird commented on #694
It is fine to have a libsvm dependency. The only question is whether we need to redistribute the `svm.py` wrapper, or else use `pip` or some other package management tool to install it (cf https://github.com/Salinger/libsvm-python).

[2014-12-22 23:12] stevenbird commented on #104
@longdt219 please try to recreate this CRF tagger using the current version of Mallet.

[2014-12-23 03:52] jnothman commented on #694
Another alternative is to rely on scikit-learn's libsvm wrappers.

On 23 December 2014 at 10:07, Steven Bird notifications@github.com wrote:

[2014-12-23 07:41] stevenbird commented on #694
Thanks @jnothman – that would be better, since we already have a dependency on scikit-learn.

[2014-12-27 07:16] pratapvardhan opened #821 "Absolute to Relative imports"
As of now, most or may be all of the src code uses absolute imports like
`from nltk.probability import FreqDist, MLEProbDist, entropy`
would it be better to chnage them to relative imports like
`from ..probability import FreqDist, MLEProbDist, entropy`

Presently, it is highly likely, we would be importing global nltk installations..

What do you think?

[2014-12-27 14:58] kmike commented on #821
Do you have practical issues with these imports? I don't understand when could absolute imports cause problems; the only case I can think of is a renamed top-level "nltk" folder, and I don't think this is an use case we should worry about.

Consider the following: there is `from nltk.probability import FreqDist` import in `nltk.collocations`. If you import `nltk.collocations` then `collocations` i

[2014-12-27 15:20] stevenbird commented on #821
Also, we follow PEP-8 which recommends the use of relative imports.

[2014-12-27 15:20] #821 closed, assigned to nobody

[2014-12-27 18:24] ewan-klein commented on #821
You mean ‘absolute’ not ‘relative':

[2014-12-27 20:26] WGH- commented on #238
Is it really resolved? I can reproduce in NLTK 3.0.0 on both Python 2.7 and Python 3.3.

[2014-12-31 09:26] progval opened #824 "Install with pip3 is broken (new release of setuptools?)"
I use Travis CI to run builds every 12 hours; and one hour ago, the [install of nltk](https://travis-ci.org/ProjetPP/integration/builds/45504432#L708) on this environment broke:

[code]

[2014-12-31 22:25] andresriancho commented on #824
Confirmed, installation doesn't work anymore.

[2014-12-31 22:30] andresriancho commented on #824
This is the setuptools version that doesn't work:

[code]

[2014-12-31 22:33] andresriancho commented on #824
Confirmed, the attribute doesn't exist in [the latest version](https://bitbucket.org/pypa/setuptools/src/41db17ef8356cebd6c7d04b91d82f745c4662360/setuptools/command/sdist.py?at=default)

[2014-12-31 22:36] andresriancho commented on #824
Looks like something similar to this would work, but need a maintainer to confirm:

[code]

[2014-12-31 22:38] andresriancho commented on #824
Or maybe just remove these lines?:

[code]

[2015-01-01 15:16] markuskiller commented on #824
Temporary workaround for users who have `setuptools>=10.0` installed in their python environment:

[code]

To check for `setuptools` version, type `pip list`:

[code]

[2015-01-01 18:08] markuskiller commented on #824
Workaround for `.travis.yml -->` add `setuptools` to `before_install` section:

[code]

Workaround for `.tox.ini -->` add `setuptools` to `deps` in `[testenv]` (adding it to `requirements.txt` won't do the trick, as the correct version of `setuptools` needs to be installed before `requirements.txt` is processed):

[code]

[2015-01-02 02:20] andresriancho commented on #824
@stevenbird ideas on a definitive fix?

[2015-01-02 22:07] papachoco opened #825 "Failure to install under setuptools 10.x"
Hi,

I get the following error while installing nltk 3.0.0 under buildout and setuptools 10.x

  File "build/bdist.macosx-10.10-x86_64/egg/setuptools/sandbox.py", line 205, in run_setup
  File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/contextlib.py", line 35, in **exit**
    self.gen.throw(type, value, traceback)
  File "build/bdist.macosx-10.10-x86_64/egg/setuptoo

[2015-01-03 00:00] papachoco commented on #825
same issue as nltk#824

Is there any time frame for a new 3.0.1 release?

Carlos

[2015-01-03 00:02] papachoco commented on #824
Is there a time frame for a 3.0.1 release?
Carlos

[2015-01-03 03:58] longdt219 commented on #694
Hi @stevenbird  and all,
Here is some results from our arc-eager and arc-standard implementation compared with Malt Parser on part of English PTB with
- training data : 181 sentences (165: projective, 16: non-projective)
- testing data  : 214 sentences

Our implementation :
A.  Arc-standard (UAS,LAS)
- Training data : (0.961, 0.956)
- Test data : (0.737, 0.708)

B. Arc-Eager (UAS,LAS)
- Training d

[2015-01-04 13:11] aliostad commented on #824
So its not just me then.

[2015-01-05 16:40] yacc143 commented on #824
Is it also possible to fix this for 2.0.4? We are currently not able to upgrade to NLTK3.

[2015-01-06 16:34] the-efi commented on #824
Another "Please fix this soon" vote from me.

[2015-01-06 17:33] PanderMusubi commented on #494
Could this please be reopened?

[2015-01-06 20:10] xuw10 commented on #824
It also happened to me when I was trying to install nltk on my mac by running:
sudo pip install -U nltk

[2015-01-06 22:24] enewe101 opened #826 "Documentation broken link"
The "Documentation" link on the wiki page `https://github.com/nltk/nltk/wiki/FAQ` appears to be broken.

[2015-01-06 22:44] jnothman commented on #494
Except your issues regarding "„Really" and "“No" are unrelated to the sentence tokenizer. They're issues with the PTB word tokenizer, and should be presented as a separate issue without the confusing history shown here.

[2015-01-07 05:07] briandeheus commented on #824
+1 for fixing this asap.

[2015-01-09 08:40] intentionally-left-nil commented on #824
+1 affected by this

[2015-01-10 23:04] adepue commented on #824
+1 for a fix for this

[2015-01-11 08:33] stevenbird commented on #826
Thanks; this is fixed.

[2015-01-11 08:33] #826 closed, assigned to nobody

[2015-01-11 08:54] stevenbird commented on #825
I'll try to get 3.0.1 out this week.

[2015-01-12 00:08] #825 closed, assigned to nobody

[2015-01-12 00:54] stevenbird commented on #824
I cherry-picked from #827 into [release-2.0.4](https://github.com/nltk/nltk/tree/release-2.0.4) and [release-3.0.0](https://github.com/nltk/nltk/tree/release-3.0.0) and updated the files at https://pypi.python.org/pypi/nltk/2.0.4 and https://pypi.python.org/pypi/nltk/3.0.0

[2015-01-12 00:54] #824 closed, assigned to nobody

[2015-01-12 11:35] andresriancho commented on #824
@stevenbird why not a +1 in the minor version number?

[2015-01-12 11:41] stevenbird commented on #824
There's no change in the codebase, and it seemed like overkill to trigger fresh downloads. However, I can do +1 if people think it's the right thing to do. Note that 3.0.1 should be out soon.

[2015-01-12 11:48] andresriancho commented on #824
Ok, thanks for clarifying

[2015-01-12 11:58] kmike commented on #824
+1 for point releases: replacing a released file could cause problems with mirrors, local caches, stale md5 sums. For example, if user already has nltk 2.0.4 in pip download cache then `pip install -U 'nltk < 3.0'` may not work because pip could think the cached version is the latest (I haven't tried it though).

[2015-01-12 13:14] adepue commented on #824
+1 on point releases as well.
We had to go through and clear pip caches everywhere to get this update.

[2015-01-12 15:44] the-efi commented on #824
+1 to get a new version. Without it it goes like this:

[code]

[2015-01-12 17:57] pratapvardhan opened #834 "Use of sparse in maxent classifier"
It seems like `sparse` argument is not used anywhere in the [train function](../blob/develop/nltk/classify/maxent.py#L227) of Maximum Entropy Classifiers? So, remove the argument or am I missing something?

[2015-01-12 23:08] stevenbird commented on #543
Some issues with Senna are showing up on the [CI server](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py26-jenkins/lastCompletedBuild/testReport/)

[2015-01-12 23:13] stevenbird commented on #824
I've posted [2.0.5](https://pypi.python.org/pypi/nltk/2.0.5) and reinstated [2.0.4](https://pypi.python.org/pypi/nltk/2.0.4). I've created [3.0.1](https://pypi.python.org/pypi/nltk/3.0.1) which differs from 3.0.0 only in the fix to setup.py.

[2015-01-13 09:09] kmike commented on #824
Thanks @stevenbird!

[2015-01-13 18:42] syllog1sm commented on #694
Hi,

You may be interested in my write up on shift-reduce dependency parsing here: https://honnibal.wordpress.com/2013/12/18/a-simple-fast-algorithm-for-natural-language-dependency-parsing/ . Note that the post describes the arc-hybrid transition system, just because it was slightly easier to describe.

The implementation, https://gist.github.com/syllog1sm/10343947 , is BSD licensed, so you can ad

[2015-01-14 00:24] longdt219 commented on #694
Thank you @syllog1sm. They are very detail comments.

[2015-01-16 23:37] stevenbird opened #840 "pos_tag in NLTK 3"
The model used by `pos_tag` in NLTK 3 should be set to `taggers/maxent_treebank_pos_tagger/PY3/english.pickle`, cf https://groups.google.com/forum/#!topic/nltk-users/e4ULOXFAOV8

[2015-01-17 16:44] tukan opened #842 "Wrong release/codebase of the 3.0.1 version on pypi"
Current version of nltk on pypi is 3.0.1, but I believe that both archives nltk-3.0.1.tar.gz (md5: c4f4b7be66d19dd5faf3c8336bb4cec4; https://pypi.python.org/packages/source/n/nltk/nltk-3.0.1.tar.gz#md5=c4f4b7be66d19dd5faf3c8336bb4cec4) and nltk-3.0.1.zip (md5: c46021ba97c4451234f05cd62973b94f; https://pypi.python.org/packages/source/n/nltk/nltk-3.0.1.zip#md5=c46021ba97c4451234f05cd62973b94f) were

[2015-01-18 03:12] longdt219 commented on #104
Hi @stevenbird,
Just to be clear, you just want to implement the linear chain CRF POS tagger with supporting the training and testing function ? Mallet also support for <a href = "http://mallet.cs.umass.edu/sequences.php" >  General CRF </a>.  Should we allow user to play with it more (i.e. second-order crf, multi-layer crf) ? Like @kmike said, the best of Mallet is the flexibility. To some extend

[2015-01-18 04:15] stevenbird commented on #842
Sorry for the confusion. I released 3.0.1 which differs from 3.0.0 by a single commit (see #824) in order to fix some urgent integration issues. The 3.0.1 release branch is stale and I'll remove it and shortly begin a new release branch for 3.0.2 which will include the fixes you listed.

[2015-01-18 04:45] tukan commented on #842
Thank you very much. Mostly I was confused because you wrote in the google-group that AbstractDrs bugfix will be included in 3.0.1 and then I discovered the 3.0.1 release branch with the fix and at the same time I didn't find the 3.0.1 release in the releases on github, so I thought maybe something went wrong while you were releasing 3.0.1. Glad to hear that actually everything is ok. It's not a b

[2015-01-18 04:54] #842 closed, assigned to nobody

[2015-01-18 08:40] stevenbird commented on #104
I like both suggestions. Definitely provide an interface to the linear chain CRF tagger. Before implementing anything more general, please propose the interface, for discussion here.

[2015-01-19 04:13] stevenbird commented on #602
Would anyone following this thread like to take a look at the remaining issues with #800 please?

[2015-01-21 11:33] longdt219 commented on #104
The use can specify the template they going to use in the list of possible templates including
1. Bigram template
2. Trigram template
3. Pairwise template between layers.
Therefore, the linear chain CRF equivalent to single layer general CRF with bigram template. Second order CRF equivalent to single layer general CRF with trigram template. Pairwise template specify the relation across layers. For

[2015-01-22 00:03] stevenbird commented on #104
That sounds reasonable; please go ahead.

[2015-01-23 00:23] stevenbird commented on #694
Thanks @syllog1sm – our goal here has just been to implement the published algorithms, for educational purposes. Further extensions are welcome, but beyond the scope of what @longdt219 is able to do. Feel free to submit a pull request any time.

[2015-01-23 00:23] #694 closed, assigned to longdt219

[2015-01-23 00:26] stevenbird commented on #784
This was resolved in #839.

[2015-01-23 00:26] #784 closed, assigned to longdt219

[2015-01-23 23:19] he7d3r commented on #754
For the record, I reported it on snowballstem/snowball-website#1 too, just in case.

[2015-01-25 00:41] #757 closed, assigned to nobody

[2015-01-25 05:46] #840 closed, assigned to stevenbird

[2015-01-25 06:22] stevenbird opened #851 "Bug in DependencyGraph._tree"
Running the dependencygraph doctests produces an error, probably due to recent changes in `DependencyGraph`. It shows up in https://github.com/nltk/nltk/blob/develop/nltk/parse/dependencygraph.py#L265

@dimazest – would you be able to look at this please?

[code]

[2015-01-25 06:25] stevenbird commented on #851
There's a related problem for the non-projective dependency parser:

[code]

[2015-01-25 06:33] stevenbird opened #852 "fes doctests breaking"
The new functionality in #832 is causing some errors [reported by Jenkins](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py26-jenkins/lastCompletedBuild/testReport/nltk.corpus.reader.framenet/FramenetCorpusReader/fes/). The problem is simply that the outputs aren't in a canonical order. @nschneid would you please take a look?

[2015-01-25 06:52] stevenbird opened #853 "Unable to find Java installation on Jenkins"
Wrappers for the Stanford tools [can't find the Java binary on the CI server](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py26-jenkins/lastCompletedBuild/testReport/nltk.parse/stanford/StanfordParser/). @xim would you please advise?

[2015-01-25 12:01] #852 closed, assigned to nobody

[2015-01-25 12:36] longdt219 commented on #104
Hi @stevenbird,
It turns out that the general CRF doesn't not support for separate training and testing. I implemented the wrapper for the <a href ='http://mallet.cs.umass.edu/sequences.php'> convention  linear chain CRF </a>
I created a <a href='https://github.com/nltk/nltk/pull/855'> pull-request </a> for this.

[2015-01-25 22:51] dimazest commented on #851
I'll try to have a look by the end of the week.

[2015-01-26 02:26] andrecunha opened #856 "Cannot import NLTK in Python 3.4.2: AttributeError: 'module' object has no attribute 'isclass'"
Hello,

I cannot import NLTK 3.0.1 in Python 3.4.2. When I create a virtualenv, install nltk with pip, open a python interpreter, and do `import nltk`, I get this error message right away:

[code]

Curiously, if I install ipython (2.3.1) inside the virtualenv, and import nltk inside ipython, it works.

[2015-01-26 07:56] stevenbird commented on #856
@kmike do you have any advice here?

[2015-01-26 08:22] kmike commented on #856
I've created a new Python 3.4 environment, executed 'pip install nltk' and then imported NLTK from standard `python` REPL, it worked. So I can't reproduce it.

But there is some suspicious code in decorators.py module:

[code]

I think the proper way to distinguish nltk.tokenize from tokenize is to use `from __future__ import absolute_imports`. Modifying sys.path on import in a completely unrelate

[2015-01-26 08:37] kmike commented on #856
What do you think about dropping nltk.decorators altogether?

It is an outdated bundled version of an external package, and it is not used by NLTK itself. Comment says that this moduleis `Included in NLTK for its support of a nice memoization decorator.`, but this decorator is not used by NLTK, and there are similar decorators available as external packages for users who need them.

[2015-01-26 09:27] stevenbird commented on #104
In #855 we are discussing the idea of using CRFSuite instead of Mallet. There seems to be no reason to provide a Mallet interface. Unless there are any objections, I propose that we provide a CRF tagger using CRFSuite.

[2015-01-26 13:44] andrecunha commented on #856
I've just realized that this error only happens when I import nltk from a particular directory, which is a Python project I'm currently working on, and it has a file called `inspect.py`. This file was shadowing the standard `inspect` module. I've renamed the file, and everything is now working fine. I'm really sorry. :(

[2015-01-26 13:45] kmike commented on #856
@andrecunha it is still a bug in NLTK - have it used `absolute_imports` this wouldn't happen. So thanks for reporting it and for finding a reason!

[2015-01-26 14:06] kmike commented on #856
Hmm, I'm wrong - it does't depend on absolute_imports.

[2015-01-26 14:06] #856 closed, assigned to nobody

[2015-01-28 08:24] stevenbird commented on #834
Yes, and `sparse` is not defined in the docstring either.

[2015-01-28 08:26] stevenbird commented on #834
Resolved in https://github.com/nltk/nltk/commit/b647b2a3c51de6cee609277070dd17958e83455a

[2015-01-28 08:26] #834 closed, assigned to stevenbird

[2015-01-28 09:20] stevenbird commented on #804
I've documented these changes in the wiki page [Porting your code to NLTK 3.0](https://github.com/nltk/nltk/wiki/Porting-your-code-to-NLTK-3.0)

[2015-01-28 09:22] stevenbird opened #859 "Optional stream argument for pprint"
Add an optional stream argument to any `pprint` methods, for consistency with pprint.pprint, cf #804.

[2015-01-28 09:24] stevenbird opened #860 "Add pformat methods"
Wherever `pprint` is available, provide `pformat` (`pprint` will just call `pformat`), cf #804.

[2015-01-28 09:25] #804 closed, assigned to nobody

[2015-01-28 09:26] stevenbird commented on #804
Thanks for the significant help, @heatherleaf

[2015-01-28 09:27] stevenbird commented on #851
Thanks. It's one of the few things to resolve before 3.0.2 can be released.

[2015-01-30 19:23] rleegoldman opened #867 "Import namespace issues"
I noticed that there's some clobbering of module names -- or at least one: `from nltk import util` will import nltk.sem.util rather than nltk.util. Similarly, after `import nltk`, then nltk.util is actually from nltk/sem/util.py

[2015-02-01 23:18] stevenbird commented on #851
There's another downstream problem with the projective dependency parser:

[code]

This is holding up 3.0.2.

[2015-02-01 23:19] stevenbird commented on #851
I just saw the PR. Thanks @dimazest – I hope that solves the problems.

[2015-02-02 09:41] stevenbird commented on #851
Unfortunately there are still problems with our dependency parsers, which seem to have arisen after #822 was merged. @dimazest I'd be grateful if you would look into it some more please.

[2015-02-02 10:22] dimazest commented on #851
right, i've noticed problems with `nltk.parse.nonprojectivedependencyparser.ProbabilisticNonprojectiveParser` but didn't see a clear solution right on spot. I'll have a look later this week.

[2015-02-02 20:58] stevenbird commented on #851
@longdt219 would you please take a look at these problems soon? They're holding up 3.0.2. I'd rather not have to revert @dimazest's PR #822.

[2015-02-02 21:42] longdt219 commented on #851
yes I will @stevenbird

[2015-02-03 01:11] stevenbird commented on #851
Thanks for #869 @longdt219

[2015-02-04 17:02] rsnape opened #873 "nltk.gaac.demo() incompatible with python 3"
I found this in answering a [StackOverflow question](http://stackoverflow.com/a/28327086/838992).  The gaac.demo() does not work as in util.py, _DendrogramNode does not implement the __lt__() function.  There is an additional small bug in the format() method due to the different way the division operator works in Python 3 vs 2.

I've hacked a solution in the linked answer which I'm quite happy for

[2015-02-05 02:25] stevenbird commented on #873
Thanks @rsnape. Given that we're clustering vectors (1D arrays), I don't see how `<` is meant to work. I'd be grateful for any clarification, thanks.

[code]

[2015-02-05 04:17] #867 closed, assigned to nobody

[2015-02-05 04:17] stevenbird commented on #867
Thanks @rleegoldman.

[2015-02-05 04:19] #755 closed, assigned to nobody

[2015-02-05 10:15] rsnape commented on #873
whoops - my mistake - that didn't work properly (I was rushing to try and help out the OP and let them try the tool - they found the same problem!).  On my machine, I'd actually used `value.any()` -  gist of the exact hack I used on util.py [available here](https://gist.github.com/rsnape/0d9c7a1ac62dd90dffa0).  Your query raises a deeper question, though - how should one compare the two vectors.

[2015-02-05 10:22] rsnape commented on #873
Musing on this and realised the other thing I haven't done is check to see whether that hack either:
1. Breaks the tool in Python 2.x (can't see why it should, but should have tested it)
2. Breaks some other functionality in the clustering toolbox (ditto)

[2015-02-05 15:38] alvations commented on #798
`gensim` has a range of very good vector space tools. And i'm also working on python based neural net with as little dependencies as possible. Currently, i think i am depending on scipy and numpy and I want to cut scipy out because of dependencies.

What if we "port" code from gensim? Would that be okay?

[2015-02-05 15:47] kmike commented on #798
Gensim is good! -1 for "porting" gensim code because it means more code to maintain for NLTK for no clear benefit.

[2015-02-05 16:38] dimazest commented on #798
Agree, that it doesn't worth of reimplementing gensim inside of NLTK.

However, would it make sense to implement functionality to perform word similarity tasks (for example, wordsim353) in NLTK. Should nltk then depend on gensim?

Gensim's `Dictionary` is useful to decide what context words should be to build co-occurrence based vectors. But I didn't find code that builds a co-occurrence matrix.

[2015-02-05 18:51] alvations commented on #798
`CooccurenceSpace` sounds a little weird but i get the idea.

Is the assumption for the space plain `Bag of Words`? Or should the module allow different space of various information and density? E.g. `Skip-grams`, or `contextual BoW` (i'm not sure whether c in cbow means contextual but it does use the context window)?

A good thing is that we don't need compression modules since the recent study h

[2015-02-05 20:43] dimazest commented on #798
Class name doesn't matter that much. The main idea is to make it easy to build spaces used in the literature. It would be cool to have a common API that allows to build common distributional (distributed) models.

[2015-02-06 00:05] stevenbird commented on #853
Server configuration has been updated.

[2015-02-06 00:05] #853 closed, assigned to longdt219

[2015-02-06 00:08] stevenbird commented on #851
These issues have been resolved in #870 and #872.

[2015-02-06 00:13] stevenbird commented on #543
Previously, Senna was not installed on the CI server, and so the doctest was being skipped. @longdt219 modified jenkins.sh to download Senna.

[2015-02-06 00:13] #543 closed, assigned to longdt219

[2015-02-06 00:19] stevenbird commented on #761
This is an issue with the Stanford Named Entity Tagger, and @longdt219 has reported it here:
https://mailman.stanford.edu/pipermail/java-nlp-user/2015-January/006722.html

[2015-02-06 00:26] stevenbird opened #875 "Add interface to Universal Dependencies dataset"
http://universaldependencies.github.io/docs/

[2015-02-06 05:24] stevenbird opened #876 "ParserI inconsistencies"
In spite of the modifications in #620, there are still inconsistencies in the ParserI interface:
1. the dependency parsers do not inherit ParserI
   - the dependency parsers implement raw and tagged methods
   - the ParserI methods implemented by the dependency parsers do not return iterators
2. `parse_all` never needs to be defined
   - the stanford and malt parsers redundantly define `parse_all(

[2015-02-06 17:40] alvations commented on #798
At some point, we should make the module scale to this: http://www.cs.bgu.ac.il/~yoavg/publications/acl2014syntemb.pdf

[2015-02-07 12:37] alvations opened #877 "Setting all encoding for Stanford tools to UTF8 as default"
Is there a reason to set [`StanfordTagger._encoding`](https://github.com/alvations/nltk/blob/develop/nltk/tag/stanford.py#L39) as 'ascii' ?

To be consistent with python3, can we change the default to UTF8?

[2015-02-07 13:06] alvations commented on #761
@longdt219 issue was because the stanford tools commands in NLTK's API are static:
- POS: https://github.com/alvations/nltk/blob/develop/nltk/tag/stanford.py#L126
- NER: https://github.com/alvations/nltk/blob/develop/nltk/tag/stanford.py#L159

`-tokenizerOptions "tokenizeNLs=true"` arguments are needed to keep newlines.

[2015-02-07 22:10] stevenbird commented on #851
We still seem to have a problem stemming from #822:

[code]

https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py26-jenkins,jdk=oraclejdk8/lastCompletedBuild/testReport/nltk.test.unit.test_corpora/TestCoNLL2007/test_parsed_sents/

[2015-02-07 22:17] stevenbird opened #878 "Efficiency of new dependency representation"
PR #822 included https://github.com/nltk/nltk/commit/e0f0630155eec7e0df5b907ee523ad7ed8a04f5b in which `self.nodes` was changed from `defaultdict(lambda: {'deps': []})` to `defaultdict(lambda: {'deps': defaultdict(list)})`. At the inner level, we've replaced a list with a defaultdict over lists. I'm concerned about the performance consequences of this more expensive representation. @dimazest would

[2015-02-08 03:16] stevenbird commented on #851
The dependencies doctest is also broken by this PR:

[code]

@dimazest this is blocking the 3.0.2 release

[2015-02-08 15:50] dimazest commented on #851
I'll have a look as soon as I get to my laptop.

[2015-02-08 21:46] dimazest commented on #878
Hi, I'm using DependencyGraph to extract dependencies from ukwac and didn't notice any speed penalty, but I don't have any concrete numbers, so I might be wrong.

It might be the case that `defaultdict`s are more efficient, because iterations like https://github.com/nltk/nltk/pull/879/files#diff-5771d1c43509b27a40aee3c0debde28eL715 are not needed anymore.

Actually, I think that the code that uses

[2015-02-08 22:11] longdt219 commented on #761
Hi @alvations,
The problem is not about keeping newlines with `-tokenizerOptions "tokenizeNLs=true"`
The problem is how to stop stanford tokenizer because the input is already tokenized.
This was done in stanford POS by passing the argument `-tokenize false`
However this is not implemented in NER and using `-tokenizerFactory edu.stanford.nlp.process.WhitespaceTokenizer's didn't solve the problem a

[2015-02-08 22:41] #851 closed, assigned to dimazest

[2015-02-11 10:18] stevenbird opened #882 "NLTK downloader bug"
[code]

[2015-02-11 10:31] kaselis commented on #882
The same here, started this morning only. nltk version 2.0.4

[2015-02-11 11:24] boffbowsh commented on #882
Ditto, with 3.0.0 and 3.0.1 here

[2015-02-11 12:04] alexlouden commented on #882
+1 same here

Looks like collections contains `lang_id` which doesn't have a package definition:

[code]

Here's the culprit: https://github.com/nltk/nltk_data/blob/fa7aae1c5c5e26b3cc3217dae15005c471184819/collections/all-corpora.xml#L29

I'll make a pull request

[2015-02-11 12:22] stevenbird commented on #882
I dealt with [the spurious langid line](https://github.com/nltk/nltk_data/blob/fa7aae1c5c5e26b3cc3217dae15005c471184819/collections/all-corpora.xml#L29) in [this commit](https://github.com/nltk/nltk_data/commit/dba94eb6d16f8367f1b3631eeee73a4bffb94ba2) but the downloader is still broken.

[2015-02-11 12:24] alexlouden commented on #882
I think this is the problem:
`<item ref="bllip_wsj_no_aux.xml"/>`

Could you remove the `.xml`?

https://github.com/nltk/nltk_data/blob/23a9666955ec0c9bedeb25dc4903bcd8d9caa8ae/collections/all.xml#L88

[2015-02-11 12:27] stevenbird commented on #882
Oops. Removed in https://github.com/nltk/nltk_data/commit/1528e595716bc9001a7a7f3bbdea55b3406c9842

[2015-02-11 12:30] stevenbird commented on #882
OK, all working again, thanks @alexlouden!

[2015-02-11 12:30] #882 closed, assigned to stevenbird

[2015-02-11 12:31] alexlouden commented on #882
No worries - thanks for your fast fixes!

[2015-02-11 18:17] stevenbird commented on #816
@gmonce we would very much like to integrate your work on visualising dependency trees.

[2015-02-11 19:52] gmonce commented on #816
It will be a pleasure, just let me know what I can do to help. What I have mostly done is to generate dot representations from the dependency parse structure of NLTK

[2015-02-12 03:51] stevenbird commented on #816
Thanks. So, would the next step be to add `dot` and `_repr_svg` methods to `Tree` and `DependencyGraph`? @oplatek might be able to contribute.

[2015-02-12 08:40] oplatek commented on #816
Actually, since dot is format, you can create `_repr_dot_` function which would be used in `_repr_svg_`, `_repr_png_`, etc together with graphviz library to create svg and png images.
Let me know when/if I can help.

[2015-02-14 05:38] chenbouyea opened #885 "NLTK import error"
I'm new to Python and NLTK. I've been trying to find a solution to my problem but have not found one yet and was hoping someone could help me.

I'm currently running 64bit Windows 8. I've followed the instruction in the NLTK website (http://www.nltk.org/install.html). I might have installed a 64bit version Python in the first place but have removed it and reinstall 32bit version Python. Now I'm ha

[2015-02-15 03:47] longdt219 opened #886 "Issues with nltk/parse/pchart.py"
Demo for pchart FAILED.
python nltk/parse/pchart.py result in error :
Traceback (most recent call last):
  File "pchart.py", line 485, in <module>
    demo()
  File "pchart.py", line 400, in demo
    from nltk import tokenize, toy_pcfg1, toy_pcfg2
ImportError: cannot import name toy_pcfg1

When toy_pcfg1 and toy_pcfg2 are defined according to nltk.grammar,
toy_pcfg1 = PCFG.fromstring("""
    S ->

[2015-02-15 03:53] stevenbird commented on #885
Would you please try using a more recent version of Python? We converted various trained models to Unicode in order to fix problems like this, but it only works in Python 3 (cf #169).

[2015-02-15 03:56] #886 closed, assigned to stevenbird

[2015-02-15 04:02] #877 closed, assigned to nobody

[2015-02-15 04:05] stevenbird commented on #877
This is also consistent with the encoding specified in `tokenize/stanford.py` and `parse/stanford.py`.

[2015-02-15 09:43] alvations commented on #877
@stevenbird thanks for the change to `utf8` =)

[2015-02-15 10:08] chenbouyea commented on #885
Thank you Steven. This problem did not occurred anymore after using Python 3.

[2015-02-15 10:08] #885 closed, assigned to nobody

[2015-02-17 23:32] SumeetSandhu commented on #483
Hi, I have a specific need - to convert Brown tags to Penn Treebank tags. Is there 'official' code that does that?

The painful solution = read https://catalog.ldc.upenn.edu/docs/LDC95T7/cl93.html and map manually. Unfortunately this link doesn't articulate an exhaustive mapping and I don't want to guess at linguistics.

I do need the full Penn tags - not the NLTK simplified set - as the tag subca

[2015-02-17 23:50] nschneid commented on #483
This is apparently not supported in NLTK yet, but see Dan Zeman's [Interset](https://wiki.ufal.ms.mff.cuni.cz/user:zeman:interset) tool or my script at https://gist.github.com/nschneid/6476715 – specifically, `brownSequence2ptb()`.

[2015-02-18 01:10] stevenbird commented on #483
This would be welcome functionality if anyone wanted to add it.

[2015-02-18 05:14] SumeetSandhu commented on #483
thank you Nathan - I will start with your list in POSMappings.txt and perhaps edit a bit - hoping I can avoid compound Brown tags for formal/scientific texts.

[2015-02-18 17:10] Amanda-Clark opened #888 "Collocations and Twitter feeds problem"
I've been trying to use collocations with Twitter feeds, and have run into a bit of an issue. When I download someone's Tweets with the Twitter API, and run nltk.collcations(), instead of common phrases and words, I get mostly Twitter handles. "@whosits @soandso; @bob @sam", etc. People often phrase Tweets in that way-"@Bob @Blah How did you like the movie?" and so collocations seems to be returni

[2015-02-19 05:48] w0rm79 opened #889 "UnicodeDecodeError with nltk.pos_tag"
Hi!

The following function call

[code]

results with error:

[code]

I have tried with two nltk versions from anaconda: `3.0.0 np19py34_0` and `3.0.1 np19py34_0`. Python version string is `Python 3.4.1 |Anaconda 2.1.0 (32-bit)| (default, Sep 24 2014, 18:34:57) [MSC v.1600 32 bit (Intel)] on win32`.

Any ideas how to get rid of this problem?

Thanks,

Jani

[2015-02-19 06:15] w0rm79 commented on #889
Ok!

I was actually able to solve this out. The problem is in `nltk.tag.__init__.py`:

[code]

For Python 3 this should be instead

[code]

Maybe someone knows how to make this dynamic based on Python version.

Jani

[2015-02-19 12:54] oplatek commented on #816
I created PR https://github.com/nltk/nltk/pull/891

[2015-02-21 05:16] stevenbird commented on #888
@ewan-klein do you have any thoughts on this?

[2015-02-21 18:32] stevenbird commented on #889
This is a duplicate of #840, and will appear in version 3.0.2.

[2015-02-21 18:32] #889 closed, assigned to nobody

[2015-02-22 15:07] ewan-klein commented on #888
@Amanda-Clark There is some ongoing work on the `twitter` branch of NLTK to provide better treatment of tweets. If you change to that branch, you'll find a tweet-aware tokeniser `https://github.com/nltk/nltk/blob/twitter/nltk/tokenize/casual.py`. In principle, we could define a method `normalize()` that strips out Twitter handles and URLs from a tweet text. However, looking at the demo at the end

[2015-02-22 16:31] Amanda-Clark commented on #888
@ewan-klein Is there someone working on doing that? Sorry I'm not used to how (open source) projects are done in GitHub, or in general.

[2015-02-22 17:24] salamatin commented on #99
@stevenbird 'Kazakh-UTF8' file still contains incorrect characters. There is a proper Kazakh text in the **udhr2** corpus, but it doesn't rectify the issue with **udhr**. Should the incorrect file be changed?

[2015-02-22 18:56] kmike commented on #99
@salamatin there is no reason to use "udhr" corpus; it is kept for backwards compatibility. Maybe we should have a deprecation warning or something like this.

[2015-02-22 19:31] nschneid commented on #888
Regarding tokenization for Twitter: This would be nice to have in NLTK. In case you haven't seen it, [Twokenizer](http://www.ark.cs.cmu.edu/TweetNLP/) does a lot of processing for emoticons, etc. (But unlike PTB-style tokenizers it does not attempt to separate clitics.)

[2015-02-22 19:45] salamatin commented on #99
@kmike Thanks — didn't know about it being deprecated. The book still refers to "udhr" at the moment.

[2015-02-22 19:46] ewan-klein commented on #888
@Amanda-Clark Can you clarify what you mean by 'doing that'?

[2015-02-23 02:41] Amanda-Clark commented on #888
@ewan-klein Sorry I was referring to what you said here: "However, looking at the demo at the end of https://github.com/nltk/nltk/blob/develop/nltk/collocations.py, it seems that the obvious thing to try, at least in the first instance, would be to apply a word_filter which returns True for any string that starts with @." Is there someone working on adding that to NLTK?

[2015-02-23 06:23] iliakur opened #897 "Question about wordnet.path_similarity() results"
While getting similarity measures between synsets with different parts of speech, I noticed that more pairs than I had expected were showing as `Null`. I decided to investigate and discovered that I could get rid of these `Null`s (and arrive at float scores) if I just changed the order of the arguments to `wordnet.path_similarity()`. Below is a minimal working example:

[code]

I'm aware that gett

[2015-02-24 21:17] progval opened #898 "`OSError: Cannot load library` with Pypy3"
[code]

With a fresh install of Pypy3 (2.4.0) and the lastest version of nltk in pip.

Installing tcl8.5 does not resolve this issue.

[2015-02-24 21:18] progval commented on #898
Note: I do not have this error with CPython 3.4

[2015-02-26 10:26] DavidNemeskey opened #899 "HunposTagger error in Python3"
Bug report from Tülin Erçelebi Ayyıldız:

[code]

[code]

[2015-02-26 11:26] #899 closed, assigned to nobody

[2015-02-26 12:54] he7d3r opened #901 "Implement Turkish stemmer"
There is a snowball implementation of a stemmer for Turkish at
http://snowball.tartarus.org/algorithms/turkish/stem_Unicode.sbl
but this is not yet available in NLTK for usage with Python.

[2015-02-27 20:30] Besitypanacea opened #902 "nltk grammar checker"
I am trying to implement a python grammar checker on python. I  already have the part of the code that needs modification. What I need is a code that can highlight text on the searched words that need replacing by showing a drop down list of better suggestions when you point at it. The code should highlight text with a different color and warn the user before a replacement is made like what micros

[2015-02-28 05:46] stevenbird commented on #902
Closing. Please only submit issues relevant to NLTK

[2015-02-28 05:46] #902 closed, assigned to nobody

[2015-02-28 08:54] Besitypanacea commented on #902
I have done some modification on the question like you asked. Please consider it.

[2015-02-28 08:59] Besitypanacea opened #903 "nltk grammar checker"
I am trying to implement a python grammar checker on python. I  already have the part of the code that needs modification. What I need is a code that can highlight text on the searched words that need replacing by showing a drop down list of better suggestions when you point at the text. The code should highlight text with a different color and warn the user before a replacement is made like what

[2015-02-28 09:03] #903 closed, assigned to nobody

[2015-02-28 09:06] Besitypanacea commented on #903
Why have you done this and i have changed the question? Why are you fruastating my efforts?

[2015-02-28 09:27] Besitypanacea opened #904 "nltk question"
I am trying to implement a python grammar checker on python. I  already have the part of the code that needs modification. What I need is a code that can highlight text on the searched words that need replacing by showing a drop down list of better suggestions when you point at the text. The code should highlight text with a different color and warn the user before a replacement is made like what

[2015-02-28 15:32] stevenbird commented on #904
Duplicate of #902 and #903, not relevant to NLTK. I've reported this user for repeatedly opening the same issue.

[2015-02-28 15:32] #904 closed, assigned to nobody

[2015-03-02 16:17] trinitys commented on #897
path_similarity() across parts of speech is not commutative (by design). The key to that is the difference in the notion of root for different synsets. If you look into the code for path_similarity(), you'll notice the default variable simulate_root=True, that creates a dummy root in the tree of the taxonomy that allows traversing from one part of speech to another in the first place. Also notice

[2015-03-02 16:43] iliakur commented on #897
Thanks, @trinitys! `self._needs_root()` was the detail I was missing. Was under the impression that `simulate_root=True` would have led to commutativity, but was wrong. I'm closing this issue, the question has been answered.

[2015-03-02 16:43] #897 closed, assigned to nobody

[2015-03-02 18:58] Besitypanacea commented on #90
i also have the same problem when replacing words. Nltk can only change two words or one word like bday: to birthday.

[2015-03-03 01:35] stevenbird commented on #901
Thanks @he7d3r. I see that someone would need to port it first, so I can't do anything until there's a PR.

[2015-03-03 02:32] stevenbird opened #905 "Improvements to arc-eager and arc-standard algorithms"
Joakim Nivre has made some improvements to both of these algorithms. @longdt219 please show him the implementations you have created and request his input.

[2015-03-03 04:05] stevenbird opened #906 "Interface to Kaldi HMM toolkit?"
Explore the possibility of interfacing NLTK to [Kaldi](http://kaldi.sourceforge.net/about.html), via [pykaldi](https://github.com/UFAL-DSG/pykaldi) (from @oplatek).

[2015-03-03 04:11] stevenbird commented on #715
@pandersity, @rmdiamondl, @serapio – I'm just getting back to this. Thanks for your interest. I'd like to discuss how we can move forward. Is there consensus in working with LIFT format? Does this include the interlinear text data or can that be accessed via some other export format?

[2015-03-03 05:39] longdt219 commented on #905
Hi @stevenbird,
How do you know that he has made some improvement ? Should I email him asking for these changes ?

[2015-03-03 06:27] stevenbird commented on #905
Yes. Please include a pointer to the implementations you've already done.

[2015-03-03 09:05] oplatek commented on #906
Hi,
I do not think it is feasible right know because
1) The pyfst wrapper for my inkremental decoder interface can be built only for Ubuntu 14.04 (tested) and Ubuntu 12.04 (not tested right now)
I would need to figure out how to transfer compilation parameters from Kaldi configure to cython setup.py (and this is not my priority)
2) Kaldi and mainly openfst compiles about 15 minutes with paralelize

[2015-03-03 22:28] serapio commented on #715
The LIFT file just has the lexicon, and the texts are exported as .flextext files. Flextext is also an XML format, so it's not hard to read, but I do not know of any documentation for it, and I don't know how stable it is as a standard.

[2015-03-04 07:46] rmlockwood commented on #715
LIFT is just for lexical data. FLExText XML is for texts. It is based on the Electronic Metastructure for Endangered Languages Data (EMELD) and is being used for interchange between ELAN and FLEx.

[2015-03-04 20:59] joyofdata opened #907 "window_size parameter of collocations() seems to be not working"
Dear NLTK-Team!

As far as I understand the `window_size` argument of the `collocations()` method, it should control the N for the N-grams being evaluated.

[code]

Hence, I assume for `window_size=3` the output should feature 3-grams.

Is this a bug or do I misunderstand something here.

Thanks in advance

Raffael

[2015-03-04 21:26] stevenbird commented on #907
`window_size` is the number of words to look at when searching bigrams. "When window_size > 2, count non-contiguous bigrams". http://www.nltk.org/api/nltk.html?highlight=window_size

[2015-03-04 21:26] #907 closed, assigned to nobody

[2015-03-04 22:10] jnothman commented on #907
To be sure, there is a `TrigramCollocationFinder` and a `QuadGramCollocationFinder` incase you want 3- and 4-grams.

[2015-03-04 22:37] joyofdata commented on #907
Sorry for the confusion and thanks for the information!

[2015-03-05 23:59] stevenbird opened #910 "Fix CI failing tests"
https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/testReport/

[2015-03-07 21:23] stevenbird commented on #878
I've done some of my own testing of loading a dependency graph, and parsing a sentence using a dependency grammar, in 3.0.1 and in pre-3.0.2, and there's no significant performance impact from the new representation. Loading a graph was slightly faster, though I'm not sure why.

[2015-03-07 21:23] #878 closed, assigned to dimazest

[2015-03-07 21:25] stevenbird commented on #910
It looks like the corpora are not being downloaded to the CI server.

[2015-03-07 21:27] stevenbird commented on #905
Joakim Nivre recommends the following improvements:
1. Add the Swap transition to the arc-standard parser in order to allow non-projective trees. This should be relatively straightforward.
2. Add a dynamic oracle for the arc-eager parser. This requires a switch from batch learning to online learning.
3. Add beam search and structured learning à la Zhang and Clark (2008) to both parsers. This requi

[2015-03-08 19:39] ChameleonRed opened #911 "Dead code int pl196x - it is impossible to execute since always occuring exception?"
This code is not possible to be executed:

[code]

Why because always `_resolve(*, **) == None, None`.

[code]

[2015-03-08 20:11] ChameleonRed commented on #911
File "C:\root\Python27\lib\site-packages\nltk\corpus\reader\pl196x.py", line 270, in xml
    if len(fileids) == 1: return XMLCorpusReader.xml(self, fileids[0])
TypeError: object of type 'NoneType' has no len()

[2015-03-09 05:06] longdt219 commented on #910
Hi @stevenbird,
Why do you think the corpora are not being downloaded ? It said
`[nltk_data]  Done downloading collection all` from the console output
https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py26-jenkins,jdk=jdk8latestOnlineInstall/251/console

[2015-03-09 05:14] stevenbird commented on #910
Only because a previous test result gave an error for every corpus access. However, these errors have gone now.

[2015-03-09 05:50] stevenbird commented on #910
@copper-head – there are some errors in probability.py reported by our [CI server](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/testReport/), that might have arisen since I merged your work (see https://github.com/nltk/nltk/commit/8dcae605a91a9f18fc02b75eda0b95fde4e71820#diff-100d02c6ef23dc5d864fec05084fe72d). I haven't checked to confirm this. But since you were most recently in the

[2015-03-09 11:50] ChameleonRed opened #913 "ipipan module looks like dead since not data for corpus in internet"
I tried download data for ipipan module but not found on http://korpus.pl/index.php?page=download or http://clip.ipipan.waw.pl/NationalCorpusOfPolish.

This data looks as suitable (similar file names) but not loads http://korpus.pl/download/frek.bin.tar.bz2 some functions not works like `.readme()` and there is not `.words()`, `.sents()`, `.paras()`.

[2015-03-09 12:13] ChameleonRed commented on #913
I was prepared such test code:

[code]

Gives such result - something wrong with loading data from http://korpus.pl/download/frek.bin.tar.bz2:

[code]

[2015-03-09 12:36] he7d3r opened #914 "Add stopwords for Azerbaijani"
Currently, the stopwords corpora available in NLTK data only includes these languages: danish, dutch, english, finnish, french, german, hungarian, italian, norwegian, portuguese, russian, spanish, swedish and turkish.

This is a feature request for a similar list of stopwords for the _Azerbaijani_ language (az). Something like 100--150 words should be a good start, and would be enough for our purp

[2015-03-09 12:43] stevenbird commented on #914
Sure, that would be welcome.

[2015-03-09 12:55] stevenbird commented on #913
Is this it? I'm thinking about adding this to the NLTK corpus collection, for use with `corpus.reader.nkjp`.
http://clip.ipipan.waw.pl/NationalCorpusOfPolish?action=AttachFile&do=get&target=NKJP-PodkorpusMilionowy-1.2.tar.bz2

[2015-03-10 11:03] sathik11 opened #915 "NLTK.Text UnicodeDecodeError"
Example
text_sample: "i have this card for about 1 1/2 year now and it have perform flawlessly"
text1 = nltk.Text(nltk.word_tokenize(text_sample))

When i run above code snippet in 64 bit machine(python 2.7, sys.version_info(major=2, minor=7, micro=9, releaselevel='final', serial=0)) i get
""ascii' codec can't decode byte 0xa0 in position " error" at
...\ntlk\text.py line 304 self.name = " ".join(

[2015-03-10 11:33] kmike commented on #915
Hi @sathik11,

In Python 2.x `'i have this card for about 1\xc2\xa01/2 year now '` is a byte string (unless unicode_literals future import is active); NLTK expects unicode as an input. So you're passing incorrect input to NLTK, that's why it fails.

Try `u'i have this card for about 1\xa01/2 year now '` or `u"i have this card for about 1 1/2 year now and it have perform flawlessly"` - decode your

[2015-03-10 11:33] #915 closed, assigned to nobody

[2015-03-10 17:07] salamatin opened #916 "Add handling of angled quotation marks to the Treebank tokenizer"
TreebankWordTokenizer currently does not split off angled quotation marks («»), used in Spanish, Russian and a bunch of other languages:

[code]

Would it be appropriate to change the tokenizer to treat these quote marks as the English ones?

[code]

[2015-03-11 01:33] stevenbird commented on #910
Resolved by https://github.com/nltk/nltk/commit/89a08d4e295e953aad3d4efd195cc739dc5b52bc

[2015-03-11 01:33] #910 closed, assigned to longdt219

[2015-03-12 01:43] #104 closed, assigned to longdt219

[2015-03-12 19:57] ChameleonRed commented on #913
**ipipan module** is dead but **ipipan corpus** is not dead - whetever you can not download parsable data for ipipan module - author of module can not help with it - I will ask him again but still not response.

nkjp is very good direction I am waiting for nltk 3.0.1+ with nkjp. nkjp looks very good and is prepared with more modern tagging methods. Please realease nkjp ASAP.

You can ask author of

[2015-03-12 20:19] stevenbird commented on #913
So once I add nkjp (https://github.com/nltk/nltk/pull/844), what still needs to happen?

[2015-03-12 21:39] ChameleonRed commented on #913
I think https://pypi.python.org/pypi publication is need I will test nkjp. Next thing is inflection for Polish without it there will be no lemmanization - **nkjp contains some morfeusz/manual lemmatization**.

**Inflection/lemmatization is very important** in Polish since multi gender, multi inflection, and nice, normal, hard forms of objectives (you will say "old cat" "stary kocur" rather than "s

[2015-03-12 21:49] ChameleonRed commented on #913
You can try http://nkjp.pl/poliqarp/nkjp1M/query/ and "kot", "kotka", "kocię" - all is cat - he, she, it:
 [kot:subst:sg:nom:m2] singular:nominative:male-inflection-2 (can be about one of 150 inflections)
 [kotek:subst:sg:acc:m2] OR  "[kotka:subst:sg:nom:f]" (accusative male or nominative female - context need to determine)
 "[kocię:subst:sg:nom:n]" (nominative neutral) (morfeusz tagged 300 mln co

[2015-03-13 06:23] longdt219 commented on #798
Hi all,
Here is some though

(1) Using word2vec through gensim is a good start. However, having common API for word representation either distributional or distributed is crucial since this is the main contribution. There is a big comparison of word embedding methods at `wordvectors.org/index.php`

(2) We can incorporate some pre-trained english model to our corpora.
(3) Allow to load external wor

[2015-03-14 00:04] tsyber1an commented on #824
@markuskiller thanks!

[2015-03-15 10:06] hyp3rv1p3r opened #919 "nltk 3.0.2 + Python 3.4 -> Resource 'help/tagsets/PY3/upenn_tagset.pickle' not found."
Hi all,
just installed nltk 3.0.2 and I found this issue:

[2015-03-16 00:09] stevenbird commented on #919
Thanks for reporting this problem. Resolved in https://github.com/nltk/nltk_data/commit/3e786aba2c708d61868fb44f23acca9ea69b5d0e; the tagsets file needs to be unzipped. Please unzip the file manually, or else re-download it (e.g. with `sudo python -m nltk.downloader tagsets`.

[2015-03-16 00:09] #919 closed, assigned to stevenbird

[2015-03-16 18:32] brendanwood opened #920 "ImportError: cannot import name PunktWordTokenizer"
There appears to be a regression related to PunktWordTokenizer in 3.0.2. The issue was not present in 3.0.1, rolling back to that version or earlier fixes the issue. This is what I'm seeing:

[code]

Is this an intentional change to the API?

[2015-03-16 19:30] prpfialho opened #921 "boxer.py: invalid literal for int() with base 10: 'nam'"
I got the following exception, which did not occur in NLTK 3.0a4, using the same CANDC/Boxer version and setup:

   y = x.interpret(sent)
  File "/home/misnis/work/phd/semsim/lib/python2.7/site-packages/nltk/sem/boxer.py", line 87, in interpret
    d, = self.interpret_multi_sents([[input]], discourse_ids, question, verbose)
  File "/home/misnis/work/phd/semsim/lib/python2.7/site-packages/nltk/sem/

[2015-03-16 20:11] stevenbird commented on #920
Please see #746

[2015-03-16 20:11] #920 closed, assigned to stevenbird

[2015-03-16 20:22] stevenbird commented on #921
@dhgarrette do you know why `boxer.py` is [trying to convert a string to an int](https://github.com/nltk/nltk/blob/develop/nltk/sem/boxer.py#L379)? I can't imagine how the [recent changes to boxer.py](https://github.com/nltk/nltk/commits/develop/nltk/sem/boxer.py) could have caused this.

[2015-03-16 20:28] prpfialho commented on #921
if it helps, one of the sentences where this occurs is:

"The world's two largest automakers said their U.S. sales declined more than predicted last month as a late summer sales frenzy caused more of an industry backlash than expected."

although i've seen it with others.

[2015-03-17 00:30] prpfialho commented on #921
just found out that the latest Boxer has recently changed. Thus, some changes (such as in the above trace, where the named predicate now has only 3 args) are not yet reflected in NLTK.

I'll commit when I find any.

[2015-03-17 05:09] kylebgorman opened #922 "BLEU score brevity penalty does not follow definition"
Papineni et al. (2002), if I understand correctly, define the BLEU brevity penalty as follows:
- let _c_ be the length of the candidate
- let _r_ be the length of the reference which is closest in length to the candidate

Then, BP = 1 if c > r, and BP = exp(1 - r / c) otherwise.

(There are some details about doing this at the corpus level, but they're not relevant to the point at hand.)

But this

[2015-03-17 08:42] dimazest commented on #922
Hi,

Thank you for the report.

I might be overseeing some small details in the snippets you provided, but your solution does exactly the same as the current in NLTK.

If c (12) is less then r (28) then the function returns 1, because c is less then r.

I'll check the paper, but first I need to have a cup of coffee :)

[2015-03-17 18:26] prpfialho commented on #921
Just to close this issue, if the int() conversion is removed (ie, sense var is used as a string), everything else works with Boxer revision 2553.

[2015-03-17 18:31] stevenbird commented on #921
So I think we still need to resolve this issue.

[2015-03-17 19:05] kylebgorman commented on #922
I respectively disagree. A worked example follows:

[code]

This prints:

[code]

Compare the following (with the same initializations):

[code]

which prints:

[code]

Even intuitively, this is wrong. The candidate is far, far too short, and so an exponential brevity penalty should penalize it aggressively.

I believe you have that backwards. The brevity penalty is always _less than_ 1 if c is le

[2015-03-18 05:07] stevenbird opened #924 "merge crubadan branch"
Cf #107, #845, #884, #890.

[2015-03-18 18:46] dimazest commented on #922
I've finally got it. Thanks for the explanation. (I should not try to read code early in the morning)

Running the example on python 3, I get 0.2636, not 0.3679 (but that's because of true division)

[code]

Another question, just to be sure. For `c = 12` and the reference lengths of `13` and `2` the brevity penalty should be 0.92, not 1.

[code]

[2015-03-18 19:22] dimazest commented on #922
What should be done in this case (assuming the implementation in https://github.com/dimazest/nltk/blob/bleu_another_fix/nltk/align/bleu_score.py#L206 )?

[code]

[2015-03-18 21:38] kylebgorman commented on #922
Oops on true division. I work in Python 3 99% of the time, so I forgot to import future-division.

Good point, the brevity penalty equation should have sane behavior in the presence of ties in `abs(ref_len - c)`. The paper does not say, but the official `mteval.pl` script from NIST has a (reasonable) opinion. Their examples are for c = 7:

[code]

So, you want to choose the lower of the two when t

[2015-03-19 11:42] dimazest commented on #922
#926 is supposed to fix this

[2015-03-19 21:09] kylebgorman commented on #922
if those tests pass then i think it's right!

[2015-03-24 07:40] salamatin opened #928 "Brown Corpus to Universal tag mapping: NR-TL and NR-TL-HL are incorrectly mapped to X"
Tags NR-TL and NR-TL-HL (adverbial nouns in titles and headlines) are missing from the `nltk_data/taggers/universal_tagset/en-brown.map` file, so words like 'West' or 'Friday' are sometimes incorrectly tagged with the default X tag:

[code]

[2015-03-24 07:45] salamatin commented on #928
Just noticed in should be fixed with https://github.com/nltk/nltk_data/issues/15

[2015-03-24 07:45] #928 closed, assigned to nobody

[2015-03-24 07:50] salamatin commented on #916
Should I create a pull request @stevenbird? Or should normalizing quotation marks be a user's responsibility? Please advise.

[2015-03-24 15:25] cy-goh opened #929 "unicodedecodeerror at StanfordParser on windows command prompt"
nltk.parse.stanford throws a unicodedecodeerror when processing inputs with utf-8 characters.

[code]

This happens in windows command prompt, when java outputs the parse tree in window's default encoding. I find that the adding "-Dfile.encoding=UTF-8" into cmd arguments in internals.py circumvents this problem.

Shouldn't StanfordParser provide an argument to remedy this?

[2015-03-25 03:41] stevenbird commented on #922
Thanks for checking @kylebgorman.

[2015-03-25 03:41] #922 closed, assigned to dimazest

[2015-03-25 03:41] stevenbird commented on #922
Thanks @dimazest

[2015-03-25 21:23] stevenbird opened #931 "nltk_tgrep"
@wroberts would you be open to the idea of incorporating [nltk_tgrep](https://github.com/wroberts/nltk_tgrep) into NLTK? (I learnt about nltk_tgrep from [this post on nltk-users](https://groups.google.com/forum/#!topic/nltk-users/iyCelNfsZ0U)).

[2015-03-26 15:14] wroberts commented on #931
Hi Dr. Bird,

Thanks for your message!  I'd be happy to see `nltk_tgrep` go into NLTK.  It seems to me that `nltk_tgrep` fits well into the NLTK project, and should be added to NLTK if possible.  I would be willing to continue maintaining the code, if you'd like.

The module is currently useable and has fairly good unit test coverage; I'm in contact with Prof. Emily Bender, which might result in a

[2015-03-27 05:25] stevenbird commented on #931
Thanks @wroberts! I think it can live in `nltk/tgrep.py`. It would be great if you would continue to maintain it there. It needs to be ported to Python 3 – is that something you would have time to do? The pyparsing dependency should only be an issue at runtime. I.e.:

[code]

[2015-04-02 14:37] wroberts commented on #931
`nltk_tgrep` currently does py26, py27, py32, py33, and py34 (I'm using `future` to provide compatibility between py2 and py3).  I suppose `future` can be imported the same way as `pyparsing`, by simply throwing out ImportError.

I'll remove the license statement from the source (I'm currently distributing `nltk_tgrep` under MIT, but Apache-2.0 would work fine, too), `filter-branch` and send you a

[2015-04-03 13:17] ermakovpetr opened #936 "Latent Semantic Analysis"
What do you think about adding a Latent Semantic Analysis (LSA) in NLTK?
I am often faced with the need to apply the LSA in my tasks and would like to have it in NLTK.

I am ready to make the implementation of this algorithm in NLTK and would like to hear the opinion of mentors on this issue.

[2015-04-06 07:26] Stophface opened #939 "Snowball Stemmer error on Hungarian"
That came up already a couple of times when I try to stem Hungarian text:

`Traceback (most recent call last):
  File "ranking_tags_dynamic.py", line 40, in <module>
    wordStemmed = stemmer.stem(j)
  File "/Library/Frameworks/Python.framework/Versions/3.3/lib/python3.3/site-packages/nltk/stem/snowball.py", line 1912, in stem
    r1 = self.__r1_hungarian(word, self.__vowels, self.__digraphs)
  Fi

[2015-04-08 13:48] alvations opened #942 "nltk.text.demo() fails in py3.x"
In py3.x, dispersion plot is failing:

[code]

It's working in py2.7 though, in `python 2.7+`, the dispersion and libplots pops up:

[code]

Related question (not really an issue): http://stackoverflow.com/questions/29514778/nltk-text-throws-an-error

[2015-04-08 18:52] alvations opened #943 "Stabalize MaltParser once and for all"
MaltParser API in NLTK has been breaking on several occasions:
- http://stackoverflow.com/questions/14009330/how-to-use-malt-parser-in-python-nltk
- http://stackoverflow.com/questions/20091698/malt-parser-throwing-class-not-found-exception
- http://stackoverflow.com/questions/21815891/dependency-parser-using-nltk-and-maltparser
- http://stackoverflow.com/questions/29513187/maltparser-not-working-i

[2015-04-08 18:57] alvations commented on #943
A few things we need to forgo:
- the `working_dir` parameter isn't very useful, especially when it's not necessary to run MaltParser from command line.
- finding malt parser binaries shouldn't be part of the API in `/usr/local/bin`, it should be like how stanford tagger API works in `nltk.tag.stanford`, let the user give the path to the maltparser and we do a quick `find_jar`.
- command creation s

[2015-04-08 19:04] alvations commented on #943
Let's start with allowing only maltparser-1.8 to work then work out how to fit all possible malts.

[2015-04-08 20:33] alvations commented on #943
Current, the patched malt.py works for parsing with pre-trianed models: https://github.com/alvations/nltk/blob/patch-1/nltk/parse/malt.py

We need to rename some of the functions because it's getting a little confusing:
 - `tagged_parse_sents`: parse multiple sentences with POS tagged.
 - `tagged_parse` : parse one sentence with POS tagged
 - `parse_sents`: parse multiple sentence without POS tags

[2015-04-09 02:17] alvations commented on #943
Moved to #944

[2015-04-09 02:17] #943 closed, assigned to nobody

[2015-04-12 01:53] stevenbird commented on #942
@alvations do you have Tkinter installed for Python 3.4?

NB https://github.com/nltk/nltk/blob/develop/nltk/draw/__init__.py#L15

(Strangely, the second line of the warning message is not appearing in your output.)

[2015-04-12 01:55] stevenbird commented on #939
@Stophface: did you submit the complete error message? I think there might be something missing.

[2015-04-12 02:01] stevenbird commented on #936
@ermakovpetr are there implementations in sklearn or numpy that would do the job? Then it might be just a matter of demonstrating how to use it in connection with other NLTK functionality. That would be a welcome contribution. We can easily host examples on the website (e.g. in http://www.nltk.org/howto/).

[2015-04-12 09:52] Stophface commented on #939
@stevenbird yep, I have
    IndexError: string index out of range was missing.

[2015-04-12 10:10] stevenbird commented on #939
Thanks. That line would only generate an IndexError if `word` was an empty string. Can you please check your code to see if `j` can be empty in `stemmer.stem(j)`?

[2015-04-12 10:41] Stophface commented on #939
It is very likely that `j` is empty!
I have an empty `j` all the time. It only raises an exeption with the hungarian stemmer though. With the others it works just fine...

[2015-04-12 21:18] alvations commented on #942
After installing tkinter, GTK and cairo still has issues with py3.x.

[code]

I'll try to update my pips and then install `cairocffi` to see whether it works

[2015-04-13 02:24] alvations commented on #942
After installing `tkinter` on py3.x. There were dependencies missing. I managed to resolve them by installing `libffi`, `libffi-dev` and then `cairocffi`

On Ubuntu, these line resolves the dispersion and vocab problem in `nltk.text.demo()`:

[code]

But it still gives a warning:

[code]

[2015-04-13 04:38] stevenbird commented on #942
Thanks for the update @alvations. Unfortunately I can't reproduce any of this with my Python 3.4 kit on Mac OSX.

[2015-04-13 05:55] stevenbird commented on #798
@longdt219 is there a good default pre-trained model that we could include with NLTK-data? I can add it, and then you can provide sample code for using it: load the model, then given some input, find the closest word, or compare two words, etc.

[2015-04-13 05:58] stevenbird commented on #905
@longdt219 please go ahead with the swap transition, and illustrate it using Czech (depends on https://github.com/nltk/nltk/issues/875)

[2015-04-13 06:00] stevenbird commented on #816
Resolved by #891.

[2015-04-13 06:00] #816 closed, assigned to longdt219

[2015-04-13 06:03] stevenbird commented on #761
@longdt219  please follow up with the java-nlp-user forum.

[2015-04-14 08:46] hyp3rv1p3r opened #945 "Error when trying to change sentence from menu widget in nltk.app.rdparser_app.app()"
This is the error:

Exception in Tkinter callback
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/tkinter/**init**.py", line 1533, in **call**
    return self.func(*args)
  File "/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/nltk-3.0.2-py3.4.egg/nltk/app/rdparser_app.py", line 859, in edit_sentence
    Entry

[2015-04-15 22:45] oxymor0n opened #947 "multiprocessing and nltk don't play nicely together"
Honestly, this issue is not serious as much as it is curious. I've discovered that when NLTK is imported, it will cause the any Python subprocess to terminates prematurely on a network call. Example code:

[code]

Run it with NLTK imported, and you'll see that the urlopen() call never gets executed. Comment out the `import nltk` line, and it executes fine.

Why?

*edit: this is for Python 2. I hav

[2015-04-16 11:15] dimazest commented on #947
Do you get any exceptions?

[2015-04-16 15:00] oxymor0n commented on #947
no. i put a `try .. except:` clause around the `import urllib2; print...` but got nothing from it.

[2015-04-16 15:09] helmanofer opened #948 "treebank tokenizer leaves commas at the end of sentences"
when trying to tokenize the following sentence:

[code]

the output is:

[code]

which means that there is a new feature, 'hello,'
I am not too good with regex but my suggestion is in treebank.py +67

[code]

[2015-04-18 14:09] alvations commented on #942
@stevenbird , the GTK had some problems in unix, i think it should resolve itself in the next stable update: http://stackoverflow.com/questions/29540845/how-can-i-deactivate-warning-source-id-510-was-not-found-when-attempting-to-re. I guess that's a close for this problem =)

[2015-04-18 22:47] stevenbird commented on #942
Thanks for documenting all this @alvations. I'm going to close this since I don't think there's anything to do on the NLTK side.

[2015-04-18 22:47] #942 closed, assigned to nobody

[2015-04-21 10:31] ewan-klein opened #955 "Distributing tweet collections as corpora in NLTK"
According to https://dev.twitter.com/overview/terms/policy#6._Be_a_Good_Partner_to_Twitter:

I've had confirmation from Twitter that the bulleted clause **would** allow us to make a collection of up to 50k full tweets available as part of the NLTK data distribution. I believe that the relevant license would be the [Twitter Developer Agreement](https://dev.twitter.com/overview/terms/agreement), and

[2015-04-21 10:38] ewan-klein commented on #936
I think it would be great to have support for LSA in NLTK, though I agree with @stevenbird that we ought to reuse as much as possible from existing libraries. There is a tutorial and a simple Python implementation here: http://www.puffinwarellc.com/index.php/news-and-articles/articles/33.html?showall=1

[2015-04-21 11:09] kmike commented on #936
https://github.com/piskvorky/gensim is a go-to Python package for topic modelling; it has LSA: https://radimrehurek.com/gensim/models/lsimodel.html. I think pointing NLTK users to gensim is better than creating another implementation in NLTK.

[2015-04-21 12:39] stevenbird commented on #936
+1

[2015-04-21 14:12] ermakovpetr commented on #936
@kmile, yes, but where is the lane line?
**LSA** is in the **gensim**. After **LSA** I would add **pLSA**, but where? to **gensim** too?
**NLTK** is much more popular than the **gensim**. These algorithms will see and take advantage of more people.

[2015-04-21 14:56] kmike commented on #936
Yes, I think gensim is a right place for pLSA, although gensim author said pLSA implementation is not needed - see https://groups.google.com/forum/#!topic/gensim/f6fad21h1Xg

Some advantages of having such code in gensim:
- less code to maintain for NLTK;
- many topic modelling algorithms in the same package;
- they can share common utility code;
- easier to test - unfortunately, NLTK testing suit

[2015-04-21 15:55] lrnzcig commented on #955
@ewan-klein,

Please take into account that the second solution, distributing tweet id's and let the user recover them, is constraint by [twitter rate limits](https://dev.twitter.com/rest/public/rate-limits). The fastest way to fetch the tweets would be using [GET statuses/lookup](https://dev.twitter.com/rest/reference/get/statuses/lookup), which accepts 100 id's per request, and 60 requests per 1

[2015-04-23 22:21] stevenbird commented on #936
Yes, we should just interface to gensim.

[2015-04-23 22:35] andrewyang96 opened #959 "ValueError: numpy.ufunc has the wrong size, try recompiling"
I installed nltk on my 64-bit Windows 8 using the 32-bit MS Windows installer, because I have 32-bit Python 2.7.9 installed. I also have Numpy version 1.7.0 installed. However when I type `import nltk` into the Python interpreter, I get this:

[2015-04-23 23:00] stevenbird commented on #959
Is this an NLTK issue?

[2015-04-24 00:40] stevenbird commented on #38
Superseded by #816

[2015-04-24 00:40] #38 closed, assigned to nobody

[2015-04-24 00:47] andrewyang96 commented on #959
I'm not sure, however I can import numpy and use numpy in my programs just fine.

[2015-04-24 00:48] stevenbird opened #960 "MT visualization"
Support visualisation of [word-aligned sentences](https://github.com/nltk/nltk/blob/develop/nltk/align/api.py#L16) following the method of using dot and svg from the [dependency tree visualization](https://github.com/nltk/nltk/blob/develop/nltk/parse/dependencygraph.py#L160).

[2015-04-25 13:24] sandeepcd commented on #741
where can i find data.py file?
i also getting same error as above

[2015-04-26 01:33] stevenbird opened #963 "Searching for jar files"
It looks like we only find jar files when they are listed as files in the `CLASSPATH`:

https://github.com/nltk/nltk/blob/develop/nltk/internals.py#L587

However, we have a more general way of finding binaries, given a path that is just a directory that contains the binaries:

https://github.com/nltk/nltk/blob/develop/nltk/internals.py#L466

I think [find_jar_iter](https://github.com/nltk/nltk/blo

[2015-04-27 06:11] stevenbird commented on #931
@wroberts what do you think about modifying the interface to `tgrep_positions` and `tgrep_nodes` to support a list of trees as the first parameter? Then the overheads for processing the query expression would be amortised over all the trees being queried.

[2015-04-27 12:15] wroberts commented on #931
Hi @stevenbird that's a nice thought.

It's certainly true that compiling the tgrep node predicate takes much more time than running the tgrep predicate over the nodes in a tree.  When I use tgrep searching, I tend to pre-compile the tgrep search strings (much the same way that you might precompile a regex that you use a lot) so that they're only built once, instead of every time a search is run.

[2015-04-27 19:59] mhjang opened #965 "A bug in texttiling code in python 3"
In texttiling.py,

The function identify_boundaries has a bug if you're running this on python 3 in the below piece of code.

[code]

Because lambda filter is not anymore a list unlike in python 2, the inner loop (for dt2 in hp) is done after a single pass, so it would run only one time for the first entry of the outer loop. This results in just one tile. To fix this, you need to add a explicit li

[2015-04-28 18:44] ermakovpetr commented on #936
http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html

[2015-05-01 01:20] stevenbird commented on #798
@longdt219 can we please have an example based on the [word2vec tutorial](http://radimrehurek.com/2014/02/word2vec-tutorial/). Create a good model using one of the [word2vec datasets](https://code.google.com/p/word2vec/), and prune the less-frequent words so that the model size is less than 100MB. Then we need the code for training this, and for using it to do one of the standard word similarity t

[2015-05-03 05:44] aoldoni opened #970 "Issue importing pylab (object has no attribute 'grid')"
Hi All,

This is my first request, hope not to be doing it in the wrong place.

When trying to print the frequency distribution from "3.1", Chapter 1 - I would have the following error:

[code]

I was able to fix the problem by changing all `import pylab` directives to `import matplotlib.pylab as pylab` in the probability.py file.

Does this makes sense? Can I create a pull request for this?

I am

[2015-05-03 09:05] stevenbird commented on #970
Thanks for reporting the problem @aoldoni. I can't replicate it. Pylab just imports matplotlib.pylab. The only explanation I can think of is that you might get a different version of matplotlib.pylab depending on which version of the import statement you use.

[2015-05-03 09:34] aoldoni commented on #970
Thanks @stevenbird - that's fine, I couldn't find exactly why I had to do this modification.

Just some extra information: When I do `import pylab` I believe it resolves to the pylab package folder, which for me contains only empty files.

[code]

I am not sure what the contents here should be. Anyhow, I would propose that maybe having `import matplotlib.pylab as pylab` could potentially work in m

[2015-05-04 11:21] ewan-klein commented on #955
Added first tranche of 20k tweets to nltk_data in e042f682b270a1536306298631074a59109e6566

[2015-05-04 11:21] #955 closed, assigned to nobody

[2015-05-05 08:52] longdt219 commented on #798
Created PR #971

[2015-05-07 01:59] #963 closed, assigned to longdt219

[2015-05-07 02:04] stevenbird commented on #798
Sorry not to be clearer. The best way to provide an example is to create a file `nltk/test/gensim.doctest`. Then you can explain the steps in prose, and provide doctest examples etc. The result will then appear at: http://www.nltk.org/howto/

@longdt219 would you please rework your example to be a doctest file instead of a package?

[2015-05-07 02:19] longdt219 commented on #798
Sure @stevenbird,
Do you think we should provide the visualization of the embedding. It would be a cool things to do. t-SNE is a package that most people use and it's free for non-commercial purposes.

[2015-05-07 02:45] stevenbird commented on #798
@longdt219 that sounds like a good thing to include, thanks.
Note that the word embedding data is now in the repository, but with a more specific name; please see https://github.com/nltk/nltk_data/commit/a6db6934fdebbee698f077f203d9b204ae351934

[2015-05-08 13:01] davechallis opened #976 "nltk.wsd missing from documentation"
The nltk.wsd module is part of NLTK 3.x, but doesn't appear in the online documentation (e.g. http://www.nltk.org/py-modindex.html).

[2015-05-12 06:13] stevenbird commented on #931
Thanks for your work @wroberts!

[2015-05-12 06:13] #931 closed, assigned to stevenbird

[2015-05-12 06:58] wazzzy commented on #569
Installing C&C from subversion is also not helping....

[2015-05-12 21:19] sanghack81 opened #977 "Do_Kw_pairwise method in agreement.py uses next wrongly"
The code

[code]

gives me an error
AttributeError: 'itertools._grouper' object has no attribute 'next'

It should be fixed as

[code]

[2015-05-12 21:33] #977 closed, assigned to stevenbird

[2015-05-12 21:33] stevenbird commented on #977
Thanks @sanghack81

[2015-05-14 08:57] ermakovpetr opened #978 "formula TF is not canonical"
nltk/nltk/text.py

[code]

http://en.wikipedia.org/wiki/Tf–idf
Real TF is only the number of occurrences of words in text

And there is also a variation of the "normalization":
1. Boolean "frequencies": tf(t,d) = 1 if t occurs in d and 0 otherwise;
2. Logarithmically scaled frequency: tf(t,d) = 1 + log f(t,d), or zero if f(t, d) is zero;
3. Augmented frequency, to prevent a bias towards longer doc

[2015-05-14 09:19] ermakovpetr commented on #978
see pull request https://github.com/nltk/nltk/pull/979

[2015-05-15 03:04] jnothman commented on #978
I agree that this is non-standard, although I have heard of it elsewhere (no citation). Also, something akin to length normalisation occurs with the l2-normalisation of cosine similarity, although that would take the idf into account.

[2015-05-15 03:05] jnothman commented on #959
Can you import sklearn just fine? Try `pip install -U sklearn`.

[2015-05-15 03:19] serapio commented on #978
Length normalization is included in Lucene's tf-idf, as well as in
alternative relevance measures like BM25. That said, neither of those
length normalizations are linear with the length itself. Lucene's tf-idf
uses 1/sqrt(len(text)), and in BM25 it is 1/(constants + len(text)).

On Thu, May 14, 2015 at 8:05 PM, jnothman notifications@github.com wrote:

##

Lucien S. Carroll
Graduate Student
UCSD L

[2015-05-15 20:41] stevenbird commented on #921
@dhgarrette do you have any advice?

[2015-05-18 03:14] #970 closed, assigned to nobody

[2015-05-18 03:14] stevenbird commented on #970
Done, thanks @aoldoni

[2015-05-18 05:29] aoldoni commented on #970
Great, thank you @stevenbird - glad I helped somehow.

[2015-05-18 06:01] stevenbird commented on #924
Closed by https://github.com/nltk/nltk/commit/af059ef31ae79ceb673e3858ae5907c787a74875

[2015-05-18 06:01] #924 closed, assigned to stevenbird

[2015-05-18 10:06] stevenbird opened #981 "tgrep doctests"
Lots of tgrep doctests are failing. @wroberts would you mind taking a look please? It might just be a matter of converting a generator into a list in various places.

https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/testReport/

[2015-05-18 10:08] #107 closed, assigned to nobody

[2015-05-18 10:09] stevenbird opened #982 "crubadan doctests"
Some of the Crubadan tests are failing. @avitalp would you mind having a look please?
https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py26-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/(root)/crubadan_doctest/crubadan_doctest/

[2015-05-20 00:03] stevenbird opened #983 "PanLex interface"
@kamholz, @leksilo and I have agreed on a simplified schema and API for [PanLex](http://panlex.org/), and @kamholz has created an sqlite dump and a Python wrapper for inclusion in NLTK. The wrapper needs to be made into a corpus reader, documented, and added to NLTK.

[2015-05-20 00:07] avitalp commented on #982
@stevenbird I've submitted a PR with updated doctest as well as a small corpus reader check for lang support (https://github.com/nltk/nltk/pull/984)

[2015-05-23 14:04] alexisdimi opened #985 "PlaintextCorpusReader (or dependency?) confused by BOM"
I've come across a rather perplexing bug in PlaintextCorpusReader with python 3: If an input file begins with a UTF-8 BOM and the file contains two adjacent newlines anywhere (or if some other conditions are met), the corpus reader will crash with a mysterious assertion error from the guts of corpus/reader/util.py:

[code]

The error occurs when using the output of `sents()`, and only when we get

[2015-05-23 18:40] alexisdimi commented on #978
Wikipedia actually includes linear TF. The section on TF starts with _"In the case of the term frequency tf(t,d), the simplest choice is to use the raw frequency of a term in a document, i.e. the number of times that term t occurs in document d."_ Also, whoever took out the domain http://tfidf.com specifies linear scaling for TF.

But both definitions refer to the number of "terms" in the document

[2015-05-23 21:55] alexisdimi opened #986 "IBMModel1 aligner fails when aligning novel data (Python 3)"
The method `IBMModel1.align()` fails when trying to align unseen data, evidently due to the tightened rules in Python 3 for comparing objects of different types:

[code]

The training set is really tiny, so the error is inevitable. A real training set will probably lower the probability of an exception but not eliminate it completely.

Traceback:

[code]

This error does not arise under python 2 (

[2015-05-24 09:31] stevenbird commented on #982
Thanks @avitalp.

[2015-05-24 09:31] #982 closed, assigned to nobody

[2015-05-25 21:42] duhaime commented on #181
Was there any further momentum behind this proposal? Splitta is fantastic, and it would be great to be able to call it from NLTK.

[2015-05-25 23:10] stevenbird commented on #181
Thanks @duhaime let me contact Dan and see if he has any objections.

[2015-05-26 04:37] dgillick commented on #181
Including Splitta in NLTK sounds great. Feel free to use it however you'd like. Let me know if any questions arise.

[2015-05-27 07:33] djstrong opened #989 "Integer division"
In nltk/align/bleu_score.py, in `_modified_precision(candidate, references, n)` the last line is:
`return sum(clipped_counts.values()) / sum(counts.values())`
I think there should be float division:
`return float(sum(clipped_counts.values())) / sum(counts.values())`

It influences BLEU score.

[2015-05-27 11:08] stevenbird commented on #989
@djstrong we have `from __future__ import division` at the top of the module.

[2015-05-27 11:08] #989 closed, assigned to nobody

[2015-05-27 11:29] djstrong commented on #989
Oh, sorry. I used nltk code to implement smoothed BLUE without imports...

[2015-05-27 15:13] swizzard commented on #181
I'm happy to take a crack at this, provided I can get some code review and general assistance.

[2015-05-28 08:54] sahutd commented on #981
Hi, I have trouble running doctest for tgrep. I see that there are no .doctest file for tgrep module in nltk/test. Would you please explain how I should run the doctests for tgrep module?

[2015-05-28 09:22] wroberts commented on #981
Hi @sahutd !  You can run the doctests and unit tests with:

[code]

[2015-05-28 09:24] nltk-webdeploy commented on #981
I think the failing doctests occur because a generator is returned instead
of a list, or vice versa.

On Thu, 28 May 2015 7:22 pm Will Roberts notifications@github.com wrote:

[2015-05-28 09:29] sahutd commented on #981
Thanks. Will work on it now.

[2015-05-28 09:30] wroberts commented on #981
Hi @stevenbird I've fixed up some issues in pull request #990.  There's something quite wrong with tgrep though; the search functions return very long lists of empty list items.  Could be confusion between generators and lists, which can also be confused with tgrep trees (which are also a kind of list!).  I'll try looking through the history to see if I can figure out where things went wrong.

[2015-05-28 09:44] sahutd commented on #981
@wroberts  : I saw your pull request, and it overlaps with what I worked on just now. I will wait for your PR to be merged. Then depending on whats failing, I will work on that. For now, I will look for other issues to work on.

[2015-05-28 09:46] wroberts commented on #981
OK, got it. I hadn't realised the order of the arguments to tgrep_nodes and tgrep_positions had changed. Should be good to go now.

[2015-05-28 09:48] wroberts commented on #981
@sahutd Sorry to step on your toes!

[2015-05-28 09:50] sahutd commented on #981
@wroberts No issues! Learnt something :)

[2015-05-28 15:02] shpigunov opened #991 "nltk.probability.FreqDist.plot() throws "AttributeError: 'module' object has no attribute 'grid'" in Python 3.4"
Whenever I try to plot a frequency distribution object, I get this. I tried doing `import matplotlib.pylab as pylab` as suggested in Issue #970, but it didn't help.

Here is a traceback:

`>>> myFreq.plot(100)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/nltk/probability.py", line 247,

[2015-05-28 15:08] shpigunov commented on #991
The same code works as expected in Python 2.7, by the way.

[2015-05-28 15:52] shpigunov opened #992 "nltk.Text.collocations() throws `TypeError: slice indices must be integers or None or have an __index__ method`, Python 3.4 on Mac"
Here is a traceback:

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/nltk/text.py", line 357, in collocations
    self._collocations = finder.nbest(bigram_measures.likelihood_ratio, num)
  File "/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/nltk/collocati

[2015-05-28 16:04] shpigunov commented on #992
It may have something to do with the way Python 3 handles math operations.
Quite possibly, the `n` passed to `nltk.collocations.nbest()` used to be an integer in Python 2 but it's not anymore in Python 3.

[2015-05-28 17:43] rleegoldman opened #993 "FrameNet: Subcorpus name with non-ascii character can't be handled"
This is probably an issue with the underlying xml reader, but here are the repro steps:

[code]

Looks like one of the elements in the xml file is `<subCorpus name="01-£10,000-(1)"/>`

[2015-05-29 01:10] nschneid commented on #993
I think this will be fixed with impending updates.

[2015-05-29 01:53] #981 closed, assigned to nobody

[2015-05-29 01:55] stevenbird commented on #978
@ermakovpetr – what do you think about supporting all definitions of tf listed in the Stanford IR book, with an optional `method` flag, defaulting to raw frequency (`method='natural'`), and drop the existing one (since it's not even listed in the English Wikipedia entry for tf.idf)? And likewise for idf?

[2015-05-30 10:29] ncoghlan opened #994 "Update installation instructions for recent versions of Python"
Recent versions of Python come with pip by default, so the installation instructions at http://www.nltk.org/install.html are out of date.

For modern installations (regardless of operating system), the following two steps should suffice:
1. Install NLTK: `pip install nltk`
2. Test installation: run `python` then type `import nltk`

The suggestion of optionally installing NumPy should be caveated b

[2015-05-30 10:36] ncoghlan commented on #994
For context on where this request came from, we had a new Python user come to distutils-sig confused by the setuptools/pip bootstrapping dance: https://mail.python.org/pipermail/distutils-sig/2015-May/026486.html

That dance _is_ confusing, which is why we started providing pip by default.

[2015-05-30 17:35] kmike commented on #994
Hey @ncoghlan,

Here is my past [attempt](https://github.com/nltk/nltk/blob/569c8f6f92c7258e75489c49b167053897b3ca94/web/install.rst) to write install docs, and the related discussion: https://github.com/nltk/nltk/pull/697. Could you please check it and weight in? Your experience with what's work and what's not would be very helpful.

[2015-05-31 04:13] rain1024 opened #995 "NLTK for vietnamese"
Have nltk supported vietnamese language?

In case it haven't. How can I contribute to make ntlk support vietnamese language?

It would be like this

[code]

[2015-05-31 06:06] ncoghlan commented on #994
I think it's a good idea to lead with the simple "if you are already have Python and pip installed and configured, just run 'pip install --user nltk'" instructions, as if that works, the user can just run it and move on. If you _assume_ it's necessary to instruct them on how to install Python, there's a risk they're going to put NLTK in the "too hard" basket, and miss the fact that it was only a s

[2015-05-31 08:36] ewan-klein commented on #994
The principles in @ncoghlan's proposal of:
- keep it as simple as possible, and
- delegate to other (authoritative) information sources wherever possible

both seem spot on to me.

[2015-06-01 00:32] stevethecollier commented on #991
not sure if this is will help, but I had the same issue with 2.7
I think I installed matplotlib with easy_install initially
so I uninstalled it
and re-installed it with pip
works for me now

[2015-06-02 21:15] adnelson opened #997 "Offline install?"
Is there a way to install nltk without needing access to the internet? Running `python setup.py build` starts immediately by attempting to download stuff from pypi, but I need to be able to control what it's downloading -- more accurately, I want to have something with which I can install nltk in an environment without internet access at all.

[2015-06-03 21:33] stevenbird opened #1001 "cannot import word2vec_sample"
The gensim example has an import problem on the CI server:

[code]

[2015-06-03 22:08] stevenbird commented on #976
Resolved in https://github.com/nltk/nltk/commit/4df9ff00bccf0ee6d78ddac261c09a58f7d00ab1 and deployed, cf http://www.nltk.org/api/nltk.html?highlight=wsd#module-nltk.wsd

[2015-06-03 22:08] #976 closed, assigned to nobody

[2015-06-03 22:08] stevenbird commented on #976
Thanks @davechallis

[2015-06-04 00:46] longdt219 commented on #960
Hi @stevenbird
This is merged, could you please close the issue.

[2015-06-04 01:19] longdt219 commented on #983
Hi @stevenbird ,
The datafile for Panlex is quite big. It is more than 800 mb for the dump that contains these common languages:

(u'arb-000', 34, u'arb')
(u'ben-000', 67, u'ben')
(u'cmn-002', 128, u'cmn')
(u'deu-000', 157, u'deu')
(u'eng-000', 187, u'eng')
(u'fra-000', 211, u'fra')
(u'hin-000', 275, u'hin')
(u'ind-000', 298, u'ind')
(u'ita-000', 304, u'ita')
(u'jav-000', 309, u'jav')
(u'jpn-000',

[2015-06-04 10:39] zariuq commented on #992
Btw, if so, they changed Python 2 to do the same thing as Python 3 there. As I get a similar error.

[2015-06-04 11:05] jnothman commented on #992
Looking at the code in both those modules, that is surprising, to say the least... Nor can I replicate it on 3.0a4. But then again, I'm not sure what Text instance you're using, as you haven't given us an example of code that triggers the error.

[2015-06-04 11:05] jnothman commented on #992
Btw, at first I thought the sort of thing that changes numeric types between Py2 and 3 is integer division. I still don't see how that applies here. `num` is passed and it is a direct argument of `collocations()` with default value 20.

[2015-06-04 11:12] zariuq commented on #992
Well, I get the same TypeError when trying to run http://www.nltk.org/book_1ed/ch03.html#code-stemmer-indexing (example 3.6). In Python 2 though.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<string>", line 17, in concordance
  File "/usr/local/lib/python2.7/dist-packages/nltk/corpus/reader/util.py", line 242, in __getitem__
    return self._cache[2][start-offs

[2015-06-04 11:19] jnothman commented on #992
what does that have to do with Text.collocations()?

On 4 June 2015 at 21:12, zariuq notifications@github.com wrote:

[2015-06-04 11:35] stevenbird commented on #983
The complete dataset is even bigger. But the size is not a problem, so long as performance of sqlite is adequate. Can you report some performance results on a desktop machine with large RAM, for queries to get the translations of words between specific language pairs?

[2015-06-04 20:26] swizzard commented on #181
@stevenbird should this be assigned to me? Also, my first crack at porting splitta is here: https://github.com/swizzard/nltk-splitta/tree/raker-token_class (feedback from @dgillick would also be appreciated)

[2015-06-04 23:11] longdt219 commented on #983
Hi @stevenbird ,
Getting translation for a word between languages is acceptable.
Running with the full dump db4.sqlite (4.2 G), on my computer UbuntuX64, 8Gb ram, Core i7 3.4, the translation from English -> German takes
14s for cat (>50 results)
11s for garden (~50 results)
7s for kite (20 results)

My query is
SELECT ex.tt,ex2.tt
FROM mn
JOIN ex ON (ex.ex = mn.ex)
JOIN mn mn2 ON (mn2.mn = mn.mn)

[2015-06-06 13:17] tfry-git opened #1007 "NERTagger.tag_sents() no longer tokenizes sentences."
Apologies for double posting: I also posted this as a comment to commit c6b5fa6dcc360c6542328071c92ac666a70e195b but I'm not sure it gets read, there:

This commit seems to fix the problem twice:
1) Changing tag() to work ok, if the input is tokenized into multiple sentences, and
2) changing _cmd() to suppress sentence tokenization, entirely.

The latter causes a regression in tag_sents(). Now, th

[2015-06-07 14:53] maxlemieux commented on #238
Confirmed this is still a problem in current release. I reproduced on Python 2.7, NLTK 3.0.2.

Direct import works as mentioned. Accessing by nltk.util.ngrams does not work.

[2015-06-07 17:54] mrmechko commented on #186
Has anyone thought further about this issue? I am implementing `shortest_path` for a `scala` interface to WordNet and I am wondering if `shortest_hypernym_path` is 'good-enough' to compare to most implementations.

[2015-06-07 23:35] dhgarrette commented on #921
This is now updated for the most recent version of Boxer.

[2015-06-07 23:35] #921 closed, assigned to nobody

[2015-06-08 00:25] longdt219 commented on #1007
Hi @tfry-git,
Thank you very much for reporting this. This is however, a known bug #761. The problem is, currently there is no way to force Stanford NER to stop sentence tokenization because our input is assumed to be tokenized. Removing

-tokenizerFactory', 'edu.stanford.nlp.process.WhitespaceTokenizer', '-tokenizerOptions','\"tokenizeNLs=false\"

Will fail the following cases:
(1) When sentence

[2015-06-08 00:28] nltk-webdeploy commented on #1007
@longdt219 yes, please implement a temporary workaround.

On Mon, 8 Jun 2015 9:56 am longdt219 notifications@github.com wrote:

[2015-06-08 00:34] longdt219 commented on #995
Hi @stevenbird,
What do you think ? Probably we can port these
http://jvntextpro.sourceforge.net/

[2015-06-08 08:23] tfry-git commented on #1007
Hi!

Ok, I guess it was somewhat unclear to me what tag_sents() is supposed to do, then. Since I had developed my script with 3.0.0, originally, I was under the impression that segmentation/tokenization was always going to be done by the stanford code, but tag_sents() was simply the variant suited for tagging multiple sentences.

Actually, I found that behavior to be fairly useful. If it is not th

[2015-06-08 08:45] longdt219 commented on #1007
Hi @tfry-git,
I got what you mean. The input for NER tagger is presumed to be tokenized. However, you are free to use what ever tokenizer / sentence splitter here. You can achieve the same old behavior by using Stanford tokenizer first and then apply NER tagger.

[2015-06-08 09:15] tfry-git commented on #1007
Hi @longdt219,

true, I could chain the Stanford tokenizer and Stanford tagger. And if you don't like my suggestion, I'm not going to engage you in a lengthy back-and-forth. However, a few points to defend my suggestion:
1. While it is important to be able to make the Stanford tools work on existing tokenization / segmentation, a rather typical use case (in particular for the NER tagger) is to gen

[2015-06-08 09:35] longdt219 commented on #1007
Hi @tfry-git,
Thank you for your reply. Now I see why raw input is important. I propose that we keep the interface TaggerI (since it's shared for different taggers) but add methods to do raw tagging for stanford POS and NER. What do you think @stevenbird

[2015-06-09 00:15] #761 closed, assigned to longdt219

[2015-06-09 00:16] stevenbird commented on #1007
Resolved by #1008.

[2015-06-09 00:16] #1007 closed, assigned to nobody

[2015-06-09 09:22] sahutd commented on #698
Would you like me to accumulate a list of NLP courses(either general or taught using NLTK in particular) to be put up at  http://www.nltk.org/courses?

[2015-06-09 23:20] stevenbird commented on #997
@adnelson this is not strictly an NLTK issue, but a setuptools issue, and so I think you need to look into the documentation for setuptools to see if there's a solution. You can't be the first person to have this requirement. One thought I had was for you to do an install on an untouched python distribution, note all the dependencies, then create a collection of packages that need to be installed

[2015-06-09 23:20] #997 closed, assigned to nobody

[2015-06-09 23:23] stevenbird commented on #995
@rain1024 would you like to do some porting, or contribute wrappers for external Java libraries?

[2015-06-09 23:36] stevenbird commented on #993
@rleegoldman would you please see if you can reproduce this error with the current HEAD revision? https://github.com/nltk/nltk/archive/develop.zip

[2015-06-09 23:47] stevenbird commented on #994
Thanks @ncoghlan, @kmike. I've simplified the instructions slightly (see http://www.nltk.org/install.html). Before doing more I wanted to check on the best version of the pip command. Three are on the table:

[code]

All this assumes that pip is installed in the users' path. Which option or explanation of options is likely to be the most general?

[2015-06-10 01:52] rain1024 commented on #995
@stevenbird : yes. I'm glad to do this.

@longdt219: can we do this together?

[2015-06-10 03:02] longdt219 commented on #995
Yes sure @rain1024

[2015-06-10 05:49] rain1024 commented on #995
hi @longdt219

can I have your email? I will contact to you for more information :smile:

[2015-06-10 10:34] ewan-klein commented on #997
@adnelson @stevenbird There are a number of Docker images for NLTK, e.g., https://registry.hub.docker.com/u/horkfnado/python-nltk/. One of these might be the way to go. Maybe we should think about producing an official NLTK Docker image.

[2015-06-10 18:46] mheilman opened #1015 "masc_tagged leads to a decoding error"
The `masc_tagged` corpus cannot be loaded in its entirety due do a decoding error, at least on my machine (python 3.4.3 on OS X) and using the universal tagset option.  (This was originally noticed by @DerrickHiggins.)

This example code triggers the error for me:

[code]

Here's the traceback:

[code]

[2015-06-10 21:24] Hiestaa commented on #947
I'm running into the exact same problem. I just opened a SO question that may be useful to be linked here: http://stackoverflow.com/questions/30766419/python-child-process-silently-crashes-when-issuing-an-http-request

The child process is indeed crashing silently without further notice.

I disagree with you @oxymor0n, this seems quite a serious issue to me. This basically means that whenever nltk

[2015-06-10 22:59] ncoghlan commented on #994
It's probably best to go with:

[code]

There are currently cases where that won't work (specifically system Python installations on Linux), but that's a known issue with pip's default behaviour: https://github.com/pypa/pip/issues/1668

It's potentially worth suggesting "pip install --user nltk" as an alternative if the initial installation fails with a permissions error.

[2015-06-11 01:08] BrianMiner opened #1017 "Stanford Entity Recognizer (caseless) in Python Nltk"
Note: Cross-posted from Stack Overflow, as I did not realize this issue list existed.

I am trying to figure out how to use the caseless version of the entity recognizer from NLTK. I downloaded http://nlp.stanford.edu/software/stanford-ner-2015-04-20.zip and placed it in the site-packages folder of python. Then I downloaded http://nlp.stanford.edu/software/stanford-corenlp-caseless-2015-04-20-mode

[2015-06-11 04:05] stevenbird commented on #1017
@BrianMiner we have made some improvements to `StanfordNERTagger` (NB name change) in the HEAD revision – would you mind [updating your version of NLTK](https://github.com/nltk/nltk/archive/develop.zip), and also [checking our instructions re third-party libraries and environment variables](https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software), and letting us know if the problem persi

[2015-06-11 04:09] stevenbird commented on #1015
Thanks for reporting the problem @mheilman. I'm getting the same error. I'll see if anyone who works with MASC can advise.

[2015-06-11 06:17] longdt219 commented on #995
Hi @rain1024,
I emailed you but probably we can discuss here so that others can join the discussion.

[2015-06-11 15:49] mheilman commented on #1015
If I set the encoding in `nltk.corpus.__init__.py`

[code]

then it doesn't run into that exception, but I noticed that apostrophes appear as a diacritic (e.g., `('Őll', 'VERB'),`) and maybe a few other things (e.g., `('Ň', 'NOUN')`).  This seems incorrect.  Perhaps the corpus is actually in another encoding than ISO-8859-2.  I'll try to figure out which one that might be, but if you have any sugg

[2015-06-11 16:08] mheilman commented on #1015
fwiw, `file` says the file that causes the exception is ISO-8859 (it says the same for some of the other files as well).

`interview_nathan_hole.txt:   ISO-8859 text, with very long lines`

[2015-06-11 17:38] BrianMiner commented on #1017
I updated everything but found this answer very helpful, pointing out what actually needed to be included in the function call!

http://stackoverflow.com/questions/30745714/stanford-entity-recognizer-caseless-in-python-nltk

[2015-06-11 20:19] ksuderman commented on #1015
The MASC corpus should be encoded using UTF-8.  Can you give that a try?

[2015-06-11 20:48] mheilman commented on #1015
Sorry, it seems to not be UTF-8.  Specifically, I tried setting the encoding explicitly to `'utf8'` in the `LazyCorpusLoader` call in `nltk.corpus.__init__.py`, but that leads to a similar error:

[code]

[2015-06-11 21:26] stevenbird commented on #1017
Thanks for letting us know.

[2015-06-11 21:26] #1017 closed, assigned to stevenbird

[2015-06-12 04:51] stevenbird opened #1019 "Stanford Temporal Tagger"
Write a wrapper for the [Stanford Temporal Tagger](http://nlp.stanford.edu/software/sutime.shtml).

[2015-06-12 04:56] jnothman commented on #1019
A generic TimeML reader/writer might be useful for wrapping other implementations and going beyond timex recognition and normalisation. And apparently Leon Derczynski [requested one](https://groups.google.com/forum/#!topic/nltk-dev/NiCdjuNkpvI) some years ago...

[2015-06-12 04:56] stevenbird commented on #1015
So it appears that the MASC corpus uses mac-roman encoding. I'd prefer to change that to utf8, rather than change NLTK to specify mac-roman.

[2015-06-12 06:54] stevenbird commented on #1015
@ksuderman has provided a utf8 version and I've uploaded it to the [NLTK data collection](http://www.nltk.org/nltk_data/), cf https://github.com/nltk/nltk_data/commit/9a81625189c6c70ebb5f9464a20823b5e1e9fde6

@mheilman would you please update your copy (e.g. using `python -m nltk.downloader masc_tagged`) and letting us know if the problem persists?

[2015-06-12 21:52] mheilman commented on #1015
After downloading the updated zip, I first changed my local nltk checkout so that `nltk.corpus.masc_tagged` is initialized with `encoding="utf8"` instead of `encoding="ascii"`.

Unfortunately, one of the new files seems to be blank (`masc_tagged/spoken/2nd_Gore-Bush.txt`), leading to this error:

[code]

I tried deleting that file from the archive `~/nltk_data/corpora/masc_tagged.zip` to see if th

[2015-06-13 06:09] ksuderman commented on #1015
The two pull requests (#1020 and nltk/nltk_data#29) should fix the problem. I regenerated the files from the original MASC data and I have loaded all the files with nltk as utf-8 files.

[2015-06-13 06:20] sahutd commented on #1019
Hi, I would like to work on this. Could you let me know what I should read up on to get started?( I was thinking about seeing how previous wrappers were implemented, esp. from corenlp). What do you think?

[2015-06-13 13:55] nltk-webdeploy commented on #1019
ala
@0

L

)@
Aal

A
AL

A
Q;@

01)qa

@€}
10
A

A

1
AlL
L
Lajsl

@)a

LA

La
(la
1

Lqp
al

A
All.
L
AL))

A

1

@
)
A
L

)
Al

Q
01)

@

al#))@)

Al

)@@)a
}€

Al

@qlLa
L
)@
A
}€

Ql

)
@}~}

@

)
Lq

A)
LaZb
1
L

A)

Al
@)

0@

@)

AAP

Aala
)@
QP

~∆A

P

QAP
€

AL

@(01pq

QP

Alal
¥~€

0))

Al
@

A

10

@

,a€

L

AA

A)€}
QL

@)

On Sat, 13 Jun 2015 4:20 pm Saimadhav Heblikar <notificatio

[2015-06-13 14:00] stevenbird commented on #1019
@l

P
La

l

Lq

€

Al

@)
€
1
)@

€@

10

al

∆

P

)@
PL

ql
01

#
@
}€
€}ala

La

@

@

Qlaa

1
1

A
1
Lla

}

}
a
€1a

01

)

@

)@
1@)

P
P

L

@@a
A@)10101))1

al

alq)@

A

L

@)

a

La
€)

On Sat, 13 Jun 2015 11:55 pm nltk-webdeploy <notifications@github.com>
wrote:

[2015-06-13 14:10] jnothman commented on #1019
(There Steven goes again, flouting the Maxims :P)

[2015-06-13 15:31] ksuderman commented on #1015
After further investigation I found that one of our annotators manually corrected some of the original files in masc_tagged, which is likely how some of the files got converted to mac-roman.  Let me verify that their edits were not lost before accepting nltk/nltk_data#29

[2015-06-13 17:19] ksuderman commented on #1015
Done.  I've pushed a new masc_tagged.zip to the PR nltk/nltk_data#29

[2015-06-13 18:39] mheilman commented on #1015
nltk/nltk_data#29 looks good to me.  The corpus gets read in and, at a glance, the apostrophes and such look right.

Thanks so much for putting this together!

[2015-06-13 23:37] nltk-webdeploy commented on #1019
Oops! My talkative phone. AI not yet reached!

On Sun, 14 Jun 2015 12:11 am jnothman <notifications@github.com> wrote:

[2015-06-17 23:10] ensignavenger opened #1022 "Data access down?"
I just spent the whole day learning nltk and creating a demo project and now when trying to download the corpora to text, I am getting: [Errno 104] Connection reset by peer
I found the data on the nltk website and could not download it directly from there, either!

Is there  a server down or somthing?

[2015-06-18 00:55] manhtai commented on #995
@rain1024 @longdt219,

How about porting this https://github.com/rockkhuya/DongDu as first step? Which is aimed for word segmentation and written in C++ by the way.

I don't know C++ or Java but that tool must have the best performace so far, according to http://xltiengviet.wikia.com/wiki/K%E1%BB%B7_l%E1%BB%A5c_t%C3%A1ch_t%E1%BB%AB

[2015-06-18 14:14] iuhaq opened #1023 "Similarity measures, path_similarity and wup_similarity, potential bug"
Recently, I measured similarity between two words using NLTK wordnet reader module. I got following strange behavior when I used path_similarity function:

Now, my question is, why path_similarity gives different similarity values for same Synsets if I change the order? I am using NLTK 3.0.0.

I think there is a check missing at the start of path_similarity functions which makes sure that both wor

[2015-06-18 15:07] trinitys commented on #1023
path_similarity() across parts of speech is not commutative (by design).
The key to that is the difference in the notion of root for different
synsets. If you look into the code for path_similarity(), you'll notice the
default variable simulate_root=True, that creates a dummy root in the tree
of the taxonomy that allows traversing from one part of speech to another
in the first place. Also notice

[2015-06-18 16:52] manhtai commented on #995
Hi, me again,

After searching around for a while I found that word segmentation in Vietnamese is a really hard problem, not to mention POS tagging.

I had an idea inspire by https://github.com/mesnilgr/is13 for using deep learning to learn word embeddings, and I'll try to implement it. Some interesting may come, or not :smile_cat: