[2018-08-28 06:48] alvations commented on #133
This should be outdated given the new Ngram model module #2077 =)

[2018-08-28 06:48] #133 closed, assigned to nobody

[2018-08-28 06:51] alvations commented on #388
Should be outdated given the new Ngram model module now #2077 =)

[2018-08-28 06:51] #388 closed, assigned to nobody

[2018-08-28 06:58] alvations commented on #1108
This should be resolved in #2067 =)

[2018-08-28 07:12] alvations commented on #1291
Please take a look at https://www.nltk.org/book/ch07.html

Here's an example:

[code]

[out]:

[code]

[2018-08-28 07:12] #1291 closed, assigned to nobody

[2018-08-28 07:18] alvations commented on #1763
Closing this issue to clean up the issue tracker. Please do re-open if the issues returns or the `preserve_line` option fails.

[2018-08-28 07:18] #1763 closed, assigned to nobody

[2018-08-28 07:27] alvations commented on #1828
Added the demo to the unittest on #2099

Book example should be resolved by https://github.com/nltk/nltk_book/pull/204

[2018-08-28 07:28] #1828 closed, assigned to nobody

[2018-08-28 07:38] alvations commented on #1814
Please use the new Stanford `CoreNLP` API from v3.3.

First update your NLTK:

[code]

Then still in terminal:

[code]

Then in Python

[code]

[2018-08-28 07:38] #1814 closed, assigned to nobody

[2018-08-28 07:47] alvations commented on #2098
Also, we should be moving to Travis or Cloudbees core now https://support.cloudbees.com/hc/en-us/articles/360008971551 soon =(

[2018-08-28 08:01] puli83 commented on #1814
Ok, thank you. I'll try. This should solve my problem.

By the way, I see in the output for the sentence " C. I. LEWIS: THE GOOD
AND THE RIGHT. " some error in the dependency structure detected. In
particular the token GOOD, which is marked as an adjective, but it is a
noun in that case, and it is not an amod neither.

I'm also not able to use a french model with the python code you used here
(1.

[2018-08-28 08:10] alvations commented on #1814
The quality of the tags cannot be perfect because the model is stochastic. Also, no model is perfect =)

Regarding other languages, the neural dependency parse may not be available. Please see https://stackoverflow.com/questions/13883277/stanford-parser-and-nltk/51981566 and refer to https://stanfordnlp.github.io/CoreNLP/human-languages.html

Specific to French:

**Download the model**

[code]

**

[2018-08-28 08:22] puli83 commented on #1814
thank you for all these answer!

You are right no model is perfect! This is certain.

I'll try again the operations for french model, I did some wrong.

Thank you a lot.

Il giorno mar 28 ago 2018 alle ore 04:10 alvations <notifications@github.com>
ha scritto:

--

Davide Pulizzotto

Doctorant en Sémiologie
UQ*ÀM *l Département d'études littéraires

Chercheur au Laboratoire LANCI-UQAM

UQ*ÀM *l Dé

[2018-08-28 08:41] alvations commented on #1575
Validating the outputs from Chapter 3.6 of the book.

[code]

The other example using `IndexedText` doesn't change since it's not printing the direct output of the `porter.stem()`.

Changes suggested on https://github.com/nltk/nltk_book/pull/216

[2018-08-28 12:29] BLKSerene opened #2100 "nltk.collocations.QuadgramAssocMeasures() is missing"
nltk.collocations only import BigramAssocMeasures and TrigramAssocMeasures from nltk.metrics, and QuadgramAssocMeasures is left out.

[2018-08-28 23:16] #1108 closed, assigned to nobody

[2018-08-29 01:07] hexingren commented on #2010
I didn't further try this wrapper in April but was inspired by this [thread](https://github.com/sina-al/pynlp/issues/12). It had something to do with `ner.useSUTime` in the old version.

[2018-08-29 01:18] alvations commented on #2100
Thanks @BLKSerene for raising this!

Try this (for now):

[code]

Meanwhile wait for a quick patch in the next version before you can do:

[code]

----

Yeah, that's a gotcha that has been [quite a while](https://stackoverflow.com/questions/34230592/nltk-quadgram-collocation-finder) and it's an easy fix. Lets do that.

[2018-08-29 01:50] alvations commented on #2010
@hexingren There isn't any issue when I ran the code from https://github.com/nltk/nltk/issues/2010#issuecomment-415300057 through a size-able corpus.

@hexingren Could you do a quick check on your data and see whether you are still having the same problem the 500 Server Error? Thanks in advance!

The issue @Bisht9887 was raising was because of an empty string. In that case, I think the API fails.

[2018-08-29 02:59] hexingren commented on #2010
@alvations I didn't use additional data. I was trying the [example code](https://github.com/nltk/nltk/issues/2010#issue-317673387) in NLTK v3.2.5 and it didn't work on my machine. If the example code works in v3.3 now, then that's great! Thanks.

[2018-08-29 03:23] alvations commented on #2010
It should work in v3.3. Here's the updated docs https://github.com/nltk/nltk/wiki/Stanford-CoreNLP-API-in-NLTK =)
Feel free to reopen this if the problem does happen again.

[2018-08-29 05:20] jnothman commented on #2093
I think you need to be careful about this and consider the disadvantages to compiling modules. One issue is that users can no longer inspect the code as easily (e.g. using ipython's `??`).

As far as I understand, efficiency has not been a major goal for nltk. You need to decide on priorities. But if you think this is a fair solution to efficiency, I think you should empirically justify it for eac

[2018-08-29 05:26] scoder commented on #2093
I agree with this, although I would note that the `.py` files are at least still available right next to the `.so` files, even in the installed package.

[2018-08-29 05:30] alvations commented on #2093
I think it's a good experiment to try though, thus the `cython` branch =)

If the cost of maintaining a `pip install -U nltk[cython]` is as low as keeping the updates on this PR, then I think it's worth putting in. And everyone can still install with CPython using `pip install nltk`.

----

Personally, if the tokenization or ngram extraction works 2-5x faster (though I don't think it would), it wo

[2018-08-29 05:31] alvations commented on #2093
It's good to still know what's possible to compile automatically with cython. At the end of this exercise put up some benchmarks against JIT like pypy and native CPython.

[2018-08-29 06:44] jnothman commented on #2093
Yes, if available as nltk[binary], then great.

[2018-08-29 13:25] JohnnyLim commented on #2010
1. It seems that things pass to the parser shoud not be empty.
https://stackoverflow.com/questions/52031337/stanfords-corenlp-name-entity-recogniser-throwing-error-500-server-error-inter
2. And if you run the stanford server with `-timeout` option, notice the parameter should be greater, like `-timeout 90000`, because it seems that the server may cause some connection error when it parses the toke

[2018-08-29 19:34] scoder commented on #2093
AFAIU, `nltk[binary]` means "nltk, plus all optional dependencies that it defines in its `binary` list". I guess that could be made to work by separating nltk into two packages: one pure Python package (`nltk`) and one package (let's call it `nltk-binary`) that installs the binary modules into it. `nltk[binary]` would then depend on that `nltk-binary` package of the exact same version, which would

[2018-08-29 19:40] scoder commented on #2093
Can't make a prediction here since I don't know the code, but once it's compiled with Cython, you might be able to apply some further tuning at the C level. See the Cython [pure Python mode](http://docs.cython.org/en/latest/src/tutorial/pure.html) docs, specifically the section on [augmenting .pxd files](http://docs.cython.org/en/latest/src/tutorial/pure.html#augmenting-pxd).

[2018-08-31 02:13] alvations opened #2102 "TreePrettyPrinter throws TypeError when Tree.leaves() are list of tuples"
When the `Tree.leaves()` are made up of list of tuples, e.g. `[('the', 'DT'), ('cat', 'NN')])]`, `Tree.pretty_print()` that calls the `TreePrettyPrinter` throws a `TypeError`, e.g.

[code]

[out]:

[code]

More details on https://stackoverflow.com/questions/52107352/how-can-i-pretty-print-a-nltk-tree-object

[2018-09-03 14:32] mo-rieger opened #2104 "CorpusReader find_corpus_fileids regex diacritics problem"
Hey there,
thanks for this cool toolkit but I am facing a issue with the corpus reader.
I am using a CategorizedPlaintextCorpusReader with a
` CAT_PATTERN=r'([\w_\s]+)/.*'`
In Python 3 this regex should work for directories that contain diacritics, like the german Umlaute ä, ö, ü. This Pattern matches when i try it in iPython

[code]

but it doesnt match any direcorty containing diacritics in its

[2018-09-03 19:27] BLKSerene opened #2105 "What's the name for nltk.collocation.NgramAssocMeasures.mi_like()?"
In the documentation, it says that nltk.collocation.NgramAssocMeasures.mi_like() uses a variant of mutual information. Could you please tell me in which paper or book is this measure described?

[2018-09-05 01:19] getamu opened #2106 "No module named corenlp"
After following the steps,
when I run
`from nltk.parse.corenlp import CoreNLPDependencyParser`
I am still getting
`No module named corenlp`
I downloaded the corenlp 3.9.1 from https://stanfordnlp.github.io/CoreNLP/
Kindly reply

[2018-09-05 01:36] alvations commented on #2106
What is your NLTK version?

[code]

Please upgrade your NLTK, you would need v3.3 and above for `nltk.parse.corenlp` to work properly.

[code]

Please read this for more details on how to use the CoreNLP API in NLTK: https://github.com/nltk/nltk/wiki/Stanford-CoreNLP-API-in-NLTK

[2018-09-05 01:56] #2106 closed, assigned to nobody

[2018-09-05 12:00] htInEdin opened #2107 "sys.prefix should take precedence over /usr in nltk.data.path"
Currently the /usr/... paths are welded in as taking priority over the sys.prefix/... paths, but with the widespread use of virtual environments (e.g. conda) this is pretty clearly wrong: I can update my venv data packages easily, can't update the /usr ones _at all_, but they shadow my venv ones because of the built-in order.   Since I maintain several venvs for teaching, NLTK_DATA is not a reliab

[2018-09-05 20:09] ankitsharma07 commented on #1987
Problem resolved

[2018-09-06 00:53] alvations commented on #2098
#2108 resolved these while migrating to Travis:

 - **Setting up tox on `.travis.yml`**
     ✔Keeping the matrix we use from Jenkins
     ✔ Tests on Py2.7, 3.5 and 3.6
     ✔ Clean up `tox.ini` and separate tests for pure python CI and third-party CI (e.g. Senna, Stanford CoreNLP and Stanford NLP tools)
     ~: test on Py3.7~ (not yet supported)

-  **Setting up `after-success` instructions**

[2018-09-06 20:23] mo-rieger commented on #2104
Sorry guys, this was a fault in my implementation.

[2018-09-06 20:23] #2104 closed, assigned to nobody

[2018-09-07 18:40] suman101112 opened #2110 "How to get all the words under a lexname (lexical filename) from nltk wordnet"
Explanation with the help of Example:
`lexical_filename = Synset('muscle.n.01').lexname() `
The output is `noun.body`

I want to **extract all the words and synsets** under the lexical filename **noun.body**

[2018-09-08 01:57] nschneid commented on #2110
I don't know if there's a direct way to do this in the API, but you could do this indirectly (and perhaps inefficiently) by iterating over all synsets and filtering by lexname.

[2018-09-09 18:03] MohammedBelkacem opened #2111 "Kabyle tokenization/morphosyntactic processing"
I'm using nltk to generate a morph-syntactic analysis for the Kabyle language. I developed scripts for tokenization and use perceptron algorithm. I wrote a morpho-syntactic corpora and wish to share with a public licence.

Please how can I share algorithms and this corpora within nltk?

[2018-09-09 23:53] #2107 closed, assigned to nobody

[2018-09-10 07:50] alvations opened #2112 "CoreNLPParser tag() should allow properties overloading"
With the current `CoreNLPParser.tag()`, the "retokenization" by Stanford CoreNLP is unexpected:

[code]

The expected behavior should be:

[code]

Proposed solution is to allow `properties` arguments overloading for `.tag()` and `.tag_sents()`, i.e. at https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L348 and by default use `properties = {'tokenize.whitespace':'true'}` because we ar

[2018-09-10 12:51] dimazest commented on #2112
Looks good.

Just some minor comments. It should be ``if properties is None``, not ``if properties == None``. ``assert self.tagtype in ['pos', 'ner']`` should be ``assert self.tagtype in ['pos', 'ner'], "CoreNLP tagger supports only 'pos' or 'ner' tags."``.

I don't really like idea of joining and splitting strings, maybe there could be a way to pass a list of words to CoreNLP as a sentence instea

[2018-09-10 13:33] stevenbird commented on #2111
@belkacem77 thanks for telling us about this work. It's unfortunate but we don't have developer capacity to process and maintain code that is just for a single language like this. Ironically, one reason for this is that I am also working on endangered languages. Anyway, NLTK does not need to be the distribution channel... it is not hard to create your own repository and maintain it. Sorry about th

[2018-09-10 13:33] #2111 closed, assigned to nobody

[2018-09-12 01:29] alvations opened #2113 "Cyclic imports in nltk.ccg.lexicon"
Pylint seems to be complaining about `nltk.ccg.lexicon` having cyclic imports but I'm not familiar with R0401 to understand what is the error.

Anyone knows how to resolve this issue?

[code]

[2018-09-12 06:53] alvations commented on #2110
@suman101112 , try:

[code]

please see https://stackoverflow.com/a/33538878/610569 for more details.

[2018-09-13 00:51] alvations opened #2115 "cls vs self in classmethods"
There are several instances of `@classmethod` that doesn't have `cls` as the first argument:

[code]

c.f. [PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-method-arguments) and [What is the 'cls' variable used for in Python classes?](https://stackoverflow.com/questions/4613000/what-is-the-cls-variable-used-for-in-python-classes)

It'll take some refactoring to fix these but there are

[2018-09-13 03:09] alvations opened #2116 "How to handle demos in individual modules?"
Some modules have `demo()` methods that sort of act like doctest / unittest for the respective modules but it's hard to track which module has `demo()` and which doesn't, esp. in the `nltk.corpus.__init__.py`, i.e. https://github.com/nltk/nltk/blob/develop/nltk/corpus/__init__.py#L302

[code]

It also leads to an unfortunate hack to override `demo()` function at the top-most `nltk.__init__.py`, i.

[2018-09-13 03:22] alvations commented on #2096
Closing issue duplicate of #2072

[2018-09-13 03:22] #2096 closed, assigned to nobody

[2018-09-13 04:58] alvations opened #2118 "Non parents initialization"
There are several classes that inherits from `SyntaxCorpusReader` but are calling `CorpusReader` for the `__init__()`:

- KNBCorpusReader
- BracketParseCorpusReader
- DependencyCorpusReader

**Why are they inheritting from `SyntaxCorpusReader` but initializing from `CorpusReader`?** Should they be fixed and initialize using SyntaxCorpusReader's init?

[2018-09-13 05:09] alvations opened #2119 "Odd StringIO imports in nltk.compat"
In `nltk.compat`[https://github.com/nltk/nltk/blob/develop/nltk/compat.py], there's a `UnicodeWriter` class that uses `StringIO` but it's unclear why are there multiple `cStringIO` and `StringIO` imported but only `cStringIO` is used by the writer.

Specifically from https://github.com/nltk/nltk/blob/develop/nltk/compat.py#L39

[code]

**Shouldn't the `UnicodeWriter` just use the StringIO?** Esp.

[2018-09-13 05:17] alvations opened #2120 "Artifacts from Python <=2.6"
There are some artifacts from Python <=2.6 which is irrelevant today in Python 2.7 and Python 3.x, **should we remove them?**

Pylint caught one of them at https://github.com/nltk/nltk/blob/develop/nltk/decorators.py#L27

[code]

See also: https://stackoverflow.com/a/38042101/610569

**Are there other artifacts from Python <=2.6 that anyone has noticed?**

[2018-09-13 05:38] alvations opened #2121 "Dangerous default values in arguments"
There are quite some dangerous default dicts and lists in class/functions arguments.

But in some cases it's unclear whether the purpose is really to keep the values in the list in subsequent calls. See https://stackoverflow.com/questions/26320899/why-is-the-empty-dictionary-a-dangerous-default-value-in-python

It'll be good to look through each of them and convert the to default to `None` instead

[2018-09-13 14:42] ghost opened #2122 "Cannot Import PunktWordTokenizer in nltk 3.3"
How do I use PunktWordTokenizer in nltk 3.3? Has it been deprecated or renamed?
`>>> nltk.__version__
'3.3'
`
`>>> from nltk.tokenize import PunktWordTokenizer
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'PunktWordTokenizer'
`
Any help/suggestion is highly appreciated.

[2018-09-13 17:48] suman101112 commented on #2110
Thank you.

Regards,

Suman D.

On Wednesday 12 September 2018 12:24 PM, alvations wrote:

[2018-09-14 00:31] alvations commented on #2122
Punkt is a **sentence tokenizer algorithm** not word, for word tokenization, you can use functions in `nltk.tokenize`. Most commonly, people use the NLTK version of the Treebank word tokenizer with

[code]

Also, please do take a look at http://www.nltk.org/book/ch03.html

[2018-09-14 00:32] alvations commented on #1575
Closing issue, https://github.com/nltk/nltk_book/pull/216 is merged =)

Thanks @iranianpep @jayvdb @RodgerKibble for raising the issue!
Thanks @ExplodingCabbage for verifying the changes!

[2018-09-14 00:32] #1575 closed, assigned to nobody

[2018-09-14 00:34] #2110 closed, assigned to nobody

[2018-09-14 00:58] alvations commented on #490
`nltk` has a cross on https://pythonwheels.com/ =(

Time to catch up =)

[2018-09-14 08:42] ghost commented on #2122
Yeah I usually use `word_tokenize()` . I might be wrong but wasn't `PunktWordTokenizer` present in the previous versions? Like in the nltk versions around 2014-15?

[2018-09-15 20:12] Anam-tahir commented on #69
Myexample is:
import nltk
# from nltk.tag import hmm
train = [[('ابوظہبی','NEL'),('سوائی','NEP'),('محمد','NEP'), ('مہاراجہ','NED'), ('ہندوستان','NEL'), ('لوہا','NEO'), ('ایف آئی اے','NEA')],[('لینس','NEB'),('ڈاکٹر','NETP'),('سماجی ترقیاتی تنظیم','NETO'),('73ء','NETI '),('ایک','NEN '),('بارہ صدیاں','NEM '),('اسلام','NETE ')]]

test = ([['ایف آئی اے','ڈاکٹر',"ہندوستان",'مہاراجہ'], ['ایلبیٹ رس','پلان

[2018-09-15 20:13] Anam-tahir commented on #69
@kmike  please solve my problem asap

[2018-09-18 00:55] alvations commented on #2122
Yes, the `PunktWordTokenizer` was exposed previously but it wasn't a real word tokenizer, it's more like a pre-processor before Punkt decides on where to split the sentence. So now it's no longer exposed to users to avoid confusion.

If you're interested in improving Punkt, do take a look at https://github.com/nltk/nltk/issues/2008

[2018-09-18 09:57] sahitpj opened #2124 "Adding Good turing and Add -n Smoothing"
Apart from the existing 2 smoothing algorithms already present, I think the add -n smoothing and the Good turing smoothing can be added

[2018-09-18 15:21] iliakur commented on #2124
Hmm, by "add-n smoothing" do you mean Lidstone/Laplace? or absolute discounting (of which Kneser-Ney is a particular case)?

The former is already present (should be importable...). The latter you are welcome to add, just like good-turing.

I personally don't have the time in the foreseeable future to do this. Unfortunately.

I'll gladly help review submissions!

[2018-09-18 18:07] sahitpj commented on #2124
Thanks @Copper-Head Will shortly create a pull request for that

[2018-09-19 00:06] alvations commented on #2088
Patched in #2103. Thanks @BLKSerene and @dnc1994!

[2018-09-19 00:06] #2088 closed, assigned to nobody

[2018-09-19 21:08] MrPeker commented on #1248
:(

[2018-09-19 21:20] DuyguA commented on #1248
I moved to SpaCy, for whoever is interested. Turkish work will continue from

https://github.com/explosion/spaCy/tree/master/spacy/lang/tr

Also you can check out my Medium page, I post about Turkish processing when I have time.

[2018-09-21 01:01] priyaananthasankar opened #2127 "Loading NLTK corpus like Wordnet from blobs"
nltk.data.load("URL") works fine if there are specific items to be loaded like a pickle file or stopwords, Wordnet is a compiled library and there needs to be some way to load this from a blob storage.

In AWS Lambda, the set of zipped files can contain the wordnet compiled binaries and can be loaded.
But if wordnet needs to be imported on runtime from NLTK from the cloud, the best way to do it is

[2018-09-21 01:10] alvations commented on #2127
Good idea to manage data with cloud but we're still figuring how to deal with data management.

Discussion on https://groups.google.com/d/msg/nltk-dev/LjThWkAthwc/VpVQ56XzBgAJ but it seems like no one else is picking up the discussion =(

BTW, I'm confused. Are you referring Azure Blob or AWS S3?  =)

[2018-09-21 02:02] priyaananthasankar commented on #2127
Azure Blob. So I wanted stopwords. I just took the english stopwords and manually uploaded in Azure blob and then did nltk.data.load("azure_blob_url"). Well stopwords is an array of words, a txt file so it loaded. I did the same for PunktSentenceTokenizer as well which was pickled.

But I can't do this for wordnet. Either way, it seems hacky :) AWS has a different story on how they load. they want

[2018-09-21 07:51] alvations opened #2128 "Replacing Tkinter"
Tkinter had served us well for a while. Esp. when `nltk.download()` is getting heated issues esp. with Jupyter notebook and Mac/Windows users.

I think it's time to move to a more modern GUI framework, perhaps https://electronjs.org/ or http://kivy.org?

Anyone good at GUI wants to take a stab at it?

[2018-09-21 11:30] sahitpj commented on #2128
hey @alvations I think I can work on that

[2018-09-21 11:32] sahitpj commented on #2124
@Copper-Head For the GoodTuring Smoothing, i think we need to add a function which counts the no of n-grams which have a particular count. Should I add it to the smoothing function, or should I can I add it to the Language Model object itself, as a generalized func

[2018-09-21 12:17] alvations commented on #2128
Look forward to the pull request @sahitpj!

[2018-09-21 18:13] anseljh commented on #1425
Here's a variant of this problem. Using a Homebrew-installed Python 3.6, the `Install Certificates.command` script does not exist anywhere. How does one fix this then?

More detailed writeup here: https://stackoverflow.com/questions/52448995/overcome-ssl-error-while-downloading-nltk-data-but-inside-a-virtual-environment

[2018-09-22 09:41] iliakur commented on #2124
I would say keep it more localized to the GT model, wouldn't wanna burden the LM object with too much functionality. If at some point we need to reuse it, we can consider factoring it out somehow

[2018-09-22 14:29] aquatiko commented on #2102
Fixed in PR #2129 , have a look

[2018-09-22 15:42] aquatiko commented on #2115
I would like to solve this issue, but as much as I know self and cls don't have any technical differences, does it?

[2018-09-23 18:14] shakti4ranjan commented on #736
It's still throwing error

[2018-09-26 20:34] namanjn98 opened #2131 "Add Perplexity metric"
This will help in case of comparing the n-gram models for a test set.

[2018-09-26 21:21] rfilmyer opened #2132 "word_tokenize() fails with a misleading error message if you give it an invalid language"
If you call `word_tokenize()` and pass a language that is not supported by `punkt`, it returns an error message saying that **punkt** could not be found, instead of the language.

`word_tokenize()` should probably fail with a different error that indicates an invalid language or that a language was not found in this case. With the current error message, one could be led on a wild goose chase to fi

[2018-09-26 21:22] rfilmyer commented on #2132
The full traceback:

[code]

[2018-09-26 22:51] alvations commented on #2132
@rfilmyer ~nope, there's nothing wrong with that. The `word_tokenize` currently requires the `sent_tokenize` so it requires the `punkt` models.~

~Following the message to download `punkt` and afterwards `word_tokenize()` would work.~

Ah, word_tokenize is used beyond English. Hmmm, this is tricky. Actually the word tokenizer is based on the treebank tokenizer that was written for English tokeniza

[2018-09-27 10:02] kamihamiha123 opened #2133 "How to distinguish adverbs of manner from other adverbe categories"
Is theire a way to have more detailed pos tagging that specifies which type of adverbes, adjectives it is (manner, frequency, time, etc.) ?

[2018-10-01 13:47] fabianhoward opened #2134 "WordNetError when loading lemmas with numeric values >= 10"
Since at least NLTK 3.3 running the below code  results in the error shown below.

[code]

I have reproduced it inside a clean venv with the latest nltk commit (https://github.com/nltk/nltk/commit/b991f244558154d09041d5a62b0c0e55faaab802 at the time of writing) on ubuntu 16.04 with python 3.6.5 and verified this bug does not happen with NLTK version 3.2.2

Based on experimentation I believe this b

[2018-10-01 16:51] fabianhoward commented on #2134
I have added the failing test in https://github.com/nltk/nltk/pull/2135

[2018-10-01 17:50] fabianhoward commented on #2134
I think the assertion @campionfellin made in
https://github.com/nltk/nltk/issues/1789#issuecomment-320452986 is incorrect since the `jump.v.11.jump` is a valid lemma. I will try and put up a fix.

[2018-10-02 21:15] #2134 closed, assigned to stevenbird

[2018-10-03 11:29] IrphanAli commented on #1981
Hi, I am also facing the same issue. Plz suggest some solution

[2018-10-05 08:43] Vimos opened #2139 "Tree pretty print branch position is wrong"
When I represent the equation `(16 * 2) / 2` into the tree format `(Div (Mult 16 4) 2)` and  `2 / (16 * 2) ` into the tree format `(Div 2 (Mult 16 4))`, the `pretty_print` is the same.

The behavior with `pretty_print` is different from `draw`, `draw` will give the right picture.

[code]

[2018-10-10 18:45] guilherme-salome commented on #2015
Any progress on this topic? I am trying to use verbnet for a research and the output I get from the `classids` methods [seems weird](https://stackoverflow.com/questions/52746347/nltk-verbnet-giving-wrong-class).

[2018-10-10 20:50] stevenbird commented on #2015
Please see https://github.com/nltk/nltk/issues/2015#issuecomment-390826015

[2018-10-11 11:50] guilherme-salome commented on #2015
Thanks @stevenbird, the older version seemed to be the cause of the problem. I was able to manually download verbnet3.zip and read it with the reader for verbnet 2.1 that is in nltk.

[2018-10-12 15:47] BLKSerene opened #2140 "nltk.word_tokenize() (Treebank Tokenizer) tokenize double quotes into 2 backticks"
[code]

So, is this the expected behavior?

And is it OK to use the Treebank tokenizer on languages other than English? (Maybe all Indo-European languages?)

[2018-10-13 06:12] echan00 commented on #1824
I tried padding the sentence ending punctuation with spaces before training punkt but still didn't see the sentences being tokenized properly.

[2018-10-13 17:37] abhisri7635 opened #2143 "nltk error"
import nltk
nltk.download('Stopwords')
[nltk_data] Error loading Stopwords: <urlopen error [WinError 10054]
[nltk_data]     An existing connection was forcibly closed by the
[nltk_data]     remote host>

[2018-10-14 11:43] purificant commented on #2143
Try with lowercase `stopwords` and check that you can access  https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml from your system.

[2018-10-14 12:15] purificant commented on #2120
Python 2.6 is not officially supported, so in my view remove any code that only exists to support older versions such as <= 2.6

[2018-10-14 14:39] purificant opened #2144 "build failing on latest develop"
The latest [build](https://travis-ci.org/nltk/nltk) is failing for `develop` branch due to a unit test `test_in_topic_domains`. Any new pull requests that do no include a fix for this will also have failing builds.

[2018-10-14 14:41] purificant commented on #2144
Proposed fix: https://github.com/nltk/nltk/pull/2141

[2018-10-14 15:10] purificant opened #2145 "python 3.7 compatibility: re.sub() behavior"
[re.sub()](https://docs.python.org/3/library/re.html#re.sub) in python 3.7 returns different result to previous versions for some regular expressions. This is due to a fix for a bug where previously re.sub() didn't replace empty matches adjacent to a previous non-empty match.

The rationale for the fix is here: https://bugs.python.org/issue32308
The code change is here: https://github.com/python/c

[2018-10-14 15:20] purificant commented on #2145
Proposed fix is here: https://github.com/nltk/nltk/pull/2146
Thoughts / suggestions are welcome.

[2018-10-15 16:14] loretoparisi opened #2147 "LookupError: Resource \x1b[93mstopwords\x1b[0m not found."
[code]

Looking at the logs this seems to search the dictionary in default folders but not the specified one `[Mon Oct 15 16:06:09.191137 2018] [wsgi:error] [pid 6934:tid 140310493574912] [client 172.17.0.1:40240]   >>> nltk.download('stopwords')`, but I have specified the `download_dir` folder.

whole logging follows:

[code]

I have previously downloaded

[code]
so the files should be there sinc

[2018-10-15 23:07] purificant commented on #2147
You can set `NLTK_DATA` environment variable to specify a custom location for your data files. Alternatively modify `nltk.data.path` list to change the search path, for example
[code]

[2018-10-15 23:42] loretoparisi commented on #2147
Thank you that solved it!

[2018-10-15 23:42] #2147 closed, assigned to nobody

[2018-10-16 16:55] rawlins commented on #1887
This is also an issue for running anything that might draw a tree through CI systems; e.g. I test my notebooks for a project on travis and was hitting it. The super hacky workaround I came up with for this scenario, where it's not really crucial that the tree get drawn, is at: https://github.com/rawlins/lambda-notebook/commit/7f151a01aa338ee34aeb7a2e97d36b280ca17e98

Edit: true to form, I figured

[2018-10-17 07:51] purificant commented on #2144
Resolved

[2018-10-17 07:51] #2144 closed, assigned to nobody

[2018-10-17 11:16] purificant opened #2148 "python 3.7 compatibility PEP 479"
There are several places in the code base that result in `RuntimeError: generator raised StopIteration` when executed with python 3.7+.

This happens because [PEP 479](https://www.python.org/dev/peps/pep-0479/) made a change to generators: when [StopIteration](https://docs.python.org/3/library/exceptions.html#StopIteration) is raised inside a generator, it is replaced with [RuntimeError](https://d

[2018-10-17 13:10] BLKSerene opened #2151 "Converting russian RNC tagset to universal tagset"
It seems that the tagset that nltk.pos_tag() used for russian texts is different from that used in the mapping table when nltk.map_tag() is called. So most of the tags are converted to just X.

[code]

The mapping table used in NLTK 3.3:

[code]

[2018-10-17 13:47] alvations commented on #2151
The `pos_tag()` function only works on English. The `lang` argument in `pos_tag` does not load a different model, the model would still be English.

So in that case all Russian tokens are tagged should be wrong:

[code]

[2018-10-17 15:04] BLKSerene commented on #2151
There is a russian model for pos tagging. `nltk.pos_tag()` call `_get_tagger()` to initialize the perceptron tagger. If the parameter `lang` is set to `rus`, the Russian model will be loaded instead of the English one.

[code]

The PTB tagset used for English POS tagging doesn't include tags like `A=M`, `S`, `NONLEX`

[2018-10-17 17:03] BLKSerene commented on #2151
The tagset used by Russian National Corpus is listed here: http://www.ruscorpora.ru/en/corpora-morph.html

There is a pull request in the original repository `Universal Tagset` to update the mapping table: https://github.com/slavpetrov/universal-pos-tags/pull/11/files

However, since the tags sometimes have suffixes like `=m` or `=ciph`, etc. attached to them, it might be necessary to generate the

[2018-10-18 00:12] alvations commented on #2151
Ah, yes https://github.com/nltk/nltk/blob/develop/nltk/tag/__init__.py#L91 was snugged in in #1784

Hmmm... That makes it a little complicated to maintain but I guess it's okay for now if there's just English and Russian.

----

Yes, the mappings to the universal tagger looks wrong for the Russian model added in #1784

Even if comes from https://tech.yandex.ru/mystem/ , it's also using the new POS

[2018-10-18 01:21] alvations commented on #2151
Thanks @BLKSerene for raising the issue! I've proposed a patch in the #2152 PR.

[2018-10-18 13:45] AmitMY opened #2154 "Sentence tokenizer fails on simple case"
Every time there is "no." meaning "number", the sentence tokenizer fails.

I have to replace "no." with "shorthand_number" and replace back after sentence splitting. (My rule is a bit more complex, but in general)

[2018-10-18 14:34] purificant commented on #2154
If you have a space after `no.`, everything after space will go into the next sentence. If there is no space, for example `no.5` then sentence boundary is detected as you'd expect.

If you remove the extra space in your text pre-processing along the lines of
[code]
then it will save you the effort of replacing back after sentence splitting.

[2018-10-18 14:52] AmitMY commented on #2154
Thank you. I am doing something similar, a bit more complex. I think a solution should be implemented in some training data for nltk. maybe even synthetic data

[2018-10-18 15:30] purificant commented on #2154
This is tricky. Because of the inherent ambiguity in the language, when you have a `.` do you mean the end of a sentence, or do you mean a shortened word? While we can chase higher accuracy with better data and algorithms, in practice it will always be possible to construct input that baffles our model.

If you really want to tune the model for your specific text, you could try something along the

[2018-10-18 17:42] AmitMY commented on #2154
Cool. Thanks!

[2018-10-19 02:18] RochaOwng opened #2155 "Import terrible slow"
Hi, my code is taking sooo long after I used "nltk.downlod()".
Now, when I use import nltk it tooks more than a minute

Anyone?

[2018-10-19 03:06] alvations commented on #2015
@salompas Just like to check again, does the verbnet API in NLTK work with verbnet3?

[2018-10-19 03:41] alvations commented on #2155
@RochaOwng Which OS are you using? What is the NLTK version you're using?  What is the output of the following:

[code]

Could you explain what is taking more than a minute? Is downloading the data taking time or is it opening of the GUI after you call `nltk.download()`? `nltk.download()` usually fire up the GUI quite quickly.

Are you using an unrestricted network, e.g. your home internet? Or are

[2018-10-19 11:18] guilherme-salome commented on #2015
@alvations
It does work for what I am using it for. Let me show you my code:

[code]

For that to work you need to [download verbnet3 from here](https://github.com/nltk/nltk_data/blob/gh-pages/packages/corpora/verbnet3.zip). Unzip this file in the folder `~/nltk_data/corpora~. When unzipped it should create a new folder `~/nltk_data/corpora/verbnet3` which contains all the Verbnet3 definitions.
Th

[2018-10-19 11:37] RochaOwng commented on #2155
@alvations I'm using Windows 10 64bit, and the NLTK version is 3.3
The task what is taking more than a minute is the "import nltk"
I've downloaded the packages (all of them, is that a problem?), And when I import nltk I got this. I don't think it's a problem with my network, because I should be able to code offline, right? Also, I've run into my home and in my enterprise ..

Thank you

[2018-10-19 11:58] komalghoti commented on #1808
from __future__ import absolute_import, division, print_function

import re
import os
from os import getcwd
from os.path import exists, isdir, isfile, join
import shutil
#import numpy as np
import pandas as pd

img_filename='C:/Users/KOMAL/Desktop/dataset2/MURAV1.1/train/XR_ELBOW'
class ImageString(object):

    _patient_re = re.compile(r'patient(\d+)')
    _study_re = re.compile(r'study(\d+)')

[2018-10-19 12:00] komalghoti commented on #1808
Traceback (most recent call last):

  File "<ipython-input-1-243c76555e4b>", line 111, in <module>
    cat_dir =os.path.join( enc.normal)

  File "C:\Users\KOMAL\Anaconda3\lib\ntpath.py", line 76, in join
    path = os.fspath(path)

TypeError: expected str, bytes or os.PathLike object, not method

[2018-10-19 15:19] alvations commented on #2155
What machine are you running this on? Are you using IDLE? How did you install NLTK, through conda? Or like this, e.g. https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 ?

[2018-10-19 16:09] sid22 commented on #2087
Hey @TrigonaMinima , have you made any list for Hinglish data?

[2018-10-20 08:00] purificant commented on #2155
Just to confirm that import is the culprit, what is the output of these commands?
[code]

[2018-10-20 08:02] purificant commented on #2148
Several amends merged as part of https://github.com/nltk/nltk/pull/2153

[2018-10-20 09:16] TrigonaMinima commented on #2087
Yeah, but it's not uploaded here. I have opened another issue in the https://github.com/nltk/nltk_data repo as mentioned by alvations, but I haven't received any response there.

[2018-10-23 14:27] fseasy commented on #1750
oh, it stiil has problem in nltk-3.3

like this:

[code]

[2018-10-24 02:41] albertauyeung commented on #1750
@memeda I confirm I can reproduce this bug. A solution is to add one more regex to match single quotes at the beginning of a string. Please see my branch on https://github.com/albertauyeung/nltk/tree/hotfix-span-tokenizer

[2018-10-24 06:25] Bogdanrasputin opened #2158 "CERTIFICATE_VERIFY_FAILED] certificate verify failed"
I am trying to run this code:
[code]
but I am getting this issue:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed
[nltk_data]     (_ssl.c:726)>

[2018-10-24 07:09] alvations commented on #2158
@Bogdanrasputin We'll need some extra information to help you with the problem.

- Which OS are you using? Are you using a Mac?
- Which NLTK version are you using.

Do take a look at https://github.com/nltk/nltk/issues/2029#issuecomment-392426356 and see whether that resolve your problem.

[2018-10-24 07:12] alvations commented on #2148
All patched up for Py3.7? The CI tests pass =)

Thanks @purificant for all the work!

[2018-10-24 07:13] alvations commented on #2143
@abhisri7635 Could we check whether you're still having the problem?

[2018-10-24 07:14] alvations commented on #2140
That is the expected behavior of the Penn Treebank tokenizer than the `nltk.word_tokenize` is based on. Perhaps, we need to move faster in creating our own unique tokenizer and put away the PTB one.

[2018-10-24 07:19] alvations commented on #2133
@kamihamiha123 The model is trained on the WSJ that has the standard Penn Treebank tagset, so it's not possible for the `pos_tag` function to generate any other tag outside of what it's trained on.  See details: https://github.com/nltk/nltk/issues/1783#issuecomment-317174189

To have other tagsets, you would first require a tagged corpus of the required tagset and train your own model.

If it's al

[2018-10-24 07:19] #2133 closed, assigned to nobody

[2018-10-24 09:29] csarta opened #2159 "Unable to find "/usr/share/nltk_data" when adding binary and data files."
I get this error when I try to create an executable of a python3 file with pyinstaller.
Precisely I get:

[2018-10-24 12:24] purificant commented on #2148
Thanks @alvations for your help. I think we can close this for now as no further known changes are needed. In the future if there are any python 3.7 issues with `RuntimeError: generator raised StopIteration` we can reference this issues.

[2018-10-24 12:24] #2148 closed, assigned to nobody

[2018-10-24 12:36] #2145 closed, assigned to nobody

[2018-10-24 23:59] Bogdanrasputin commented on #2158
I am working on a mac, python version 2.7. NLTK version 3.3

[2018-10-25 00:01] Bogdanrasputin commented on #2158
Fixed it by opening `Install Certificates.command` in the python application folder. Thanks :)

[2018-10-25 00:50] #2158 closed, assigned to nobody

[2018-10-25 16:49] weiyinfu opened #2160 "Maybe the corpus_bleu method is wrong"
The wrong file is nltk.translate.bleu_score.py.
I think the implementation of corpus_bleu is wrong .
When we calculate the corpus bleu,we need to take every sentence into consideration.
Assume that a corpus has 3 sentences and each sentence's word appear time is 2/5,3/6,4/8 (Here we only consider the unigram).
And all of the corpus' appear time is (2+3+4)/(5+6+8)=9/19.
If the above description is

[2018-10-26 00:07] alvations commented on #2160
@weiyinfu BLEU score is basically a product of the fractions of the no. of overlaps between the hypothesis (machine translated sentences) and their respective reference sentences (human translations). Thus the use of `Fraction` object is quaintly apt.

![](https://ibin.co/4KMc8zb1ZSwH.png)

Lets start reading the code from the `corpus_bleu()` function at https://github.com/nltk/nltk/blob/develop/n

[2018-10-26 00:22] alvations commented on #2159
Before compiling your executable with pyinstaller, try to set the `NLTK_DATA` environmental variable first. E.g.

[code]

[2018-10-26 00:23] alvations commented on #2155
@RochaOwng are you still having speed issues with NLTK? If not, could we mark the issue as resolved and close it?

[2018-10-26 00:34] alvations commented on #2154
The Punkt Tokenizer (`sent_tokenize`) is a statistically model. And if you add the abbrev types as a hard rule, do note the caveat that now it will be impossible to split when the sentence ends with `no.`, e.g.

[code]

[2018-10-26 02:26] weiyinfu commented on #2160
I understand your idea absolutely. The problem occurs at the last sentence of the `modified_precision`.Because `modified_precision` returns a `Fraction`, the return result will lose information.
Assume that numerator=2,denominator=4,`modified_precision` will return Fraction(1,2).
When we add them together, things goes wrong.
[code]
In the formulas of bleu ,I cannot see the simplification of the fr

[2018-10-26 03:23] alvations commented on #2160
@weiyinfu The `_normalize=False` argument would have kept the numerator and denominator as they are:

[code]

[2018-10-26 03:36] weiyinfu commented on #2160
Yes,you're right.This is just what I wanted. I understand .Thank you.

My NLTK version is not the newest.
[code]
This version is released at 3,March,2016.
The `_normalize=False` is added about two years ago.
So it's a version problem.
Thank you for your reply.

[2018-10-26 03:36] #2160 closed, assigned to alvations

[2018-10-26 12:21] #25 closed, assigned to nobody

[2018-10-26 12:23] #1356 closed, assigned to nobody

[2018-10-26 17:14] NandiniNuthalapati commented on #907
The window_size argument is the distance to be used by the function to capture bigrams. For example, if window_size=3, then the function will search for bigrams until 3 words on each side of the word and enters every word pair as a bigram before it returns the collocations.

**Ex:** Here is an example of a three-word collocational window
**Sentence:** So no one told you life was gonna be this way

[2018-10-28 14:11] purificant commented on #2113
Not getting the above warnings with the latest version of pylint.

Unused wildcard imports could be removed by replacing

[code]
with
[code]

-----

On another note, there is a python 3 compatibility issue in the file on line https://github.com/nltk/nltk/blob/0cebb4faacc728abc05dc44a88da8235ac829d6f/nltk/ccg/lexicon.py#L78 `cmp` and `__cmp__` only exist in python 2.

[2018-10-28 14:35] alvations commented on #2113
Thaanks @purificant

It'll be great if we clean up all the unnecessary * imports with specific imports but that's going to take some tedious work.

----

As for `cmp` in that particular line, we'll might have to write dunder equals (`__eq__`) for `cmp` functions. If it's a real `cmp` function, it should do something like `(self>other)-(self<other)` and then we have to have proper `__gt__` and `__l

[2018-10-28 15:11] alvations opened #2162 "Runtime warning when using nltk.downloader from CLI"
I'm not sure it's because my environment wasn't set up wrongly or because the `nltk.downloader` code is somehow violating Python causing the `RuntimeWarning`

[code]

[2018-10-28 16:20] purificant commented on #2162
I can confirm that I have the same. I think this is due to `downloader` being imported here: https://github.com/nltk/nltk/blob/0cebb4faacc728abc05dc44a88da8235ac829d6f/nltk/__init__.py#L160
so that by the time `-m nltk.downloader` finishes, `downloader` has already been imported as part of `import nltk`

It should be a matter of refactoring imports to get rid of this warning.

[2018-10-29 10:40] purificant commented on #2097
Which test is flaky? Some links in the above comments are not longer valid.

[2018-10-29 16:04] iliakur commented on #2097
@purificant very sorry, I dunno how that disney link made it into my comment. I have updated it to only contain relevant python links!

[2018-10-29 16:10] purificant commented on #1928
Proposed fix: https://github.com/nltk/nltk/pull/2165

[2018-10-29 16:22] purificant commented on #2097
Thanks @Copper-Head! It was fun to read :)

@alvations I don't suppose you know which test is flaky? Since CI link is no longer accessible. I've not seen any flaky tests myself on Travis or local tox.

[2018-10-29 18:12] purificant commented on #2072
Now that CI is fully running and passing on 3.7 is there anything else that needs to be done in order to 'officially' support 3.7 for the library? Other than updating docs and specifying versions for pypi.

[2018-10-30 00:18] alvations commented on #2097
The test would still fail at times for sure if we don't do something to the non-deterministic output checks. I'll dig the specific doctest or unittest up

[2018-10-30 00:24] atobe commented on #2155
It's notably slow to import on my machine and I use quite a few packages to have the basis for comparison. It is the only one that shifts me out of interactiveland into thinking...I am waiting for this to load, and when I'm importing it as part of a script or waiting for tests to run that starts to grate.

I'm on a Mac, here's my data:

[code]
I think this is a fair representation of my user exper

[2018-10-30 02:40] alvations commented on #2155
@atobe Out of curiosity what's your Mac hardward specs (system information)?

Is the same happening if you don't use Anaconda? Do you get the same experience when you import spacy/gensim/sklearn in Anaconda?

----

For me, hardware:

[code]

OS, Python, NLTK:

[code]

Time:

[code]

[2018-10-30 11:58] ghost commented on #1708
Hi @alvations , @Chris00
I am new here and would like to pick this up before I pick advanced issues.
I notice that Github doesn't allow pull requests to wikis (it is either allow edit access to all, or only to collaborators), and I can't find a way to submit my change for review (correct me if I'm wrong on this).
How do I proceed?

[2018-10-30 14:19] purificant commented on #2162
This is not straightforward to resolve because `nltk.download` and `nltk.downloader foo` are both exposed as public interfaces in the library.

In order to maintain `python -m nltk.downloader foo` as a public interface you have to get rid of any mention of `nltk.downloader` anywhere in `nltk/__init__.py` https://github.com/nltk/nltk/blob/15e7f74874cf562a44747957f006cf30869a15cd/nltk/__init__.py#L1

[2018-10-30 18:36] purificant commented on #2155
@atobe thank you for providing test data from your experiments

It is interesting that you are seeing much higher import times for nltk compared to numpy. I get somewhat different results on Ubuntu with various python versions installed through pyenv.

For comparison, this is representative on my system, for nltk:
[code]

for numpy:
[code]

While nltk numbers are higher the difference is not as bi

[2018-10-31 11:55] persiyanov opened #2166 "Bug in collocations.TrigramCollocationsFinder"
Hey everyone!

Isn't it a bug [here](https://github.com/nltk/nltk/blob/develop/nltk/collocations.py#L221)? I think `wfd[w1] += 1` should be out of the loop which iterates over all combinations of `w2, w3`, no? Why overcounting single words? 🤔

[upd]: seems like I get it, that's because we count non-contiguous ngrams

[2018-10-31 13:34] akshayoffice opened #2167 "Unable to find french synonym"
[code]

All the words in output is in english. Should it not be in French?

NLTK version: 3.2.5

[2018-10-31 15:01] alvations commented on #2167
There's only multilingual lemmas. Synsets should be and are language agnostic.

[2018-10-31 16:53] #2166 closed, assigned to nobody

[2018-11-02 14:22] nikitxskv opened #2168 "Code question"
Hi!

Could you explain the necessity of this code line?
https://github.com/nltk/nltk/blob/develop/nltk/internals.py#L30

[2018-11-02 14:41] ithomas-glint commented on #2053
I completely agree with this.

[2018-11-07 04:59] soap-tastes-ok commented on #1758
Wow thank you you saved my life!
I was stuck on this for a while!

[2018-11-07 09:19] jonititan commented on #1524
This issue also applies to .pseudocode()

It is because there is a None which cannot be sorted in Python 3.
Line 86
`        for i, (fval, result) in enumerate(sorted(self._decisions.items())):`

and Line 108
`        for (fval, result) in sorted(self._decisions.items()):`

in classify/decisiontree.py

If I understood better why None gets assigned as a key on a node I could submit a patch to addre

[2018-11-07 13:57] panamantis commented on #1879
newspaper uses 2.0.5 and SSL is required to install it

[2018-11-08 20:14] hlumin opened #2171 "Wordnet: synset_from_sense_key returns the wrong Synset"
https://github.com/nltk/nltk/blob/15e7f74874cf562a44747957f006cf30869a15cd/nltk/corpus/reader/wordnet.py#L1532

**Issue**: synset_from_sense_key does not always return the correct Synset.

**Example**:

[code]
outputs

[code]
While the same Synset should be returned by both

**Source of the issue**: It seems synset_from_sense_key directly concatenates the lemma name contained in the sense key to t

[2018-11-09 09:14] echan00 commented on #2008
@alvations  @jnothman How would I use freq_threshold and batch training?  I have ~60,000 TXT files I want to train with.

This is my current code:

[code]

Does this look correct?  How do I know what freq_thresholds to use?

[code]

[2018-11-09 16:32] purificant commented on #2168
Hi @nikitxskv,

[`__file__`](https://docs.python.org/3/reference/import.html#__file__) is the pathname of the file from which the module was loaded, if it was loaded from a file. The attribute is optional and may not be set for some modules.

I think that line of code exists for historical reasons, previously it was needed for [this code ](https://github.com/nltk/nltk/commit/701468b184400511bbefc8

[2018-11-10 01:06] #2124 closed, assigned to nobody

[2018-11-10 08:34] nikitxskv commented on #2168
Thank you for response!

It will be great if you remove this line. Now I have to remove this line manually because I need to know the file from which the module was loaded.

[2018-11-10 12:06] purificant commented on #2168
Out of curiosity, why do you need to know the file?

[2018-11-10 13:47] nikitxskv commented on #2168
I wrote script, that uses your package. And I want to run this script on other machine. To do that I need to create archive with this script and all used modules. Used modules and its paths I get from `sys.modules`. And then I ran into the problem that `internals.py` path equals to `__init__.py` path:)

[2018-11-10 13:56] purificant commented on #2168
Thanks for explaining @nikitxskv, interesting use case. I proposed the removal of this line in https://github.com/nltk/nltk/pull/2172

[2018-11-10 14:11] nikitxskv commented on #2168
Thank you!

[2018-11-10 15:43] stevenbird commented on #2168
Thanks @nikitxskv, @purificant

[2018-11-10 15:43] #2168 closed, assigned to nobody

[2018-11-11 09:53] #2143 closed, assigned to nobody

[2018-11-11 21:01] gmotzespina commented on #2115
I think this issue was solved, it might be good to close the issue

[2018-11-11 21:49] stevenbird commented on #2102
Thanks @aquatiko

[2018-11-11 21:49] #2102 closed, assigned to nobody

[2018-11-11 21:50] #1915 closed, assigned to nobody

[2018-11-11 21:54] #2115 closed, assigned to nobody

[2018-11-12 03:26] gmotzespina commented on #1928
Another issue that seems that it has been completed, it might be good to close the issue.

[2018-11-12 03:27] gmotzespina commented on #1130
@stevenbird it seems that this issue has been fixed, it might be useful to close it.

[2018-11-12 05:25] alvations commented on #1928
Thanks everyone for raising the issue and @purificant for the fix!

[2018-11-12 05:25] #1928 closed, assigned to nobody

[2018-11-12 11:40] stevenbird commented on #1130
Thanks @souravsingh, @gmotzespina!

[2018-11-12 11:40] #1130 closed, assigned to nobody

[2018-11-12 11:55] stevenbird commented on #2155
@alvations, @purificant: thanks for your input. Closing as it is inactive.

[2018-11-12 11:55] #2155 closed, assigned to nobody

[2018-11-12 11:56] #2105 closed, assigned to nobody

[2018-11-12 19:07] purificant commented on #2053
Proposed fix: https://github.com/nltk/nltk/pull/2175

[2018-11-13 05:46] #2053 closed, assigned to nobody

[2018-11-13 23:42] purificant commented on #2090
@meldavis Proposed fix is here: https://github.com/nltk/nltk/pull/2176

[2018-11-14 02:30] stevenbird commented on #2090
Resolved

[2018-11-14 02:30] #2090 closed, assigned to nobody

[2018-11-14 10:47] shaked210 opened #2177 "documation issue with pos_tag"
in the `nltk.help.upenn_tagset('PRP$')` there is a spell issue:
PRP$: pronoun, possessive
    her his mine my our ours their **thy** your

suppose to be they

[2018-11-14 10:58] jnothman commented on #2177
"they" is not possessive. "thy" is, albeit archaic.

[2018-11-14 10:58] jnothman commented on #2177
"they" becomes "their" when possessive.
"thou" becomes "thy" when possessive.

[2018-11-14 11:08] shaked210 commented on #2177
You right my mistake :)

[2018-11-14 11:08] #2177 closed, assigned to nobody

[2018-11-14 12:34] RuABraun opened #2178 "HTTPError when trying to use CoreNLPParser with multiprocessing"
I'm using `from nltk.parse.corenlp import CoreNLPParser` for POS. To try and speed it up I thought I'd try and use multiprocessing. So I create the parser `parser = CoreNLPParser(url='http://localhost:9000', tagtype='pos')` and use `multiprocessing.Pool.map` where I pass a list of files and a `partial` of a function which processes each file (with the `parser` in the `partial`).

Unfortunately aft

[2018-11-14 12:46] dimazest commented on #2178
Check the console output of the CoreNLP server. It might be an exception on
that side, as it returns the 400 error code.

On Wed, Nov 14, 2018, 7:34 AM Rudolf A. Braun <notifications@github.com>
wrote:

[2018-11-14 12:52] RuABraun commented on #2178
[code]

I start the server by calling:
[code]
maybe I'm missing an important flag?

[2018-11-14 13:06] dimazest commented on #2178
Maybe, the load is to high to the server. Would decreasing the number of
concurrent requests help? Or increasing the timeout on the server? Or
givinng more memory to the Java virtual machine?

Also, I would have as many threads in your script as you have cpu cores (or
one less, so you still could use your machine without delays).

On Wed, Nov 14, 2018, 7:52 AM Rudolf A. Braun <notifications@github

[2018-11-14 15:02] RuABraun commented on #2178
Still crashes when just using 5 processes (I have 16 cores) and setting Xmx to 26G, just takes longer to get there.

Java anyways always starts up 32 processes when I run above command, maybe I should reduce that number, is that possible (google doesn't return any results)?

[2018-11-14 15:10] alvations commented on #2178
What is the longest sentence length in your dataset?

[2018-11-14 15:26] RuABraun commented on #2178
When running linearly it worked fine to do it in 10 000 word chunks. I tried reducing it further to 5000 but that made no difference.

EDIT: Okay that seems to have been it, I reduced it to 1000 for 10 processes and it's gotten further then ever before. I'll close if it finishes.

[2018-11-14 17:30] purificant commented on #2132
Proposed improvement to the error message to make it more obvious that a specific language failed to load: https://github.com/nltk/nltk/pull/2179

[2018-11-14 17:44] #2178 closed, assigned to nobody

[2018-11-14 19:56] #2132 closed, assigned to nobody

[2018-11-19 00:12] programma256 opened #2182 "Code typo in CoreNLPParser.raw_parse_sents()"
I noticed an issue due to a typo in the code at: [nltk/parse/corenlp.py#L269](https://github.com/nltk/nltk/blob/94d2f365f7df4c7ef984f5e6b6bc43895cc66b71/nltk/parse/corenlp.py#L269).
**'ssplit.ssplit.eolonly'** is incorrect. Changing the property to **'ssplit.eolonly': 'true'** provides the correct behaviour.

Currently if the input sentences don't end with an EOS symbol then they are concatenated

[2018-11-19 10:56] purificant commented on #2182
Docs: https://stanfordnlp.github.io/CoreNLP/ssplit.html
Looks like a matter of changing `ssplit.ssplit.eolonly` to `ssplit.eolonly`.

Would you be able to submit a pull request?

[2018-11-19 13:43] programma256 commented on #2182
Thanks. I've submittted the [PR](https://github.com/nltk/nltk/pull/2183)

[2018-11-19 23:07] edjzhang opened #2184 "Language parameter not being passed in nltk.tag.__init__.pos_tag_sents()"
The `lang` parameter of pos_tag_sents() in nltk/tag/__init__.py is not being passed.

Coupled with the change to exception ordering in commit 69583ceaaaff7e51dd9f07f4f226d3a2b75bea69 (lines 110-116 of nltk/tag/__init__.py), this now results in an error of "NotImplementedError('Currently, NLTK pos_tag only supports English and Russian (i.e. lang='eng' or lang='rus')'" when tagging a sentence.

[2018-11-20 13:39] v-rajesh-10 opened #2185 "Tokenization - Custom Tokens"
I am a new to NLP and was reading through tokenization and wondering if we have a tokenizer existing in this framework that would actually consider a "Keyword" or set of keywords and splits the sentence or the entire paragraph based on the keyword?.

Any documentation help on the existing API would help. Appreciate your help!

[2018-11-20 13:52] programma256 commented on #1917
Just FYI the [version on github](https://github.com/stanfordnlp/python-stanford-corenlp) (3.92) has been updated in the last month to support returning json results via the API, so I think the functionality now exists to replace CoreNLPServer. v3.8 hasn't been undated on PyPI however so I suppose this is still in development.

For anyone wishing to parse long text via the CoreNLP API I suggest try

[2018-11-20 17:15] AndrewOwenMartin commented on #2184
Pull request: https://github.com/nltk/nltk/pull/2186

[2018-11-21 06:49] #2184 closed, assigned to nobody

[2018-11-21 06:49] stevenbird commented on #2184
Thanks @ezhangsfl

[2018-11-21 06:50] stevenbird commented on #2185
Please see nltk.tokenize.regexp

[2018-11-21 06:50] #2185 closed, assigned to nobody

[2018-11-21 06:50] #2182 closed, assigned to nobody

[2018-11-21 10:37] #2072 closed, assigned to nobody

[2018-11-22 08:11] apeterswu commented on #2041
Curious about whether METEOR is released now? Thanks.

[2018-11-22 19:01] GreatBahram opened #2188 "parallelism in nltk"
why you don't use any kind of parallelism in `nltk`?
Things like `word_tokenize` and other stuffs take so long time and I saw people wrote their helper for these tasks, I was wonder why you guys don't use any parallelism approach inside `nltk`?

[2018-11-23 09:06] rajarameshmamidi opened #2189 "wordnet (value error)"
Hi All,

i am using nltk 3.3 and python 3.6 versions
i am getting valueerror when i tried below code. can some one help me to rectify this error.

![value_error](https://user-images.githubusercontent.com/42936846/48935202-d2db7f80-ef2c-11e8-8c95-2bf76363cecb.PNG)

Thanks,
raja

[2018-11-24 12:46] purificant commented on #2189
Hi @rajarameshmamidi,

The first parameter to [synset()](https://github.com/nltk/nltk/blob/1bdc1bb60867bf81db7f370a12cd21e729391777/nltk/corpus/reader/wordnet.py#L1327) should be of the form `go.v.21`, `travel.v.01`,`dog.n.01` or `'dense.s.03'`. You are seeing an error because of incorrect input. For your specific example, try `motorcar.n.1`.

Also try method `synsets`, notice the plural `s` at th

[2018-11-26 02:51] rajarameshmamidi commented on #2189
Thank you purificant.... now it's working with above code.

[2018-11-26 03:23] rajarameshmamidi commented on #2189
Hi purificant,

i have a doubt on below code. i am trying to view the text from gutenberg ('chesterton-thursday.txt'). but when i run.., the output is not displaying from beginning ... and it is displaying somewhere from middle.....could you please let me know why it is happening?

import nltk
text = nltk.corpus.gutenberg.raw('chesterton-thursday.txt')
print(text)

import nltk
text = nltk.corpus.g

[2018-11-26 10:40] purificant commented on #2189
@rajarameshmamidi I see full text of `chesterton-thursday.txt` in both raw and sentence tokenized forms.

[code]

Which is the same as
[code]

[2018-11-27 12:11] Ligia-M commented on #1095
thank you @alvations, just tried your suggestions and my test accuracy went from .72 to .92!!!!!!

Could you please explain to me why randomizing the data increases the accuracy? (does it indirectly increase the generalizability of the model?)
Thank you and have a good day.

[2018-11-27 12:12] postrou commented on #1367
@Copper-Head sorry for commenting such a dead issue, but it doesn't make sence to me. The words *этот*, *этого*, *этом*, *эту* are included in stop-words list, but, for example, the words *это*, *эта*, which are just another form of words, I mentioned earlier, are not. This actually suits the controversial example you mentioned in your comment.

[2018-11-27 13:00] server2245 opened #2191 "NLTK download method fails with error"
Please advise.

My code is

[code]
The nltk version is 3.3.
Traceback (most recent call last):
  File "r.py", line 7, in <module>
    nltk.download('all')
  File "/usr/lib/python2.7/site-packages/nltk-3.3-py2.7.egg/nltk/downloader.py", line 672, in download
    for msg in self.incr_download(info_or_id, download_dir, force):
  File "/usr/lib/python2.7/site-packages/nltk-3.3-py2.7.egg/nltk/downloade

[2018-11-27 14:14] purificant commented on #2191
Unable to reproduce the above issue with nltk 3.3, python 2.7.15 on linux.

May I suggest the following:
1. Verify that you are able to access https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml from your system https://github.com/nltk/nltk/blob/1bdc1bb60867bf81db7f370a12cd21e729391777/nltk/downloader.py#L464
2. Verify that you are able to access the download url in code:
[code]
3.

[2018-11-28 03:53] BLKSerene opened #2192 "Using REPP Tokenizer on Windows"
The [doc](https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software#repp-tokenizer) gives instructions for Linux and Mac users, but what about Windows?

[2018-11-28 05:01] server2245 commented on #2191
I have Python 2.7.5

[2018-11-28 10:10] rajarameshmamidi commented on #2189
But when i try in my IDE... it's not showing all information. i have attached the screenshot of the output.
![omitting](https://user-images.githubusercontent.com/42936846/49144631-dd7a8800-f323-11e8-8859-a989d8e5d082.PNG)

[2018-11-28 11:24] purificant commented on #2189
@rajarameshmamidi Truncated output is likely a feature of your IDE and not related to NLTK. I recommend you check out the documentation for the "Python Shell" in your IDE and the phrase that you've highlighted in the screenshot.

[2018-11-29 09:16] avinashingit opened #2193 "Cider score for Image Captioning is not present in NLTK"
Most of the papers I have seen in the area of Image Captioning use Bleu, Meteor and Cider. Bleu exists in NLTK. I have seen someone taking up Meteor. I think it is worthy to have Cider incorporated in NLTK.

Cider is implemented in this paper.
https://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Vedantam_CIDEr_Consensus-Based_Image_2015_CVPR_paper.pdf

[2018-11-29 10:47] LuigiCerone opened #2194 "Import Prolog parse tree into ntlk.Tree"
Hi, is it possible to import into nltk.Tree a parse tree generate by using Prolog parsing with DCG predicate?
I've the following parse tree obtained by a prolog script I've written:

[code]
I've created another project  that does the same thing but with nltk library and if I insert the sentence ("the block b is blue") I get the following parse tree:

[code]

Is there a way that I can use to import

[2018-11-30 10:21] purificant commented on #2191
This is likely your issue. This legacy python version was released on [May 15, 2013](https://www.python.org/download/releases/2.7.5/) and has since been superseded by multiple bugfix versions. Consider upgrading from legacy python to 3.6+

[2018-11-30 17:38] dnm1977 commented on #2159
Does not work for me.

[2018-11-30 18:22] NQNStudios opened #2195 "Dozens of test failures from unchanged develop branch"
I followed the instructions in `CONTRIBUTING.md` to setup up a development environment, and run the tests with `tox -e py36 > test_output.txt`. (Running python 3.6.6.)

Here are the full contents of test_output.txt:

[test_output.txt](https://github.com/nltk/nltk/files/2634537/test_output.txt)

Observations:
* Several deprecation warnings.
* Some resources, i.e. omw, must not have been installed w

[2018-11-30 18:34] NQNStudios opened #2196 "Programmatic access to collocation/concordance lists"
The functions `nltk.Text.collocations()` and `nltk.Text.concordances()` print their output directly to the console, but I would like to be able to access and manipulate those lists through code. I'd propose adding helper functions `get_collocations()` and `get_concordances()` that return lists of objects (`ConcordanceInfo` and `CollocationInfo`, or maybe just tuples) that contain raw information,

[2018-11-30 19:07] purificant commented on #2195
@NQNStudios Having had a quick look at your test output log, most of the failures that I can see are due to missing nltk data. Try `python -m nltk.downloader all`, that should download the missing data and make all tests green.

[2018-11-30 19:54] NQNStudios commented on #2195
That fixed most of the problems.
[code]

[2018-11-30 20:07] NQNStudios commented on #2195
That last failure seems to be on me for having a spotty internet connection. I tried `tox -e py36 data.doctest` and got a success, then disconnected from the network and got a failure. Thanks for the help!

[2018-12-02 16:49] VinayVashishta commented on #1574
Thank you so much @maitetaboada.

[2018-12-03 15:29] Querela opened #2200 "BigramCollocationFinder.score_ngrams with BigramAssocMeasure.likelihood_ratio raises ValueError: math domain error"
I want to compute bigram collocations per sentence and tried to output my demo results in a jupyter notebook. Only for those four/five sentence combinations and a window size of larger than 4, the ordering with loglikelihood-ratio fails. Probably because of a negative log computation.
I'm not sure what to do at this point. Below my demo code to recreate the error.

[code]
[code]

[2018-12-06 03:30] virresh commented on #1884
I was looking around for exactly this and stumbled here,
I've created this functionality by exploiting nltk internals for one of my projects (and a CKY parser on top of it as well, although without null handling, but I believe its useful for a lot of grammars anyways, for eg the ATIS test grammar), would be happy to send a PR, just wanted to confirm if this issue still holds and is available to wo

[2018-12-08 08:01] BLKSerene commented on #2200
The problem is with the calculation of the contingency table.

[code]
When you call `score_ngram`, it will first fetch the value of `n_ii`, `n_xi`, `n_ix` and `n_xx`.
The value of n_ii will be fetched from `finder.ngram_fd` and divided by (window_size - 1), and n_xi (the number of occurrences of word 1) and n_ix (the number of occurrences of number 2) are fetched from `finder.word_fd`.
Since you'v

[2018-12-08 15:18] Querela commented on #2200
Ahh, thank you. Seems I was not as thorough as I thought. My workplace has a Java tool that computes word and sentence cooccurrences but for 'quick' prototyping it is somewhat complicated to use. So I found the NLTK `CollocationFinder`and played around a bit. The generic way to compute frequencies, log-likelihood was even better incentive. :-)
I found the n_** variables but did not easily find the

[2018-12-08 16:15] BLKSerene commented on #2200
You mean you want to find collocation in each sentence of your text?
You may instantiate a new `BigramCollocationFinder` for each of your sentences, and call the `score_ngrams` method of each collocation finder to measure the association of the bigrams (in each sentence).

[2018-12-09 07:11] rishabhkumar296 commented on #518
Hi, I would like to work on this issue. Is it still open ?

[2018-12-09 11:44] BLKSerene opened #2201 "TreebankWordDetokenizer or MosesDetokenizer?"
According to Issue #2000, the Moses Tokenizer has been removed out of NLTK since the incompatibility of its licence, but the docstring of nltk.tokenize.treebank.TreebankWordDetokenizer says it's a "Python port of the Moses detokenizer". (or Moses Tokenizer's adapted version of TreebankWordDetokenizer?)

[code]
Should this detokenizer be also removed?

[2018-12-09 14:25] purificant commented on #518
There are about a thousand instances of string formatting using the `%s` notation across the codebase.

There are many opportunities to refactor, to either [format()](https://docs.python.org/3/library/stdtypes.html?highlight=format#str.format), or [f-string](https://docs.python.org/3/reference/lexical_analysis.html#f-strings) perhaps using a polyfill, along the lines of https://github.com/asottile

[2018-12-10 09:58] jnothman commented on #2201
AFAIK, it depends how the port was done. You can port the functionality
without violating GPL, but you can't port by looking at the code...

[2018-12-10 13:52] Querela commented on #2200
Yes and no? I have a whole corpus but the sentences are not contiguous. I want to generate statistics for all the sentences, so the a `BigramCollocationFinder` per sentence but with aggregated scores.
E. g. the collocation `(".", "The")` should be almost zero (when pasting all sentences together is would be equal to the number of occurrences of `"The"`). But I want to know whether `("The", "king")

[2018-12-10 17:32] rawlins commented on #1765
I've recently put together a pure python=>SVG tree-drawing package that can be used as a drop-in replacement for `Tree`'s png-based repr in Jupyter. It may not be appropriate for everyone using NLTK, as it requires python 3 + it is still pretty early in its release cycle (and it is partly aimed at doing a bunch of other stuff that is perhaps less relevant to this audience).  But, it solves the iss

[2018-12-11 08:41] no-identd opened #2202 "Improve tokenization of Multi Word Expressions by including "python partitioner""
I suspect that @jakerylandwilliams & @andyreagan's https://github.com/jakerylandwilliams/partitioner could significantly improve the tokenization quality of NLTK, specifically when it comes to MWEs (Multi Word Expressions).

@NeelShah18 recently ported it to Python 3:

https://github.com/jakerylandwilliams/partitioner/pull/7

So, including it in NLTK should seem easy enough.

For more information

[2018-12-11 09:16] no-identd opened #2203 "Include/port SyllabiPy (which includes LegaliPy) for Syllable Tokenization"
See here for the project by @henchc:

https://github.com/henchc/syllabipy

Here for the project homepage:

http://syllabipy.com/

And here for the research paper both originate from:
https://escholarship.org/uc/item/13c6h2z2

See PDF page 44 (document page 31) for a schematic of how it works.

Incorporating this would definitely require some refactoring (throwing out util.py to make the tokenizer

[2018-12-11 09:45] no-identd commented on #1214
Consider #2202? :)

[2018-12-11 16:14] no-identd commented on #1214
Also, of note, the current bug (I mean #1214) seems to miss the tokenizer label

[2018-12-12 02:22] henchc commented on #2203
Thanks, @no-identd , I'm happy to work on this over the next week or two. I'll refactor it best I can and make a PR, if you'd help me refine it further beyond that I'd appreciate it.

[2018-12-12 08:38] no-identd commented on #2203
Huh. Didn't expect that! Very nice! Thanks! I'll try, but unfortunately, I lack the time to definitely commit to that - I've already barely had the time to open this issue.

Also, and I only bring up since you replied here, on a somewhat off-topic, somewhat on-topic notion, which, a suggestion:
You might want to take a look at #2202. I suspect the tokenizer I suggested there there could improve yo

[2018-12-12 08:41] no-identd commented on #2202
A small note/addendum on/to this, since:
a) I neglected to mention it in the initial post; and
b) it seems mention-worthy:
Python Partitioner already makes use of NLTK.

[2018-12-12 08:59] no-identd commented on #2003
Shouldn't this refer to LGPL extensions, and **not** GPL extensions? Also, note that the linking exception in the LGPL mentioned here:

https://github.com/nltk/nltk/issues/2000#issuecomment-380171248

can behave a bit trickier than you might expect at first, especially when it comes to interpreted languages:

https://softwareengineering.stackexchange.com/questions/179084/is-there-a-modified-lgpl-l

[2018-12-12 20:42] nschneid commented on #2202
Thanks for suggesting partitioner; I hadn't seen it before. Based on the paper, it looks like it performs MWE segmentation relying on MWE-labeled training data n-gram probabilities and large lexical resources (mainly extracted from Wiktionary/Wikipedia). Unlike most statistical approaches, it avoids expensive computation, essentially deferring most of the work to frequency counts and dictionary lo

[2018-12-12 23:47] no-identd commented on #2202
Unfortunately, I'll have to pass on these questions due to time constraints & lack of operational experience with partitioner, at least for the foreseeable future. Sorry! But perhaps either @jakerylandwilliams or @andyreagan can answer those questions

[2018-12-13 03:06] jakerylandwilliams commented on #2202
Thanks @no-identd and @nschneid for reaching out; I'm glad the module's of interest. We're presently working on some back end, data, and model improvements for Python 3. If bringing the current version into nltk makes sense I think it would be fairly straightforward to implement.

@nschneid, your assessment of the model is correct. Large data files can take a few seconds; the only lag on load that

[2018-12-13 16:44] NeelShah18 commented on #2202
@jakerylandwilliams @nschneid If we are omitted Wikipedia and even use default downloader by nltk than it is compatible with python2 and python3. I can help for multiplatform independence(python2 and python3) of the partitioner code.

[2018-12-16 14:23] betterenvi opened #2204 "ZeroDivisionError when computing bleu_score"
Python version: 3.5
NLTK version: 3.2.5
[code]

[2018-12-16 22:52] alvations commented on #2204
@betterenvi thank you for raising the issue. Could you provide the hypothesis and reference(s) input that caused the zero division error?

[2018-12-17 10:29] Steven-AA commented on #2159
same problem for windows.

[2018-12-17 14:19] alvations commented on #2202
Actually, if https://github.com/jakerylandwilliams/partitioner is already a working package in Python, there might not be a need to port/reimplement code. Users can easily choose to use the tokenizer directly form partitioner.

If we want the "good stuff" like MWE, we can take the gazetteers from partitioner, somehow package the MWE resource instead of porting the whole partitioner repo into NLTK.

[2018-12-17 15:01] alvations commented on #2201
It's a typo, it's not a port from Moses. Sorry, I got lazy and copy and pasted docstring ;P

It should be quite obvious from the code that the `TreebankWordDetokenizer` had used no regexes from Moses. It's simply undoing the regexes from the `TreebankWordTokenizer.tokenize()`.

----

To be clear, no part of Moses' port / code stays in NLTK after #2000 and the `sacremoses` code is maintain separate

[2018-12-17 16:09] alvations commented on #2196
@NQNStudios There's a [`Text.concordance_list()`](https://github.com/nltk/nltk/blob/develop/nltk/text.py#L380) function from #1333 and #1910

For example:

[code]

[out]:

Each `ConcordanceLine` object contains the left, right side context of  the query word, the line where query word occurs and the offset is the position of the start of the query word. The `left_print` and `right_print` is the wo

[2018-12-17 16:14] alvations commented on #2194
I looks like the output of from your parser in prolog follows the standard bracketed parse format, so you should be able to use:

[code]

[out]:

![](https://ibin.co/4QKVmaKGdV2g.png)

[2018-12-17 16:33] #2195 closed, assigned to nobody

[2018-12-17 16:38] alvations commented on #2189
@rajarameshmamidi have you got all the problems resolved regarding your question?
For more information on the `wordnet` module, please take a look at http://www.nltk.org/howto/wordnet.html

Thanks @purificant for helping to explain the solutions!

Closing this for now. Feel free to reopen if there's more issues/problems you've find with the wordnet module.

[2018-12-17 16:38] #2189 closed, assigned to nobody

[2018-12-18 11:04] LuigiCerone commented on #2194
Hi, thanks for your reply but I have misunderstood the question.
The variable `parse_tree_in_prolog` isn't the one you posted, it's this one:

`parse_tree_in_prolog = sentence(assertion(subject_phrase(determiner(the), noun(block), name(b)), verb_phrase(verb(is)), complement_phrase(adjective(blue)))) .`

The other tree (the one you posted) is valid and it's generated by using nltk library, I asked

[2018-12-18 15:38] alvations commented on #2194
Ah, the prolog tree do still look like the bracketed parse ;P

[code]

[out]:

![](https://ibin.co/4QRM0SQM20P1.png)

[2018-12-19 17:51] vitaly-zdanevich commented on #1824
Sorry, I am not an expert in NLTK - I cannot find `chinese.pickle` - so currently this is impossible to tokenize Chinese language?

[2018-12-20 21:32] NeelShah18 commented on #2202
@alvations  I agree with his suggestion. But, I see the NLTK implementation we have to rewrite as per NLTK structure and test. We also need code for portable in python2 and python3 for making it NLTK library coding norms.

[2018-12-21 05:38] jakerylandwilliams commented on #2202
@alvations and @NeelShah18, I agree that pulling out and re-packaging the gazetteers and MWE segmentation resource per NLTK structure and coding norms would make the most sense for integration. There are a few models and utilities inside of https://github.com/jakerylandwilliams/partitioner and the one probably best suited for NLTK was mentioned at the top of the thread by @no-identd:

https://nois

[2018-12-27 09:25] devikasondhi opened #2209 "Lemmatizer on contractions and some pronouns"
Hello,

The WordNetLemmatizer does not seem to account for contractions like "'ll" or pronouns like "her".

Usage:
`lemmatizer.lemmatize("'ll")` returns `"'ll"` when expected `"will"`
`lemmatizer.lemmatize("her")` returns `"her"` when expected `"she"`

[2018-12-27 09:48] alvations commented on #2209
Regarding both example raised, the current `WordNetLemmatizer`  output is the expected.

 - `'ll` could have been `shall` / `will` so returning the contraction should be expected.  (When in doubt, return as it is)

 - `her` is a possessive pronoun, forcing the lemma to change it to the 3rd person pronoun wouldn't be right.

I might be wrong on the pronoun lemma though. It depends on what's the cur

[2018-12-27 16:32] nschneid commented on #2209
*'ll* can be short for *shall*? Is that true of modern usage? https://www.merriam-webster.com/dictionary/'ll and https://dictionary.cambridge.org/dictionary/english/ll?q=%27ll just have *will*.

[2018-12-27 23:03] alvations commented on #2209
Whoops, me stuck in "older" english =P

It does appear on wiki though: https://en.wikipedia.org/wiki/Wikipedia:List_of_English_contractions

[2018-12-28 09:25] iliakur commented on #736
The `generate` method should be present as of NLTK 3.4. Check out the `nltk.lm` package!

[2019-01-02 21:38] eric-burel commented on #736
Hi, what are possible current alternatives to auto generate text, in replacement to this function? I am reading the generated text from the Chapter 1 of the book, and I too would like to produce marvelous sentences such as "In the beginning of his brother is a hairy man" or this fundamental question : "so shall thy wages be?".

[2019-01-02 23:32] nrcpp commented on #1700
I just faced this problem trying to call
`nltk.pos_tag(words)` from IronPython. My solution is this:
[code]
At least works for call above.

[2019-01-03 21:01] tarskiandhutch opened #2210 "Adding Constraint to Parser in nltk.parse.corenlp"
When using CoreNLP's standard Java interface, constraints can be used to increase the accuracy of parse results based on known characteristics of a given data set. For instance, if a user knows that all sentences have a finite matrix clause, the parser can be constrained to produce an `S` label at root level, and then rank the most probable parses accordingly.

See [this test file](https://github.

[2019-01-05 15:08] iliakur commented on #736
Sorry @eric-burel I don't quite understand your comment. I'm going to try phrasing it in my words and you tell me if that's correct, ok?

Do you want some other way to generate text *other than* training a language model and using its `generate` method?

[2019-01-06 11:00] eric-burel commented on #736
Hi, sorry I was unclear, I was just having a good laugh reading the NLP with Python book when reaching the text generation part, as the sentences are very realistic while still being weird, and I find this subject interesting in general.
I just wonder what's the current recommanded alternative to generate text automatically, in replacement to `generate()`. Should I update smth or load another libr

[2019-01-06 11:53] iliakur commented on #736
Well, starting with NLTK version 3.4 you actually have access to `generate()`. Take a look at the documentation for the `lm` module:
[code]

[2019-01-06 19:25] rishabhkumar296 commented on #2112
Hi, I would like to take this up as my first issue.

[2019-01-07 20:16] dimazest commented on #2112
It's great you are interested in the issue. If you have any questions, ask them here.

[2019-01-09 02:01] coranholmes opened #2212 "Error loading home: Package 'home' not found in index and nltk.data.path becomes empty"
I want to use `nltk.pos_tag`, and I have downloaded `punkt` and `averaged_perceptron_tagger`. My codes work fine on MacOS. Then I copy my `nltk_data` folder to another linux and configure the nltk.data.path. When I run the same codes again, the `nltk.word_tokenize` can work fine but `nltk.post_tag` triggers an error
[code]
However, when I try to run `nltk.download('home')`, I have another error:
[

[2019-01-09 03:19] alvations commented on #2212
The `nltk.download()` function is to download the existing datasets that's prepared in [`nltk_data`](https://github.com/nltk/nltk_data).

If you like to tell NLTK to look into a different path for `nltk_data` other than the default paths, then do this in the code:

[code]

If you don't want to hard code that inside the python code, you can set the environmental variable before running python e.g.

[2019-01-09 03:21] alvations commented on #2212
But what's interesting is why did the error asks the user to do `nltk.download('home')`? That looks like a bug.

Thanks @coranholmes for reporting this!

[2019-01-09 03:43] oldmcdonalds commented on #2087
Hey @TrigonaMinima, any luck on this?

[2019-01-09 05:28] coranholmes commented on #2212
Hi, I have already appended the path correctly, that's why I can use `nltk.word_tokenize` correctly. But somehow nltk cannot find the `averaged_perceptron_tagger.pickle` which is already there. For `nltk.download('home')`, I guess it is because the path of my `nltk_data` is `/home/path/to/nltk_data`

[2019-01-09 05:37] coranholmes commented on #2212
To add a bit more information.
I am running `nltk-3.4` on `python 2.7.0` .
I have already wrote:
[code]
I try to use
[code]
and I can load the pickle file correctly without raising `LookupError`.
However, if I use
[code]
directly, it will raise the `LookupError`.

[2019-01-09 06:52] TrigonaMinima commented on #2087
@aakashgupta0205 here's the stopword list - https://github.com/TrigonaMinima/HinglishNLP/blob/master/data/assets/stop_hinglish

[2019-01-09 06:52] #2087 closed, assigned to nobody

[2019-01-10 02:14] lkfo415579 commented on #2159
same problem for linux(ubuntu) with newest pyinstaller, setuptool and nltk.

[2019-01-10 08:20] gocen opened #2213 "nltk affects lower() function"
When I import nltk, lower() function doesn't work fine. For example:

s="What's the best way to archive GIF's?  I zip them"
print(s.lower())

output: what's the best way to archive gIf's? I zip them

It doesn't lowercase 'I' character. Why?

[2019-01-10 08:28] alvations commented on #2213
I can't replicate the problem.

[code]

Could you show the code that you've ran, so that we can try to replicate the problem? Which NLTK and Python version are you using?

[2019-01-10 08:32] gocen commented on #2213
I use python 2.7. My coding is:

`mustafa@mustafa-SVF1521ZSTB:~$` python
Python 2.7.15rc1 (default, Nov 12 2018, 14:31:15)
[GCC 7.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

"what's the best way to archive gIf's?  I zip them"

'3.4'`

[2019-01-10 08:38] gocen commented on #2213
`mustafa@mustafa-SVF1521ZSTB:~$ python
Python 2.7.15rc1 (default, Nov 12 2018, 14:31:15)
[GCC 7.3.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

"what's the best way to archive gIf's?  I zip them"

`

[2019-01-10 10:04] purificant commented on #2213
Not able to reproduce. In a newly created venv with nltk 3.4 installed:

[code]

[2019-01-10 11:19] gocen commented on #2213
My problem still continue in python2. I don't know the reason but now I'm using python3. It's fine

[2019-01-10 16:24] NQNStudios commented on #2196
@alvations I think I see what you mean. Returning a list that simply contains the word pairs would be easy, but returning context info would require refactoring all three ngram finders in ways that might create side effects. Is that the gist of the problem?

For my purposes, a simple list of the word pairs would suffice. Would a PR that provides that in a `collocations_list` function be a good sta

[2019-01-10 18:47] dreamk73 commented on #1879
I just ran pip install newspaper on conda python 2.7 and still got this same error. Solved it by running:

pip install git+https://github.com/codelucas/newspaper.git@python-2-head

[2019-01-12 10:19] #2201 closed, assigned to alvations

[2019-01-13 21:44] sapphire008 opened #2214 "String to tree: ValueError: range() arg 3 must not be zero"
[code]

Raises ValueError: range() arg 3 must not be zero.

This is associated with the example taken from http://www.nltk.org/book/ch08.html.

[code]

Printing the tree can be displayed correctly. However, when calling

[code]

Same error was raised.

NLTK version 3.3. Python version 3.6.5 Anaconda distribution. MacOSX 10.14.2

[2019-01-15 02:03] alvations commented on #2192
Unfortunately, REPP doesn't support Windows officially. Even in Linux some distro has issue, see #1985

Please use this instead https://github.com/delph-in/pydelphin/blob/develop/delphin/repp.py

-----

On a side note we should deprecate REPP since `pydelphin` has a full python implementation.

[2019-01-15 02:09] alvations opened #2215 "Deprecating REPP wrapper and using pydelphin"
The original C++ REPP is nice but it doesn't have continuous support for different OS, c.f. #1985 #2192

It would be nice to deprecate the wrapper and incorporate REPP from `pydelphin` into NLTK to replace the current wrapper we have now: https://github.com/delph-in/pydelphin/issues/202

[2019-01-15 06:38] BLKSerene commented on #2192
Thanks a lot.

[2019-01-15 08:23] lkfo415579 commented on #2159
pyinstaller downgrade back to 3.3, problem solved.

[2019-01-16 04:11] bleuest commented on #2159
Same problem for windows.

[2019-01-16 12:58] no-identd commented on #875
Related nltk_data issue:
https://github.com/nltk/nltk_data/issues/20

[2019-01-16 12:59] no-identd commented on #905
and on https://github.com/nltk/nltk_data/issues/20, right?

[2019-01-16 13:16] no-identd commented on #121
@alexrudnick:

Did you ever actually relicense this?

[2019-01-16 18:37] alexrudnick commented on #121
@no-identd  Ahh, this was a migrated issue -- I ran the script that moved all the issues over from Google Code. So I didn't write that text!

It must have been Yoav Goldberg ( @yoavg ) who wrote it! We could ask him if he's still interested!

[2019-01-17 05:26] truthless11 commented on #2204
@alvations ZeroDivisionError also happens to me, here's an example of inputs:
[code]

[2019-01-18 20:45] purificant commented on #2213
It's a good idea to use python 3 given the ticking of https://pythonclock.org/

If we can reproduce your issue with legacy python reliably I am sure we can get it resolved, but so far we haven't been able to do that.

[2019-01-18 23:41] purificant commented on #2204
`len(hyp)` needs to be > 1

It makes no sense to use method 4 smoothing ( see http://acl2014.org/acl2014/W14-33/pdf/W14-3346.pdf ) as it causes a `1 / ln(len(hyp))` operation, which is division by zero for `len(hyp) = 1`

Even if method 4 is patched to work around that and essentially do nothing, there are still issues with calculating BLUE due to `ln(0)` operations for the example input.

[2019-01-21 06:50] gocen commented on #2213
I formatted my computer. Now, python2 also works fine. I can't reproduce the problem too.

[2019-01-21 09:36] alvations commented on #2213
Thanks @purificant for verifying!
@gocen Glad that it worked out =)

[2019-01-21 09:36] #2213 closed, assigned to nobody

[2019-01-23 03:40] youngzhou97qz opened #2217 "Why the same content, but the low score?"
I tried to run the code as follow:

[code]
[code]

I wonder why the BLEU score is so low, and how can I change the score to 1?

[2019-01-23 19:20] rj-7 opened #2219 "Wordnet : synset not found for many existing sense keys"
The function nltk.corpus.wordnet.lemma_from_key(key) does not return synsets for many valid sensekeys.
`print wn.lemma_from_key(hot%3:00:00:tasty:00).synset()`
prints out
`WordNetError: No synset found for key 'hot%3:00:00:tasty:00'`
There are many similar keys resulting the same outcome.
Also I am using WordNet 3.1 princeton web search to verify the validity of keys. But nltk has a lower wordnet

[2019-01-24 08:23] Dobatymo opened #2220 "Treebank detokenizer parenthesis issue"
Python version: Python 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)] on win32
NLTK version: 3.4

Parentheses in the input are not correctly detokenized.

[code]
Output: `'Hello (world )'` (notice the space)

[2019-01-25 06:51] iamRVel commented on #2122
Nope, It's available in 3.3 version but use the following code from nltk.tokenize.punkt import PunktSentenceTokenizer

[2019-01-28 20:32] benileo commented on #2012
What is the cause of this issue?

[2019-01-29 06:48] okz12 opened #2221 "Minimum Edit Distance Word Alignment"
I've been using NLTK for work and one of the features that would be quite useful is aligning words / characters between two strings by using a minimum edit distance. The alignment tools I came across in NLTK were looking at translations between two different languages. In my case, I was looking at the quality of OCR'd documents and needed to compare the output with a reference and highlight the ch

[2019-01-31 00:54] rmalouf opened #2222 "TweetTokenizer and punctuation inside URLs"
The twitter tokenizer exhibits (what I think is) undesirable behavior when tokenizing URLs. For example:
[code]
yields
[code]
where
[code]

[2019-01-31 15:09] anthopper commented on #736
Could also build your own generate, if ya want:  http://www.cyber-omelette.com/2017/01/markov.html¶

[2019-02-01 19:47] weilu-mkt opened #2223 "python 3.7 compatibility PEP 479: ngrams"
Hi,

Similar to #2148 I just found that using the command _ngrams_ is also raising the RuntimeError: generator raised StopIteration. This happens when I try to loop over the ngrams generated, for example:

`data = ngrams(sentence, 2) \\
for gram in data: \\
    print(gram)`

And the error happens at the second line.

Could you look into that issue as well? Thanks!

PS: I tried re-installing the pa

[2019-02-01 20:25] purificant commented on #2223
Hi @weilu-mkt,

What are the values of `sentence` and `nltk.__version__`?

[2019-02-01 20:33] weilu-mkt commented on #2223
Hi purificant,

Thanks for your help! I just checked and find my version of nltk is 3.3. An example of the variable `sentence` is as follows (a list containing words with their pos tags):
`[('decis', 'N'), ('illustr', 'V'), ('scope', 'N'), ('stringenc', 'N'), ('rule', 'N'), ('refer', 'V')]`

I just used `pip3 install nltk==3.4` and it appears to be succesful: `Successfully installed nltk-3.4 singl

[2019-02-01 20:47] purificant commented on #2223
Please use nltk 3.4, it's the first version with Python 3.7 support, your issue should be resolved in this version.
If your `nltk.__version__` still says 3.3 it means the code is still importing the older version.

[2019-02-01 20:54] purificant commented on #2223
I've attempted to reproduce this with nltk 3.3 as well, to confirm that it is indeed fixed in 3.4, however, I was not able to do it. My sample code:

[code]

[2019-02-01 21:22] weilu-mkt commented on #2223
Ok, thanks a lot for your help. The problem is solved and I think it is because I didn't install 3.4 successfully.

[2019-02-01 21:22] #2223 closed, assigned to nobody

[2019-02-03 09:47] mircealex opened #2224 "Minor typo in the docstring of common_contexts()"
The parameter name is `words`, but the docstring uses `word`.

![image](https://user-images.githubusercontent.com/22998607/52175231-63de9a80-27a9-11e9-98da-6ebc77dcbc9d.png)

[2019-02-05 09:03] Dilshad737 commented on #2029
[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed
[nltk_data]     (_ssl.c:646)>

[2019-02-07 10:27] carnesca commented on #2184
I am still receiving this error even though I've updated to the latest files and have also tried manually adding the `lang='eng'` parameter, but this also didn't work. @ezhangsfll @stevenbird

[2019-02-08 18:03] matkoniecz opened #2228 "make it installable with pip or at least link download page"
To reproduce:

- start with an environment without `nltk`
- run `sudo pip install nltk`
- create file with simple `nltk` script (see below)
- run this script

I tested with

[code]

based on https://stackoverflow.com/a/37559340/4130619

I got error where relevant part is
[code]

It is surprising as I would expect pip to install package and all necessary resources, not only parts of it.

If it is r

[2019-02-09 07:27] purificant commented on #2228
Some dependencies include data sets that are several gigabytes in size, it makes sense to not install them every time the main package is installed and allow granular downloads depending on use case. The error message shows which data resource is missing and how it can be downloaded.

The installation docs are here: http://www.nltk.org/install.html
The docs about data downloads are one below in th

[2019-02-09 12:59] matkoniecz commented on #2228
tl;dr:
I think that https://www.nltk.org/data.html should be linked in this error message to make it less surprising.

-------

http://www.nltk.org/install.html has just

[code]

so it is not too useful and "NLTK Downloader" is not even mentioned there.

"NLTK Downloader" is also not mentioned at https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software linked from that page.

I think that

[2019-02-10 12:21] purificant commented on #2228
I think this makes sense to add. Proposed patch here: https://github.com/nltk/nltk/pull/2230
Suggestions on the message text are welcome.

[2019-02-10 16:38] shubhamtripathi-work opened #2231 "IndexError: string index out of range"
I have been trying to execute the example present on the main website of [https://www.nltk.org/](url).
This is my code.

[code]

[2019-02-10 16:59] #2231 closed, assigned to nobody

[2019-02-11 14:41] JlnWntr opened #2232 "Uninstall"
How can you uninstall nltk, after you've previously run
`sudo python setup.y install`
?

[2019-02-11 17:12] purificant commented on #2232
`sudo pip uninstall nltk`

[2019-02-12 09:08] yoquankara commented on #1210
Just want to add a real world example from [BookCorpus](http://yknzhu.wixsite.com/mbweb), extracted from "Three Plays", Published by Mike Suttons at Smashwords.

`sent_tokenize('The weather is terrible, and my day was ok.  You are supposed to take your medicine.')`

Output

`['The weather is terrible, and my day was ok.  You are supposed to take your medicine.']`

It confirmed that nltk didn't rec

[2019-02-13 23:45] AllanWang commented on #2184
Last release is the 17th whereas this was merged afterwards

[2019-02-14 11:09] rpinquie opened #2234 "Get raw sentences"
How can I get a list of raw sentences from a piece of text after using sentence splitting 'ssplit' ?

[2019-02-15 14:21] shuraluberetsky opened #2235 "Uniform interface for similarity measures in Wordnet"
Hello,

played around a little with NLTK and noticed that similarity measures in Wordnet behave differently when comparing similarity of different parts-of-speech - say, a noun and a verb. Some quietly return None, some throw an exception.

For example - having

noun = nltk.corpus.wordnet.synset('table.n.01')
verb = nltk.corpus.wordnet.synset('go.v.01')

and

ic = nltk.corpus.wordnet_ic.ic("ic_bro

[2019-02-19 03:42] FranklinChen opened #2237 "childes URL is out of date and invalid"
nltk/corpus/reader/childes.py needs to be fixed to look for CHILDES data at https://childes.talkbank.org rather than http://childes.psy.cmu.edu because we renamed the server some years ago.

[2019-02-21 21:40] aman2304 commented on #2041
Any updates on the METEOR PR?

[2019-02-23 22:07] nick-ulle opened #2239 "Plot methods don't return Axes object"
The `.plot()` methods on `FreqDist` and `ConditionalFreqDist` currently return `None`. This makes it difficult to customize the resulting plot.

In addition, returning `None` here is counterintuitive to users coming from other scientific computing packages. As an example, Matplotlib, Pandas, and Seaborn, all typically return an `Axes` object from their plotting methods.

I propose changing the `.p

[2019-02-24 20:22] erickrf opened #2241 "Add words to the Portuguese stopword list"
A few very common words in Portuguese are not included in the stopword list. At least `é`, `ser` and `ter` should be included for consistency, since these are verbs whose other inflected forms are already included.

[2019-02-26 04:53] #2224 closed, assigned to nobody

[2019-02-26 04:54] #2237 closed, assigned to nobody

[2019-02-26 10:41] BLKSerene opened #2242 "singledispatch dependency not needed for Python >= 3.4"
The `singledispatch` dependency (introduced in #2077) is only used in `lm/vocabulary.py` (though I might be missing something), and it is only needed for Python 2.6 - 3.3 (it has become a part of the built-in library `functools` since 3.4), so I suppose that this dependency should be inlcuded for Python < 3.4 only in `setup.py` with `'singledispatch; python_version < "3.4"'`.

[2019-02-26 20:41] iliakur commented on #2242
I have no time these days to deal with this myself, but you're welcome to open a PR for it!!

[2019-02-27 06:33] BLKSerene commented on #2242
OK, I'll do this, open #2243.

[2019-02-27 06:36] amadanmath opened #2244 "CoreNLPServer on a non-default port"
If port is specified for `CoreNLPServer`, it is tested, put into the URL, but never put into `corenlp_options` ([here](https://github.com/nltk/nltk/blob/ac6a2394800138e4638279abc47a2394093cca72/nltk/parse/corenlp.py#L84)). Thus, `CoreNLPServer(port=9001).url` will be `http://localhost:9001`, but it will actually listen at `9000`. Should there not be another line there, to the effect of

    corenl

[2019-02-27 06:37] #2192 closed, assigned to nobody

[2019-02-28 11:33] #2232 closed, assigned to nobody

[2019-03-01 04:59] BLKSerene commented on #2159
I've met the same issue here. The problem is that the hook in PyInstaller 3.4 does not check whether paths in `nltk.data.path` exist before adding them to the `datas`. [This PR](https://github.com/pyinstaller/pyinstaller/pull/3897) and [this PR](https://github.com/pyinstaller/pyinstaller/pull/3973) would fix this but both ones haven't been merged yet (as of my writing).

PyInstaller 3.3 works just

[2019-03-03 03:55] jiaxin96 opened #2245 "the BLEU socre calculated by the version 3.4 is different from the version 3.2"
run this code:
from nltk.translate.bleu_score import sentence_bleu
reference = [['the', 'cat',"is","sitting","on","the","mat"]]
test = ["on",'the',"mat","is","a","cat"]
score = sentence_bleu(  reference, test)
print(score)

version 3.2 print:
0.4548019047027907
/home/jren/anaconda3/lib/python3.6/site-packages/nltk/translate/bleu_score.py:490: UserWarning:
Corpus/Sentence contains 0 counts of 4-gra

[2019-03-04 17:26] savkov commented on #2219
I have the same problem. There are a ton of them. Just sample below.
[code]

[2019-03-06 11:37] dlukes opened #2247 "Making dispersion_plot faster / leaner / more readable"
I noticed that the data preparation part of `nltk.draw.dispersion_plot` does repeated passes over the data and allocates some of the intermediate results, which seems unnecessary:

https://github.com/nltk/nltk/blob/39d8eeb2f249ad67d11300d97971f972039bdc63/nltk/draw/dispersion.py#L33-L52

I also find the nested listcomp which creates the `points` and then the `list(zip(*...))` idiom hard to read, t

[2019-03-06 21:25] hsadigh commented on #1996
I it possible to visualise the clusters that has been generated by KMeansClusterer.

[2019-03-07 11:20] dlukes commented on #2247
(I should perhaps clarify: the speedup gain is not my main motivation here, I realize it's not that big of a difference. I initially started digging around this code because I want students to tinker with it in a class setting, so that they get more comfortable reading and customizing existing code, and found the data preparation part of the function somewhat hard to read for no clear benefit to m

[2019-03-08 15:10] tenuretech opened #2248 "Enhancement: K means clusterer random seed initialization"
I would like to have the option to initialize the random seed of the K-means clusterer in an easier manner, to allow reproducibility of the results.

[2019-03-09 13:06] verenablaschke opened #2249 "CHILDESCorpusReader tagged_sents/tagged_words: broken replacement feature"
Hi,

While using the `tagged_sents` and `tagged_words` functions of `CHILDESCorpusReader`, I ran into a problem with replacement comments within the utterance lines.
When I call `tagged_sents(replace=False)`, the replacement comments are included as additional words in the output instead of being skipped. With `tagged_sents(replace=True)`, *every* word in the sentence is replaced, not just the one

[2019-03-10 09:47] BLKSerene opened #2250 "PunktTokenizer does not use the correct version of the pickled model on Python 3.x"
Hi, I'm trying to package my program with NLTK and nltk_data using PyInstaller. So to minimize the size of the data file, I removed the zip file and all models for Python 2.x in `nltk_data/tokenizers/punkt` (only the `PY3` folder is left).

But it seems that the `PunktTokenizer` always uses the Python 2.x version of the pickled model regardless of Python version I'm using. And the error message sa

[2019-03-11 03:21] #2242 closed, assigned to nobody

[2019-03-15 16:34] nmakarun commented on #2010
@alvations @dimazest I am also facing similar issue error requests.exceptions.HTTPError: 500 Server Error: Internal Server Error for url: http://localhost:9000/?properties=%7B%22annotators%22%3A+%22tokenize%2Cssplit%2Cner%22%2C+%22ssplit.isOneSentence%22%3A+%22true%22%2C+%22outputFormat%22%3A+%22json%22%7D.

And I have to agree with @JohnnyLim, what I observe is when I sent in the text as list whi

[2019-03-15 16:50] dimazest commented on #2010
I've updated the wiki page https://github.com/nltk/nltk/wiki/Stanford-CoreNLP-API-in-NLTK/_compare/3d64e56bede5e6d93502360f2fcd286b633cbdb9...f33be8b06094dae21f1437a6cb634f86ad7d83f7

though, it might worth putting this information into NLTK documentation to avoid documentation spread over several source.

[2019-03-17 07:23] okz12 commented on #2248
The KMeansClusterer can take a random number generator (rng) and use it for sampling. You can set the seed of the rng before passing it to the clusterer. Using Python's built-in rng:

[code]

More information: https://www.nltk.org/_modules/nltk/cluster/kmeans.html#KMeansClusterer

[2019-03-17 09:46] stevenbird opened #2251 "text.generate"
Look into reinstating ```text.generate()``` now that the language model package ```lm``` is available.

cf https://github.com/nltk/nltk/commit/73f7e7b9ec301c39dc11035f138a27feb3c436cf#diff-f5cb9102f911e93ca5fefa00b56a1e3f

[2019-03-17 10:04] ajaykumar-br commented on #1961
It still isn't working for me I have tried all of the above ones and yet I still get
"module 'nltk' has no attribute 'internals' "

[2019-03-17 10:04] ajaykumar-br opened #2252 "It still isn't working for me I have tried all of the above ones and yet I still get"
It still isn't working for me I have tried all of the above ones and yet I still get
"module 'nltk' has no attribute 'internals' "

_Originally posted by @ajaykumar-br in https://github.com/nltk/nltk/issues/1961#issuecomment-473650946_

[2019-03-17 12:26] stevenbird commented on #2251
@Copper-Head: do you have any advice here, or perhaps time to look into this please?

[2019-03-17 12:28] stevenbird commented on #2252
Sorry, we do not have capacity to do more here.

[2019-03-17 12:28] #2252 closed, assigned to nobody

[2019-03-17 21:51] iliakur commented on #2251
The impression I got from skimming the old (deleted) method is that it was a wrapper around `model.generate`. Is that correct?

I'm not sure what all the trigram model checking was about, but for a starter we could maybe have `text.generate` have the same interface as `model.generate`. Does that sound reasonable? If yes, I could find time to add it.

[2019-03-18 08:20] Vonisoa commented on #2167
You should proceed like this:

[code]

[2019-03-18 11:15] wishforgood commented on #2086
I have come up with the same problem, the md5 value is checked to be correct. I have tried several lines of data, but all failed. The error messages are various: "not enough value to unpack"(for ARRANTIES, EXPRESS,OR \n) or "ValueError: invalid literal for int() with base 10:"(for "@", "+", etc.). I have also tried to get a older version of nltk on python3 but also faced the same problem. It seems

[2019-03-19 03:12] wishforgood commented on #2086
I have figured out my problem. I used nltk.corpus.reader.wordnet.synset_from_pos_and_offset(), but the offset number has zeros in the beginning. I didn't notice it and it turned out that the offset number was recognized to be an octal number. Therefore the wrong line was input to the function.

[2019-03-19 13:54] piero commented on #2140
I noticed that this behaviour is inconsistent, e.g. `"Here is a ''double quoted'' text"` is tokenized as `['Here', 'is', 'a', '``', 'double', 'quoted', "''", 'text']`.

Assuming that the second set of single quotes should also be converted into back-ticks, I've fixed this  in this PR: https://github.com/nltk/nltk/pull/2254

[2019-03-19 23:10] alvations commented on #2140
The second set of single quotes should be kept as two single quotes. This `''` is to encode end of quotation and `` is to encode start of quotation, as per the documentation of Penn Treebank corpus.

[2019-03-20 15:46] stevenbird commented on #2251
Thanks @Copper-Head, that would be great. Yes, same interface, except ``num_words=100`` to preserve the behaviour published in the book: https://www.nltk.org/book/ch01.html#searching-text

[2019-03-21 12:36] briemadu opened #2255 "update prior in hmm unsupervised"
In relation to the comment in line 1074 in hmm.py:

I suppose Rabiner is referring to left-to-right HMMs only (see equation 46 in his paper). For general HMMs we do have to update priors, don't we?

[2019-03-21 16:27] dangusev commented on #1706
Did anybody find a workaround for this issue?

[2019-03-23 01:47] aetilley commented on #1884
@virresh @alvations Sorry for letting #1722 get stale.  Life has gotten in the way.

@virresh If you'd like to take a wack at this be my guest.  I wrote a conversion to CNF years ago.

https://github.com/aetilley/pcfg/blob/master/src/pcfg.py#L524

 I remember it reordering the steps in the usual algorithm but I also remember convincing myself that they were equivalent.  Proceed with caution.

I'm

[2019-03-23 01:47] aetilley commented on #1722
Commented on #1884

Closing issue.

[2019-03-23 01:47] #1722 closed, assigned to nobody

[2019-03-23 02:59] lYesterdaYl opened #2256 "Unable to find synonym for multiple words"
This is my code, but it doesn't work as expected.
[code]

This is the output
[code]

The list for "Adventure" and "Drama" prints empty, which is supposed to have its synonym.

[2019-03-23 06:09] #2256 closed, assigned to nobody

[2019-03-26 02:32] zhang402115 opened #2258 "problems configuring NLTK 3.4 to use Stanford segmenter"
win10 64bit+python3.6 64bit
I find this instruction website and followed: http://www.nltk.org/api/nltk.tokenize.html?highlight=segmenter#module-nltk.tokenize.stanford_segmenter//
With enviroment varable set,still the program is a failure.

# -*- coding:utf-8 -*-
import nltk, re, pprint,os,codecs
java_path = r"C:\Program Files\Java\jre1.8.0_202\bin\java.exe"
os.environ['JAVAHOME'] = java_path

from

[2019-03-26 02:38] alvations commented on #2258
@zhang402115 please use this to access the Stanford CoreNLP https://github.com/nltk/nltk/wiki/Stanford-CoreNLP-API-in-NLTK

[2019-03-26 02:50] zhang402115 commented on #2258
@alvations Thank you for the reminding. I know about that webpage, though a little superstitious that an independent segmenter just for chinese could be more acccurate, thus exerted lots of efforts on it :)

[2019-03-26 02:59] alvations commented on #2258
The wrapper should technically call the same segmenter for Chinese.

P/S: The old Stanford interfaces should be somehow deprecated...

[2019-03-26 05:38] zhang402115 commented on #2258
@alvations Thank you!

[2019-03-26 14:15] zhang402115 commented on #2258
@alvations i just confirmed, the comprehensive corenlp functions as well as the independent segmenter

[2019-03-26 14:15] #2258 closed, assigned to nobody

[2019-03-26 23:25] Ovishake commented on #1981
Mar 26, 2019. I'm also facing the same issue with NLTK on Anaconda.

[2019-03-26 23:27] Ovishake commented on #1981
Remove the line:
import nltk
Use:
from nltk.corpus import stopwords

[2019-03-30 05:35] rajeshkumargp opened #2259 "Stanford POS tags are missing'_' in nltk.tag.StanfordPOSTagger"
I am using the stanford-postagger-2018-10-16/stanford-postagger-3.9.2.jar.
'_' is tagged as 'CD' by Stanford POS Tagger when running using Java jar program, and the same is getting missed when receiving in Python Nltk StanfordPOSTagger.

**Input Sentence:**
"_ computer is made to implement simulation"

**Stanford Jar result:**
__SYM computer_NN is_VBZ made_VBN to_TO implement_VB simulation_NN

**N

[2019-04-01 02:37] bjourne commented on #738
`nltk.model` is still not available. Odd.

[2019-04-01 13:10] iliakur commented on #738
@bjourne the reworked module should be importable as `nltk.lm`. The API has changed, I recommend reading the docs for it:
[code]

[2019-04-01 18:35] #2221 closed, assigned to nobody

[2019-04-05 00:35] Akurathi opened #2261 "How to generate alignments using MMseqs2 tool"
We have seen your MMseqs2 tool in GitHub. It's really interesting. We are trying to run this tool and try to generate alignments to predict contacts using tools such as CCMpred/FreeContact. We didn't find the correct command to generate an .aln file from the dataset and protein fasta file as the input. It would be a great help if you guide us in the right way.

[2019-04-06 11:59] vaishukla25 commented on #1961
@2hands10fingers  the same problem was with me,i uninstall nltk the reinstall it again then again run those line of code.
1.pip uninstall nltk
2.pip install nltk
3.again run those lines import nltk nltk.download()
4.run it ,it will execute errorfree.

[2019-04-06 19:08] mayowaosibodu commented on #1695
@lixin4ever @alvations  Did you eventually figure out a more efficient way to build language translation models? I was working with the IBM Model 3 for a 10k+ sentence corpus and had to stop the process after 21 hours of my computer's fan blowing intensely (16 GB RAM)- It's a new computer and I'm not ready to replace it just yet.

Any other libraries which prove efficient for building Statistical

[2019-04-06 19:28] irisxzhou commented on #2063
Hello, I'm a new contributor to open source projects and I would like to work on this bug. :)

[2019-04-06 19:31] ssantichaivekin commented on #1883
Hi all! This is my first time working on open source project and I would like to work on this bug. :D

[2019-04-07 00:18] alvations commented on #1695
Try http://www.statmt.org/moses/ and for just alignments, see https://github.com/alvations/usaarhat-repo/blob/master/Align-A-Line.md

[2019-04-08 11:03] DillipNLP opened #2262 "https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml"
Hi All,
Hope You are doing well.
while i am trying to download(in my office laptop) nltk download () from python prompt. its showing below error.
 a connection party didn't  properly responded after a period of time.

Can you please suggest me ... what could be possibilities issue.

Regards
Dillip

![image](https://user-images.githubusercontent.com/49390723/55719288-7da39480-5a1b-11e9-8371-8709da3

[2019-04-08 14:39] island99 opened #2263 "Why the same tokens have different tags using ‘chi_tagger.tag’？"
Hi guys, I want to tag my tokens using nltk for Chinese, but it became the same in the end, why?
![image](https://user-images.githubusercontent.com/18048381/55732724-130c4c00-5a4f-11e9-8445-62cccea52165.png)

Thanks a lot!

[2019-04-08 14:40] island99 commented on #2263
'成都' is a city in China and ‘周杰伦’ is a pop musician.

[2019-04-09 02:18] ssantichaivekin commented on #1883
@DavidNemeskey What is the expected behavior for the code you gave?

[2019-04-09 07:03] DavidNemeskey commented on #1883
@ssantichaivekin Well, **not** throwing an `AttributeError`. :)

[2019-04-09 07:14] DavidNemeskey commented on #1883
OK, so if you want a MWE, here's one that works:
[code]
and here's one that doesn't:
[code]

Even though both represent the same grammar, with the exception of the `OP` preterminal. Note that the code doesn't mind the `S -> '1' | '2'` rule. So I guess the problem manifests if there is a rule that contains both terminals and nonterminals on its right side. Which makes sense in a PSG, but

1. not in

[2019-04-11 07:10] hamukazu opened #2264 "Different behavior of download for Jupyter and usual REPL"
In the usual REPL of Python, the following works.

[code]
However, in Jupyter Notebook it fails with the following message
[code]

These results are for the same environment of the same machine. I am using Anaconca 5.3.1 (Python 3.7.3, nltk 3.4).

After that, I tried to unzip the data file as follows:
[code]
Then it started to work even in Jupyter Notebook.

To conclude, it look that the usual Pyt

[2019-04-11 15:25] GerhardKa commented on #1524
Why there might be a None as a node:
You might have features that don't apply (e.g. 'next_word_in_a_sentence', when at the end of a sentence).

Similarly, .pretty_format() and .pseudocode() also crash w/ TypeError when you have features with boolean values (e.g. 'Is there an adjective in this sentence?' - True/False?)

From what I see, there is not really a need to sort decisions in a special orde

[2019-04-16 05:06] alvations opened #2265 "Wordnet gloss parsing issues"
From https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L1396, it looks like the line parsing wasn't done correctly for the example vs the definition of the Synset gloss:

[code]

As a sanity check, from

[code]

there are these problematic ones:

[code]

[2019-04-16 05:47] alvations commented on #2265
These regexes might work better:

[code]

E.g.

[code]

[2019-04-16 06:55] alvations commented on #2265
BTW, regarding the line: https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L1460

[code]

I think it is also not necessary to first load/retrieve the `defaultdict(list)` key, should be able to do this directly:

[code]

[2019-04-16 08:09] alvations opened #2266 "Cyclic initialization between Lemma, Synset and WordNetCorpusReader"
The cyclic initialization between Lemma, Synset and WordNetCorpusReader is sort of "un-wanted" which actually makes #1548 quite impossible

Looking at the definition,

 - `WordNetCorpusReader` creates `Synset` and `Lemma` objects on the fly, keeping them in caches https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L1121

 - To create a `Synset`, the class is so tied to the `Wo

[2019-04-17 10:15] #2196 closed, assigned to nobody

[2019-04-17 10:46] alvations opened #2267 "Unnecessary inner search when fetching lemma_pos_offset_map in wn.synset"
From the [code that tries to load synset](https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L1327), there are some sanity checks:

[code]

For the first key error, actually the final inner `self._lemma_pos_offset_map[lemma][pos][synset_index]` is not possible because `_lemma_pos_offset_map` is a `defaultdict(dict)`, the last nested level dictionary doesn't exist.

Although th

[2019-04-17 11:08] alvations commented on #2267
My bad, it's trying to access the order of the offsets not the offset itself. The original code is correct.

[2019-04-17 11:08] #2267 closed, assigned to nobody

[2019-04-18 02:59] EricWiener opened #2269 "Incorrect quotation labelling"
When running the following code:

[code]

I get the results:
[code]
Note the word and tag tuple `('forth', "''")`.

'forth' in this context is being returned as a quotation mark "''". I believe this is a bug. I ran into this issue on my local computer, but just tested it out on Google Colab and recieved the same results.

[2019-04-18 04:06] alvations opened #2270 "Hypernyms related functions in Wordnets can be unified"
These functions in wordnet's `Synset()` object could be unified:

 - hypernym_paths
 - min_depth
 - max_depth
 - root_hypernyms

The while loops / recursion achieve the same purpose of reaching the root hypernyms, while doing so, the min and max depth should be logged and so should the hypernym paths.

We can derive the other three attributes given the hypernym_paths, e.g.

[code]

----

Something

[2019-04-18 04:20] alvations commented on #2269
The POS tagger is statistical, so the output depends totally on the model that it's trained on =)

The expected input to the POS tagger should be a tokenized sentence without lemmatization, since that's the dataset that it was trained on, and it relies on the context tokens (without lemmatization) to work properly, see https://www.nltk.org/_modules/nltk/tag/perceptron.html#PerceptronTagger

Do tak

[2019-04-18 04:36] EricWiener commented on #2269
Thanks so much for the response! I'll close the issue as this isn't a bug.

The link you shared helped a ton. I hadn't lemmatized, but I did remove punctuation from the tokens. I will make sure to leave that in. Thanks!

[2019-04-18 04:36] #2269 closed, assigned to nobody

[2019-04-19 18:35] trideeprath opened #2271 "docstring for load() does not match the implementation"
The load() method docstring mentions that it uses weak reference, but the implementation uses a dictionary.  Docstring needs fixes.

[code]

https://github.com/nltk/nltk/blob/952a9636db4b1178dceb1789c98d56161deda3ab/nltk/data.py#L584

[2019-04-22 02:14] alvations opened #2273 "Max depth of the all wordnet POS should be returned and kept as static"
The `_compute_max_depth()` used for `lch_similarity()` returns `None` regardless of POS :

[code]

[out]:

[code]

The `self._compute_max_depth` doesn't return anything, my suggestion is to expose it as a public function and let it return the depth while setting the max depth.

----

Another point is that the `max_depth` will call the `all_synsets()` once and this is costly, it could be saved as s

[2019-04-22 10:18] alvations opened #2274 "Wordnet's all_lemma_names returns inconsistent types"
Depending on the language, Wordnet's `all_lemma_names()` returns inconsistent types

[code]

[2019-04-22 16:09] aced125 commented on #2159
Hoping these pull requests get merged soon as I'm having the same issue.

[2019-04-22 16:13] alvations opened #2275 "OMW lemmas sometimes has additional underscore"
OMW lemmas sometimes has additional underscore, e.g. `preobrat_v_mišljenju_` in:

[code]

From the raw file there isn't any tailing underscore:

[code]

[2019-04-23 05:55] ssantichaivekin commented on #1883
Here's a summary of the bug:

In `chomsky_normal_form()`, we try to make a node that has more than two children have only two children, that is, we want to make the long rule in the grammar shorter. For example, we want to change `(S (S 1) + (S 2))` tree to `(S (S 1) (S0 + (S 2)))` where `S0` is a new non-terminal node.

We name `S0` as follows: `PARENT | <CHILDREN_1-CHILDREN_2-...>`. The problem

[2019-04-23 06:31] DavidNemeskey commented on #1883
@ssantichaivekin Sounds great. Although as I remember, the Chomsky normal form does not allow rules like `A -> bC`, so `(S (S 1) (S0 + (S 2)))` is invalid, and should be something like `(S (S 1) (S0 (S1 +) (S 2)))`.

BTW I still find it strange that Chomsky normal form is a function of the parse tree, and not the grammar. It's OK having the former, but it would be nice the have the latter, as well

[2019-04-23 07:53] alvations commented on #2266
The few issues related to wordnet has been raised recently. Maybe it's time we have a fresh rewrite of the WN interface in NLTK. #2265 #2266#2270 #2271 #2273 #2274 #2275

To resolve these issues as well as these:

 - #1548 There's no easy way to add synset / lemma
 - #1724 Better WordNet interface
 - #1619 Update OMW data, we're still using the 2015 version =(

I propose we switch to a better inte

[2019-04-23 08:10] Nomiluks commented on #2159
Hey, I am using development version of `PyInstaller == 3.5.dev0+b54a15d72e`. But I guess this issue is still not resolved yet. I am still getting this error.

`Unable to find "/home/user/anaconda2/envs/matching/nltk_data" when adding binary and data files.`

I have also updated the NLTK_DATA =  `/home/user/nltk_data`

Any suggestions ?

[2019-04-23 10:03] MariusVB opened #2276 "AttributeError: type object 'scipy.interpolate.interpnd.array' has no attribute '__reduce_cython__'"
Getting this error when importing NLTK:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-1-1d2184025e54> in <module>
----> 1 import nltk

~/miniconda3/lib/python3.7/site-packages/nltk/__init__.py in <module>
    127 # Import top-level functionality into top-level namespace
    128

[2019-04-24 00:26] www008 opened #2277 "If only one relationship , nltk.sem.relextract.extract_rels() can't work"
If only one  relationship appears in the sentence, nltk.sem.relextract.extract_rels() outputs an empty list. Suggest change relextract.py:

def semi_rel2reldict(pairs, window=5, trace=False):
   ...
    **while len(pairs) > 2:  # line 184:**
        reldict = defaultdict(str)
        reldict['lcon'] = _join(pairs[0][0][-window:])
        reldict['subjclass'] = pairs[0][1].label()
        reldict['

[2019-04-24 01:29] alvations opened #2278 "Wordnet similarity quirky when only one synsets needs root"
Sometimes when only one synset needs root, the similarity between the synsets are not commutative:

[code]

[out]:

[code]

Details on https://stackoverflow.com/q/20075335/610569

[2019-04-24 14:47] djinn-anthrope commented on #2278
@alvations, I've seen this "quirk" myself, and as the StackOverflow answer suggests, there are two ways of resolving this:

1. If there is only one word in a pair that contains a root, simulate a root by default, unless specified otherwise.
2. If there is only one word in a pair that contains a root, find the similarities from the one with the simulated root (one that returns a value), and modify

[2019-04-25 19:21] MrDredD opened #2279 "ImportError: Module use of python35.dll conflicts with this version of Python."
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "C:\Program Files\JetBrains\PyCharm 2018.2.5\helpers\pydev\_pydev_bundle\pydev_import_hook.py", line 21, in do_import
    module = self._system_import(name, *args, **kwargs)
  File "C:\Anaconda\envs\NLP\lib\site-packages\nltk\__init__.py", line 137, in <module>
    from nltk.stem import *
  File "C:\Program Files\JetBr

[2019-04-25 20:55] MrDredD commented on #2279
Solved: manually installed the current version

[2019-04-25 20:55] #2279 closed, assigned to nobody

[2019-04-25 21:49] djokester commented on #1992
Is this implemented already or can I work on this?

[2019-04-28 19:00] ssantichaivekin commented on #1883
Oofs. My bad. I will fix that. Well, I also find it strange that it is a function of the parse tree and not the grammar.

[2019-04-28 22:56] irisxzhou commented on #1324
@ssantichaivekin and I have found a fix to this, which also extends to the `ImmutableTree` object.

Native Python `copy` first looks for `__copy__` and `__deepcopy__` (which don't exist in `Tree`), then if it doesn't find it looks for `__reduce_ex__` and `__reduce__` instead. Since all trees (`Tree`, `ParentedTree`, `ImmutableTree`) derive from the list base class, the trees inherit `__reduce_ex__

[2019-04-29 02:02] ssantichaivekin commented on #1883
Upon inspecting the code, I also noticed that the chomsky normal form code is not removing unit rules. (Unit rules are rules of the form A -> B).

[2019-04-29 02:05] ssantichaivekin commented on #1883
<img width="416" alt="Screen Shot 2019-04-28 at 7 04 57 PM" src="https://user-images.githubusercontent.com/19219105/56873637-8e2aa780-69e8-11e9-8ffa-a808c399ee63.png">

Also, it seems that the code is assuming this (which is kind of weird).

[2019-04-29 03:32] ssantichaivekin commented on #1883
Instead of the fix I have proposed previously, I want to propose a new fix which includes a "remove unit rule" section of the code and a "replace terminals in long rule" section. Note that the "replace terminals in long rule" section also fixes the original attribute error bug addressed in this issue. If you don't have terminals in long rule, then you would never need to create a format string for

[2019-04-29 03:41] ssantichaivekin commented on #1883
<img width="373" alt="Screen Shot 2019-04-28 at 8 38 28 PM" src="https://user-images.githubusercontent.com/19219105/56875402-96d5aa80-69f5-11e9-9903-77e80becb01b.png">

This test breaks for unknown reason. It says:

[code]

Maybe the original ChartParser cannot parse a unit rule in the first place? I have no idea.

[2019-04-29 04:54] unknownsloth4 opened #2280 "nltk.download() error : not well-formed (invalid token)"
can anyone help me?
whenever i run nltk.download() i always got this error :
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\ASUS\AppData\Local\Programs\Python\Python36\lib\site-packages\nltk\downloader.py", line 773, in download
    self._interactive_download()
  File "C:\Users\ASUS\AppData\Local\Programs\Python\Python36\lib\site-packages\nltk\downloader.

[2019-04-29 16:32] LinguaCelta commented on #2280
Looks similar to issue #1858 - have you tried updating your version of nltk?

[2019-04-30 04:41] unknownsloth4 commented on #2280
Yes i did. I have the lastest version of nltk (3.4.1)

[2019-04-30 06:12] alvations commented on #2280
@unknownsloth4 could you run the following code in your Python interpreter:

[code]

What is the output?

And if the above runs into error, try this:

[code]

[2019-04-30 12:23] unknownsloth4 commented on #2280
@LinguaCelta both code didnt work.. it shows the same error as before

`>>> from io import StringIO

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\ASUS\AppData\Local\Programs\Python\Python36\lib\site-packages\nltk\downloader.py", line 962, in _update_index
    ElementTree.parse(urlopen(self._url)).getroot()
  File "C:\Users\ASUS\AppData\Local\Programs\Py

[2019-04-30 15:21] alvations commented on #2280
Can you show the full output? Including the version within the interpreter?

[2019-05-01 04:44] clayscode opened #2281 "nltk.pos_tag EOFError on nltk 3.4/python3.7"
Hi, Currently getting the following error when trying to use the pos_tag function in nltk version 3.4/Python3.7 running on Arch Linux. Any idea what the issue might be/how to fix it? Thanks!

`In [7]: nltk.pos_tag(["who","are","you"])
---------------------------------------------------------------------------
EOFError                                  Traceback (most recent call last)
<ipython-inpu

[2019-05-01 04:57] clayscode commented on #2281
Actually, should I raise this in nltk_data? nltk_data/taggers/averaged_perceptron_tagger/averaged_perceptron_tagger.pickle seems to be empty on install.

[2019-05-01 12:40] unknownsloth4 commented on #2280
both code resulting the same error.
i think its because the command dler._update_index()

[2019-05-01 14:36] alvations commented on #2280
Please tell us the version printed inside the interpreter. I suspect your installation is stale and your python environment isn't well setup.

Just print out the output like this:

[code]

[2019-05-01 16:09] kylefoley76 opened #2282 "Cannot import nltk.chunk"
I have the latest version of nltk and numpy installed, see:

`
Installing collected packages: nltk
  Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
  Running setup.py install for nltk ... done
Successfully installed nltk-3.4.1
You are using pip version 18.1, however version 19.1 is available.
You should consider upgrading via the 'pip

[2019-05-01 16:10] kylefoley76 commented on #2282
If the above is not formatted properly I apologize in advance I hit <> and then put my code between the tick marks so I'm not sure what is happening.

[2019-05-01 17:40] kylefoley76 commented on #2282
Problem solved.  I made the mistake of creating a module named after a python module.  I then had sys.exit() in that module which was causing the problem.

[2019-05-01 17:40] #2282 closed, assigned to nobody

[2019-05-03 13:30] mrcomac opened #2283 "Bug in portuguese text"
Hi!

I'm using the exemple code from:
https://github.com/parulnith/Building-a-Simple-Chatbot-in-Python-using-NLTK

I changed the code in the line 23:
`word_tokens = nltk.word_tokenize(raw)# converts to list of words`
to
`word_tokens = nltk.word_tokenize(raw, language='portuguese')# converts to list of words
`
And the line 61 from:
` TfidfVec = TfidfVectorizer(tokenizer=LemNormalize, stop_words='en

[2019-05-03 16:00] alvations commented on #2283
@marcosmachado81 The code that you've referred to have not specified encoding of the file. Please see the minor changes made to the pull request at https://github.com/parulnith/Building-a-Simple-Chatbot-in-Python-using-NLTK/pull/1

[2019-05-03 16:09] alvations commented on #2245
@jiaxin96 Thanks for raising the issue.

As the warning suggests, the scores for BLEU isn't stable once there's not at least one 4-gram matches between the reference and the hypothesis.

Previously 3.2 had non-traditional BLEU techniques that mitigates the problem by backing off to the largest n-gram matches but #1844 changed the BLEU to traditional BLEU score that matches that of Mosesdecoder.

[2019-05-03 16:10] alvations commented on #2217
@youngzhou97qz Thanks for raising the issue.

As the warning suggests, the scores for BLEU isn't stable once there's not at least one 4-gram matches between the reference and the hypothesis.

Previously 3.2 had non-traditional BLEU techniques that mitigates such problem by backing off to the largest n-gram matches but #1844 changed the BLEU to traditional BLEU score that matches that of Mosesdecod

[2019-05-03 16:13] alvations commented on #2280
@unknownsloth4 did you manage to resolve the problem? If not what's your full output of the example code as the previous comment?

[2019-05-03 16:19] alvations commented on #2203
Should be resolving soon when #2205 is merged =)

Thanks @henchc and @no-identd !

[2019-05-03 16:20] alvations commented on #2191
@server2245 are you still having the issue on the NLTK downloads? If not could we close this issue?

[2019-05-03 21:08] stevenbird commented on #2079
Closing inactive issue.

[2019-05-03 21:08] #2079 closed, assigned to nobody

[2019-05-03 21:10] stevenbird commented on #2066
Closing inactive issue.

[2019-05-03 21:10] #2066 closed, assigned to nobody

[2019-05-03 21:11] stevenbird commented on #1994
Closing inactive issue.

[2019-05-03 21:11] #1994 closed, assigned to nobody

[2019-05-03 21:33] unknownsloth4 commented on #2280
Sorry for the late response, heres the full output

Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

3.4.1

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\ASUS\AppData\Local\Programs\Python\Python36\lib\site-packages\nltk\downloader.py", lin

[2019-05-04 20:35] ssantichaivekin opened #2284 "ChartParser cannot parse grammar with inverted order"
The ChartParser can parse this grammar:
[code]
But not this one:
[code]
Is this the expected behavior?

[2019-05-05 12:53] ndvbd commented on #1576
Any news here?  Is NLTK thread safe?

[2019-05-05 13:23] purificant commented on #1576
It would help to have a minimal reproducible test case for this issue.

[2019-05-05 13:35] purificant commented on #1992
@djokester See https://github.com/nltk/nltk/pull/2045 and https://github.com/nltk/nltk/pull/2074

[2019-05-05 13:45] purificant commented on #2280
Might be worth checking if you can successfully access https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml from your system / python.
It seems you might be getting no result from that url.

[2019-05-05 16:00] alvations commented on #1992
Would be great if anyone wants to poke at the ROUGE scores again =)

[2019-05-06 09:19] unknownsloth4 commented on #2280
How to check if i can successfully access the xml?

[2019-05-07 02:12] alvations opened #2290 "Is it alright if we automatically install the resource if it's not found?"
It has been quite some time where new users are still getting stymied with `resource_not_found` errors, e.g. https://stackoverflow.com/questions/55955060/resource-punkt-not-found

**Would it be a good thing if we did what more modern libraries are doing by automatically installing them the first them if users don't already have them?** E.g. when using [tensorflow hub ](https://www.tensorflow.org/h

[2019-05-07 02:53] alvations commented on #2280
@unknownsloth4 Lets check a couple of things

Can you please post the output of this code snippet?

[code]

[2019-05-07 03:10] alvations commented on #1817
Hopefully, documentation for installation should be much better when #2170 is merged.

Please do re-open the issue if anyone wants to improve the Windows related installation instructions =)

[2019-05-07 03:10] #1817 closed, assigned to nobody

[2019-05-07 03:16] alvations commented on #2262
@DillipNLP  Please check whether you have permissions and proxy set properly on your machine.

You might need to setup proxy, e.g.

[code]

Please refer to http://www.nltk.org/data.html for details.

P/S: Seems like you're using Firefox, you can check the proxy settings on Firefox as such: https://www.howtogeek.com/293213/how-to-configure-a-proxy-server-in-firefox/

[2019-05-07 03:23] alvations commented on #2281
@clayscode Just like to check, is it because the unzipping didn't kick in when you download the dataset.

What's the output on your machine for the following code?

[code]

[2019-05-07 03:28] alvations commented on #2264
In Python interpreter, could you post the output of this:

[code]

It might be a Python 3.7 issue that we'll need to patch.

[2019-05-07 03:30] alvations commented on #2263
@island99 could you please elaborate what's `chi_tagger`? Is there a site where you've gotten the code snippet to produce the output?

IIRC, we don't have a native NLTK chinese POS/NER tagger.

[2019-05-07 03:33] alvations commented on #2234
There's no `ssplit` function in NLTK. Please do take a look at https://www.nltk.org/book/ch03.html

E.g.

[code]

[2019-05-07 03:42] unknownsloth4 commented on #2280
i dont know is this supposed to happen.. but this is the output i got

b'\x1f\x8b\x08\x00\x00\x00\x00\x00\x00\x03\xed\x9dis\x1c\xd7\x91\xae\xbf\xfbWT\xd0qg\xa8\t\xa0\xbb\xf6E\x94l\x83 DQ\x04)\x9a\x80d{&&\x10\xb5\x9c\x02J\xe8\xcd\xbd\x10\x04?\xf8\xb7\xdf\'O-]\xdd\xa8\xeeF\x8f\x1b\xf6\x1d_i\xc6\x12\x80\xda\xcf\x92\xcb\x9bof~\xf3\xfb\xcf\xc3\x81\xf1IMg\xc5x\xf4\xed3\xabg>\xfb\xfd\xef~\xf3\x8d\xfc\xf5

[2019-05-07 03:52] alvations commented on #2280
No that's not supposed to happen, please show the output of this:

[code]

Did you get 200 response?

[2019-05-07 03:59] alvations commented on #2276
Did you install `scipy` before or after you install `Cython`?

Try this:

[code]

[2019-05-07 04:02] alvations commented on #2261
Hi @Akurathi , the [MMseqs2 ](https://github.com/soedinglab/MMseqs2) isn't maintained by NLTK.

Perhaps @soedinglab and/or @milot-mirdita and @martin-steinegger can help you with the too =)

[2019-05-07 04:02] #2261 closed, assigned to nobody

[2019-05-07 04:53] martin-steinegger commented on #2261
@alvations thank you!

[2019-05-07 05:24] alvations commented on #2283
Closing issue as resolved. Please re-open if the issue is still relevant/unresolved.

[2019-05-07 05:24] #2283 closed, assigned to nobody

[2019-05-07 05:25] alvations commented on #2245
Closing issue as resolved. Please re-open if the issue is still relevant/unresolved.

[2019-05-07 05:25] #2245 closed, assigned to nobody

[2019-05-07 05:25] alvations commented on #2234
Closing issue as resolved. Please re-open if the issue is still relevant/unresolved.

[2019-05-07 05:25] #2234 closed, assigned to nobody

[2019-05-07 05:25] alvations commented on #2228
Closing issue as resolved, since #2230 is merged.

Please re-open if the issue is still relevant/unresolved.

[2019-05-07 05:25] #2228 closed, assigned to nobody

[2019-05-07 05:25] alvations commented on #2217
Closing issue as resolved. Please re-open if the issue is still relevant/unresolved.

[2019-05-07 05:25] #2217 closed, assigned to nobody

[2019-05-07 05:27] alvations commented on #2151
Closing issue as resolved, since #2152 is merged.

Please re-open if the issue is still relevant/unresolved.

[2019-05-07 05:27] #2151 closed, assigned to nobody

[2019-05-07 05:29] alvations commented on #2194
Closing issue as resolved if there's no further problems/enquiries =)

Please re-open if the issue is still relevant/unresolved.

[2019-05-07 05:29] #2194 closed, assigned to nobody

[2019-05-07 05:30] alvations commented on #2140
Closing issue as resolved.

Please do re-open if the issue is there's a push to change the tokenizer way in handling starting and ending quotations.

[2019-05-07 05:30] #2140 closed, assigned to nobody

[2019-05-07 05:36] alvations commented on #2122
Yes, it does seems like the PunktSentenceTokenizer has been re-exposured again https://github.com/nltk/nltk/blob/develop/nltk/tokenize/punkt.py#L1236

Closing this issue as resolved then =)

Please do reopen the issue if it's still relevant/unresolved.

[2019-05-07 05:36] #2122 closed, assigned to nobody

[2019-05-07 05:37] #2098 closed, assigned to stevenbird

[2019-05-07 05:38] hamukazu commented on #2264
[code]

[2019-05-07 05:49] alvations commented on #2239
#2240 should have fixed the plots from `nltk.probability`

But there's a few more in NLTK, for reference:

[code]

[2019-05-07 06:46] youngzhou97qz commented on #2217
Thank you very much for your explanation!

[2019-05-08 07:46] #2276 closed, assigned to nobody

[2019-05-08 08:53] alvations commented on #2276
@MariusVB did the reinstall resolve the `scipy` vs `cython` problem?

[2019-05-08 13:59] unknownsloth4 commented on #2280
yes, i get 200 response just like you. i also got the same url as you shown

[2019-05-08 23:29] ArihantKumarSeraogi commented on #2159
Are you guys not going to fix it the issue still persists

[2019-05-09 04:10] Dobatymo opened #2295 "Treebank detokenizer fails to undo quote conversion"
Python 3.7.2 (tags/v3.7.2:9a3ffc0492, Dec 23 2018, 23:09:28) [MSC v.1916 64 bit (AMD64)] on win32
NLTK version: 3.4.1

Quotes `"` are converted to ` `` ` or `''` by the treebank tokenizer. The detokenizer is supposed to revert its regexes but fails to do so for these quotes. The space is lost also.

[code]

[2019-05-09 06:48] stevenbird commented on #28
Closing, as we don't have capacity to take this on.

[2019-05-09 06:48] #28 closed, assigned to nobody

[2019-05-09 06:48] #13 closed, assigned to stevenbird

[2019-05-09 06:49] stevenbird commented on #32
Closing, as we don't have capacity to take this on.

[2019-05-09 06:49] #32 closed, assigned to nobody

[2019-05-09 06:50] stevenbird commented on #87
Closing, as we don't have capacity to take this on.

[2019-05-09 06:50] #87 closed, assigned to nobody

[2019-05-09 06:50] stevenbird commented on #112
Closing, as we don't have capacity to take this on.

[2019-05-09 06:50] #112 closed, assigned to nobody

[2019-05-09 06:50] stevenbird commented on #129
Closing, as we don't have capacity to take this on.

[2019-05-09 06:50] #129 closed, assigned to nobody

[2019-05-09 07:13] MariusVB commented on #2276
I did not reinstall, but the problem has disappeared. Might have been after a conda update.

[2019-05-09 09:00] alvations commented on #2275
Patched in #2294 =)

[2019-05-09 09:00] #2275 closed, assigned to nobody

[2019-05-09 09:00] alvations commented on #2274
Patched in #2294 =)

[2019-05-09 09:00] #2274 closed, assigned to nobody

[2019-05-09 09:00] alvations commented on #2265
Patched in #2294 =)

[2019-05-09 09:00] #2265 closed, assigned to nobody

[2019-05-09 11:10] iliakur commented on #1827
@yangbisheng2009 @alvations is it ok to close this now that the lm stuff has been merged?

[2019-05-09 23:12] alvations commented on #1827
Thanks @Copper-Head!! Using the docs in the code, I've also put up https://www.kaggle.com/alvations/n-gram-language-model-with-nltk (just in case anyone is interested).

[2019-05-09 23:12] #1827 closed, assigned to nobody

[2019-05-10 08:47] alvations opened #2296 "Dropping Python 2.7 Support"
From https://travis-ci.org/nltk/nltk/jobs/530566954, some of the dependencies NLTK is dependent on no longer supports Python 2.7. I think it's good timing to also drop support for Python 2.7 so that our CI continues to work and move the library forward.

[2019-05-10 20:53] stevenbird commented on #2296
I see, ok, it's time to move on!

[2019-05-12 06:21] clayscode commented on #2281
`>>> import nltk`
`>>> nltk.download('averaged_perceptron_tagger',force=True)`
`[nltk_data] Downloading package averaged_perceptron_tagger to`
`[nltk_data]     /home/clay/nltk_data...`
`[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.`
`True`
`>>> nltk.pos_tag(["Who","Are","You"])`
`[('Who', 'WP'), ('Are', 'VBP'), ('You', 'PRP')]`

I feel silly now. Apologies, I thought I downloaded

[2019-05-12 06:21] #2281 closed, assigned to nobody

[2019-05-14 13:39] bharatr21 commented on #2100
@alvations @BLKSerene is this issue still open? And if the CI related issues are fixed, I'm going for this

[2019-05-15 00:49] alvations commented on #2100
Thanks @Bharat123rox ! Forgot about this after we tried to fix the CI some time ago.

[2019-05-15 03:08] Drasky commented on #736
I am attempting to follow the examples in the O'Reilly Natural Language Processing with Python book, which is how I got to this discussion. I think people are talking about the nltk.text.generate function and not the nltk.parse.generate function, which seems to be causing some confusion.

I type in text1.generate(), I'm supposed to get a list of phrases in the style of Moby Dick. Instead, all I ge

[2019-05-15 08:19] martinevanschouwenburg opened #2299 "collocations function returns error"
I was going through chapter 1 of the book and the collocations function returns an error. It seems like line 440 in text.py is redundant, since the collocation_list function has been introduced. I fixed the issue by rewriting the current line 440 and line 441 in text.py.

old code:
 collocation_strings = [w1 + ' ' + w2 for w1, w2 in self.collocation_list(num, window_size)]*
 print(tokenwrap(colloc

[2019-05-16 09:15] limengmingx opened #2301 "Difference between stanford-corenlp-full-2018-02-27 and stanford-corenlp-full-2018-10-05"
when I follow the tutorial on `pos_tagger = CoreNLPParser(url='http://localhost:9000', tagtype='pos')` with `stanford-corenlp-full-2018-10-05 package`, I got an error:

`TypeError: __init__() got an unexpected keyword argument 'tagtype'`

The error was solved when I choosing the` stanford-corenlp-full-2018-02-27`. so I think there maybe something wrong for the latest released package.

[2019-05-16 09:47] alvations commented on #2301
Which version of NLTK are you using? Try `pip install -U nltk` =)

The `tagtype` is introduced after https://github.com/nltk/nltk/commit/b974b6156813246ccb25ba85b8aa70ae5e4fb0d8#diff-bae6ec94fc0cc6068b278a716f9bb95e

[2019-05-16 09:52] alvations commented on #2299
Thanks @martinevanschouwenburg for raising the bug!

Yes it looks like the collocation list is needed. To replicate the bug:

[code]

[2019-05-16 09:55] limengmingx commented on #2301
With the command `pip install -U nltk`, Both packages works fine. Thanks !

[2019-05-16 09:55] #2301 closed, assigned to nobody

[2019-05-16 09:58] alvations commented on #2280
Something went wrong in reading your query response =(

Even the bytecode output that you get and pasted above had a syntax error. Can you do this:

[code]

Can you show what's in the `nltk-index.xml` file that was created with the code snippet above?

Could you post the whole console's output? It'll be easier for us to help you.

[2019-05-16 13:46] unknownsloth4 commented on #2280
here's the output :

Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\ASUS\AppData\Local\Programs\Python\Python36\lib\site-packages\nltk\downloader.py", line 962, in _update_index
    ElementTre

[2019-05-16 14:41] alvations commented on #2280
It's save in the location where you run the python code.

[2019-05-17 17:34] jthorne1591 commented on #1465
@alvations I added the code and got error "_next_token() not defined"

[2019-05-18 03:49] fcbond commented on #1465
I am afraid I don't know much about 3.1, I will try to check.   In general,
it is a minor revision from 3.0.

But with the current code, if you use 3.1 then you cannot access the OMW
entries, as the offsets are different, ...

On Sat, May 18, 2019 at 1:34 AM jthorne1591 <notifications@github.com>
wrote:

--
Francis Bond <http://www3.ntu.edu.sg/home/fcbond/>
Division of Linguistics and Multilingual

[2019-05-20 01:33] moon1ite opened #2302 "metrics.agreement.AnnotationTask kappa result seems wrong"
I got strange kappa result from `AnnotationTask`

This is how I calculated kappa.

[code]

Since kappa is bigger than 1, it seems wrong enough.

In addition to this computation, I checked kappa from `sklearn`.

[code]

[2019-05-21 13:51] stefanondisponibile opened #2303 "TreebankWordTokenizer [BUG]"
Looks like there's a broken regexp on Treebank's `PUNCTUATION` patterns:

[code]
should `"` be escaped?

[2019-05-21 16:37] dschaehi opened #2304 "Wrong documentation"
A correct documentation could be for example: Combining method 4 with the match interpolation of method 5 (cf. http://acl2014.org/acl2014/W14-33/pdf/W14-3346.pdf)

https://github.com/nltk/nltk/blob/39d8eeb2f249ad67d11300d97971f972039bdc63/nltk/translate/bleu_score.py#L635-L640

[2019-05-21 19:49] devna13 opened #2305 "nltk.pos_tag_sents throwing exception"
I'm new to Phyton and I have a script im trying to run and its failing on this line:

` sent_tag = nltk.pos_tag_sents(sent)`

even when I ass the lang param still getting same error :

`sent_tag = nltk.pos_tag_sents(sent, lang='eng')`

[code]

any thoughts?

[code]

Thanks

[2019-05-21 20:03] devna13 commented on #2305
seems i was missing some stuff
updating nltk resolved the issue

conda install -c anaconda nltk

[2019-05-21 20:03] #2305 closed, assigned to nobody

[2019-05-23 01:30] ORESoftware opened #2306 "can't load with symlink"
For whatever reason this command:

[code]

but for some reason it went into `/root/nltk_data` (it did *not* honor the env variable)

So I symlinked it:

[code]

but it couldn't handle the symlinks which took me a while to figure out, so I just had to do this:

[code]

the cp is slow, but more importantly it took awhile to figure out that symlinked dir wouldn't work :(  Maybe this is a python probl

[2019-05-24 00:07] Jbiloki opened #2308 "Error Downloading Punkt "W/python.stderr: [nltk_data] Error loading punkt: <urlopen error [Errno 7] No address [nltk_data] associated with hostname>""
I am using the module chaquopy to use python on android and am trying to install nltk dependencies. Upon calling the nltk.download("punkt") I get the following error:

[code]

I was unable to find an error matching here or on stackoverflow.

[2019-05-24 11:45] Vonisoa opened #2309 "wordnet morphy features with french words"
Hi , I saw this from nltk wordnet documentation:

[code]
And we get `dog`.

If I want to use this feature for french words, how should I do it?

[2019-05-24 12:08] iliakur commented on #2251
This can be closed.

[2019-05-24 12:09] iliakur commented on #736
This can be closed now since `generate was added`.

[2019-05-24 12:20] stevenbird commented on #2251
Thanks Ilya

[2019-05-24 12:20] #2251 closed, assigned to stevenbird

[2019-05-24 13:21] lehmus commented on #1647
Experiencing this issue today, every time I try to run

Even though Github status page states that all systems are fully operational. Fortunately I can circumvent the issue by downloading the packages separately, ie.

[2019-05-26 08:23] stevenbird commented on #736
Thanks @Copper-Head

[2019-05-26 08:23] #736 closed, assigned to nobody

[2019-05-28 15:25] GerhardKa commented on #1524
Was my explanation clear enough and will there be a patch?
Would love to hear that.

[2019-05-29 15:57] danielgildea commented on #1785
There seems to be a bug in computing bleu when one but not all of the sentences are shorter than the max n-gram length.  For example, the following test case should get bleu of 1.0 but does not:
[code]
A sentence of length 3 that is identical to the reference is scored as having 0 out of 1
correct 4-grams, instead of 0 out of 0 correct 4-grams.

Suggested patch:
[code]

[2019-05-30 07:43] alvations commented on #1785
@bmaland Previously, before @bamattsson contribution to https://github.com/nltk/nltk/pull/1844, NLTK's BLEU does some tricks to makes sure that exact string matches gives the 1.0 result but post #1844, the BLEU scores in NLTK is similar to that of what can be found in https://github.com/moses-smt/mosesdecoder/blob/master/scripts/generic/multi-bleu.perl

Do note that BLEU score is meant to be corpu

[2019-05-30 07:49] alvations commented on #1785
If you're unsure whether you have short strings in your list, feel free to use the auto-reweigh feature, e.g.

[code]

[2019-05-30 10:00] danielgildea commented on #1785
In my example above, multi-bleu.pl gives 100.0, but nltk gives 0.84.
This is a case where the hyp does have some matching 4-grams, but not every
sentence in the ref is of length four or greater.

[2019-06-04 23:59] #2100 closed, assigned to nobody

[2019-06-05 19:47] ingridxx commented on #1428
@alvations Thanks so much for the code. I'm using it to count the frequency of skip-grams and it's working really well. However, I tried filtering out the stop words but for some reason it won't work.
All I changed is this line:
`vectorizer = CountVectorizer(analyzer=skipper, stop_words = 'english')`

But it doesn't do anything. Any insight will be greatly appreciated!!

[2019-06-06 02:52] alvations commented on #1428
The line `vectorizer = CountVectorizer(...)` only initialize the vectorizer, you have to `.fit()` the input text to create the vectorizer according to the skipgrams that are in the text, e.g.

[code]

[out]:

[code]

But do note the discussions in the comments above, esp. if you're going to use "skipgrams" for deep learning word2vec purposes.

[2019-06-06 03:03] alvations commented on #2296
Starting from these `__future__` =)

[code]

Then the compat codes:

[code]

And some low-hanging fruits:

[code]

[2019-06-06 03:11] alvations commented on #2306
@ORESoftware what is the output of these commands on your system?

I suspect NLTK might be defaulting to $HOME directory because of directory permissions.

[code]

[2019-06-06 03:14] alvations commented on #2304
Thanks @dschaehi! Good catch on the documentation, that docstring is describing method 6 and copied and pasted partially.

Yes, the documentation you suggested is correct =)

[2019-06-06 03:28] alvations commented on #2303
Escaping the `\"` would make it more consistent in the 3rd regex group and makes it a proper regex that's consistent with PCRE. Now the PCRE (not Python) reading of the regex is different. https://regex101.com/r/0sxDUh/4 :

When it should be https://regex101.com/r/0sxDUh/5 :

----

But the regex works as expected in Python without the escaping though =)

[code]

[out]:

[code]

[2019-06-06 03:30] alvations commented on #2308
Does your machine have internet access?

[2019-06-06 03:33] alvations commented on #2309
Unfortunately, the morphy algorithm only works for English and there isn't a lemmatizer in NLTK. Maybe you should look for an alternative lemmatizer for French, perhaps https://github.com/ClaudeCoulombe/FrenchLefffLemmatizer

[2019-06-06 06:51] alvations commented on #2304
@dschaehi if it's alright, lets keep the issue open until a pull-request is made to fix the docs =)

[2019-06-06 06:52] dschaehi commented on #2304
Sure :-)

[2019-06-06 12:43] a3lem opened #2312 "Importing nltk (v3.4.2) fails because of unmanaged dependency on Numpy"
Hi

So, this cropped up today thanks to my lazy self forgetting to pin the nltk version in a couple of Dockerfiles (don't try this at home, kids). I can confirm that, as of version 3.4.2 (release 3.4.1 works), importing nltk is no longer possible without numpy being installed (or without installing the optional `[machine_learning]` extras, where the numpy dependency is specified). The culprit is a

[2019-06-06 17:08] stsewd commented on #2312
We at Read the Docs are having the same issue, using this package https://github.com/agjohnson/django-textclassifier/blob/v1.0/setup.py, which doesn't have the dependencies pinned.

[2019-06-06 17:47] #2312 closed, assigned to nobody

[2019-06-11 04:10] sunnynm commented on #2012
Had the same issue, make sure you completely restart jupyter for it to take effect. May have to uninstall and reinstall nltk if the above method doesn't work.

[2019-06-11 13:54] basaldella opened #2314 "Infinite loop in Wordnet closure and tree"
When I try to compute the hyponymic closure of `restrain.v.01` I get stuck in an infinite loop. Example code:
[code]
And from here it just hangs. I guess that the reason is that the method is based on [`breadth_first`](http://www.nltk.org/api/nltk.html#nltk.util.breadth_first), which explicitly states in the documentation that is not designed to handle loops.

The same happens when running
[code]

[2019-06-11 14:43] basaldella commented on #2314
A tentative solution for `tree` may be:
[code]
Which seems to work for me. I don't know if it's the most efficient/elegant solution but seems to be working fine for my personal test cases.

By the way, I absolutely don't get the sense of `depth` and `cut_mark` in the [current implementation of `tree`](https://www.nltk.org/_modules/nltk/corpus/reader/wordnet.html#Synset.tree) - they do nothing and

[2019-06-11 18:33] TechProofreader opened #2315 "Inaccuracies with Perceptron Tagger"
I'm using NLTK to tokenize and tag text pulled from webpages (similar to how the perceptron tagger was trained via the WSJ text) and I'm finding that it is suffering from some inaccuracies.
Basically, if I filter text to exclude everything but nouns and foreign words, it still outputs symbols that it tags as nouns and/or foreign words, which is obviously an error.
It seems to be accurate with ever

[2019-06-12 20:30] dbalgley opened #2317 "Import Error/Variable Error in probability.ConditionalFreqDist.plot()"
It seems like changes going back to 42ffffd36cec0fa10418e7d19294d5b91c2b05b6 (2/23/2019) are causing me issues.

1. On attempting to run example from Chapter 2 of the nltk book (below) I get an ImportError.  Seems to be related to the change made on Feb 23 specifically related to the imports:
`cfd = nltk.ConditionalFreqDist( ( genre, word ) for genre in brown.categories( ) for word in brown.words(

[2019-06-13 10:08] vishooj commented on #90
Hi, is there any update on it, once available will be very useful.

[2019-06-13 19:37] BLaZeKiLL commented on #2317
I am also facing the same issue

I have fixed it (at least it is working for me now) [#2319](https://github.com/nltk/nltk/pull/2319)

[2019-06-15 14:39] marco-roberti opened #2320 "One-shot BLEU-[2, 3, 4] computation"
Hello everyone,

I need to compute the BLEU score with more than one ngram length (ideally, BLEU2, BLEU3, BLEU4, and BLEU5). In my case, this is a very long task, as every hypothesis has some thousand references.

Reading the implementation of the corpus_bleu function, which takes weights:Tuple between its parameters - and thus calculating BLEU-[len(weights)] - , I found out that it gets all the i

[2019-06-16 13:07] rookieisme opened #2321 "CoreNLPDependencyParser stops parsing when it encounters dot"
`parse_tree1, = dep_parser.raw_parse("The imams were removed from a US Airways flight awaiting departure from the Minneapolis-St . Paul airport .")
print(parse_tree1.to_conll(10))`
the parse result as follows:
`1	The	the	DT	DT	_	2	det	_	_
2	imams	imam	NNS	NNS	_	4	nsubjpass	_	_
3	were	be	VBD	VBD	_	4	auxpass	_	_
4	removed	remove	VBN	VBN	_	0	ROOT	_	_
5	from	from	IN	IN	_	9	case	_	_
6	a	a	DT	DT	_	9	det

[2019-06-16 13:48] rookieisme commented on #2321
I have solved it.
`properties = {
    # Only splits on '\n', never inside the sentence.
    'ssplit.eolonly': 'true',
}
parse_tree, = dep_parser.raw_parse(sentence,properties)`

[2019-06-16 13:48] #2321 closed, assigned to nobody

[2019-06-18 17:18] AndrasPataki commented on #2159
Hello guys. I solved the problems editing the pyinstaller nltk-hook. After much research, I decided to go it alone in the code structure. I solved my problem by commenting on the lines:
`datas=[]`

`'''for p in nltk.data.path:
    datas.append((p, "nltk_data"))'''`

`hiddenimports = ["nltk.chunk.named_entity"]`

What's more, you need to rename the file: pyi_rth__nltk.cpython-36.pyc to pyi_rth_nltk

[2019-06-26 04:54] lakshyadaulani commented on #1981
Did anyone get any solution? I'm also facing same issue and tried all above mentioned methods. Still no luck. Please suggest any solution if possible.

[2019-06-27 18:42] katkamrachanaso commented on #1239
for few who have been looking what is st,
`st = StanfordNERTagger(os.environ.get('STANFORD_MODELS'))`
Ref: https://gist.github.com/manashmndl/810db10809cbc1209b34c7d25efe95d5#file-stanfordnertagger-py

[2019-06-30 19:36] chaouiy opened #2326 "distinguish types of adjectives"
It would be great if we can use nltk to distinguish which semantic type of adjective / adverb it is. Here is an example list I use to do this manually :
[code]

[2019-07-01 17:00] sanjita-suresh opened #2327 "Different bleu scores in Google colab and Jupyter notebook"
I am trying get Bleu score for a list of 1000 English sentences and their references.
sample sentence is as below,
[code]
Used code,
[code]
For this I am getting a Bleu score of ``` 0.768521``` in google colab but I am getting ``` 1.3767075064676063e-231``` score in jupyter notebook without smoothing and with smoothing ``` 0.3157039```

Can you please help me what and where I am going wrong?

[2019-07-02 09:21] amadanmath opened #2328 "TreebankWordDetokenizer fails to reattach comma"
For tokenisation, the commit https://github.com/nltk/nltk/pull/223/commits/2414f9f2d99402e64e6cb5b2b3a26df94f6b8837 introduced an exception for commas and colons, stating that a comma can be a token in its own right (insert a space before and after it) if it is not followed by a digit, presumably in order to ensure 30,000,000 and 12:59 remain a single token.

However, when _detokenisation_ was add

[2019-07-03 13:30] loretoparisi opened #2329 "sklearn DeprecationWarning: the imp module is deprecated in favour of importlib"
[code]

I have on macOS

[code]

and latest nltk from pip3.
This issue should be related to https://github.com/scikit-learn/scikit-learn/issues/12434

[2019-07-04 07:50] llr104 opened #2330 "ConditionalFreqDist plot has three bugs"
`
def plot(self, *args, **kwargs):
        """
        Plot the given samples from the conditional frequency distribution.
        For a cumulative plot, specify cumulative=True.
        (Requires Matplotlib to be installed.)

        :param samples: The samples to plot
        :type samples: list
        :param title: The title for the graph
        :type title: str
        :param conditions: The

[2019-07-04 10:56] #2271 closed, assigned to nobody

[2019-07-04 22:55] alexandredias3d opened #2331 "PickleCorpusView raising UnicodeDecodeError when reading file"
I have been trying to save a modified corpus produced with `LazyMap` using`PickleCorpusView.write` as shown in the [PickleCorpusView documentation](https://www.nltk.org/_modules/nltk/corpus/reader/util.html#PickleCorpusView).

The writing seems to be working properly. However, when trying to read the pickled file, it raises a `UnicodeDecodeError`.

The following code does not even use a `LazyMap`

[2019-07-05 12:26] hzhwcmhf opened #2332 "ZeroDivisionError: in nltk.lm"
It seems KneserNeyInterpolated can't handle unseen prefixes

to reproduce the error:

[code]

I get
[code]

[2019-07-05 21:37] StefRe opened #2333 "Sentence and word tokenizers fail for unicode double quotes u"\u201C" and u"\u201D""
This is related to #1675 and #1682.

[code]
doesn't split the two sentences and doesn't tokenize `sentence.` into `sentence` and `.`:
[code]
I'm wondering why it **works correctly if you leave out the second sentence**:
`text = '“First sentence.”'` is correctly tokenized into: `['“', 'First', 'sentence', '.', '”']`

(nltk 3.4.4 / Python 3.4.3 (default, Nov 12 2018, 22:25:49) [GCC 4.8.4] on linux)

[2019-07-08 08:13] iliakur commented on #2332
@hzhwcmhf Thanks for the bug, it looks like a legit one.

I won't have time to look into this until next month, unfortunately. Any help is welcome.
Thanks in advance for your patience!

[2019-07-09 08:51] danuker opened #2334 "TypeError in FreqDist.tabulate for bigrams"
I use the following code:

[code]

What happens is the `tabulate` method can't format the tuples generated by `bigrams`:
`width = max(len("%s" % s) for s in samples)`

When it gets to any key like `('hello', 'world)`, it breaks:
[code]

This is because the string formatting doesn't work:
[code]

Would it be OK to replace the `%s` formatting with the ["new style" string formatting operator](https:/

[2019-07-09 18:19] mohaddad commented on #2184
Replace the content of the (__init__.py) file with the following:

# -*- coding: utf-8 -*-
# Natural Language Toolkit: Taggers
#
# Copyright (C) 2001-2019 NLTK Project
# Author: Edward Loper <edloper@gmail.com>
#         Steven Bird <stevenbird1@gmail.com> (minor additions)
# URL: <http://nltk.org/>
# For license information, see LICENSE.TXT
"""
NLTK Taggers

This package contains classes and inte

[2019-07-12 18:58] ndvbd opened #2335 "nltk wordnet concurrency error WordNetError"
When running wordnet in multiple threads I get strange errors.
I am trying to get the synsets of a word.
Is Wordnet thread safe? Is there a way to solve it? If there is not immediate solution, where is the database of all words and their functions (verb/adjective/noun) stored?

The exceptions look like this:

[code]

[2019-07-12 19:21] ndvbd commented on #1754
I see this problem when I use the wordnet synsets from a few threads in parallel. If it's on 1-2 threads it's fine, but with more than that (3, 4 threads) I get these strange errors. I wonder what part of the wordnet is not thread safe.

[2019-07-12 19:25] ndvbd commented on #1576
@purificant simply to run wordnet synsets in multiple threads, generate these annoying problems.

[2019-07-12 21:42] stevenbird commented on #2330
Thanks @llr104: would you please submit a proper bug report? There is no information above.

[2019-07-12 21:42] #2330 closed, assigned to nobody

[2019-07-12 21:44] stevenbird commented on #2326
Sorry @chaouly, this is out of scope for NLTK development.

[2019-07-12 21:44] #2326 closed, assigned to nobody

[2019-07-12 21:45] stevenbird commented on #2306
Inactive; closed

[2019-07-12 21:45] #2306 closed, assigned to nobody

[2019-07-14 08:01] ritwikmishra commented on #731
if anybody is still getting this error
[code]
Short version: Use this
[code]
Long version:
It means stanford.py is not able to locate your models jar file of the parser. Generally, the models jar is located at ```/your-path/stanford-parser-full-2018-10-17/stanford-parser-3.x.x-models.jar```

The purpose to locate models.jar is to find the englishPCFG.ser.gz file inside the jar. If you open the jar

[2019-07-14 11:39] stevenbird commented on #2320
This would be nice to have... it's a question of who would like to implement it.

[2019-07-14 15:59] kenkensz9 commented on #738
This is not still solved?

[2019-07-14 16:13] stevenbird commented on #738
It was resolved last year, Please see the nltk.lm documentation

[2019-07-14 16:13] #738 closed, assigned to nobody

[2019-07-15 16:22] #2327 closed, assigned to nobody

[2019-07-15 16:22] sanjita-suresh commented on #2327
This was due to different versions of nltk

[2019-07-15 16:28] alvations commented on #2327
Beyond what is implemented and whether it's the "canonical" version of BLEU that stood the "test of time" and everyone should follow. Out of curiosity, given your data, which score are you expecting?

[2019-07-16 09:59] ayushmandey97 commented on #1648
Hey, are there any more enhancements required for this? Would be happy to help.

[2019-07-16 23:45] Attryy opened #2338 "DeprecationWarnings for formatargspec and collections in python3.7"
Hi there, I was upgrading python2.7 to python3.7. When running pytests, bunch of warnings pop up from nltk library.

Line 68 in decorators.py
`DeprecationWarning: 'formatargspec' is deprecated since Python 3.5. Use 'signature' and the 'Signature' object directly`

Line 15 in counter.py and line 13 in vocabulary.py
`DeprecationWarning: Using or importing the ABCs from 'collections' instead of from

[2019-07-17 00:56] alvations commented on #2295
Verifying bug. Yes this is particular to the detokenization of quotes.

[code]

Most probably caused by https://github.com/nltk/nltk/blob/develop/nltk/tokenize/treebank.py#L286 and https://github.com/nltk/nltk/blob/develop/nltk/tokenize/treebank.py#L335

[2019-07-17 00:57] BernierCR opened #2339 "svd_dimensions in VectorSpaceClusterer is broken again."
So I would like to try using svd_dimensions in KMeansCluster. So you set it to what you want when you instantiate the class. Then, when you run kclusterer.cluster, it's supposed to pick up that setting and apply it to your input.

But then it complains about mismatched dimensions, so it must not be doing that part correctly.

Exception has occurred: ValueError
shapes (500,1124) and (500,) not alig

[2019-07-17 02:24] networkjr commented on #2299
I am still seeing this error as well when going through chapter 1 of the book.

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4

[2019-07-19 09:43] lacls opened #2340 "OSError: Java command failed when using stanford parser example (Standford Tagger2018)"
Hi,

I am trying to run the stanford parser example. E.g.
`create_train_data_restaurant(fn_train, args.out_dir+args.word_idx, args.out_dir, args.StanfordPOSTag_dir, args.domain,'Train', sent_len, sent_num)`

executing the last command results with an error:

raise OSError('Java command failed : ' + str(cmd))

`OSError: Java command failed : ['/usr/bin/java', '-mx1000m', '-cp', 'stanford-postagger-

[2019-07-22 02:11] hzhwcmhf opened #2341 "A wrong implementation in bleu_score.SmoothingFunction"
I found the bug in the condition like this:

[code]

The output is:

[code]

It's quite strange why they can have same smoothing 4-gram precision, so I went to the code at https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.py#L576-L590

[code]

`p_n[i]` is a fraction object, once `p_n[i].numberator == 0`, it will turn to a constant of float that `p_n[i] = 1 / (i + self.k / math.lo

[2019-07-22 02:26] alvations commented on #2340
Please avoid using the `StandfordPOSTagger` object, use the `CoreNLP*` objects instead, see https://github.com/nltk/nltk/wiki/Stanford-CoreNLP-API-in-NLTK

[2019-07-22 03:55] alvations commented on #2341
@hzhwcmhf Thank you for raising the issue. Yes, the denominator scaling is missing. Thank you for catching that!

BTW, this smoothing method is a rather unique one to Chen and Cherry (2014) description which to our knowledge, only NLTK has implemented this, if it's convenient,
 - **Could you tell us which papers were reporting the numbers for BLEU with Chen and Cherry (2014)?**
 - **Are they using

[2019-07-22 04:32] hzhwcmhf commented on #2341
I just find https://arxiv.org/pdf/1905.05471.pdf, who use method4 to evaluate conversational models.
I don't know whether the paper is correct, but I met the problems when reproducing the results. However, it's suspicious that bleu-4 is bigger than bleu-2
![table6](https://user-images.githubusercontent.com/1344510/61605937-6a3ed100-ac7a-11e9-9179-3d283a948983.png)

They use `sentence_bleu`, not in

[2019-07-22 05:08] lacls commented on #2340
Thank you a bunch!

[2019-07-22 07:11] alvations commented on #2341
Thank you @hzhwcmhf #2342 should have fixed the issue. Yes, I guess there are quite a few papers in the wild "mis-using" BLEU with/without smoothing =)

Thank you again for raising the issue!

[2019-07-22 07:31] hzhwcmhf commented on #2341
I have seen your PR, but I don't think the problem in ``method5`` is fixed.
It should average the numerators, not the probability.

And there is also a problem in ``method7``. ``method5`` may need ``Fraction``, but ``method4``returns floats.

[2019-07-22 07:50] alvations commented on #2341
I didn't look at at `method5`, is it the same issue in method 5?

Let me take a closer look at `method5`, BTW, it's not possible to return a Fraction object with a non integer numerator/denominator.

[2019-07-22 16:05] dljr0122 opened #2343 "CONTRIBUTING.md broken"
I want to make a simple suggestion. But information about how to contribute (i.e. CONTRIBUTING.md file) is not loading.

[2019-07-22 16:12] dljr0122 commented on #2343
Looks like it is an issue with my university's network. Loads fine when I'm not on it.

[2019-07-22 16:12] #2343 closed, assigned to nobody

[2019-07-23 06:20] lacls opened #2344 "LookupError: NLTK was unable to find stanford-parser\.jar! Set the CLASSPATH environment variable."
I did follow this article for Stanford Parser:
https://gist.github.com/alvations/e1df0ba227e542955a8a
My error code:
[code]
And I did google many topics for solving but it didn't help me at all. Thank you for your help!

[2019-07-23 08:05] alvations commented on #2344
Please avoid using the StandfordPOSTagger object, use the CoreNLP* objects instead, see https://github.com/nltk/nltk/wiki/Stanford-CoreNLP-API-in-NLTK

The gist on https://gist.github.com/alvations/e1df0ba227e542955a8a is badly outdated, sorry about that. Please don't follow that.

[2019-07-23 10:50] anetschka opened #2345 "Saving a language model"
Hi there,
I am wondering how I can save a trained language model (KneserNeyInterpolated, or anything that is derived from the base LanguageModel class), The api does not seem to exhibit a save()-function and pickling didn't work. Any hints?
Cheers,
a

[2019-07-23 11:16] iliakur commented on #2345
There's currently no functionality to save a model. When I was writing the module I didn't have time to add it.

For now, you could try saving the parts of the model, i.e. the vocabulary and the counts, then set those on an instantiated model class. Python's pretty flexible after all :)

Let me know if this is clear or if I should make an example.

[2019-07-23 11:19] anetschka commented on #2345
I close this since I figured out how this works. Sorry for bothering.

[2019-07-23 14:41] alvations commented on #2345
@Copper-Head @anetschka for that you can use Python 3.6 and/or [`dill`](https://dill.readthedocs.io/en/latest/dill.html), take a look at the example on https://www.kaggle.com/alvations/n-gram-language-model-with-nltk =)

[2019-07-23 14:43] iliakur commented on #2345
@anetschka would you mind sharing how you got it to work? I'm slammed with other stuff right now, but have carved out some time next month to do some NLTK work and it would be extremely helpful to have your stuff as a starting point.

Of course feel free to also open a PR yourself with the functionality implemented, I'll gladly review it :)

[2019-07-23 15:51] anetschka commented on #2345
@alvations Hi! Nice to see you here. I actually tried installing dill, but it won't build on Windows and since I am on a virginal machine right now, I didn't want to setup a completely new Ubuntu subsystem there.
@Copper-Head The problem was actually with my desktop security application. It blocked Python from writing output files to my working directory. As I said, sorry for bothering. So, pickli

[2019-07-23 17:32] iliakur commented on #2345
Is this KneserNeyInterpolated by any chance? If so, it might be related to #2332, which is what I'll be looking into soon.

If it's not too much work, could you send me a minimal example to reproduce this? Would help a lot with testing :)

[2019-07-24 03:34] lacls commented on #2344
Sweet, this gives me a good solution <3. Have a gorgeous day.

[2019-07-24 08:55] anetschka commented on #2345
Илья, привет, yes, it's KNI. I will today see what I can get out of this in terms of debugging and verifying that the problem is related only to KNI. Will let you know if I make progres on this by updating this comment.

EDIT @Copper-Head:

Maybe I have found the bug. Analysing the code and the errors I got, it seemed to me that the smoothing classes are not instantiated properly and, therefore, c

[2019-07-25 20:04] iliakur commented on #2345
Thanks for investigating this so thoroughly!

I can unfortunately only get back to you about it in several weeks as I'm in crunch-time. I've been responding so far in the hopes that the fix is easy, but your results so far suggest I'll need to put some thought into this, so I'll have to make time for that.

I have a quick question: do you replace any words with "UNK" in your training data? It's ge

[2019-07-25 21:17] spearsem commented on #1576
Is there any progress on this? I am running into this when using pytest-xdist to parallelize a series of pytest unit tests. In a module, I import wordnet, and that module is used for several parallelized tests. At the pytest-xdist level, I have no control over sequestering this into an isolated function to be called in each worker thread.

[2019-07-26 06:26] ndvbd commented on #1576
I solved it by wrapping the wn.synsets(word) with a lock:
[code]

[2019-07-26 13:13] spearsem commented on #1576
@ndvbd in the context of parallel unit test execution with pytest-xdist, this does not appear to work. I placed the import of wordnet into a session-level pytest fixture, and then made all the relevant functions accept the module itself as an argument, such as:

[code]

and then a test file will use the fixture

[code]

such as

[code]

I found that if I don't wrap the import of wordnet inside a p

[2019-07-29 23:38] KyleRaney commented on #1079
Possible Solve. no errors so far. working with 64 bit
installed pip, numpy, wheel, pipenv, setuptools, virtualenv, virtualwrapper, NLTK, etc.

pip needs to be 19+ version and python 3+ version

system-> Advanced system settings -> Environment Variables -> EDIT path -> NEW paths

C:\Users\USERNAME\AppData\Local\Programs\Python\Python37\Scripts
C:\Users\USERNAME\AppData\Local\Programs\Python\Python3

[2019-07-29 23:55] KyleRaney opened #2346 "Possible Install Solve"
Possible Solve. no errors so far. working with 64 bit
installed pip, numpy, wheel, pipenv, setuptools, virtualenv, virtualwrapper, NLTK, etc.

pip needs to be 19+ version and python 3+ version

system-> Advanced system settings -> Environment Variables -> EDIT path -> NEW paths

C:\Users\USERNAME\AppData\Local\Programs\Python\Python37\Scripts
C:\Users\USERNAME\AppData\Local\Programs\Python\Python3

[2019-07-30 16:18] ndarr opened #2347 "METEOR metric does not use user set stemmer"
The Meteor metric offers the ability to use a custom stemmer but does not pass it through to the relevant function. So in every case even if the function meteor_score is called with a custom stemmer it still uses the default PorterStemmer

[2019-07-31 01:03] ndo3 opened #2350 ""kern" (v) in nltk.corpus.wordnet is antonymous to itself!"
^ that is pretty much it. I am trying to build a graph based on wordnet's verb structure, and when I'm building antonymous relationship between antonymous words, it basically says "kern" is antonymous to "kern", which I assume is a bug based on the dictionary definitions of "kern".

Any help would be much appreciated! :)

[2019-07-31 01:27] ndo3 opened #2351 "WordNet lemmas do not contain non-zero causes() and entailments()"
Hey! I have been trying to look for the causes() and entailments() relationship between verbs like in the WordNet documentation by Christiane Fellbaum, but those functions return no non-empty lists given any lemma. Based on Christiane's documentation, Lemma('kill').causes() should return a list that contains at least one element, 'die'. Is this an unimplemented feature of NLTK WordNet, or is it a

[2019-07-31 03:37] ndo3 commented on #2351
@alvations hey! Sorry I am new to posting issues on Github/NLTK Github page haha so er am I supposed to do anything with the `pleaseverify` tag? thanks

[2019-07-31 05:52] alvations commented on #2351
@ndo3 no worries, the tag is just for any contributors, esp. the WordNet API contributors, to check if the issue raise is a bug or something else. Basically the `pleaseverify` tag is a "call to check" for other contributors, sometimes we use `goodfirstbug` too if it looks like an easy fix.

In this case, for this issue, a good way to get faster response from fellow contributors is to show the code

[2019-07-31 08:51] #2347 closed, assigned to nobody

[2019-07-31 13:46] Tserewara commented on #736
Was generate removed again? I'm following the book, and got the error `generate() missing 1 required positional argument: 'words'`. Any help, please?

[2019-08-01 16:01] BramVanroy opened #2352 "Escape parentheses in NLTK parse tree"
In NLTK we can convert a parentheses tree into an actual Tree object. However, when a token contains parentheses, the parsing is not what you would expect since NLTK parses those parentheses as a new node.

As an example, take the sentence

This could be parsed as

[code]

But if you parse this with NLTK into a tree, and output it - it is clear that the `(d)` is parsed as a new node, which is no s

[2019-08-02 08:19] GerhardKa commented on #1524
@ShraddhaSurana : After having added a deterministic sort order routine to the decision tree output functions, this issue can be closed now.

[2019-08-02 09:50] ShraddhaSurana commented on #1524
Hi,

I haven't used this feature for a while now.. so do close it if you seem
fit.

Thanks,

On Fri, 2 Aug 2019 at 13:50, Gerhard Kremer <notifications@github.com>
wrote:

[2019-08-02 19:05] #1524 closed, assigned to nobody

[2019-08-03 08:35] stevenbird commented on #2350
Yes, kern.v.01 is the antonym of kern.v.02.
http://wordnetweb.princeton.edu/perl/webwn?o2=&o0=1&o8=1&o1=1&o7=1&o5=&o9=&o6=&o3=&o4=&s=kern&i=6&h=001000000#c

[2019-08-03 08:36] #2350 closed, assigned to nobody

[2019-08-03 15:59] begab commented on #2171
As an additional note, the above issue can also result in a `WordNetError` being thrown in certain cases. There are 5 example sense keys to reproduce the error:
`problematic_sense_keys = 'remain%2:42:05:: put%2:31:13:: minister%2:41:12:: long%2:37:02:: aim%2:32:09::'.split()`

[2019-08-03 19:10] pombredanne commented on #1025
This has been fixed, merged, verified and released. Closing now.!

[2019-08-03 19:11] #1025 closed, assigned to nobody

[2019-08-04 07:07] Kilago opened #2354 "Cannot install ntlk library"
![image](https://user-images.githubusercontent.com/33275883/62420705-7fb2f280-b69f-11e9-802e-e4a2ffd457dc.png)

[2019-08-04 10:48] alvations commented on #2354
Hint: `pip install nltk` not `ntlk`, it's a common typo that we make sometimes too =)

[2019-08-05 02:27] rdbliss commented on #2299
@networkjr I can confirm that too. Maybe the fix in #2227 hasn't been pushed to PyPi yet?

[2019-08-05 05:02] rdbliss opened #2356 "`samples` keyword arg ignored in `FreqDist.tabulate`"
It looks like the `samples` keyword argument mentioned in the docstring of `FreqDist.tabulate()` is ignored. Is this the intended behavior?

Here are the arguments from [the docstring](https://github.com/nltk/nltk/blob/1805fe870635afb7ef16d4ff5373e1c3d97c9107/nltk/probability.py#L308):

Here's an example of `samples` being ignored:

[code]

This is different from what `ConditionalFreqDist.tabulate

[2019-08-05 09:50] abidahmadq commented on #518
Hello i am looking to contribute to this issue. This would be my first open source contribution. Can anyone explain what needs to be done regarding this issue?

[2019-08-06 00:49] alvations commented on #518
@abid1998 if you would like to take up this issue, it's simple but tedious. Basically go to every file listed that contains `%s` and format the strings into f-strings or modern strings:

[code]

and

[code]

P/S: There'll be tricky cases but most of it should be simple.

Please take a look at https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md and create a pull-request whenever you're ready,

[2019-08-06 07:44] kmike commented on #518
@alvations keep in mind though that f-strings can only be used if NLTK drops support for Python < 3.6. Also, if Python 2.7 is supported, you can't mechanically replace % formatting with .format, because they are not the same when unicode and str types are mixed (see https://github.com/nltk/nltk/issues/518#issuecomment-27180470).

[2019-08-06 07:45] kmike commented on #518
I think it can be much easier to solve once Python 2.7 support is dropped; otherwise, there is a high risk of introducing Python 2 specific bugs.

[2019-08-07 08:05] mi-kon opened #2357 "nltk.download() logs out on OS X"
Hello,

I have a macbook running OS X 10.14.6, Python 3.7.3, conda 4.7.5 .

When I try run interactive installer from NLTK python package, following the steps from: http://www.nltk.org/data.html in my terminal, after

`>> nltk.download()`

Instead of opening NLTK Downloader in a new window, I get logged out (ok, i assume something related to GUI crashes at this point). `nltk.download_shell()`works

[2019-08-07 11:23] #2354 closed, assigned to nobody

[2019-08-10 06:39] chengafni opened #2360 "nltk.app.wordnet() error"
Hi,
I get an error message when trying to run nltk.app.wordnet() (see below).
System specifications: Win 7 64 bit, Enthought Canopy environment version 2.1.9.3717 (64 bit) , Python version 3.5.2, NLTK version: 3.2.4-5 (I know it's not the latest released version, but for some reason Canopy insists that there aren't newer versions).
Any suggestions?
Thanks,
Chen

[code]

[2019-08-10 22:18] iliakur opened #2361 "tqdm dependency"
It's imported in the `util` module, but not listed in the requirements. Somehow the tox tests pass, but when I tried running the unit tests for the LM module I had to install the package to get them to run.

@alvations what am I missing?

[2019-08-12 13:09] #2332 closed, assigned to nobody

[2019-08-12 13:21] #36 closed, assigned to nobody

[2019-08-12 13:22] #2308 closed, assigned to nobody

[2019-08-12 13:22] #39 closed, assigned to nobody

[2019-08-12 13:23] alvations commented on #2361
Ah that must have sneaked through from https://github.com/nltk/nltk/pull/2337

The `develop` branch should have added the dependency https://github.com/nltk/nltk/blob/develop/setup.py#L107

But you're right the requirement is missing for local tests, https://github.com/nltk/nltk/blob/develop/requirements-test.txt .

[2019-08-12 13:24] #31 closed, assigned to nobody

[2019-08-12 13:24] #40 closed, assigned to nobody

[2019-08-12 13:24] #41 closed, assigned to nobody

[2019-08-12 13:24] #43 closed, assigned to nobody

[2019-08-12 13:24] #45 closed, assigned to nobody

[2019-08-12 13:24] #48 closed, assigned to nobody

[2019-08-12 13:24] #50 closed, assigned to nobody

[2019-08-12 13:24] #53 closed, assigned to nobody

[2019-08-12 13:24] #54 closed, assigned to nobody

[2019-08-12 13:24] #58 closed, assigned to nobody

[2019-08-12 13:24] #60 closed, assigned to nobody

[2019-08-12 13:24] #61 closed, assigned to nobody

[2019-08-12 13:24] #63 closed, assigned to ewan-klein

[2019-08-12 13:24] #66 closed, assigned to stevenbird

[2019-08-12 13:24] #67 closed, assigned to nobody

[2019-08-12 18:13] iliakur commented on #2345
@anetschka I believe I fixed the problem with zero division errors in #2363 . Could you confirm when you get a chance (it's in the `develop` branch, hasn't been released yet).

If it's fixed for you too and you're able to save the model, feel free to close this issue.

If you're itching to contribute to NLTK, I would be very grateful for an example of saving and loading a model in the module docst

[2019-08-13 11:50] anetschka commented on #2345
@Copper-Head  I confirm that the problem is solved. What did you change (just curious)? I can add a line on pickling the model to the docs, but I think it's easiest if you do this yourself.

[2019-08-13 11:50] #2345 closed, assigned to nobody

[2019-08-13 12:55] #73 closed, assigned to nobody

[2019-08-13 12:55] #79 closed, assigned to nobody

[2019-08-13 12:55] #88 closed, assigned to nobody

[2019-08-13 12:55] #90 closed, assigned to nobody

[2019-08-13 12:55] #91 closed, assigned to nobody

[2019-08-13 12:55] #92 closed, assigned to nobody

[2019-08-13 12:55] #102 closed, assigned to nobody

[2019-08-13 12:55] #109 closed, assigned to nobody

[2019-08-13 12:55] #110 closed, assigned to nobody

[2019-08-13 12:55] #114 closed, assigned to nobody

[2019-08-13 12:55] #120 closed, assigned to nobody

[2019-08-13 12:55] #121 closed, assigned to nobody

[2019-08-13 12:55] #124 closed, assigned to nobody

[2019-08-13 12:55] #125 closed, assigned to nobody

[2019-08-13 12:55] #128 closed, assigned to nobody

[2019-08-13 12:55] #132 closed, assigned to nobody

[2019-08-13 12:55] #134 closed, assigned to nobody

[2019-08-13 12:55] #135 closed, assigned to nobody

[2019-08-13 12:55] #137 closed, assigned to nobody

[2019-08-13 12:55] #144 closed, assigned to nobody

[2019-08-13 12:55] #146 closed, assigned to nobody

[2019-08-13 12:55] #150 closed, assigned to nobody

[2019-08-13 12:55] #154 closed, assigned to nobody

[2019-08-13 12:55] #159 closed, assigned to nobody

[2019-08-13 12:56] #162 closed, assigned to nobody

[2019-08-13 12:56] #181 closed, assigned to nobody

[2019-08-13 12:56] #184 closed, assigned to nobody

[2019-08-13 12:56] #185 closed, assigned to nobody

[2019-08-13 15:28] iliakur commented on #2345
@anetschka take a look at this and the lines below it (comment and everything):
https://github.com/nltk/nltk/pull/2363/files#diff-5b55c076da263ed96c145ce90d6cd5f9R79

No worries re docs, I'll add an example in the next couple of months.

[2019-08-13 15:35] iliakur commented on #603
@stevenbird I think we can close this because the new language model module doesn't really have a "default" model and the underlying problem with SGT can be tracked in #602.

[2019-08-13 21:28] #603 closed, assigned to nobody

[2019-08-14 00:01] Zhaofeng-Wu opened #2365 "What is the proper way to compute a corpus level METEOR score?"
For BLEU, there is a `corpus_bleu` function, but there is no such function for METEOR. I am reading the METEOR paper and code, and it looks like it's more complicated than a simple average of sentence METEOR scores. How should I do it then? Should I concatenate all the hypothesis & reference sentences, and then compute the METEOR score?

[2019-08-14 04:04] iandanforth-alation commented on #537
@alvations I also encountered this going from nltk2 to 3.4.4

[2019-08-16 15:43] interrogator commented on #1920
So nobody ever solved this? Currently I have to wrap words in a dummy class with a decode method that does nothing. I'd love to remove that from my code.

[2019-08-16 15:45] interrogator commented on #1920
Here is the traceback, happens when I use Bllip's `parse_one`:

[code]

[2019-08-17 16:14] 0xAtlxolotlz commented on #736
Still having troubles with this function :/

[2019-08-18 12:31] iliakur commented on #736
@Tserewara @AlbertSawZ what version of NLTK are you using? Could you post a minimal example that we can try running to reproduce this problem?

It's a bit difficult to help you based on what information you sent so far :(

[2019-08-19 01:29] tommieezpark opened #2369 "for features, labels in training_data: 2 x.append(features) 3 y.append(label) 4 x = np.array(x).reshape(-1, IMG_SIZE, IMG_SIZE, 1) ValueError: not enough values to unpack (expected 2, got 1)"
Does anyone know why I got this error while running that piece of code?

[2019-08-19 01:54] alvations commented on #2361
Seems like this is the thing breaking the CI too. Not just local tests.

Sorry about it. Moving the imports inside the parallelization function should let the local tests pass. #2370

[2019-08-19 01:56] alvations opened #2371 "Replace nltk.decorators.py with decorator library"
From @Copper-Head,

Can we get rid of `decorators.py` by using the [decorator](https://pypi.org/project/decorator/) library?

[2019-08-19 02:11] alvations commented on #2365
Unfortunately, the METEOR implementation in NLTK is non-canonical. It's also not conforming to the standard class/function patterns for the BLEU/RIBES/CHRF scores.

I'll suggest not to use it for anything beyond algorithm understanding purposes.

[2019-08-19 03:33] alvations commented on #2369
Thank you @tommieezpark for raising the issue. We'll need a little more information to help you with the issue.

 - Could you post the code before the error happen?

- Is the code coming from somewhere, e.g. the NLTK book or some examples on the web? If so, where did you get it from?

- Which version of NLTK are you using? Which Python version are you using?

- Which OS are you using to run the co

[2019-08-19 08:26] stevenbird commented on #2361
Thanks @alvations!

[2019-08-19 08:26] #2361 closed, assigned to nobody

[2019-08-19 18:45] kkawabat opened #2372 "CoreNLPServer occasionally raises 'Could not connect to the server.' error even when rerunning with context manager."
I am running a batch script to generate constituency parse trees for text files in a directory using CoreNLPServer:

[code]

The script works fine most of the time except occasionally there would be hiccups where CoreNLP [raises 'Could not connect to the server.' error](https://github.com/nltk/nltk/blob/289f560fe4b58c25a842e4c5b1a1c820af4a840e/nltk/parse/corenlp.py#L153) This is the response I get

[2019-08-19 21:47] dimazest commented on #2372
That's interesting, it should stop, that's the point of the context manager.

As it seems that you process more than a handful of documents, I suggest to start CoreNLP Java process in a separate shell and point CoreNLPParser() to it.

Btw, are you running several instances of your script in parallel? `constituency_parser = CoreNLPParser()` will always connect to one, independently on what port `Co

[2019-08-20 05:35] alvations commented on #2357
Personally, I would advise against using the GUI for NLTK download.

But to explain the problem, it's most probably because of `tkinter`. On Mac OS, maybe this works, assuming that you have homebrew installed https://brew.sh/

[code]

From https://stackoverflow.com/questions/36760839/why-my-python-installed-via-home-brew-not-include-tkinter/48737927

If the above works and the GUI pops up properly

[2019-08-20 05:46] alvations commented on #2352
Hmmm, in this case, is there a reason why the opening and closing brackets are not converted to `-LRB-` and `-RRB-` before parsing the tree?

More specifically, where did `(S (NP (PRP They)) (VP like(d) (NP (PRP it)) (NP (DT a) (NN lot))) (. .))` come from? Knowing where it comes from, we can find the correct regex  or preprocessing steps that's missing the `-LRB-` and `-RRB-`  conversion.

[2019-08-20 05:47] #2340 closed, assigned to nobody

[2019-08-20 05:47] #2344 closed, assigned to nobody

[2019-08-20 05:48] alvations commented on #2338
Patched from #2364

[2019-08-20 05:48] #2338 closed, assigned to alvations

[2019-08-20 05:49] alvations commented on #2331
@alexandredias3d Thank you for raising the issue. Could you share the `test.pickle` file and explain what's inside so that we can look into the problem?

[2019-08-20 09:35] waltbai opened #2373 "MaltParser bug for parse_tagged_sents"
maltparser version 1.9.2.
I've input several sentences but the parser only output the result of the first sentence.
Then I read the examples in maltparser and I found that the input and output .conll files only use one blank line to split two sentences.
It seems that nltk.parse.util.taggedsents_to_conll(sentences) should deal with this problem.

[2019-08-21 16:03] behunter957 opened #2374 "problem with pos_tag and the cardinal "zero""
in the following code, first sentence tagging unexpectedly tags "zero" as 'NN', second sentence tagging correctly tags "zero" as 'CD'

def preprocess(sent):
	sent = nltk.word_tokenize(sent)
	sent = nltk.pos_tag(sent)
	return sent

sentence = """my social security number is nine one three seven four four six five zero definitely."""
sent = preprocess(sentence)
print(sent)
sentence = """my social se

[2019-08-21 18:03] kkawabat commented on #2372
No, I am not running it in parallel except for when this error occurs in which case I would have an extra CoreNLPServer running in the background but this would just result in the error above.

Currently I am testing the script on a folder with just two files each with 9 sentence each so I don't think it's an issue with too many documents (maybe too many sentences?).

Could this issue be caused by

[2019-08-22 04:13] #602 closed, assigned to longdt219

[2019-08-22 04:13] #651 closed, assigned to nobody

[2019-08-22 04:13] #680 closed, assigned to stevenbird

[2019-08-22 04:13] #715 closed, assigned to stevenbird

[2019-08-22 04:13] #717 closed, assigned to nobody

[2019-08-22 04:13] #740 closed, assigned to nobody

[2019-08-22 04:13] #801 closed, assigned to edloper

[2019-08-22 04:13] #860 closed, assigned to nobody

[2019-08-22 04:13] #1074 closed, assigned to nobody

[2019-08-22 04:13] #1116 closed, assigned to nobody

[2019-08-22 04:13] #1182 closed, assigned to dimazest

[2019-08-22 04:13] #1187 closed, assigned to nobody

[2019-08-22 04:13] #1191 closed, assigned to nschneid

[2019-08-22 04:13] #1251 closed, assigned to nobody

[2019-08-22 04:13] #1276 closed, assigned to nobody

[2019-08-22 04:13] #1323 closed, assigned to nobody

[2019-08-22 04:13] #1337 closed, assigned to nobody

[2019-08-22 04:13] #1371 closed, assigned to nschneid

[2019-08-22 04:13] #1372 closed, assigned to nschneid

[2019-08-22 04:13] #1373 closed, assigned to nschneid

[2019-08-22 04:13] #1374 closed, assigned to nschneid

[2019-08-22 04:13] #1377 closed, assigned to nschneid

[2019-08-22 04:15] #186 closed, assigned to nobody

[2019-08-22 04:15] #194 closed, assigned to nobody

[2019-08-22 04:15] #197 closed, assigned to nobody

[2019-08-22 04:15] #205 closed, assigned to nobody

[2019-08-22 04:15] #250 closed, assigned to nobody

[2019-08-22 04:15] #254 closed, assigned to nobody

[2019-08-22 04:15] #268 closed, assigned to nobody

[2019-08-22 04:15] #272 closed, assigned to nobody

[2019-08-22 04:15] #280 closed, assigned to nobody

[2019-08-22 04:15] #294 closed, assigned to nobody

[2019-08-22 04:15] #296 closed, assigned to nobody

[2019-08-22 04:15] #304 closed, assigned to nobody

[2019-08-22 04:15] #329 closed, assigned to nobody

[2019-08-22 04:15] #332 closed, assigned to nobody

[2019-08-22 04:15] #379 closed, assigned to nobody

[2019-08-22 04:15] #383 closed, assigned to nobody

[2019-08-22 04:15] #386 closed, assigned to nobody

[2019-08-22 04:15] #443 closed, assigned to nobody

[2019-08-22 04:15] #483 closed, assigned to nobody