[2013-04-17 14:07] kmike commented on #390
Do you use Python 3.x?

In Python 3.x dict.keys() method returns iterator; while porting to Python 3.x I decided to prefer idiomatic behavior over backwards compatibility in such cases. NLTK 3 is still in alpha so we could revert this decision - if you have some arguments in favor of keys returning list they are welcome.

Also, in Python you usually write

[code]

[2013-04-17 14:08] kmike commented on #390
If you want to follow the book it is better to install Python 2.7 because the book is not updated for NLTK3 / Python 3.x yet.

[2013-04-17 14:10] heatherleaf commented on #390
My suggestion is to keep the current behavior and update the docstrings. (The same also holds for .values())

[2013-04-17 14:14] sonofmun commented on #390
Hi kmike.  Thanks for the information.  I figured it was something like that.  I have no problem with the new behavior.
And I know that the book was done for Python 2.7, but I like the challenge of trying to get the same behavior out of Python 3.x as described in the book.  So far, doing it this way has been a very good learning activity for me.

[2013-04-17 16:49] kmike commented on #390
@sonofmun I like your approach :+1: But be ready that many pre-trained models won't work (I think including `nltk.pos_tag`) because we didn't fix this issue yet; you'll have to train them yourself, and it is not always described in the book how to train models.

@heatherleaf Do you have ideas how to fix those docstrings? "Return list in Python 2.x and iterable in Python 3.x" is a bit cumbersome.

[2013-04-17 21:01] heatherleaf commented on #390
No, I think that's fine. But perhaps "iterator" is better than "iterable", since that's what the documentation for map() in py3 says.

"Returns a list in Python 2.x, and an iterator in Python 3.x"

[2013-04-18 00:42] #337 closed, assigned to nobody

[2013-04-18 16:01] ironico commented on #265
Hello,
u can use MyMemory is free and anonymous for 100 request/day or 1000 request/day with a valid email.
I made a python function for that, if you are interested u can find it here:
http://www.gennarovarriale.it/python-funzione-per-traduzione-testi

[2013-04-18 16:09] kmike commented on #265
Hi @ironico,

Thanks for a link. I personally think that
1. it is not robust to rely on third-party API in NLTK, and
2. babelize_shell was fun but not very useful.

Also, 100 requests/day limit is easy to exceed, esp. the way it was used in NLTK (even 1000 requests/day could be quite low for such purposes). So I'd vote -1 for restoring this functionality using a different online service.

[2013-04-18 16:36] ironico commented on #265
@kmike absolutely agree.
I proposed my solution only for testing, not for an integration in NLTK.
-1 for me too ;)

[2013-04-22 20:23] alexrudnick opened #393 "can't pickle NgramModels because we can't pickle ConditionalFreqDists because Python can't pickle lambdas ..."
Right now, we can't pickle an NgramModel, like so:

[code]

... but I know why this is! We can't pickle any ConditionalFreqDist, and the NgramModel has one of those as a member.

[code]

And this can't be done because ConditionalProbDist carries a lambda around.
https://github.com/nltk/nltk/blob/master/nltk/probability.py#L2091

Any thoughts on the best way to fix this, so we can pickle NgramModel

[2013-04-22 21:02] kmike commented on #393
I think the easiest way to fix ConditionalProbDist pickling is to uncomment code from the constructor and write `__reduce__()`.

[2013-04-23 16:40] dabril opened #395 "WordNet: Lowest Common Hypernym"
I have seen a strange behavior when using the function to find the lowest common hypernym between two synsets.
For instance, Synset('policeman.n.01') and Synset('firefighter.n.01')
## Example
- wn.synset('policeman.n.01').definition
  - 'a member of a police force'
- wn.synset('chef.n.01').definition
  - 'a professional cook'
- If we compute the lowest common hypernym we get the following synset _

[2013-04-24 18:16] kmike commented on #393
Alex, is NgramModel picklable now?

[2013-04-24 22:15] alexrudnick commented on #393
It is! We should probably add a test to make sure it stays picklable.

I suppose we should start a file for NgramModel tests.

I'll go ahead and close this issue, though.

[2013-04-24 22:20] alexrudnick commented on #393
Fixed by pull #394.

[2013-04-24 22:20] #393 closed, assigned to nobody

[2013-04-24 22:38] alexrudnick opened #396 "make some good doctests for nltk.model.NgramModel"
I don't think there are any tests for NgramModel at all right now...

But there should be some.

Tests should include the obvious things like creating a model, using some different estimators, sampling from it. And also pickling and loading from a pickle.

[2013-04-25 10:47] kmike commented on #396
There is a simple test in `NgramModel.__init__` docstring (it could be executed using runtests.py script), but it only checks that there are no syntax errors and that entropy calculation works; +1 for proper NgramModel tests (esp. given all recently opened NgramModel tickets).

[2013-04-25 12:55] idw commented on #80
Forgive me if this is the wrong place to be asking, as I see the last update was 11 months ago. Am I right to think that v3 is intended to support Python 3 and the recent alpha 1 is a start on that? If so, is there any sense of when a stable release might be available?

(If so, perhaps it might be worth closing this issue?)

[2013-04-25 13:28] stevenbird commented on #80
Yes, the recent alpha supports Python 3. We are delayed because some of the corpora in nltk_data are not compatible. @kmike would you please comment on this?

[2013-04-25 15:20] kmike commented on #80
I think Steven described the situation pretty well - some models from nltk_data are not compatible with Python 3.x, and nobody opted to fix them yet. See #169, #359.

[2013-04-27 18:27] bluemont commented on #179
I just submitted this pull request to Homebrew for WordNet 3.1. Maybe it will be helpful:
https://github.com/bluemont/homebrew/commit/de39582d98fe4c2510e191c2f959e54f37ba2c51

[2013-05-02 13:03] bmurr opened #397 "PunktTrainer fails with ZeroDivisionError on some text."
Running the following code will result in a ZeroDivisionError:

[code]

Traceback:

[code]

I've also run into a `ValueError` in _col_log_likelihood, when it attempted to do `math.log(0)`.

[2013-05-02 15:48] niccokunzmann commented on #368
This question refers to that error:

http://stackoverflow.com/questions/15320894/python-importerror-maxentclassifier/15321784#15321784

It would be good to know that numpy should be installed in some cases.

I do not know of wether you resolved it. Just for information.

[2013-05-02 22:05] rmalouf commented on #293
This is the same problem as #393 and it's also fixed by #394, so this can probably by closed.

[2013-05-03 20:56] alexrudnick opened #398 "Can't train a TnT tagger in Python 3"
If you do:

[code]

... then it fails during training with an error like this, at least in Python 3:

[code]

Python 2.7 works for me, though.

[2013-05-03 20:59] alexrudnick commented on #293
This seems to be fixed for Python 2, but due to #398, can't verify it for Python 3 yet...

[2013-05-05 02:45] #398 closed, assigned to nobody

[2013-05-05 03:17] alexrudnick commented on #293
OK, yeah! This can be closed. Thanks, Rob!

[2013-05-05 03:17] #293 closed, assigned to nobody

[2013-05-06 10:12] liquidscorpio opened #401 "word_tokenizer separates contractions (we'll, I'll) into different words"
[code]

Though I am no expert in English/Linguistics, I think the output should have been:

[code]

[2013-05-06 13:08] dan-blanchard commented on #401
That is the correct/expected output. For word tokenization contractions are considered two words because meaning-wise they are.

[2013-05-06 17:52] kmike commented on #401
I agree with Dan. Obviously for this approach to work further processing units (e.g. a POS tagger) should be aware of such tokens. But it is much easier than processing tokens like `we'll`.

[2013-05-06 17:52] #401 closed, assigned to nobody

[2013-05-06 18:12] liquidscorpio commented on #401
But what when I am indexing the words, I'd much rather have we'll as a single word than 'we' and 'll.

[2013-05-06 18:22] kmike commented on #401
There is no universal best tokenizer. If you task requires different tokenization rules then don't use nltk.word_tokenize. In fact, there are tokenizers in NLTK other than nltk.word_tokenize, and NLTK provides helper classes for writing your own tokenizers (or you could just write a regexp). See http://nltk.org/book/ch03.html#sec-tokenization for more information. This link could also be relevant:

[2013-05-06 18:24] liquidscorpio commented on #401
Thanks! Will go through them and see how can I help myself.

[2013-05-09 17:56] rmalouf opened #403 "Problem with repeated words and BigramCollocationFinder.from_words()"
BigramCollocationFinder.from_words() in collocations.py does strange things with duplicate words:

[code]

and

[code]

By my count, `('xx','is')` occurs 2 times (not 1) and `('xx','xx')` occurs 4 times (not 0).

The culprit seems to be this bit of code here, which truncates an ngram at the point where a duplicate word occurs:

[code]

I see from the history that @jnothman added this... what was t

[2013-05-13 06:58] #82 closed, assigned to nobody

[2013-05-14 05:10] btabibian opened #406 "nltk with sklearn"
I saw there is an interface between nltk and sklearn supervised training, or any pipeline that would do the same. I was interested to use sklearn only at the level of feature transformation but the interface does not support it.

One way to do this is to modify the current solution and make it call "transform" function instead of "predict" function, however, it does not conform with the name of th

[2013-05-14 06:41] stevenbird commented on #406
@larsmans do you have any advice please?

[2013-05-14 06:55] btabibian commented on #406
for my own work i just changed the current file.

I am not very familiar with nltk, but if there is a module that handles
feature extractions, such as bag of words, etc. then a similar wrapper in
that module would be sensible otherwise modifying current file should be
fine.

On Mon, May 13, 2013 at 11:41 PM, Steven Bird notifications@github.comwrote:

[2013-05-14 08:51] larsmans commented on #406
I did not implement this because the feature representations of scikit-learn and NLTK differ quite a lot and I wasn't sure if exposing NLTK users to NumPy arrays/SciPy sparse matrices was in order. Besides, nothing in NLTK groks those, I think.

I'd advise just using scikit-learn functionality, since any attempt to wrap all of it in NLTK would just duplicate the API. If the input is in the NLTK fo

[2013-05-14 10:46] stevenbird commented on #406
@larsmans -- thanks for this.

[2013-05-14 10:46] #406 closed, assigned to nobody

[2013-05-14 13:54] btabibian commented on #406
@larsmans
Thanks for the input, but why did you implement this in the first place if users could just use DictVectorizer?

Also there is a wide range of tools in sklearn that can be useful for the user, such as regression, semi-supervised learning and feature extraction methods, if an easy way was available to go from nltk to sklearn and come back.

[2013-05-15 20:01] larsmans commented on #406
When I wrote the NLTK wrapper, `DictVectorizer` was not yet released. Besides, the API is not 100% the same, as the handling of labels is done differently. I wanted a drop-in replacement for the other NLTK classifiers, so that users can use scikit-learn without changing too much in their code.

I'm not deeply involved in NLTK development, so I don't plan to design and implement new APIs for it.

[2013-05-15 21:24] btabibian commented on #406
Thanks for the info,

I actually changed my code to use DictVectorizer.

Best,
Behzad

On Wed, May 15, 2013 at 1:02 PM, Lars Buitinck notifications@github.comwrote:

[2013-05-22 08:06] laike9m opened #408 "I don't understand tokenize.texttiling.py line 322"
texttiling.py line322:
`for score in scores[:index:]:`

Recently I studied the texttiling algorithm and found texttiling.py a good implementation of it.
But I just couldn't understand line322,shouldn't that be:
`for score in scores[index:]:`  ?
Since what we want is the right peak,shouldn't we start searching from `index` instead of `0`?

[2013-05-25 21:07] kmike commented on #403
This is the original ticket: https://code.google.com/p/nltk/issues/detail?id=603

[2013-05-25 21:27] kmike commented on #368
It is the pattern of conditional imports (based e.g. on numpy or svmlight presence) that causes troubles. Since  `nltk.classify.maxent`, `nltk.classify.svm` and `nltk.classify.scikitlearn`  are all now importable without dependencies installed, we should probably just make imports unconditional.

[2013-05-25 21:54] #390 closed, assigned to nobody

[2013-05-25 22:03] kmike opened #411 "childes.doctest is broken"
It seems that childes.doctest becomes broken after fixing https://github.com/nltk/nltk/issues/347.

Not all words returned by `.tagged_words` are now tagged, it looks like a real issue.

Errors:

[code]

[2013-05-26 00:10] jnothman commented on #403
Thanks for pulling that out, @kmike. I can't say I would have recalled it... and I agree it's some difficult-to-read code and some worrying behaviour.

It's important that it gets the expected frequencies in the usual no-skip (`window_size == n`) case, and i guess that means fixing duplicate words in that case (important for reduplicating morphology). But it's also essential that we don't get bogu

[2013-05-26 13:00] stevenbird commented on #368
So if I understand correctly, we now only fail at runtime (not load time) when dependencies are not installed.

[2013-05-26 13:00] #368 closed, assigned to nobody

[2013-05-26 20:20] stevenbird commented on #347
@tomonori-nagano would you please take a look at this and submit a fix?

[2013-05-29 23:16] rmalouf commented on #403
Great idea!

For `window_size=2`, it's pretty easy, I think:

[code]

Going back to the original source ([Church and Hanks 1990](http://acl.ldc.upenn.edu/J/J90/J90-1003.pdf)), they don't do anything special for multiple cooccurrences within a single window.  So, we'd get:

[code]

And for `window_size=5`:

[code]

On pg. 24, Church and Hanks admit this is odd: "one might expect f(x,y) <= f(x) and

[2013-05-30 05:07] jnothman commented on #403
Right. Going to the source is also a great idea. Dividing seems to be the solution. I'm also not sure why we should expect `f(x) = sum f(y) = sum f(x,y) = N` -- what did they do different??

Your patch looks good, except that I don't think these strange cases should be in the docstring; they should probably be in a separate test file. And for another test, pass in a larger piece of text for many w

[2013-05-30 12:48] zotz opened #413 "Getting unexpected results"
Working on a little something:

https://github.com/zotz/partystory_pythonutils

based around nltk and am getting unexpected results. This may just be me misunderstanding things in general, it may be me misunderstanding the limits of the current state of the tech, it may be coding errors on my part.

I would appreciate it if an interested party would run psauto.py against a novel from Project Guten

[2013-05-30 19:55] pfeyz commented on #411
it looks like [line 319](https://github.com/nltk/nltk/blob/1b2fbd1cd8742f18f7857d488651d8814e560d88/nltk/corpus/reader/childes.py#L319) needs to be de-indented to be outside the else statement, at least for that tagging issue.

[2013-05-31 20:22] rmalouf commented on #403
WIthout `pad_right=True`, we'd lose the partial n-grams at the end:

[code]

In the first case, we observe d in the right-context of c but in the second we miss it.  And then discarding the `None`s is what makes our sums different from Church and Hanks's.

Okay, so, if this seems good, I'll clean it up and fire off a pull request.

[2013-06-01 10:38] kmike commented on #411
@pfeyz thanks. Your suggestion didn't fix all issues, but it makes sense. The code is still broken when relation=True:

[code]

[2013-06-01 10:50] jnothman commented on #403
of course, we just use `pad_right=True` to calculate `wfd` (while iterating once).

[2013-06-03 12:40] laike9m commented on #408
Someone just tell me I was wrong ...Seems that no one ever use texttiling.py?

[2013-06-03 13:57] kmike commented on #408
Hi @laike9m,

First, thanks for the bug report!

texttiling.py is definitely used by people (see e.g. http://www2.slais.ubc.ca/agarnett/Schneider2011ConsentCanvas.pdf ), but there is a difference between using it and knowing all algorithm implementation details. It looks like the algorithm works, but, as you pointed, it could have errors that result in lower quality.

TextTiling implementation was

[2013-06-03 14:45] dougalg commented on #395
I agree that it makes more sense to be comparing the `hypernym_paths()` rather than the `min_depth()` for the synsets. I suppose it could get the lowest hypernyms for each possible path intersection.

This would be a major change of behaviour, though, right?

[2013-06-05 05:03] laike9m commented on #408
Thank you for your reply @kmike
I think I should get in touch with G.Boutsioukis,can you tell me his email address?

[2013-06-05 10:33] kmike commented on #408
The original ticket is https://code.google.com/p/nltk/issues/detail?id=505; you can find George contacts here: https://code.google.com/u/gboutsioukis/

[2013-06-05 10:54] stevenbird commented on #408
Note that there is an earlier loop over scores[index::-1], the mirror-image of scores[:index:], so if one of these is wrong, then they are both wrong. Since the loops compute lpeak and rpeak, which are summed, it hardly matters which directions the loops go, so long as they are the reverse of each other.

[2013-06-06 07:01] laike9m commented on #408
@stevenbird `[index::-1]` is right,but `[:index:]` isn't
![ttt](https://f.cloud.github.com/assets/2592205/616627/08a5a68c-ce76-11e2-94b3-dc5179926c39.jpg)

Let's say `index` is 3,i.e. the number `1`.If i'm not mistaken(of course I could be),the lpeak is `7` and rpeak is `6`.
As the pic shows,we can find the lpeak `7` but we can't find rpeak `6`,since we started from the wrong place.

[2013-06-06 07:03] laike9m commented on #408
@kmike
Thank you!

[2013-06-06 17:18] laike9m commented on #408
@kmike I've talked to George,he's now reviewing the code.

[2013-06-08 09:05] stevenbird commented on #80
I wonder if we can just transliterate the existing models (load them, convert the characters, store them). This would be a quicker path than recreating the long-lost code that created the models.

[2013-06-09 21:45] rmalouf opened #416 "Optional dependencies"
According to the docs [here](http://nltk.org/install.html), nltk requires pyyaml and has an optional dependency on numpy.  Looking through the code, though, there are a few other packages that get imported (matplotlib, scipy, sklearn, svmlight, unidecode) that should maybe be mentioned as optional dependencies.  But more importantly, when one of these optional packages are missing, attempts to use

[2013-06-09 23:32] kmike commented on #416
Hi @rmalouf,

A good ticket and good questions. My opinion:

-1. I think no, they shouldn't be made non-optional. Matplotlib is used for drawing - I think it is mostly useful for interactive work or for learning; it may not be needed in many production environments. Numpy is still not easy to install to virtualenv, and a lot of NLTK modules doesn't need it.

Without these dependencies NLTK can be

[2013-06-17 20:39] jnothman opened #419 "ENH allow feature agglomeration with any clustering method"
The Ward clusterer is accompanied by `WardAgglomeration`, which reduces the feature space by pooling (e.g. `mean`, `max`, `pca`) the values of those that are close in the sample space.

The implementation only involves fitting on `X.T` rather than `X`, and inheriting from `AgglomerationTransform` to provide `transform` and `inverse_transform` methods (though the `pooling_func` argument to `transfo

[2013-06-17 20:40] jnothman commented on #419
Sorry, added on wrong project.

[2013-06-17 20:40] #419 closed, assigned to nobody

[2013-06-21 16:25] destec commented on #182
I think i've got the solution. You can download all the data from [http://nltk.org/nltk_data/](http://nltk.org/nltk_data/), then you dont need to extract the zip files. Just run `nltk.download()` again.

[2013-06-22 10:25] paulproteus commented on #310
Hi @tibidoh !

Are you interested in submitting your personally fixed version of NLTK as a pull request so that others can benefit?

If so, we would love that. If you need any help with that process, let us know!

[2013-06-23 00:06] kmike commented on #310
Hi @paulproteus,

Alexander have submitted a pull request for this (https://github.com/nltk/nltk/pull/410); I think it needs a confirmation that demo doesn't work + small code changes to get merged.

[2013-06-23 03:55] kmike opened #422 "remove nltk.corpus.reader.wordnet._lcs_by_depth"
I may be wrong, but it looks like `_lcs_by_depth` (https://github.com/nltk/nltk/blob/master/nltk/corpus/reader/wordnet.py#L1578) has the same purpose as `lowest_common_hyphernyms` (https://github.com/nltk/nltk/blob/master/nltk/corpus/reader/wordnet.py#L453), but is not used anywhere (unlike lowest_common_hyphernyms). What do you think about removing it?

[2013-06-24 12:40] duhaime commented on #104
I know this is an old thread, but has this problem been fixed in the current master?

[2013-06-24 16:06] kmike commented on #104
No, this problem is not fixed.

[2013-06-24 22:26] stevenbird commented on #422
I agree, thanks.

[2013-06-25 03:44] michelleful commented on #301
This should be resolved with pull request https://github.com/nltk/nltk/pull/421. The issue is not, strictly speaking, with comparing a synset to itself, but when that synset additionally has no hypernyms, as is the case with "tardy". With a synset that does have hypernyms, the function behaves appropriately.

[code]

With the change in pull request https://github.com/nltk/nltk/pull/421, the functi

[2013-06-25 05:00] #422 closed, assigned to nobody

[2013-06-25 05:08] stevenbird commented on #301
Yes, and here's what happens with "tardy".

[code]

[2013-06-25 05:08] #301 closed, assigned to nobody

[2013-06-25 11:40] johbub opened #424 "ValueError: A 0.7-series setuptools cannot be installed with distribute."
I followed the installation instructions at http://nltk.org/install.html. When running install -U nltk i get the above error.
Python: 2.7.3; Ubuntu 12.04.

[2013-06-29 15:55] maxwillzq commented on #265
We can not find stable solution for this function? Thanks

[2013-07-01 00:55] stevenbird commented on #265
@maxwillzq - as @kmike also points out, we can't rely on a third-party API and also be stable

[2013-07-01 21:57] pfeyz commented on #424
It looks like the installation instructions refer to setuptools 0.6c11 (0.7 is pretty new). Did you install setuptools 0.7.5 ? I was able to reproduce the behavior you described w/ 0.7.5 because [Distutils prevents you from installing setuptools-0.7](https://pypi.python.org/pypi/setuptools/0.7.5#upgrading-from-distribute), but installation worked with 0.6.

[2013-07-02 05:11] rmunn commented on #104
This is a problem for packaging NLTK in Linux distrubutions, specifically Debian and Ubuntu. I worked on the Ubuntu package a while ago, and had to remove the mallet functionality entirely from the Ubuntu package because Ubuntu didn't carry Mallet 0.4 at all. And I was unable to get the NLTK package into Debian, for similar reasons: I started looking at whether I could create a mallet0 package for

[2013-07-04 14:41] tgalery commented on #32
Sorry to disagree I think having the data might be interesting for a variety of tasks. Also, topic extraction is moving from text classification to entity linking, so datasets like the ones documented in the first task of  http://www.wise2013.org/wise2013challenge.html and https://code.google.com/p/wiki-link/wiki/ExpandedDataset might be relevant. Providing an easy way to package and this type of

[2013-07-06 13:05] chaowu2009 opened #426 "could not download with python3"
I downloaded the gz files and installed successfully with python3. After that, in python3, I did :
import nltk
nltk.download()

The following errors show up:

Download which package (l=list; x=cancel)?
  Identifier> co
    Error loading co: Package 'co' not found in index

---

[code]

---

Downloader> l

Packages:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "nl

[2013-07-08 00:56] stevenbird commented on #169
I think we have three options here: retrain the punkt models on Unicode text, re-encode the existing trained models, or do model-specific decoding (perhaps using a lookup table so we know which character encoding to use for each model).

[2013-07-08 01:16] dougalg commented on #169
Would it be unreasonable to create -unicode versions of all the models and then have NLTK3 load those, leaving the old pickles for old versions of NLTK? I think it makes sense to try to move forward to an all unicode implementation if possible just for consistency's sake alone. I think it makes more sense than using model-specific decoding, as then we'd have a clear standard moving forward.

[2013-07-08 01:29] stevenbird commented on #169
Right, I would prefer to have all models using utf8 (whether we retrain, or convert existing models). Model-specific decoding would be less desirable. Yes, we should leave existing models around.

[2013-07-08 09:25] ppathak2107 opened #427 "Resolved:error while importing NLTK 3.0 alpha to python 3.3(no module named 'yaml')"
Resolved by downloading PyYAML from http://www.lfd.uci.edu/~gohlke/pythonlibs/#pyyaml

Got the following error while importing NLTK 3.0 alpha to python 3.3. 'yaml' module could not be located.

[2013-07-09 16:29] kmike opened #428 "hmm_treebank_pos_tagger model is broken"
See https://github.com/nltk/nltk/commit/a3e492b35ec309b2ba171920da53b823171f21e3#commitcomment-3580472

In NLTK master loading this model raises the following exception:

[code]

It looks like this model was broken long time ago. It didn't load before https://github.com/nltk/nltk/commit/a3e492b35ec309b2ba171920da53b823171f21e3 with an another exception:

[code]

I tracked this down - error is caus

[2013-07-09 20:47] stevenbird commented on #428
@kmike thanks for the analysis, including the history. It looks like we can safely remove the hmm_treebank_pos_tagger model.

[2013-07-11 00:53] dougalg opened #431 "doctest_driver.py failing on OSX, python 2.7"
I tried running the doctest_driver.py and got the following results:

[code]

Thanks, Dougal

[2013-07-11 05:55] kmike commented on #431
I was always wanting to remove doctest_driver, and even removed it once :) In my opinion doctest_driver.py is a cool piece of software, but it is not related directly to NLTK, and it requires maintaining.

If the question is how to run doctests, check https://github.com/nltk/nltk/blob/master/web/dev/local_testing.rst for information about better supported ways for running tests. E.g. for wordnet i

[2013-07-11 07:11] dougalg commented on #431
Thank you!

[2013-07-11 07:13] kmike commented on #431
I think this ticket should remain open, because the reported issue (doctest_drivers fails in Python 2.7) is valid.

[2013-07-11 07:15] dougalg commented on #431
OK, sorry about that.

[2013-07-11 07:16] kmike commented on #431
No problems, thanks for taking time to report this issue!

[2013-07-12 00:15] stevenbird commented on #431
Resolved in https://github.com/nltk/nltk/commit/bb0120cc1d0a9beb579f6465d7f1bfce8533c223

[2013-07-12 00:15] #431 closed, assigned to nobody

[2013-07-12 00:58] stevenbird opened #435 "Update setup.py"
It should use current setuptools/distribute, cf https://github.com/nltk/nltk/pull/425

[2013-07-15 00:09] #435 closed, assigned to stevenxxiu

[2013-07-15 00:14] stevenbird commented on #169
@jskda would you go ahead and convert the existing Punkt models to utf8 please, then repickle them in Python 3 using protocol 2, then test.

[2013-07-15 01:28] nschneid opened #439 "Make realign_boundaries=True the default for PunktSentenceTokenizer?"
By default, the sentence tokenizer always ends a sentence immediately after an end-of-sentence period, stranding any closing quote/parenthesis/bracket that follows as its own segment. I cannot think of any circumstance in which this would be the desired behavior. This can be corrected for with the `realign_boundaries` argument to `tokenize()`:

[code]

However, `realign_boundaries` is not very dis

[2013-07-16 07:19] chaithuzz2 opened #442 "nltk.download() giving error 110 : Connection timed out"
I installed nltk and i typed the following commands
 <code> import nltk <code/>
<code> nltk.download() <code/>

then it takes a lot of time and it says error 110 : connection timed out. the terminal log is below.

showing info http://nltk.github.com/nltk_data/
True

my internet connection is solid . and i dont have any problems with my python version.  what might be the problem ? please help me.

[2013-07-17 09:49] kmike opened #443 "Restore support for open(fp) when fp is FileSystemPathPointer"
Tests from corpus.doctest and childes.doctest are failing after this change: https://github.com/jskda/nltk/commit/fae1b819cfe46eaa3f81dc0584b8d21f02ad9a36 (which is a part of #441) with TypeErrors, like

[code]

I agree that we may want to encourage using fp.open instead of open(fp), but this was a documented interface (at least via doctests and docstrings), and it is better not to break it if we

[2013-07-17 10:01] kmike opened #444 "Remove Python pickling bug workaround from compat.py"
See https://github.com/nltk/nltk/pull/441#discussion_r5211682 for more info.

I think the real bug is in pickling, not in unpickling, so it is much better to fix the way models are pickled (by either using fix_imports=False or temporarily patching REVERSE_IMPORT_MAPPING)

[2013-07-17 10:21] kmike opened #445 "test_lowest_common_hypernyms fails"
test_lowest_common_hypernyms introduced in https://github.com/nltk/nltk/commit/609fe05dfcf32c0b11a7de82124f02cf86f0434b fails for me (both under Python 2.7 and 3.3):

[code]

I also think that this test could work better written as doctest (preferable) or as many small unit tests. In both cases we'll be able to see individual "small" failings - now the test stops working on first error. There is n

[2013-07-17 10:28] kmike opened #446 "data.doctest fails"
data.doctest started failing after merging #441 with the following exceptions:

[code]

File `/Users/kmike/nltk_data/grammars/sample_grammars/toy.cfg` exists.

[2013-07-17 11:53] stevenxxiu commented on #444
I'm going to temporarily patch REVERSE_IMPORT_MAPPING and remove the code from compat. Thanks for pointing this out.

[2013-07-17 11:57] kmike commented on #444
Good, thanks!

[2013-07-17 13:32] dougalg commented on #445
I'd be happy to do this over the next couple of days if you'd like. Sorry for introducing the error, I was sure I'd run the test a final time before submitting, but I must have done something wrong.

[2013-07-18 05:25] stevenxxiu commented on #444
I've fixed this on my branch

[2013-07-18 14:53] stevenxxiu commented on #446
I've fixed this on my branch.

[2013-07-18 21:35] alexrudnick commented on #426
Hey @superbwu!

This should be fixed at the tip of the trunk (I just tried it!). Which release were you using? Try checking out from git, or using the new NLTK 3.0a2 release! http://nltk.org/nltk3-alpha/

Going to close this for now, but feel free to reopen if this doesn't fix the problem.

[2013-07-18 21:35] #426 closed, assigned to nobody

[2013-07-22 11:25] stevenxxiu commented on #444
It should be merged now.

[2013-07-22 11:25] stevenxxiu commented on #446
They should be merged now

[2013-07-22 11:51] stevenbird commented on #446
It looks like the problem is fixed.

[2013-07-22 11:51] #446 closed, assigned to nobody

[2013-07-22 11:52] #444 closed, assigned to nobody

[2013-07-22 12:59] stevenxxiu commented on #169
This line works with the re-pickled files on my branch, using latin-1 to decode (https://github.com/jskda/nltk_data/tree/gh-pages-repickle), give them a try:
self.tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')

[2013-07-22 17:32] ghost opened #448 "nltk.clean_html() hangs"
The html document that I'm trying to clean is https://gist.github.com/rogerthealien/6055726 and nltk.clean_html() enters an infinite loop. I've tried to look at the trace but can't seem to figure out what's causing the problem.

This is where it hangs:

 File "_tmp.py", line 7, in <module>
    soup = BeautifulSoup(nltk.clean_html(input_file.read()))
  File "/usr/local/lib/python2.7/dist-packages/n

[2013-07-22 18:47] ghost commented on #448
I modified util.py to use lxml instead of regex to remove style and script tags, which solved the issue for me.

from lxml.html.clean import Cleaner

def clean_script_style(text):
    cleaner = Cleaner(style = True, scripts = True)
    return cleaner.clean_html(text)

# First we remove inline JavaScript/CSS:
   #cleaned = re.sub(r"(?is)<(script|style)._?>._?(</\1>)", "", html.strip())
    cleaned

[2013-07-22 18:48] ghost commented on #448
Apparently, it was entering an infinite loop when trying to resolve the style tags, the regex worked for script tags.

[2013-07-24 07:29] stevenxxiu commented on #448
Thanks, I've fixed this on my branch (https://github.com/jskda/nltk) this way:

[code]

[2013-07-24 19:17] kmike commented on #448
Hmm. I think that's a serious bug (it can be seen as a security bug), but is it possible to fix it without creating lxml dependency?

Lxml parser is fast and robust, but NLTK currently doesn't depend on lxml. Also, parsing html with lxml is completely different, e.g. it could raise an exception if unicode string is passed and there is an encoding declaration in html code, so 'type html: str' is a

[2013-07-25 00:40] stevenxxiu commented on #448
Thanks for pointing that out, I wasn't aware of this issue, we could just encode the string first in that case.

Some sort of dependency is probably needed if html documents are to be parsed accurately. I don't think parsing them with regex is a good idea. Beautiful soup is another possible library.

I was only thinking of python 3 here, I've fixed the python 2 case in my branch.

[2013-07-25 08:28] GraphGrailAi opened #449 "Incorrect display non-ascii characters in console using .words function"
Python 2.7.5 on Windows 7  with Winpython pack, NLTK 3.0a1
I am working with russian language

When i try this:

from nltk.stem import SnowballStemmer           #подключение словаря и импорт SnowballStemmer
russian_stemmer = SnowballStemmer('russian')    #выбор русского языка для извлечения корня
print (russian_stemmer.stem(u'приветственный')) #вывод на экран корня слова

i see correct results in

[2013-07-25 08:39] kmike commented on #448
We should encode it to correct encoding for this to work properly. This encoding is defined by 'meta' html tag. So in order to encode it to correct encoding we must first parse html (presumably using a simpler approach), extract the encoding name, map it to Python encoding name (they are not exactly the same) and encode unicode to this encoding.

But user probably already had binary HTML at some p

[2013-07-25 08:47] kmike commented on #449
Is your problem this string: `u'\u041f\u043e\u0447\u0435\u043c\u0443'`? Check this:

[code]

Note that your examples are not the same. In first example you're printing unicode string. In second example you're printing a list with unicode strings. Python 2.x escapes the strings in latter case, this is expected behavior. You can print words one-by-one using a loop:

[code]

or join them to a single

[2013-07-25 08:50] kmike commented on #449
.. but these pre-trained models don't work with Russian anyways, so if you only need to work with Russian text you can download NLTK 3.0a2 (or NLTK master) and just use it with Python 3.3 :)

[2013-07-25 09:10] GraphGrailAi commented on #449
Thanks, both of your examples prints correct russian. But i afraid this Python 2 issue will cause obstacle later. I am trying to make document classification, such as here http://streamhacker.com/2010/05/10/text-classification-sentiment-analysis-naive-bayes-classifier/  and have to use built-in functions.

My guess if i will try print 'accuracy:', nltk.classify.util.accuracy(classifier, testfeats)

[2013-07-25 09:22] kmike commented on #449
It is not 'bad encoded russian', it is 'escaped russian'. You can usually copy-paste it and print if you really need to.

Unfortunately there is no way to always have readable container representation in console in Python 2.x.

We can fix `NaiveBayesClassifier.show_most_informative_features()` which you have troubles with though: it uses %r format specifier while it could be using %s instead. So I

[2013-07-25 09:35] GraphGrailAi commented on #449
Really, with Python 3.3.2 words list looks good. Will continue use it, SnowballStemmer works too. Thanks a lot!

[2013-07-25 10:12] stevenxxiu commented on #448
What I meant was to just call `.encode()` to encode the string to bytes.

Yes it is probably more flexible to add an 'encoding' argument from the encoding the user has detected. Another way to detect encodings is by using bs4 (beautiful soup 4)'s UnicodeDammit class. I've added a bs4-only implementation on my branch.

[2013-07-25 20:07] kmike opened #450 "Use scikit-learn for nltk.classify.svm or deprecate/remove nltk.classify.svm"
I think that nltk.classify.svm does more harm than good currently, mainly because it is based on https://bitbucket.org/wcauchois/pysvmlight. It has the following issues:
- license restrictions (only for non-commercial use) - documentation ("For license information, see LICENSE.TXT") is incorrect regarding this, by the way;
- pysvmlight doesn't install in Python 3.x; another installation issue is r

[2013-07-25 20:16] leondz commented on #450
I think this is a good idea. Better integration with scikit-learn has given us many options for SVM classification, compared to the zero we had when I added this module. Pysvmlight appears to be unmaintained, and so the situation is unlikely to improve - on top of the license restrictions. We now have multiple choices for using SVM in NLTK, and this one is sub-optimal.

[2013-07-25 20:24] stevenbird commented on #450
+1 yes I think it is a good idea to drop nltk.classify.svm

[2013-07-26 01:46] josepvalls commented on #177
Any updates on this? Any guidelines on how could I proceed to the implementation?
How could this be incorporated into NLTK: https://github.com/robert-jm/twit-ranker/blob/master/sentiwordnet.py

[2013-07-26 04:43] stevenbird commented on #448
clean_html also has the problem that its not a very good solution for stripping HTML. I think it would be more Pythonic to teach users to use Beautiful Soup directly, e.g. with: soup.get_text(). How about we simply deprecate clean_html()?

[2013-07-26 06:02] stevenxxiu commented on #448
@stevenbird I support your proposal, as neither clean_html nor clean_url is used in any of the project files.

[2013-07-27 21:17] Narts commented on #450
+1  scikit-learn has given us many options for SVM classification

[2013-07-29 07:58] chaithuzz2 opened #453 "XMLCorpusReader not creating a corpus"
I am learning Natural Language Processing with python's nltk. I want to create a corpus from an XML file i have in my directory. So I used the following code.

[code]

This code block is supposed to output the fileid as 'output.xml'. But it doesn't return anything and the cursor goes to the next line ">>". I have my output.xml in the exact directory as specified in corpus_root. I have all the perm

[2013-08-05 16:01] tibidoh commented on #310
We can close it as discussed at PR #410

[2013-08-12 14:38] dougalg opened #458 "wordnet lowest_common_hypernyms() returning different results in Python 2.7 vs 3.3 (doctest failing in py 3.3 on OS X)"
As in [pull request 451](https://github.com/nltk/nltk/pull/451), sometimes wordnet lch returns differently ordered lists in python 2.7 vs 3.3 on OS X.

[code]

Possible fix is to return a set rather than a list, but that seems to be a major change for a small problem. Any suggestions? I'll try finding the source of the difference, anyway.

[2013-08-12 17:36] kmike commented on #458
It is most likely caused by iteration over dict or set somewhere. I think this can be solved either by sorting the results or by using OrderedDict instead of dict where it happens.

[2013-08-15 05:05] syntactic opened #459 "parse.generate.generate() Can't generate strings for non-binarized grammars"
The generate() function, which generates strings top down from the start symbol of a CFG, gives errors when attempting to generate the strings from a grammar with ternary rules, such as S -> NP VP PP. The _multiply function in generate.py attempts to concatenate sets of constituents, but it will, when using a grammar with non-binarized rules, attempt to concatenate strings to lists, resulting in a

[2013-08-18 09:21] larsmans commented on #450
If by feature mapping, you mean taking features with string values and converting them to one-of-K boolean features, that can be added in two ways:
- by adding it to the scikit-learn wrapper directly, or
- by using a scikit-learn `DictVectorizer` in the wrapper.

The latter option means that the scikit-learn wrapper gets an extra dependency: it's currently built in such a way that any object that

[2013-08-18 13:14] #459 closed, assigned to nobody

[2013-08-18 22:56] stevenbird commented on #450
@larsmans I think ease of maintenance trumps ease of installation, which means I favour the second option. Is there an issue with translating results back to NLTK's representation, or can scikit-learn's feature representation be entirely hidden.

Given the pedagogical goals of NLTK, would there be a case to expose scikit-learn's feature representations, and document them on the NLTK side? If so, t

[2013-08-19 08:09] larsmans commented on #450
@stevenbird The `scipy.sparse` matrices used by scikit-learn are one of the most confusing parts of the toolkit, to users and developers alike. I'm not sure if NLTK users should be bothered with them, although we could offer a public conversion method. I'll see what I can do.

[2013-08-20 23:57] fcbond commented on #458
I think that conceptually, it should be a set: there is no specified order.  Therefore making it a set is a better solution than arbitrarily ordering them: the same solution as in 451.

[2013-08-21 09:37] pquentin commented on #141
@alexrudnick Did you forget to close this issue? If not, is there anything else to do?

[2013-08-21 12:36] pquentin commented on #458
Lines 511 and 514 indeed [iterate over a set](https://github.com/nltk/nltk/blob/3f1ece3fee6bc425c42dd858f36ca781bd496621/nltk/corpus/reader/wordnet.py#L514).

As said by @fcbond, @stevenbird suggested that the function should return a set in #451, but @kmike suggests sorting. In both cases, it's a simple fix: what should be done?

Since the behavior has changed (see `use_min_depth`), it could be a

[2013-08-21 12:41] kmike commented on #458
I'm fine with lowest_common_hypernyms returning set. I think it is better to be consistent: if we return sets then also return sets in Synset.common_hypernyms and maybe other methods.

[2013-08-21 16:11] alexrudnick commented on #141
@pquentin I think we're good! Thanks for the bump!

[2013-08-21 16:11] #141 closed, assigned to nobody

[2013-08-21 18:03] kmike commented on #310
Indeed.

[2013-08-21 18:03] #310 closed, assigned to nobody

[2013-08-21 23:54] jnothman commented on #439
I added this feature to the original port of K&S and left it off for backwards compatibility. I agree that it is useful as a default setting, but it hasn't been evaluated or rigorously tested (to my knowledge).

[2013-08-22 03:35] stevenbird commented on #439
I agree that this is a better default setting. So I think we just need to create some tests. The code which does the job is not at all transparent.

[2013-08-22 03:44] jnothman commented on #439
You're welcome :)

[2013-08-22 03:50] stevenbird commented on #448
clean_html and clean_url are dropped in commit 39a303e5ddc4cdb1a0b00a3be426239b1c24c8bb

[2013-08-22 03:50] #448 closed, assigned to nobody

[2013-08-22 03:54] stevenbird commented on #439
Lol. Sorry :)

[2013-08-22 08:29] stevenbird commented on #450
@larsmans in that case I'm happy if the mapping can be done inside the interface, and for this to involve a new dependency. Can we document the scikit-learn dependency in a docstring, and produce a helpful error message if it's not installed?

[2013-08-22 08:46] stevenbird commented on #458
Yes, all of the synset and lemma methods would need to return sets. In most cases, the sequence comes straight from the wordnet file, so the above-mentioned problem would never arise, and we are doing extra processing for no reason (other than theoretical correctness). A downside is that user code would become non-deterministic. I prefer a more conservative fix, namely sorting the result of lowest

[2013-08-22 08:48] stevenbird commented on #443
+1 to @kmike's proposal.

[2013-08-22 09:46] fcbond commented on #458
On Thu, Aug 22, 2013 at 4:46 PM, Steven Bird notifications@github.com wrote:

Do you really mean all?   Synsets and lemmas are ordered in wordnet by
frequency and various heuristics.  So wn.synsets('dog') is definitely
a list.

For obvious reasons, hypernym_paths is definitely a list.

In cases where the ordering is meaningful, of course we should not change it.

Code that iterates through lowest_

[2013-08-22 10:36] stevenxxiu commented on #443
I'm using compat.text_type instead of str in the pull request, as in python 2 they are not the same, and paths can contain unicode.

[2013-08-22 11:11] kmike commented on #443
This breaks `__str__` because `__str__` must return byte strings in Python 2.x, and unicode constructor should accept unicode. I think that just deleting `__str__` method would work.

[2013-08-22 11:16] kmike commented on #443
I haven't checked it, but `FileSystemPathPointer(u'C:\\test.txt').__str__()` will return unicode, won't it?

[2013-08-22 11:16] stevenxxiu commented on #443
You are right, I mistakenly used `str()` not `__str__()` to test.

[2013-08-22 11:29] stevenxxiu commented on #443
Deleting `__str__` would work, but would leaving it in, and calling `str()`, make it more clear as to what is going on? Classes such as `ZipFilePathPointer` have a `__str__` method. On that note wouldn't it also be clearer if that method calls `str()` as well?

[2013-08-22 11:41] kmike commented on #443
I'm not sure what is clearer, overriding `__str__` method to do exactly the same as parent method, or not having `__str__` methods defined both for ZipFilePathPointer and for FilePathPointer. Previously I've chosen to not override `__str__` and make a comment about that in the source code. But I don't have a strong opinion here, either way would work.

[2013-09-01 09:27] kmike commented on #450
I'm lost :) Is the plan to deprecate nltk.classify.svm or to reimplement it using nltk.classify.scikitlearn? If the plan is to reimplement it using nltk.classify.scikitlearn then should it remain compatible with the old interface, or maybe simply exposing something like `SklearnClassifier(LinearSVC())` is enough?

[2013-09-01 09:34] stevenbird commented on #450
I think we already have a reimplementation of the existing interface, just with a new dependency. So this issue is resolved, right?

[2013-09-01 10:43] kmike commented on #450
No, we haven't touched nltk.classify.svm yet. @larsmans simplified and improved implementation of nltk.classify.scikitlearn in #462.

Interface of nltk.classify.svm.SvmClassifier is not compatible with SklearnClassifier because of different constructor parameters and some extra public methods; constructor parameters are different because of how features are mapped.

I personally think we should ju

[2013-09-01 11:31] stevenbird commented on #450
+1 to deprecating nltk.classify.svm

[2013-09-01 12:47] larsmans commented on #450
A `resolve_prediction` method can be implemented for `SklearnClassifier`, although it won't be tremendously useful. A typical scikit-learn implementation of `predict` performs this task internally, and the lower-level `decision_function` that corresponds to `_get_svm_classification` is currently not exported through the wrapper.

[2013-09-04 02:29] stevenbird opened #475 "Consistency with properties"
We should audit the NLTK API to make sure we are being consistent with the use of properties. E.g. why do we have Tree.node and Tree.leaves()?

[2013-09-04 19:35] adonoho opened #477 "Using POS & Python3"
Per your request:

I have pulled the master which included the patch for issue #470.

On my Mac running Python 3.3.2, I issued the command:

[code]

Per your recommendation, I then issued the command:

[code]

and produced the following trace:

[code]

I also issued the following command:

[code]

with a similar result to the prior command.

As always, I'm happy to try another incantation.

Anon,

[2013-09-04 20:06] adonoho commented on #477
Using the latest pull, which defines `py3_data`, fixes the problem.

Anon,
Andrew

[2013-09-04 20:06] #477 closed, assigned to nobody

[2013-09-04 20:07] heatherleaf commented on #475
Because .node is a stored value and .leaves() are calculated.

[2013-09-04 20:26] stevenbird commented on #475
Right, though this distinction is not transparent to students whose only exposure to programming is a course on Python for NLP.

[2013-09-04 22:53] heatherleaf commented on #475
Another distinction that is perhaps easier is that properties are mutable but methods are not.

But then we get into trouble with ProbabilisticTree.prob(), which is mutable and has a setter method .setprob(x). The reason for this is probably to be consistent with ProbDists which have methods .prob(x), but that is definitely not transparent.

The most consistent would be to get rid of all propertie

[2013-09-06 10:54] kmike opened #478 "Framenet tests are duplicated"
Framenet tests were not removed from corpus.doctest in https://github.com/nltk/nltk/commit/f3192dd96378f675a622481c7b1e5041adf00c4d , so there are 2 copies of these tests. I think we should remove them from corpus.doctest.

[2013-09-06 10:56] kmike opened #479 "Framenet doctests fails"
To run them, execute `nltk/test/runtests.py nltk/test/framenet.doctest` from nltk checkout:

[code]

[2013-09-06 16:00] nschneid commented on #479
This is because the two patches to framenet.py were submitted in parallel, so the second one [overrode](https://github.com/nltk/nltk/commit/55cafbff53d167c4e6e1aaddba78da4a61e6c8c4#commitcomment-4015618) the first one.

I'm working on other changes now, so I should probably just manually incorporate, and then update, the doctests from @wooters in #474.

[2013-09-06 17:29] srujan22 opened #481 "Enabling telugu language into NLTK"
Producing Unicode for the telugu text is created in to textual file.How to produce telugu words into NLTK2.0.1rc1

[2013-09-07 04:58] stevenbird commented on #479
@nschneid thanks for noticing this -- yes, please do that, thanks.

[2013-09-07 05:20] stevenbird commented on #477
Thanks @adonoho -- sorry for the broken code.

[2013-09-07 05:20] nschneid commented on #478
@wooters, is there any reason to have tests duplicated in corpus.doctest?

[2013-09-07 08:01] stevenbird commented on #478
@kmike It looks like my modifications to corpus.doctest (replacing the framenet and propbank sections with cross references) were not committed. I'll fix this.

[2013-09-07 16:12] nschneid opened #483 "module or protocol for POS tagset specification and conversion"
Given the importance of part-of-speech tags in corpora and NLP applications, it seems that NLTK would benefit from a standard way to **encode, document, and convert among different tagsets**. For example, a module might be added for each tagset that lists all the tags, with a description and examples of each, and provides groupings/morphosyntactic features or mappings to more general POS categorie

[2013-09-07 16:26] nschneid commented on #483
another resource along these lines: http://ufal.mff.cuni.cz/wiki/user:zeman:interset

[2013-09-07 17:31] kmike commented on #483
I don't have experience with English tagsets, but I have some experience with Russian tagsets (https://github.com/kmike/russian-tagsets). Readme is in Russian, sorry :) There are conversion functions for 5 tagsets implemented in that library. The idea is the following:
- each tagset module defines conversion routines to/from other tagsets - they are just functions that take a single tag from one t

[2013-09-07 18:35] brendano commented on #483
Interesting set of issues.  As for the function interface for source=>target tag conversion, you could imagine three levels of more and more input information.
1. The source tag
2. The source tag, and the word form (specifically, just the raw surface string, I think)
3. The input sentence (as a sequence of tokens and tags), and the index of which token is to be converted

In all cases, the output

[2013-09-08 10:54] stevenbird commented on #483
+1 to @nschneid's suggestions. This functionality would be extremely useful to have! It would be good to decide on the interface before 3.0 is finalised.

Note that the tagged corpus readers support tag mapping already, and we could think about generalising this interface (replacing the simplify_tags flag with a tagset specification). Also, we provide access to tagset documentation in help.py.

ht

[2013-09-09 08:04] #478 closed, assigned to stevenbird

[2013-09-12 21:51] nschneid opened #486 "Encoding issues in FrameNet corpus reader"
[code]

@wooters, any idea how to fix this? Is the XML decoded to Unicode, or read as raw strings?

[2013-09-12 22:17] wooters commented on #486
This was a problem with the _pretty_longstring() method. I have fixed it and will submit a pull request.

[2013-09-12 22:25] wooters commented on #486
Oops. Looks like this is a bigger issue - the xml file specifies "UTF-8" encoding, but it doesn't appear to be decoding the "definition" correctly...

[2013-09-15 15:53] nschneid commented on #486
@wooters, can you confirm that with the changes in #485, Python 3 displays the accented í both with and without `print()`?:

[code]

[2013-09-18 23:14] paulproteus commented on #139
Hey all, especially @alexrudnick  , should this be marked as resolved now?

[2013-09-18 23:15] paulproteus commented on #139
Upon a skim, looks like no, it's not yet resolved. But would like to hear from a maintainer.

[2013-09-18 23:19] paulproteus commented on #343
It would be nice if someone can test if this succeeds in Python 2.x by manually running the sample code.

[2013-09-18 23:19] paulproteus commented on #475
@stevenbird , curious if you agree with @heatherleaf 's proposal.

[2013-09-18 23:24] paulproteus commented on #169
Looks like per https://github.com/nltk/nltk_data/tree/gh-pages/packages/tokenizers this may already be fixed? If so, would love to see this issue get closed.

[2013-09-18 23:26] paulproteus commented on #160
It seems to me that someone ought to:
- Make sure they are running Python 3
- Install NLTK by downloading the latest git master
- Try to run various NLTK GUIs, and report on specific problems

If so, that seems to me to be a good newcomers bug in NLTK, which is great, because I'm trying to find such bugs for an upcoming 'how to get involved in open source' event.

Per http://docs.python.org/3.3/li

[2013-09-18 23:29] paulproteus commented on #167
It would be nice if someone can attempt to reproduce this bug.

If it is still an issue, it seems like a reasonably good first bug for someone new to NLTK to solve.

[2013-09-18 23:44] paulproteus commented on #50
To illuminate the task here for a newcomer:
- Note that at https://github.com/nltk/nltk/blob/master/nltk/corpus/reader/verbnet.py , nothing says what Verbnet _is_.
- Note also that therefore, at http://nltk.org/api/nltk.corpus.reader.html?highlight=verbnet#nltk.corpus.reader.VerbnetCorpusReader , in the generated HTML, nothing says what Verbnet is.

Your task is to notice the kind of description t

[2013-09-18 23:46] paulproteus commented on #26
Hey @alexrudnick , can you clarify: would this mean adding more docs to e.g. "nltk.help.brown_tagset"?

[2013-09-19 04:28] stevenbird commented on #475
There's too many options here, and the goal is to keep NLTK pythonic, simple, and consistent. (Simplicity trumps consistency: http://www.jwz.org/doc/worse-is-better.html). Where setting a property requires some logic then I think it makes sense to use get- and set-methods (http://tomayko.com/writings/getters-setters-fuxors).

I don't understand the suggestion to get rid of all properties and start

[2013-09-19 04:56] stevenbird commented on #458
So, we will go with sorting the result of lowest_common_hypernyms().

[2013-09-19 04:56] #458 closed, assigned to nobody

[2013-09-19 11:05] #486 closed, assigned to nobody

[2013-09-19 21:47] #450 closed, assigned to nobody

[2013-09-19 21:50] stevenbird commented on #443
I prefer @kmike's solution of not overriding the parent method and just adding a comment if that helps readers of the code to see what is going on. Which **str** implementations need to be removed?

[2013-09-19 22:39] stevenbird commented on #439
I've reversed the default behavior and added some tests in https://github.com/nltk/nltk/commit/a56dc431d5758a96d03867c46d9d21650ee8ef5a

[2013-09-19 22:39] #439 closed, assigned to stevenbird

[2013-09-20 01:21] stevenbird commented on #169
Yes, this is resolved. See https://github.com/nltk/nltk/pull/470

[2013-09-20 01:21] #169 closed, assigned to stevenxxiu

[2013-09-20 03:12] #445 closed, assigned to nobody

[2013-09-20 03:15] stevenbird commented on #445
@kmike is this resolved?

[2013-09-20 03:20] stevenbird commented on #483
How about I change the simplify_tags flag to a tagset parameter:

becomes:

and it wouldn't be hard to go the further step to the Das/Petrov/McDonald universal tagset

[2013-09-20 03:24] nschneid commented on #483
Sounds good. I assume the default is then `tagset='brown'`?

[2013-09-20 09:00] heatherleaf commented on #483
+1 for adding a `tagset` parameter

[2013-09-20 09:58] kmike commented on #445
Yes, this is fixed by #465.

[2013-09-20 10:04] kmike opened #489 "py3_data decorator fails in Python 3.3 for zip file pointers"
Many tests starts to fail in Python 3.3, e.g.

[code]

[2013-09-20 10:06] kmike commented on #479
Tests now pass in Python 2.x, but fail in 3.3 with the following exceptions:

[code]

[2013-09-20 10:16] kmike opened #490 "Speedup test environment creation"
Test environment setup is very slow because we're compiling numpy & scipy & and scikit-learn from source. Pandas solved similar issue by using pip wheels: https://github.com/pydata/pandas/tree/master/ci

[2013-09-20 14:15] nschneid commented on #479
Also fails in 2.7: `import unicode_literals` means most string outputs now have a `u` prefix

[2013-09-20 14:23] kmike commented on #479
They don't fail under 2.7 if executed using NLTK's runtests.py script because it handles this Python 2/3 case - u'string' and 'string' are considered the same by NLTK test runner when encountered in doctest output.

[code]

[2013-09-20 14:25] nschneid commented on #479
Oh good. I was doing `python -m doctest nltk/corpus/reader/framenet.py`.

[2013-09-20 14:28] kmike commented on #479
There are some testing docs here: https://github.com/nltk/nltk/blob/master/web/dev/local_testing.rst - they are not perfect, and also they are not very visible, but they explain some gotchas of NLTK test runner.

[2013-09-20 14:52] nschneid commented on #479
Thanks @kmike! The pull request hopefully addresses the 3.3 doctest failures.

[2013-09-20 14:57] kmike commented on #475
Yes, that there are too many options here. Also, any solution that converts methods to properties will break a lot of code, so it is better to handle it before NLTK3.

This is what we can do for Tree class:
- make height(), leaves(), productions() and pos() properties. We can't make subtrees() property as-is because it has a parameter. Other methods also have parameters, or they make no sense as p

[2013-09-21 17:30] kmike commented on #479
There is one remaining issues in Python 3.3:

[code]

And sorry for confusion - I suggested you to run `framenet.doctest` previously, while you were interested in `nltk.corpus.reader.framenet` doctests.

[2013-09-22 10:32] #479 closed, assigned to nobody

[2013-09-22 20:56] robwahl commented on #481
I'm also showing an encoding error in floesta.txt. Lossy encoding floesta.txt file was loaded with wrong encoding being that it is not UTF-8. I have resaved this as UTF-8 and uploaded it in my patch.

[2013-09-22 21:36] robwahl commented on #489
I've added the following code to docrunner.py in a patch to test zipfile.is_zipfile(filename) and then
def unzip(path):
    """

[code]

Hopefully this helps

[2013-09-25 12:11] PanderMusubi opened #494 "Improve sentence tokenizer"
I have the following example with nltk 2.0.4:

[code]

This is the output:

[code]

As you can see !" and ?" are not processed well. Can this be improved or fixed or what would be a workaround that will split these sentences according to the following pseudocode regex examples:

split
    ...[?!]" [A-Z]...
into
    ...[?!]"
    [A-Z]...
and not into
    ..[!?]
    " [A-Z]...
as it is doing now

an

[2013-09-25 12:34] kmike commented on #494
See also: https://github.com/nltk/nltk/issues/439

Could you try it with latest NLTK master? For me it looks better now:

[code]

Please also note that you may be working with unicode incorrectly: 'text' contains non-ascii symbols (unicode quotes), but it is a byte string in your example (unless `from __future__ import unicode_literals` import is in effect).

[2013-09-25 12:39] kmike commented on #494
Ah, that was nltk 2.0.4 - I guess you are passing bytestrings to sent_tokenize properly in that case. It is better to encode them explicitly for 2.0.4 though. For NLTK3 all text should be unicode.

[2013-09-25 20:11] kmike commented on #84
There is still no reader for that corpus. As versioning is now implemented, it may be better to use it for UDHR before NLTK3 release to check how it works in practice.

[2013-09-25 20:30] kmike commented on #481
@srujan22 could you please elaborate? I don't understand your question.

[2013-09-26 06:51] stevenbird commented on #489
I'm also seeing this failure with Python 3.2.
@robwahl sorry I'm not sure what you're suggesting here.

[2013-09-26 06:58] stevenbird commented on #489
Resolved in https://github.com/nltk/nltk/commit/25c72c0e34db96194951c2430d95fa977c86b328

[2013-09-26 06:58] #489 closed, assigned to stevenbird

[2013-09-27 23:37] stevenbird commented on #481
Closing. This concerns a version of NLTK that is more than two years old.

[2013-09-27 23:37] #481 closed, assigned to nobody

[2013-09-27 23:38] #494 closed, assigned to nobody

[2013-09-28 00:43] stevenbird commented on #84
I've added a corpus reader for udhr2 in https://github.com/nltk/nltk/commit/e09cd2f4a62540ced4b26f20a26114681851d463

Note that we do not yet have support for corpus versioning correlated to versions of NLTK. We have support for versions correlated to Python 2 vs 3. And we trivially have support for adding new corpora whose names are based on existing corpora. We have worked out how to do the vers

[2013-09-28 00:43] #84 closed, assigned to nobody

[2013-09-28 09:58] stevenbird commented on #483
The previous default was simplify_tags=False. Now it needs to be whatever is native to a given corpus. In the case of the Brown Corpus, it is easy, and we would have tagset='brown'. In the case of the tagged_words() method (in corpus/reader/tagged.py), we don't know which corpus is being used at the point the default is being set. So we probably should not specify a default in such methods. We nee

[2013-09-30 02:42] stevenbird commented on #443
Are there any str methods that need to be removed? Should this issue block nltk3?

[2013-09-30 11:35] kmike commented on #443
`FileSystemPathPointer.__str__` is to be removed (with a comment restored from one of the previous commits). This is only a minor style fix; it shouldn't block NLTK3.

[2013-10-01 05:22] PanderMusubi opened #498 "False reporting missing dependency scikit-learn"
With version 3.0a2 2013-07-12 the following is reported:

[code]

  warn("scikit-learn is not installed."

even though scikit-learn is installed via apt-get on Ubuntu 13.04 or via pip. Please fox this.

When scikit-learn is not installed, it is also reported but this is very annoying. Either make it a hard dependency or do not report on it because reporting it each time one uses nltk is very annoy

[2013-10-01 05:51] PanderMusubi commented on #494
Thanks for the replies so far. The Unicode quotes are indeed intended.

[code]

Would you recommend using 'bla' with from **future** import unicode_literals over u'bla'? I get a bit tired of all the u'...' instead of '...' and the .decode('utf-8') I need to add when I an writing to a file. What do you advise with your previous comment (how would that look in Python code)?

The sentence separation

[2013-10-03 23:29] stevenbird commented on #483
I would like to replace NLTK's existing support for a simplified tagset with this universal tagset. I've added the universal tagset data from https://code.google.com/p/universal-pos-tags to NLTK's data collection (#79 http://nltk.org/nltk_data/). @nschneid I would like to adapt your code (https://code.google.com/p/universal-pos-tags/source/browse/trunk/universal_tags.py) -- any objections?

[2013-10-03 23:49] stevenbird commented on #498
@larsmans would you please take a look at this?

[2013-10-04 00:42] nschneid commented on #483
@stevenbird Sounds good to me!

[2013-10-04 05:46] stevenbird commented on #483
Please review this pull request. I think this issue is the last interface change before we release 3.0 beta.

[2013-10-04 09:50] larsmans commented on #498
@PanderMusubi Cannot reproduce. Does `import sklearn` work in a Python 2.7 shell?

[2013-10-04 11:07] stevenbird commented on #498
I get the error in Python 3.2:

$ cd nltk/nltk/test
$ python runtests.py align.doctest
/Users/sb/git/nltk/nltk/classify/scikitlearn.py:44: UserWarning: scikit-learn is not installed. Try 'pip install scikit-learn'.
  warn("scikit-learn is not installed."

scikit-learn isn't installed in this instance, but there must be some cascading imports that cause the classifiers to be imported.

NB it might

[2013-10-04 17:49] kmike commented on #498
I think that warning is issued in Ubuntu 13.04 if scikit-learn is installed via apt-get because Ubuntu 13.04 provides scikit-learn 0.11, and LabelEncoder was introduced in scikit-learn 0.12.

[2013-10-04 21:03] adonoho commented on #498
Confirming Steven Bird's report on OS X 10.8.5, Python 3.3.2 pulled from the latest master commit.

[code]

scikit was installed via, IIRC, pip.

Andrew

[2013-10-05 04:42] fcbond commented on #475
My students also find this a problem (and I confess I often also have trouble remembering.

I must admit I am drawn to heatherleaf's make everything look like a method solution.

Another thing that would really help is to show the description in the documentation.

For example:

dir(wordnet.synsets('dog')[0])
['**class**', '**delattr**', '**dict**', '**doc**', '**eq**', '**format**', '**getattribu

[2013-10-05 12:33] PanderMusubi commented on #498
see below, at the moment no scikit-learn installed

[code]

[2013-10-06 15:39] kmike opened #500 "ConditionalProbDist should pass condition to probdist_factory"
Hi,

What do you think about making ConditionalProbDist optionally pass "condition" to probdist_factory?

My use case is the following: ConditionalProbDist stores P(tag|word) and I want to use LaplaceProbDist or other smoothed probability distribution with it; these smoothed ProbDists have 'bins' parameter, and I want 'bins' parameter to depend on word itself.

The idea is to estimate 'bins' using

[2013-10-08 23:28] stevenbird opened #501 "Installation instructions for dependencies"
Identify all NLTK dependencies and add installation instructions to http://nltk.org/install.html

[2013-10-09 00:22] stevenbird commented on #475
I would like to propose the following for tree.node. It is close to @kmike's third option, but using node() and set_node() methods, following the practice in probability.py with discount()/set_discount(), prob()/set_prob(), and logprob()/set_logprob().

https://github.com/nltk/nltk/pull/502

[2013-10-09 00:24] stevenbird commented on #475
Can anyone point out the other cases of properties that should be converted to methods?

[2013-10-09 12:27] heatherleaf commented on #475
Here are all the defined properties I found by some simple grepping and searching:

[code]

Personally I think that many of these could equally well be methods. Especially those that are private anyway (e.g., `_cmd`, `_re_sent_end_chars`).

[2013-10-09 14:54] dan-blanchard commented on #475
Maybe it's too late to chime in here, but I personally find properties much more Pythonic and would prefer moving toward them instead of away from them. My vote is for @kmike's first option.

[2013-10-11 03:20] stevenbird commented on #475
@heatherleaf thanks for identifying the properties.
@dan-blanchard this doesn't address the concern, namely how users are meant to tell when something is a property (are you saying that any parameter-less method should be a property?)

Right now, a user has to understand the difference between a stored attribute and something that is computed. This depends on the particular implementation, and its

[2013-10-11 13:39] dan-blanchard commented on #475
I don't believe that knowing the difference between a stored attribute and something that's computed is a burden on the user. Regardless of whether they're implemented via the property built-in or just plain old member variables, there are always methods and properties for any class in any object-oriented language. This is something that a user---someone who is presumably a programmer, or learning

[2013-10-11 14:39] fcbond commented on #475
G'day,

On Fri, Oct 11, 2013 at 9:39 PM, Dan Blanchard notifications@github.comwrote:

I think the problem with many of the wordnet methods is that sometimes they
take arguments:
so wn.all_synsets() can take a pos: wn.all_synsets('n') and thus it cannot
be a property.  So making everything a property is (unless I am missing
something) not really feasible.

##

Francis Bond http://www3.ntu.edu.sg/h

[2013-10-15 04:06] stevenbird opened #504 "Chunk parser nomenclature"
Change the chunk parser API to use chunk_label and top_label (instead of _node).

[2013-10-15 05:04] stevenbird commented on #475
@dan-blanchard I completely agree about avoiding Java-style getters and setters. I think the point about knowing when to save a result in a local variable is a bit of a red herring when the language may do its own optimisations behind the scenes (or the method may be explicitly memoised). In the case of Tree, the setter is built into the initialiser and it will be unusual to call Tree.set_label()

[2013-10-15 05:06] stevenbird commented on #475
I've updated https://github.com/nltk/nltk/pull/502 to provide Tree.set_label() and Tree.label(), and to raise an error when Tree.node is used. It would be great if someone could test this please.

[2013-10-15 05:20] heatherleaf commented on #504
Why? Then the chunkparser cannot return a Tree, as it currently does.

[2013-10-15 06:07] stevenbird commented on #504
I'm only proposing to change the names of some named arguments that refer to the node label. There would be no effect on the return type.

[2013-10-15 11:33] kmike commented on #413
Hi Drew,

Such questions are better suited to https://groups.google.com/forum/?fromgroups#!forum/nltk-users mailing list; I think that's why you haven't got an answer here.

A side note: it is much easier to persuade somebody to debug/review your code if there is clear description of the specific problem - it is much harder to get a code review from a person on Internet if the issue is "my program

[2013-10-15 11:33] #413 closed, assigned to nobody

[2013-10-15 11:34] kmike commented on #408
@laike9m what is the state of this ticket? Did you get an answer from George?

[2013-10-15 11:35] kmike commented on #395
@dabril @dougalg is this issue resolved?

[2013-10-15 11:39] kmike commented on #283
I'm closing this ticket because the code in bug report is incorrect. Thanks @davidleibovic for the review!

[2013-10-15 11:39] #283 closed, assigned to nobody

[2013-10-15 11:39] kmike commented on #261
nltk.classify.svm is no longer in NLTK.

[2013-10-15 11:39] #261 closed, assigned to nobody

[2013-10-15 11:45] kmike commented on #183
I can't reproduce this issue either (WN is obtained using nltk.download).

[2013-10-15 11:45] #183 closed, assigned to nobody

[2013-10-15 11:50] kmike commented on #250
@caio1982 did you have a chance to check if it is a bug or not?

[2013-10-15 11:59] laike9m commented on #408
@kmike I was hoping that he could give me an answer, but nothing happened after George said he'll review it.I still think the original code is wrong, and I used the peraonal-modified version in my project.

[2013-10-15 23:57] stevenbird commented on #408
I agree that the existing code is suspect, and we should probably replace [:index:] with [index::], to search the second half of the string. I'll check the original paper first. http://www.aclweb.org/anthology/J97-1003.pdf

[2013-10-16 00:37] stevenbird commented on #475
Next step is to audit @heatherleaf's list and decide what else should be a method instead of a property. Anything internal or in modules that are typically only used by non-beginners can probably stay as is.

[2013-10-16 05:46] stevenbird commented on #475
@fcbond mentions that @heatherleaf's list omits the wordnet attributes. There's a forthcoming contribution of an interface to the Global WordNet Grid in which some of these attributes (like "definition") would need to become methods that take a language parameter.

[2013-10-16 05:55] stevenbird opened #505 "Global WordNet Grid"
@fcbond and students have developed interfaces to the Open Multilingual WordNet (aka Global WordNet Grid), along with a consistently-formatted dataset, and has verified that the data can be redistributed. Add the data and one of the interfaces to NLTK.

[2013-10-16 06:04] stevenbird opened #506 "Corpus Citation"
Add a method to the corpus reader to give the preferred citation to a corpus, to encourage users to cite the corpora they use.

[2013-10-16 06:55] caiobegotti commented on #250
Not really as I had to keep using the custom inherited class I mentioned I sort of gave up trying to understand if it was NLTK of the class code. I delivered my paper with this "workaround" in it some months ago and I won't go back to it until next year, so you can close the bug if you think nobody caught that before or anything. Thanks for checking by the way.

[2013-10-16 16:54] heatherleaf commented on #475
I only did some simple grepping for the strings `@property` and `property(`, so I'm sure I missed some.

[2013-10-17 04:23] dougalg commented on #395
Yes this issue appears to be resolved in the current version (tested on Windows, python3 and python27).

[2013-10-17 05:59] kmike commented on #395
Thanks!

[2013-10-17 05:59] #395 closed, assigned to nobody

[2013-10-17 11:26] stevenbird commented on #408
I believe @laike9m is right. Thanks for the bug report. Resolved in https://github.com/nltk/nltk/commit/0d43779e9f55d53cb8378f9fedfccc92f53925f1

[2013-10-17 11:26] #408 closed, assigned to stevenbird

[2013-10-17 22:46] stevenbird commented on #498
I intend to do a conditional import of sklearn to avoid this error message. Users without sklearn installed would only see an error when they ran code that required sklearn.

[2013-10-17 22:48] stevenbird commented on #475
I proposed to replace the WordNet Synset and Lemma properties with methods having the same name, and with no setter methods.

[2013-10-17 23:01] fcbond commented on #475
and can we also do definition and example?

On Fri, Oct 18, 2013 at 7:48 AM, Steven Bird notifications@github.comwrote:

##

Francis Bond http://www3.ntu.edu.sg/home/fcbond/
Division of Linguistics and Multilingual Studies
Nanyang Technological University

[2013-10-17 23:09] stevenbird commented on #475
Yes, I'll include those.

[2013-10-19 06:36] stevenbird commented on #498
Resolved in https://github.com/nltk/nltk/commit/03fbcdfd4ed5e012c8835e92dff46c684ea5c653

[2013-10-19 06:36] #498 closed, assigned to stevenbird

[2013-10-19 06:40] stevenbird commented on #475
The wordnet properties have been changed to methods in https://github.com/nltk/nltk/commit/ba8ab7e23ea2b8d61029484098fd62d5986acd9c

[2013-10-23 02:39] stevenbird opened #507 "Character encoding in Toolbox corpus reader"
The following works fine in 2.7 but breaks in 3.2:

[2013-10-23 03:02] stevenbird opened #508 "Tag mapping for Treebank"

[2013-10-23 19:19] stevenbird commented on #504
The chunk parser API now uses root_label and chunk_label instead of top_node and chunk_node, for consistency with naming of tree properties. Resolved in: https://github.com/nltk/nltk/commit/5eb5d62e8481d6bff5e54a9518a5c0b788d0b76c

[2013-10-23 19:33] stevenbird opened #509 "Sequence methods should return iterators by default"
Methods that return sequences should produce iterators by default following standard practice in Python 3; there should be no special _iter methods.

[2013-10-24 03:40] stevenbird commented on #509
This change has been made for parse.generate() in https://github.com/nltk/nltk/commit/d7784cc454b6adb1e358c14491feb0690be88294

[2013-10-24 23:47] stevenbird opened #510 "Consistent imports"
Make sure import statements are consistent. A subset of the modules use relative imports: egrep -l "from ." _/_.py and others have absolute imports. I think they should all be absolute.

[2013-10-25 04:55] ewan-klein opened #512 "nltk.data.find fails to find nltk_data/packages/grammars/sample_grammars/glue.semtype"
error is triggered by l.133 of nltk/sem/glue.py

[code]

[2013-10-25 12:50] kmike opened #514 "pickling issues with NaiveBayesClassifier"
I haven't checked if this ticket is valid, but it was reported in nltk-users group that NaiveBayesClassifier doesn't work well with pickling: https://groups.google.com/forum/?fromgroups#!topic/nltk-users/vijtEvhzhOo

[2013-10-27 11:31] stevenxxiu opened #516 "wordnet app get_static_wx_help_page"
Found a small issue while going through the nltk code base, the `get_static_wx_help_page` function in `nltk.app.wordnetapp` seems to be removed by commit `d1b6a6207d3b51557b075220a02505b3cc475cff`, but is still in the `get_static_page_by_path()` function. Can this be removed from it as well?

[2013-10-27 13:10] stevenxxiu opened #518 "Code modernizing proposal: using `format` instead of `%`"
Python's replaced `%` with `format` some time ago and `%` is now deprecated, so I think switching to `format` could be appropriate.

Some examples:

in nltk.util:

[code]

will be changed to:

[code]

another one:

[code]

will be changed to

[code]

[2013-10-27 14:24] nschneid commented on #518
Are we maintaining support for Python 2.6? If so, this will unfortunately [not work](http://docs.python.org/2/library/string.html#formatstrings)—an explicit index or name is required, like `'{0}.{1}'.format(selfname, name)`.

[2013-10-27 17:28] ayushjaiswal opened #519 ""import nltk" asks for x11"
On Mac OSX 10.9, import nltk asks for x11 to be installed. This requirement does not exist in the installation documentation. Is there a solution to this (apart from installing x11)?

[2013-10-27 18:36] stevenbird commented on #519
This dependency is probably due to Tkinter, and it looks like you can avoid X11 if you install ActiveTcl: http://www.python.org/getit/mac/tcltk/

(I suggest staying away from Python 3.4 until it is clear that numpy is supported.)

[2013-10-27 18:45] stevenbird commented on #518
Yes let's continue to support Python 2.6 please.
In the case of repr, can we use the syntax `{0!r}`?

[2013-10-27 18:49] stevenbird commented on #518
@jskda it would be good to see some more examples please, e.g. for formatting data from different sources such as dictionaries. We may not want to do the {0} {1} style of format conversion in all cases.

[2013-10-27 21:57] kmike commented on #518
1) printf-style formatting is not deprecated; see e.g. docs - there is nothing about that in docs http://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting . There were plans to deprecate `%` formatting in early Python 3.x versions, but then this decision was reverted - `%` is not deprecated and it will stay.

2) `"%s" % ...` and `"{}".format(...)` is not only different syntax,

[2013-10-27 23:41] #512 closed, assigned to nobody

[2013-10-28 02:20] ewan-klein commented on #177
The corpus can now be downloaded without registration, and is licensed under CC BY 3.0, which makes it easier to proceed. Assuming that the NLTK distro of the corpus were to be correctly attributed, we could possibly request that the license holders waive the requirement that attribution also be given in derivative works in the form of sentiment detection tools built using the corpus.

[2013-10-28 02:24] ewan-klein opened #521 "The Glue module doesn't seem to play nicely with the Discourse module"
The following code from Ch10 of the book no longer executes properly:

[code]

AFAICT, the Glue part is not returning parsed logical forms.

[2013-10-28 02:43] stevenbird opened #522 "Interface to Stanford Parser"
Add interface to Stanford Parser.

[2013-10-29 00:21] ewan-klein opened #525 "py3_data creates incorrect path to english.pickle"
The following code from the book

[code]

 triggers an error by looking for the nonexistent resource `nltk_data/tokenizers/punkt/PY3/PY3/english.pickle`. So the path is somehow passing twice through the py3_data decorator.

[2013-10-29 03:33] stevenbird opened #526 "iterators in compat.py"
I think the following functions in compat.py don't belong for Python 3: iterkeys, itervalues, iteritems.

[2013-10-29 03:52] stevenbird commented on #86
It would be good to resolve this in NLTK3. As @heatherleaf points out, we can provide Counter in compat.py (adopting this implementation http://code.activestate.com/recipes/576611/). We can replace FreqDist with Counter in the book and users will not be wedded to using NLTK for this functionality.

Built-in sort-by-value was provided for the benefit of novices, and it can be inefficient. Its also

[2013-10-29 05:12] stevenbird opened #527 "ngram functions"
util.py defines several ngram functions (e.g. bigrams and ibigrams). The plain versions should now produce iterators, and the iterator versions (e.g. ibigrams) should be dropped. Any cases where a list result is expected should be wrapped with list(), e.g. list(bigrams()).

[2013-10-29 08:05] heatherleaf commented on #86
So the suggestion is to still only have one class FreqDist (extending Counter), but to make it unordered? No OrderedFreqDist and no ImmutableFreqDist?

I like simple, so I'm in favour of that.

[2013-10-29 08:12] heatherleaf commented on #86
There are still FreqDist methods that would be good to show in the book, such as Nr(), hapaxes(), plot() and tabulate(), so don't remove FreqDist completely from the book.

A side note: hapaxes() should return an iterator, not a list.

[2013-10-29 10:23] kmike commented on #86
I don't quite get it - is the idea to remove FreqDist class or to inherit it from Counter?

[2013-10-29 11:18] stevenbird commented on #86
I'm now proposing to replace FreqDist with Counter, and figure out how to cover the missing functionality with recipes (e.g. for hapaxes) or utilities (e.g. for plotting). What do you think.

[2013-10-29 11:21] kmike commented on #86
I like this idea.

[2013-10-29 11:48] kmike commented on #86
By the way, what do you think about adding ImmutableFreqDist (or "FrozenCounter" or something like this) based on Trie/DAFSA to NLTK? I personally use them quite often because they require much less memory for string data storage. I'm in contact with a local university, and we're going to give students an option to contribute to open-source projects as a coursework; this could be a good task for t

[2013-10-29 12:02] stevenbird commented on #86
We also need to consider the parallelism with FreqDist/ProbDist, ConditionalFreqDist/ConditionalProbDist.

[2013-10-29 12:04] stevenbird commented on #86
@kmike: is your question about efficient storage for large sets of words (such as lexicons), where the Trie/DAFSA may be an index (e.g. paths lead to dictionary entries)?

[2013-10-29 12:07] ayushjaiswal commented on #519
I have tried installing ActiveTcl but that doesn't help. It still asks me to install x11.

[2013-10-29 12:19] kmike commented on #86
Yes, something like that. Also, paths may lead to just word counts; this way it is possible to store "frozen" FreqDists and ConditionalFreqDists more efficiently if keys are strings or n-grams. If values are float, it is possible to have "frozen" ProbDists/ConditionalProbDists. It also should be possible to make reqular (not "frozen") ...Dists with string keys using an appropriate version of Trie.

[2013-10-29 12:31] kmike commented on #86
In Python Trie/DAWG memory savings are coming not only from path compression; C/C++ implementations also remove unnecessary creation of extra Python objects for strings, and the overhead of Python dicts. So it requires 700M to store unigram counts for Russian wikipedia in FreqDist vs 40M for storing them in IntCompletionDAWG. For "unigram counts" task DAWG partially "explodes" to Trie because of c

[2013-10-29 12:50] heatherleaf commented on #86
I don't want to replace FreqDist with Counter, but instead redefine it to extend Counter.

[2013-10-29 12:50] heatherleaf commented on #86
Using DAWG is a nice idea, but we can't rely on it of course, since it is an external module

[2013-10-29 12:56] stevenxxiu commented on #526
@stevenbird: I think they might be there for python 2 compatibility, as `_iterkeys` is assigned different values depending on python 2 and 3. As per my understanding in python 3, `keys()` returns an iterator like object, while in python 2 it returns a list.

[2013-10-29 23:27] stevenbird commented on #86
OK, let's take the more conservative approach for now, and reimplement FreqDist using Counter. This leaves unresolved the efficiency issue (with the sometimes wasteful sorting) and the pedagogical issue (teaching both Counter and FreqDist when they overlap in functionality).

Let's include Counter in compat.py and use it for Python < 2.7 (http://code.activestate.com/recipes/576611/). And let's mak

[2013-10-30 00:06] ewan-klein commented on #97
Fixed in d566f23c6341c2c9263ac0da7d778a38100b0a64

[2013-10-30 00:06] #97 closed, assigned to ewan-klein

[2013-10-30 03:56] ewan-klein commented on #501
It's probably worth having a look at https://sites.google.com/site/naturallanguagetoolkit/download. Some of this is still more or less right.

[2013-10-30 04:03] ewan-klein opened #529 "Check find_file() in internals.py for byte vs. string issues"
The following diff fixes one problem in part of find_file() (though change has not yet been merged in). It would be worth checking through the whole of the function to see if there are other instances where this problem arises.

[code]

[2013-10-30 04:04] stevenbird commented on #529
@jskda please take a look at this

[2013-10-30 04:10] kmike commented on #529
By the way, shouldn't this be `stdout.decode(stdout.encoding).strip()`?

[2013-10-30 05:30] ewan-klein commented on #529
Thanks - I stand corrected :-)

[2013-10-30 06:47] heatherleaf commented on #86
My suggestion was to remove the sorting from FreqDist, so that items/keys/values return in an unspecified order.

plot and tabulate can take an optional sort argument, to specify how the samples should be sorted.

And when we're into it, we should remove sorting from ConditionalFreqDist.conditions() too.

[2013-10-30 08:33] stevenbird opened #530 "named tuples"
I would like to consider switching from tuples to namedtuples for certain NLTK data types, such as tagged tokens, and the tuples used for storing dependency trees, and perhaps elsewhere as well. Programs could refer to attributes such as tokens, tags, heads, etc by name instead of position.

E.g. "count the frequency of all words tagged NN":

The first two require knowledge of the order of items i

[2013-10-30 08:42] kmike commented on #530
+1 for returning namedtuples where they are not nested.

There is one possible issue with namedtuples - their repr is quite verbose, so instead of `[('dog', 'NN')]` you'll get `[TaggedToken(token='dog', tag='NN')]`; this gets worse if namedtuples contain other namedtuples, because pprint doesn't work in this case and you can only get a long single-line string.

[2013-10-30 08:59] heatherleaf commented on #530
+1

[2013-10-31 02:57] stevenbird opened #531 "Migrate howto content into module docstrings"
The tutorial content of nltk/test/*.doctest should live inside individual code modules in order to be accessible via the interactive prompt and the online API documentation.

[2013-10-31 03:00] nschneid commented on #530
I like the goal but share @kmike's concern about printing, because that would make it harder to inspect (say) a tagged sentence. Is it worth creating a namedtuple subclass that is less verbose, e.g.

[code]

as opposed to

[code]

[2013-10-31 03:01] stevenbird opened #532 "Corpus reader docstrings"
Accessing corpus reader docstrings gives different results before and after the corpus reader has been used the first time. On first use, we see the LazyCorpusLoader docstring, which is not helpful for users. Only the relevant corpus reader docstring should be shown.

[2013-10-31 06:05] ewan-klein commented on #104
Much of the problem is that mallet.py calls internals.py which adds NLTK_JAR to the Java class path. This is intended to provide a more fine-grained access to parameters that were embedded in the Mallet 0.4 CRF Java code. It is not straightforward to update the Java code that compiles to NLTK_JAR, since it calls classes and fields that are no longer present in Mallet 2.x. I propose that we provide

[2013-10-31 06:11] ewan-klein commented on #525
Resolved by c7beca33c3299edeeca3cf92cafa958f031aace0

[2013-10-31 06:11] #525 closed, assigned to nobody

[2013-10-31 12:41] heatherleaf commented on #530
I think we should try to follow the standard Python idioms. So no special-made namedtuple subclasses.

Yes, this will mean more verbose printing, but people should use a pretty-printer for tagged sentences anyway.

[2013-11-01 03:00] #527 closed, assigned to nobody

[2013-11-01 03:21] stevenbird commented on #86
@heatherleaf I agree - there should be no sorting of items/keys/values in FreqDist, or of conditions in ConditionalFreqDist.

FreqDist.samples() should be removed because it provided an unsorted list of keys which we will now access using FreqDist.keys().

FreqDist.iteritems/keys/values() should be removed because the non-iterator versions of these methods in Python 3 will return iterators anyway

[2013-11-01 05:01] stevenbird opened #533 "Testing module docstrings with ShiningPanda"
@xim can you suggest any way we can extend our integration testing to include the docstrings inside the code modules?

It looks like we only test the doctest files.
https://jenkins.shiningpanda.com/nltk/job/NLTK-TOX/lastCompletedBuild/testReport/

We're trying to migrate tutorial-style doctests to the code modules so that they can be accessed via the interactive python prompt.

https://github.com/

[2013-11-01 08:22] heatherleaf commented on #86
FreqDist.update() can be replace by Counter.update(), it has the same meaning

|= and | has totally different semantics: they calculate the maximum

+= and + are almost the same as update(), but they need a Counter on the righthandside whereas update() can take any sequence

[2013-11-01 08:38] stevenxxiu commented on #86
I'm not sure I understand the implementation of `B()`, as it produces the total number of bins, not just those greater than 0 as said in the docs, as an example: `FreqDist({'bin':-1}).B()==1`. Should negative counts be allowed in `FreqDist` (they are allowed in `Counter`)?

[2013-11-01 08:45] heatherleaf commented on #86
So there are not many methods that needs to be kept, and most of them are just for convenience. This is my suggestion:

[code]

There is one minor problem with Counter: the str() representation shows ALL samples and counts in decreasing order, which takes time and space for large objects (which we often work with). So my suggestion is to rewrite it for FreqDist. Either as before or with the N most

[2013-11-01 08:48] heatherleaf commented on #86
@jskda: Counters accept negative values, but the operators (+ . & |) discards them. Quoted from the docs:

[code]

[2013-11-01 08:50] heatherleaf commented on #86
So we could decide to define B like this instead:

[code]

But this makes things slower, because it has to build a new Counter

[2013-11-01 08:55] heatherleaf commented on #86
There is a subtle difference between .update() and += in how they treat negative values:

[code]

[2013-11-01 08:56] stevenxxiu commented on #86
Thanks, good idea for `B()`.
Here's my implementation of your suggested `str()` representation:

[code]

I've added a `maxlen` argument to specify how short the representation should be.

[2013-11-01 08:57] heatherleaf commented on #86
But defining `B(self)=len(+self)` this makes things slower, because it has to build a new Counter every time. And we're working with large counters here.

[code]

[2013-11-01 09:09] stevenxxiu commented on #86
I'm thinking it could be cached on a call to `len` or whenever there's a modification to `FreqDist`.

[2013-11-01 09:12] heatherleaf commented on #86
Oh, and there's another method we have to consider:

[code]

This is used by `SimpleGoodTuringProbDist._r_Nr()`, which in turn is used by its `__init__`.

It's not good practise to have a method starting with `_` which is used outside the class. We should consider renaming it. (And remove sorting of course).

[2013-11-01 09:13] stevenxxiu commented on #86
Thats a good idea, I think it should also be lower case, so we conform to PEP-8.

[2013-11-01 09:47] stevenxxiu commented on #86
The unary `+` operator is only support in python 3.3, but for earlier python versions adding an empty Counter will do.

[2013-11-01 23:14] stevenbird commented on #507
Resolved in https://github.com/nltk/nltk/commit/1f7db91e834041fdd66e06812a59efa75de87993

[2013-11-01 23:14] #507 closed, assigned to nobody

[2013-11-01 23:18] stevenbird commented on #526
@jskda yes I see, thanks.

[2013-11-01 23:18] #526 closed, assigned to nobody

[2013-11-01 23:41] stevenbird opened #535 "app/wordnet_app breaks in Python3"
Run wordnet_app.py on the command line, to start up the wordnet browser, and search for "dog" and then click on the first link "domestic dog". The following stacktrace is produced in the terminal:

Exception happened during processing of request from ('127.0.0.1', 50299)
Traceback (most recent call last):
  ...
  File "./wordnet_app.py", line 719, in page_from_href
    return page_from_reference(d

[2013-11-02 11:03] stevenxxiu commented on #535
`get_static_wx_help_page` does not exist anymore in wordnet_app.py, can it be removed?

[2013-11-03 17:02] japerk opened #537 "math domain error with TrigramAssocMeasures"
In nltk 3.0a3, TrigramAssocMeasures._contingency can produce a negative number, and you can't do math.log with a negative number. Here's code to reproduce:

The _contingency numbers in this case are (26, 2, 0, 0, 0, -2, 0, 4841) and the -2 is the cause of the failure.

[2013-11-03 17:18] japerk commented on #537
Code works fine with nltk2. When I compared the _contingency method code in both version, it appears to be only syntactically different, so the error could be in TrigramCollocationFinder.

[2013-11-04 07:20] #529 closed, assigned to stevenxxiu

[2013-11-05 08:07] heatherleaf commented on #86
@jskda: I just did some timing tests, and it's faster to calculate .N() on demand (and caching the result), than using a specific ._N counter that needs to change after each update. So, this is faster than your current solution:

[code]

I created a FreqDist over the Brown corpus and calculated .N(), and using the about approach is 25% faster. It's also 25% faster when I tried just a portion of Br

[2013-11-05 08:21] heatherleaf commented on #86
Hmm… I just noticed that it's 3x faster to build a Counter than a FreqDist, even using the optimized variant above. I guess the problem is that FreqDist calls `_reset_caches()` from `__setitem__()`.

Is there something we can do about this? @kmike, @jskda, @stevenbird?

[2013-11-06 01:00] stevenbird commented on #86
Thanks for this @heatherleaf. So, the only remaining cached information is for Nr, the number of items with frequency r. I guess language model smoothing algorithms use this heavily. Perhaps any necessary optimisations should be done in that code, or else provided as an option here, and only switched on by that code? We certainly shouldn't have such a big overhead for creating a FreqDist.

[2013-11-06 07:43] heatherleaf commented on #86
It seems like it's only SimpleGoodTuringProbDist that uses `_Nr_nonzero()`, so I guess it could cache that information itself.

So here's a suggestion:
- Remove all FreqDist caches.
- Replace `_Nr_nonzero()` and `_cache_Nr_values()` with a "public" method `Nr_nonzero()` that does the calculation every time it is called.
- The same for `N()`: it can be calculated by `sum(self.values())`
- And the s

[2013-11-06 07:43] heatherleaf commented on #86
I guess we should do it in steps: first get a FreqDist(Counter) to work, and then remove the caches one at the time.

[2013-11-06 09:59] stevenbird opened #540 "Eliminate yaml dependency"
Use json or pickle instead of yaml for serialisation, to remove the yaml dependency in favour of the built-in libraries. This effects a couple of tagger modules, and data.py and yamltags.py.

[2013-11-06 10:05] stevenbird commented on #540
We need to decide which of pickle or json to use.

[2013-11-06 14:52] kmike commented on #540
Big +1 for removing YAML dependency.

### JSON

Pros:
- there is no security risk in using json;
- compatibility is not an issue;

Cons:
- it'll require more code than pickle.

### Pickle

Pros:
- pickle support means multiprocessing support;
- less code to write.

Cons:
- there are different pickle protocols;
- pickling/unpickling is different in Python 2/3;
- pickled models disallow changing/mov

[2013-11-06 15:11] heatherleaf commented on #540
Also +1 for JSON

[2013-11-06 15:18] turicas commented on #540
The idea is to remove all YAML support (like not being able to use `nltk.data.load` with a YAML file) or just remove from the official data distribution?

Curently the list of files that have `yaml` in its contents is:
- `ChangeLog`
- `nltk/data.py`
- `nltk/__init__.py`
- `nltk/tag/brill.py`
- `nltk/tag/sequential.py`
- `nltk/test/data.doctest`
- `nltk/yamltags.py`
- `pip-req.txt`
- `setup.py`
- `

[2013-11-06 19:56] stevenbird commented on #540
It would be fine to leave yaml support in data.py, and data.py works fine even when yaml is not installed. However, I think yaml can be replaced everywhere else.

[2013-11-06 23:33] turicas opened #541 "Create a from-scratch documentation about installation"
If you're in a developer's machine that have everything related to compilers, header files for FORTRAN libraries and such things, `pip install nltk` will work. But unfortunately this is not the case of the majority of (possible) NLTK users.
So, installing NLTK even on Debian-based system is not that easy as [NLTK's doc](http://nltk.org/install.html) says. We need to document the whole process of i

[2013-11-06 23:43] turicas opened #542 "Create a Dockerfile"
[Docker](http://docker.io) is a software to create and administrate LXC (Linux Containers) easily. With it (and its [Dockerfile](https://www.docker.io/learn/dockerfile/level1/)) we can easily share how to build new container images in a portable way.
Since NLTK depends on numpy, scipy and matplotlib and the process of installing it is really complicated (because depends on headers files, C compile

[2013-11-07 00:08] turicas commented on #330
Can we close this issue? Maybe before closing we can write down documentation about the branching model used on a `CONTRIBUTING.markdown` file.

[2013-11-07 00:16] stevenbird commented on #330
Let's go ahead and adopt this model.

[2013-11-07 04:49] ewan-klein opened #543 "Method for finding senna executable in senna.py should be improved"
Code which wraps a 3rd party executable should adopt common methods for locating the executable. Existing wrappers for prover9/mace, malt parser, mallet etc. do a reasonably intelligent (though not optimal) job of doing this. senna.py has a hard-wired path which won't work for people on Windows or who don't have root access.

[2013-11-07 05:57] stevenbird commented on #86
I suggest we dispense with caching entirely, and modify SimpleGoodTuringProbDist as necessary, also other methods that relied on FreqDist.Nr(). Please see: https://github.com/nltk/nltk/pull/544

[2013-11-07 08:09] stevenxxiu commented on #330
I like Álvaro's model too, gitflow is adopted by many projects.

[2013-11-07 08:17] kmike commented on #330
What Álvaro proposes makes sense. Some points:
1. why is master/develop distinction needed? Isn't Álvaro's "master" already in one of release/x branches?
2. If one of NLTK contributors with committ access work on some feature, then I think he may create feature branch in main repo. This way other NLTK contributors with commit access can push commits to the same branch (e.g. to pick up the stalled

[2013-11-07 15:07] turicas commented on #330
@kmike, answers:
- On `master` we put only final releases (usually merge commits from `release/x`
- `release/x` branches are the branches you start off from develop to make commits that will make the next release
- I think the cases where more than one developer should have access to a feature branch on main repository are no the most common, so I prefer the fork + branch + pull request model (thi

[2013-11-07 15:09] kmike commented on #330
Why not leave current master as-is (it would be your proposed 'develop') and use tags for marking final releases?

[2013-11-07 16:22] turicas commented on #330
@kmike, it's a good solution. @stevenbird, what do you think?

[2013-11-07 16:35] stevenbird commented on #330
@turicas, this is what we do at present. Is there an advantage to having a `develop` branch which may have test failures, and a `master` branch which only has green code (no failures)? Or is there some other clear distinction between `develop` and `master` that is useful to have?

[2013-11-07 16:43] kmike commented on #330
@stevenbird I think we agreed on a single `master` branch which should be green, feature branches that could be red, `release/x` branches for backporting fixes to older versions and tags for marking release commits.

[2013-11-07 17:32] turicas commented on #330
I think everything on `develop` and `master` should always be green. I'm writing a "contributor's guide" to NLTK with more details about we're discussing and will create a pull request to fix this issue, ok?

[2013-11-07 17:34] kmike commented on #330
wait, why are 2 branches needed? :)

[2013-11-07 20:58] turicas commented on #330
@kmike, not for NLTK! ;) I was talking about the nvie's branching model... in our case, only `master` should be green, because there's no `develop` (but of course preferably every commit should not break any tests).

[2013-11-09 07:19] alexpolozov opened #545 "RegexpTokenizer introduces extra splits because of grouping parentheses removal"
### Test case

[code]
### Expected output

[code]
### Reason

NLTK performs automatic conversion of capturing groups into non-capturing in the `RegexpTokenizer` constructor. It does so by converting every non-escaped `(` to `(?:`. However, [regexp syntax](http://www.regular-expressions.info/charclass.html) states that any character inside a character class `[]` (except for `^`, `\`, `]`, and `-`)

[2013-11-10 00:34] stevenbird opened #546 "expanded functionality for nltk.Text"
Add common corpus reader methods to nltk.Text, including `words()`, `sents()`, `tagged_words()`, `tagged_sents()`. Use punkt for sentence tokenisation, and the stanford tagger for tagging. Possibly add `parsed_sents()` and interface to the stanford parser.

[2013-11-11 01:45] ibarria0 opened #547 "k-means bug len() of map object"
In python3, map objects evaluate to a map object and you cant do len() on them.

This causes line 138 in kmeans.py to fail since self._means is a map object

[code]

[2013-11-11 02:31] ibarria0 commented on #547
repeated :(

[2013-11-11 02:31] #547 closed, assigned to nobody

[2013-11-11 11:22] stevenbird commented on #330
We are so close to the git flow model, why not adopt it fully (with the proviso that some feature branches could be done in forks). This means we would separate out the `develop` and `master` branches. We would not have to document the differences between our practice and git flow. We could use the available tool support, e.g. https://github.com/nvie/gitflow/blob/develop/README.mdown

[2013-11-12 01:52] turicas commented on #330
@stevenbird, I also prefer to adopt it 100%, but I'll be ok if we don't. So, we need to decide to close this issue. :)

[2013-11-12 09:15] dhgarrette commented on #521
Sentences should be represented as lists of tokens.  Replacing the input with this:

[code]

yields:

[code]

[2013-11-12 10:14] stevenbird commented on #330
Some of the reviews of gitflow criticise the split between `develop` and `master` branches as being unnecessary, and talk about limited support for merging after forking. Has anyone experienced these issues?

[2013-11-12 16:30] turicas commented on #330
I agree that splitting `develop` and `master` can be unnecessary, but I think it can be handy when creating hotfixes branches and other kind of. The `master` branch will be like a "line" of "stable commits" (as you can see in the graph at [nvie's gitflow](http://nvie.com/posts/a-successful-git-branching-model/)) and I like it.
About the limited support for merging and forking, I don't know about i

[2013-11-13 00:38] ewan-klein commented on #330
This blog post seems relevant. It describes how to move from a model like our current one to a git flow approach:
http://blog.jessitron.com/2012/07/real-life-git-flow.html
Incidentally, is there any reason why forks should have a `develop` branch as well as feature branches?

[2013-11-13 01:11] ewan-klein commented on #521
Although this will work, and is the obvious easy solution, it breaks consistency with the other invocations of DiscourseTester in Ch10.

The `CfgReadingCommand` in discourse.py looks like this:

[code]

I think it would be better to update the following function in glue.py so that it splits the input string into tokens:

[code]

E.g. something like this:

[code]

[2013-11-13 01:29] turicas commented on #330
@ewan-klein, the feature branches should exist on forks. Ideally, in the main repository (nltk/nltk) we should have only `master` (released software) and `develop` (commits merged from feature branches that will be in next release).

[2013-11-13 01:43] ewan-klein commented on #330
@turicas: I don't see the git flow model dictating where release branches live. It looks to me as though having release branches in the main repo and allowing developers to push _minor_ bug fixes to them would work OK.

[2013-11-13 05:31] stevenbird commented on #546
Support loading of local files and URLs, e.g., load the contents of a URL, stripping HTML markup using BeautifulSoup.get_text(), and tokenize using nltk.word_tokenize();

Text("http://www.gutenberg.org/files/2554/2554.txt").words()

[2013-11-13 09:35] kmike commented on #546
I personally think it makes more sense to initialize Text with text, and provide a classmethod for loading from URL or a file.

Some API ideas can be stolen from [TextBlob](https://textblob.readthedocs.org/en/latest/) - hey, they even bundle NLTK inside their package :) I made a brief look and some APIs looks controversial, but it still worths to look at.

[2013-11-14 08:36] stevenbird commented on #330
How about we try the git flow model for three months and then evaluate? Let's expect individuals to make mistakes occasionally, and not be too worried when that happens.

[2013-11-15 14:57] turicas commented on #330
@ewan-klein, I prefer to work on local forks and only use main repository for accepting pull requests.

@stevenbird, +1

[2013-11-16 11:50] #535 closed, assigned to stevenxxiu

[2013-11-16 21:03] hale commented on #367
Can someone confirm that this is still an open bug?

[2013-11-17 04:34] stevenbird commented on #367
Yes, I'm still getting P(foo | bar, baz) = 2.625

[2013-11-20 06:05] jnothman commented on #546
- Punkt assumes pre-tokenised text.
- Do you intend to use a pre-trained model (do we need a parameter in `Text` that specifies language, or otherwise a set of models to use?), or to train and predict on the text?

[2013-11-20 06:15] jnothman commented on #545
Perhaps adding `\[[^\]]*\(   |` to the expression would suffice?

[2013-11-20 06:25] jnothman commented on #518
The main argument for this change IMO is that `tpl % x` can have unexpected effects if `x` can sometimes be a tuple or a dict.

Yes, Steven, named substitutions are supported, e.g. `'{pre}.{suf}'.format(pre='foo', suf='bar')` or `tpl.format(**locals())`.

Is this more nuanced than ensuring that wherever we might be working with unicode, we use a unicode template string.

[2013-11-21 15:30] vincedovy opened #550 "Featstruct.py: Use of variable before check"
In _parse_seq_value (line 2324) m.group(1) is attempted before checking if m is not None. This results in a crash with no information rather than a ValueError. Move this line after the check.

[2013-11-22 03:47] jnothman commented on #518
And I recall now that `format` may also perform nested item and attribute getting: `'{0[0].__class__.__name__}'.format(['a'])` will return 'str'.

[2013-11-25 04:52] stevenbird commented on #86
Resolved in https://github.com/nltk/nltk/commit/ace06f6de5d418f8e477108d03d4d991e6ff7987

[2013-11-25 04:52] #86 closed, assigned to stevenxxiu

[2013-11-25 04:54] #510 closed, assigned to stevenxxiu

[2013-11-25 09:16] kmike opened #553 "delete 2and3 branch"
Is everyone ok with that? It causes confusion, see e.g. https://github.com/nltk/nltk/pull/548

[2013-11-25 10:01] heatherleaf commented on #553
+1, as well as branches `py25` and `nltk-py3k`

and `fdist`, now that it's merged into master

[2013-11-25 11:38] ewan-klein commented on #330
Since we are on the topic of branches again, I suggest that Steven goes ahead with the creation of a `develop` branch in the main repo. My (partial) summary of the rest of the plan is as follows:

From now on, new feature branches should be pulled into `develop`, not `master`, and we leave the latter in limbo for the time being. As a transitional arrangement, minor fixes can be pushed directly to

[2013-11-26 02:51] stevenbird commented on #550
Thanks.

[2013-11-26 02:51] #550 closed, assigned to nobody

[2013-11-26 04:12] stevenbird commented on #553
+1

[2013-11-27 00:56] stevenbird commented on #330
Thanks. I've created a develop branch and set it to be the default on the github web page, and _deleted_ the master branch. (I'll recreate master once we do the NLTK 3.0b release.) This way, anyone who clones the repository will have develop as their default branch. I'll notify nltk-dev next.

[2013-11-27 01:32] stevenbird commented on #330
We should keep an eye on our integration testing setup at https://jenkins.shiningpanda.com/nltk/

[2013-11-27 07:21] heatherleaf commented on #330
I'm using SourceTree (http://www.sourcetreeapp.com) for my projects, and it has built-in support for gitflow. But I don't know how it works. Does anyone of you know how SourceTree's gitflow mode works, and if it's worthwhile to use it? Or should I just stick to the standard git mode?

[2013-11-28 05:16] #504 closed, assigned to stevenbird

[2013-11-28 05:22] stevenbird commented on #104
If we need to modify the `ClassifierI` interface please move this to the nltk3beta milestone.

[2013-11-28 22:03] stevenbird opened #555 "Brill tagger"
@muneson has contributed a new implementation of the Brill tagger in https://github.com/nltk/nltk/pull/549. I've merged it into a new feature branch `brill` and invite people to test it out and post comments here.

[2013-11-28 23:59] stevenbird commented on #532
The docstring for the LazyCorpusLoader should state, near the top, that user documentation can be viewed once the corpus is loaded, e.g. using `corpus.words()`, then typing `help(corpus)` again.

[2013-11-29 01:08] stevenxxiu commented on #540
Should the classes using yaml have any backwards compatibility for yaml files? I don't think any yaml files exist in the nltk data packages.

[2013-11-29 01:32] kmike commented on #532
Can't we just assign proper `__doc__`? LazyCorpusLoader already knows it because corpus class is passed to `__init__` and accessing its `__doc__` doesn't require creating corpus instance.

[2013-11-29 01:41] stevenbird commented on #540
No, we will give up backwards compatibility. We'll just retain yaml support in data.py in case someone wants to use it to load their own yaml files using the data loader.

[2013-11-29 01:44] kmike commented on #540
If yaml files don't exist in nltk data packages then we can live without json serialization. Pickle support is still desired because users may want to save models using pickle, and because it is needed for multiprocessing to work. Most of pickle disadvantages doesn't matter if it is user who creates a model and saves it.

[2013-11-29 02:04] kmike commented on #509
I found it useful that many NLTK methods return lists and not iterators because it makes interactive work easier (slicing, printing, concatenating).

Iterators are good when memory consumption matters or when they prevent unnecessary work. I think it is better not to switch to iterators when memory consumption is not an issue and there is not a lot of unnecessary work.

[2013-11-29 07:45] heatherleaf commented on #540
@kmike I don't understand: Do you mean that we should remove json serialization even when it's implemented? The reason for giving up on yaml is that it's not a standard library, but that's not a problem for json or pickle.

[2013-11-29 08:02] heatherleaf commented on #553
Could someone please do this? I can't, because I don't have write permission on the main repo.

[2013-11-29 09:47] stevenbird commented on #553
This is done. You may need to delete your own local copy of the branch with: git branch -d 2and3

[2013-11-29 09:48] stevenbird commented on #509
I agree. Its a balance. We should only do it for objects that are large or expensive to compute.

[2013-11-29 10:18] heatherleaf commented on #553
Oh sorry, I missed that. But the branch `py25` is still there.

[2013-11-29 11:12] stevenbird commented on #553
Yes, the `py25` branch is meant to still be there. It's the version of NLTK that works with Python 2.5, for any bugfixes or essential backports.

[2013-11-29 12:24] kmike commented on #540
I think that json serialization is useful, but not mandatory. Pickle support is much easier to implement and it allows parallelizing code via multiprocessing. Pickle downsides are less important if it is user who creates and saves models.

[2013-11-29 12:25] #553 closed, assigned to stevenxxiu

[2013-11-29 13:13] heatherleaf commented on #540
Ok, so your suggestion is that all classes (that needs serialisation) use pickling for saving and loading. But they may additionally implement json serialisation if they want to. Sounds fine to me.

[2013-11-29 13:20] kmike commented on #540
Yes, exactly.

It is still better to use json instead of pickle for data available via nltk.download.

[2013-12-01 18:03] akellehe opened #556 "nltk.sem.boxer.Boxer class gets unexpected input format from boxer/prolog output"
Prolog variable names aren't always in the scope of /[ex]\d+/. As a result AssertionErrors are raised in parse_variable on line 596 of nltk.sem.boxer as of the latest development version.

The fix is simply to expand the range to /[a-z]\d+/.

[2013-12-02 12:24] muneson commented on #555
_Suggestion: skip nltk2 compatibility_

At present, in order not to break any tests, you can say

[code]

and get the exact nltk2 API. This unnecessarily pollutes the
nltk.tag.brill namespace, however, so a moderate but
efficient improvement is to require the user to say

[code]

Still, since there really is nothing which can be done with the older API only,
I would prefer to drop the nltk2 concer

[2013-12-02 12:29] muneson commented on #555
_Warning: possibly too automated yaml serialization (but yaml is to disappear anyway)_

The earlier nltk2 version required user-defined (application) subclasses (of Rule, with that API) to specify
a yaml tag. By contrast, with the suggested API, user-defined subclasses (of Feature) automatically constructs a
yaml tag from the class name, if not specifically given by the user.

There may be a reaso

[2013-12-02 12:38] muneson commented on #555
_A note on the place of 'brill tagging' in the namespace hierarchy_

In my view, both of the terms "brill" and "tagging" get increasingly inaccurate when extensions to the basic transformation-based learning (TBL) paradigm are considered. Brill invented the basic paradigm and certainly deserves all credit for that. However, TBL has been much developed since. In an upcoming survey on TBL, I review

[2013-12-03 05:44] stevenbird commented on #555
There is no need for the new implementation to be backwards compatible.

[2013-12-03 11:42] #540 closed, assigned to stevenxxiu

[2013-12-04 08:14] turicas commented on #330
Since it was discussed and defined, may we close this issue?

[2013-12-04 08:53] #330 closed, assigned to nobody

[2013-12-05 00:52] stevenxxiu commented on #532
@stevenbird I think `LazyCorpusLoader` already has some documentation regarding this:

I'll add the `corpus.words()` example.

@kmike: I've created a function here to assign `__doc__`, however `help()` still returns different results as it can't see the methods for the actual class, I don't know of a way to achieve that.

[code]

[2013-12-05 05:28] stevenbird opened #558 "Stanford tokenizer"
Add support for Stanford tokenizer: http://nlp.stanford.edu/downloads/tokenizer.shtml

[2013-12-05 05:39] stevenbird commented on #522
We will need to decide which trained model(s) to distribute with NLTK. We will also need to make sure that the model version is reflected in its filename. A given version of NLTK will only be expected to support one version of the Stanford Parser (i.e. we will hardcode the data loader to the model version).

[2013-12-06 09:25] stevenbird opened #559 "Gale-Church aligner"
Get the Gale-Church aligner in the align branch to work. It currently breaks when blocks have unequal length (i.e. aligning a source paragraph with n sentences with a target paragraph with m != n sentences).

[2013-12-06 10:31] stevenbird commented on #559
@tmarek: we are moving ahead with your implementation at last, and would welcome your participation if you have time

[2013-12-12 09:10] stevenbird opened #561 "batch*"
Revisit method names containing "batch", e.g. "batch_tag". Is there a more natural name for something which is applied to a sequence. Should we just use map?

[2013-12-12 09:20] stevenbird commented on #555
There's several aspects of this package that do not fit NLTK's model for subpackages:
- it's the first case of a subsubpackage -- I don't see a problem with this
- it contains further subpackages (demo, application, trainer) -- I don't see the need for these to be subpackages of nltk.tag.brill. Can the demo and trainer be modules at the top level? Can the application live in nltk.app?
- it contain

[2013-12-12 18:41] muneson commented on #555
Sure, although realistically not much will happen until second half of January.
Very briefly,
- removing `nltk2` is what I suggested above, so no problem
- `yaml` replaced by `pickle` and optionally `json`: will do
- authorship: a lot (probably most) code is new but some is lifted with few or even no
  changes. Maybe authorship can be reasonably described on the level of individual modules.
  I wi

[2013-12-12 19:09] kmike commented on #555
Hey @muneson,

I wanted to comment on `nltk.classify` vs `nltk.tag`: currently `nltk.tag` contains modules for structured prediction, while `nltk.classify` contains modules for classification of individual observations. Brill tagger works on sequences, so a better place for it is `nltk.tag`.

[2013-12-13 02:16] stevenbird commented on #555
- @jskda recently replaced yaml with json in other packages and could do it here as well, if that helps
- I don't have a strong opinion about whether this belongs in the classify or tag packages (note that sentence boundary detection is a classification task, classifying punctuation as sentence-breaking or not, and yet it lives in the tokenize package, not the classify package)
- I don't understan

[2013-12-13 07:50] heatherleaf commented on #555
I guess that this means the following:
- remove directories `nltk2` and `trainer`
- move `trainer/fast.py` to `trainer.py`
- update `__init__.py` accordingly
- replace `yaml` with `json`
- keep `brill` in the `tag` package (not move to `classify`)

Regarding the `application` directory:
- it does not fit in `nltk.app`, it's not a working application at all
- currently it contains one file which de

[2013-12-13 07:51] heatherleaf commented on #555
@muneson Do you have time to do these minor changes? Otherwise I can give it a try next week.

[2013-12-13 08:49] heatherleaf commented on #555
I had some time over, so I did some reorganization of the code, see my branch "brill-simplified", this commit: 46be03369efa5aa70f6f3e5207c8c5b85eff5888

The demo is run like this:

[code]

And the doctests are all passed:

[code]

I've tested with python 2.7 and 3.3

@muneson Are you fine with these changes?

[2013-12-13 09:22] muneson commented on #555
I have no time today, I will look more into it tomorrow. Briefly,
- I still prefer `nltk.tag.tbl` to `nltk.tag.brill` (stronger preference
  than `nltk.tag` vs `nltk.classify`, which I don't think is possible
  to resolve with full consistency)
- I understand that the slow trainer BrillOrig perhaps should not be
  exposed by default in the API but I don't understand the point of throwing
  it away

[2013-12-13 23:19] heatherleaf commented on #555
- `nltk.tag.tbl` is fine with me
- keeping the `trainer` directory is also ok, and `brillorig.py` for the reasons you write
- but I don't agree with you about the features:
  - just because some very common features (Word, Tag) happen to be defined in `feature.py`, that doesn't suggest that they are in some way better than other features
  - but the docstrings of Word and Tag (and other features)

[2013-12-13 23:41] muneson commented on #555
I'm on it right now, will have something concrete tomorrow. An
application,  in the sense I intended,  is applying the technique to some
domain or some specific problem, not a ready-written program.
An TBL application generally requires the user to specify a) features
(inherited from Feature) and b) templates.

Actually,  this was quite literally the design I had in an earlier version,
and
on the

[2013-12-13 23:45] muneson commented on #555
2013/12/14 Marcus Uneson marcus.uneson@gmail.com

this got unreadable:
I'm happy with your suggestion, and would put predefined
templates for postagging in feature/postagging.py without worrying too much.

[2013-12-14 00:12] stevenbird commented on #555
I'm glad to see that we're making progress. Thanks very much @heatherleaf, @kmike, and @muneson.

I would like to be conservative about deviations from NLTK's established package structure, and so I am reluctant to add sub-sub-sub-packages to NLTK unless there's a strong case. There are so many reasonable ways we could do things, and many decisions about style are essentially arbitrary (cf PEP-8),

[2013-12-14 10:30] jnothman commented on #561
I can't tell if "should we just use map" is a question of naming, or whether we should suggest that users just use map. If you mean the latter:
- How often is there substantial startup cost for which `batch_` avoids repetition? This seems the case in a lot of external tool wrappers and some other ML models. So in those cases, asking the user to use `map` is not really an option.
- Should batch ins

[2013-12-14 12:06] pancho-villa commented on #50
I think this is a better link to that verbnet source code:
https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/verbnet.py

Now I'm off to figure out what is the definition of a verbnet.

[2013-12-14 19:56] muneson commented on #555
A new PR with changes as per the API-relevant discussions (except JSON and
the move to nltk.classify
left undecided).

https://github.com/nltk/nltk/pull/564

2013/12/14 Steven Bird notifications@github.com

[2013-12-14 23:21] slcott opened #565 "cannot download some packages"
Some of the packages are taking a **very long time** to download, i.e. not at all so far for me. Using `>>>nltk.download_shell()` I am currently unable to successfully download package `jeita`. This is really disappointing for me as I have been working my way through the online book.

[2013-12-16 17:43] sloria commented on #565
I am having this same problem. Travis-CI has been timing out when trying to download brown and punkt: https://travis-ci.org/sloria/TextBlob/jobs/15500090

[2013-12-16 22:03] ghost opened #566 "wordnet functions and Python 3.4b1"
Hi,

I'm testing the latest Python 3.4b1 version and I found a strange behavior with the wordnet functions, like _lemma_names_:

In Python3.3 this code works fine:

[code]

Whereas Python3.4 outputs:

[code]

One "workaround" is to use _lemma_names()_ In Python 3.4b1:

[code]

But this code is _not_ working under Python 3.3:

[code]

Any ideas? I thought that could be relevant for the ongoing nltk

[2013-12-17 07:06] kmike commented on #566
Are you sure you're using the same NLTK version in both Pythons? The interface has changed not a long time ago (see https://github.com/stevenbird/nltk/commit/ba8ab7e23ea2b8d61029484098fd62d5986acd9c).

[2013-12-17 21:08] ghost commented on #566
Thanks for that hint! I used nltk-3.0a2 in combination with Python3.3.

[2013-12-18 04:57] stevenxxiu commented on #558
Should I implement `span_tokenize`? I can't find a way to do this directly on the commandline using `edu.stanford.nlp.process.PTBTokenizer`, so I'll need to add some java code.

[2013-12-18 04:59] stevenbird commented on #558
No, this is too low priority.

[2013-12-18 08:54] kmike commented on #566
Thanks for checking that!

[2013-12-18 08:54] #566 closed, assigned to nobody

[2013-12-19 22:37] stevenbird opened #569 "Installation instructions for optional dependencies"
@jskda would you please add a new section to `nltk/web/install.rst` and start adding instructions for optional dependencies?

I would like to avoid problems such as the following, when a user downloaded the wrong version: https://groups.google.com/forum/#!topic/nltk-users/n4EVbLzuHO0

[2013-12-28 16:57] marcoippolito commented on #297
Hi Alex.
I'm having the same problem right now with Python 2.7 and the latest release of NLTK.

My code is:

from nltk.classify import DecisionTreeClassifier

dt_classifier = DecisionTreeClassifier.train(train_feats, binary=True, entropy_cutoff=0.8, depth_cutof\
f=5, support_cutoff=30)

This is the result:
Traceback (most recent call last):
  File "classifying.py", line 351, in <module>
    dt_cla

[2013-12-28 17:28] kmike commented on #297
Hi @marcoippolito,

Which NLTK version do you use? Alex's fix is a part of NLTK 3 alpha, it is not on pypi yet. You can get it from github, or from here: http://nltk.org/nltk3-alpha/

[2013-12-28 17:43] marcoippolito commented on #297
Hi Mikhail,
I'm using nltk.**version**
'2.0.4'

I saw in http://nltk.org/nltk3-alpha/ that "NLTK3.0 is likely to contain bugs"...:
so do you suggest to upgrade to 3.0 in order to have this DecisionTreeClassifier problem solved, or better wait till NLTK 3.0 version will be much more stable (I'm at the moment not that expert in order to be able to contribute to bugs fixing) ?

[2013-12-28 18:00] kmike commented on #297
I don't know what to suggest :) There are bugs in nltk 2.0 and bugs in nltk 3.0, but they are different bugs. NLTK 2.0 is year or so behind NLTK 3.0, and there were a lot of 2.x bugs fixed in 3.x. On the other hand, 3.x may have new bugs because source code is changed a lot, and the code is not always compatible with NLTK book. There is http://nltk.org/book3/ which is being updated for NLTK3, but

[2013-12-28 18:06] marcoippolito commented on #297
Thanks Mikhail for your suggestions.
I will try scikit-learn for the decision tree classifier.
Later, once I will have a thorough understanding of NLTK package, I will be able to shift to NLTK3.0 version

Kind regards
Marco

[2014-01-02 15:25] pedropregueiro commented on #565
I have the same issue downloading wordnet. Running "python -m nltk.downloader -e -d /usr/share/nltk_data wordnet" hangs forever like this:

[nltk_data] Downloading package 'wordnet' to /usr/share/nltk_data...

I noticed that the /usr/share/nltk_data/corpora/wordnet.zip file grows, but then it stalls around 5Mb.

[2014-01-07 02:26] stevenbird commented on #565
I'm not able to replicate these problems. @slcott can you show that this is not just a problem with network latency? @sloria can you specify a longer timeout in Travis-CI?

[2014-01-07 02:36] stevenbird commented on #569
Another case: https://groups.google.com/forum/#!topic/nltk-users/L49GXgBAAF8

[2014-01-07 02:41] slcott commented on #565
I have been able to successfully download all the packages, etc. However, it required repetitive download calls before it was successful. I know for a fact that my internet speed is excellent here (I'm in the Washington DC metro area). It seemed like the server was the bottleneck.

[2014-01-07 11:31] pedropregueiro commented on #565
@stevenbird I keep bumping into the same problem. I'm trying to do this from an amazon EC2 instance (oregon - c3.large), not sure if that might matter for some reason.

[2014-01-07 23:42] stevenxxiu commented on #569
For boxer, I'm getting an error `candc:models:required option argument is undefined` running `echo 'Every man runs' | bin/candc --models models/boxer --candc-printer boxer` for both the latest c&c and the prebuilt v1.00. Does anyone have this working?

[2014-01-08 00:40] stevenbird commented on #509
Closing for now, since it hardly effects the interface. It just means that in some situations a user must wrap a call with `list()`.

[2014-01-08 00:40] #509 closed, assigned to nobody

[2014-01-08 00:54] stevenbird opened #572 "Installing dependencies for integration testing"
Integration testing at https://jenkins.shiningpanda.com/nltk/job/NLTK-TOX/ depends on dependencies being installed. How are Java dependencies handled, so that inline doctests are passed? Update to support testing of the Stanford tools.

[2014-01-08 01:01] stevenbird commented on #522
Note that we want to pick up the latest version of the parser that is available. This hardcodes 3.3.0, but it is now already at 3.3.1.

[2014-01-13 01:35] stevenxxiu commented on #572
I've added some dependency installation code to jenkins.sh and some environment variables for tox on this branch: https://github.com/jskda/nltk/tree/pull_request.stanford_jenkins

[2014-01-13 02:47] stevenbird commented on #572
Merged in https://github.com/nltk/nltk/commit/e037b2c27b0d8345e268b977d519a74a69bbdc23. Let's watch the CI site to make sure things behave as expected.

[2014-01-13 02:53] stevenbird commented on #530
@jskda would you please create a named tuple for (token, tag) tuples, called TaggedToken. Let's see what it looks like, and then consider doing it in other cases.

[2014-01-13 02:55] #475 closed, assigned to nobody

[2014-01-13 04:06] stevenxxiu commented on #530
Here's a direct implementation & a subclass implementation (works with str but not pprint):

[code]

[2014-01-13 04:50] jnothman commented on #530
You might want to stick a `__slots__ = ()` to reduce the memory consumption in your subclass implementation.

PS: iirc, a mechanism to extend `pprint` (et al.) for custom types is among the latest changes to Python...

[2014-01-20 03:57] kmike opened #576 "skip Stanford tokenizer tests if jar is not available"
There is an info on how to skip tests here: https://github.com/nltk/nltk/blob/develop/web/dev/local_testing.rst.

[2014-01-20 04:00] kmike opened #577 "StanfordTokenizer doctest is broken"
Here: https://github.com/nltk/nltk/blob/develop/nltk/tokenize/stanford.py#L29

"\n" is interpreted as a new line _in a docstring_, not in a constant. This makes this doctest broken.

[2014-01-20 04:02] kmike opened #578 "nltk.internals.compile_regexp_to_noncapturing doctest is broken"
In Python 2.7:

[code]

[2014-01-20 04:06] kmike opened #579 "nltk.parse.stanford.StanfordParser doctest is broken"
There are a few syntax errors - too many parenthesis and invalid quoting. See here: https://github.com/nltk/nltk/blob/develop/nltk/parse/stanford.py#L25

See also https://github.com/nltk/nltk/issues/576 - the doctest should be skipped if jar is not available.

[2014-01-20 04:12] kmike opened #580 "compile_regexp_to_noncapturing is broken"
Check this line: https://github.com/nltk/nltk/commit/764fd52d12096ba254b97ec50288ecdbfb26f939#diff-6d3d9c7d1794a239ab676fc6fce3131fR49 - this identifier is undefined. It broke `tokenize.doctest`. Yay tests, let's run them! :)

[2014-01-20 04:15] kmike opened #581 "nltk.test.unit.test_collocations is broken"
Using Python 2.7:

[code]

[2014-01-20 04:26] jnothman commented on #581
Oh! Any idea when this began to fail? It was only introduced recently, in
#414.

Also, that's not a very useful error message. Can I propose that we use
things like nose or unittest's assert_equal to get better output upon
failure?

On 20 January 2014 15:15, Mikhail Korobov notifications@github.com wrote:

[2014-01-20 04:36] kmike commented on #581
No ideas, I've been away from active NLTK development recently. Error messages: +1.

It looks like an ordering issue; this passes:

[code]

[2014-01-20 04:39] jnothman commented on #581
surprising that we never explicitly sorted it in the first place.

[2014-01-20 04:47] kmike commented on #581
It seems you've got it: FreqDist was reimplemented using collections.Counter, and keys/items became unsorted - see https://github.com/nltk/nltk/commit/514ee4996f555fd152874fa6ee9db8167168d155.

[2014-01-20 04:53] jnothman commented on #581
So one way we could make this work is to use `most_common` instead of
`items`?

On 20 January 2014 15:47, Mikhail Korobov notifications@github.com wrote:

[2014-01-20 04:55] kmike commented on #581
I also thought so, but no, most_common would sort items based on values, while old sorting was based on keys and values. Using "sorted" should fix it.

[2014-01-22 10:38] #578 closed, assigned to nobody

[2014-01-22 10:41] #580 closed, assigned to nobody

[2014-01-22 10:46] #521 closed, assigned to nobody

[2014-01-22 10:47] #545 closed, assigned to nobody

[2014-01-22 17:45] alanshutko commented on #565
I'm experiencing the same problem just downloading via curl or a web browser, on Windows XP and OS X on two separate networks.  About 2MB of a file will be sent from the server, then the server stops transmitting until the client times out.

[2014-01-23 06:07] #579 closed, assigned to nobody

[2014-01-23 06:15] stevenbird opened #586 "Off-the-shelf tokenizer"
Make sure there is an `nltk.tokenize.tokenize()` which combines sentence and word tokenization (cf https://github.com/nltk/nltk/pull/584).

[2014-01-23 06:17] stevenbird commented on #578
Thanks for picking this up @kmike.

[2014-01-23 06:19] stevenbird commented on #565
Referred to nltk-dev for replication/diagnosis: https://groups.google.com/forum/#!topic/nltk-dev/rdigDIJk6-o

[2014-01-23 06:35] alexrudnick commented on #565
I've had similar problems recently, though not every time. This is even on a fast university connection, with no NAT. Not sure how to diagnose it...

[2014-01-23 07:54] #581 closed, assigned to nobody

[2014-01-23 08:00] kmike commented on #565
Where is nltk data served from (the index itself and the data)? Is it stored on github pages?

[2014-01-23 08:11] stevenxxiu commented on #565
From what I can see, the downloader parses and uses the url's on the index page which defaults to the github page: `http://nltk.github.com/nltk_data/`. The data is then downloaded directly from the github repository, for example the first package on the index page: `http://nltk.github.com/nltk_data/packages/chunkers/maxent_ne_chunker.zip`

[2014-01-23 08:23] kmike commented on #565
could it be related?

[code]

[2014-01-23 08:30] kmike commented on #565
[code]

It looks like they are different servers, and NLTK data is not served from Github, it is served from Steven's server.

[2014-01-23 08:36] kmike commented on #565
@stevenbird - can you confirm this? If so, what do you think about switching to github pages for serving data?

[2014-01-23 09:42] stevenbird commented on #565
It's served from the github pages branch of the nltk_data repository: https://github.com/nltk/nltk_data/tree/gh-pages, which shows up here: http://nltk.github.com/nltk_data

[2014-01-23 09:44] kmike commented on #565
Right, but nltk.github.com returns 301 Moved Permanently response and directs client to nltk.org which is hosted on an another server. So it seems that github pages serve only 301 redirects for us.

[2014-01-23 09:45] kmike commented on #565
Could you check server logs to confirm this?

[2014-01-23 11:48] janstrunk commented on #565
I was also contacted by someone who wasn't able to download the Punkt models from ntlk_data. I managed to finally download the file using a download manager. So downloads do seem to work, albeit very slowly and with interruptions.

[2014-01-25 13:15] #576 closed, assigned to nobody

[2014-01-25 13:15] #577 closed, assigned to nobody

[2014-01-28 09:48] helmanofer opened #590 "kmeans cluster fails TypeError: object of type 'map' has no len() with python 3.2"
nltk 3.0
python 3.2

traceback:
File "C:\Python32\lib\site-packages\nltk\cluster\util.py", line 57, in cluster
    self.cluster_vectorspace(vectors, trace)
  File "C:\Python32\lib\site-packages\nltk\cluster\kmeans.py", line 85, in cluster_vectorspace
    self._cluster_vectorspace(vectors, trace)
  File "C:\Python32\lib\site-packages\nltk\cluster\kmeans.py", line 116, in _cluster_vectorspace
    in

[2014-01-28 09:54] kmike commented on #590
Hi,
Could you try it with latest NLTK from github? A similar issue was fixed a couple months ago here.

[2014-01-28 10:18] helmanofer commented on #590
Yep, seems like it's working.
Thanks a lot

[2014-01-28 10:18] #590 closed, assigned to nobody

[2014-01-28 15:47] lliobh commented on #565
I also had a lot of trouble downloading NLTK data using the downloader and downloading from http://nltk.github.com/nltk_data.  However, clicking on Download ZIP on https://github.com/nltk/nltk_data/tree/gh-pages I got everything in one go and quickly.  Strange.

[2014-01-29 04:15] stevenbird commented on #565
Do we need to think about relocating the data collection? One option is the Language Commons, though uploading things there is a manual process. https://archive.org/details/LanguageCommons

[2014-01-29 08:04] margold commented on #179
Version 3.1 is now available here: http://wordnet.princeton.edu/wordnet/download/current-version/. These are just the database (plain text) files which can be substituted for version 3.0 database files, which suggests that the format is exactly the same. In that case it seems all that needs to be done here is to substitute
https://github.com/nltk/nltk_data/tree/gh-pages/packages/corpora/wordnet.zi

[2014-01-29 10:56] kmike commented on #565
The issue is DNS/repo setup, not github pages reliability, because we're not serving files from github CDN. I don't know the current setup, but here are some docs: https://help.github.com/articles/setting-up-a-custom-domain-with-pages#setting-up-dns

nltk.org is not served from github CDN; it seems there is no CNAME record for nltk.org pointing to nltk.github.io. You were right that nltk.org is se

[2014-01-29 21:03] amundo opened #592 "Use unicode.org/udhr database so that UDHR files are uniformly encoded and accessible"
There is a version of the Universal Declaration of Human Rights on unicode.org which is uniformly encoded in UTF-8. This would greatly simplify the difficulties involved with looking up translations of the text in a given language.

There are bulk downloads available on this page:

One of which is a zip file with .txt versions of the whole database.

The documentation of the current nltk/corpus/re

[2014-01-29 21:11] kmike commented on #592
I believe there is already a corpus reader for full unicode version of UDHR, and the data is uploaded to nltk data; corpus reader is called nltk.corpus.udhr2.

[2014-01-29 21:52] amundo commented on #592
Thank you, I'm sorry that I didn't see #84.
I’ll see if I can get the patch to work in my distribution.

[2014-01-30 05:29] amundo commented on #592
In case anyone runs across this thread wondering how to get udhr2 to work without patching their nltk installation, the following seems to have worked for me:

First download the `udhr2` corpus if you don't have it, using `nltk.download()` or `nltk.download_gui()`.
Once it’s been downloaded, I think you can just do this as a quick & dirty way to get udhr2 working:

[code]

Then `udhr2` should work

[2014-01-30 05:29] #592 closed, assigned to nobody

[2014-01-30 16:26] stevenxxiu commented on #565
@kmike: what do you think about using godaddy's domain forwarding service http://support.godaddy.com/help/article/422/forwarding-or-masking-your-domain-name for the root domain to forward everything to www.nltk.org (I think nltk.org is registered with godaddy)?

But I'm not sure however how well old nltk versions handle http redirects, so maybe it's a better option to just use an A record for the

[2014-01-31 19:09] stevenbird commented on #565
I've changed the IP address of the A record. This isn't the recommended solution since it doesn't let us benefit from GitHub's load balancing, but it may be better than before.

[2014-02-03 16:51] kmike commented on #565
@jskda I think your idea is good. Downloader uses urllib2.urlopen, and this function handles 301 redirects, so older NLTK versions should be fine. We may add nltk_data repo as a git submodule of nltk.org repo or create an another subdomain for it (like data.nltk.org) and change the index accordingly.

When adding redirects special attention is needed for 2 points:

1) "masking" feature of godaddy

[2014-02-03 23:41] stevenxxiu commented on #565
I just had an online chat with godaddy support and it seems that they support forwarding without iframes, but only to a fixed url.
But I think github pages support redirecting urls to the www subdomain with relative paths if the CNAME file inside the repository points to the www subdomain.

[2014-02-04 06:31] #558 closed, assigned to stevenxxiu

[2014-02-04 06:33] #522 closed, assigned to stevenxxiu

[2014-02-04 09:40] heatherleaf opened #594 "nltk.data.load: relative paths don't work anymore"
I just noted that I can't load a grammar in my current directory:

[code]

The same thing happens if I try `"file:./grammar.fcfg"`. It did use to work, and I think it changed somewhere around here: 03c3b1ea287a3fbe01ced1fce0b8ff9ee0ac7acb, a25c7335ffd08401f3a5c7637ff1e74ebafc54d5

Is this a desired behaviour? For me, it's not.

[2014-02-05 11:21] stevenbird commented on #565
I've modified the domain hosting configuration. I think the issue is resolved. Any problem still?

[2014-02-05 11:33] kmike commented on #565
Downloading works well for me now. Some packages (brown and sample_grammars) are marked "out of date" and re-downloading them doesn't help, but that looks like an unrelated issue.

/cc @sloria @pedropregueiro @slcott @alanshutko @janstrunk @lliobh @larsmans does downloading work for you?

[2014-02-05 11:33] kmike commented on #565
@stevenbird thanks!

[2014-02-05 11:55] kmike commented on #427
NLTK no longer depends on PyYAML, so this is resolved.

[2014-02-05 11:55] #427 closed, assigned to nobody

[2014-02-05 11:59] kmike commented on #160
@jskda do you know if we can close this ticket?

[2014-02-05 12:02] kmike commented on #160
I don't think we should move to QT because it is could be painful to install, and tkinter is in standard library. In case of @jskda doesn't know if all GUIs are working, I added a "goodfirstbug" tag as  @paulproteus suggested.

[2014-02-05 12:40] architagr-cs opened #595 "Does NLTK support coreference?"
Hi,

Does NLTK support coreference resolution and if yes how can I use it. I tried to google it but wasn't able to find anything relevant. What I want to do is to replace a pronoun in a sentence with its antecedent. For e.g "Ram bought a mobile. Now he wants to sell it."

What I want to do in the above sentence is to replace 'he' in the second sentence with 'Ram'. Can this be done?

[2014-02-05 13:31] cayorodriguez commented on #595
You should address this issues to the following google group: nltk-users

On Wed, Feb 5, 2014 at 1:41 PM, Archit Agrawal notifications@github.comwrote:

[2014-02-05 13:37] architagr-cs commented on #595
ok cayorodriguez

Thanks, will do that.

[2014-02-05 13:37] #595 closed, assigned to nobody

[2014-02-05 23:44] stevenxxiu commented on #160
@kmike I tested everything in `nltk.apps` and they appear to work. `FreqDist.plot()` and the download gui also work so I think this can be closed.

[2014-02-05 23:59] #160 closed, assigned to nobody

[2014-02-06 22:44] #572 closed, assigned to stevenxxiu

[2014-02-06 22:47] stevenbird opened #597 "Continuous integration"
It looks like our continuous integration testing service at ShiningPanda has gone away. NLTK has been queued at position 214 for three weeks now. We need to find another service. A small fee is fine.
https://jenkins.shiningpanda.com/nltk/job/NLTK-TOX/

[2014-02-06 22:54] stevenbird commented on #501
This is duplicated in issue #569

[2014-02-06 22:54] #501 closed, assigned to nobody

[2014-02-06 23:33] stevenbird commented on #530
I'd like to postpone this for consideration for version 3.1, so we can finalize 3.0 without further delay

[2014-02-06 23:42] stevenbird opened #598 "List of API changes"
Identify NLTK's API changes since 2.0.4, in list format, e.g.:
- `util.clean_html()` (dropped, use BeautifulSoup instead)
- `corpus.reader.wordnet.Synset.definition -> definition()`

This will help users port their nltk2 code to nltk3.

[2014-02-07 01:51] stevenxxiu commented on #597
There's a jenkins hosting program on cloudbees: http://www.cloudbees.com/foss/foss-dev.cb
Their free plan seems to be enough for nltk.

[2014-02-07 03:30] stevenbird commented on #597
I've applied for a free plan.

[2014-02-10 00:17] stevenbird commented on #598
Try using introspection to enumerate all names in NLTK 2.0.4 and 3.0alpha, then sort and use diff or comm.

[2014-02-10 00:23] stevenbird commented on #597
We've been given a free plan, so let's try it out.

[2014-02-10 00:25] stevenbird commented on #598
Please add them to the wiki page at https://github.com/nltk/nltk/wiki/Porting-your-code-to-NLTK-3.0

[2014-02-10 00:27] stevenbird commented on #569
Please put the instructions at https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software

[2014-02-10 00:31] stevenbird opened #600 "Alpha testing"
Run tests locally, and deal with any remaining failing tests (including 3rd party software).

[2014-02-10 06:38] stevenxxiu commented on #104
I've documented this in the wiki: https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software

[2014-02-10 08:46] stevenbird commented on #104
@ewan-klein can we drop Mallet 0.4 support from NLTK 3? And then we can see about adding Mallet 2 support later? This would deal with @rmunn's issue finally.

[2014-02-10 09:54] ewan-klein commented on #104
Yes, this sounds sensible.

[2014-02-10 10:29] kmike commented on #104
How much simpler is this Mallet interface going to be? I haven't used Mallet myself, but it looks like its main advantage is flexibility - you can use higher-order transition features and stuff like that.

But if what is needed is a first-order linear chain CRF then there are much faster implementations available like http://wapiti.limsi.fr/ or http://www.chokkan.org/software/crfsuite/. CRFSuite h

[2014-02-10 10:45] stevenbird commented on #104
@kmike the idea is to remove the Mallet interface for now. We can obviously consider adding one (or more) CRF interfaces as soon as someone wants to contribute them.

[2014-02-10 14:09] ewan-klein commented on #104
The potential advantage of Mallet is that is well known and also does topic detection. I agree that if people are looking for high-performance, then other tools might be better. I did some work on fixing the wrapper code, but haven't had time to finish it off. I'd be happy to have someone take it out of my hands!

[2014-02-10 21:41] htInEdin opened #602 "Serious problem with SimpleGoodTuringProbDist"
Given any fd with all singletons, SimpleGoodTuring becomes seriously confused, assigning _all_ probability mass to unseens:

Since this actually happens a lot with real ngram data, it renders not only SGT unusable, but the default for NgramModel.

[2014-02-10 21:44] sangheestyle commented on #565
@stevenbird It works for me also. Thanks!

[2014-02-10 22:38] stevenbird commented on #602
Thanks for the bug report. I've asked for a volunteer from nltk-dev to look into this.
https://groups.google.com/forum/#!topic/nltk-dev/pvusfr7OFnY

[2014-02-10 22:43] stevenbird commented on #565
Thanks to everyone for testing this out. @kmike I can't replicate the problem you reported with out-of-date packages.

[2014-02-11 07:11] kmike commented on #602
Both Good Turing and Simple Good Turing probability estimation methods assign `Nr(1)/N` probability mass to unknown events, and when all events are single this mass would be 1.0, leaving 0.0 for seen events. So I think it is a pathological case for SGT probability estimation method and you shouldn't use SGT for such data.

We may detect such cases in `_renormalize()` method and issue a warning (ra

[2014-02-11 15:01] htInEdin commented on #602
Mikhail Korobov writes:

That's just not a sufficient answer when NLTK ships with SGT as the
default estimator for NgramModel, and almost any NgramModel built from
nltk corpora _will_ contain such cases.

Shouldn't the warning be accompanied by a useful return value?
Returning 0 will, _inter alia_, cause an Exception if someone has
called logprob.

Again, if this is true then this default (from ng

[2014-02-11 15:54] kmike opened #603 "Don't use SimpleGoodTuring as a default for NgramModel"
See https://github.com/nltk/nltk/issues/602#issuecomment-34762070 for motivation. Since this change is backwards-incompatible I think it is better to fix it before NLTK 3 is released.

[2014-02-11 15:54] kmike commented on #602
I think you are right and SimpleGoodTuring shouldn't be used for ConditionalProbDist (which NgramModel uses), especially as a default. There are many reported issues with NgramModel: GH-133, GH-157, GH-167, GH-367, GH-380, GH-388, GH-396, but unfortunately it seems nobody is actively working on fixing them right now.

As a workaround you may try using LidstoneProbDist. I'm not an user of NgramMode

[2014-02-11 15:56] kmike commented on #157
I don't know if the issue is valid, but making this change would be backwards incompatible, so it is better to figure it out before NLTK 3.

[2014-02-12 01:33] #569 closed, assigned to stevenxxiu

[2014-02-12 01:33] stevenbird opened #604 "Link 3rd party installation instructions from NLTK homepage"

[2014-02-12 01:35] stevenbird commented on #597
We need to check if they will install the C libraries required to compile numpy.

[2014-02-12 01:40] stevenbird commented on #569
@dhgarrette are you able to replicate the problem reported by @jskda above please? We are not able to test the boxer interface. Thanks.

[2014-02-12 10:27] stevenbird commented on #104
@rmunn please open a new issue if there are any other obstacles to Linux packaging.

[2014-02-12 13:43] stevenxxiu commented on #597
Their python plugin (https://developer.cloudbees.com/bin/view/DEV/Python) seems to resolve the numpy install issue, but does not appear to have tkinter compiled in which causes some test-running errors.

I don't think tkinter is necessary to run tests, so maybe the tkinter import code in `nltk.compat` can be skipped while running tests. Is this the case?

The tests are running here now: https://nl

[2014-02-12 13:54] stevenxxiu commented on #594
@heatherleaf I've tried to fix this, does this work for you now?

[2014-02-14 13:29] heatherleaf commented on #594
Sorry, I missed your fix before. Yes, it seems to work fine now, thanks!

[2014-02-14 13:29] #594 closed, assigned to nobody

[2014-02-15 02:56] stevenxxiu commented on #597
Scipy is now installed on cloudbees jenkins.

Numpy source code indicates that it requires library extension names ending with *.so, so it wasn't able to find the libraries.

I added a script there to manually copy the libraries to the home directory with the correct file names. There should be no more dependency errors in the jenkins console log.

[2014-02-16 06:36] stevenbird opened #607 "Tokenizers for corpus readers"
Adopt a better tokenizer than `WordPunctTokenizer` in the corpus readers.

[2014-02-16 09:17] #586 closed, assigned to stevenbird

[2014-02-16 09:35] stevenbird commented on #602
In view of all these unresolved issues with the `model` package, and the fact that fixes will probably impact the API, I would like to drop the package from the toolkit. It only contains about 100 lines of code, and we should probably start over. It is not mentioned in the NLTK book. We don't seem to have resources to deal with these bugs at present. We need to finalize the API for 3.0 beta. Any o

[2014-02-16 09:55] stevenbird commented on #604
resolved in https://github.com/nltk/nltk3-alpha/commit/719390c125c0b9edddda80bb4b00de7b39b311f4

[2014-02-16 09:55] #604 closed, assigned to stevenbird

[2014-02-16 09:59] stevenbird opened #609 "Update installation instructions for 3.0"
The main installation page needs to be updated for 3.0, leaving old information for users of NLTK 2. http://www.nltk.org/install.html

[2014-02-16 10:18] stevenbird commented on #586
NB we can't name this function `tokenize()` given the existence of the `tokenize` package, and the requirement to be able to write the following: `from nltk import tokenize; tokenize(s)`

[2014-02-16 10:47] htInEdin commented on #602
Steven Bird notifications@github.com writes:

I guess not.  I've found a way to set it up to get useable results,
for letter bigrams at least, using a slightly hacked
WittenBellProbDist as the estimator, but it's a hack.

I've started a background task of building a way to compare the
behaviour of NgramModel+[some estimator] with an NgramModel with _all_
probabilities taken from an ARPA-format mod

[2014-02-16 11:25] stevenbird commented on #602
We can add language modelling functionality back in once 3.0 is finalised (and we can flag the API as experimental). I'd be interested in looking for resources to do this -- I think the functionality is important to have, both as a pure python reference implementation, and an interface to 3rd party software for large scale language modelling.

[2014-02-16 12:04] iliakur commented on #602
Sorry to jump in on this out of the blue. I may be able to find someone interested in supervising me at school to work on fixing the Ngram model stuff. I've contributed a smoothing class to this package and would hate to see that axed along with everything else.

[2014-02-17 16:13] helmanofer opened #610 "finder.nbest(trigram_measures.likelihood_ratio raises ValueError: math domain error in python 3.2"
Tested in python 2.7.2 and it worked
the code:

[code]

[2014-02-17 22:39] stevenbird commented on #610
I get the same error in Python 2.6.9.

[2014-02-17 22:48] jnothman commented on #610
I'll try to take a look at this soon...

[2014-02-17 23:14] jnothman commented on #610
For reference, a more minimal and complete example:

[code]

[2014-02-17 23:33] stevenbird commented on #597
@xim has also set up CI at https://travis-ci.org/xim/nltk

[2014-02-17 23:49] kmike commented on #597
Travis is great, and it'll be a big win if it will be working for us - one advantage is that it is integrated with github and runs on pull requests, so we can check them before merging without running tests manually.

[2014-02-18 07:18] helmanofer commented on #610
Seems like it's fixed, thanks a lot
Do you want me to close the bug?

[2014-02-18 10:24] xim commented on #597
The Shining Panda folks reactivated our account, they said we have had out jobs there stopped manually for long enough that they were automatically deleted. Maybe someone pressed “Customize build” and forgot to unlock it afterwards, or otherwise accidentally deactivated the job. If we want to stay on Jenkins, I suggest we stay there. They allow you unix user access to install and build whatever yo

[2014-02-18 10:38] stevenbird commented on #597
The processing of pull requests is very attractive.

Is there a cost factor? A few months back we exceeded some limit and I paid ShiningPanda $50 so we could do at least one build per day. What's the deal at Travis-ci?

What swrvice do Travis projects typically use for coverage?

[2014-02-18 12:35] stevenbird opened #612 "Testing metrics"
Add tests to give better coverage of these metrics:
https://github.com/nltk/nltk/pull/611

[2014-02-18 12:37] stevenbird commented on #610
Resolved in https://github.com/nltk/nltk/commit/7a6369dcc6a1d5f332ffa2457f2692e16ab2381f

[2014-02-18 12:37] #610 closed, assigned to stevenxxiu

[2014-02-19 09:50] stevenbird commented on #597
How about Coveralls? Looks easy to configure. https://coveralls.io/r/nltk/nltk

[2014-02-19 19:29] cash commented on #597
Travis-CI is free for open source projects. They have corporate sponsors for this service and in the past have done fund raising from individuals (http://love.travis-ci.com/). It is great advertising for their service.

They have a hard limit of 50 minutes for a run. There are ways to speed up really long builds by caching artifacts in something like S3 and downloading them rather then rebuilding

[2014-02-20 08:46] stevenbird commented on #602
Thanks @Copper-Head that would be very welcome. I'm going to take out the `model` package while we finalize NLTK 3.0, but I will leave it in a branch of the same name, and welcome pull requests anytime. Once the issues are dealt with, it can be reinstated. Feel free to discuss issues with the package on nltk-dev anytime, thanks.

[2014-02-20 09:03] stevenbird commented on #597
Thanks @cash. Well, I'm on for trying Travis and Coveralls. There's no harm in leaving the Jenkins instance at Shining Panda for now.

[2014-02-20 10:34] stevenbird commented on #561
I propose not to recommend use of map in place of the batch methods given the possible start-up cost (either in the existing implementation, or else in future implementations). I also propose not to introduce polymorphism. I used `*_sents`, following the naming in the corpus reader methods, except in the classify package where I used `*_many`.

[2014-02-20 10:40] stevenbird opened #614 "_iter methods by default"
In the case of any methods having non-iterator and iterator versions, we should drop the non-iterator version, and rename the iterator version (dropping `_iter`).

[2014-02-20 19:31] stevenxxiu commented on #598
I've made a diff using `comm` and now have added everything from the diff results into the wiki.

[2014-02-21 01:30] stevenbird commented on #561
Any objections to merging https://github.com/nltk/nltk/pull/613?

[2014-02-21 01:36] stevenbird commented on #598
I've also added the changes due to https://github.com/nltk/nltk/issues/561. That just leaves https://github.com/nltk/nltk/issues/614.

[2014-02-21 01:39] stevenbird commented on #600
We can now see failing tests at https://nltk.ci.cloudbees.com/job/nltk/lastSuccessfulBuild/testReport/

[2014-02-21 03:04] jnothman commented on #600
Does NLTK currently have a solution for docstring-testing outputs that include `u'...'` in Py2 and `'...'` in Py3?

[2014-02-21 11:11] kmike commented on #600
@jnothman yes, these strings should be considered the same by our nose plugin - see https://github.com/nltk/nltk/blob/develop/nltk/test/doctest_nose_plugin.py#L15. Output checker removes `u` string prefixes from the output using a regex. It may occasionally match something extra, but the issue is too common, so this behaviour is enabled by default.

[2014-02-21 12:41] kmike commented on #614
See also: https://github.com/nltk/nltk/issues/509

[2014-02-21 23:46] #561 closed, assigned to stevenbird

[2014-02-22 00:01] stevenbird opened #620 "ParserI interface"
The behavior of `ParserI.parse` is to return the first (or best) parse or else `None` if no parses exist, while `iter_parse` iterates over all parses, and `nbest_parse` returns a list of n parses. All implementations of `nbest_parse` find all parses before pruning the set. I propose to simplify these to a single `parse` method.

[2014-02-22 00:44] stevenbird opened #621 "Boolean values"
Use `True` and `False` instead of `1` and `0` for readability.

[2014-02-22 01:08] stevenbird opened #622 "bug in non-projective dependency parser"
The demo produces the following error in Python 3.2 (but not 2.6).

File "./nonprojectivedependencyparser.py", line 331, in best_incoming_arc
    if col_index in originals and self.scores[row_index][col_index] > max_score:
TypeError: unorderable types: list() > NoneType()

[2014-02-22 01:11] stevenbird opened #623 "bug in chart parser app"
The interactive chart parser application, `app.chartparser_app`, will only perform the top-down-init and top-down-predict rules.

[2014-02-22 01:13] stevenbird commented on #623
This happens in both Python 2.6 and 3.2 for me.

[2014-02-22 01:49] stevenbird commented on #614
@kmike thanks for the pointer; I've collapsed the distinction between `parse` and `parse_iter` in this pull request, and chosen iterator behaviour as the default, though in most cases (but not all), there is no efficiency benefit. I need to look at the cases which produce parse trees incrementally to decide whether this is the best approach overall, or whether I should get `parse` to return a list

[2014-02-22 05:13] stevenbird commented on #614
There's still an issue with parse/chart.py (possibly due to the way I collapsed `apply` and `apply_iter`) which results in some failing tests in test/parse.doctest.

[2014-02-24 15:11] heatherleaf commented on #623
This should be fixed by 6eda335

[2014-02-24 15:13] heatherleaf commented on #620
Fixed in pull request #627

[2014-02-24 15:13] heatherleaf commented on #614
fixed in pull request #627

[2014-02-24 15:17] heatherleaf opened #629 "Remove prob_parse from ParserI"
The ParserI methods `prob_parse` and `prob_parse_sents` are not used anywhere, and are not defined anywhere, so I propose to remove them from `nltk/parse/api.py`

[2014-02-24 17:43] stevenbird commented on #629
+1

[2014-02-24 19:14] heatherleaf commented on #620
I suggest that we keep the `n` argument from `nbest_parse` in the `parse` method:

[code]

[2014-02-24 23:11] stevenbird commented on #620
We might want to use a decorator to achieve this (in `api.py`), and that decorator may be useful for any NLTK method that returns an iterator.

[2014-02-25 06:36] heatherleaf commented on #620
Good idea. Can such an iterator add to the docstring too, and would we want that?

[2014-02-25 06:51] stevenbird commented on #620
It would be good to update the docstring too. Looks like that's not too difficult: http://stackoverflow.com/questions/13314054/python-decorator-that-maintains-signature-allows-modification-to-docstring-and

[2014-02-25 06:52] stevenbird commented on #620
However, there's another argument that a programmer can very well select the first n from an iterator without built-in support.

[2014-02-25 07:14] heatherleaf opened #630 "Remove decorators.py?"
Do we need the `decorators` module for anything? Currently it is not used anywhere.

If we want to keep it, perhaps we should move all decorators there.

[2014-02-25 07:15] heatherleaf opened #631 "Undocumented functions in util.py and help.py"
The following functions/classes in `util.py` are not documented:
- class `Index`
- `filestring(f)` -- it also has a misleading name, I suggest `read_from_file_or_string` or `file_or_string_read` or `filestring_read`
- `invert_dict(d)`
- class `OrderedDict`

The following functions/classes in `help.py` are not documented:
- `brown_tagset(tagpattern=None)`
- `claws5_tagset(tagpattern=None)`
- `upenn

[2014-02-25 07:16] heatherleaf commented on #631
Btw, shouldn't `OrderedDict` be moved to `compat` instead?

[2014-02-25 07:18] stevenbird commented on #630
We use `decorators.memoize()` in https://github.com/nltk/nltk_book/blob/master/book/ch04.rst

[2014-02-25 07:25] heatherleaf opened #632 "internals.Counter vs collections.Counter"
The class `internals.Counter` clashes with `collections.Counter`, we should rename it.

It is used in `inference/tableau.py` and several files in the `sem` package, nowhere else.

[2014-02-25 07:27] heatherleaf commented on #630
Ok, then perhaps move `memoize()` to `util`?

[2014-02-25 07:28] heatherleaf commented on #620
We already have a function `internals._add_epytext_field()` for this...

[2014-02-25 07:34] heatherleaf commented on #620
Yes, the programmer can select the first n, but then s/he needs to import itertools:

[code]

Not a big problem, but an unexperienced programmer might well try this instead, which is _bad_:

[code]

As a comparison:

[code]

[2014-02-25 08:07] stevenbird commented on #620
OK I'm convinced this is a good idea.

[2014-02-25 15:03] heatherleaf commented on #620
Here's a decorator that works, but it has one problem:

[code]

Here's an example:

[code]

The problem is that the original function signature disappears. I don't like that, the signature is very important for the readability.

[2014-02-25 23:45] stevenbird commented on #630
Good idea.

[2014-02-26 10:05] heatherleaf commented on #620
There's another problem with @stevenbird 's original suggestion to make .parse() return an iterator (or a list):

All other NLTK classes that implement a .parse() method return a single result -- ChunkParserI, sem.logic, featstruct, tree. (Even parse.malt and parse.stanford, but these can of course be modified).

Will this be a real problem for the users?

[2014-02-26 14:33] ams-bjones commented on #632
Since "internals.Counter" is for unique naming, Could "internals.UniqueNumber", be used instead?

[2014-02-26 16:37] stevenbird commented on #632
How about UID? Or UniqueIdentifier?

[2014-02-26 22:21] jnothman commented on #632
Delete it.

Replace:

[code]

with:

[code]

[2014-02-26 23:04] stevenbird commented on #632
Good idea, thanks.

[2014-02-27 11:07] #629 closed, assigned to nobody

[2014-02-27 11:22] stevenbird commented on #614
Most of the parse methods are now iterators (cf https://github.com/nltk/nltk/pull/634), and we need to decide what to do with the remaining ones that still return lists.

[2014-02-27 11:51] ewan-klein commented on #632
As I recall, this was something that Dan Garrette set up, in order to generate new variable names. One persistent problem with it was that when generating doctest results, we couldn’t reliably ensure that successive runs of the same test would generate the same variable names each time. I never succeeded in figuring out a solution. Is @jnothman's proposal going to make it easier to fix this?

[2014-02-27 11:57] jnothman commented on #632
This should give equivalent functionality (as long as no one has been
resetting the counter)... so I don't think it's any easier, but doesn't use
a custom helper

On 27 February 2014 22:51, Ewan Klein notifications@github.com wrote:

[2014-02-27 21:51] heatherleaf commented on #614
Are there any that return lists? I must have missed them. As I can tell, it's only MaltParser and StanfordParser that do not return iterators:
- MaltParser.parse() returns a single DependencyGraph
- StanfordParser.parse() returns a single Tree

It's quite easy to change this so that they return an iterator with exactly one result, but do we want that?

[2014-03-02 01:50] stevenbird commented on #620
Thanks for pointing out these cases. In the case of sem.logic, featstruct, tree, and RegexpChunkRule, the `parse()` method is being used to convert a string representation of some object into an instance of the object.  It doesn't have to be called parse, and it probably doesn't need to be public either. We could call a hidden method from the initializer (cf the way parse is called from `Tree.__in

[2014-03-02 20:23] heatherleaf commented on #620
Regarding sem.logic, featstruct, etc., I agree that a name change would be good. How about `read_from_string()`?

Regarding the parser API, there is one subtle but important difference between returning an iterator and a list: the empty list is false, but the empty iterator is true. If some parsers return a list, I suspect we will see code like this:

[code]

Which won't work for iterators. I pref

[2014-03-04 01:47] cartisan opened #638 "Senseval corpus contains irregular formed entries"
I'm iterating over the instances of senseval in order to collect the words but not the POS-tags. Following the how-to in http://www.nltk.org/howto/corpus.html I use `train += [w for (w, _) in instance.context]` .
However eventually I get an ValueError `ValueError: too many values to unpack`
because an instance.context contains the String `FRASL` instead of a tuple. A quick glance into hard.pos sho

[2014-03-04 14:36] watercrossing commented on #475
Good afternoon
i realise that this issue is 5 months old - but I have just pulled the latest develop and @stevenbird 's pull request broke a lot of my code.
I am not sure why these methods are necessary: none of these attributes require any computation, and they just clutter the code a lot. This is not pythonic - it looks like java. It also makes `dict()` even larger, as now not just `name`, but `

[2014-03-05 01:24] stevenbird commented on #475
@watercrossing unfortunately its rather late to be giving us this input! I share the aversion to Java style setters and getters. We have almost no setters, and so the getters are never `get_property()` but just `property()`. The point that "everything should be properties" wasn't really sustainable, and you yourself talk about the need to decide on a case-by-case basis. In many cases, the distinct

[2014-03-05 07:59] heatherleaf commented on #620
So here's my suggestion for the parser api:

[code]

Note that I've changed the return type for `parse_sents()` to return an iterator instead of a list. The input sentences doesn't have to be a list either.

Also note that it is fine for a subclass to implement just one of `parse()`, `parse_one()`, `parse_all()` or `parse_sents()` -- the other methods will accommodate.

Finally, in the current def

[2014-03-05 09:05] stevenbird commented on #505
Sorry for the delay; I'm planning to add this soon.

[2014-03-05 09:25] fcbond commented on #505
Great, we are ready to test it :-).

On Wed, Mar 5, 2014 at 5:05 PM, Steven Bird notifications@github.comwrote:

##

Francis Bond http://www3.ntu.edu.sg/home/fcbond/
Division of Linguistics and Multilingual Studies
Nanyang Technological University

[2014-03-05 11:07] watercrossing commented on #475
Thank you for the reply @stevenbird. I do realise that I am a bit late to this discussion - would it be too much to ask to at least keep backwards compatibility with `@property` decorators? That way users will get the benefit of having the unified getter methods and their old code will not need to be changed.

I will try to join these discussions earlier in future!

[2014-03-06 04:41] aht commented on #519
@ayushjaiswal how did you overcome the issue? i'm running into the same problem.

[2014-03-09 18:39] dimazest commented on #70
is this fix in the current development branch? it seems to be not there https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/xmldocs.py#L206

[2014-03-09 19:09] stevenbird commented on #70
@dimazest I don't understand why the fix is not there. Would you mind submitting your fix as a pull request against the development branch? Thanks.

[2014-03-09 19:25] dimazest commented on #70
Sure. Most probably it's because of a merge. Later I'll add test for BNCCorpusReader.

Check out https://github.com/nltk/nltk/pull/641

[2014-03-10 02:42] #70 closed, assigned to nobody

[2014-03-10 09:02] #622 closed, assigned to stevenxxiu

[2014-03-11 08:56] hyangchun opened #644 "Bug with nltk.internals.config_java"
There is a bug when finding java path on Windows 7 64bit system.

I haven't tried with other systems, but it tries to find "%JAVA_HOME%\java" instead of "%JAVA_HOME%\bin\java.exe"

I think it's a simple thing, but some people are having hard time with this when using java libraries from python including myself. Not very much to do to fix this, so I hope other people save their time.

[2014-03-11 11:20] stevenxxiu commented on #644
Can you try using the nltk version on the develop branch or nltk 3 alpha? There have been many changes since nltk 2 and the current nltk 3 alpha does search for `java.exe` as well as `java`.

[2014-03-15 10:52] djstrong opened #646 "WordNet reader UTF-8"
Using another language WordNet (e.g. Polish), that has keys in UTF-8 causes KeyError. It is because WordNet reader uses method `lower()`, that do not work with UTF-8. `lemma.decode('utf-8').lower().encode('utf-8')` would work.

Key causing error: `spowodować__DZIAŁANIE_DK_` is lowered to `spowodować__dziaŁanie_dk_` and should be to `spowodować__działanie_dk_`

This bug can be related to issue #299

[2014-03-15 11:10] kmike commented on #646
What NLTK version do you use?
Could you please paste the exception?

[2014-03-15 11:47] djstrong commented on #646
Version 2.0.4

[code]

[code]

As I said `lemma_name` in 1176 is `spowodować__dziaŁanie_dk_` and `_lemma_pos_offset_map` has not such key.

[2014-03-15 12:06] kmike commented on #646
Could you try it with NLTK development version (from github) or with NLTK 3 alpha (http://www.nltk.org/nltk3-alpha/)? There were numerous changes in unicode handling, but we haven't released a pypi version yet.

[2014-03-15 15:07] djstrong commented on #646
This problem does not exist in 3.0a3. Thanks!

[2014-03-15 15:24] kmike commented on #646
Thanks for checking that!

[2014-03-15 15:24] #646 closed, assigned to nobody

[2014-03-22 05:30] Liechti commented on #101
Is anyone working on this?  I wasn't able to find anything about it in the code or the docs. Is this still a desirable feature? If so, I would like to work on it.

[2014-04-07 14:07] Safadurimo opened #649 "wordnet corpora has non-existing pos 's'"
There are some synset, which habe the pos of 's'. Wordnet has only 4 different kinds of pos, see here: http://wordnet.princeton.edu/wordnet/man/wnstats.7WN.html
However, there seem to be five pos in the nltk interface:
set(s.pos for s in wn.all_synsets()) -> set(['a', 'n', 's', 'r', 'v'])
One example is the synset with name "dense.s.04"

[2014-04-07 14:39] nschneid commented on #649
's' stands for 'satellite adjective'. The adjective synsets are organized in clusters consisting of a core member (tagged 'a') and variants called satellites (tagged 's'). I do think this could be better documented.

[2014-04-08 00:02] prpole opened #650 "nltk.re_show right-strips whitespace"
The nltk.re_show() method right-strips whitespace. To replicate:

[code]

Expected behavior:
`{#}{awesome}{ }`

Current behavior:
`{#}{awesome}`

See [here](http://stackoverflow.com/questions/22924956/does-regex-automatically-ignore-trailing-whitespace) for discussion.

[2014-04-10 09:56] ewan-klein opened #651 "Update developer guide on wiki with info on gitflow procedure"
Add to https://github.com/nltk/nltk/wiki/Developers-Guide a summary of the procedure that was agreed in nltk/nltk#330

[2014-04-11 08:37] Martin-Porter commented on #125
Hello, sorry to arrive so late on the thread, but I wanted to set the record straight about my Russian stemmer (part of the snowball project). It is not for transliterated Russian, but merely uses a transliteration scheme for purposes of exposition. In the script of the stemmer itself, the Cyrillic character are represented by "macro" equivalents, so ш is represented by {sh}, щ by {shch} and so on

[2014-04-14 10:10] pquentin commented on #144
The original WordNet (Princeton WordNet) is the only WordNet that NLTK supports since no other WordNet that I'm aware of uses their format. To encourage experiments with [other wordnets](http://globalwordnet.org/wordnets-in-the-world/), I'd like to add support for more formats, starting with WordNet-LMF.

How would that work out? The `corpus.reader.wordnet` module roughly:
1. reads WordNet files
2

[2014-04-14 12:50] pquentin commented on #144
Oops, looks like I should have paid more attention to issue #505 from @fcbond. I guess I'll wait for @stevenbird to add it to nltk and nltk.data. Sorry for the noise.

[2014-04-15 00:17] ajschumacher commented on #519
Me too! What's up with this?

[2014-04-15 03:26] orbisvicis opened #652 "WordNet++"
Any thoughts on integrating http://lcl.uniroma1.it/wordnetplusplus/ into `nltk.wordnet`? I don't have the expertise to make the judgement, but it probably shouldn't replace the standard wordnet dataset. Therefore nltk module functionality would need to work with both sources.

What steps would this undertaking require? Could it be accomplished by something without any NLP experience?

[2014-04-15 09:19] stevenbird commented on #652
Thanks for this suggestion. I would be happy for this to live alongside the existing wordnet corpus reader, with a maximally similar API. It wouldn't require NLP experience to do this, just a careful look at the existing wordnet code to see what could be re-used.

[2014-04-16 04:42] stevenbird commented on #650
I don't know why we wanted `re_show` to right-strip whitespace. It's not used elsewhere in the toolkit, and only mentioned in passing in the book. However, what's the use case where right-stripping whitespace is undesirable?

[2014-04-16 07:51] heatherleaf commented on #650
I guess it's undesirable if you use `re_show` to teach/learn regular expressions

[2014-04-17 06:06] ayushjaiswal commented on #519
For me, it was not an NLTK problem as I had thought it to be. I had IPython installed on my system as well. By default, NLTK was getting installed under IPython, and was using IPython instead of Python. There might be some problem with the IPython libraries because when I removed IPython and reinstalled NLTK, it started working properly.

[2014-04-17 06:57] aht commented on #519
This solved the issue for me http://stackoverflow.com/questions/13395409/nltk-without-x11-on-osx-epd-64bit-python

[2014-04-17 12:31] ajschumacher commented on #519
Thanks! In the end @csojinb got it to work by uninstalling and then installing the latest Xquartz. Not sure how exactly that's related to nltk really, but the problem is functionally gone at least!

[2014-04-17 20:55] hayd commented on #519
Surely this is a bug? (this should fail more gracefully)

[2014-04-17 21:05] kmike commented on #519
Let's reopen this issue! @ayushjaiswal resolved his issue, but this shouldn't have failed in first place.
It'll be great if someone who has this problem debug it further and maybe submit a PR to fix it.

[2014-04-18 07:00] stevenbird commented on #623
Thanks @heatherleaf!

[2014-04-18 07:00] #623 closed, assigned to nobody

[2014-04-20 22:49] stevenbird opened #655 "Module docstring for Brill tagger"
Add a module docstring to `nltk/tag/brill.py`, cf https://github.com/nltk/nltk/pull/564

[2014-04-20 22:50] stevenbird commented on #555
Resolved. See https://github.com/nltk/nltk/pull/549, https://github.com/nltk/nltk/pull/564

[2014-04-20 22:50] #555 closed, assigned to stevenbird

[2014-04-20 22:51] stevenbird commented on #29
Resolved, see https://github.com/nltk/nltk/issues/555

[2014-04-20 22:51] #29 closed, assigned to nobody

[2014-04-20 22:52] stevenbird commented on #64
Resolved, see https://github.com/nltk/nltk/issues/555

[2014-04-20 22:52] #64 closed, assigned to nobody

[2014-04-20 22:52] stevenbird commented on #27
Closing, stale. Cf https://github.com/nltk/nltk/issues/555

[2014-04-20 22:52] #27 closed, assigned to nobody

[2014-04-20 22:54] stevenbird commented on #129
It would be check the new Brill Tagger on non-ascii text (cf https://github.com/nltk/nltk/issues/555).

[2014-04-20 22:57] stevenbird commented on #138
@ptnplanet would you like to submit a pull request?

[2014-04-20 22:57] #138 closed, assigned to nobody

[2014-04-20 23:45] stevenbird commented on #505
Sorry for the further delay. The data is now in the NLTK data collection, https://github.com/nltk/nltk_data/commit/fc2919dc43b151deca1d8281cfc4b41bda5c4691.
It appears as item 39 in NLTK's corpus collection, http://www.nltk.org/nltk_data/

[2014-04-21 00:10] stevenbird commented on #505
I would like to use the code contributed by @fcbond's students Nasruddin A’aidil Shari, Sim Wei Ying Geraldine, and Soe Lynn. https://gist.github.com/stevenbird/11128654
It adds a language parameter to the existing wordnet methods. When no language is specified, the default should be English (for backwards compatibility).

[2014-04-21 00:36] fcbond commented on #505
I think that makes sense.

On Mon, Apr 21, 2014 at 8:10 AM, Steven Bird notifications@github.comwrote:

##

Francis Bond http://www3.ntu.edu.sg/home/fcbond/
Division of Linguistics and Multilingual Studies
Nanyang Technological University

[2014-04-21 02:07] stevenbird opened #656 "Rename parse methods"
Method names that contain `parse` in their name, not used for natural language parsing, should be renamed appropriately. For instance, `Tree.parse()` reads a string and returns a tree object, and can be renamed `Tree._read()`. The same goes for methods in  `sem.logic`, `featstruct`, and `RegexpChunkRule`. Cf https://github.com/nltk/nltk/issues/620

[2014-04-21 03:18] stevenbird commented on #656
@dhgarrette would you be happy if we changed the name of `LogicParser` and its `parse` method to to some new name that does not encroach on the use of the "parse" for syntactic parsing of words?

[2014-04-21 03:31] stevenbird commented on #620
Sorry for the delay - I like this proposal, and have dropped it into the API definition in the iter branch here https://github.com/nltk/nltk/commit/51ab82b3e48e5168b2f523f34e15043516084d9b. @heatherleaf if you're still happy with this new interface, would you mind doing any required updates in the parse package please?

[2014-04-21 04:01] stevenbird commented on #614
The only outstanding issues here concern the parser interface, which is being dealt with elsewhere, https://github.com/nltk/nltk/issues/620.

[2014-04-21 04:01] #614 closed, assigned to stevenbird

[2014-04-21 19:31] heatherleaf commented on #620
Sure, I can do that. But not until after 10 May.

[2014-04-22 01:12] stevenbird commented on #620
I took a quick look and think I've found most of them, so I've merged the `iter` branch back into `develop`, and I'll see if the automatic integration testing throws up any errors. I'll fix those and try to get out another test distribution this month.

[2014-04-22 02:27] Liechti commented on #508
What's the issue here? Is there anything that still needs to be done?

It seems this was resolved in pull request [#499](https://github.com/nltk/nltk/pull/499).

[2014-04-22 02:46] stevenbird commented on #508
Thanks, yes it's resolved.

[2014-04-22 02:46] #508 closed, assigned to nobody

[2014-04-22 04:42] stevenbird opened #657 "PCFG vs WeightedGrammar"
NLTK's `WeightedGrammar` is actually a PCFG (since weights are normalised). We should consider changing its name to `PCFG` or `PCFGrammar` or `ProbabilisticContextFreeGrammar`.

[2014-04-22 04:50] stevenbird opened #658 "Standardise method for initialisation from strings"
Several classes now have a `read()` method which can be used for initialising an instance of the class from a string (cf tree.py, featstruct.py, grammar.py chunk/regexp.py). We need to audit the various ways that a string can be used to initialise a class, and try to standardise on using `read()`.

[2014-04-22 05:46] heatherleaf commented on #657
Since CFGs are called `ContextFreeGrammar`, I vote for `ProbabilisticContextFreeGrammar` even though it's looooong.

[2014-04-22 07:26] kmike commented on #658
Sorry if I'm too late, but I kind of dislike `read()` name: in Python it is usually used for reading data from a stream, and its argument is usually a number of bytes to read. This is the case for file objects, and objects from standard io, urllib, csv, json, configparser, codecs, zipfile and many other libraries.

What is called `read()` in NLTK can be called `fromstring()` (see array, xml standa

[2014-04-22 08:05] heatherleaf commented on #658
Good point. I vote for `fromstring()`, but humbly let @stevenbird make the final decision.

[2014-04-23 01:48] stevenbird commented on #658
Yes, good point, and I also prefer `fromstring()` to the alternatives.

[2014-04-23 06:06] heatherleaf commented on #620
Thanks. I'll just lean back and enjoy EACL then…

[2014-04-25 07:28] alvations opened #661 "Empty sentence in Indian hindi corpus that breaks zip() when training a tagger"
A user reported that the unigram tagger breaks when trying to train UnigramTagger, see http://stackoverflow.com/questions/23260915/how-to-train-unigramtagger-for-hindi/23286709#23286709

Is it possible to remove the last sentence for that subcorpus in nltk_data?

[2014-04-26 06:27] Liechti commented on #621
I took the results from
 `grep -rn "return [01]" .`
and went through the list, dividing it into "Change" and "No Change" (see the full list [here](https://gist.github.com/Liechti/11312842)). Please a take look to see if there is more that needs to be done.

Also the documentation for the `step` method in the `SteppingRecursiveDescentParser` class should be changed from `return: 0` to `return: None

[2014-04-29 19:12] kmike commented on #32
+1 for CoNLL 2003. I think that training data is more important than pre-training models because you learn by training your own models, not by using some prebuilt ones.

[2014-05-03 10:57] stevenbird commented on #505
Merged code plus some fixes in https://github.com/nltk/nltk/commit/d6b41500bb5f50b60186d0d3496161dd2a622fc0

[2014-05-03 10:59] stevenbird commented on #505
Some issues still remain, e.g. `wn.langs()` gives a different list to the one in `ls /usr/share/nltk_data/corpora/omw`. There are also some doctest errors in `test/wordnet.doctest`.

[2014-05-03 22:33] stevenbird commented on #422
@jskda was `wordnet._lcs_by_depth` inadvertently reinstated in your pull request? I guess that the developers of omw took a copy of wordnet.py before we removed this?

[2014-05-03 23:33] fcbond commented on #505
OK, I will fix these this week.  We have also added more languages to OMW
(Greek, Swedish) so I will add them.

On Sat, May 3, 2014 at 6:59 PM, Steven Bird notifications@github.comwrote:

##

Francis Bond http://www3.ntu.edu.sg/home/fcbond/
Division of Linguistics and Multilingual Studies
Nanyang Technological University

[2014-05-10 02:05] #658 closed, assigned to stevenbird

[2014-05-10 02:07] stevenbird commented on #656
In the absence of any objection, I'd like us to rename this parse method to `fromstring()`, then update our list of API changes at https://github.com/nltk/nltk/wiki/Porting-your-code-to-NLTK-3.0

[2014-05-10 02:21] stevenbird commented on #657
I'm still baulking at this. Other names that might be impacted are `FeatureGrammar`, `DependencyGrammar`, and `StatisticalDependencyGrammar`. I think the last of these should be probabilistic not statistical.
- `CFG`, `PCFG`, `DG`, `PDG`, `FG` -- non-starter
- `CFG`, `ProbabilisticCFG`, `DG`, `ProbabilisticDG`, `FG` -- no, seems like grammar must be expanded
- `CFGrammar`, `PCFGrammar`, `DGrammar`

[2014-05-10 02:40] stevenbird commented on #559
Merged into develop in https://github.com/nltk/nltk/commit/e4df597462981b6cee927c0286b934ce18ddd57b

[2014-05-10 08:04] heatherleaf commented on #657
Ultra-long names are fine. Perhaps we could use `Prob` instead of `Probabilistic`, but I prefer the latter.

+1 for renaming `Statistical` to `Probabilistic`

[2014-05-10 08:06] heatherleaf commented on #657
There is a chartparser class called `FeatureIncrementalBottomUpLeftCornerChartParser`, and when I get the time to make it probabilistic its name will be… :)

[2014-05-10 08:11] heatherleaf commented on #657
Here's a suggestion: define `CFG`, `PCFG`, `FG`, `DG`, ... as aliases for the ultra-long names, but don't export them to nltk by default. Then the following would be equivalent:
- `mygrammar = nltk.ProbabilisticContextFreeGrammar(...)`
- `mygrammar = nltk.grammar.PCFG(...)`
- `from nltk.grammar import PCFG; mygrammar = PCFG(...)`

[2014-05-10 08:31] kmike commented on #657
CFG and PCFG are common and easily recognizable abbreviations, I think it is fine to use CFG and PCFG names (unlike DF, FG and PDG). But long names are also fine.

I don't like aliases; they add a confusion, and users can do `from nltk import FeatureGrammar as FG` if they want a short name.

[2014-05-11 03:20] stevenbird opened #668 "Support Brat format"
Write a module to convert between NLTK's chunk structures to files in Brat format, cf http://brat.nlplab.org/standoff.html, http://stackoverflow.com/questions/23146072/converting-nltk-phrase-structure-trees-to-brat-ann-standoff, https://github.com/nlplab/brat

[2014-05-12 17:17] larsmans commented on #668
I'm not volunteering, but I am pinging myself because I want to add Brat format support to [xtas](https://github.com/NLeSC/xtas) and we might be able to share code.

[2014-05-12 22:35] jnothman commented on #668
I wrote a response on the stackoverflow, handling that case only. The issue
with Brat is that you have to choose how to represent a particular bit of
data: were our tree strictly binary, we could represent it with relations;
otherwise it's resented as nested text-bound annotations, and they
currently don't show an example where they have anything like a
constituency parse. So saying "I'm going to

[2014-05-13 08:47] larsmans commented on #668
Given the annotation configuration, it should be possible to tell whether the intended annotation is tree or chain-structured.

[2014-05-13 08:57] jnothman commented on #668
If I understand your suggestion, a converter (or at least an importer) would take Brat annotation configuration as input? I guess that has the potential to work. I'm still not sure of it in the context of NLTK.

[2014-05-13 11:55] larsmans commented on #668
Yes. And if I understand @stevenbird correctly, the main thing on the NLTK wish list is a conversion in the opposite direction, which should be even easier.

[2014-05-14 11:28] stevenxxiu commented on #505
I tried to extract the different languages by globbing the tab files, as I think some directories contain multiple tab files (/usr/share/nltk_data/corpora/omw/mcr, which has Catalán and Spanish). Is this alright?

[2014-05-14 11:35] fcbond commented on #505
Yes, that's right.

On Wed, May 14, 2014 at 7:28 PM, jskda notifications@github.com wrote:

##

Francis Bond http://www3.ntu.edu.sg/home/fcbond/
Division of Linguistics and Multilingual Studies
Nanyang Technological University

[2014-05-15 15:33] Tahnan opened #670 "Lost commits"
Hey--

If you look at https://github.com/nltk/nltk/commits/develop?page=4, you can see that a pull request I made (commits on Feb. 21) was merged into the develop branch on Feb 24. But the history for the file in question, https://github.com/nltk/nltk/commits/develop/nltk/stem/isri.py, shows its last change on February 16, and the changes I made are missing. They weren't _reverted_, they're just..

[2014-05-18 00:08] johncadigan commented on #668
I would be very interested in this. I'm looking for NLP projects to complete this summer. Would you like me to write it as a wrapper class to Tree or a module to manipulate files into .ann + .txt? What about the other data models supported by brat such as dependency graphs?

[2014-05-18 00:18] stevenbird commented on #670
@Tahnan thanks for looking into this. Yes this looks like some sort of git accident as you say. I guess we need to hunt down the original commits and re-apply them. In the case of `isri.py`, it might be a simple matter of you pointing me to the version that existed immediately after that merge, and I can reinstate that one. Would you mind doing this please?

[2014-05-19 20:20] Tahnan commented on #670
https://github.com/nltk/nltk/commit/8dc5f5b5fda42ceff08ac7d3d47d1f795b30dfc3 is the commit with the merge itself, which should give you the code post-merge.  https://github.com/nltk/nltk/pull/619 is the pull request for it; https://github.com/nltk/nltk/commit/8cb361957d2dc702009a92838c89f2718df70d94 and https://github.com/nltk/nltk/commit/3ced3e88649ba1ed47e3f7e8c97aad73b41a4e5c are the two partic

[2014-05-20 03:10] stevenbird commented on #670
I've added the new `isri.py`, and manually checked pull requests 617, 625, 627, and 628 and reapplied any changes that were missing.

[2014-05-20 03:10] #670 closed, assigned to nobody

[2014-05-28 11:25] stevenbird opened #675 "Tree initializer"
The `Tree` class is unusual in NLTK in allowing initialization from lists or from strings:

[code]

I propose that we drop the string initialization, for consistency with the rest of NLTK. Users can still do this:

[code]

[2014-05-31 22:55] stevenbird commented on #657
After some reflection, I'd like to prioritise convenience and readability over consistency. Where the short name is widely used, we should use it (thus: `CFG`, `PCFG`). Otherwise, we need to use the long name (thus: `FeatureGrammar`, `DependencyGrammar`, `ProbabilisticDependencyGrammar`).

[2014-06-01 00:21] stevenbird commented on #656
`LogicParser.fromstring` doesn't make sense because we're not creating a LogicParser but an Expression from the string. Instead, I propose that we replace `LogicParser.parse` with `Expression.fromstring`. Also the exception name `ParseException` is too generic and I propose that we replace it with `LogicalExpressionException` instead.

[2014-06-01 04:23] stevenbird commented on #656
I've made a start in https://github.com/nltk/nltk/tree/issue/656. I haven't worked out how to deal with `LinearLogicParser` or `DrtParser` yet. @dhgarrette, @ewan-klein what do you think?

[2014-06-01 21:36] SocialfiPanda commented on #675
I totally agree. I think I can take this one.

[2014-06-02 10:13] stevenbird commented on #675
Actually, I'm keen to have some more discussion before going ahead with this change.

[2014-06-03 08:01] stevenbird commented on #505
Commit https://github.com/nltk/nltk/commit/cf3a110208ff0cd07f9bde1c53548f7b62f95877 makes the  interface stable, and is neutral with respect to the possibility of adding this functionality back later (using additional method names, though I don't see a strong case for this).

[2014-06-03 08:02] #559 closed, assigned to stevenbird

[2014-06-03 08:04] stevenbird commented on #657
@heatherleaf are you ok with this solution?

[2014-06-03 08:05] #620 closed, assigned to stevenbird

[2014-06-03 08:17] heatherleaf commented on #657
Sure. It's not my first choice, but I'm fine with it.

[2014-06-03 09:05] heatherleaf commented on #675
I'm all for consistency. But we need to decide on the behaviour of `Tree("a")`:
- either it's illegal
- or it means the same as `Tree("a", [])`

I think it should be illegal, or the risk will be that people start writing `Tree("(a b c)")` and don't get what they think.

[2014-06-03 09:54] SocialfiPanda commented on #675
Yeah, letting `Tree("(a b c)") == Tree("(a b c)", [])` can produce some hard to trace bug for the user, wondering why they do not get the tree structure they intend to get. At least for me, throwing an exception for Tree initialization with only one string argument is a sane way to go.

[2014-06-04 03:28] stevenbird commented on #657
OK, thanks :)

[2014-06-04 03:29] #657 closed, assigned to nobody

[2014-06-04 13:40] ewan-klein commented on #656
Apologies for not responding sooner. I'm happy with the changes you've made so far, which seem perfectly sensible. @dhgarrette has primary ownership of the `LinearLogicParser` and `DrtParser` code, and may well have views on how to bring them into line with the current approach.

[2014-06-04 14:33] dhgarrette commented on #656
I like the changes.  Feel free to modify other stuff as you see fit.

[2014-06-06 20:13] alvations commented on #179
an updated discussion on https://groups.google.com/forum/#!topic/nltk-dev/rLhXQFIt2Xk

[2014-06-06 20:21] alvations commented on #174
try mini WALS API in SeedLing: https://github.com/alvations/SeedLing

[2014-06-06 20:27] alvations commented on #332
here's an example: https://github.com/alvations/DLTK/blob/master/dltk/tokenize/tokenizer.py but i agree with better documentation for it

[2014-06-10 00:52] stevenbird opened #680 "Incorporate readability metrics into NLTK"
https://github.com/nltk/nltk_contrib/tree/master/nltk_contrib/readability

[2014-06-10 22:58] stevenbird commented on #675
In the absence of any objections I'm going to accept this pull request. Thanks @jw2013, @kmike, and @heatherleaf for your helpful work!

[2014-06-10 22:59] #675 closed, assigned to stevenbird

[2014-06-10 23:07] SocialfiPanda commented on #607
Can I ask what are we looking for in this would-be better tokenizer?

[2014-06-11 06:42] stevenbird commented on #656
I've renamed `AbstractDrs` to be `DrtExpression`, so that what's going on in drt.py parallels logic.py, where the abstract base expression class is just called `Expression`. Now you can initialise any of the DRT expression types like this:

[code]

However, now there's a problem in drt.doctest, which has to import the "private" class. Any ideas for how to use `DrtExpression.fromstring` with `load_