[2016-03-22 01:37] grayben opened #1338 "panlex_lite installation via nltk.download() appears to fail"
Platform: Python 3.5 on Mac OS X 10.11.2
Steps to reproduce:
1. $ python3
2. >>> import nltk; nltk.download('all', halt_on_error=False)

Symptoms:
 # Partial console write:
[nltk_data]    | Downloading package panlex_lite to
[nltk_data]    |     /Users/beng/nltk_data...
[nltk_data]    |   Unzipping corpora/panlex_lite.zip.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

[2016-03-22 11:58] Mithrillion opened #1339 "dispersion_plot incorrectly imported in nltk/text.py"
The issue is around line 444
`from nltk.draw import dispersion_plot`
The function is actually defined in nltk/draw/dispersion.py
The above line causes a failure to import name error in a NLTK book chapter one example
The correct import should be:
`from nltk.draw.dispersion import dispersion_plot`

[2016-03-22 20:06] dexterzt commented on #738
What's the current status of this bug?

[2016-03-23 05:30] fysteven commented on #1335
Hey, actually I have this problem, too

[2016-03-23 08:16] iliakur commented on #738
I'll be pushing a regression/unit tested version of the NgramModel in the next couple of days.

[2016-03-23 16:04] dexterzt commented on #738
I'm also interested in contributing.

[2016-03-23 17:00] nschneid opened #1340 "Problem with lazy corpus loading in CHILDES?"
I would expect the following to display the beginning of the list fairly quickly:

[code]

But it hangs, suggesting that it's trying to load the entire corpus. Is there a more efficient way to implement this?

[2016-03-25 07:53] iliakur opened #1342 "Discussion: Resurrecting the Ngram Model"
Hi folks!

I'm working on making sure the Ngram Model module could be added back into NLTK and would like to bring up a couple of issues for discussion.

**Issue 1**
[Here](https://github.com/nltk/nltk/issues/367#issuecomment-15716162) @afourney said it would be nice to add interpolation as an alternative to the default Katz backoff as a way of handling unseen ngrams. I've been thinking about this

[2016-03-25 22:58] melvyniandrag opened #1344 "Return Type of WordNetLemmatizer"
[code]

I don't think we should have mixed types for a return value. This is a minor error that could be fixed. I've had some confusion on a number of occasions with NLTK due to 'str' vs 'unicode'. I think that it might be best if all NLTK modules return utf-8 for type safety/to avoid headaches.

What does everyone think?

[2016-03-25 23:14] alvations commented on #1344
I think that `str` vs `utf8` is fine since `WordNetLemmatizer` is only English-specific. And hopefully once everyone moves to Python3, this difference would disappear.

When checking for value equivalence, `str` vs `utf8` shouldn't have much problem in English:

[code]

But it does become an issue if later on in the pipeline there're individual type checks (but i think it's uncommon):

[code]

Pos

[2016-03-27 03:14] casperlehmann opened #1345 "Problem with parsing Chinese models output from StanfordPOSTagger"
The parser for the StanfordPOSTagger relies on a Separator to receive the output.

This is usually an underscore ('_'), but the output for the Chinese models for some reason uses '#'. This can be fixed by resetting the _SEPARATOR attribute before using the tagger.

[code]

Setup like this:

[code]

[2016-03-28 01:12] anttttti commented on #1342
It would be nice to have a working n-gram library in NLTK. SRILM has some Python wrappers for inference, but it has restrictive license. KenLM has a Python wrapper for doing inference, but it has dependencies in compilation. Neither has support for estimation. So currently there's no well-tested n-gram tools available for Python NLP.

[2016-03-28 22:06] iliakur commented on #1342
@anttttti Thanks for the feedback, I feel very motivated to submit a patch seeing all this demand for the feature :)

Do you happen to have any thoughts about the specific issues I posted?

[2016-03-29 08:47] anttttti commented on #1342
The advanced smoothing methods are simple to implement once you understand that they only differ in how the discounting and interpolation are defined. Earlier papers and much of the textbook descriptions make the models seem more complicated than they are, since people didn't understand the connections that well earlier. There shouldn't be a need for separate modules, just configuration of the smo

[2016-03-29 13:56] casperlehmann opened #1349 "Stanford Word Segmenter"
Issue #101 Concerned the lack of a Word Segmenter for Chinese Text. This issue relates specifically to the Stanford implementation.

There is some old code (2014) floating around for interfacing with the Stanford Word Segmenter, and it seems that quite a few people have implemented similar solutions over the years, but for some reason it has not yet been included in NLTK.

http://textminingonline.

[2016-03-29 16:00] freytheviking commented on #1294
Hello,

I was wondering if we could re-start the "AssertionError" conversation that was started here:

http://stackoverflow.com/questions/35508230/malt-parser-gives-assertion-error-when-using-it-with-nltk

I followed all the steps, downloaded files, unzipped the files, set up path variables for "MALT_PARSER" and "MALT_MODEL" and even changed the code in the find_maltparser function in malt.py:

![

[2016-03-29 16:07] alvations commented on #1294
@freytheviking which link did you use to download the MaltParser? Did you follow the steps on https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 ?

Try the "cheater" method and see whether it works: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9#step-5a-install-maltparser-the-cheater-way

[2016-03-29 16:43] freytheviking commented on #1294
@alvations That worked in creating the Malt Parser Object! However, I'm getting another error now :-(:

![image](https://cloud.githubusercontent.com/assets/16825648/14116008/5c4fb384-f5a3-11e5-9c32-474da6380eee.png)

Any quick ideas?

[2016-03-29 17:10] alvations commented on #1294
That looks like some failure on Java command. Are you using Java 8? How did you install Java?

Try to check whether MaltParser work on it own (outside of NLTK)?

[2016-03-29 17:35] freytheviking commented on #1294
@alvations I got it to work. I just had to update nltk. Thanks a lot for the help!

[2016-03-29 19:17] ezubaric commented on #1342
Issue 1) One thing that I think would be very useful is to have a utility for building a vocabulary and censoring OOV tokens.  That would correct many of the silly errors that frustrated users with the old versions.  I am attaching some code that does that (feel free to use or copy)
[lm.txt](https://github.com/nltk/nltk/files/194150/lm.txt)

Issue 2a) I think that it's still useful to have Kneser-

[2016-03-29 19:34] afourney commented on #1342
@anttttti "_The advanced smoothing methods are simple to implement once you understand that they only differ in how the discounting and interpolation are defined_"

@ezubaric "_Issue 2b) I worry that coupling ProbDist makes this far more complicated than it needs to be_"

Though I haven't looked at this code in a while, my sense is that both of these statements are true.

If I recall correctly, Co

[2016-03-29 20:28] iliakur commented on #1342
@afourney

Amen to that! I've been trying to make this work forever now (I submitted #800 and yea, it wasn't elegant at all) and I'm also starting to think there are just too many moving parts for it to be reasonable.

@ezubaric thanks a bunch for that file, I'm totally borrowing its spirit for the refactoring.

Based on all this feedback, here's my new take on the module structure. We have just o

[2016-03-29 20:32] alvations commented on #1342
@Copper-Head having similar interface to KenLM as much as possible would be good for future integration: https://github.com/kpu/kenlm/blob/master/python/example.py

I think after a stable version of `NgramModel` from NLTK is up, I can try to refactor `kenlm` wrapper to use similar interface as NLTK ones, like what we did for `scikit-learn`.

This function would help in the padding too: https://git

[2016-03-29 21:24] afourney commented on #1342
I think what @Copper-Head is suggesting is a class that counts unigrams, bigrams, trigrams, etc. in a coordinated way that is convenient to consume by downstream language models. In that case, I think the kenlm API does not apply yet. (I may be wrong, but from the example posted, it doesn't look like the kenlm API deals in raw frequency counts)

I think it is also worthwhile considering a minimal

[2016-03-29 21:46] afourney commented on #1342
And just to follow-up on that, the API proposed NgramModelCounter (or whatever we call it), should be designed after examining the needs of some common smoothing approaches. For example, we'll want to keep track of the number of species seen only once, twice, or N times (for Good-Turing etc.)

[2016-03-29 21:58] iliakur commented on #1342
Hmm, interesting point. I wonder though if keeping track of those counts for G-T might slow the training down a bit and unnecessarily so for folks who don't want to use that particular smoothing. I think it might make more sense to do the minimum in the basic `NgramCounter` class and then simply extend its training (or `__init__`) method in a subclass specialized for Good-Turing, or even in an imp

[2016-03-29 22:18] afourney commented on #1342
Sorry, it looks like I accidentally deleted a post. To fill in the missing context for future readers: I think it would be good to consider common smoothing techniques when designing the NgramModelCounter API. For example, allowing users to query the number of _species_ observed once, twice, or N times is important for Good-Turing smoothing (as well as Witten-Bell smoothing, etc.)

Edit: It looks

[2016-03-29 23:30] ezubaric commented on #1342
I like the idea of just having a counts object which can then be queried with subclasses that implement specific smoothing methods.

My only concern is that training will have issues if we don't have the ability to fix the vocabulary early: it won't be consistent with standard LM training processes, and tracking all vocabulary would cause the memory to blow up (which was a huge problem with the ol

[2016-03-30 07:01] iliakur commented on #1342
Noted. I have ideas for how to address this. I'll be posting a PR later today.

[2016-03-30 16:40] iliakur commented on #1342
PR #1351 is up!! Bring on the questions/nitpicks :)

[2016-03-31 23:30] #1340 closed, assigned to nschneid

[2016-04-01 21:12] #1349 closed, assigned to nobody

[2016-04-03 00:29] tanin47 commented on #1313
The semantic predicate computation is merged #1321

[2016-04-03 01:03] tanin47 commented on #1307
This will be solved by changing `\w` to `\S` as explained in #1354

[2016-04-03 01:03] #1307 closed, assigned to nobody

[2016-04-03 17:11] #1313 closed, assigned to nobody

[2016-04-03 17:17] tanin47 opened #1356 "A probabilistic parsing for CCG"
I'm thinking about implementing a probabilistic parsing for CCG because it might be wanted. It is mentioned in https://github.com/nltk/nltk/wiki/Semantic-Parsing, https://groups.google.com/forum/#!topic/nltk-users/m5rdxSFExF4, and http://stackoverflow.com/questions/26829904/lambda-calculus-representation-in-nltk-ccg
### The API

With semantics:

[code]

Without semantics:

[code]

If `[NUM]` is mi

[2016-04-04 08:59] alvations commented on #1285
Back to the smoothing issues.

I've looked at several implementation of BLEU and there's quite some variants.
- `mteval-13a.pl` has an option to get [non-smoothen BLEU](https://github.com/moses-smt/mosesdecoder/blob/master/scripts/generic/mteval-v13a.pl#L808),  it's the closest to original BLEU description in the Papineni et al. (2002) paper.
  - There's no indication of how this non-smoothen BLEU

[2016-04-04 10:02] odashi commented on #1285
Hi, sorry the comment in my mteval tool (as suggested above) looks a misleading.
The code corresponding to the comment "if at least 1 numerator is 0, the score becomes 0" runs after adding smoothing factor for (n>1)-grams.
So my tool behaves similar to Lin and Och (2004), if the "smoothing" option is set as 1.0.

[2016-04-04 10:17] alvations commented on #1285
@odashi Thanks for the correction! I've updated the previous thread accordingly.

[2016-04-09 21:20] stevenbird commented on #1344
Thanks @melvyniandrag and @alvations. I think this is a minor issue and it's going away as people switch to Python 3, so not worth expending resources.

[2016-04-09 21:20] #1344 closed, assigned to nobody

[2016-04-09 21:21] stevenbird commented on #1338
@grayben – would you please install the current version of NLTK and report if you still have this issue?

[2016-04-10 01:41] christophchamp opened #1357 "ChangeLog date errors"
Your ChangeLog (https://github.com/nltk/nltk/blob/develop/ChangeLog) appears to have the wrong release dates:

Currently: Version 3.2 2015-03-03
Should be: Version 3.2 2016-03-03

Currently: Version 3.2.1 2015-04-09
Should be: Version 3.2.1 2016-04-09

[2016-04-10 02:04] stevenbird commented on #1357
Thanks @christophchamp

[2016-04-10 23:48] alvations commented on #7
The `nltk.parse.generate.demo()` is a working example.

[code]

But @ghost is right about the infinite loops:

[code]

[out]:

[code]

[2016-04-10 23:54] alvations commented on #7
Within python, there is a default recursion limit that will kick in at runtime: https://docs.python.org/3.5/library/sys.html#sys.setrecursionlimit

So I think we can either close this issue and let the users find out the recursion nature of their CFG or add a mechanism to check for recursion at [grammar initialization](https://github.com/nltk/nltk/blob/develop/nltk/grammar.py#L421) or at [generati

[2016-04-11 00:25] alvations commented on #7
Given that Python checks for recursion, we could do catch the error and warn the user with the following at https://github.com/nltk/nltk/blob/develop/nltk/parse/generate.py#L39 :

[code]

E.g.

[code]

[2016-04-11 00:42] alvations commented on #28
Possibly, @vchahun wrapper could be appropriate port for nltk: https://github.com/vchahun/pyxfst to add to `nltk.parse`.

Volunteers?

[2016-04-11 00:45] alvations commented on #53
@alexrudnick `pylucene` could be replaced by [`whoosh`](https://pythonhosted.org/Whoosh). There's an easy example of `whoosh` usage with text corpora at https://github.com/alvations/shiva-something/blob/master/ngram_context.py that we can easily port to `nltk`.

[2016-04-11 00:58] alvations commented on #144
A good [`NAF`/`KAF`](http://www.newsreader-project.eu/files/2013/01/techreport.pdf) reader API would be good.

[2016-04-11 02:27] alvations commented on #1293
Looks like a quirky bug:

[code]

[2016-04-11 03:40] rmalouf commented on #911
This is pretty weird.  My guess would be that the last line of `_resolve` should be `return tmp`.  The comments say this was contributed by Piotr Kasprzyk... is that you, @kwadrat?

[2016-04-11 04:00] alvations commented on #1294
Anyone else having the same issue with the updated `nltk` v3.2.1 ?

@stevenbird Otherwise, i think it's safe to close this =)

[2016-04-11 04:58] rmalouf commented on #993
This is still a problem (in Python 2.7).  The problem is in `_handle_lusubcorpus_elt()`, specifically:

[code]

The type of `elt.get('name')` is either `str` or, if it contains a non-ASCII character, `unicode`, so the extra call to `str()` either is redundant or will fail.  A very simple solution is to just take out the call to `str()`, thusly:

[code]

Then `sc['name']` will also either be a `str

[2016-04-11 05:26] alvations commented on #1293
This is indeed a quirky bug =)

When trying to [align blocks of sentences](https://github.com/nltk/nltk/blob/develop/nltk/translate/gale_church.py#L119), there's a chance that [none of the sentence pairs meets the minimum distance](https://github.com/nltk/nltk/blob/develop/nltk/translate/gale_church.py#L154) with respect to the parameters set at https://github.com/nltk/nltk/blob/develop/nltk/trans

[2016-04-11 09:45] pkasprzyk commented on #911
@rmalouf it's me. And on a side note: wow, that's some code I'm not proud I've written. Created a PR that should fix the immediate bug, though the whole file begs some heavy rewrite...

[2016-04-11 09:50] kwadrat commented on #911
@rmalouf  The correct "Piotr Kasprzyk" is @piotrkasprzyk   I mainly write programs in Python programming language :)

[2016-04-11 13:00] rmalouf commented on #911
Thanks @kwadrat  and @piotrkasprzyk!

[2016-04-11 13:10] nschneid commented on #993
Apologies, I had fixed this with a bunch of other planned improvements that I never finished testing.

[2016-04-11 22:51] rmalouf commented on #781
You're right that replacing the XMLCorpusView implementation with a standard XML parser would be a big improvement, but in the short term there's a way to bypass most of nltk's extra overhead.  If you set `lazy=False` when you open the corpus, it uses ElementTree to parse the xml files directly rather than nltk's incremental XML parser.  This speeds things up dramatically:

[code]

[2016-04-12 15:53] wooters commented on #993
Thanks @nschneid !

[2016-04-13 11:26] abojchevski opened #1361 "SyntaxError"
On Travis CI the following error occurs for `Python 3.2.5`
Just by calling `from nltk import download`
Actually it even happens with just `import nltk`

[code]

[2016-04-13 14:12] #993 closed, assigned to stevenbird

[2016-04-13 14:29] #565 closed, assigned to nobody

[2016-04-14 21:34] dimazest commented on #781
Good to know, maybe this should be documented.

[2016-04-15 01:56] tanin47 commented on #1361
That's odd. It seems to work on Python 3.5 and 2.7:

[code]

and

[code]

I'll investigate. Maybe something is specific with python 3.2.5

[2016-04-15 02:17] tanin47 commented on #1361
`u'somestring'` is a valid statement for most python versions. The syntax is there in v2+, is removed from 3.0, then is reintroduced again in 3.3.

From https://docs.python.org/release/3.0.1/whatsnew/3.0.html, it says `You can no longer use u"..." literals for Unicode text.`

From https://docs.python.org/release/3.3.0/whatsnew/3.3.html, it says `The u'unicode' syntax is accepted again for str obje

[2016-04-15 23:41] stevenbird commented on #1361
We don't support Python 3.0 and 3.1. It's probably time to drop support for 3.2 actually.

[2016-04-15 23:44] #1361 closed, assigned to nobody

[2016-04-15 23:45] #1357 closed, assigned to nobody

[2016-04-16 14:49] stevenbird commented on #1294
@alvations, thanks for going beyond the call of duty here!

[2016-04-16 14:49] #1294 closed, assigned to nobody

[2016-04-16 19:48] tanin47 commented on #1361
Thanks @stevenbird

@abojchevski I hope you can change the python version. The `u` thing is very strange; Python shouldn't have done this..

[2016-04-16 21:04] dennisobrien commented on #1339
I ran across this problem as well with Python 2.7.11 and Python 3.5.1.  The problem seems to be in `nltk.draw.__init__.py` which is attempting to `import tkinter` first and only if this is successful does it bring `nltk.draw.dispersion.dispersion_plot` into the `nltk.draw` namespace.
https://github.com/nltk/nltk/blob/develop/nltk/draw/__init__.py#L17

`dispersion_plot` does not depend on `tkinter`

[2016-04-16 22:32] #1339 closed, assigned to nobody

[2016-04-17 12:39] abojchevski commented on #1361
We decided to drop support for Python 3.2 support as well. Thank you for the responses.

[2016-04-18 03:38] alvations commented on #13
@fcbond is this issue still valid for the latest version of the NLTK API to wordnet?

[2016-04-18 05:39] alvations commented on #26
The `nltk.help` includes documentation of the tagsets.

[code]

@paulproteus, I think [@alexrudnick was referring to adding the tagset information to the corpora themselves](https://web.archive.org/web/20101224062054/http://code.google.com/p/nltk/issues/detail?id=45), possibly something like this (that is not implemented yet).

[code]

@stevenbird is there a list of corpora in NLTK sorted by which

[2016-04-18 05:46] alvations commented on #36
`nltk.corpus.masc_tagged` is available now.

**Is the `oanc` in this issue referring to `masc`?** If not, which zip file is OANC residing in the `nltk_data` directory?

[2016-04-18 05:49] alvations commented on #40
@ewan-klein is this issue still valid given the latest code?:
- https://github.com/nltk/nltk/blob/develop/nltk/parse/dependencygraph.py
- https://github.com/nltk/nltk/blob/develop/nltk/parse/nonprojectivedependencyparser.py
- https://github.com/nltk/nltk/blob/develop/nltk/parse/projectivedependencyparser.py

[2016-04-18 05:54] alvations commented on #45
Is it possible to give an example of how/why `BracketParseCorpusReader._parse()` fails?

That way we can check what exceptions it's raising when it fails with `raise`? Currently the `try-except` is catching `ValueError` which doesn't tell us much.

[2016-04-18 06:00] alvations commented on #52
The cyclic bug isn't there anymore in the latest version of the wordnet API:

[code]

[2016-04-18 06:22] alvations commented on #1254
@goodrahstar did @longdt219's hint and/or the setup examples in the gists work?

[2016-04-18 06:45] alvations commented on #1293
After referencing my old code, I realize that NLTK is still saving the traces differently from @vchahun's implementation, https://github.com/alvations/NTU-MC/blob/master/ntumc/toolkit/gale_church.py#L115

[2016-04-18 07:15] stevenbird commented on #52
Thanks @alvations!

[2016-04-18 07:15] #52 closed, assigned to nobody

[2016-04-18 07:37] alvations commented on #1293
The issue seems to be a problem where the `backlinks[pos]` return a `None` type at `trace()`, when the `align_blocks()` didn't assign an align type to the pair of sentence blocks. That usually happens when you have non-monotonic sentence/paragraph pairs (see [slide 3 in gacha's technical manual](https://dl.dropboxusercontent.com/u/45771499/GaChalign.pdf)).

To overcome it, we would have to reduce

[2016-04-18 08:09] alvations commented on #1285
From the polls (https://twitter.com/alvations/status/717647857768144896), it seems like most people are using the non-smoothen BLEU which is the root of the wave of BLEU related issues when users use the `bleu()` function on small datasets which results in 0 ngram matches for higher order ngrams.

Maybe we should add an option to cover `bleu(..., smoothing=None)` or `bleu(..., smoothing=False)`, w

[2016-04-18 10:50] goodrahstar commented on #1254
@alvations yes it worked but with few small tweaks in the code.
Sorry got busy ..... thanks a lot @longdt219 for the response :)

[2016-04-18 22:52] Donald522 opened #1367 "russian stopwords"
A list of russian stopwords need to be expanded by following words:

badwords = [
    u'я', u'а', u'да', u'но', u'тебе', u'мне', u'ты', u'и', u'у', u'на', u'ща', u'ага',
    u'так', u'там', u'какие', u'который', u'какая', u'туда', u'давай', u'короче', u'кажется', u'вообще',
    u'ну', u'не', u'чет', u'неа', u'свои', u'наше', u'хотя', u'такое', u'например', u'кароч', u'как-то',
    u'нам', u'хм', u

[2016-04-19 05:29] grayben commented on #1338
@stevenbird sorry for my delay in replying - you know how uni assignments can be!
I was experiencing the issue on v3.2. I just upgraded to v3.2.1 and am having the same issue.

[2016-04-19 05:41] alvations commented on #1338
@grayben How did you install NLTK? Do you have an error when downloading a single corpus, e.g. `nltk.download('brown')`? Do you have an error when using Python2.7?

[2016-04-19 06:12] grayben commented on #1338
@alvations
1. I installed NLTK for python2 and python3 via pip and pip3, respectively.
2. I do not have the error when downloading a single corpus which is not panlex_lite
3. The error has occurred using **either** Python2.7 or Python3.5

[2016-04-19 06:15] grayben commented on #1338
Additional information: a number of my classmates have reported what appears to be the same problem, though I can't comment on their configurations or exactly what they did to encounter the issue.

[2016-04-19 06:23] alvations commented on #1338
@grayben could you run the following lines of code and see whether you get the same `[0, 448887900, 85839474]` output?

[code]

[2016-04-19 06:32] alvations commented on #1338
On the command line outside python, what is the output for the following?:

[code]

[2016-04-19 06:34] grayben commented on #1338
Your code -> my output:

[code]

I then changed `' /Users/beng//nltk_data/corpora/panlex_lite.zip'` to `'/Users/beng//nltk_data/corpora/panlex_lite.zip'` (no space before root):

[code]

[2016-04-19 06:35] grayben commented on #1338
[code]

[2016-04-19 06:39] alvations commented on #1338
This suggests that when downloading, the file gets corrupted (possibly due to broken internet connection):

[code]

Go to `'/Users/beng//nltk_data/corpora/`, delete the `panlex_lite.zip` file and then re-download it again. Note it might take up to 2+ hours or more to download that zipfile when the server is overloaded or your internet connection is slow.

[2016-04-19 12:45] iliakur commented on #1367
@Donald522 is this suggestion based on some literature or on frequency counts?

[2016-04-20 03:02] grayben commented on #1338
I did the following (three times):
1. `rm /Users/beng//nltk_data/corpora/panlex_lite.zip`
2. `python3`
3. The following Python commands:

[code]

However, please also note the following command input/output:

[code]

[2016-04-20 03:06] alvations commented on #1338
Can you also do `rm -rf /Users/beng//nltk_data/corpora/panlex_lite` before running the `python3`?

i.e.:

[code]

I couldn't reproduce your `OSError` on Ubuntu 14.04 Python 3.5.1:

[code]

BTW, if you're not going to use `panlex`, the rest of `NLTK` will work just fine without it =)

[2016-04-20 03:15] grayben commented on #1338
[code]

[code]

Furthermore, through the downloader GUI, downloading "all" finally succeeds, with all fields marked "installed".

[2016-04-20 03:19] alvations commented on #1338
Great! So there's no `OSError` now? It's the broken `panlex_lite` directory (from previous downloads) lingering around that caused the `OSError`. Once the `infolist` of the zipfile is right, there shouldn't be a problem.

Enjoy playing around NLTK! Tell your friends/classmates to do the same too:

[code]

[2016-04-20 03:21] grayben commented on #1338
Thanks!

[2016-04-20 03:37] alvations commented on #1325
Maybe you'll fine this helpful: http://pastebin.com/WwFCjYtt

But i'm not sure whether which module it should go under within NLTK.

[2016-04-20 03:59] alvations commented on #1326
This issue has been resolved. Please upgrade your NLTK, `pip install -U nltk`, take a look at the start of gist for tried/tested installation instructions for Windows: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9

[2016-04-20 04:03] alvations commented on #1320
@mdornfe1 when installing from `pip`. use `pip install -U nltk`. The `-U` parameter would update the repo.

[2016-04-20 04:04] #1320 closed, assigned to nobody

[2016-04-20 04:04] #1326 closed, assigned to nobody

[2016-04-20 04:04] #1293 closed, assigned to nobody

[2016-04-20 04:05] #1279 closed, assigned to nobody

[2016-04-20 04:05] alvations commented on #1279
This issue would have been resolved with the latest version of NLTK, see #1338 for an explanation on why.

[2016-04-20 04:10] alvations commented on #1298
@sat230594 are you still having problems after following the instructions from the github gist?

[2016-04-20 04:13] alvations commented on #752
@hcorreasuarez are you still having the same error after upgrading to the latest version of NLTK? Try `pip install -U nltk` to upgrade your NLTK version.

[2016-04-20 06:17] #1298 closed, assigned to nobody

[2016-04-20 09:53] #1254 closed, assigned to nobody

[2016-04-20 13:48] Donald522 commented on #1367
@Copper-Head This suggestion is based on my experience of using the library during the mining data from russian social network Vkontakte. These words have very high frequence of use and have no sence.

[2016-04-20 15:04] iliakur commented on #1367
I see. The reason I ask is because the current stopwords corpus is clearly tied to a specific stemming approach (and paper):
**PORTER, M. F. 1980. "An Algorithm for Suffix Stripping." Program, 14(3), 130-37**

IMHO, it may be a bit risky to start amending this with data coming from people's individual experiences with very specific domains. It simply can lead to unpredictable behavior.

For exampl

[2016-04-21 03:23] nschneid opened #1369 "FrameNet corpus reader: load annotated exemplar sentences and full-text documents"
Proposed interface:
## General
- `fn.sents(exemplars=True, full_text=True)`
- `fn.annotations([luNameRegex], exemplars=True, full_text=True)`
- `sent.annotationSet[0]` for POS tagging, `sent.annotationSet[>0]` for frame annotations
## Lexicographic exemplars (one annotationSet per sentence; not organized into documents)
- `fn.exemplars([luNameRegex])`
- `lu.exemplars`
- `lu.subCorpus`
## Full-text

[2016-04-21 04:00] nschneid opened #1370 "FrameNet corpus reader: display sentence with inline target & FE annotations"
Given that lexicographic and full-text annotations are available (#1369), we want a user-friendly way to display them in the console for interactive browsing.

The proposed solution has the following displays:
## Full-text sentence display

Sentences in full-text documents (potentially) contain multiple annotated targets. This display notes which spans are targets and indicates the corresponding a

[2016-04-21 04:02] nschneid opened #1371 "FrameNet corpus reader: PT, GF display"
In addition to #1370, there ought to be a user-friendly display of PT (phrase type) and GF (grammatical function) information on each FE (perhaps with PT.GF notation, e.g. `PP.Dep`). Two obstacles at present:
1. Always showing this in addition to FE names risks cluttering the annotationSet display. Perhaps make the display configurable with a global option? E.g. `fn.set_opt(show_pt_gf=True)` (and

[2016-04-21 04:15] nschneid commented on #1370
Outstanding issue: What to do about LUs with Problem status, which are thus not given an LU definition file (yet may occur in full-text annotation)? Currently displaying the sentence causes warnings and an error:

[code]

[2016-04-21 04:23] nschneid opened #1372 "FrameNet corpus reader: deduplicate sentences?"
Esp. when iterating over both exemplars and full-text (as full-text sentences may show up in exemplars)? Do sentences have consistent IDs to make this possible, and is it always clear which version should be provided?

[2016-04-21 04:25] nschneid opened #1373 "FrameNet corpus reader: specify experimental splits?"
There are standard splits of FN 1.5 into train/dev/test (e.g., as used in [Das et al. 2014](http://dx.doi.org/10.1162/COLI_a_00163)). Should we provide a simple interface for accessing sentences according to these splits? What to do with data that is changed or added in FN 1.6+?

[2016-04-21 04:26] nschneid commented on #1373
Is there a comparable API for experimental splits in other NLTK corpora? @stevenbird?

[2016-04-21 04:36] nschneid opened #1374 "FrameNet corpus reader: load valence information?"
As displayed in the tables in of Lexical Entry reports, e.g.: https://framenet2.icsi.berkeley.edu/fnReports/data/lu/lu17486.xml?mode=lexentrytop&banner=

[2016-04-21 09:40] nsndimt opened #1375 "a bug when using StanfordSegmenter in windows"
nltk version:3.2.1 jdk 1.8.0_77
when using StanfordSegmenter in windows with all arguments set properly,i got an java error message:Could not find or load main class edu.stanford.nlp.ie.crf.CRFClassifier
i manage to figure out the cause:
line 63 in nltk\tokenize\stanford_segmenter.py
self._stanford_jar = ':'.join(
            [_ for _ in [stanford_segmenter, slf4j] if not _ is None])
should be
sel

[2016-04-21 10:16] ardanalbant opened #1376 "Chunk grammar usage"
http://stackoverflow.com/questions/36765146/nltk-chunk-grammar-doesnt-read-commas

The topic i created explain the issue can someone help me out ?

[2016-04-21 10:38] #1376 closed, assigned to nobody

[2016-04-21 15:58] nschneid commented on #1371
Re: (2): There is precedent for adding a limited amount of space to make room for token metadata. Search the code for "add space in the sentence to make room for the annotation index".

[2016-04-21 16:12] nschneid commented on #1370
Workaround for Problem LUs: when they are encountered, add a placeholder to the LU index that holds its name and frame. However, the placeholder LU is only accessible by its ID; it is not listed in the frame or searchable by name with `lus()`:

[code]

In the full-text sentence display, the Problem LU is flagged with `?` as described above.

[2016-04-21 16:40] ghost commented on #1334
I also have this issue and have found nothing to say when it will be reinstated. Very frustrating.

[2016-04-21 16:44] nschneid opened #1377 "FrameNet corpus reader: smarter memory management?"
With loading annotated sentences (#1369), the potential memory footprint of FrameNet data gets very large. For some use cases there is no need to keep everything in memory—e.g., a script might want to process one sentence at a time, but currently all the sentences are kept in memory.

Should this be avoided with a cache size limit? Using [weakref](https://docs.python.org/2/library/weakref.html)?

[2016-04-21 17:42] nschneid opened #1378 "FrameNet corpus reader: configurable handling of data integrity warnings"
Add a `_warn()` method to be called if a suspicious piece of data is encountered, e.g., an annotationSet with no target, or a full-text annotationSet whose LU is omitted from the lexicon (it has Problem status; see #1370). By default, these warnings are silent, but they can be enabled to print to a file (by default: stderr):

[code]

[2016-04-21 17:44] nschneid commented on #1378
A crude way to search the full-text annotations for a particular kind of error:

[code]

[2016-04-21 18:21] nschneid opened #1379 "FrameNet corpus reader: faster way to access full-text annotations by LU?"
The current implementation of `fn.annotations()`, which can be used to search both exemplars and full-text annotationSets, allows for filtering by LU. However, the way it does this for full-text is simply to iterate over all annotationSets and only return the ones that match the LU.
- Is there a full-text LU index that would make this more efficient?
- This design ignores annotationSets with Probl

[2016-04-21 19:34] nschneid opened #1380 "LazyIteratorList"
In working on enhancements to the FrameNet corpus reader, I found it would be convenient to define a lazy sequence type that is instantiated with an iterator (such as a generator expression). I came up with the following:

[code]

which enables things like:

[code]

Before I check in the changes to the corpus reader, should this class go in https://github.com/nltk/nltk/blob/develop/nltk/util.py? T

[2016-04-23 02:06] stevenbird commented on #1380
@nschneid this is really great. It's always bothered me that we've had to convert a corpus iterator into a list in order to index it.

I'm thinking that this might warrant a new module, e.g. `nltk/collections.py`.
Things like `OrderedDict` from util.py could go there too.

[2016-04-23 02:11] stevenbird commented on #1356
@tanin47 – sorry for the delay. I think this is promising and worth exploring further. Do you have any proposal about how to estimate the probabilities?

[2016-04-23 05:14] tanin47 commented on #1356
You mean estimating the prob for each primitive category? If so, then no. I haven't thought of it yet. Let me get back to you on this.

[2016-04-23 12:23] JohannesBuchner opened #1381 ""attempt" classified as past verb"
The word "attempt" is classified by pos_tag as VBD.
According to http://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html this is "Verb, past tense".
But "attempt" is present tense (VB) and attempted is the past tense (VBD).

[code]

Not sure what other words fall in this error class.

It would be nice if "going to", "will", "shall" could be used to indicate future tense in a sen

[2016-04-23 12:49] alvations commented on #1381
No model is perfect =(

Also, you should try to sentence tokenize your text first (this won't change the the POS tags much though):

[code]

But do note that even state-of-art tagger like Stanford POS Tagger makes the error too:

[code]

#1214 asks for better basic NLP tools and I think this issue would fall under that too.

[2016-04-23 12:53] alvations commented on #1381
Interestingly, the good ol' HunPOS seems to get better tags:

[code]

The SENNA tagger does pretty well too:

[code]

[2016-04-23 13:06] JohannesBuchner commented on #1381
With
`
maxent_tagger = load("taggers/maxent_treebank_pos_tagger/english.pickle")
maxent_tagger.tag(tokens)
`

I get good results -- I think I will stick with that for the moment, since I don't want to install other executables (HunPOS seems to be an alternative though).

[2016-04-23 19:51] nschneid commented on #1380
Yeah, util.py is a bit crowded, so moving classes into collections.py seems sensible.

[2016-04-25 02:39] alvations commented on #1330
After the mini-roadmap, a wrapper to Moses MERT's BLEU would be great since it's top of the "state-of-art" list in terms of human correlations score as reported in https://www.computing.dcu.ie/~ygraham/graham-acl15.pdf

[2016-04-26 11:49] stevenbird commented on #1330
+1 to this: "Write a wrapper for or port mteval-13a.pl and write tests to assert that our implementation corresponds to mteval-13a.pl's implementation."

A shortcut would be to save output from `mteval-13a.pl` and test against that.

[2016-04-29 20:00] brendanpatrickmurphy commented on #123
There are still problems with how POS Tagging works for these corpora. This afternoon, I loaded up JEITA, and called jeita.tagged_words(). The problem is that the second half of each tuple in JEITA doesn't contain a tag that is easy to test against a POS-tagger. The second half of each tuple contains both orthographic information (each word in the corpus has a spelling for each syllabary in Japane

[2016-04-29 20:08] kmike commented on #123
@brendanpatrickmurphy could you please open an issue for that?

[2016-04-29 20:41] brendanpatrickmurphy opened #1384 "Japanese Corpus readers do not return properly formatted (word, tag) tuples"
There are still problems with how POS Tagging works for these corpora. This afternoon, I loaded up JEITA, and called jeita.tagged_words(). The problem is that the second half of each tuple in JEITA doesn't contain a tag that is easy to test against a POS-tagger. The second half of each tuple contains both orthographic information (each word in the corpus has a spelling for each syllabary in Japane

[2016-04-29 20:56] brendanpatrickmurphy commented on #123
opened #1384

[2016-04-29 21:40] alvations commented on #1384
Actually, 動詞-自立 一段 基本形 tag is not unlike the hierarchical POS tags from other languages, you can break them up or collapse them, e.g. see page 22 on the [`NTU-MC`](https://dr.ntu.edu.sg/bitstream/handle/10220/7790/Liling%20Tan.pdf?sequence=1&isAllowed=y), and also this: https://www.sketchengine.co.uk/xdocumentation/wiki/tagsets/jpwac

And the two orthographic forms are actually good because it's a

[2016-04-29 21:48] brendanpatrickmurphy commented on #1384
I would still hold its an error to include orthographic information as part of a POS tag.

[2016-04-29 21:55] alvations commented on #1384
Agreed that the API should been better.  Maybe `namedtuple` on the tag would be a better interface:

[code]

[2016-04-29 22:30] brendanpatrickmurphy commented on #1384
That looks much better to me.

[2016-04-29 22:37] nschneid commented on #1384
I agree with @brendanpatrickmurphy that it's confusing from an NLTK perspective to mix orthographic information in with the POS tag.

It seems like the word form flexibility is similar to some corpora which provide lemmas. How is this handled in other NLTK corpora? The corpus readers I'm familiar with include:
- SemCor: `semcor.tagged_chunks(tag='pos')` vs. `semcor.tagged_chunks(tag='sense')`. The

[2016-05-01 18:09] ventice commented on #1325
Looks like I have to make a PR when I have this module ready. For now closing.

[2016-05-01 18:09] #1325 closed, assigned to nobody

[2016-05-02 17:06] nschneid opened #1385 "CHILDESCorpusReader: should words() behave like sents() under some circumstances?"
Currently, because of [this line](https://github.com/nltk/nltk/blob/609079da96be0c992e7cb64187dc3ef17a8ff368/nltk/corpus/reader/childes.py#L402), if the user calls `.words(relation=True)`, then the result will be a list of _sentences_ with dependency information shown on each token.

[code]

Is this the desired behavior? On the one hand, the dependency indices are per-sentence, so it would be diff

[2016-05-02 19:25] nschneid commented on #1385
Another problem is that the dependency trees (at least in Hebrew) are defined over morphemes rather than word tokens—indeed, two morphemes within the same token can be headed by different other words. So perhaps the interface which permits dependency relations should be called `.morphs()`.

[2016-05-02 19:28] nschneid commented on #1385
Also, punctuation (e.g., `<tagMarker type="comma">` in the XML; other types are `vocative`, `tag`) is currently omitted, though they have dependency relations defined.

[2016-05-03 02:22] nykh opened #1387 "GhostScript error when displaying inline Tree structure for Jupyter notebook"
I just reinstalled my system including Jupyter notebook and nltk, and found out that the inline display of tree as png file which used to work like a charm is now broken.

First, relevant installation info
nltk (3.2.1)
jupyter (1.0.0)
jupyter-client (4.2.2)
jupyter-console (4.1.1)
jupyter-core (4.1.0)

Also
GPL Ghostscript 9.18 (2015-10-05)

I experimented on both python3.5 and python2.7, but this

[2016-05-03 02:41] alvations commented on #1387
@nykh can you post the code the cause the error in the traceback? We can help you faster/better with a minimal working example =)

[2016-05-03 02:48] alvations commented on #1387
Seems like the latest version of GPL Ghostscript causes the conversion from `.ps` -> `.png` to fail.

[2016-05-03 03:21] nykh commented on #1387
Hi @alvations
It can be reproduced as below
(in ipython notebook)

import nltk

nltk.tree.Tree.fromstring("(test (this tree))")

So GhostScript is updated! Interesting...

On Mon, May 2, 2016 at 7:48 PM, alvations notifications@github.com wrote:

[2016-05-03 03:24] alvations commented on #1387
I just checked on converting a `.ps -> .png` with Ghostscript 9.18. It works with:

[code]

I think the problem might be deeper in with the latest version of `Tkinter`. All the [previously working examples](http://stackoverflow.com/questions/23429117/saving-nltk-drawn-parse-tree-to-image-file) are failing when saving into `.ps` files. They do show fine on the canvas editor though.

[2016-05-03 03:27] nykh commented on #1387
Interesting, I confirm I can generate output.png on my system... So maybe
the problem is with how the .ps is generated?? oh no :(

On Mon, May 2, 2016 at 8:25 PM, alvations notifications@github.com wrote:

[2016-05-03 10:45] houmie commented on #1338
I get the exact same problem with latest NLTK 3.2.1 both on Ubuntu 16.04 (which crashes my whole OS) and on OSX I get the same errors as OP.    I'm surprised that this case has been closed as if there was nothing wrong with it.

When trying the workaround it fails after this step, as it tried to extract it automatically right after downloading it: `python -m nltk.downloader panlex_lite`

[code]

T

[2016-05-03 11:56] alvations commented on #1338
@houmie what is your output for:

[code]

[2016-05-03 13:44] ExplodingCabbage opened #1390 "Stanford taggers are slow because they launch the JVM whenever they tag something; launching a Java servlet and communicating via TCP would be faster"
As noted at http://stackoverflow.com/questions/23322674/how-to-improve-speed-with-stanford-nlp-tagger-and-nltk, NLTK's wrappers for the Stanford taggers are really slow.

@alvations [suggests](http://stackoverflow.com/a/23322996/1709587) batching operations to get around this, but this isn't always convenient. It would be nice to instead be able to [launch a servlet](http://nlp.stanford.edu/softwa

[2016-05-03 17:15] dimazest commented on #1390
Please have a look to #1249  it uses Stanford's server new http api and is supposed to be fast.

[2016-05-04 03:32] shyamalschandra opened #1391 "Installed nltk with brew on OSX El Capitan and 'word_tokenize' is not found"
I just went through the example on the main page (http://www.nltk.org/).  What am I missing in terms of dependencies?

[code]

Thanks!

[2016-05-04 04:12] alvations commented on #1391
Change the name of your script/project to something else other than `nltk.py`. The namespaces are clashing. Please take a look at http://stackoverflow.com/questions/1224741/trying-to-import-module-with-the-same-name-as-a-built-in-module-causes-an-import/1224760#1224760

[2016-05-05 14:27] alvations commented on #1391
@shyamalschandra did changing the name of your script fix your problem?

[2016-05-08 04:03] stevenbird opened #1392 "Doctests for model package"
We need doctests for the new model package, as pointed out by @Copper-Head in #1351.

[2016-05-08 07:03] iliakur commented on #1392
Ah, crap, I'm actually about to sit down to write some :)

[2016-05-09 07:19] stevenbird commented on #1381
Thanks @JohannesBuchner and @alvations. I guess there is nothing to do at this point, so I will close this.

[2016-05-09 07:19] #1381 closed, assigned to nobody

[2016-05-09 07:20] #1380 closed, assigned to nobody

[2016-05-10 11:55] awhan opened #1394 "nltk.text.Text.dispersion_plot() fails with ImportError: cannot import name 'dispersion_plot'"
How to reproduce?

[code]

Error log in IPython shell:

[code]

Versions:

[code]

[2016-05-10 19:28] oleg-kachan opened #1395 "Are there Stanford text-to-sentence functionality in NLTK?"
Unfortunately have not found one, does it present or not?

[2016-05-10 19:34] oleg-kachan opened #1396 "Add support "multiple parsing variants" functionality for Stanford Parser [and custom command-line options]"
Stanford Parser is able to do multiple parsing guesses of the same sentence, each parse variant goes along with its log-probability. This is done via _\- printPCFGkBest n_ option in the command line.

I've implemented this by myself for my project by subclassing StanfordParser, adding a key and updated code to build multiple trees from parser raw output.

If NLTK maintainers and users are interest

[2016-05-10 19:40] oleg-kachan commented on #1395
Stanford splitter seems to be most accurate open-source solution, so I think it should be added to NLTK, if it's not there yet.

![alt text](http://tech.grammarly.com/static/final-results.png)
http://tech.grammarly.com/blog/posts/How-to-Split-Sentences.html

[2016-05-11 07:46] pedritomelenas opened #1397 "ResolutionProverCommand (and unify) problem"
I have a problem with the `ResolutionProverCommand`.

[code]

Outputs `True`, which shouldn't be the case. If we print the proof with `print(demostracion.proof())`, we get
[1] {-R(z41)}           A
[2] {P(z43), Q(z43)}    A
[3] {-P(z45), -Q(z45)}  A
[4] {}                  (2, 3)
As you see, the module thinks that the resolvent of [3] and [4] is the empty clause, which is not. The problem seems to

[2016-05-14 14:58] xyproto opened #1398 "Version number for nltk corpus data"
Hi,

I'm packaging nltk-data for Arch Linux, but where is the latest version number? I could not find this anywhere.

Here's the package that I'm in the process of updating: [nltk-data](https://www.archlinux.org/packages/community/any/nltk-data/).
Here's the old sourceforge page that is currently down: [nltk.sourceforge.net](http://nltk.sourceforge.net/).

An addition to the FAQ, a release log or

[2016-05-15 22:49] nschneid opened #1399 "API for extracting syntactic-semantic features"
@annefried's [SitEnt Syntactic-Semantic Features](https://github.com/annefried/syntSemFeatures) is a tool for English that marks things like countability on NPs and morphological tense (perfect, progressive, etc.) on verbs. It relies on PTB-style POS tags and Stanford dependencies, and bundles some wordlists (e.g. from CELEX). Seems like it would be useful to have some or all of this functionality

[2016-05-18 09:56] mikejewell opened #1400 "Perceptron data loading issue with UNC paths"
Hi,

We're storing our data under an UNC path (i.e. our NLTK_DATA is on the lines of \\mypath.com\nltkdata), and this causes the following error on data loading for tag/perceptron.py. All other data loading seems to be fine (e.g. chunk/__init__.py has no problems).

We've been tweaking perceptron.py a little to debug, so the line numbers are a little off. We're currently using this alteration whic

[2016-05-20 15:34] germanferrero opened #1401 "AttributeError: type object 'Tree' has no attribute 'parse' in ConllCorpusReader.parsed_sents()"
`AttributeError                            Traceback (most recent call last)
/opt/STools/python/2.7-x86_64/lib/python2.7/site-packages/IPython/core/formatters.pyc in **call**(self, obj)
    688                 type_pprinters=self.type_printers,
    689                 deferred_pprinters=self.deferred_printers)
--> 690             printer.pretty(obj)
    691             printer.flush()
    692

[2016-05-20 15:44] germanferrero commented on #1401
PR: https://github.com/nltk/nltk/pull/1402

[2016-05-21 12:52] racekiller commented on #1253
Hi once panlex_lite is downloaded manually where should I put it within nltk_data?
Thanks

[2016-05-21 23:41] stevenbird commented on #1253
Please see http://www.nltk.org/data.html

[2016-05-22 01:14] lucasrodes opened #1404 "AssertionError: Bins parameter must not be less than freqdist.B()"
Hi,
I have been testing the model package for text classifying and it seems to work very good. However, I have been using `LidstoneProbDist` until now and I would like to test the classifier using `WittenBellProbDist`. Nonetheless, I am getting errors and I couldn't find any reference implementing this estimator.  In particular, I have been using:

[code]

which worked pretty fine. Now, I just cha

[2016-05-22 01:38] xiaozongyang commented on #1253
`corpora`, my complete path is `/usr/local/share/nltk_data/corpora`

------------------ Original ------------------
From:  "racekiller"notifications@github.com;
Date:  Sat, May 21, 2016 08:53 PM
To:  "nltk/nltk"nltk@noreply.github.com;
Cc:  "肖宗阳"xiaozy@mails.ccnu.edu.cn; "Comment"comment@noreply.github.com;
Subject:  Re: [nltk/nltk] how to download corpus panlex_lite package in nltk inpython (#125

[2016-05-22 08:32] #1401 closed, assigned to nobody

[2016-05-22 13:06] iliakur commented on #1404
Hi!

The model package has been significantly overhauled due to a ton of bad bugs in the old version (some of which are related to the error you posted). Please try out the new model package from the corresponding [branch](https://github.com/nltk/nltk/tree/model).

Thanks!

[2016-05-22 16:18] lucasrodes commented on #1404
Hi, thanks for your comment. I tried it, however I could not find documentation on the internet on how to use it (references are welcome).. In particular, I saw that NgramModel has disappeared and BaseNgramModel has appeared...

Thats basically why I am working with the old version, since I have to submit a work and I am time limited. However, I will try to investigate and play with it in the near

[2016-05-22 22:27] iliakur commented on #1404
The newest version is still in development, so there's no documentation aside from the source and test code, I'm afraid. On the bright side, the code is designed to be **significantly** easier to understand than the old version, so ideally you shouldn't have to worry about sinking in too much time. That being said, all suggestions for how to improve the code and tests are very welcome!

Check out

[2016-05-25 00:05] nprad opened #1406 "Issues with MaltParser interface with Glue Semantics"
[code]

Even when you specific the malt parser directory, there are more errors. It's inconsistent with the book.

[2016-05-25 00:22] alvations commented on #1406
@nprad, the maltparser API in NLTK has been revamped last year such that it's less buggy than the interface presented in the book.

It's now essential to [include the `parser_dirname` directory parameter when instantiating MaltParser](https://github.com/nltk/nltk/blob/develop/nltk/parse/malt.py#L110)

Here's an example of how to get the current MaltParser interface to work: http://stackoverflow.co

[2016-05-25 03:32] nprad commented on #1406
I am still getting an error on the MaltParser end, even when trying to run your code.

[code]

[2016-05-25 03:42] alvations commented on #1406
Must you use your own `RegexpTagger`?

If not, try:

[code]

If so, then:

[code]

Or when using the default NLTK `pos_tag`:

[code]

[2016-05-25 13:57] nprad commented on #1406
This got me further down, but I'm still getting errors. I'm just using `pos_tag` and trying to run the following code.

[code]

But I get this error.

[code]

[2016-05-25 14:06] alvations commented on #1406
Now that has to do with how DRT code is interfacing MaltParser's output. Possibly @dhgarrette would know better about the `nltk.sem.glue` module.

BTW, for sanity check, what is your output for:

[code]

[2016-05-25 14:12] nprad commented on #1406
[code]

Here is my output. Thanks for all the help.

[2016-05-25 21:47] dhgarrette commented on #1406
After looking into it a bit, I think the issue must be that the newer version of MaltParser is using different dependency labels from the version against which the glue.py code was developed (which was <=2008).  For example, the glue.semtype grammar says that a transitive verb should have arguments 'subj' and 'obj', but MaltParser is returning 'nsubj' and 'dobj', which is why it's failing.

Furthe

[2016-05-26 09:51] dimazest commented on #1395
Please have a look to #1249 it should not be difficult to extend that pull request to split text to sentences.

[2016-06-01 02:35] alvations commented on #1330
While debugging why Chen and Cherry's method 6 didn't work as expected, it seems like we had an error in the `p_n` indexing at https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.py#L538.

The other smoothing methods were reporting 0.4-ish BLEU scores while method 6 was reporting 0.1801. After changing line [L538](https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.

[2016-06-02 03:44] accraze commented on #514
yep looks like this works when setting the protocol to 1

[code]

Is persisting this classifier something that should be added to `util.py`?

[2016-06-07 12:33] alexisdimi opened #1410 "CorpusReader chokes on empty files"
If there is a completely empty file (size 0) among the files of a corpus, the reader chokes with a thoroughly uninformative `AssertionError`.

[code]

I found a [pull request](https://github.com/nltk/nltk/pull/1408) for this issue, but no associated bug report. I don't believe the work-around in the pull request is a good solution. Submitting my own pull request.

[2016-06-08 04:59] #1410 closed, assigned to nobody

[2016-06-09 04:18] periscube commented on #1248
Hi Duygu

It would be fantastic if you do that. Could be very useful for sentiment analysis on Turkish texts / forums / twitter data..

[2016-06-10 03:44] mr-solebrity commented on #1196
I actually noticed the similar behaviour here with the word `men`.  `men` is in the exceptions list and should be `man` after lemmatizing.  I do also see `men` as a lemma by itself, but the exception should take precedence. No?  I think the main cause of this is acutally the `min(lemmas, key=len)` compounded by the fact that the original word is prepended to the list of forms before `filter_forms`

[2016-06-13 13:45] zcc973784075 commented on #11
what's the way to solve that i.e. 'RecursiveDescentParser' object has no attribute 'nbest_parse'?THX

[2016-06-13 23:30] MInner commented on #124
this workaround is still required (renaming files): http://stackoverflow.com/a/36935784/232371

[2016-06-16 16:01] fievelk opened #1414 "pip download-cache unavailable"
Users that use `pip 8.0.0` and above experience the following issue (especially while running `tox` tests):

[code]

Since `pip 6.0` the `--download-cache` flag used to be deprecated, but could still be used. On the contrary, newer versions of `pip` are not backward compatible with regard to this flag.

**6.0 (2014-12-22)**:

**8.0.0 (2016-01-19):**

Since two years passed since the `--download-ca

[2016-06-16 20:49] stevenbird commented on #1414
Thanks @fievelk!

[2016-06-16 20:49] #1414 closed, assigned to nobody

[2016-06-21 02:22] stevenbird opened #1417 "is_cjk test is broken"
@alvations – it looks like `is_cjk` breaks on our [CI Server](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/testReport/). Would you please look into this?

[2016-06-21 02:24] stevenbird opened #1418 "aline breaks in Python 2.7"
There's a character encoding issue for `metrics.aline` in Python 2.7, as reported by our [CI server](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/testReport/).

[2016-06-21 02:24] stevenbird commented on #1418
@geoffbacon – would you please take a look at this?

[2016-06-21 02:26] stevenbird opened #1419 "ReppTokenizer breaks on CI Server"
There are errors reported by the [CI Server](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/testReport/) for `ReppTokenizer`.

[2016-06-21 02:26] stevenbird commented on #1419
@alvations – would you please look into this?

[2016-06-21 02:44] alvations commented on #1419
That's most probably happening because the CI server didn't have Repp installed and that module is a Repp wrapper. Should we (i) skip the doctest for it or (ii) somehow modify the jenkin.sh script to install Repp as in https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software#repp-tokenizer?

[2016-06-21 03:53] alvations commented on #1419
I skipped all doctest except for one. It's better to skip too rather than adding more load to the server.

[2016-06-21 04:05] alvations commented on #1419
Once REPP is properly installed, it should work as such:

[code]

[2016-06-21 05:17] #1417 closed, assigned to nobody

[2016-06-21 05:18] stevenbird commented on #1419
This is fine, thanks @alvations

[2016-06-21 05:18] #1419 closed, assigned to nobody

[2016-06-21 07:54] fievelk commented on #1418
Please refer to the [NLTK Testing](http://www.nltk.org/dev/local_testing.html#writing-tests) guide:

[2016-06-21 15:24] alvations opened #1421 "Issues with UnicharsCorpusReader and NonbreakingPrefixesCorpusReader"
For `UnicharsCorpusReader` in Python 2.7, the doctests needs handle the unicode characters properly, see https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/nltk.corpus.reader.wordlist/UnicharsCorpusReader/chars/

For `NonbreakingPrefixesCorpusReader` in Python 3.5, something funky is going on with how the paths are read and NLTK is

[2016-06-22 05:48] alvations commented on #1421
I am not able to replicate the errors in Python 3.5.1 on my machine:

[code]

Did anyone else have the problem as reported on https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/nltk.corpus.reader.wordlist/NonbreakingPrefixesCorpusReader/words/ ?

[2016-06-22 11:53] alvations commented on #1421
Seems like it's not the corpus reader code that's causing the problem but it's that the nose test didn't download the data before running the tests for the corpus readers' tests: https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/nose.failure/Failure/runTest_2/

[2016-06-22 12:19] alvations commented on #1421
This is a rather perplexing regex at https://github.com/nltk/nltk/blob/develop/nltk/corpus/util.py#L69

[code]

In https://github.com/nltk/nltk/blob/develop/nltk/corpus/__init__.py , we usually initialize the `LazyCorpusLoader` as such:

[code]

In that case, if we go through the regex `re.sub(r'(([^/]*)(/.*)?)', r'\2.zip/\1/', 'stopwords')`, the `zip_name` in the `LazyCorpusLoader.__load()` would

[2016-06-24 21:50] vsocrates commented on #131
Has this been implemented? I don't see it in the documentation, but there isn't any resolution here? Agree that it would be super useful.

[2016-07-02 14:42] fluhus opened #1424 "Stanford parser breaks UTF-8 characters"
[This line](https://github.com/nltk/nltk/blob/develop/nltk/parse/stanford.py#L219) `stdout = stdout.replace(b'\xa0',b' ')` breaks 2-byte characters such as 0xc3 0xa0 (à).

To reproduce (python 3):

[code]

I got:

[code]

I believe a more specific character sequence should be used instead of '\xa0'.
Also, it would be helpful to have a comment above those lines, that explains why they are necessary

[2016-07-02 15:28] dimazest commented on #1424
Consider using the code proposed in #1249 It uses web api and should work fine with unicode.

[2016-07-02 18:03] fluhus commented on #1424
Thanks, but I am getting errors with your proposed code, even with a simple basic use. I can post them on your pull request thread if you want.

So until the new implementation is stabilized, maybe it's possible to fix this one. I'd do it myself if I knew what that code was supposed to do.

[2016-07-03 02:04] dimazest commented on #1424
Could you share the error.

[2016-07-03 22:54] jmwoloso opened #1425 "Test Suite Errors and SSL Certificate Issues"
Hello,

Linux: Mint 17.3
NLTK: 3.2.1
Python: 3.5 (and 3.4)

When I try and run <code>nltk.download()</code>, I get an error stating `SSL: CERTIFICATE_VERIFY_FAILED`

Also, when I attempt to run the `nosetests`, none of the files that should be in `nltk/test/unit/files/` are there and some tests fail with the following traceback:

[code]

This has always worked flawlessly in the past, so I'm thinki

[2016-07-03 23:51] jmwoloso commented on #1425
Update: After a restart the SSL error ceased. Now just need to figure out why the test files aren't where nose expects them to be...

[2016-07-05 07:24] michal-au opened #1426 "nltk/parse/stanford.py maxLength support"
It would be nice if we could set the value of the Stanford parser's `maxLength` parameter from nltk. Now, one has to iterate through all the sentences, split them into words and filter out the long ones. Setting one parameter and letting the parser do it instead would be much more convenient...

[2016-07-05 15:28] Datamance commented on #1338
This is not fixed - it's happening for python 2.7, 3.4.3, and 3.5.1. The panlex_lite download hangs for quite a while, and then unzipping freezes the GUI and/or causes the OSError.

[2016-07-06 06:05] #1421 closed, assigned to alvations

[2016-07-07 03:14] phymr opened #1427 "not sure bug in tag.perceptron.py"
I'm not sure whether there are some bugs in def _get_features(self, i, word, context, prev, prev2) , def train(self, sentences, save_loc=None, nr_iter=5) and def tag(self, tokens), i hope you to check them.
I think prev, prev2 in train(self, sentences, save_loc=None, nr_iter=5) are wrong.
I guess prev is referred to tag of i-2 word and prev2 is referred to tag of i-1 word because of prev, prev2 =

[2016-07-07 10:35] HimaVarsha94 commented on #1070
Should we add Vectorizers using skipgrams? I have to implement them now for my projects. It would be great if it is in ntlk.util?

[2016-07-07 10:38] HimaVarsha94 opened #1428 "Vectorizer using Skipgrams"
Can we have a vectorizer which uses skipgrams? I often use it in my projects and it would be great if it is implemented already in nltk.util. I would be happy to contribute.

[2016-07-08 12:02] dimazest commented on #1396
Does their http api support this? It would be nice to add support of several parses to #1249.

[2016-07-08 18:39] adamn opened #1430 "Update Senna to v3"
Senna was upgraded ... 5 years ago.

It seems like the `senna` modules should use v3 instead of v2.  Or maybe this is unused code?  I'm finding it hard to imagine that people are using this and 5 years go by while using the old version.

Granted, people could simply have Senna v3 in the `/usr/share/senna-v2.0` folder.

[2016-07-09 01:07] alvations commented on #1430
The NLTK API to SENNA should work for `senna-v3.0` too:

[code]

As for the doctests, NLTK disregards the version since it downloads and map it to the environmental variable, still it's good to change the docstring so that it shows v3.0 on #1431 =)

[2016-07-09 02:09] stevenbird commented on #1430
Thanks @adamn, @alvations

[2016-07-09 02:10] stevenbird commented on #1430
Resolved in #1431

[2016-07-09 02:10] #1430 closed, assigned to nobody

[2016-07-09 16:22] manning commented on #929
The Stanford parser does provide its own command-line flag for `-encoding utf-8` or whatever, but if you don't provide one, then the platform default encoding is used, and that's what you're overriding with the "-Dfile.encoding=UTF-8" flag to Java.

[2016-07-09 16:28] manning commented on #1211
Surely the goal should be for the Python Java interface to work with Unicode, not to have to strip non-ASCII characters?!?

[2016-07-10 09:26] sshtomar commented on #1395
NLTK newb here.
We want to write an NLTK wrapper for Stanford sentence boundary detection code. Right?

[2016-07-10 12:53] dimazest commented on #1395
I think so.

It's actually already implemented (but not merged yet) see https://github.com/nltk/nltk/pull/1249/files#diff-3ddcbc41d8654bc0748b8afb087c55aeR299

[2016-07-10 19:10] pkubik commented on #1394
Same here. You can get around by using the dispersion_plot directly.

[code]

[2016-07-10 20:10] pkubik commented on #1394
Ok. It seems to be fixed on the development branch. The fix came in the #1364 pull request on 2016-04-17 so it might be still unavailable on some distributions. The NLTK version did not change since this fix (3.2.1) so there is no hint when looking for a proper version other than cloning the repo. The best solution would be to simply install the TKinter module.

[2016-07-11 01:59] stevenbird commented on #1428
+1

What would be the interface?
NB http://www.nltk.org/api/nltk.html#nltk.util.skipgrams

[2016-07-11 02:15] alvations commented on #1428
Maybe we shouldn't implement our own skipgram vectorizer, since [`gensim` has one that's optimized and coded in cython](https://github.com/RaRe-Technologies/gensim/blob/master/gensim/models/word2vec_inner.pyx) and the python version is also at: https://github.com/RaRe-Technologies/gensim/blob/master/gensim/models/word2vec.py#L111

[2016-07-11 05:20] HimaVarsha94 commented on #1428
What if for instance, TfidfVectorizer can either work with ngrams or skipgrams based on the argument passed? (maybe add another word in 'analyzer' to accomondate skipgrams? )

[2016-07-11 05:52] alvations commented on #1428
@HimaVarsha94 are you looking for something like this:

[code]

Note that we need the `functools.partial` so that we can initialize the `skipgrams()` function with the `kwargs` parameters.

[2016-07-11 05:56] HimaVarsha94 commented on #1428
Similar, yes. Would that be a good idea?

[2016-07-11 06:36] alvations commented on #1428
@HimaVarsha94 do note that when we vectorize the corpus in the method presented above, our `k` skip-distance is fixed. But in the original [word2vec code](https://github.com/Kylepoore/word2vec/blob/master/word2vec.c#L464) and [gensim](https://github.com/RaRe-Technologies/gensim/blob/master/gensim/models/word2vec.py#L127), the k value is randomized for each position (`k` is referred to as `b` in th

[2016-07-11 08:11] HimaVarsha94 commented on #1428
@alvations Thank you so much for the prompt replies. I am a newbie and I am still figuring it out.
I understand that using this will restrict the randomness as you suggested. As you pointed out, the skipgram model implemented in Word2Vec is different from nltk.utils skipgrams. But when we use [TfidfVectorizer](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/feature_extraction/text

[2016-07-11 08:57] lfurrer opened #1433 "Sentence splitting: Inconsistent end spans with trailing white space."
I observed the following inconsistency in the PunktSentenceTokenizer, using NLTK 3.1 on Python 3.4:

[code]

Apparently, the spans returned by the sentence splitter don't include trailing whitespace for sentences 1.._n_-1, but include them for sentence _n_ (the last sentence identified in the argument string, see the second and third example).
However, if the last sentence ends in a closing parent

[2016-07-11 14:38] alvations commented on #1428
1. If the aim is to vectorize a sentence given a different analyzer than the ones provided in `sklearn` then I would say the `functools` trick with `nltk.util.skipgrams` and `sklearn` vectorizer would be good.
2. But if the aim is to produce `skipgram` as like the ones for `word2vec` then it's a different notion of `skipgram` and sentence vectorization.

I would say the first is possible and easy

[2016-07-11 16:48] HimaVarsha94 commented on #1428
@alvations Thank you.

[2016-07-11 16:48] #1428 closed, assigned to nobody

[2016-07-13 11:22] mwess opened #1434 "word_tokenize doesn't tokenize "»""
Hi all,
we tried to use nltk for the part-of-speech tagging of german texts and in some of them the french quotation marks "»" and "«" are used for quotation instead of " " ", the normal (or standard) quotation mark.

As an example consider the following sentence:

»Now that I can do.«

This is tokenized:
nltk.word_tokenize("»Now that I can do.«")

and yields:

['»Now', 'that', 'I', 'can', 'do.«']

[2016-07-14 09:03] CoalaJoe commented on #137
+1

[2016-07-22 18:27] JonathanHayward opened #1438 "Can I navigate through large amounts of semantic terrain? (May be an enhancement, may be user education, user education is welcome)"
I wrote in http://stackoverflow.com/questions/38525854/how-can-i-ask-the-nltk-to-have-synonyms-be-connected-to-nearby-terms-rather-tha :

I've gotten one reply, basically asking what I meant:

I responded:

I'd like to request an enhancement of a de-partitioning of synonym terrain, or pointing me to another technology that covers the terrain with a web of roads, or explaining to me what I am missi

[2016-07-25 19:47] choltz95 opened #1439 "[SMT] IBM Model 1 Smoothing EM"
State of the art word alignment involves controlling the amount of over-fitting EM does on the training set by heuristically, or through some Bayesian methods initializing prior probabilities on model parameters and doing smoothing.

I would like to work on this if possible.

Relevant papers:
http://www.aclweb.org/anthology/P00-1056
http://www.aclweb.org/anthology/P04-1066
http://www.cs.rochester.

[2016-07-25 19:51] choltz95 opened #1440 "[SMT] HMM Word Alignment"
IBM models 1-5 are implemented. Are there any plans to implement the HMM word alignment model?

I would like to work on this if possible

Related papers:
http://www.aclweb.org/anthology/C96-2141

[2016-07-25 20:09] winswinnie opened #1441 "NLTK Installation Failure"
Hi all, I am completely new to the use of NLTK and Python, and I would really appreciate some help on the basics.  I currently have Python 2.7 installed on the OSX El Captain.  When I key in

as advised by the website.  That is what I kept on getting, which means I could not install NLTK by any means.

I shall be grateful for any advice/comments.  Thanks in advance guys!

[2016-07-25 20:41] choltz95 commented on #1441
The pip program should be run from the command line, not the Python interpreter.

[2016-07-25 21:25] winswinnie commented on #1441
@choltz95 Hi, thanks a lot for the information.  May I clarify where to find the command line? Are you referring to the one in Python Launcher? I tried to type there but seems like it wouldn't support any manual changes.

[2016-07-25 22:19] nschneid commented on #1441
http://blog.teamtreehouse.com/introduction-to-the-mac-os-x-command-line

[2016-07-25 23:37] stevenbird commented on #1441
Thanks @choltz95, @nschneid

[2016-07-25 23:37] #1441 closed, assigned to nobody

[2016-07-26 04:11] Javantea opened #1442 "nltk.sem.boxer Shell Injection"
Boxer._call is vulnerable to Shell Injection. It is called with user input in the main execution of the file. In this context, an attacker that controls input_str can execute arbitrary commands.
[nltk/sem/boxer.py#L215-L216](https://github.com/nltk/nltk/blob/53bf8a6baee87c6210868719a47d28804c8b45fc/nltk/sem/boxer.py#L215-L216)

[code]

[2016-07-30 02:31] stevenbird commented on #55
This is a great idea but we don't have resources to do it anytime soon, so I'm closing it.

[2016-07-30 02:31] #55 closed, assigned to nobody

[2016-07-30 02:33] stevenbird commented on #56
This is a great idea but we don't have resources to do it anytime soon, so I'm closing it.

[2016-07-30 02:33] #56 closed, assigned to nobody

[2016-07-30 02:34] stevenbird commented on #26
@alvations: no, there's no such list unfortunately.

[2016-07-30 02:35] stevenbird commented on #26
This is a great idea but we don't have resources to do it anytime soon, so I'm closing it.

[2016-07-30 02:35] #26 closed, assigned to nobody

[2016-07-30 02:35] #906 closed, assigned to stevenbird

[2016-07-30 02:36] #721 closed, assigned to stevenbird

[2016-07-30 02:48] stevenbird commented on #1285
@alvations – is this resolved?

[2016-08-01 06:36] alvations commented on #1285
The smoothing is resolved but to make sure that the fixes are correct, I'll still have to write tests to verify that. Sorry for taking that long to complete this.

[2016-08-01 15:13] alvations commented on #1439
Please feel free to add to the codebase in `nltk.translate.ibm1.py` and do a pull request and we can review it before merging.

Do look at the [contribution guidelines](https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md) about how to start contributing. Happy hacking!

[2016-08-01 15:15] alvations commented on #1440
Similar to the #1439, please feel free to add to the codebase in `nltk.translate` and do a pull request and we can review it before merging.

Depending on your liking you can either send 2 pull requests for #1439 and #1440 or you could send a single one that adds both functionality.

Do look at the contribution guidelines about how to start contributing. Happy hacking!

[2016-08-01 15:22] alvations commented on #103
We might have to close this issue unless Steven Abney re-writes the code in C and we understands what i's doing quickly without reading through 60 pages of the documentation =)

[2016-08-01 15:24] alvations commented on #1391
@shyamalschandra did changing the name of your script fix your problem?

[2016-08-02 04:53] ravisekharr opened #1443 "Java issues in using StanfordParser"
Usage in program:

from nltk.parse.stanford import StanfordParser
# Initialize the parser

path_to_jar = project_path+'Parsers/sfcn/stanford-corenlp-3.5.2.jar'
path_to_models_jar = project_path+'Parsers/sfcn/stanford-corenlp-3.5.2-models.jar'
parser = StanfordParser(path_to_jar=path_to_jar, path_to_models_jar=path_to_models_jar)
message="This is a test message"
parse = parser.raw_parse(message)

I

[2016-08-02 05:53] stevenbird commented on #1391
Thanks @alvations, I'm sure this is the issue.

[2016-08-02 05:53] #1391 closed, assigned to nobody

[2016-08-04 10:00] yzmyyff opened #1445 "nltk.cluster.gaac demo error"
I ran this method under python3, but it throws following exception:

[code]

[2016-08-05 07:48] ajdapretnar opened #1446 "Contributing stopwords for Slovene"
I've tried to find the proper folder/file to contribute my list of Slovenian stopwords to, but after an extensive search I wasn't able to find anything.
Where is the proper folder to submit the list of stopwords to and what is the desired format?
Thanks!

[2016-08-06 01:11] rmalouf commented on #1427
It looks like `prev` is the tag of word i-1 and `prev2` is the tag of word i-2 in both `train` and `_get_features`.  Can you be more specific about where you see the inconsistency?

[2016-08-07 00:53] jnandigam opened #1448 "Problem installing NLTK data on mac"
Hi,

I am not able to install NLTK data from NLTK Downloader. I have Python 3.5.2 and NLTK 3.2.1.

A screenshot of NLTK Downloader with the error message is attached.

Any help is very much appreciated. Thank you very much.

![screen shot 2016-08-06 at 8 47 09 pm](https://cloud.githubusercontent.com/assets/1740553/17459814/a254a904-5c17-11e6-9e93-52073a28d034.png)

[2016-08-09 13:37] jnandigam opened #1449 "Where can I download the NLTK data as a zip file?"
Where can I download the NLTK data as a zip file?

Thanks.

[2016-08-10 02:22] gsun1 opened #1451 "Segfault while trying to learn NLTK package"
I was going through the NLTK book and was testing out plotting on NLTK when I got a strange segfault. Not sure if this is NLTK, or something else...
[py-seg-fault.txt](https://github.com/nltk/nltk/files/410216/py-seg-fault.txt)

[2016-08-10 02:35] stevenbird commented on #1451
I suspect this is a problem with your Python setup.

[2016-08-10 02:36] stevenbird commented on #1449
http://www.nltk.org/nltk_data/
https://github.com/nltk/nltk_data/archive/gh-pages.zip

[2016-08-10 02:36] #1449 closed, assigned to nobody

[2016-08-10 02:37] stevenbird commented on #1448
Looks like you might be behind a firewall. You can download packages directly here:
http://www.nltk.org/nltk_data/

[2016-08-10 02:37] #1448 closed, assigned to nobody

[2016-08-10 02:38] stevenbird commented on #1443
Cf https://github.com/nltk/nltk/pull/1249

[2016-08-10 02:41] stevenbird commented on #1446
Please open an issue here: https://github.com/nltk/nltk_data and include the list of stopwords, one per line.

[2016-08-10 02:41] #1446 closed, assigned to nobody

[2016-08-10 06:53] deepp commented on #1253
Hi,
Does anyone have idea why its downloading so slow ? At my end its showing 20 hours. Rest of the packages have been downloaded.

[2016-08-10 08:24] xiaozongyang commented on #1253
@deepp  I upload this zip file to baidu cloud. Following is the link and password
 link: https://pan.baidu.com/s/1kVavU7d   password: 7b5n

[2016-08-10 08:51] deepp commented on #1253
@XiaoZYang Thanks for response I  downloaded file manually from your previous response link. Thanks a ton

[2016-08-10 08:54] xiaozongyang commented on #1253
@deepp  pleasure. be glad to help u

[2016-08-15 01:30] #1451 closed, assigned to nobody

[2016-08-20 20:48] stevenbird commented on #1438
@JonathanHayward: you might like to look into word embeddings using gensim. Here's a starting point: https://github.com/nltk/nltk/blob/991f2cd1e31f7c1ad144589ab4d2c76bee05aa7b/nltk/test/gensim.doctest

[2016-08-20 20:48] #1438 closed, assigned to nobody

[2016-08-20 20:49] stevenbird commented on #103
I agree, thanks @alvations.

[2016-08-20 20:49] #103 closed, assigned to nobody

[2016-08-20 21:01] stevenbird commented on #1425
@jmwoloso: is this still unresolved?

[2016-08-20 21:03] stevenbird commented on #1367
@Donald522: I think @Copper-Head is right. We can only accept a replacement list that represents wide consensus.

[2016-08-20 21:03] #1367 closed, assigned to nobody

[2016-08-20 21:05] stevenbird commented on #1246
@aewhatley: I went to add `ll` to the English stopwords corpus but found that it is already there.

[2016-08-20 21:08] stevenbird commented on #1395
@Autodidact24: we're still waiting for some updates to #1249.

[2016-08-20 21:19] stevenbird commented on #1322
Resolved in https://github.com/nltk/nltk_data/pull/49

[2016-08-20 21:19] #1322 closed, assigned to nobody

[2016-08-22 09:08] iliakur commented on #1392
@stevenbird should we close this for now? The doctests are present and exercise the existing code.

[2016-08-23 00:09] stevenbird commented on #1392
Good point, thanks @Copper-Head

[2016-08-23 00:09] #1392 closed, assigned to nobody

[2016-08-23 03:26] #1395 closed, assigned to nobody

[2016-08-24 13:30] rsnape commented on #1445
I believe @alvations is looking at a very similar issue based on a stackoverflow answer I wrote and some discussion in the comments there - see http://stackoverflow.com/a/28327086/838992 and the discussion on an issue I raised at the time https://github.com/nltk/nltk/issues/873.  Hopefully this helps avoid duplication if the issues have the same root cause (they seem to at a glance).

[2016-08-25 02:22] winnerineast commented on #1338
I hit the same issue on my Macbook Pro with (OS X EI Capitain, Anaconda 1.4.0+python 3.5.2) and I tried NLTK version on both "conda install nltk" with 3.2.1 and "sudo python3 setup.py install" with github master branch. The interesting part is that I never got the CRC [0, 448887900, 85839474] but [0, 448887900, 84607019] always after I tried to download panlex_lite.zip more than 5 times. Any hint

[2016-08-25 05:49] alvations commented on #873
This is an interest problem that involves porting py2.x -> py3. And this is highlighted on http://python3porting.com/problems.html#unorderable-types-cmp-and-cmp.

Actually, the `nltk.cluster.gaac.demo()` code works in py2.x because there's an in-built `cmp()` function in Python2 that tries to compare arrays and when it tries the following compares the array using `cmp(x.any(), y.any())`:

[code]

[2016-08-25 23:26] #1445 closed, assigned to stevenbird

[2016-08-27 09:05] iliakur opened #1457 "Axe FreqDist ordering/comparisons?"
This [StackOverflow question](http://stackoverflow.com/q/38215686/4501212) made me aware that the `FreqDist` class implements ordering comparisons. As the question shows, the implementation is buggy so we should do something about it.
I propose we get rid of it altogether, considering that its parent class `Counter` doesn't support comparisons and that it's not entirely clear what it means for one

[2016-08-27 10:24] stevenbird commented on #1457
@copper-head: the motivation is given in section 4.1 of [chapter 2 of the NLTK book](http://www.nltk.org/book/ch02.html).

The operation corresponds to subset, for multisets.

Since the book uses it, I would rather fix the implementation than break the book example.

[2016-08-29 03:26] jmwoloso commented on #1425
Yes, still unresolved.

[2016-08-29 05:21] rbahumi opened #1458 "blue_score:: modified_precision() zero division exception"
Issue:
In modified_precision(), there is no check if the Counter has 0 results - if there are no ngrams in the hypothesis, a zero division exception is thrown.

Code to reproduce:

[code]

Exception output:

[code]

[2016-08-29 05:41] rbahumi commented on #1458
[Added a pull request for the fix.](https://github.com/nltk/nltk/pull/1459)

[2016-08-29 05:54] alvations commented on #1458
@rbahumi which version of the code are you using? The master branch or the develop branch?

This should have been previously fixed by allowing it to go through the smoothing function. I'll check the changes made from your PR in a while =)

[2016-08-29 06:09] rbahumi commented on #1458
Hi @alvations,
Thank you for your quick response :-)

The _develop_ branch doesn't have this check. I can't really find a branch named _master_:

[code]

I believe this  empty counter check was present in version 3.1

[2016-08-29 07:09] alvations commented on #1458
The counter check is no longer necessary after the #1383 and #1358. Actually it will mess up the `Fraction()` data structure that should be enforced throughout the modified precision, brevity penalty and bleu score.

It seems like you're working on an `anaconda` package of the repo instead of the `develop` branch from https://github.com/nltk/nltk.git, i.e. you're not using the current `develop` br

[2016-08-29 09:26] rbahumi commented on #1458
You are correct, it does not happen in the develop branch.
But this is really weird, because I am also running version 3.2.1 (install with conda), and the bleu_score.py file is different to the develop branch.

It is actually your commit (3dd4d82b704af16fbc5bc479796b11dc5d95c2aa) which solved the issue.

[2016-08-29 11:56] houmie commented on #1338
Unfortunately they refuse the problem would even exist.  I reported this in May 2016 and still no acknowledgement of the problem.

I just tried it again via the GUI download and still get this error message shown in the console:

[code]

This is a massive pain to me, as I need to go through the code and delete all the references to Pantex in order to get the packages working.

[2016-08-29 13:40] alvations commented on #1458
It's because the conda and pip is shipping the code based on the last minor version 3.2.1. The patch for the fringe cases in #1383 is after the release of 3.2.1. There should be a new minor release soon and that'll include the fringe cases fix as well as other feature improvements since the last release.

@rbahumi  so would this issue (#1458 and #1459) be a close =) ?

[2016-08-29 13:54] rbahumi commented on #1458
Yes. Thank you very much for your quick response!

[2016-08-29 13:54] #1458 closed, assigned to nobody

[2016-08-31 05:46] Neha-Baranwal commented on #1232
I have tried all the solutions but still getting the same error.

key=lambda model_name: re.match(self._JAR, model_name)

TypeError: unorderable types: NoneType() > NoneType()

[2016-08-31 05:59] alvations commented on #1232
If you're using Windows, this might help: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9
On linux, maybe this: https://gist.github.com/alvations/e1df0ba227e542955a8a

[2016-08-31 07:43] Neha-Baranwal commented on #1232
thanks for the suggestion
i have gone through the instruction where StanfordNERTagger works but at the time stanford parser it shows same error

[2016-08-31 07:58] alvations commented on #1232
Could you show the code and the error that you encounter? I've checked and the instructions on https://gist.github.com/alvations/e1df0ba227e542955a8a#stanford-parser should be correct on the latest version of `nltk`.

[2016-08-31 08:08] Neha-Baranwal commented on #1232
simply i run
os.environ['STANFORD_PARSER'] = os.getcwd()+'stanford-parser.jar'
os.environ['STANFORD_MODELS'] = os.getcwd()+'stanford-parser-3.6.0-models.jar'

parser = stanford.StanfordParser(model_path=os.getcwd()+'englishPCFG.ser.gz')
fp= open("D:/authorization analysis/coding for sentiment analysis/Story/Repo/F35.txt", "r").read().strip()

and get the error

runfile('D:/authorization analysis/c

[2016-08-31 08:19] alvations commented on #1232
The model paths and directories you have initialized and passed to the functions are kind of messy. Please read the instructions on https://gist.github.com/alvations/e1df0ba227e542955a8a#stanford-parser **carefully** and you should get it working.

You're currently not following (i) how the environmental variables are set and (ii) how you initialized the parser object.

You **do not** need any dir

[2016-08-31 11:56] Neha-Baranwal commented on #1232
Thank
i will do this
from nltk.parse.stanford import StanfordParser

raceback (most recent call last):

  File "<ipython-input-6-dd781ba0a59e>", line 1, in <module>
    runfile('D:/authorization analysis/coding for sentiment analysis/test.py', wdir='D:/authorization analysis/coding for sentiment analysis')

  File "C:\Users\neha.baranwal\AppData\Local\Continuum\Anaconda3\lib\site-packages\spyderli

[2016-08-31 14:03] alvations commented on #1232
Did you install Java? Please read the github gist from top to bottom, try not to just copy and paste code without knowing what it is =)

Perhaps, github issue isn't the appropriate place to handle your problem because there's nothing wrong with the code. Please bring the discuss to https://groups.google.com/forum/#!forum/nltk-users

[2016-09-01 00:51] spk921 commented on #1256
I am using mac and still have a error.

[code]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/sangpil_kim/anaconda3/lib/python3.5/site-packages/nltk/downloader.py", line 664, in download
    for msg in self.incr_download(info_or_id, download_dir, force):
  File "/Users/sangpil_kim/anaconda3/lib/python3.5/site-packages/nltk/downloader.py", line 543, in incr

[2016-09-01 00:59] alvations commented on #1256
What is the version of your nltk?

[2016-09-01 01:01] spk921 commented on #1256
My version is 3.2.1 using python3.5 with anaconda3

[2016-09-01 01:16] alvations commented on #1256
~~Anaconda is still packaging nltk with the old code =(~~

My mistake, I didn't look at it carefully while commuting just now. The [context manager solution was reverted](https://github.com/nltk/nltk/commits/develop/nltk/data.py) and the current code in v3.2.1 shipped by `conda` should be correct.

[2016-09-01 01:18] spk921 commented on #1256
I see then I need to use non-conda python3.5 thanks. You may close the issue. Or is there are any thing that I can tune the conda?

[2016-09-01 02:08] alvations commented on #1256
@spk921 Could you see whether you can replicate these steps?

[code]

I suspect it is not the `nltk.data.OpenOnDemandZipFile` that JiHongyu was referring that is causing your error.

[2016-09-01 02:23] spk921 commented on #1256
Thanks targeting nltk.download('wordnet') done successfully. panlex_lite.zip cause an error for me. Thank you. You may close the issue.

[2016-09-01 02:35] #1256 closed, assigned to nobody

[2016-09-01 05:27] Neha-Baranwal commented on #1232
Yes i have installed java.

thanks a lot

[2016-09-01 11:35] AdriG83 opened #1463 "NLTK 3.2.1: Deprecated Warning with Python 3.5.2"
Hi,
I'm learning Python.
For my first program in Python, I downloaded Chatterbot 0.4.6 that contained nltk module.

This program doesn't work because of nltk/decorators.py generates a Deprecated Warning (inspect.getargspec). I installed last version of NLTK with the process explained in the website www.nltk.org but I have the same problem.
This is the result when I try to run the program Chatterbo

[2016-09-03 07:37] fwanghe commented on #1253
You can download the panlex_lite.zip from https://dev.panlex.org/db/, and put it in "/nltk_data/corpora/"

[2016-09-06 23:54] SissyCat commented on #1253
While downloading panlex with nltk downloader, my whole system just froze - even the caps lock indicator light on my keyboard wasn't working anymore. I've restarted my computer, tried again and the same thing happened.
Is there a logfile anywhere to provide you with more info on this?
FYI: I'm running idle3/nltk3/python 3.5.2 on KDE Neon on an AMD64 machine.

I'll just download the zip-file manual

[2016-09-10 18:23] lxchen2001 opened #1465 "Python 3. WordNet region_domains() not always returns results."
Expected: to return a list on Center of Gravity
Canada, Britain

http://wordnetweb.princeton.edu/perl/webwn?o2=1&o0=1&o8=1&o1=1&o7=1&o5=1&o9=&o6=1&o3=1&o4=1&s=center+of+gravity&i=3&h=1000#c

[2016-09-10 20:47] ExplodingCabbage opened #1466 "Better document how to run the tests"
When I run `tox` on my Ubuntu 14.04 machine, before giving up I get:
- a bunch of failures
- a bunch of `LookupError`s
- loads of tracebacks with errors saying `NameError: global name 'pyparsing' is not defined`
- a bunch of other NameErrors
- tracebacks with errors saying `OSError: Senna executable expected at /usr/share/senna-v3.0/senna-linux64 but not found`
- multiple screens of `nltk_data` do

[2016-09-10 23:36] #139 closed, assigned to nobody

[2016-09-11 01:30] stevenbird commented on #139
@paulproteus – finally resolved

[2016-09-11 09:09] iliakur commented on #1466
I'm sad to say I have the same problem as you. Trying to actually make "just execute `tox`" run was really frustrating. @alvations at the time told me to only worry about the relevant tests for what I was working on. I guess that makes sense since we don't really have integration or E2E tests, and ideally unit and doctests should be testing isolated components. I say "ideally" because I personally

[2016-09-11 16:56] ExplodingCabbage commented on #139
Note that the _default_ stemmer behavior as of my PR that Steven just merged is unchanged; you need to explicitly pass `mode=PorterStemmer.MARTIN_EXTENSIONS` to the `PorterStemmer` constructor to get behavior that's consistent with Martin's reference implementations (which are themselves inconsistent with Martin's original algorithm).

Arguably, having `MARTIN_EXTENSIONS` as the default mode (for

[2016-09-11 17:19] ExplodingCabbage commented on #25
The attached files aren't present in this migrated issue, the old Google Code issue is a 404, and per the "earlier comments" section the files had gone AWOL even back on Google Code. Is there still an actionable here, or should this issue be closed?

[2016-09-11 20:26] stevenbird commented on #139
@ExplodingCabbage: I favour your last option, no default, and doing that with the next major release (not the minor release where your work will first appear), with suitable warnings in the release notes. I think it would be good for people to be forced to read the docs and benefit from your work. I'm curious to know what others think.

[2016-09-15 23:33] ExplodingCabbage commented on #1466
It seems worth noting that there are really two actionables here, one quick and easy and one long and difficult:
- [ ] 1. amend the contributing guidelines to make clear that `tox` won't work on (most? all?) contributors' machines, and that they are only expected to run tests relevant to the modules they are modifying - the rest can run in CI
- [ ] 2. make it easy for new contributors to run the f

[2016-09-16 01:33] alvations commented on #1465
The `domain_region` information available on the Princeton web interface for WordNet 3.1 seems to be lacking in the WordNet 3.0 version distributed through `nltk.download`.

The current `nltk.corpus.wordnet` interface looks for the [`;r` indicator in the sense index when querying for the region domain](https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L164)

From the data fil

[2016-09-16 07:26] iliakur commented on #1466
@ExplodingCabbage do you have time to tackle the docs?

[2016-09-16 09:10] ExplodingCabbage commented on #1466
@Copper-Head _time_, yes, but I feel like it would be better for one of the core contributors who knows the current state of the tests to do it.

[2016-09-17 19:40] hunk3749 opened #1471 "how to run example program from cloned repository"
unable to find runnable file of any of examples program

[2016-09-20 02:28] ghost commented on #1424
What is the different between lexical and neural, I means, in encoding.

When I call raw_parse of `StanfordDependencyParser`, it works fine, even a bit slow. But when I call `StanfordNeuralDependencyParser`, the error shows:
`UnicodeDecodeError: 'utf8' codec can't decode byte 0xb4 in position 0: invalid start byte`

[2016-09-20 09:56] jdejoode opened #1472 "The sent tokenizer deletes end of line characters"
I am not sure whether this is a feature/bug, but the standard nltk.sent_tokenize() deletes characters from the text.

For instance:

[code]

Is there a way to make sure the tokenizer does not delete characters?

[2016-09-20 10:13] jnothman commented on #1472
As far as I know, all the tokenizers currently delete intervening
whitespace.

On 20 September 2016 at 19:56, J. de Joode notifications@github.com wrote:

[2016-09-21 23:38] stevenbird commented on #1472
Yes, that's the expected behaviour.

[2016-09-21 23:38] #1472 closed, assigned to nobody

[2016-09-21 23:39] stevenbird commented on #1471
Closing – this is not appropriate for this issue tracker.

[2016-09-21 23:39] #1471 closed, assigned to nobody

[2016-09-22 10:06] timleslie opened #1474 "Unused argument in nltk.sem.relextract.conllned"
The changes in the following commit introduced a bug into `conllned()`.

https://github.com/nltk/nltk/commit/3e73834a2f18f9956c3e11466a49a9354c3924c7#diff-96e974114c1e7b1efc5976f2c387deadR409

The arguments to `show_raw_rtuple` are hardcoded to `True`, which makes `lcon` and `rcon` unused, which in turn makes the argument `trace` effectively unused.

It's not clear whether the hardcoded arguments

[2016-09-27 05:18] AlexYoung757 commented on #792
when i use stanford word segmenter ,  here is code :
import nltk
from nltk.tokenize.stanford_segmenter import StanfordSegmenter

segmenter = StanfordSegmenter(
	path_to_jar = "./stanford_segmenter/stanford-segmenter-3.6.0.jar",
	path_to_sihan_corpora_dict = "./stanford_segmenter/data",
	path_to_model = "./stanford_segmenter/data/pku.gz",
	path_to_dict = "./stanford_segmenter/data/dict-chris6.ser.g

[2016-09-27 05:22] AlexYoung757 opened #1476 "NLTK fails to find the Java file"
when i use stanford word segmenter ,  here is code :
import nltk
from nltk.tokenize.stanford_segmenter import StanfordSegmenter

segmenter = StanfordSegmenter(
    path_to_jar = "./stanford_segmenter/stanford-segmenter-3.6.0.jar",
    path_to_sihan_corpora_dict = "./stanford_segmenter/data",
    path_to_model = "./stanford_segmenter/data/pku.gz",
    path_to_dict = "./stanford_segmenter/data/dict-

[2016-10-02 03:49] DGrutt commented on #992
I am having the same issue with Python 3.5 on Windows. The code I'm running is this tutorial. http://streamhacker.com/2010/05/10/text-classification-sentiment-analysis-naive-bayes-classifier/

[2016-10-02 16:37] nschneid commented on #992
The code on that page includes:

[code]

Which will return a float in Python 3.x. Changing each `/` to `//` will result in integer division.

[2016-10-02 16:46] nschneid commented on #992
Regarding the original bug report, I am able to run `python -m nltk.text` without a problem on Python 3.5.2 (Anaconda 4.1.1) on OS X. Closing the issue absent code that triggers the error.

[2016-10-02 16:46] #992 closed, assigned to nobody

[2016-10-03 13:25] ghost commented on #1338
Hi, same here, hopefully if enough people report it then it's going to get fixed at some point ...

[2016-10-03 13:27] ghost commented on #1204
Hi guys, so is it fixed for good ?
Does it mean that when the next version of python comes out then we won't get this : https://github.com/nltk/nltk/issues/1338 ?
Thank you

[2016-10-03 16:13] alvations commented on #1204
@alvinsight I'm quite sure the zipfile issue with Python 3.5 is fixed. The issue with #1338 is when users downloads a corrupted file when the internet breaks, and has little to do with this zipfile issue =)

@stevenbird possibly a different mirror to the `panlex_lite` zip file that can have faster download time and handles higher traffic might solve the woes. Maybe we should think of setting up a

[2016-10-07 11:43] eupherntech commented on #1253
what to do after downloading the zip of panlex_lite so that rest packages are downloaded when nltk.download('all') is given? so that it skips panlex_lite downloading? i unzipped the zip folder but still when i try to download rest packages it shows downloading panlex_lite... help please.

[2016-10-11 05:18] #1474 closed, assigned to nobody

[2016-10-11 05:19] stevenbird commented on #1466
I'm sorry that I don't have any resources at my disposal in order to do this...

[2016-10-12 02:48] mmuppidi opened #1479 "Cannot import nltk after installation"
The package is installed in `/Library/Python/2.7/lib/python/site-packages` but I cannot import nltk. Please advice

[2016-10-12 22:30] sasinda commented on #947
I think this is a serious problem if you are doing production level NLP. We are using Rq(http://python-rq.org/) workers, to run multiple NLP pipelines, wich gets silently killed when doing network calls. Hope there will be a fix soon. Thanks!

[2016-10-12 22:40] stevenbird commented on #947
@sasinda: You might like to put out a call on the nltk-dev mailing list to see if you can get some attention to this issue.

[2016-10-13 08:32] stevealbertwong commented on #1253
@eupherntech  same issue.

[2016-10-13 11:26] Hiestaa commented on #947
@sasinda I'm not sure how Rq works exactly but in my production level NLP project I managed to workaround this issue by starting each process in a separated and isolated python interpreter, using a shell script to spawn them on start-up. In this case python never has to fork and the silent crash from nltk never happens. Maybe this can help in the meantime.

[2016-10-13 12:30] ChenxingLi commented on #1397
I also have this problem.

[2016-10-15 10:01] iliakur commented on #1479
Do you use virtualenv? How do you run python? I'm guessing you are on MacOS, is that right?

[2016-10-16 04:12] mmuppidi commented on #1479
Thanks for responding. I don't use virtualenv. Yes I am on Mac.

[2016-10-16 10:49] i-frost opened #1481 "Is this a bug? Split on a colon."
I can make a chunk from a colon but I cannot split at a colon. Am I doing something wrong?

This sees the colon and adds to chunk

[code]

When I try and split at colon I get a error:

[code]

ValueError: Illegal chunk pattern: >

[2016-10-16 14:15] iliakur commented on #1479
Thanks for the responses. How do you invoke python?
Could you try starting up a session and post the output of the following:

[code]

[2016-10-17 10:05] vladbataev opened #1482 "Text tilling"
Can I use text tilling for searching boundaries of sentences among continuous text without punctuation? What is then supposed to be a paragraph?

[2016-10-18 13:51] maeares commented on #1248
is there any update about this ?

[2016-10-18 21:58] armsmani opened #1483 "intent parser from sentence"
I want to create a ChatBot, and I'm planning on using the NLTK libs for parsing the messages from the user, but **how can I detect the user's intent.** like below

Hello!                           -> greeting
Hi <chatbot's name>   -> greeting
Tell me the weather      -> weather
Is it raining?                  -> weather

Is there any option to identify intent action by using NLTK?

[2016-10-19 19:09] dterg commented on #1237
With NLTK 3.2, Stanford POS tagger works fine but parser and dependency parser suffer from the same issue. Nonetheless, works with the hack.

[2016-10-19 20:18] fievelk commented on #1050
@dimazest @stevenbird Any news on this issue?
d3964cf and 7c7ad71 do not seem to have completely solved the problem (i.e. variable names are still different and this causes tests to fail).

I get these errors when I run `tox`:

[code]

[2016-10-20 14:20] fievelk opened #1484 "ipipan corpus not found and NKJP"
Running `tox -e py35` I get the following error:

[code]

But the `ipipan` corpus is not available on nltk_data:

[code]

I know there are several open issues and references to this corpus and `nkjp`:
- #913 (Issue: ipipan module looks dead)
- #844 (Pull Request: NKJP Corpus Reader)
- nltk/nltk_data#17 (Pull Request: NKJP corpus on nltk_data)
- [National Corpus of Polish](https://groups.google.com

[2016-10-20 14:59] yooper commented on #1476
You have to set JAVA_HOME, not JAVAHOME

[code]

If your code cannot find the Stanford files, then you are using the wrong relative path. Try using the absolute paths.

[2016-10-24 01:37] stevenbird commented on #1342
@Copper-Head – how far are we away from being able to merge this back into the main branch?

[2016-10-24 08:39] alvations opened #1486 "Training on PerceptronTagger with alpino throws TypeError"
With `BigramTagger`:

[code]

But with `PerceptronTagger`:

[code]

[2016-10-24 09:00] alvations commented on #1486
It seems like there's a need to materialize the corpus before feeding it to the `PerceptronTagger`, so that the [`shuffle` operation can be possible when using the `train()` function](https://github.com/nltk/nltk/blob/develop/nltk/tag/perceptron.py#L194):

[code]

Possibly, before the iteration at https://github.com/nltk/nltk/blob/develop/nltk/tag/perceptron.py#L174, we will need to do something l

[2016-10-24 16:32] tastyminerals commented on #124
(bump) same issue and still not resolved, sigh

[2016-10-24 17:03] tastyminerals opened #1487 "Fix Penn Treebank corpus reader please"
Following the [nltk docs on corpus API](http://www.nltk.org/howto/corpus.html), I wanted to use nltk to parse a copy of full Penn Treebank corpus. I unzipped the required directories "brown" and "wsj" into `/home/tastyminerals/nltk_data/corpora/ptb` dir as was stated in the docs. The unzipped files were all lowercased and I had to rename them because ptb corpus reader expects them to be all in upp

[2016-10-24 20:49] stevenbird commented on #1487
I would be happy to review a PR for a full treebank corpus reader – long overdue to have proper support!

[2016-10-25 00:03] demidovakatya commented on #1338
okay there, here's what I've done

[code]

I guess, we could add something like `if id != 'panlex_lite'` to the code...

But, as for me, the easiest way looks like this:
- get https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml
- remove `panlex` from it
- upload it to a [public Gist](https://gist.github.com/demidovakatya/61dab385d74065ae825c80496a197980)
- pass the gist's url to th

[2016-10-25 01:14] samkugji commented on #1338
@demidovakatya

I'd like to understand that you mention that
- get https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml
- remove panlex from it

that means

[code]

=>

[code]

[2016-10-25 03:07] alvations commented on #1330
@stevenbird I've prepared a dataset taken from WMT15 development set to test against our implementation of BLEUs. Could you help to upload the zipball https://goo.gl/nXjpAF into `nltk_data`? Thanks in advance! Most probably it'll be under the `nltk_data/models/` directory. Then I will integrate our `nltk.translate.bleu_score` doc/unit tests to finish the last step in "fixing BLEU" :

[2016-10-25 20:30] stevenbird commented on #1330
@alvations: I've put it in `models/wmt15_eval`.

[2016-10-25 20:31] stevenbird commented on #1482
This is not an appropriate issue.

[2016-10-25 20:31] #1482 closed, assigned to nobody

[2016-10-26 03:01] alvations commented on #1330
@stevenbird Thanks for added the zipball.

The good news is that our implementation corresponds to `mteval-13a.pl` up to the 4th order of ngram with some floating point discrepancies (possibly also character vs byte-code differences).

**mteval-13a**: `[0.5415, 0.4012, 0.3044, 0.2318, 0.1784, 0.1362, 0.1031, 0.0754, 0.0493]`
**nltk**:            `[0.5385, 0.3992, 0.3035, 0.2317, 0.489, 0.5509, 0.5

[2016-10-26 03:18] alvations commented on #1330
Ah, found the mistake it's a typo when I simply copied and pasted without changing the order of ngrams:

[code]

mteval-13a: `[0.5415, 0.4012, 0.3044, 0.2318, 0.1784, 0.1362, 0.1031, 0.0754, 0.0493]`
NLTK (no smooth): `[0.5385, 0.3992, 0.3035, 0.2317, 0.1785, 0.1364, 0.1033, 0.0755, 0.0494]`

[2016-10-26 03:52] stevenbird commented on #1330
Nice work @alvations!

[2016-10-26 09:16] alvations opened #1489 "Reimplementing Monolingual Word Aligner in NLTK"
The [Monolingual Word Aligner](https://github.com/ma-sultan/monolingual-word-aligner) is an important tool in the [Semantic Textual Similarity](http://alt.qcri.org/semeval2017/task1/) task.

@amalinovskiy created a fork at https://github.com/amalinovskiy/upf-cobalt but the Stanford parser and JSON RPC is still based on outdated code.

**May I suggest that we try to re-implment it within NLTK?** Th

[2016-10-26 19:33] iliakur commented on #1342
Looking at my to-do list, I'd say I need 2-3 days of focused work.
Considering that I'm back to working on this in my free time from school and day job, I'd give it anywhere between 2 weeks and a month before I'm done with all _my_ outstanding issues. This naturally doesn't take into account random stuff that might be brought to my attention in that time.

[2016-10-27 19:34] fievelk commented on #1483
Hi @armsmani.
This space is meant to be used to report issues about the NLTK codebase.

I think your question should be asked in the [NLTK-users](https://groups.google.com/forum/#!forum/nltk-users) forum, where you could receive more support by other NLTK users.

[2016-10-27 19:34] #1483 closed, assigned to nobody

[2016-10-27 19:56] fievelk commented on #1463
ChatterBot solved the problem (see gunthercox/ChatterBot#292).
We still need to check it.

[2016-10-31 08:22] alvations opened #1490 "Normalizer in VADER not really bounding output to [-1.0, 1.0]"
The normalizer at https://github.com/nltk/nltk/blob/develop/nltk/sentiment/vader.py#L107 is not exactly normalizing the inputs to give an output bounded by [-1.0, 1.0] as reported in the docstring. Given the default value of `alpha=15`, the upperbound of the normalized outputs would be somewhere in the between (-0.13, 0.13)

![](https://i.stack.imgur.com/p8De8.png)

The outputs gets funkier with o

[2016-10-31 13:23] cjhutto commented on #1490
--- About the scoring ---
·         The compound score is computed by summing the valence of each word in the lexicon, adjusted with rules, and then normalized to be generally between -1 (most extreme negative) and +1 (most extreme positive). This is the most useful metric if you want a single unidimensional measure of sentiment.  Calling it a “normalized weighted composite score” is accurate.
·

[2016-11-01 05:39] alvations commented on #1490
@cjhutto Thanks for the explanation. Given the "streaming"/online use-case of the normalizer, that seems alright.

But as for the upper-/lower-bound of the normalizer, there are cases that it'll be > 1.0 or <-1.0 if left unconstrained, e.g.

![](https://i.stack.imgur.com/6ICZK.png)

![](https://i.stack.imgur.com/v1l31.png)

IMHO, the docstring for the normalization function should still be correct

[2016-11-01 16:27] david-codeq opened #1491 "Bug when drawing trees."
When I draw and show a fairly large tree, it stays on the screen for a few seconds, then gives an error, which, when running with "python x.py" or "ipython x.py" in python 2 shows this:

[code]

When running with ipython with python 3, it shows this, and sometimes stays on the screen for a while while printing these errors to the terminal:

[code]
When using ipython's qtconsole, the kernel quits a

[2016-11-02 06:01] naveen45 opened #1492 "Nltk Noun Finding Bug"
Hai for Noun it considers only if the first letter is Capital letter. Can you fix this please

[2016-11-03 09:07] #1289 closed, assigned to nobody

[2016-11-07 13:36] hiber-niu opened #1494 "nltk relation extraction returns nothing."
Hi all:
     I am recently working on using nltk to extract relation from text. so i build a sample text:" Tom is the cofounder of Microsoft." and using following program to test and return nothing. I cannot figure out why.

I'm using NLTK version: 3.2.1, python version: 3.5.2.

Here is my code:
[code]
------------------------------------------------------------------------------------------------

[2016-11-08 02:16] hiber-niu commented on #1494
NLTK version: 3.2.1, python version: 3.5.2

[2016-11-09 01:24] hiber-niu commented on #1494
See: http://stackoverflow.com/questions/40480839/nltk-relation-extraction-returns-nothing#

[2016-11-09 02:23] alvations commented on #1494
@hiber-niu The answer on SO is a hack to make the `extract_rels()` work. But the hack needs to be verified whether it's linguistically sound before we try to make edits to the `semi_rel2reldict()` function within NLTK.

The changes to `semi_rel2reldict()` would look something like this:

[code]

Just to check, `lcon` and `rcon` refers to the left and right constraints right? So in the case that th

[2016-11-09 13:20] ghost opened #1495 "Add download directory to nltk.data.path"
**Issue:**
If user adds a new path. data not found error is raised while including data later. and user has to explicitly append path with nltk.data.path.append('/path/to/data')

**What does the feature do?**
Add the path entered on NLTK GUI in download directory, if it does not exist already.

[2016-11-10 10:07] stevenbird commented on #1492
Insufficient information to replicate the problem.

[2016-11-10 10:07] #1492 closed, assigned to nobody

[2016-11-10 10:16] stevenbird commented on #1494
@alvations – this restriction of `len(pairs) > 2` looks odd to me ([code](https://github.com/nltk/nltk/blob/develop/nltk/sem/relextract.py#L158)). But the code will break if we change it to `len(pairs) > 1` because of [this line](https://github.com/nltk/nltk/blob/develop/nltk/sem/relextract.py#L169). I don't know how this use of `pairs[2]` could be changed. Perhaps @ewan-klein can clarify.

[2016-11-10 10:23] #1164 closed, assigned to nobody

[2016-11-10 17:26] guydepauw commented on #1491
I can't reproduce the error with this script, but I am getting the same error message while trying

`nltk.app.chartparser()`

`libc++abi.dylib: terminating with uncaught exception of type NSException`

[2016-11-10 18:18] david-codeq commented on #1491
Hmm, @guydepauw , but if you use the script I posted, it just prints the tree fine? Or what?

[2016-11-10 21:03] SilentFlame commented on #1491
@guydepauw

If you compile the above as a python file it throws the error.
But when you execute all the commands on `command line python` everything works fine.

Donno the reason but yeah it is there.

[2016-11-10 22:18] david-codeq commented on #1491
@SilentFlame that isn't my experience. I get the error with command line python too. Also with ipython, and with jupyter qtconsole.

[2016-11-11 10:40] guydepauw commented on #1491
@david-codeq yep exactly
@SilentFlame and it works fine on command line and as a script

Could you guys check if `nltk.app.chartparser()` is working for you? I found this thread because of the reference to `libc++abi.dylib`. There could be a common solution for it.

[2016-11-11 15:37] david-codeq commented on #1491
@guydepauw  I get no error when typing `nltk.app.chartparser()` in the REPL and then just waiting.

[2016-11-12 15:07] fievelk opened #1498 "NLTK Jenkins CI unavailable"
I used to be able to reach NLTK Jenkins Continuous Integration using this link: https://nltk.ci.cloudbees.com

However, since a few days I'm getting this error when I visit the page:

@stevenbird do you know what could be the cause of this problem?

[2016-11-13 15:27] fievelk opened #1504 "Bleu tests failing"
BLEU tests are currently failing

[code]
[code]

@alvations Could you please check this issue, if you have time?

P.S. If other test failures or import errors get in the way, you might find it useful to create a new branch and merge the following pending PRs: #1497, #1499, #1500, #1501

[2016-11-13 23:06] alvations commented on #1504
Ah this is a python2 and python3 difference. `map()` materializes the list in python2 but in python3 doesn't. I'll fix that in a while.

[2016-11-13 23:17] alvations commented on #1504
Note that there is a deprecation warning from `nltk.util.ngrams` that's kind of irritating but it'll take longer to fix. It will show up in Python3.5 with:

[code]

[2016-11-14 19:49] arpieb opened #1506 "Is NLTK FrameNet support frozen at FN version 1.5?"
In #719 there was a question regarding support for newer versions of FrameNet beyond 1.5, yet there didn't appear to be any resolution although the issue is closed.  Is there a way to load newer versions of FrameNet (I have 1.7 burning a hole on my hard drive)?

Thanks!

[2016-11-14 21:44] Johnny20Ok commented on #1283
For me it just stuck at downloading the panlex_lite package...have to mention that nltk is already upgraded. My version of python is 3.5..I don't get any error message,simply nothing.
Btw,I also tried on Pycharm,still the same
Any ideas ?

[2016-11-14 22:44] kanelloc opened #1507 "nltk.data.path not working"
[code]

I am trying to change path but i continues to search at home location of nltk data... any idea why?

[2016-11-15 01:48] alvations commented on #1507
You should be using the full path to the `nltk_data`. Please take a look at http://stackoverflow.com/a/36383314/610569 and http://stackoverflow.com/a/22987374/610569

[2016-11-15 02:59] nschneid commented on #1506
Most of the functionality should work if you substitute the 1.7 files under nltk_data/corpora/framenet/framenet_v15. I have beta-quality code with new functionality that I'm hoping to release soonish now that 1.7 is released.

[2016-11-17 09:34] alvations commented on #1507
@kanelloc did the answers from the SO posts resolve your issue?

[2016-11-17 09:42] #1330 closed, assigned to alvations

[2016-11-17 09:44] alvations commented on #1328
#1330 and #1488 should resolve this.

[2016-11-17 09:44] #1328 closed, assigned to nobody

[2016-11-17 09:44] alvations commented on #1285
#1330 and #1488 should resolve this.

[2016-11-17 09:44] #1285 closed, assigned to nobody

[2016-11-17 09:54] #661 closed, assigned to nobody

[2016-11-17 10:00] alvations commented on #1246
Possibly, the user should do something like this:

[code]

[2016-11-18 01:28] stevenbird opened #1509 "default verbosity"
90+% of verbose flags in the codebase default to `False` while less than 10% default to `True`. I think they should all default to `False` except in demonstration code.

[2016-11-18 09:36] kanelloc commented on #1507
Sorry for the delay.
If you copy/paste the nltk_data folder from home to a project for some reason `nltk.data.append`doesn't work.The solution was:
1)`mkdir nltk_data` inside the project
2)use `nltk.download()` with file path the file path from 1)
3) `ntlk.data.append` worked now
Thank you very much

[2016-11-18 09:37] #1507 closed, assigned to nobody

[2016-11-18 10:21] alvations opened #1510 "DependencyGraph or Stanford Parser API issues with sentences with "/""
A user has reported that this sentence throws and `AssertionError` when using Stanford's `DependencyParser` API in NLTK for this sentence:

Code:

[code]

Possibly, it might be how `DependencyGraph` is reading the output or that the Stanford output is inconsistent.

More details on the setup for NLTK + Stanford tools is on https://gist.github.com/alvations/e1df0ba227e542955a8a#stanford-parser

[2016-11-20 12:48] stevenbird commented on #33
Unfortunately no resources to do this.

[2016-11-20 12:48] #33 closed, assigned to nobody

[2016-11-20 12:49] stevenbird commented on #37
Closing; too old

[2016-11-20 12:49] #37 closed, assigned to nobody

[2016-11-20 12:50] stevenbird commented on #68
Too old, closing.

[2016-11-20 12:50] #68 closed, assigned to nobody

[2016-11-20 12:50] #127 closed, assigned to nobody

[2016-11-20 12:52] #81 closed, assigned to nobody

[2016-11-20 12:52] #156 closed, assigned to nobody

[2016-11-20 12:52] #176 closed, assigned to nobody

[2016-11-20 12:52] #276 closed, assigned to nobody

[2016-11-20 12:52] #299 closed, assigned to nobody

[2016-11-20 12:52] #343 closed, assigned to nobody

[2016-11-20 12:52] #424 closed, assigned to nobody

[2016-11-20 12:52] #453 closed, assigned to nobody

[2016-11-20 12:53] #174 closed, assigned to nobody

[2016-11-20 12:54] #95 closed, assigned to nobody

[2016-11-20 12:54] #115 closed, assigned to nobody

[2016-11-20 12:54] #116 closed, assigned to nobody

[2016-11-20 12:54] #119 closed, assigned to nobody

[2016-11-20 12:54] #151 closed, assigned to nobody

[2016-11-20 12:54] #35 closed, assigned to ewan-klein

[2016-11-20 12:56] stevenbird commented on #388
@Copper-Head would you please confirm if this issue is current?

[2016-11-20 12:57] stevenbird commented on #380
@Copper-Head would you please confirm if this issue is current?

[2016-11-20 12:57] stevenbird commented on #167
@Copper-Head would you please confirm if this issue is current?

[2016-11-20 14:00] fievelk commented on #1498
This seems to be solved now.

[2016-11-20 14:00] #1498 closed, assigned to nobody

[2016-11-20 14:14] fievelk opened #1515 "ChrF score failing tests"
ChrF score tests are failing with python 3.4 and python 3.5:

[code]

@alvations could you please check?

[2016-11-20 14:47] alvations commented on #1515
That is a pesky problem when running tests when types become classes in Python3. Let me find a way to over overcome this. There must be some Python2to3 tricks.

I've very reluctant to do something like:

[code]

But if there's no clean way to do it, perhaps the above would suffice.

[2016-11-20 15:04] fievelk commented on #1515
@alvations We could also use `.__class__.__name__`:
[code]
or
[code]
but I actually think that your solution would be better:
[code]

[2016-11-21 03:23] jonrbates opened #1516 "Missing modules from nltk.metrics in Python 3.5 ??"
Hey, I'm trying to compute

nltk.metrics.distance.edit_distance

in v3.5, but I'm seeing "module 'nltk.translate.metrics' has no attribute 'distance'"

Can you help?
Thx!

[2016-11-21 03:27] alvations commented on #1516
Please use this idiom instead of `nltk.metrics.distance.edit_distance`:

[code]

The explanation can be found on http://stackoverflow.com/questions/33398282/attributeerror-module-object-has-no-attribute-scores

[code]

[2016-11-21 03:31] jonrbates commented on #1516
wonderful, thanks :)

[2016-11-21 03:31] #1516 closed, assigned to nobody

[2016-11-21 16:37] bmayerornl opened #1517 "panlex_lite is failing"
As has been reported previously I am having panlex_lite fail.

I downloaded the zip file manually (wget) and unzip manually the error I get from this is:
$ unzip panlex_lite.zip
Archive:  panlex_lite.zip
warning [panlex_lite.zip]:  76 extra bytes at beginning or within zipfile
  (attempting to process anyway)
error [panlex_lite.zip]:  reported length of central directory is
  -76 bytes too long (A

[2016-11-21 23:12] #1180 closed, assigned to nobody

[2016-11-22 05:13] wangjin0818 opened #1518 "Coding error in using Stanford parser for Chinese!"
Hi, there! Greetings!

I find that when using nltk import the Stanford parser for Chinese. It returns me an error. Here is my code:
[code]

And the return msg:

Traceback (most recent call last):
  File "E:\workspaces\python\tinker\stanford_parser.py", line 27, in <module>
    result = list(parser.parse(string.split()))
  File "C:\Anaconda2\lib\site-packages\nltk\parse\api.py", line 45, in parse

[2016-11-22 05:58] alvations commented on #1518
This is an issue with how your terminal environment is setup. Not the NLTK code ;P

First try set locale to UTF8 on the terminal:

[code]

Then change your script you're using an outdated way to initialize an utf8 string do this instead. I think, there's no need to decode a string in python3:

[code]

Then rerun your script without the replace and see whether you still get the error.

----

On win

[2016-11-22 06:11] wangjin0818 commented on #1518
Thanks for answering. My OS is windows 10. I set environment by,
[code]

Here is my environ variable:

#envKKPRbc_Cmdilne=
#envTSLOGRBCShellExt6100=425107680
#envTSLOGsss6100=425108320
ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\aaaa\AppData\Roaming
asl.log=Destination=file
CCHZPATH=C:\CTEX\CTeX\cct\fonts
CCPKPATH=C:\CTEX\CTeX\fonts\pk\modeless\cct\dpi$d
CLASSPATH=.;C:\Program Files\Java\jdk1.

[2016-11-22 14:43] iamprakashom commented on #1253
I am also facing the same issue.

BTW, downloaded panlex_lite data manually.

[2016-11-22 16:21] loretoparisi opened #1519 "Support PCFG grammar in RecursiveDescentApp"
I have a PCFG grammar and I would like to use the RecursiveDescentApp here:

https://github.com/nltk/nltk/blob/640d39af8d1195a0349f97efa81f535956c28328/nltk/app/rdparser_app.py

If I try to load this grammar in the app I get the error

[code]

My PCFG grammar comes from TreeBank learn.
How to adapt the demo to support PCFG rather than CFG grammar?

[2016-11-22 16:35] fievelk opened #1520 "Write tests for warnings"
This issue is to keep track of what has been discussed in #1503.

It would be good to test that warnings are actually displayed in all those cases where NLTK provides users with warnings.

E.g.: since `tox` tests will not install many optional dependencies, we could check that a warning is displayed when some module tries to use an uninstalled package (see for example [`twitter/__init__.py`][1]).

[2016-11-22 16:51] JonathanReeve commented on #1180
Is there a reason why this function was removed? Just curious.

[2016-11-24 09:28] dblandan opened #1523 "whitespace in corenlp_options in nltk.parse.stanford causes OSError"
I needed to keep punctuation, so I added corenlp_options='-ouputFormatOptions includePunctuationDependencies' when creating an instance of a dependency parser.

Because corenlp_options is appended to cmd, the Popen fails.  Changing `cmd.append(self.corenlp_options)` to `cmd.extend(self.corenlp_options.split())` would fix the issue.

Edit:
The Neural Dependency Parser has a default corelnp_options

[2016-11-24 10:38] ShraddhaSurana opened #1524 "NoneType() < bool() error when doing pretty format of nltk decision tree classifier in python3"
<classifier>.pretty_format() works fine with Python2. But this is the error I get with python3:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-629-dc64618292e3> in <module>()
----> 1 classifier.pretty_format()

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-

[2016-11-26 17:43] aplicacionamedida opened #1525 "named fonts and default fonts for GUI"
Its better to use custom named fonts to make an abstraction of the font and to use the default font when the required font doesnt exists.
The font helvetica is not installed on linux by default. The same happens with the font courier.

I am using linux mint, and the downloader GUI looks very ugly for this reason.

[2016-11-27 21:25] sr-murthy opened #1526 "Circular imports between probability, text and utils modules"
I am running into circular import problems while preparing a PR to add some functionality to `nltk/text.py` - specifically, I am trying to write a new class `TextFreqDist` in `nltk/probability.py`, which extends `FreqDist` with some custom features, such as ignoring non-alphanumeric characters. I want to use `nltk.text.Text` in `nltk/probability.py`, but this leads to an import error:

    -------

[2016-11-27 21:27] sr-murthy commented on #1526
I can deal this specific issue by avoid importing `nltl.text.Text` in `nltk/probability.py`, but I was wondering whether anyone else has had such issues.

[2016-11-28 09:41] Ichaelus opened #1528 "Import fails, if userhome contains german umlauts"
I'm trying to use the python module for nltk, but while it's working perfectly fine on my desktop PC, my notebook refused to miss out following error:

[code]
_I marked the important parts of that output with **_

Tracing it down, I figured out that actualy my username contains a german umlaut (ä) on position 23; not a good choice of mine to be fair. It seems that nltk misses to check the userhome

[2016-11-28 17:40] cimarie commented on #1253
@eupherntech @stevealbertwong You could use `nltk.download('all', halt_on_error=False)`, so that after failing to download the package, you will be asked whether you want to retry to download it. Press `n` and the rest of packages should be downloaded.

[2016-11-28 22:48] stevenbird commented on #1528
@Ichaelus: this is a problem with Python 2.7 not NLTK (see the error messages). Would you please upgrade to Python 3.4 or 3.5 and see if the problem goes away.

[2016-11-28 22:48] #1528 closed, assigned to nobody

[2016-11-28 22:50] stevenbird commented on #1526
Yes, the solution to this problem is to have more specific imports. Sorry I don't know of any way to organise `__init__.py` to avoid it.

[2016-11-28 22:50] #1526 closed, assigned to nobody

[2016-12-02 01:30] alvations commented on #1489
Similar to previous feature sprint, here's mini-roadmap that we can follow and anyone can join to help out:

 - #1593: Write a corpus reader for The Paraphrase Database (PPDB), more specifically [PPDB-1.0-XXXL]( https://raw.githubusercontent.com/ma-sultan/monolingual-word-aligner/master/Resources/ppdb-1.0-xxxl-lexical.extended.synonyms.uniquepairs)
 - Write a corpus reader for Semantic Textual Sim

[2016-12-02 01:41] alvations commented on #1504
This warning is strange. I can't replicate it when I'm not in unittest mode:

[code]

But in command line unittest:

[code]

----

Ah, the warnings were turned off by default:

[code]

[2016-12-02 02:06] alvations commented on #1504
Casting the empty generator into the `collections.Counter` object at https://github.com/alvations/nltk/blob/develop/nltk/translate/bleu_score.py#L269 is causing the `StopIteration`:

[code]

----

[code]

[2016-12-02 03:23] alvations opened #1530 "DeprecationWarnings for @memoize for Python3.5"
The `memoize` decorator needs some updating such that it's using the new/better `inspect` from Python3.5

[code]

Related to #630

[2016-12-02 03:29] alvations commented on #1520
On a related note, a horror of warnings pops up when executing `$ python3 -Wd -m unittest` ;P

[code]

[2016-12-02 03:35] alvations opened #1531 "Dependencies on PyPI needs to be updated."
Most users installs `nltk` through:

[code]

or

[code]

but somehow the PyPI requirements seems to be far lacking behind the ones in `pip-req.txt`.

[2016-12-02 04:33] #1504 closed, assigned to alvations

[2016-12-02 06:03] alvations commented on #1476
Thanks @yooper for the instructions to setup JAVA.

@AlexYoung757 , did @yooper's answer resolve your problem?

[2016-12-02 06:08] alvations commented on #1479
@mmuppidi did you resolve your installation issues?

On a Mac, you can either try [Anaconda](https://docs.continuum.io/anaconda/install):

[code]

Or if you would like to install `nltk` such that the user can use it without messy setup, you could try:

[code]

[2016-12-02 06:21] alvations commented on #1433
I think this is the expected behavior sentence tokenizers. We want to avoid any movement of strings (whitespace inclusive) between sentences but if it's heading or trailing whitespaces it's natural to strip them before passing it to the sentence tokenizers.

Keeping in mind that the input to sentence tokenizers are either:
 - paragraphs
 - documents

Most probably the paragraphs are taken from a d

[2016-12-02 06:33] alvations commented on #386
@kmike is this resolved in https://github.com/nltk/nltk/blob/develop/nltk/test/segmentation_fixt.py ?

[2016-12-02 06:36] alvations commented on #397
@mrecachinas @bmurr is this fixed by #1247 ?

[2016-12-02 06:42] alvations commented on #649
@nschneid Thanks for the explanation!

@Safadurimo The documentation on [Princeton WN page](https://wordnet.princeton.edu/man/wndb.5WN.html). The list of `ss_type` (synset types) as documented:

[code]

In the `nltk` code: https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L317

[2016-12-02 06:48] alvations commented on #644
@chihoonj @stevenxxiu Do these [instructions on installing NLTK in Windows](https://gist.github.com/alvations/0ed8641d7d2e1941b9f9) help?

[2016-12-02 06:50] alvations commented on #948
@helmanofer is it still happening with the fixes on #996 and #1000 ?

[2016-12-02 06:57] alvations commented on #1517
c.f. #1253

It's just that the webhost from panlex.org is rather slow and you have to have uninterrupted internet connection for at least 30 mins (can take up to 1-2hours if their site is busy) to complete the download.

[2016-12-02 07:08] alvations commented on #1495
I hope this demonstration would help you.

Firstly, by default `nltk` would save the `nltk_data` on your default home path:

[code]

So let's move the `nltk_data` to another path and we see that it doesn't find the directory:

[code]

To add your custom path where you save the `nltk_data`, you can simply use `nltk.data.path.append()` since `nltk.data.path` is simply a list =)

[code]

[2016-12-02 07:18] alvations commented on #1397
@pedritomelenas @ChenxingLi can you post the full code that caused the problem as well as the error traceback so that we understand what is the error and can help you better?

[2016-12-02 07:25] alvations commented on #1375
@nsndimt Do these instructions on [installing NLTK and Java / Stanford tools](https://gist.github.com/alvations/0ed8641d7d2e1941b9f9) help to resolve your problem?

[2016-12-02 07:29] alvations commented on #1335
@adeshgupta @fysteven Could you explain how have you installed `nltk` on your machines?

Also which Ubuntu version are you using? What is the output of this on the command line?

[code]

It is advisable to use `pip` or `conda` when installing NLTK:

[code]

or with [Anaconda](https://docs.continuum.io/anaconda/install)

[code]

After `pip` installing, do you still have the problem?

[2016-12-02 08:51] pedritomelenas commented on #1397
@alvations, thanks for answering. The error is easy to reproduce, just use the last part of my message.

The problem is that {(not(A) or B), (A or not(B))} should not yield the empty clause, as this set is not inconsistent. If you are about to compute a resolvent in this case, you either stick to A and not(A), or to B and not(B), and you would get two tautologies ((B or not(B)), (A or not(A)), res

[2016-12-02 08:57] lfurrer commented on #1433
So you are saying that expected behaviour of a sentence splitter is to be inconsistent with regard to trailing whitespace?

Calling `str.strip()` before feeding it to the sentence splitter is an obvious work-around to get predictable behaviour. But I argue that the sentence splitter should be consistent in the way it treats trailing whitespace in the first place.
Especially since this behaviour is

[2016-12-02 09:01] alvations commented on #1397
@pedritomelenas Having the code and error traceback would expedite the debugging. Thanks in advance!

[2016-12-02 09:06] pedritomelenas commented on #1397
There is no error message. The output is not correct.
Thank you,
Pedro

[2016-12-02 09:06] alvations commented on #1433
Personally, I would never pass in an unstripped string to any NLP process. IMO, it's just cleaner for me to know that no functions (tokenizers/taggers/parsers/etc.) give me spurious output when it comes to heading/trailing whitespaces =)

~~Do post the issue to https://groups.google.com/forum/#!forum/nltk-users and/or https://groups.google.com/forum/#!forum/nltk-users for further discussion from o

[2016-12-02 09:13] lfurrer commented on #1433
Did you mean to link to the same forum twice?

[2016-12-02 09:34] lfurrer commented on #1433
I don't see need discussing this issue in a forum – I don't see a point in discussing the pros and cons of reporting trailing whitespace in general.
Here is the bug tracker, and I think it's clearly a bug.
I figured the NLTK devs might want to fix this in a future release, or at least put a note in the doc(string) that trailing whitespace is reported sometimes, but not always.
But if you, as an NL

[2016-12-02 10:00] alvations commented on #1433
~~Do feel free to discuss further on the google groups or do a Pull Request (PR) with the fixes and it will go through code/feature review where the other developers/users can put in their views on the PR.~~

@en-dash I think I misunderstood what you meant. Just to double check, do you mean to apply a fix like this: https://github.com/alvations/nltk/commit/5cf26536d4251c46237af9d674d1358881dceb6b

[2016-12-02 12:27] pedritomelenas commented on #1397
Here is an example
[code]
and the output is `[{-Q(x)}]`, which is fine.
But then with
[code]
the output is `[{}]`, which is not fine.

I hope this helps.
Thank you,
Pedro

[2016-12-04 18:01] fievelk commented on #1531
I think this is related to the fact that [`nltk/setup.py`][1] only lists `six` as required dependency:
[code]

From [`pip` docs][2]:

Conversely, [`nltk/pip-req.txt`][3] is a [requirement file][4]:

(See [docs][5]).

Please note that [`nltk/jenkins.sh`][6] is actually using `pip-req.txt`:
[code]

So I think we should add our minimal requirements to `install_requires` in `setup.py`. Moreover, in or

[2016-12-04 18:25] kmike commented on #1531
I think if NLTK is usable without matplotlib then we shouldn't add matplotlib to install_requires. It is a huge dependency, and there is no reason to force users to install it. Creating extra_requires makes more sense - this way user may e.g. run `pip install nltk[plotting]` and get all dependencies required for nltk plotting support.

[2016-12-04 18:31] fievelk commented on #1531
If you want, you can test that `pip` currently installs NLTK without required dependencies:
[code]
In fact, the version of `setup.py` which is being shipped with NLTK 3.2.1 is commented out: see [nltk/setup.py][1].

Instead, if we modify `install_requires` to be something like:
[code]
and we install NLTK using this updated version, we get all requirements:
[code]
[1]: https://github.com/nltk/nltk/

[2016-12-04 18:34] fievelk commented on #1531
@kmike  I really like your solution.
In case we decide to follow this solution we should be careful not to break anything in the process. We should also add specific instructions to the existing NLTK documentation.

[2016-12-04 18:39] kmike commented on #1531
Adding all these packages to `install_requires` sounds like a maintenance nightmare - user must be able to build all these packages (many of them contain C/C++ extensions) in order to install NLTK - even if they are not needed at all for the user.

I don't see them as required dependencies, they are optional dependencies which enables some of NLTK features. Currently the only required dependency i

[2016-12-04 18:53] fievelk commented on #1531
@kmike I was actually thinking about the whole thing from a developer's perspective and I was clearly overlooking more important aspects. Thank you for pointing that out :+1:
In this case I suppose that dependencies do not need to be updated, so this issue is not an actual issue. @alvations do you agree on this? Do you have other ideas?

However, I like the idea of adding `extras_require` to `setu

[2016-12-05 02:36] alvations commented on #1531
I like @kmike suggestion too, having something like:

[code]

and maybe:

[code]

and for lazy users:

[code]

----

On a related note, I think we need to also include the downloads in the `setup.py` code such that users won't see an error when using "NLTK default" functions e.g. :

[code]

Currently, now the users must download:

[code]

[2016-12-05 02:59] stevenbird commented on #1531
Thanks for all this – it will have a significant impact of people's experience getting set up with NLTK. A PR would be much appreciated. Also, if anyone needs the keys for pypi in order to update things there, please let me know.

[2016-12-06 17:38] mpertierra commented on #1356
Any updates on this?

[2016-12-06 18:27] tanin47 commented on #1356
I haven't started on this. Thanks for the ping. I'll estimate the time for this by today.

[2016-12-07 15:08] michael-s-crouch opened #1537 "nltk.tokenize.texttiling TextTilingTokenizer parameter demo_mode not documented"
There's no documentation of the parameter demo_mode for TextTilingTokenizer. It doesn't seem to be just for internal use; it's used in the example code.

[2016-12-07 16:58] dimazest commented on #1531
Including `extras_require` [1] into `setup.py` is be a huge step forward.

The `all` extra, that lists all the packages NLTK might ever require. Then the specific extras might be introduced.

[1] http://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies

[2016-12-07 17:56] kmike commented on #1531
`all` name has one caveat: it still won't get users non-Python dependencies like Stanford tools.

[2016-12-08 02:51] #89 closed, assigned to nobody

[2016-12-08 09:41] iliakur commented on #1495
What I did on my linux box is create a symlink to my custom data location. This should made life much easier with loading data. Not really a "solution", but a bit of a fix.

[2016-12-08 09:48] alvations commented on #1495
@pshkrjshnde Did @Copper-Head suggestion and the demo helped you resolve your problem?

[2016-12-08 09:58] ghost commented on #1495
@Copper-Head @alvations I knew that already. What I was trying to suggest was instead of adding the path in the code separately, is it possible to append the path to the original path.
Something like paths.txt contains certain fixed paths that nltk looks into by default. Add the new path to paths.txt
[code]
[code]

nltk.data.path = read paths from paths.txt

[2016-12-08 23:02] alvations commented on #1495
@pshkrjshnde I'm not sure whether using an additional text file for `nltk_data` path is more user-friendly than just appending to the `nltk.data.path`. Possibly, adding the `NLTK_DATA` environmental variable would be more appropriate, e.g.

[code]

Maybe something like http://stackoverflow.com/a/36383314/610569 that tries to automagically search for `nltk_data` (but it assumes that directory named

[2016-12-09 02:41] mrecachinas commented on #397
@alvations Correct. There should be no way to get a ZeroDivisionError or ValueError (for `math.log(0)`) with #1247.

[2016-12-09 03:38] StarWang opened #1539 "nltk.translate.bleu_score gives false result when ngram larger than maximum ngrams of given sentence"
Given weight = [0.25, 0.25, 0.25, 0.25] (default value),
sentence_bleu([['a', 'b', 'c']], ['a', 'b', 'c']) = 0
While sentence_bleu([['a', 'b', 'c']], ['a', 'b', 'd']) = 0.7598
Obviously the previous score should be larger than the latter, or both scores should be 0

[2016-12-09 04:19] alvations commented on #1539
Which version of the code are you using?

[code]

The BLEU implementation has been just recently fixed with #1330 resolved. If you're using the `develop` branch of `nltk`, this should be the output:

[code]

Since a string is a list of chars and `nltk` imports the `sentence_bleu()` to the top-level imports,  the code above is the same as:

[code]

To install the latest `develop` branch, try:

[cod

[2016-12-09 04:58] alvations commented on #1515
@fievelk thanks for the alternative solutions.

Reluctantly, I think it's cleanest to go with

[code]

[2016-12-09 05:01] alvations commented on #1518
@wangjin0818 Did you managed to get the issue resolved? Could you tell us how you fixed it to help us improve `nltk`?

[2016-12-09 05:22] StarWang commented on #1539
Thanks @alvations . The original version of nltk I used was 3.2. I have updated it to 3.2.1 now and it's now raising ZeroDivisionError. And I used Python 3.5.2

[2016-12-09 05:25] alvations commented on #1490
@cjhutto would it be okay to do some sort of scaling so that the output of [nltk.sentiment.vader.normalize](https://github.com/nltk/nltk/blob/develop/nltk/sentiment/vader.py#L107) be bounded by -[1,1] ?

Is it alright if the function gets changed to something like:

[code]

Since we know that the max of `x / (x^2+15)` is close to 0.128, we can add a priori scaling factor of 8, i.e. `8x/(x^2+15)` w

[2016-12-09 05:33] alvations commented on #1539
The only stable version of BLEU is in the `develop` branch. Please wait for it to be release in NLTK 3.2.2 or install the `develop` branch (but do note that the development branch might be subjected to untested bugs).

[2016-12-09 05:37] StarWang commented on #1539
OK. I will wait. But in the case you mentioned above, if the weight is [0.25, 0.25, 0.25, 0.25], the results of sentence_bleu([['a', 'b', 'c']], ['a', 'b', 'c']) and sentence_bleu([['a', 'b', 'c']], ['a', 'b', 'd']) should both be 0, according to the original paper

[2016-12-09 06:08] alvations commented on #1539
The original paper didn't account for the fact that `p_n` can be 0  if the length of reference/hypothesis is less than `n`, see equation in Section 2.3 of http://www.aclweb.org/anthology/P02-1040.pdf. Because it was meant to be a corpus score, the possibility that there are references/hypotheses less than length `n` was not covered in the paper.

If we look at the formula in Section 2.3, it takes

[2016-12-09 06:10] #1539 closed, assigned to nobody

[2016-12-09 12:51] cjhutto commented on #1490
Perhaps I'm misinterpreting what you're trying to say.
"we know that the max of `x / (x^2+15)` is close to 0.128" ... this is not an accurate depiction of what VADER is doing - note: VADER is actually doing `score / math.sqrt((score*score) + alpha)`.  Your equation is missing the key part of taking the square root of the denominator.

Indeed it should be clear from the example sentences (without d

[2016-12-09 20:11] timjstewart opened #1541 "Can't import nltk in Python 3.6 - AttributeError: module 'inspect' has no attribute 'getargspec'"
I'm running this under Mac OS X in a virtualenv.

$ ipython
Python **3.6.0a0** (default, Sep 24 2015, 09:10:51)
Type "copyright", "credits" or "license" for more information.

IPython 5.1.0 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details about 'object', use 'ob

[2016-12-09 20:19] timjstewart commented on #1541
Works fine with python 3.5!  :)

[2016-12-10 03:53] wangjin0818 commented on #1518
This issue is caused by '\xa0' cannot be decoded by utf8. In utf8, the non-breaking space '\xa0' is equal to '\xc2\xa0'. Therefore, just replace '\xc2\xa0' will be OK.

So, I suggest to remove below code in ```stanford.py```:
[code]

It works well now~. And, the issue can be closed.

[2016-12-11 14:40] hemangmehta opened #1542 "How to use Dictionary as training data"
Hi,

I have list of categories and it's synonyms in below format

How can i train classifier, so that if i will classify `atms` it should return me `atm fees`
for
nsf -> overfraft fees
food -> restaurant

how to solve this problem ?

[2016-12-13 12:25] changukshin opened #1543 "Wiki page broken link"
machine-translation page below

https://github.com/nltk/nltk/wiki/Machine-Translation

has a broken link(https://github.com/nltk/nltk/tree/develop/nltk/align)

[2016-12-13 23:34] olp-cs opened #1544 "Broken import of nltk.sentiment.vader with Python 2.7.12, NLTK 3.0.0"
NLTK 3.0.0
Python 2.7.12
Mac OS X 10.10.5

When I type:

[code]

or even simply

[code]

I get the following error:

[code]

[2016-12-14 11:09] olp-cs commented on #1544
So far, I have found a workaround without using NLTK:

`pip install vaderSentiment`

[code]

[2016-12-14 19:25] alvations commented on #1490
Thanks @cjhutto for the detailed explanation! Will close this issue =)

[2016-12-14 19:25] #1490 closed, assigned to nobody

[2016-12-14 19:30] alvations commented on #1543
Thanks @papower1 for spotting that! The link has been updated =)

[2016-12-14 19:30] #1543 closed, assigned to nobody

[2016-12-15 01:25] alvations commented on #1544
Please update your NLTK, on the command line

[code]

The import should work from `nltk>=3.2`:

[code]

[2016-12-15 01:27] alvations commented on #1541
Indeed, Python3.6 is another can of worms yet to be handled in `nltk`. Python 3.4 -> 3.5 was quite a headache. Any brave takers to port `nltk` for Py3.6+ ?

A good start would be to read the PEPs on https://docs.python.org/3.6/whatsnew/3.6.html

[2016-12-17 11:21] fievelk commented on #1050
Builds are now succeeding, since non-deterministic tests are currently skipped thanks to 80ee12e15b30b4de533d54dc3336236f017bade8.

[2016-12-17 11:21] #1050 closed, assigned to nobody

[2016-12-17 13:02] #1515 closed, assigned to alvations

[2016-12-17 13:04] stevenbird commented on #1544
@traims: please reopen if there is still a problem.

[2016-12-17 13:04] #1544 closed, assigned to nobody

[2016-12-17 13:07] stevenbird commented on #1542
@hemangmehta: sorry, this is not a valid issue. You can post to nltk-users or stackoverflow.

[2016-12-17 13:07] #1542 closed, assigned to nobody

[2016-12-17 13:08] stevenbird commented on #1531
@alvations: is this resolved now?

[2016-12-18 14:58] fcbond opened #1548 "There is no easy way to add new synsets/lemmas to the wordnets"
It would be good if it were possible to e.g., create a new synset named company and add the words into it.

for example:
Synsets: company_synonyms

words to be added:
tata consultancy ser

[2016-12-18 19:26] mayank-20-nayyar commented on #1548
The idea is quite cool and i would like to work on it. As i aim to wish my first contribution to NLTK (but having worked on NLTK for long ) can any of the the core contributors guide me where to begin. It would be great opportunity for me to take up this issue.
Thanks in advance.

[2016-12-19 03:21] alvations commented on #1531
Thanks @fievelk @dimazest @kmike , great fix on #1538!!

@stevenbird the main installation with `pip` is fixed.

Once the PyPI index is updated, I think `conda` will update their package on their manager too and that'll help quite a lot of users at installation.

----

One related issue is the automatic installation of the default (popular) models for `pos_tag` and `sent_tokenize` and `ne_chunk`.

[2016-12-20 10:06] alvations opened #1551 "nltk.tokenize.moses.py needs quite some re-working and tests"
There are several problems that needs to be fixed for `nltk.tokenize.moses` to work properly:

**Non-well-formed regexes**

E.g. The missing brackets at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L90 will cause the `nltk.tokenize.moses.penn_tokenize()` function to break:

[code]

**Mising global/local self scoping for `MosesTokenizer` object**

At codepoint https://github.com

[2016-12-20 10:09] alvations commented on #1551
Also, the `MosesTokenizer.tokenize()` function is outputting erroneous escape backslashes:

[code]

This seems to be a problem only for XML escapable characters, i.e. characters from these set https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L159 and https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L399:

[code]

So is the detokenizer() outputting erroneous backslas

[2016-12-20 10:22] alvations commented on #1551
Ahhh, pushing on to the wrong branch, reverting.

[2016-12-20 23:29] dalanmiller opened #1552 "Unicode Decode Error when navigating around tkinter GUI"
On Python `3.5.2` and iPython `5.1.0`

Basically I just start the download window and then try to move to another tab.

[code]

[2016-12-21 03:01] hansen7 commented on #1239
what is 'st' in the command 'stanford_dir = st._stanford_jar.rpartition('/')[0]'

[2016-12-22 02:28] alvations commented on #1551
The expected outputs of the English contractions and escaped XML characters from should look like this:

[code]

But NLTK is outputing some erroneous backslashes as well as splitting the `&apos;t` up.

[code]

The main issue of the tokenizer seems to come from https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L349 and originally from [moses' code](https://github.com/alvations/mosesd

[2016-12-22 02:30] alvations commented on #1551
Regarding the superfluous `\` from escaping XML, **is it alright if we skip the "correctness" of porting from Perl regexes to Python and in-built Python XML escape functions?**, e.g.:

[code]

----

After second thoughts. then detokenizing would be harder. Maybe the function is nice in `nltk.tokenize.util` but not in the `MosesTokenizer` class

[2016-12-22 08:20] alvations commented on #1214
Now with Moses tokenizer and detokenizer working (#1551, #1553), any brave soul want to try reimplementing [Elephant](http://gmb.let.rug.nl/elephant/about.php) with `sklearn` ?

[2016-12-22 10:44] #1433 closed, assigned to nobody

[2016-12-23 03:16] alvations opened #1554 "How to handle BLEU scores for ngrams where n<4 in NLTK?"
From #1545, BLEU is buggy for ngrams where the n<4.

One simple way is to clip the weights distribution such that the `weights=(0.25, 0.25, 0.25, 0.25)` redistributes uniformly with respect to the highest ngram order from the hypothesis or reference.

But we're not sure whether that's the most appropriate solution to fix that.

Meanwhile, while smoothing functions work fine when reference length i

[2016-12-23 05:38] alvations commented on #1554
One necessary evil to resolve this BLEU issue for n<4 is to add some sort of weights redistribution if n<4 before https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.py#L159 :

[code]

This is necessary because without the re-weighting, the smoothing would have assigned probabilities to the 0 counts of ngrams and then heavily penalize the outputs for no particular reason on the hig

[2016-12-27 07:10] bargri opened #1558 "word_tokenizer and Spanish"
I would like to have a word_tokenizer that works with Spanish. For example, this code:

`import nltk
from nltk.tokenize import word_tokenize
sentences = "¿Quién eres tú? ¡Hola! ¿Dónde estoy?"
spanish_sentence_tokenizer = nltk.data.load('tokenizers/punkt/spanish.pickle')
sentences = spanish_sentence_tokenizer.tokenize(sentences)
for s in sentences:
    print([s for s in vword_tokenize(s)])`

gives

[2016-12-27 07:17] alvations commented on #1558
C.f. #1214, there are quite a few alternative tokenizers in NLTK =)

E.g. using NLTK port of @jonsafari [toktok tokenizer](https://github.com/jonsafari/tok-tok):

[code]

If you hack the code a little and add `u'\xa1'` in https://github.com/nltk/nltk/blob/develop/nltk/tokenize/toktok.py#L51 , you should be able to get:

[code]

[2016-12-27 08:10] bargri commented on #1558
Thanks for your quick reply. I did as you directed but toktok isn't installed. What else do I need to do?

`>>> import nltk
nltk.download('perluniprops')

[nltk_data] Downloading package perluniprops to
[nltk_data]     /Users/barry/nltk_data...
[nltk_data]   Package perluniprops is already up-to-date!
True

[nltk_data] Downloading package nonbreaking_prefixes to
[nltk_data]     /Users/barry/nltk_d

[2016-12-27 08:12] alvations commented on #1558
Please update your NLTK (but i think the toktok tokenizer is not in the official release, i.e. master branch yet).

[code]

Please wait for the next version release to use the toktok Tokenizer.

----

Meanwhile, if you urgently need to use the toktok tokenizer, it should reside in the development branch :

[code]

Note that the development branch is not an official release, it is subjected to unat

[2016-12-27 08:39] alvations opened #1559 "Small improvement to the ToktokTokenizer"
From #1558, we can easily add the `u'\xa1'` character to the `FUNKY_PUNCT_1` regular expression at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/toktok.py#L51 to cover the inverted exclamation.

It's an easy improvement to make as a first contribution to NLTK. You can easily add to the examples from #1558 to the doctest at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/toktok.py

[2016-12-27 09:06] bargri commented on #1558
Ok thanks! When I use this tokeniser I still get unexpected behaviour:

Notice '¡Hola'. This is an issue with toktok.pl. I have reported an issue here: https://github.com/jonsafari/tok-tok/issues/2

[2016-12-27 09:11] alvations commented on #1558
Please look at #1559 and jonsafari/tok-tok#1 .

[2016-12-27 10:10] Nishkarshk opened #1560 "panlex_lite installation"
Hello All,

I know this issues is raised in other threads as well, sorry for a new threads as i did not got answer of what i am looking for

System : Mac,
OS        : OS X, 13F1911
Python Version : 3.5.2
Nltk Version : 3.2.1

Downloaded all packages. Command Used
python3

panlex_lite download get stuk

Tried downloading few time
Tried downloading panlex_lite.zip independently

In both of the above

[2016-12-27 10:45] mpenkov commented on #947
I've found that performing the import at function level avoids the issue.

In other words, this works:

[code]

and this doesn't:

[code]

[2016-12-27 20:48] #1369 closed, assigned to nschneid

[2016-12-27 22:38] #1558 closed, assigned to nobody

[2016-12-27 22:38] #1559 closed, assigned to nobody

[2016-12-27 22:58] naoyak commented on #1530
Would it make sense to simply include the original [decorator](https://github.com/micheles/decorator) package as a requirement? It looks like the deprecation issue has been [addressed](https://github.com/micheles/decorator/blob/ae96a8f0844770bfb592012ac3ad06cdc7f8e3f9/src/decorator.py#L44-L77) there. (note that `getfullargspec` has been un-deprecated from Python 3.6 final)

[2016-12-28 16:28] dimazest commented on #1530
Starting with Python 3.2 there is [lru_cache()](https://docs.python.org/3/library/functools.html#functools.lru_cache) decorator. It was [backported](https://pypi.python.org/pypi/backports.functools_lru_cache/1.3) to Python 2 as well.

So, maybe it worth using Python 3's lru_cache if it's available, otherwise use memoize.

[2016-12-28 17:49] dimazest commented on #1548
Hi, I would be happy to help you.

Did you check out the source code of NLTK and run the tests? That's usually a good starting point.

Do you have an idea of the API? What would be the methods you add to NLTK? I guess, it's also important to be able to share the new definitions, as essentially wordnet is extended.

[2016-12-28 20:19] stevenbird commented on #1548
@fcbond is this proposed for local customisations to the WordNet database, via a new API? And would it include adding content and relations to existing synsets? Would it be better to have people contribute directly to one of the original WordNets perhaps?

[2016-12-29 00:36] alvations commented on #1548
@fcbond here's a wild idea but maybe it's worth the effort to have a new API that maps WN into a [networkx](http://networkx.readthedocs.io/en/stable/) graph structure. And additional synsets/lemmas can be treated as nodes with different edges.

[2016-12-29 02:53] naoyak commented on #1552
These links look relevant:
https://bugs.python.org/issue10731
https://github.com/Homebrew/legacy-homebrew/issues/25974
https://www.python.org/download/mac/tcltk/

It sounds like reinstalling python with Homebrew's Tcl/Tk may fix the issue.
[code]

[2016-12-29 07:59] #1551 closed, assigned to nobody

[2016-12-29 07:59] #1554 closed, assigned to nobody

[2016-12-29 20:22] #1418 closed, assigned to nobody

[2016-12-29 20:25] stevenbird commented on #1246
@alvations: thanks for a good diagnosis and solution

[2016-12-29 20:25] #1246 closed, assigned to stevenbird

[2016-12-29 20:26] stevenbird commented on #1560
@kamholz: would you please advise?

[2016-12-29 20:33] kamholz commented on #1560
@stevenbird panlex_lite was recently regenerated. Probably the checksum in the index.xml is wrong. How can we make sure it's always up to date?

[2016-12-31 02:41] JustFly1984 commented on #1253
Same issue here, even manually it takes up to 8 hours. Do something about it please!

[2017-01-02 04:16] terencen opened #1574 "Cannot Install on Windows"
I'm having issues installing NLTK on a Windows 7 64-bit machine with Python 3.5 32-bit installed.  I'm using the executable located here :  https://pypi.python.org/pypi/nltk

However, I am prompted with an error after running the executable that reads:

"Python version -32 required, which was not found in the registry".

I've tried this installation against Windows 7 systems with Python 2.7, 3.4,

[2017-01-02 04:26] stevenbird commented on #1574
cf #1079

[2017-01-02 21:18] nschneid commented on #1196
@mr-solebrity: Yes, `men` is similar to `people`: there is [an entry](http://www.golovchenko.org/cgi-bin/wnsearch?q=men) where it's listed in the plural, so it is never lemmatized to the singular.

It turns out that many regular (as well as a few irregular) plurals are listed as WordNet lemmas, and thus left alone during lemmatization. Working on lists and an improved stemmer at https://gist.githu

[2017-01-02 22:09] terencen commented on #1574
This isn't quite the same issue I think; I'm running the 32-bit version of Python on a 64-bit OS.  So the 32-bit installer of NLTK should work based on the requirements.. but it's not seeing the registry entries.

[2017-01-02 23:02] alvations commented on #1574
@terencen in the Python interpreter, what is your output for:

[code]

And what is your output for

[code]

[2017-01-03 12:37] iranianpep commented on #1560
I had the same issue. I used `nltk.download('all')` and got timeout error at `panlex_lite`

[2017-01-03 12:42] iranianpep opened #1575 "stem_word and lower case stem output in v3.2.2"
Hi,

Just wanted to confirm the following things affected by the recent upgrade to v3.2.2:
- There is no `stem_word` function in `PorterStemmer()`. I had to replace it with `stem()`
- Unlike before, `stem` returns lower case of a word e.g. `stem` for `Stemming` (http://text-processing.com/demo/stem/ is the same as before).

Cheers,
Ehsan

[2017-01-03 14:48] ghost opened #1576 "cant use nltk functions in parallel programs"
when I want to use nltk stemmer and lemmatizer in a multithreaded program only one thread works fine and other ones throw this exception :

Exception in thread 2:
Traceback (most recent call last):
  File "C:\Users\Danial\AppData\Local\Programs\Python\Python35\lib\threading.py", line 914, in _bootstrap_inner
    self.run()
  File "C:\Users\Danial\AppData\Local\Programs\Python\Python35\lib\threadin

[2017-01-03 15:53] terencen commented on #1574
32

('32bit','WindowsPE')

[2017-01-04 00:04] maitetaboada commented on #1574
I'm having the same issue. Both terencen and I are trying to install (on different machines), but have the same issue.
Output for my Windows 10 machine is the same as terencen's:

[code]

[2017-01-04 08:19] fievelk opened #1577 "Tokenize `xml_escape` tests are failing"
Tests for `tokenize.util.xml_escape` are currently failing, see [Jenkins CI test](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/testReport/nltk.tokenize/util/xml_escape).

[2017-01-04 13:46] dimazest commented on #1576
Try to import nltk inside of a worker function. In your case it should be `myfunc`.

[2017-01-04 20:18] stevenbird commented on #1575
@ExplodingCabbage would you please respond to this? Also, are there other changes to the API?

[2017-01-04 20:20] stevenbird commented on #1552
Thanks @naoyak

[2017-01-04 20:20] #1552 closed, assigned to nobody

[2017-01-04 20:23] stevenbird commented on #1577
@alvations – would you please look into this?

[2017-01-04 20:43] #1184 closed, assigned to nobody

[2017-01-04 20:47] stevenbird commented on #1184
@mhjabreel sorry for the delay in dealing with this. Thanks for your proposal, which I adopted. However, note that I made `check_exceptions` default to `True`, since this is the current behaviour. There needs to be a bigger case made for changing behaviour, e.g. demonstration that other words are not handled incorrectly as a consequence of turning off this exception checking.

[2017-01-04 20:52] stevenbird commented on #947
Thanks @mpenkov. Does this resolve the issue?

[2017-01-04 20:53] #936 closed, assigned to nobody

[2017-01-04 20:54] #911 closed, assigned to nobody

[2017-01-04 20:54] stevenbird commented on #911
Thanks all – I've closed this since it looks like it has been satisfactorily resolved.

[2017-01-04 21:00] #960 closed, assigned to longdt219

[2017-01-04 21:02] stevenbird commented on #728
It looks like this issue is resolved. Please re-open if I'm wrong, thanks.

[2017-01-04 21:02] #728 closed, assigned to stevenbird

[2017-01-04 21:07] #713 closed, assigned to stevenbird

[2017-01-04 21:09] stevenbird commented on #709
I think it's too late to bother with this consistency issue, so I'll close the issue.

[2017-01-04 21:09] #709 closed, assigned to stevenbird

[2017-01-04 21:09] #612 closed, assigned to nobody

[2017-01-04 21:10] #607 closed, assigned to stevenbird

[2017-01-04 21:12] #152 closed, assigned to nobody

[2017-01-04 21:13] #171 closed, assigned to nobody

[2017-01-04 21:13] stevenbird commented on #178
Thanks @PanderMusubi. It looks like this issue is no longer current.

[2017-01-04 21:13] #178 closed, assigned to nobody

[2017-01-04 21:22] stevenbird commented on #668
@bryandeng, @johncadigan: sorry for the delay – is this still relevant for you? How widely used is Brat?

[2017-01-04 22:19] mhjabreel commented on #1184
@stevenbird Thanks

[2017-01-04 23:00] ExplodingCabbage commented on #1575
Hi @iranianpep. Yes, both of those changes were intentional. @stevenbird, yes, these are the only two backwards-incompatible changes.

Both changes are noted in the commit message at https://github.com/nltk/nltk/commit/d8402e3f43ce3b7a3c7ecb45c3b8b1f75c7124e2, though these points didn't make it to the [release notes](http://www.nltk.org/news.html):

I'm guessing @stevenbird overlooked these points

[2017-01-05 01:51] iranianpep commented on #1575
@ExplodingCabbage Thanks, you can close this if you want.

[2017-01-05 04:10] mpenkov commented on #947
@stevenbird I don't think so. It's a workaround, but it isn't a fix.

IMHO, if importing a third-party library breaks a Python standard library component, something unholy is happening somewhere, and needs to be fixed.

[2017-01-05 08:57] sudowork commented on #947
@mpenkov I'm not entirely sure why this works, but here's another workaround I found works. Building an opener in the parent process appears to fix it. Modifying @oxymor0n's original code:
[code]

[2017-01-05 16:51] fievelk opened #1579 "Pl196x corpus failure with python 3.5"
Tests are failing using python 3.5 because of `Pl196xCorpusReader`. How is the `textids.txt` file supposed to be obtained by users?

Command: `tox -e py35`
Output:
[code]

[2017-01-05 17:47] fievelk opened #1580 "Unavailable corpora are breaking tests"
Tests are failing with python 3.5 because of some corpus readers whose corpora are not distributed within NLTK. For example: [`nkjp`][1], [`ipipan`][2], [`ycoe`][3].

You can reproduce these problems using `tox -e py35 /nltk/nltk/corpus/__init__.py`.

I would like to find an answer the following questions:
1. Why is this problem only arising when we run `tox` using python 3.5, and not with previou

[2017-01-07 05:49] ghost opened #1581 "porter stemmer: string index out of range"
see the following [stackoverflow post](http://stackoverflow.com/questions/41517595/nltk-stemmer-string-index-out-of-range)

[2017-01-07 10:39] fievelk commented on #1581
For future reference, I copy/paste your question here:

---

[2017-01-07 18:17] ghost commented on #1581
I have found that this issue is specific to nltk version 3.2.2. Originally, I ran `test.py` using ipython not python, as stated above. Somehow, I was able to access the ipython installation in my root environment `//anaconda/bin/ipython` even though I had not specified ipython in my django project's (the activated) virtual environment `//anaconda/envs/xkcd/bin/`. As a result, ipython must have bee

[2017-01-07 18:47] Ric13RK commented on #1581
Hey,
        Sorry for this (problem).I mean I never use github, it was
accidentally happened. I don't know what I just trigger!

On Jan 7, 2017 11:47 PM, "jkarimi91" <notifications@github.com> wrote:

[2017-01-07 19:10] fievelk commented on #1581
@ExplodingCabbage could you please investigate this issue? The only commit I can see on `porter.py` after `3.2` has been released is d8402e3f43ce3b7a3c7ecb45c3b8b1f75c7124e2.

[2017-01-07 19:31] fievelk commented on #1581
This is the code used in the example provided by @jkarimi91.
[code]

Debugging the code above using `pdb` from within `_apply_rule_list()` in `porter.py`, after a few iterations you get:

[code]

At this point the `_ends_double_consonant()` method tries to do `word[-1] == word[-2]` and it fails.

If I'm not mistaken, in NLTK `3.2` the relative method was the following:
[code]

As far as I can see,

[2017-01-07 19:43] ExplodingCabbage commented on #1581
Yikes. Yep, looks like I broke this in https://github.com/nltk/nltk/commit/d8402e3f43ce3b7a3c7ecb45c3b8b1f75c7124e2 :(

Will PR a test and a fix tonight.

[2017-01-07 22:41] #1581 closed, assigned to nobody

[2017-01-07 22:42] stevenbird commented on #1581
Thanks @jkarimi91, @fievelk, @ExplodingCabbage

[2017-01-07 23:51] fievelk opened #1584 "StanfordTokenizer failure"
We are experiencing [`StanfordTokenizer` failures on our CI][1]:
[code]

@alvations I think that you have had some experience with this kind of problems previously. Could you please verify? I have the feeling that this could be related to some changes in the Stanford jar, but I could be wrong.

[1]:https://nltk.ci.cloudbees.com/job/pull_request_tests/lastCompletedBuild/TOXENV=py34-jenkins,jdk=jdk8

[2017-01-08 11:52] fievelk commented on #1584
I think I might have found the problem, and it could be related to the `slf4j.jar` file currently shipped by Stanford CoreNLP. I opened an issue on their repo: stanfordnlp/CoreNLP#334.

I solved the problem (on my machine) substituting their `lib/slf4j-api.jar` with the [`1.7.12` version][1].

[1]:https://mvnrepository.com/artifact/org.slf4j/slf4j-api/1.7.12

[2017-01-09 02:13] ruchiHub commented on #1574
Similar error and outputs...Any suggestions?

[2017-01-09 04:15] alvations commented on #1584
@fievelk Sorry for the delayed response.

An easy way out is to not specify any specific jar files and use the `nltk.internals.find_jars_within_path`. Given the main directory of Stanford corenlp, you can do something like https://github.com/nltk/nltk/blob/develop/nltk/tag/stanford.py#L60 and then append the stanford jars to the command line at https://github.com/nltk/nltk/blob/develop/nltk/tag/st

[2017-01-10 02:38] ruchiHub commented on #1574
ok finally it did work:) Please ensure version compatibility. If you have downloaded python 3.5(32 bit) ...all installations/add on should be 32 bits...
http://web.cs.wpi.edu/~cs1004/a16/Resources/Windows/SettingUpPython_Windows.pdf
Good Luck!

[2017-01-10 21:38] maitetaboada commented on #1574
Thanks. I managed it with pip:

python -m pip install nltk

The executable doesn't work.

[2017-01-10 23:36] fievelk opened #1586 "StanfordNeuralDependencyParser memory issues"
**In brief:** should we raise the amount of memory used by default by `StanfordNeuralDependencyParser`?

---

I am experiencing some problems with `StanfordNeuralDependencyParser`. Steps to reproduce the issue:
[code]

First I get this error:

Then, if I allocate more heap space using `java_options='-mx2000m'` and try again:

If I increase it again (e.g. to `java_options='-mx4g'`) I finally get a

[2017-01-11 01:13] stevenbird commented on #1577
@alvations – looks like we still have this error on the [CI server](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/testReport/nltk.tokenize/util/xml_escape/)

[2017-01-11 05:33] acattle commented on #1023
The WordNet online link supplied by @haqirfan explicitly results in an error if the parts of speech are different, regardless of order. If this is indeed the expected behaviour, it would be nice if NLTK did the same instead of either failing silently (i.e. returning `None`) or incorrectly succeeding.

Also, if this is the expected behaviour then I'd like to see the documentation changed to reflect

[2017-01-11 13:00] KristianHolsheimer commented on #1387
Hi there,

I see that this issue has been open since May of last year. Has there been any progress since?

By the way, I confirm that the issue is in generating the `ps` file from the tree object.

Thanks,
Kris

[2017-01-14 05:26] #1463 closed, assigned to nobody

[2017-01-14 05:26] #1530 closed, assigned to nobody

[2017-01-14 05:26] #1541 closed, assigned to nobody

[2017-01-14 15:53] naoyak commented on #518
Should this have been closed by #1512?

[2017-01-14 15:56] naoyak commented on #696
Looks like this is a Tk issue, solvable by upgrading ActiveTcl:
http://stackoverflow.com/questions/16995969/inertial-scrolling-in-mac-os-x-with-tkinter-and-python
http://bugs.python.org/issue10731
https://sourceforge.net/p/tktoolkit/bugs/2966/

[2017-01-17 08:02] sauras1304 commented on #1574
Thanks! Worked like a charm with pip

[2017-01-17 21:21] fievelk commented on #1586
Fixed by #1588

[2017-01-17 21:21] #1586 closed, assigned to fievelk

[2017-01-17 21:22] fievelk commented on #1584
Fixed by #1585

[2017-01-17 21:22] #1584 closed, assigned to nobody

[2017-01-18 00:29] stevenbird commented on #1577
Thanks @alvations

[2017-01-18 00:29] #1577 closed, assigned to alvations

[2017-01-18 00:30] stevenbird commented on #1576
Thanks @dimazest.
Is this now resolved @danitiger33?

[2017-01-18 00:40] stevenbird commented on #1574
Thanks @maitetaboada, @ruchiHub.
Have you resolved this issue @terencen?

[2017-01-18 16:57] fievelk opened #1596 "Corpus Reader failures"
@alvations #1593 seems to have broken tests: [Jenkins CI failures][1].

[1]: https://nltk.ci.cloudbees.com/job/nltk/639/testReport/

[2017-01-19 15:23] chmeyer opened #1597 "CHUNK_TAG_PATTERN does not allow curly bracket quantifiers for tags"
Running the supplementary example from http://www.nltk.org/book/ch07.html#exploring-text-corpora ("your turn" section)

[code]

yields a ValueError:
[code]

This is because nltk.chunk.CHUNK_TAG_PATTERN does not permit curly brackets. Simple workaround is setting:
[code]

which might be a viable fix as well.

[2017-01-20 18:40] andrian7 opened #1600 "3.2.2 stemming "oed" crashes"
[code]

--> crash

The problem is a vowel suffixed by "ed" or "ing". It works in 3.2.1

python version: 3.5.2

[2017-01-20 19:02] nschneid commented on #1600
Works for me (NLTK 3.2.2 on Python 3.5.2):

[code]

Also works for me on Python 2.7.3. Could this have something to do with nltk_data installations?

[2017-01-20 19:15] andrian7 commented on #1600
@nschneid  Sorry, please try "oed" instead of "doing"

(fixed it in the original post)

[2017-01-20 19:31] nschneid commented on #1600
See #1582.

[2017-01-20 20:30] andrian7 commented on #1600
ah ok then closed

[2017-01-20 20:30] #1600 closed, assigned to nobody

[2017-01-21 07:33] alvations commented on #1580
I'm not actually sure why these corpora reader exists and I'm not sure whether it's good to keep readers for corpora that can't be shipped with `nltk`.

And as for test, we surely can't test them. If we let them stay, I think it's best to skip them and wait for either the maintainers or users to patch it. I'm not exactly sure how to skip them within `tox` though.

Otherwise, reviving the `nltk.con

[2017-01-21 07:37] alvations commented on #1596
@fievelk as for the Python2 tests, I think it has to do with how the tests are carried out. I'll leave that to you. If it's otherwise, i'll look into it.

For the Python3 tests, I've just updated the index on `nltk_data`. Is there anyway to force run a build? Other than creating fake PRs (which I don't hope we do ;P)?

[2017-01-21 10:56] fievelk commented on #1596
@alvations Regarding `nltk_data` changes, you can run tests on your platform using `tox` (see [NLTK Testing][1]). You can simply run the `tox` command from within the NLTK root folder and it will run tests for python 2.7, 3.4, 3.5 and also tests that are usually intended to be run on Jenkins, our CI platform.
If you want to exclude Jenkins tests you can run `tox -e py27,py34,py35`.

Please note th

[2017-01-21 11:01] fievelk commented on #1596
@alvations Regarding python 2 tests, could you please elaborate further? What do you mean when you say that test failures might have to do with how tests are carried out?

[2017-01-21 11:29] alvations commented on #1596
@fievelk thanks for the tips on testing. The errors occurring in Python2 is because of the use of `python_2_unicode_compatible`. And I'm not sure but on my machine, tox tests run fine. Let me retry and see what's wrong.

[2017-01-21 20:40] stevenbird opened #1602 "unicode_literal / python_2_unicode_compatible"
The codebase uses these two methods for unicode string compatibility; it would be better to standardise on one of them.

[2017-01-22 04:59] stevenbird commented on #1579
@fievelk: `textids.txt` is part of the pl196x corpus, and the first file that is loaded. I can reproduce this error on my local machine by moving the corpus data so that the reader can't find it. So I guess this means that the corpus isn't being downloaded for py35.

[2017-01-22 06:41] stevenbird commented on #1580
I don't know why the problem only arises for Python 3.5. I like @alvations' suggestion to skip the tests, and if necessary, comment out the offending lines in `corpus/__init__.py`.

[2017-01-22 16:21] medhavi06 commented on #1574
Thank you so much @maitetaboada.

[2017-01-22 22:40] #1574 closed, assigned to nobody

[2017-01-25 08:05] highpost opened #1603 "problems configuring NLTK 3.2.2 to use Stanford segmenter"
I'm having trouble getting NLTK 3.2.2 configured to use the Stanford NLP segmenter. Most of the problems that I see are CLASSPATH and SLF4J related.

With NLTK, there are three ways to identify where to find the SLF4J and Stanford segmenter jar files:

- CLASSPATH environment variable
- SLF4J and STANFORD_SEGMENTER environment variables
- path_to_slf4j and path_to_jar options with the StanfordSegm

[2017-01-25 11:33] andrrra commented on #738
Has this been solved? I still cannot import model

[2017-01-28 19:12] ELind77 opened #1605 "Thread-safe CorpusReader"
I'm using a custom subclassed `CorpusReader` to feed documents to the Word2Vec model in gensim.  Because the reader isn't threadsafe, it breaks.  I can write my own simple reader for my files, but it would be nice if I could just use nltk.  Based on the comments above [iterate_from](https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/util.py#L259) it looks like some locking could be added

[2017-01-29 23:00] highpost commented on #1603
I continued to look at this, and I'm not sure how it's supposed to work. Basicaly, config_java() and java() scaffold a Java command-line and when they do this they construct a -cp argument containing both slf4j-api-1.7.12.jar and stanford-segmenter-3.7.0.jar. But when you include a -cp argument, you override any setting in the CLASSPATH environment variable. See the java(1) man page. So I don't un

[2017-02-03 06:28] stevenbird commented on #1596
Thanks for the fixes @alvations

[2017-02-03 06:28] #1596 closed, assigned to alvations

[2017-02-03 06:31] #1579 closed, assigned to nobody

[2017-02-03 09:31] stevenbird opened #1606 "MWAPPDB corpus fails build tests"
The CI server reports an [error](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/testReport/nltk.test.unit.test_corpora/TestMWAPPDB/test_entries/) with the `mwa_ppdb` corpus.

[2017-02-03 09:32] #1606 closed, assigned to nobody

[2017-02-03 09:34] stevenbird opened #1607 "NKJP corpus fails build tests"
The CI server reports an [error](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/testReport/nose.failure/Failure/runTest/) loading the NKJP corpus.

[2017-02-03 09:35] #1607 closed, assigned to nobody

[2017-02-03 10:22] alvations commented on #1606
@stevenbird sorry about the test failures on `mwa_ppdb`. It seems like it's not reading the `.zip` file correctly. Maybe we should remove all the `mwa_ppdb` code for now.

[2017-02-03 19:26] stevenbird opened #1609 "YCOE corpus test fails"
The CI server reports an [error](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/testReport/nose.failure/Failure/runTest/) with accessing the YCOE corpus (not publicly available).

[2017-02-03 19:27] #1609 closed, assigned to nobody

[2017-02-04 06:33] stevenbird opened #1610 "ipipan corpus fails build tests"
The CI server reports an [error](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/testReport/nose.failure/Failure/runTest/) because the ipipan corpus is not available.

[2017-02-04 06:35] #1610 closed, assigned to nobody

[2017-02-07 15:40] ExplodingCabbage opened #1611 "Support extended open multilingual wordnet"
Currently, NLTK supports the [open multilingual wordnet](http://compling.hss.ntu.edu.sg/omw/) (requires `nltk.download('omw')`). However, it doesn't (unless I'm missing something) yet support the [extended open multilingual wordnet](http://compling.hss.ntu.edu.sg/omw/summx.html).

[2017-02-07 16:52] mpertierra opened #1612 "Link to C&C Tools/Boxer is broken"
The link (http://svn.ask.it.usyd.edu.au/trac/candc/wiki/Subversion) provided here (https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software#cc-toolsboxer) is broken. Is there anywhere else to download these tools?

[2017-02-07 20:31] stevenbird commented on #1611
@fcbond would you please comment?

[2017-02-08 11:12] gjohnrao opened #1613 "Can Apache Sorl be integrated with NLTK?"
If not, is there another way around?

[2017-02-08 15:56] gintarasbar commented on #738
I still cannot import model in version nltk-3.2.2

[2017-02-08 19:00] peterbe opened #1614 ""IndexError: string index out of range" on trying to stem the word "oing""
Easy to reproduce:
[code]

[code]

[2017-02-08 19:29] peterhurford commented on #1614
I got this error for the word `"aed"`:

[code]

Error is:

[code]

Installed with:

[code]

Version:

[code]

[2017-02-09 02:10] alvations opened #1616 "MosesTokenizer is skipping the final fullstop."
MosesTokenizer is skipping the final fullstop.

[code]

But MosesTokenizer's penn_tokenize works because of https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L103

While the default tokenizer relies on the `handles_nonbreaking_prefixes()` to handle the final fullstop: https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L284

The conditions at https://github.com/nltk/nlt

[2017-02-09 03:39] mpertierra opened #1617 "Use multiprocessing package for ParallelProverBuilder and ParallelProverBuilderCommand"
ParallelProverBuilder and ParallelProverBuilderCommand currently use the threading package to spawn two threads, one with a prover, and one with a model builder. Threads are not stoppable, so when one thread returns first, the other is kept alive until it finishes; it might never finish, as Mace4 can be set to have no maximum number of models to try. By using the multiprocessing package, we can re

[2017-02-09 14:20] ExplodingCabbage opened #1618 "Expose _synset_from_pos_and_offset as a public method"
Two reasons for this:

1. Given that http://stackoverflow.com/a/27145655/1709587 has thousands of views and 6 upvotes, it seems that people are already using it. Pragmatism suggests that it should therefore be exposed publicly; it's not good to have a notionally-private-but-public-in-practice part of an API.
2. The fact that NLTK chooses to expose the `offset()` of synsets via a public method mean

[2017-02-09 14:32] ExplodingCabbage commented on #1614
Duplicate of https://github.com/nltk/nltk/issues/1581. My fault; sorry. :(

The bug was introduced in version 3.2.2 and is fixed on master; you can either use `develop` or version 3.2.1 to get rid of the bug.

[2017-02-09 15:40] jnahorny commented on #1579
Hi, I'm using python 3.6, and the pl196x is installed in corpora/ just like the others. The file 'textids.txt' is there. But I've got the same error when trying to do anything with this corpus.

[2017-02-09 15:49] ExplodingCabbage opened #1619 "Update omw data"
It's definitely at least a little out of date (or perhaps was incomplete at the time of being added into NLTK); per http://compling.hss.ntu.edu.sg/omw/, there is a Romanian (language code 'ron') WordNet that is part of OMW but it's not part of NLTK's OMW corpus:

[code]

[2017-02-09 15:58] ExplodingCabbage opened #1620 "Support custom WordNet .tab files"
This would provide an immediate workaround solution for https://github.com/nltk/nltk/issues/1619 and https://github.com/nltk/nltk/issues/1611, ensure that a workaround exists if the OMW data goes out of date in future, and serve a few other use cases I can imagine:

- Testing a new WordNet intended to replace an existing OMW WordNet
- Allowing wholly 'unofficial' (i.e. unblessed by NLTK, OMW, or E

[2017-02-09 23:42] fcbond commented on #1611
The extended open multilingual wordnet data is automatically built, and has a lower confidence.   The current interface has no way to show this, and we have no way of selecting different wordnets apart from language, so it would be non-trivial extension.   If someone wants to try, I could adivse, but I hope all this will be solved when we release OMW 2.0, which is slowly getting nearer.

[2017-02-10 01:12] mpertierra commented on #1612
I found some version of the source code here (https://github.com/valeriobasile/learningbyreading/tree/master/ext/candc), but I ran into some problems trying to install it.

[2017-02-10 05:34] prateekkrjain opened #1622 "ZeroDivisionError: In BigramAssocMeasures"
I got an error "ZeroDivisionError: float division by zero". In nltk/metrics/association.py at line number 213 in phi_sq method.

[2017-02-10 05:37] santoshbs commented on #1581
Hi, I encountered the exact same issue today. Could you please suggest how I could get a fix to this? Should I update any packages?

[2017-02-10 10:16] ExplodingCabbage commented on #1581
Hi @santoshbs. You can either use the `master` version of NLTK or release `3.2.1` to get rid of the bug; it only exists in version `3.2.2`.

[2017-02-10 10:19] fievelk commented on #1581
@ExplodingCabbage I think you are referring to the `develop` branch (not `master`). It's easy to get confused I guess :)

[2017-02-10 10:24] ExplodingCabbage commented on #1581
@fievelk you are quite right. Sorry, yes: you can either use the *`develop`* branch or `3.2.2` to get rid of the bug.

[2017-02-10 10:25] ExplodingCabbage commented on #1581
@fievelk you are quite right. Sorry, yes: you can either use the *`develop`* branch or `3.2.1` to get rid of the bug.

[2017-02-10 15:45] santoshbs commented on #1581
Thanks so much for the pointer.

[2017-02-10 17:42] stevenbird commented on #1619
@fcbond – do you have plans for updating the NLTK version?

[2017-02-12 21:19] ExplodingCabbage commented on #1613
This question (like the [one you've asked on Stack Overflow](http://stackoverflow.com/q/42110929/1709587), which I've voted to close) is too vague to be answerable. Solr is a search tool and NLTK is a collection of NLP tools; it's unclear what it would even mean to 'integrate' them. I suggest that a maintainer simply close this issue.

[2017-02-14 02:49] eromoe opened #1623 "nltk.set_proxy not wroks"
Hi, I am using a proxy named shadowsocks(very very slow in China, have to use proxy), but unable to download assert through the proxy.

I am in windows 10 X64, python 2.7 latest.

I have tried either `nltk.set_proxy('http://127.0.0.1:1080')` or `nltk.set_proxy('http://127.0.0.1:1080', '', '')`, both not work.

[2017-02-14 06:23] eromoe opened #1625 "StanfordNERTagger for Chinese got `java.io.StreamCorruptedException: invalid stream header: 504B0304`"
Hi, I am trying to use ntlk to detect ner in Chinese text.

As https://github.com/stanfordnlp/CoreNLP/issues/358 mentioned , `chinese.misc.distsim.crf.ser.gz` has been merged into 'stanford-chinese-corenlp-2016-10-31-models.jar'

My test code:
[code]

Error:
[code]

I am not familiar with JAVA stack and don't know if `StanfordNERTagger('stanford-chinese-corenlp-2016-10-31-models.jar')` is correct.

[2017-02-14 06:52] eromoe commented on #1625
Oh, from stanford docs I found

Though `StanfordNERTagger('edu/stanford/nlp/models/ner/chinese.misc.distsim.crf.ser.gz')`  not work.

I have to unpack that `.jar` file , and copy the model file to `stanford-ner-2016-10-31/classifiers`.

It is better to mention in the docs

[2017-02-15 00:36] alvations commented on #1618
I haven't update the `pywsd` code for some time but here's some other functions that people playing around with WordNet might also like: https://github.com/alvations/pywsd/blob/master/pywsd/utils.py

[2017-02-15 01:37] alvations opened #1628 "Re-organizing and refactoring nltk/test"
I suggest that we do some refactoring/reorganizing of `nltk/test/`. Currently the `*.doctest` files are on the `nltk/test` mixed with the `tox` and CI config files and scripts.

Possibly, this would be a better organization:

[code]

@stevenbird @fievelk any suggestions?

[2017-02-15 05:13] alvations opened #1629 "Unknown XML files in main repo directory"
There are these files that somehow got into the repository in #1429

 - nosetests.xml
- nosetests_scrubbed.xml
- coverage.xml

@adamn Are these files from your debug log? Or are they necessary for actual tests?

[2017-02-15 10:37] mwess opened #1630 "word_tokenize replaces characters"
When using the word_tokenize function the quotation marks get replaced with different quotation marks.

Example (german):

[code]

Is this a bug or is there a reasoning behind this behaviour?

[2017-02-15 12:01] alvations commented on #1630
Yes, that is the expected output. The double quotes punctuation change to explicitly denote opening and closing double quotes. The opening `"` are converted to 2x backticks and closing to 2x single quotes.

[code]

I'm not sure what is the reason for the behavior though. Possibly, it's to be explicit when identifying opening/closing quotes.

[2017-02-15 14:56] adamn commented on #1629
#1631 Should address this.  Sorry about that.

[2017-02-15 20:55] dongfang91 opened #1632 "StanfordPnOSTagger failed to tag the underscore"
Please see the python code below:

from nltk.tag.stanford import StanfordPOSTagger

english_postagger = StanfordPOSTagger('./models/english-left3words-distsim.tagger', './stanford-postagger.jar')
english_postagger.java_options='-mx4096m'

print english_postagger.tag(['_'])

Here is my result:
[(u'', u'SYM')]

The underscore just disappeared. I checked the code, that's because in function "parse_ou

[2017-02-17 01:03] dimazest commented on #1628
I like the idea, maybe it worth moving the test folder out of the nltk package.

[2017-02-18 13:27] fievelk commented on #1628
I agree, I think these are good ideas.
I don't have enough time at the moment, so I encourage contributors to work on it if they can. Otherwise I will try to work on it as soon as possible.

[2017-02-18 21:22] stevenbird commented on #1628
I also like the idea of cleaning up the test directory. I'm not so keen on moving it, unless there is some benefit. Let's keep in mind the need to build the NLTK howtos (which come from the doctest files).

[2017-02-18 21:24] #1629 closed, assigned to nobody

[2017-02-19 12:39] #1623 closed, assigned to nobody

[2017-02-19 17:28] AndreasMadsen opened #1634 "corpus_bleu does not match multi-bleu.perl for very poor translations"
example:

**tokenized reference:**
[code]

**tokenized hypothesis:**
[code]

with the `multi-bleu.perl` script the BLEU score is `0`:

[code]

with `corpus_bleu` the BLUE score is `43.092382`, my understanding is that default `corpus_bleu` settings corresponds to the `multi-bleu.perl` script.

---

[code]

[2017-02-19 21:42] alvations commented on #1634
If we look at the numbers from `multi-bleu.perl`, we see unigram matches of `3.4`.

[code]

And the bad thing about `multi-bleu.perl` is that it throws away this 3.4 and assumes 0 score once it doesn't have a higher order ngram match. This is not an ideal situation.

So to resolve the isse in #1554,  the `develop` branch of the `nltk` after #1330 and #1554 produces:

[code]

If we split the senten

[2017-02-19 21:51] alvations commented on #1634
Yes, buggy! Sorry previous comment was wrong.

[2017-02-19 21:59] alvations commented on #1634
Just like to check, did you see a warning message like this:

[code]

In that case, the issue can be resolved by using `SmoothingFunction.method4`, e.g.:

[code]

[2017-02-20 07:01] AndreasMadsen commented on #1634
A BLEU score of `17` is still way too high.

[2017-02-20 10:31] alvations commented on #1634
~~0.17 out of 100.0 BLEU, **not** 0.17 out of 1.0 BLEU ;P~~

BTW, did you see the warning? It's important because if the warning isn't there, then we have to make it more prominent by maybe raising an error.

[2017-02-20 12:33] AndreasMadsen commented on #1634
Are you sure about that? If I set `hyp = ref` then I get a BLEU score of `1.0` not `100`:

[code]

Yes, I did get the warning.

[2017-02-20 13:00] alvations commented on #1634
Whoops, my bad. Maybe someone with fresh eyes can take a look at it. I'll be busy in the next 1-2 months =(

Any suggestions on how to fix this?

[2017-02-21 11:45] mwess commented on #1630
Thanks for the explanation.
But when I replace the double quotes with one (or two) single quotes or backticks this behaviour doesn't occur.
And I think it is a little bit strange that the tokenizer switches out parts of the original text, since it could lead to problems and is not really transparent.

I guess I'll have to keep it in mind, but I would prefer that the orginal elements of the string

[2017-02-26 10:04] fievelk commented on #1466
@ExplodingCabbage We do not have test failures anymore. Do you think this issue can be marked as solved?

[2017-02-26 18:15] xsway commented on #1285
Is it normal that the result of
`nltk.translate.bleu_score.sentence_bleu("it is a guide to action".split(), "it is a guide to action".split())` is
0.638943104246272 ? (and not 1.0)

[2017-02-26 19:29] fievelk commented on #7
@alvations @stevenbird Do you think we can close this issue?

[2017-02-26 21:50] #1387 closed, assigned to nobody

[2017-02-26 22:24] alvations commented on #1285
~~No, 0.63... is wrong,  it should return 1.0, seems like the f6c0fcdb682493274f23588c32a4070e8834c885 commit broke too many things in BLEU.~~

I've just double check the implementation, it should be correct as of the current. Just that it didn't handle #1634 well enough.

Thanks @xsway for raising the issue. The interface for BLEU should be `bleu([references], hypothesis`, it's because BLEU allow

[2017-02-27 10:10] xsway commented on #1285
Thanks! I thought that I was doing something weird, but couldn't figure what.

[2017-02-27 19:22] sim642 opened #1640 "FreqDist.N() is extremely inefficient"
I am currently using NLTK to train and apply a model based on conditional probabilities. For this I'm using `ConditionalProbDist` constructed from a `ConditionalFreqDist`. During the use of the trained model I noticed extreme slowness for what should simply be arithmetics on conditional probabilities and started to investigate.

A quick profiling run revealed that most (over 99%) of my program's t

[2017-02-28 18:43] ExplodingCabbage opened #1641 "Non-English lemmas containing capital letters cannot be looked up using wordnet.lemmas() or wordnet.synsets()"
This is an existing bug that I stumbled across while using the German WordNet from the EOMW via my custom-WordNet loading code in my unmerged PR at https://github.com/nltk/nltk/pull/1621. (It's dramatically more serious for German, since all nouns in German are capitalised and so a huge fraction of the language doesn't work, but it also affects the existing OMW WordNets with support built into NLT

[2017-03-01 09:45] eromoe opened #1642 "ConcordanceIndex.print_concordance make target token highlight"
As below pic , it need a highlight for the target token for better viewing.

![default](https://cloud.githubusercontent.com/assets/3938751/23454272/c464e522-fea6-11e6-8372-7c3dd0bf9c7e.png)

[2017-03-01 09:56] alvations commented on #1642
Possibly, someone can reimplement this [`color_print()`](https://github.com/alvations/lazyme/blob/master/lazyme/string.py#L75) and simply change this line at https://github.com/nltk/nltk/blob/develop/nltk/text.py#L200

[code]

[2017-03-01 13:49] eromoe commented on #1642
@alvations Sadly doesn't work for me (python3 notebook) .I can't understand why `'red': '\033[91m'` , is there any guide about add the highlight , I would like to fix it.

[2017-03-01 14:54] alvations commented on #1642
`\033[91m` and such are [ANSI escape code](https://en.wikipedia.org/wiki/ANSI_escape_code), use to manipulate the terminal.

If it's Jupyter notebook, that should be easier just got to manipulate the CSS =)

[code]

[out]:

![color concordance](https://i.stack.imgur.com/zptNl.png)

I think you get the idea.

[2017-03-02 01:01] alvations opened #1644 "Adding Github topics"
Github introduced topic tags to tag repositories: https://github.com/blog/2309-introducing-topics

It'll be great if we add at least `nltk`, `nlp`, `python`  tags to the repository..

[2017-03-02 01:02] eromoe commented on #1642
@alvations  Thanks! It's very kind of you . `html` + `css` is a quite good sulotion for me :) . I hope jupyter would embed highlight feature in future.

A littile fix:

[code]

[2017-03-02 08:57] fievelk commented on #1644
I agree. I think we could also use `machine learning`, for example.

[2017-03-03 17:03] Kaleidophon commented on #1424
I am also having this problem. Is there any solution to it available yet?

[2017-03-04 18:45] hcharley commented on #1253
Based on the file [mentioned](https://github.com/nltk/nltk/issues/1253#issuecomment-190159686) above, it looks like it's a 2.2 GB file. So you might just need to hang tight and wait!

One thing you can do in the meantime to get some more information is to look at the filesize and last modified time of the panlex_lite.zip file in nltk_data/corpora/ like so:

[code]

[2017-03-05 13:50] lancioni commented on #1612
A working version of the source code can be downloaded here:

http://www.cl.cam.ac.uk/~sc609/candc-1.00.html

I managed to compile it under Ubuntu (by adding a few #include <cstring> where errors arose). However, I am definitely looking for a tutorial...

[2017-03-05 21:12] mpertierra commented on #1612
Great! It seems that it does not include Boxer. Have you found the source code for Boxer anywhere?

[2017-03-05 21:13] lancioni commented on #1612
Unfortunately not.

=============================
Prof. Giuliano Lancioni
Professore Ordinario di Lingua e Letteratura Araba
Dipartimento di Lingue, Letterature e Culture Straniere
Università Roma Tre
via Ostiense, 236
00146 Roma
Tel: + 39 06 5733.8345
Fax: + 39 06 5733.8344
mailto:giuliano.lancioni@uniroma3.it
http://host.uniroma3.it/docenti/lancioni

From: Marcos Pertierra [mailto:notifications@

[2017-03-05 21:45] jnothman commented on #1612
a couple of servers at Sydney University have recently gone down. It's
possible this will be restored shortly (but no promises)

On 6 Mar 2017 8:13 am, "lancioni" <notifications@github.com> wrote:

Unfortunately not.

=============================
Prof. Giuliano Lancioni
Professore Ordinario di Lingua e Letteratura Araba
Dipartimento di Lingue, Letterature e Culture Straniere
Università Roma Tre
v

[2017-03-06 00:04] stevenbird commented on #1644
@alvations: are you able to do this directly? Let me know if you need extra permissions.

[2017-03-06 00:49] alvations commented on #1644
@stevenbird I can't add the topics directly. Possibly only owners and repo admins can do it. But it can be easily added on the main page https://github.com/nltk/nltk just below the `NLTK Source http://nltk.org/` header.

[2017-03-07 22:50] aetilley opened #1646 "Broken function ntlk.sem.evaluate.is_rel"
In nltk.sem.evaluate.is_rel()

the elif statement claims to check that all tuples of set s are same length with

`len(max(s))==len(min(s))`

This will not succeed.  For instance

In [52]: foo = nltk.sem.evaluate.is_rel

In [53]: s = {('a',), ('b', 'b'), ('c',)}

In [54]: foo(s)
Out[54]: True

We could replace this check with something like

`len(set(len(x) for x in s)) == 1 `

or

`max(len(x) for

[2017-03-08 05:37] elvinsophus commented on #1424
I don't know what this replacement is for but it shouldn't have been done before decoding the string, because some characters does contain "\xa0" like what I encountered handling some Chinese texts. I exchanged the decoding and replacement lines and it worked.

[2017-03-08 11:28] Kaleidophon commented on #1424
It worked for me when I was working on a `latin-1` encoded corpus, I then changed every tool involved to work with `latin-1`. But now I am working with a `utf-8` corpus again and it's breaking once more. I am still looking if I forgot to change the encoding at one point, but I feel it's the Dependency Parse and that it should work with `utf-8` out of the box.