[2021-08-04 07:03] tomaarsen commented on #2775
I agree wholeheartedly. I'd like to point your attention to #2773. In this PR, I ran `black` over the whole codebase, while asking the question of *"should we add black to pre-commit?"*. This then caused #2774. So, at no point did we have `black` in pre-commit while the codebase itself was not blacked.

In the future, I recommend the following strategy:
* Follow the regular git flow, forking, crea

[2021-08-04 13:29] tomaarsen commented on #2776
Sounds good, I've sent you an email just now.

[2021-08-04 14:39] dannysepler commented on #2775
Oh gosh that's so embarrassing, thank you for correcting me!!

[2021-08-04 18:03] Doctor-Venom commented on #2159
This problem may be related to the path, I faced the same problem when I was running pyinstaller from a path that contains whitespaces ' ', brackets '[' ']' , and curly brackets '{' '}'... and the folder I was adding was in the same path. But when I moved my project directory to the root of  C:\ drive and ran the same pyinstaller command it worked with no problems.

[2021-08-04 21:32] #2412 closed, assigned to nobody

[2021-08-04 22:51] dannysepler commented on #2775
Coming back to this, I'm most excited about "pyupgrade" and "isort" personally.

"mypy" is also great, but you're right that it requires work to enable. If we plan on add type-hinting to nltk though, it may be easier to add mypy before so that we don't have to re-annotate things later.

[2021-08-05 06:57] tomaarsen commented on #2775
I quickly ran `mypy` over the `nltk` folder, which resulted in:
[code]
(Note, I believe it's common for fixing an error to result in more errors for `mypy`)

If I run `mypy` with `--strict` (which disallows functions that do not have typing information, etc.), then `mypy` outputs:
[code]
Ouch. That's a lot of improvements yet to be made.

---

I'll  have a look at what `pyupgrade` would do to `nlt

[2021-08-05 08:11] tomaarsen commented on #2775
`pyupgrade` seems to be a nice addition to modernize the NLTK codebase somewhat. It seems to err on the side of caution, only modifying where its sure we'll be happy with the results. I've created the above PR to add it to pre-commit, like suggested.

On another note, @iliakur mentioned [here](https://github.com/nltk/nltk/pull/2774#issuecomment-892528031) that pre-commit hooks ought to be added to

[2021-08-06 04:58] dannysepler commented on #2775
pre-commit ci would be awesome, i haven't used that before. don't forget that the author [offered to help us](https://github.com/nltk/nltk/pull/2747) if we ever need help with implementation details!

one thing to also consider is using the `.git-blame-ignore-revs` feature as described [here](https://www.moxio.com/blog/43/ignoring-bulk-change-commits-with-git-blame) to ignore these commits as we'r

[2021-08-06 07:36] tomaarsen commented on #2775
@dannysepler If I understood that blogpost correctly, then it proposes the inclusion of a file in the root directory called `.git-blame-ignore-revs`, so that users can use `git blame --ignore-revs-file .git-blame-ignore-revs <file>`.
However, I don't know if `git blame` is commonly used, and less so if people would actually use `git blame --ignore-revs-file .git-blame-ignore-revs <file>`.
That sai

[2021-08-06 07:55] tomaarsen commented on #2775
I've just found out it's also possible to simply add
[code]
to `steps` in a GitHub Actions .yml file. Perhaps this can simply be added to the `cache_nltk_data` job in our https://github.com/nltk/nltk/blob/develop/.github/workflows/ci.yaml.
See https://github.com/mxr/unkey/blob/master/.github/workflows/pre-commit.yml for an example of this.

[2021-08-06 08:54] ritikrana4 opened #2778 "There is a word in hindi language which is giving wrong meaning."
experimental

[2021-08-06 08:54] #2778 closed, assigned to nobody

[2021-08-11 08:14] abdalimran opened #2781 "Building own classifier based POS tagger using SklearnClassifier and ClassifierBasedPOSTagger"
I'm trying to build my own classifier based POS tagger using `SklearnClassifier` and `ClassifierBasedPOSTagger`. The code that I've tried is given below.

[code]

[code]

This code is yielding the following error:
[code]
How to do it right?

[2021-08-12 12:34] lailacampos opened #2783 "Can't find nltk.examples module"
I'm trying to follow the instructions at [Examples for Portuguese Processing](http://www.nltk.org/howto/portuguese_en.html) but trying to import from `nltk.examples.pt` gives me the following error:
`ModuleNotFoundError: No module named 'nltk.examples'`

Is there an alternative way to import all portuguese corpora? Is there a list somewhere listing all of them?
Do I need to import by id from `nltk

[2021-08-13 02:21] #2729 closed, assigned to nobody

[2021-08-14 02:38] #2776 closed, assigned to stevenbird

[2021-08-16 08:21] tomaarsen commented on #2783
The `examples` folder was removed from NLTK. If you are interested in the examples that were present under `nltk.examples.pt`, you can have a look at them [here](https://github.com/nltk/nltk/blob/173f32929ff22e6f42d03e6a73d1fac86e95f20d/nltk/examples/pt.py).

Unlike the examples, the portuguese corpora are still present, e.g.: `machado`, `mac_morpho` and `floresta`.
They can be imported just like

[2021-08-17 11:20] #2708 closed, assigned to nobody

[2021-08-17 14:18] tomaarsen commented on #2749
Continuous Integration is now handled through GitHub Actions instead of Travis CI.

[2021-08-17 14:18] #2749 closed, assigned to stevenbird

[2021-08-17 14:21] tomaarsen commented on #2705
Unable to reproduce this issue - I assume your machine didn't have internet access at the time. Let us know if the problem returns.

[2021-08-17 14:21] #2705 closed, assigned to nobody

[2021-08-17 14:23] tomaarsen commented on #2714
The ALINE tests were modified accordingly in cfc9461fc79943a1d6623a58b868a8f69a3c8827.

[2021-08-17 14:23] #2714 closed, assigned to nobody

[2021-08-17 14:37] tomaarsen commented on #2669
Resolved in #2681, thank you for reporting.

[2021-08-17 14:37] #2669 closed, assigned to nobody

[2021-08-17 16:26] tomaarsen commented on #2647
First of all, apologies for the late response.

Judging by your crash report, it seems that the issue pops up when initializing Tcl/Tk. You mention `Tree.draw()`, perhaps you tried to draw a tree that was simply too big, causing the crash? If I use `Tree.draw(chunker.parse(pos_tokens))` as the last line, my IDE also just pauses and seems to wait indefinitely for `tkinter` to render everything, and

[2021-08-17 16:26] #2647 closed, assigned to nobody

[2021-08-17 18:19] tomaarsen commented on #2781
This is a consequence of (what I believe to be) a bug in scikit-learn. Let me show you:

`ClassifierBasedPOSTagger` (and it's superclass `ClassifierBasedTagger`) uses a `feature_detector` method, which given some parameters (tokens, index, history) produces a dictionary like the following:
[code]
Now, in some situations, such as for the first word in the sentence, the previous tag is simply nonexi

[2021-08-17 21:56] tomaarsen commented on #2639
This code:
[code]
only uses `pattern`'s tagging.

Mohaned's answer is right. I'll close this as resolved accordingly.

Also, the lemma of 'riding' ought to be 'ride', but no lemmatization algorithm is flawless, and seemingly it failed here.

[2021-08-17 21:56] #2639 closed, assigned to nobody

[2021-08-18 07:23] stevenbird commented on #2781
@larsmans – in case you have any views on this question of a possible bug in scikit-learn

[2021-08-18 07:33] tomaarsen commented on #2598
I believe this has been answered. I'll close it accordingly. Feel free to reopen or create a new issue if you feel like this has not been resolved.

[2021-08-18 07:33] #2598 closed, assigned to nobody

[2021-08-18 07:57] tomaarsen commented on #2584
This works now. If I run the following snippet:
[code]
Then the output I get is:
[code]
In short, you can use the function like this.

---

However, it's probably recommended to use something like this:
[code]

Alternatively, you can import the `sentence_gleu` alias using either:
[code]
or
[code]
In both of these cases, `gleu` is an alias for `sentence_gleu` from `nltk/translate/gleu_score.py`.

I

[2021-08-18 07:57] #2584 closed, assigned to nobody

[2021-08-18 08:04] tomaarsen commented on #2738
Implemented in 8f91325, thank you for the idea and contribution!

[2021-08-18 08:04] #2738 closed, assigned to stevenbird

[2021-08-18 08:17] tomaarsen commented on #2492
I believe the issue is related to how you type **NTLK**, instead of **NLTK**.
Please use `pip install nltk` if you wish to install the Natural Language Toolkit.

[2021-08-18 08:17] #2492 closed, assigned to nobody

[2021-08-18 08:27] tomaarsen commented on #2498
Apologies for the late response.
I would advise having another look at your output, as it throws two warnings that explain exactly what is happening:
[code]
Because there are no 3-grams that overlap in your two sentences of
[code]
Then the BLEU score evaluates to 0.

The same warning is given with 4-grams.

---

The solution is given, too. You can use a lower n-gram order like so:
[code]
This uses

[2021-08-18 08:27] #2498 closed, assigned to nobody

[2021-08-18 08:29] tomaarsen commented on #2475
I believe this has been resolved. I'll close it.

[2021-08-18 08:29] #2475 closed, assigned to nobody

[2021-08-18 08:31] tomaarsen commented on #2459
Thank you for the detailed description. Feel free to let us know if you do indeed find evidence that our jaro implementation is wrong. For now I'll heed your advice and close this issue.

[2021-08-18 08:31] #2459 closed, assigned to nobody

[2021-08-18 23:31] #2509 closed, assigned to nobody

[2021-08-20 10:00] purificant commented on #2776
I've sent an email when the issue was first opened, and another when it was closed. Not sure if this is still relevant? @stevenbird

[2021-08-21 14:06] stevenbird commented on #2776
Sorry @purificant I don't see any emails from you. Would you please resend and include your github id so I can search my email for it?

[2021-08-21 14:45] purificant commented on #2776
Done, thanks!

[2021-08-21 22:09] stevenbird commented on #2776
Ah, no, still nothing.
steven.bird@cdu.edu.au

[2021-08-23 23:15] nomicode commented on #2766
I did a little digging. the commit that introduced the bug is here: https://github.com/nltk/nltk/commit/b047b0da0e0cc5b22017ea2e4c0e0a8018bd3798

I used the commit date (Sep 25, 2020) to find the latest release on https://github.com/nltk/nltk/releases that was _before_ this commit. the release in question is https://github.com/nltk/nltk/releases/tag/3.5

so, until a new version of nltk is release

[2021-08-26 00:19] #2663 closed, assigned to nobody

[2021-08-26 07:38] tomaarsen opened #2788 "Only return `ax` object by default in `plot` methods, instead of plotting by default"
In the following locations:
* https://github.com/nltk/nltk/blob/f989fe65d421e7ea4d1037a00f07eaeee3ad6a29/nltk/probability.py#L247-L249
* https://github.com/nltk/nltk/blob/f989fe65d421e7ea4d1037a00f07eaeee3ad6a29/nltk/probability.py#L1922-L1932
* https://github.com/nltk/nltk/blob/f989fe65d421e7ea4d1037a00f07eaeee3ad6a29/nltk/text.py#L607

We should by default merely return the matplotlib `ax` objec

[2021-08-26 11:32] BatMrE commented on #2320
Hi @stevenbird @alvations if its currently open can I get involved with it??

[2021-08-26 11:32] BatMrE commented on #2112
Hi @dimazest @alvations if its currently open can I get involved with contributing to it?

[2021-08-26 11:39] BatMrE commented on #1954
Hi @alvations seems like its open for a quite while, if its fixed can you close it else is there anything I can get involved with contributing ?

[2021-08-26 11:44] tomaarsen commented on #2320
@BatMrE Yes, you may. We welcome contributions!
Feel free to look at [CONTRIBUTING.md](https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md) for more information.

[2021-08-26 16:05] dimazest commented on #2112
Sure! A good first step is to open a pull request.

[2021-08-28 17:34] rcoenen commented on #2162
Correct me if wrong, but ... this only applies when working directly on a Heroku buildimage, not when in Docker (and/or Docker on Heroku) ?

[2021-08-29 03:42] Manimaran-SM commented on #2162
@rcoenen I have not checked with it in Docker. But I think it works only for Heroku build image.

[2021-08-29 12:30] BatMrE commented on #2112
Hi @dimazest @alvations  if have created a PR
`https://github.com/nltk/nltk/pull/2789`
Can you please check for any changes

[2021-08-29 15:50] 12mohaned commented on #2724
The tricky part of this text is it's a::**:p**erson.

The tokeniser recognise :p as a regular expression for an emoji and not as a character in person, so it did its job of recognising emojis.

[2021-08-29 17:20] kishthik opened #2790 "Indian Languages extension"
I'm a NLP developer from India and I'd like to add some recognized Indian languages libraries including a morphological analyzer and a parser in a single package. Is any one interested ?

[2021-08-29 18:09] BatMrE commented on #2320
@ tomaarsen @alvations
From the issue raised statement:
`Wouldn't it be nice to have a more general function that can compute BLEU with different ngram lengths at the same time? `

I will ultimately be calling the Bleu funnction for each of the  2 , 3 ,4 ... len(weights) , so how will it be saving computation waste of calculating the same values more than one time??

[2021-08-29 19:18] 12mohaned opened #2792 "TweetTokenizer fails to remove user handles in text."
The below input should remove all user handles which start with "@".

input: @remy:This is waaaaayyyy too much for you!!!!!!@adam
output : [':', 'This', 'is', 'waaayyy', 'too', 'much', 'for', 'you', '!', '!', '!', '@adam']

The TweetTokenizer fail to remove the user handle of Adam.

I would like to open a pull request that solves the following issues:-

- Improve the regular expression pattern to

[2021-08-30 08:42] tomaarsen commented on #2320
@BatMrE
`corpus_bleu` (and also `sentence_bleu`) are called with a `weights` parameter. This is a list or tuple of floats with a certain length, such that the weights generally sum to 1. The length of this list or tuple determines whether BLEU-2, BLEU-3, BLEU-4, etc. is used. For example, with a length of 2, BLEU-2 is used.

For each BLEU-k, the computation has to compute all k-grams, all k-1-gram

[2021-08-31 15:35] lailacampos commented on #2783
I see. I will import directly from nltk.corpus then.
Thank you.

[2021-09-01 18:57] mmargegaj opened #2794 "BigramTagger not tagging tokens"
I am trying to create a custom BigramTagger the following way:

[code]

I'm using nltk version 3.6.2. Am I doing something wrong or this might be a bug?

[2021-09-02 09:07] tomaarsen commented on #2794
A BigramTagger will choose a token's tag based on the token's string and the previous token's tag. This information must then also be included in the model, for it to be useful. I believe your interpretation is that a BigramTagger is a mapping from a string containing both the previous and current token string, to the tag?

This is not the case. Let me show you how to use the model for a BigramTag

[2021-09-02 09:09] #2794 closed, assigned to nobody

[2021-09-02 10:08] mmargegaj commented on #2794
Thank you for the detailed answer. It seems I was defining the model structure in a wrong way after upgrading nltk to 3.6.2.
I thought the model can still be declared like I did.

[2021-09-03 11:44] tomaarsen commented on #2299
I am unable to reproduce this error on the develop branch:
[code]
I believe this has been resolved, and this issue ought to be closed accordingly.

[2021-09-03 12:45] tomaarsen commented on #2334
This has been resolved in 52228dfcbff8ec3446fd87a3ee0d8cea05db5adf. Thank you for raising this issue!

[2021-09-03 12:45] #2334 closed, assigned to stevenbird

[2021-09-04 02:51] snagpal1932 opened #2796 "NLTK installation failed"
![image](https://user-images.githubusercontent.com/88143204/132080065-cbec8e76-252a-4654-b7fa-fb31b0bc29e8.png)

[2021-09-05 12:58] #2299 closed, assigned to nobody

[2021-09-05 12:58] stevenbird commented on #2299
Thanks @tomaarsen

[2021-09-06 07:43] purificant commented on #2796
Please make sure that you can access [https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/corpora/comtrans.zip](https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/corpora/comtrans.zip) from your machine and in python.

Example code to verify that python can access the necessary data:
[code]

or from linux command line:
[code]

[2021-09-06 08:16] 404-P4rziv4L commented on #2792
Hey @tomaarsen, I would like to work on this if someone hasn't started already.

[2021-09-06 08:20] tomaarsen commented on #2792
@Abhijnan-Bajpai Feel free! I don't believe someone has started on this yet, and we're always open to PRs. There's some guidance over at [CONTRIBUTING.md](https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md) that might help you.

[2021-09-06 08:21] 404-P4rziv4L commented on #2792
Cool, thanks for green signal!

[2021-09-06 08:24] tomaarsen commented on #2792
@Abhijnan-Bajpai Oh, and in case it helps, the regular expression used for stripping handles can be found here:
https://github.com/nltk/nltk/blob/d4e8c3c0e99de11f23d19cfe060591a7afb738c3/nltk/tokenize/casual.py#L180-L184

The remainder of that file has the TweetTokenizer code.

[2021-09-06 17:05] mmargegaj opened #2797 "How to create a custom model for a trigram tagger?"

[2021-09-06 17:09] mmargegaj commented on #2797
I did try the following custom model:
[code]

but output was:
```[('te', 'folje'), ('kisha', 'folje'), ('fituar', None)]```

[2021-09-06 17:17] tomaarsen commented on #2797
@margegaj24
I recommend using a list of tagged sents as a `train` parameter instead, like so:

[code]

However, if you want to use a model, then the format is:
[code]

I can easily observe the model that was trained in the top-most example by printing `tri_tagger._context_to_tag`. This allows me to quickly give you an example, such as this:
[code]

Important to keep in mind, the key is a *tuple* o

[2021-09-07 08:05] mmargegaj commented on #2797
So it doesn't take into consideration the previous token strings at all? Only the previous tokens tags, right?

[2021-09-07 08:06] tomaarsen commented on #2797
@margegaj24 That's exactly it, yes.

[2021-09-07 08:35] mmargegaj commented on #2797
There is no other way to take the token strings into consideration, except passing sentences as train parameter?

P.S I am asking because I want to create taggers for Albanian language which is not available in nltk.

[2021-09-07 15:08] 404-P4rziv4L commented on #2792
Wanted to know @tomaarsen whether the implementation has to be in the form of a regex? I was thinking of an implementation where I could use findAll to find occurrences of handles and stripe the text.

[2021-09-07 16:29] tomaarsen commented on #2792
@Abhijnan-Bajpai It doesn't just have to be in the form of a regex. I only linked it so you knew where in the codebase to look for TweetTokenizer. You can implement your changes however you think works best.

[2021-09-08 03:51] 404-P4rziv4L commented on #2792
Just noticed that the example given in the issue statement doesn't seem to have a space between normal text and the handle mention. In a similar way there could also be cases where there is no space after the handle mention. For such cases how do we differentiate between the normal and handle text? Adding to that, texts where '@' is used as a replacement for 'a' will cause more issues with an impl

[2021-09-08 06:43] tomaarsen commented on #2792
In the example, `@adam` does get split from the remainder of the text already, even without a space. For example:
[code]
This provides another possible solution - this list can be post-processed to remove all handles. However, this might not work for all edge cases.

[2021-09-08 14:29] 12mohaned commented on #2792
I believe the regular expression is made on purpose to ignore username handles with no spaces before the text. In twitter, handles are not highlighted as usernames if there's preceding text before them without spaces. I am not sure but I think I had mistaken for an issue.

[2021-09-08 14:34] tomaarsen commented on #2792
Ah, I see. So, there's a possibility that there is no bug present at all? Do we know what happens if someone tweets e.g. `!@hello`, would `@hello` be turned into a handle?

[2021-09-08 14:36] 404-P4rziv4L commented on #2792
@tomaarsen it doesn't, checked up on it.

[2021-09-08 14:39] tomaarsen commented on #2792
That would suggest that there is no bug, but feel free to correct me if I'm wrong.

[2021-09-08 14:44] 404-P4rziv4L commented on #2792
I think I should just fix the length to 15 from 20 then

[2021-09-08 20:21] Kalebu opened #2800 "Swahili stopwords are missing"
When I try to access the swahili stopwords using the below feature, I'm getting a traceback that the swahili stopwords are missing in the documentation, I'm currently working on building a swahili language model with data gathered from Wikipedia swahili articles and popular swahili blogs,  I was thinking of contributing the stopwords to the library to allow others users to easily load them.

Best

[2021-09-09 07:46] tomaarsen commented on #2800
I believe you're proposing to add swahili stopwords such that
[code]
works correctly.

In order to do this, the `stopwords.zip` file over at `nltk_data` must be modified to include a file called `swahili`, which contains a new stopword on every line. You can find this zip file here: https://github.com/nltk/nltk_data/blob/gh-pages/packages/corpora/stopwords.zip

This `nltk_data` is then downloaded

[2021-09-09 10:29] Kalebu commented on #2800
Hello @tomaarsen , That's correct

That's exactly what  I was proposing  to do   , Thanks for an in depth  clarification  on how to do that.

I will  link to the source code + dataset I use to generate them and other related  references.

Best regards

[2021-09-09 10:30] tomaarsen commented on #2800
Sounds good! Best of luck to you.

[2021-09-09 13:02] fabrien commented on #2529
Hi, in what version is this fix available? (because I am using 3.6.2 and I still have the same error)

[2021-09-09 14:55] tomaarsen commented on #2529
@fabrien In the upcoming version, NLTK 3.6.3. This new version should launch soon.

If you do not want to wait, then you can use the following:
[code]
This will install the version currently on the development branch of NLTK, which has the fix applied.

[2021-09-10 15:14] Lukas-Graner commented on #1706
The parser does not escape '\\)' as a bracket, instead it considers only the '\\' and then closes the (constituent) node.
Workaround: replace all occurences of '\\)' and '\\(' by something like '-LRB-' and '-RRB-', respectively:
[code]

[2021-09-10 15:47] genericallyterrible commented on #2527
## Preface

I'm going to split this post into multiple comments to better organize my thoughts, apologies in advance for the massive text dump. All sections marked "Breakdown" explain in detail the regex immediately preceding them and may be skipped in the interest of brevity. I felt they were still important to include so that my logic and reasoning could more easily be checked. Thanks for readin

[2021-09-10 15:47] genericallyterrible commented on #2527
# Proposed solution:<br />Extract all gloss parts until only definitions are left

The key concept here is that, given properly formatted input, we can remove everything that can be clearly identified until the only remaining gloss parts must be definitions.

## Delimiters and looking around

These are common parts for the following regular expressions that ensure delimiters are matched on either

[2021-09-10 15:47] genericallyterrible commented on #2527
# Putting all the pieces together

Now that we have our assumptions and expressions handled, we can design a solution. I've prepared an example implementation. In this example I have additionally assumed that `;`'s cannot appear in additional notes and that additional notes are to be treated as definitions, making the separate extraction of additional notes unnecessary.

### Of note:
 - Multiple d

[2021-09-10 15:48] tomaarsen commented on #1706
Currently the regex only allows non-whitespace characters which are not also equal to the brackets used to specify the nodes and leaves. @yetanotheryeti's workaround might be a good solution. Perhaps escaped brackets can be identified, stripped or marked before applying the regex, and then reintroduced after the tree has been parsed.

In the best case scenario, `\)` as part of the input should rem

[2021-09-11 05:28] arendu-zz opened #2802 "TreebankWordDetokenizer does not detokenize to original string"
Hi, I am trying to tokenize replace a token and then detokenize a string. I am noticing that detokenize does not "undo" the tokenization correctly. Here is a example:
[code]

I was expecting the email to be detokenized back to me@mail.com. This seems like a bug.
I'm using nltk version 3.6.2

[2021-09-12 12:15] 12mohaned commented on #2802
Hi @arendu,

Hope you are doing well,

I believe, it is better to use the [TwitterTokenizer](https://www.nltk.org/api/nltk.tokenize.html#module-nltk.tokenize.casual) to tokenise data that contains email, hashtags, and emoji instead of treebank or any other tokeniser, since it is better aimed at it.

I hope, the below code answer your need.

[code]

output:

So, it is not a bug, but I believe Treeb

[2021-09-12 21:02] tomaarsen commented on #2802
The Treebank Detokenizer isn't guaranteed to return to exactly the input used in the Treebank Tokenizer, sadly. I believe this is simply a consequence of the Treebank Tokenizer not being bijective. With other words, both `'me @ mail.com'` and `'me@mail.com'` will tokenize to `['me', '@', 'mail.com']` (because the Treebank tokenizer is indeed not designed for emails, as @12mohaned rightfully mentio

[2021-09-12 21:02] #2802 closed, assigned to nobody

[2021-09-12 21:51] stevenbird commented on #2796
Thanks @purificant

[2021-09-12 21:51] #2796 closed, assigned to nobody

[2021-09-12 22:53] arendu-zz commented on #2802
Thanks @12mohaned and @tomaarsen! I will use the tweettokenizer.

[2021-09-13 15:31] #2792 closed, assigned to nobody

[2021-09-13 15:32] tomaarsen commented on #2792
Thank you for raising this issue, @12mohaned. I believe it was appropriately resolved in #2799. Feel free to let me know if you disagree.

[2021-09-14 05:38] goodmami commented on #2527
@genericallyterrible thanks for the nice analysis, list of examples, and proposed solution. If the NLTK's wordnet module continues to receive maintenance, I think your solution would be useful. If, instead, the NLTK moves to WN-LMF-based wordnets, it would be nice if your efforts here could be applied toward the WNDB-to-LMF conversion script, particularly the [part concerning the extraction of exa

[2021-09-14 12:30] mannan291 opened #2805 "proxy error"
i used to get my output through nltk.set_proxy('http://user:password@ip:port') for like one year, but now this method is giving HTTP error, even by using the rule given by the nltk library which is ('http://ip:port',user,password)
![image_2021_09_14T05_20_15_646Z](https://user-images.githubusercontent.com/83581864/133257750-6a3de092-92ef-49c1-93aa-335bbcaf5a3a.png)

[2021-09-14 12:41] tomaarsen commented on #2805
@mannan291
What NLTK version are you using?
[code]
or
[code]

I ask this, because the line of code that is throwing a `KeyError` can be seen here:
https://github.com/nltk/nltk/blob/ab1027691fcd0e6e9d206156a4fd01eb0c5db626/nltk/util.py#L1098-L1101

And in the current version, this `KeyError` is caught with a `try-except`.

[2021-09-15 20:07] mjrotter4445 opened #2806 "remo"

[2021-09-16 02:55] dannysepler commented on #2806
hi! was this opened by mistake? feel free to re-open with more info

[2021-09-16 02:55] #2806 closed, assigned to nobody

[2021-09-16 21:06] #2689 closed, assigned to stevenbird

[2021-09-16 21:10] stevenbird opened #2807 "usage function: repair or drop?"
Do we need to support this usage method?
https://github.com/nltk/nltk/blob/develop/nltk/util.py#L40

Here's a discussion of it's shortcomings:
https://github.com/nltk/nltk/pull/2801#discussion_r706567025

[2021-09-16 21:11] stevenbird commented on #2807
My preference is to drop anything non-essential when it is consuming scarce human resources to maintain.

[2021-09-17 03:29] dannysepler commented on #2807
I prefer dropping too. Especially since it's not used in actual source code, and since python has a builtin `help()` function which seems super similar!

[2021-09-17 11:35] tomaarsen commented on #2807
`usage` does seem like it's just a weaker `help()`. As far as I'm concerned, we can drop it.
It might be "proper" to change it to e.g.
[code]
for the time being.

However, do note that the warning will only be displayed if Python is ran with e.g. a `-Wd` flag to show warnings.
Then in some future version, we'll just remove the function all-together.

[2021-09-17 22:34] pythoninthegrass commented on #1879
https://github.com/idank/explainshell/issues/261#issuecomment-922116577

[2021-09-18 11:59] #2734 closed, assigned to stevenbird

[2021-09-19 19:26] JamieSlome opened #2809 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-19 20:31] purificant commented on #2809
In the short term, you can reach me on purificant@tutanota.com and I'll share the details with the team. Thank you.

[2021-09-21 16:16] tomaarsen opened #2812 "Finishing up Stanford Deprecation"
Hello!

As some of you might be aware, several Stanford related classes have been deprecated back in 2017. They are the following:
* [`nltk.tag.StanfordTagger`](https://github.com/nltk/nltk/blob/develop/nltk/tag/stanford.py#L31)
* [`nltk.tag.StanfordPOSTagger`](https://github.com/nltk/nltk/blob/develop/nltk/tag/stanford.py#L139)
* [`nltk.tag.StanfordNERTagger`](https://github.com/nltk/nltk/blob/de

[2021-09-21 17:55] dimazest commented on #2812
Hi, this is impressive analysis! I'll share some context.

At the time NLTK's CoreNLP REST bindings (`CoreNLPServer` and friends) were developed, the Stanford team came up with their own CoreNLP client called [Stanza](https://stanfordnlp.github.io/stanza/), see especially the [client docs](https://stanfordnlp.github.io/stanza/corenlp_client.html). At that time we were recommending to use Stanza ra

[2021-09-21 18:13] tomaarsen commented on #2812
Thank you for the context!
I've heard of Stanza, but that's just about it. I agree that it seems best to let Stanza handle most of the logic, while we focus on e.g. integrating Stanza with the remainder of NLTK, such as with outputting to `Tree` objects. Assuming that is worth the time investment.

Beyond that, I am interested in updating some documentation to add the table above, however I'm not

[2021-09-21 18:20] dimazest commented on #2812
That would be super useful.

[2021-09-21 21:25] goodmami commented on #2527
I've thought about this a bit more. I'm not sure we should try to extract multiple definitions. From the [WNDB docs](https://wordnet.princeton.edu/documentation/wndb5wn) (emphasis added):

Furthermore, sometimes there are multiple definitions, but these tend to be grouped as one big definition in, e.g., the updated [Open English WordNet](https://github.com/globalwordnet/english-wordnet/), so perha

[2021-09-23 16:19] tomaarsen commented on #2766
This problem should be resolved since NLTK 3.6.3. Feel free to let us know if the problem persists.

[2021-09-23 16:19] #2766 closed, assigned to nobody

[2021-09-23 16:25] tomaarsen commented on #2724
It would be quite tricky to recognise when the output ought to be e.g. `[':::', 'person']`, and when it should be `['::', ':p', 'erson']`. I'm open to accepting PR's for this, but I'm hesitant to label this as a bug, and suspect that we will not try to fix this.
I'll close this for the time being.

[2021-09-23 16:25] #2724 closed, assigned to nobody

[2021-09-24 12:31] #1799 closed, assigned to nobody

[2021-09-24 12:42] purificant commented on #2809
@JamieSlome Please see https://github.com/nltk/nltk/blob/develop/SECURITY.md which now contains an email address that you can use.

[2021-09-25 12:10] 12mohaned opened #2817 "RegexpTagger fails to handle exception."
There is a bug in the RegexpTagger. It fails to handle exception in case of missing tag or regular expression.

[code]

The problem that both regexp and tag are not defined anywhere in the class, which is weird because it implies that the user should be notified with the missing tag or regular expression which is missing!.

The possible solutions from POV are:

- Simply remove the regexp and tag v

[2021-09-25 12:54] stevenbird commented on #2817
I think it is useful to catch regexp compilation errors and report them in this way. I think the situation you describe can only happen if an empty list of regexps is passed to the initialiser.

We do not systematically check the type or internal structure arguments passed to NLTK functions.

[2021-09-25 12:54] #2817 closed, assigned to nobody

[2021-09-25 14:21] 12mohaned commented on #2817
I completely agree, but it is irrelevant to use un-defined variables. Also there is different cases where this behaviour can happens. For example, regexps = [(r'^-?[0-]', 'CD'), (r'(The|the|A|a|An|an)$', 'AT'), (r'.*able$',)], where the list contains a tuple that does not have a corresponding tag or vice versa.

[2021-09-25 14:46] #2809 closed, assigned to nobody

[2021-09-26 02:44] Beliefuture opened #2818 "WordNetLemmatizer in nltk.stem module"
What's the parameter of WordNetLemmatizer.lemmatize() in nltk.stem module?
Turn to the document, what are the candidate value of the parameter **'pos'**?
![image](https://user-images.githubusercontent.com/62245023/134791412-1ff85ba5-5eb9-4859-a3f1-3b48bdd5a6fa.png)
The default value is 'Noun'. But use the function pos_tag() to get the pos of the word, the value appears to come from several options

[2021-09-26 19:27] tomaarsen commented on #2818
This is indeed not particularly clear from the documentation.
The `pos` parameter is `NOUN` by default, imported from here:
https://github.com/nltk/nltk/blob/277711ab1dec729e626b27aab6fa35ea5efbd7e6/nltk/corpus/reader/wordnet.py#L66

With other words, it is `"n"` by default.
Other valid options are `ADJ`, `ADJ_SAT`, `ADV` and `VERB`, which can be imported and used like so:
[code]
However, feel fre

[2021-09-26 21:27] #2818 closed, assigned to nobody

[2021-09-26 22:38] #2805 closed, assigned to nobody

[2021-09-26 22:38] stevenbird commented on #2805
Thanks @tomaarsen

[2021-09-26 22:44] stevenbird commented on #2783
Thanks @tomaarsen

[2021-09-26 22:44] #2783 closed, assigned to stevenbird

[2021-09-27 00:23] Beliefuture commented on #2818
@tomaarsen Thanks for your reply. But when I use the function `pos_tag()` to get the pos of the word, the value appears to be several options below:

![image](https://user-images.githubusercontent.com/62245023/134829284-04f06d67-3d4d-41ae-a1af-d90ca58f9d95.png)

Does `WordNetLemmatizer().lemmatize(word, pos)` only support the 5 types: `ADJ, ADJ_SAT, ADV, NOUN, VERB`? Does this affect the accuracy

[2021-09-27 08:20] tomaarsen commented on #2818
@Beliefuture Indeed, by default `pos_tag` returns tags from https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html, while `WordNetLemmatizer().lemmatize(word, pos)` uses Princeton University's WordNet, which uses `ADJ, ADV, NOUN, VERB`. I believe that the NLTK implementation has added support for `ADJ_SAT`.

That is why the tags from `pos_tag` and `WordNetLemmatizer().lemmatiz

[2021-09-27 12:53] #2807 closed, assigned to nobody

[2021-09-27 21:38] stevenbird opened #2824 "Support for CI testing involving corpora and third party tools"
From #2820 (@tomaarsen)

The number of skipped tests has been reduced from 31 to 16, but can be reduced even further if more tools are automatically downloaded, such as:

- TADM
- Penn Treebank
- CHILDES corpus

[2021-09-27 21:39] stevenbird opened #2825 "Expand ~ in paths"
From #2820 (@tomaarsen)

Expand ~ in paths used in environment variables to the home path of the user's operating system. This is as simple as wrapping a path with path = os.path.expanduser(path). This probably ought to be done in some functions in internals.py. However, files on linux are allowed to have ~ in them. In some of those cases, you wouldn't want to expand the ~.

[2021-09-27 21:42] stevenbird opened #2826 "MaltParser is fixed to 1.7.2"
From #2802 (@tomaarsen)

The tests for MaltParser are fixed to version 1.7.2. Perhaps this means that users who have another version for personal use won't have passing tests? If so, that is a problem. Perhaps the best solution is to not even have to specify a version in the constructor. I'm not even sure it gets used - as I believe the MaltParser executable is actually loaded through the `MALT_PA

[2021-09-27 21:43] stevenbird opened #2827 "Update third party tools to newer versions"
From #2820 (@tomaarsen)

The Stanford and MaltParser tools have had newer versions released than the ones used in `third-party.sh`. This may be as simple as modifying the download link to point to the new versions.

[2021-09-30 05:09] fcbond opened #2829 "emojis are not tokenized very well"
Maybe add something like this as a pre or post processing step?

It might make sense to download the emoji list and store it as part of the build, so people do not need to load the emojis module, ...

[code]

[2021-09-30 07:24] tomaarsen commented on #2829
I'm in favor of this, as long as it doesn't make the tokenization considerably slower. I don't think it would have to.
Perhaps a good place for it would be to include it in the TweetTokenizer? The regexps for those are defined [here](https://github.com/nltk/nltk/blob/a31de6c687165afe64a490053c73c8e0b20ff6db/nltk/tokenize/casual.py#L146).

I would also prefer not having additional dependencies for

[2021-10-01 06:57] astariul opened #2833 "[3.6.4] AttributeError: module 'regex' has no attribute 'Pattern'"
Since I upgraded `nltk` from `3.6.2` to `3.6.4`, the following code :

[code]

raises the following error :

  File "<string>", line 1, in <module>
  File "/home/user/miniconda3/envs/test/lib/python3.7/site-packages/nltk/__init__.py", line 137, in <module>
    from nltk.text import *
  File "/home/user/miniconda3/envs/test/lib/python3.7/site-packages/nltk/text.py", line 29, in <module>
    from nl

[2021-10-01 07:11] purificant commented on #2833
Had a quick look and was unable to reproduce.

[code]

[code]

Edit: on python 3.9.7 / 3.7.12

[2021-10-01 07:13] tomaarsen commented on #2833
~~It seems that the `re.Pattern` (and `regex.Pattern`) attributes were only introduced starting from Python 3.8+. How our tests didn't catch this - I have no idea. I'll make a fix.~~

Edit: This doesn't seem to be the issue - I think `regex.Pattern` is not defined on older versions of `regex`. A fix is updating `regex` to the newest version. See https://bitbucket.org/mrabarnett/mrab-regex/commits/

[2021-10-01 07:20] tomaarsen commented on #2833
~~@astariul For the time being, please use the develop branch instead of 3.6.4. This command ought to do it:~~

See my last comment - you need to update `regex`. I've made a PR to ensure that `regex` will always be up to date from now on.
[code]

[2021-10-01 07:23] astariul commented on #2833
Awesome thanks @tomaarsen (and @purificant) for the lightning fast answers !

[2021-10-01 11:03] purificant commented on #2833
I am able to confirm that once I downgrade `regex` package, I can also reproduce the issue. Could not reproduce with a fresh nltk install in a fresh venv before in different python versions.

Thank you for reporting the issue @astariul and thank you @tomaarsen for tracking down the root cause / fix.

[2021-10-01 21:17] stevenbird opened #2836 "Managing dependencies"
Consider managing dependencies more rigorously, cf https://github.com/nltk/nltk/pull/2835

[2021-10-02 08:18] SeeTwoDev opened #2837 "word_tokenize splits Pokémon into "pok" and 'émon""
This is without specifying a language, so i assume english by default.

Is there a workaround to this?

[2021-10-03 14:14] 12mohaned commented on #2837
Maybe you are using an old version. The word_tokenize tokenize Pokémon into ['Pokémon'], without splitting it into two words. Try to update to the recent NLTK version. Or provide more context. For example, the sentence that contains the word.

Regards.

[2021-10-03 14:49] KristiyanVachev opened #2838 "ZeroDivisionError when using SmoothingFunction's method4 with a single word as hypothesis"
When using the SmoothingFunction's [method4](https://www.kite.com/python/docs/nltk.bleu_score.SmoothingFunction.method4) with a a single word as a hypothesis  I get the following error. Which is of course because math.log(1) is 0.
I ended up using just method2 or method1 which doesn't use the function that throws the error, but I guess it would be useful to report it, as some other poor soul may s

[2021-10-03 17:00] tomaarsen commented on #2837
Like @12mohaned, I am unable to reproduce this issue.
[code]

Perhaps you could post your NLTK version:
[code]

[2021-10-03 19:57] h0rv commented on #2838
Looking at the problem, the develop branch has fixed the possibility of dividing by zero by adding `hyp_len > 1`. However, when passing in a hypothesis of length 1 (like in the example given), it throws the following...
[code]

[2021-10-03 21:53] h0rv commented on #2838
I found the new problem. I will create a PR

[2021-10-06 11:03] Kavan72 commented on #2543
I'm also getting wrong split

like my sentence is

[code]

basically this text contain two sentences only but `PunktSentenceTokenizer` saying 3 sentences

[2021-10-06 15:26] RnDevelover opened #2844 "NotImplementedError in lambda DRT simplification."
The following piece of code gives NotImplementedError on line 264 of drt.py (3.6.4)

    import nltk
    expr="\P.\Q.\R.(([X], []) + R(X) + ((P(\Y.([],[ (X=Y) ]))) + (Q(\Z.([], [ (X=Z) ])))))(\X.(\P.(([X],[named(X, karla)]) + P(X) )(\X1.(X(X1)))))(\Y.(\P.\Q. (([X],[ant(X)]) + P(X) + Q(X) )(\Y1.(\X.([],[owner(X) ] )(Y1)))(\Z1.(Y(Z1)))))(\Z.(\P.\X.\F.(P(\E.(([],[nsubj(E,X)]) + F(E))))(\X2.(\F.(([E][

[2021-10-07 11:23] RnDevelover commented on #2844
I made a pull request that fixes this issue.

[2021-10-07 11:32] p9f opened #2848 "Invalid levenstein distance for duplicated letters"
When a letter is duplicated,
When transpositions is allowed,
When a duplicated letter is present on the right argument,

Then the duplicated letter does not contribute to the distance which is wrong - should be 1 (deletion).

[code]

(tested on version 3.6.4)

I believe this is a bug introduced by https://github.com/nltk/nltk/pull/2736/files.

[2021-10-07 13:35] asishm-wk opened #2850 "nltk 3.6.4 is "yanked" on PyPI"
nltk 3.6.4 is currently yanked on PyPI. I don't see any issues except discussing why it was yanked. I see #2833 is tagged as critical but it does not have any references to the release being yanked from PyPI.

It may be helpful to pin something explaining the issue until a new release is pushed.

![image](https://user-images.githubusercontent.com/81247426/136394357-349d67dd-24d5-40d0-b20c-ccf64e38

[2021-10-07 13:39] tomaarsen commented on #2833
Version 3.6.4 has been yanked from PyPI as a result of this issue. That said, you can still use it if desired - as long as you use a high enough `regex` version. See comments above for more information.

[2021-10-07 13:40] tomaarsen commented on #2850
That is indeed the reason that the release has been yanked. I've pinned the issue for now. I'll post an update there. Thank you!
There should be a new release in the coming weeks. Let me know if it's sufficient. I'll close this under the assumption that it is.

[2021-10-07 13:40] #2850 closed, assigned to nobody

[2021-10-07 13:42] asishm-wk commented on #2850
sounds good, thank you!

[2021-10-07 15:56] purificant commented on #2850
It's a precaution specifically for users who may upgrade to 3.6.4 without using the latest version of `regex` package. So long as you have an up to date regex, it's fine. The next release will enforce the minimal `regex` version.

[2021-10-09 23:43] #2844 closed, assigned to nobody

[2021-10-11 07:20] tomaarsen commented on #2833
This has been fixed in the new release 3.6.5. Thank you for raising this issue.

[2021-10-11 07:20] #2833 closed, assigned to nobody

[2021-10-12 14:30] RnDevelover opened #2853 "TypeError: _pretty() takes 1 positional argument but 2 were given in sem/drt.py"
The following code

    import nltk
    expr="\ P.\Q.([ ],[ ((([X],[]) + P(X)) => (Q(X))) ])(\Y1.(\X.([],[dog(X) ] )(Y1)))(\Z1.(\P.\X.\F.(P(\E.(([],[nsubj(E,X)]) + F(E))))(\X2.(\P.\Q.(([X],[]) + P(X) + Q(X) )(\X.(\X.([],[cow(X) ] )(X)))(\Y.(\P.\X.\F.(P(\E.(([],[obj(E,X)]) + F(E))))(\Z.(\F.(([E][help(E)]) + F(E) )(\Z2.(Z(Z2)))))(Y)(\X1.(X2(X1)))))))(Z1)(\Y2.(\F.( [],[] )(Y2)))))"
    dexpr = nltk.s

[2021-10-13 07:24] #2853 closed, assigned to nobody

[2021-10-13 13:34] #2826 closed, assigned to nobody

[2021-10-13 13:34] #2827 closed, assigned to nobody

[2021-10-13 14:00] tomaarsen commented on #2837
If you experience this issue again, then feel free to respond or make a new issue, but I'll close this for the time being, as we cannot reproduce this.

[2021-10-13 14:00] #2837 closed, assigned to nobody

[2021-10-14 07:44] tomaarsen commented on #2770
I've updated the list of skipped tests based on third party tools from this comment: https://github.com/nltk/nltk/issues/2770#issuecomment-890368286, according to the fixes from #2820.

[2021-10-14 10:35] #2838 closed, assigned to nobody

[2021-10-15 16:24] patialashahi31 opened #2857 "regex package version 2021.10.8 not working"
While importing nltk it gives error on macbook M1 , python version 3.9.7

[code]

After degrading regex package version to 2021.8.3 it works fine

[2021-10-15 16:51] purificant commented on #2857
Unable to reproduce on Linux. CI pipeline is passing for nltk with regex 2021.10.8 on Mac: https://github.com/nltk/nltk/runs/3905881265?check_suite_focus=true using latest version of regex as per: https://github.com/nltk/nltk/blob/develop/requirements-ci.txt

[code]

[2021-10-15 16:54] purificant commented on #2857
May I suggest creating a new virtual environment, installing nltk and then checking if you can import it in python?

[2021-10-16 04:57] patialashahi31 commented on #2857
Hi. I tried with virtualenv as well as pipenv 3-4 times.
Also can be it Mac M1 specific?

[2021-10-17 07:31] purificant commented on #2857
Are you able to `pip install regex==2021.10.8` and `pip install nltk==3.6.5`?

[2021-10-17 09:33] patialashahi31 commented on #2857
yes

[2021-10-17 18:53] purificant commented on #2857
Can you share the output log when you start python interpreter and then
[code]
and

[code]

[2021-10-18 10:02] stevenbird opened #2858 "Manually wrap output lines in HOWTO files"
cf https://github.com/nltk/nltk/pull/2856#issuecomment-945193387

[2021-10-18 18:55] juliangilbey commented on #2203
Hi @no-identd Sorry about ridiculously slow response - thanks so much for doing this! I'll take a look now.

[2021-10-19 13:24] jayralencar commented on #2727
Any solution?

[2021-10-21 06:15] iliakur commented on #2727
I think the issue was closed before anyone had time to sit down and investigate.

I'll reopen, but won't have time to investigate it until november most likely.

[2021-10-21 10:24] hitt08 commented on #2478
Any updates of this? Facing the same issue.
Works fine with Python 3.6, but really need to move to a higher python version for other dependencies.

[2021-10-21 10:29] tomaarsen commented on #2727
@iliakur
Note, the issue thrown is from before #2709. That said, the issue might persist.
The following method will be called with KneserNey:
https://github.com/nltk/nltk/blob/fb2e2f21728b4dc0df710a00ec59d0a3797d769e/nltk/lm/smoothing.py#L100-L109

`self.counts` is a NgramCounter, which is accessed like `self.counts[context]`. This calls https://github.com/nltk/nltk/blob/fb2e2f21728b4dc0df710a00ec

[2021-10-22 10:36] tomaarsen commented on #2829
I believe #2843 has significantly improved Emoji tokenization (for TweetTokenizer), so I'll close this accordingly. Feel free to let it be known if there is still some issue with Emoji tokenization that was overlooked.

[2021-10-22 10:36] #2829 closed, assigned to nobody

[2021-10-22 10:38] tomaarsen commented on #2797
NLTK supplies many different Taggers which work in different ways. Perhaps there is one that better suits your needs:
https://github.com/nltk/nltk/blob/fb2e2f21728b4dc0df710a00ec59d0a3797d769e/nltk/tag/__init__.py#L70-L92

Beyond that, perhaps StackOverflow is a better place for questions like these.

[2021-10-22 10:38] #2797 closed, assigned to nobody

[2021-10-22 10:44] tomaarsen commented on #2742
I don't believe there to be many issues with Sphinx at this point. I'm satisfied with it, and the updated website works well with it.
That said, I did check out your work for pydoctor, @tristanlatr (incl. the napoleon branch etc.), and it seems impressive. Well done.

Back on topic: I believe this issue has been fixed now, so I'll close this.

[2021-10-22 10:44] #2742 closed, assigned to stevenbird

[2021-10-23 15:51] createmomo opened #2865 "Incorrect krippendorffs alpha result with missing value or missing data"
[code]

[code]

I am not sure if this result is correct. In my example, I assume I have 3 examples needed to annotate. Except the missing values (not every annotator annotate each example), all the annotators provided the same labels. I thought the alpha should be 1. However, I got 0.33.

Does anyone understand is 0.33 correct or 1.0 is correct for krippendorffs alpha?

Thank you!

[2021-10-26 21:56] raffienficiaud opened #2866 "word_tokenize/EN hangs on incorrect strings"
Hi NLTK team,

I have a string that I pass to `word_tokenize` (which uses `PunktSentenceTokenizer` under the hood), and the call hangs. The string in question is taken from Wikipedia and is the result of some vandalism. It can be generated by this

[code]

The call seems to hang, I did not go deep too much but after running this for a couple of hours I just stopped the process.
What would be an ok

[2021-10-27 05:07] #2848 closed, assigned to nobody

[2021-10-27 05:46] ekaf opened #2867 "Rewind Wordnet data files?"
Before the recent merge of #2860, _wordnet.get_version()_ would fail whenever a read had already occurred from the _data.adj_ file:

3.0

Synset('able.a.01')

None

The cause of the problem is that _synset_from_pos_and_offset_ goes to a given offset in a data file, reads a line, and stays there. This function is called all the time by other functions in the wordnet module. For ex., in wordnet.doct

[2021-10-27 07:14] tomaarsen commented on #2866
Hello @raffienficiaud!

You seem to have stumbled upon a ReDOS, which is a serious (security) problem - as you have already noticed. I'll be attempting to chase it down. However, that clearly isn't much help to you in the moment.

For the time being, you can apply some pre-processing to the text. In particular, you may check whether the length of the input text is realistic. Beyond that, some othe

[2021-10-27 07:16] tomaarsen commented on #2867
I wouldn't worry much about additional processing costs of adding `seek(0)`. I'm more concerned about correct program execution here.

[2021-10-27 12:23] 7oda111 opened #2870 "ModuleNotFoundError: No module named 'regex._regex'"
i use this code in order to build a pipeline
---------------
import re
import nltk
from textblob import TextBlob
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from textblob import Word
from nltk.util import ngrams
import re
from wordcloud import WorldCloud , STOPWORDS
from nltk.tokenize import word_tokenize
-----
the the error  ModuleNotFoundError: No module named 'regex._r

[2021-10-27 12:26] tomaarsen commented on #2870
@7oda111  I would recommend running
[code]
in a terminal. I suspect your version of `regex` is outdated.

[2021-10-27 17:27] tomaarsen commented on #2866
If this issue is critical to you, then you can install NLTK from the `tomaarsen:bugfix/punkt-tokenizer-redos` branch used in #2869, where I try to resolve this ReDoS. Otherwise, I presume that the next release will have fixed this issue.
Thanks a lot for bringing this to our attention!

[2021-10-27 17:52] DanielCarrami opened #2871 "Punkt Tokenizer not achieving expected results"
Hello.

I've been trying to train Punkt tokenizer to split sentences in a particular way, but it doesn't seem to be working. I have many PDF files that contain a specific kind of inquiry. I want the Punkt tokenizer to divide said inquiries. For example, when using the German pickle file to do the split, this happens:

An:
 Telefon:
Datum Fax-Nr.:
Unsere Anfrage-Nr.:
 Blatt : 1 von
 Sehr geehrte Da

[2021-10-27 19:12] tomaarsen commented on #2865
Hello!

Depending on your interpretation, both could be correct. Upon inspection it seems that `None` is taken as an observation. You can tell this by replacing `None` with e.g. `"3"`:

[code]
also outputs
[code]

---

There is indeed an argument that `None` values should be ignored. This allows for partial annotating, as you mentioned. This would be as simply as modifying this line:
https://githu

[2021-10-27 19:17] tomaarsen commented on #2825
This involves changes to https://github.com/nltk/nltk/blob/develop/nltk/internals.py, so users can use e.g. `~/tools/parser.jar` as an environment variable for some NLTK tool.

[2021-10-27 19:20] tomaarsen commented on #2865
This issue is very much related to #2732, which asks how Agreement Krippendorff's alpha handles missing values.

[2021-10-27 19:22] tomaarsen commented on #2732
It seems that if `None` is used, it is considered as a value, and not ignored like one might expect. Please have a look at #2865 for some more discussion on the topic. That said, I'm unsure whether omitting these triples results in the correct computation - I'm not very familiar with the agreement module, nor the corresponding line of research.

[2021-10-27 20:06] tomaarsen commented on #2666
I've been unable to reproduce this issue.
![image](https://user-images.githubusercontent.com/37621491/139138494-688b1029-8471-4a8a-a375-fb87b7212d43.png)

Perhaps it's an issue with your ghostscript installation? I've installed version 9.55.0 for Windows from https://www.ghostscript.com/releases/gsdnld.html. Hope this helps.

[2021-10-27 20:08] raffienficiaud commented on #2866
Hi @tomaarsen

Thanks for all those suggestions, your investigation and the very quick fix (and overall improvement). Currently I am just discarding the document that causes the issue, and I would be more prone in upgrading NLTK version when the fix is ready/merged. There is nothing urgent on my side, my processing is mostly offline.

(I let you close the issue when you think it is the most conven

[2021-10-27 20:10] tomaarsen commented on #2866
@raffienficiaud

Gladly, happened to have some spare time today, and it was an interesting problem to tackle!

The issue has been linked to the PR, so it will auto close if the PR gets merged.

- Tom Aarsen

[2021-10-27 20:13] #2248 closed, assigned to nobody

[2021-10-27 21:07] tomaarsen commented on #2239
8c759729d3a1d03fd724c96c6d82c38382ef2e82 should have solved the last of these. (At least, for commonly accessed plots)

[2021-10-27 21:07] #2239 closed, assigned to nobody

[2021-10-27 21:13] tomaarsen commented on #2204
I suspect this has been solved through #2839. Let us know if any normal uses of BLEU still throw unexpected exceptions!

[2021-10-27 21:13] #2204 closed, assigned to nobody

[2021-10-27 21:16] tomaarsen commented on #2203
I believe this has been appropriately implemented now! I'll close this accordingly.

[2021-10-27 21:16] #2203 closed, assigned to nobody

[2021-10-27 21:43] createmomo commented on #2865
Hello, thank you so much for your kind response, and also the nice code demonstration! This is very helpful to me. Allowing missing data for alpha is exactly what I need.

As you mentioned, I also hope someone who has more experience on this topic could provide more ideas. :)

[2021-10-28 08:14] Joozty opened #2874 "Add `CITATION.cff` file to repository"
Github has a built-in support for citation. Can you please consider adding  CITATTION.cff file to your repository so we can easy cite your work?

Info:
https://citation-file-format.github.io/
https://twitter.com/natfriedman/status/1420122675813441540?lang=en

[2021-10-28 08:21] tomaarsen commented on #2874
Oooh, very interesting. I wasn't aware that this functionality was added. For the time being, https://github.com/nltk/nltk#citing can be used, but I'd love to get the `CITATION.cff` in.

[2021-10-28 11:00] tomaarsen commented on #2871
Hello!

My understanding of the PunktSentenceTokenizer is that it is a statistical model, which still relies on specific characters to mark the end of the sentences:
https://github.com/nltk/nltk/blob/f12df18465ba642d93f8f2f5d9a85147a2e1a450/nltk/tokenize/punkt.py#L203-L204

With other words, Punkt may use statistical models to determine where to split,  but it only makes those decisions at potenti

[2021-10-28 13:33] DanielCarrami commented on #2871
It did clear everything up. I really appreciate your thorough response

[2021-10-28 13:33] #2871 closed, assigned to nobody

[2021-10-29 20:51] tomaarsen commented on #2020
I would love to see Python 3.5+ type hinting now that we no longer support versions that break with this type hinting.

[2021-10-29 21:28] tomaarsen opened #2875 "Deprecate GhostScript dependency in favor of `svgling`"
Hello!

This is following up from discussion from #1887. I would like to suggest to deprecate the dependency on [GhostScript](https://www.ghostscript.com/) from Tree's `_repr_png_`:
https://github.com/nltk/nltk/blob/f12df18465ba642d93f8f2f5d9a85147a2e1a450/nltk/tree.py#L812-L823

We could start supporting SVG's rather than simply PNG's, by moving to using [`svgling`](https://github.com/rawlins/svg

[2021-10-30 09:09] stevenbird commented on #2875
Great idea!

[2021-10-30 14:07] iliakur commented on #2875
sounds good to me too!

[2021-10-30 16:30] rawlins commented on #2875
Thanks for proposing this @tomaarsen, I'd be happy for this to happen for my own selfish reasons. No doubt this dependency would stress test `svgling` in a new way, but I've gotten the impression from the feedback I get that people have found it to be pretty reliable so far in its lifespan.

* I'm committed to maintaining `svgling` indefinitely. My time for actively adding big features varies quit

[2021-10-31 22:10] tomaarsen commented on #2875
I like the sound of all that @rawlins. Perhaps we can take advantage of your experience to best guide an implementation. Here are some ideas I had, and I'd like to get some feedback on them:

### Idea 1:
Simply import `svgling` at the top of the `tree.py` file. Although this solution is the simplest, it has some downsides:
* Circular dependenies
* Users who don't use trees in the context of jupyte

[2021-10-31 22:38] tomaarsen commented on #2874
This might be slightly trickier than I had hoped. The `CITATION.cff` file requires a `version` parameter, which states "The version of the software". This would need to be updated for every release. It's not the end of the world, but it's not ideal either...

https://github.com/citation-file-format/citation-file-format/blob/1.1.0/README.md#software-citation-metadata-required

[2021-10-31 23:03] rawlins commented on #2875
Totally agree that idea 1 is non-ideal, I would actually prefer to eventually remove the side-effect monkeypatching code from `svgling` if `nltk` makes this change. It exists as it currently stands to make life as simple as possible for people who do want to use `svgling` with `nltk`, but there's no need for it if this change happens in `nltk`.

I don't know that I have strong preferences between

[2021-11-01 00:07] stevenbird commented on #2875
@tomaarsen I favour the simplest possible solution, since that is also what is easiest to maintain in the long term. Complexities should "pay their way", ie justify the additional effort. NB people have access to the source code for old versions of NLTK if they want legacy functionality.

[2021-11-01 09:53] tomaarsen commented on #2875
@rawlins

Eventually, you might be able to use `nltk.get_version()` to check whether to still apply the monkeypatching. That way it works for both new and older NLTK versions.

I'd rather not rely on `nltk_tree_options`, as it's an additional dependency which isn't really necessary. Regarding the last bit - do you know if it's possible to e.g. pass additional keyword arguments to `display()`, so t

[2021-11-01 16:00] rawlins commented on #2875
Interesting question, I'll look into this, I haven't paid much attention to the extra `display` arguments before. Though on reflection I think the cleanest solution here would be for svgling to simply provide a means of setting default options at the package level in a general way, rather than specifically for nltk calls.

[2021-11-02 17:19] goodmami commented on #2423
Hi, returning to this with an update: the Wn library has been, since shortly after my last comment, [documented](https://wn.readthedocs.io/en/latest/) and reasonably feature-complete since the 0.8.0 release about four months ago. Recently I've been working on increasing compatibility with the NLTK's wordnet, on two fronts:

1. A (mostly trivial) Python shim module that implements the NLTK's API on

[2021-11-03 04:04] fcbond commented on #2423
Hi,

I think @ekaf has been working on better reading of the old wordnet
database structure, which is not really being used any more.  Although
there is a script to produce this format for the OEWN, it is not going to
be able to support new information such as the new relations supported by
the OEWN, information about orthographic variants, pronunciation and so
forth.

The vast majority of new wor

[2021-11-03 04:59] ekaf commented on #2423
Thanks @goodmami for your kind words about my recent updates in the standard wordnet module. It is indeed in better shape now, although the lack of compatibility of OMW with newer Wordnet versions is a shortcoming.

Concerning future plans, a pluralism of approaches is always an advantage and, as @fcbond explains, the new Wn model is very helpful for supporting the LMF format, which NLTK's standar

[2021-11-03 17:55] goodmami commented on #2423
We could follow what the Python documentation does in similar situations. For instance, [urllib.request](https://docs.python.org/3/library/urllib.request.html#module-urllib.request) simply recommends that people use the 3rd-party Requests package, or how the [re](https://docs.python.org/3/library/re.html) module recommends the 3rd-party regex package, but the standard library modules are still the

[2021-11-03 19:58] Toz3wm commented on #1750
Experienced this same crash today. Reproductible example:
[code]
yields
`ValueError: substring "''" not found in "''Y'""`

[2021-11-04 07:06] ekaf commented on #2423
Concerning the maintenability claim, an important factor is the size of the codebase: the existing wordnet module counts 2301 lines, while the new Wn module is more than triple that size, with 7242 lines, while not feature-complete. Also, who will maintain it? The standard module had many contributors, while future Wn contributions appear less certain.

[2021-11-04 07:47] fcbond commented on #2423
Hi,

I am not sure comparing numbers of maintainers for a long-lived module vs a
very new one is very meaningful.   I am a contributor to both, and intend
to keep maintaining Wn.  Of course, if it becomes used widely in NLTK then
I would expect more people to help maintain it, ...

But my argument was not that Wn is more maintainable, rather that it is
better to try to only maintain one package no

[2021-11-04 09:37] ekaf commented on #2423
Thanks @fcbond. I don't know enough about Wn's features, but I noticed that it doesn't seem to have a "sense key" notion, although sensekeys are the only reliable identifier across Wordnet versions. So I would miss functions like synset_from_sense_key() and lemma_from_key(), which are available in the standard module.

I totally agree that support for LMF is crucial, especially since it is an ISO

[2021-11-04 09:44] tomaarsen commented on #2423
I would be in favor of moving towards a deprecation of the NLTK wordnet module, if Wn is sufficient feature complete to replace core NLTK Wordnet functionality. With some time, and the assistance of the Wn documentation, we might be able to provide detailed deprecation warnings on a function/method level. This way, we can help users move towards using Wn as quickly and smoothly as possible. This a

[2021-11-04 12:38] kazet opened #2876 "TreebankWordDetokenizer is not always an inverse of TreebankWordTokenizer"
For example, for the following script:

[code]

The result is:
[code]

The detokenized sentence should be: `I wanna watch something`

[2021-11-04 12:57] tomaarsen commented on #2876
Hello!

For context, this comment might help:
https://github.com/nltk/nltk/blob/f12df18465ba642d93f8f2f5d9a85147a2e1a450/nltk/tokenize/destructive.py#L34-L42

In short, TreebankWordDetokenizer is not *guaranteed* to revert to the original string. This is because there are multiple inputs that lead to the same output - which make it impossible to know which of the multiple inputs is desired.

*That

[2021-11-04 13:04] #2118 closed, assigned to nobody

[2021-11-04 13:05] #2867 closed, assigned to nobody

[2021-11-04 14:36] ekaf commented on #2423
https://github.com/globalwordnet/cili/issues/9#issuecomment-929475375 mentions "a backlog of several years" in attributing the envisioned ILI identifiers. This leaves ample time to prepare the deprecation warnings.

[2021-11-04 15:30] goodmami commented on #2423
This is because sense keys are not a core part of the WN-LMF format. In EWN-2019 and EWN-2020, these were conventionally encoded in the `dc:identifier` attribute on `<Sense>` elements, and in OEWN-2021 they are simply the `id` of those elements, transformed slightly for xsd:id compatibility. The WN-LMF format allows for `ili` IDs for synsets, which are stable across versions and even across langua

[2021-11-04 15:35] tomaarsen commented on #2423
The phrasing of the deprecation messages isn't an issue. My example was very much just an example. My main point was to advocate in favour of clear deprecation messages with code snippets. The details of the phrasing can be discussed if we decide to move forward 👍

[2021-11-04 19:00] tomaarsen commented on #1980
This has been solved in #1983. I've not seen any objections for using generators. Closing now.

[2021-11-04 19:00] #1980 closed, assigned to nobody

[2021-11-04 19:15] tomaarsen commented on #1953
Closed via the suggestion of @alvations in #2798. Thank you for raising the issue,

[2021-11-04 19:15] #1953 closed, assigned to nobody

[2021-11-04 20:55] tomaarsen commented on #1750
@Toz3wm Thank you for the reproducible example, and for pointing me to this issue. I've submitted a PR which ought to solve this. Perhaps in the meantime you can use `tokenizer.tokenize()`, (which currently results in `["''Y", "'", "''"]`), and then use the lengths of each of the tokens to get the expected outcome of `[(0, 3), (3, 4), (4, 5)]`.

If this PR gets merged, then the tokenized output mi

[2021-11-05 03:06] amateur-dev commented on #2857
I am not able to get this done
[code]

Same error:

```/opt/homebrew/lib/python3.10/site-packages/regex/_regex.cpython-310-darwin.so: code signature in (/opt/homebrew/lib/python3.10/site-packages/regex/_regex.cpython-310-darwin.so) not valid for use in process using Library Validation: Trying to load an unsigned library```

[2021-11-05 08:13] purificant commented on #2857
@amateur-dev
It looks like there's an issue with `regex` package on macOS. Please try `pip install --upgrade regex`.
It is worth checking if this issue is resolved in the latest(2021.11.2) release of `regex` package. If not, please raise an issue with the package maintainers: https://pypi.org/project/regex/

[2021-11-05 15:47] tomaarsen commented on #1767
I believe this has been solved. The example no longer throws the exception, and produces
[code]

That said,
[code]
does still fail, as `chunked` is:
[code]
while `nltk.tree.Tree.fromstring(str(chunked))` is:
[code]

This is because `str(chunked)` produces:
[code]

I don't believe this is a real issue, but I'll keep this open just in case it is.

[2021-11-06 23:34] #1750 closed, assigned to tomaarsen

[2021-11-06 23:34] #2076 closed, assigned to nobody

[2021-11-06 23:34] #2876 closed, assigned to tomaarsen

[2021-11-06 23:37] stevenbird commented on #2874
We already have to update the version [in two places](https://github.com/nltk/nltk/blob/develop/RELEASE-HOWTO.txt#L16), so adding a third doesn't particularly bother me.

[2021-11-07 22:25] tomaarsen opened #2879 "Deprecate `return_str` parameter in `NLTKWordTokenizer` and `TreebankWordTokenizer`"
Hello!

I'd like to discuss a potential enhancements of `NLTKWordTokenizer` and `TreebankWordTokenizer`. For those unaware, the former is the tokenizer that is most frequently used, and is used in the `word_tokenize` function. It's also based on the latter class: `TreebankWordTokenizer`.

An example usage as can be found in the documentation:

[code]

### The enhancement
As you can see from the ex

[2021-11-07 23:19] stevenbird commented on #2879
Could we also consider deprecating this usage... I wonder why we did this!

[2021-11-08 09:56] tomaarsen commented on #2879
Yeah, sounds good. I can't really imagine a use case for this parameter to begin with.

[2021-11-09 18:34] bogdanpetea opened #2882 "Texttiling returns the same text instead of tiles"
Hello,

The problem I have is that instead of returning text tile, it returns the same text I feed as input.

[code]
So instead of getting a list of tiles, I get a list with one entry which is the entire text from file.txt.

I also tried to load the text file with python methods and I get the same result.

[code]

Can you please help me with this one?

Thanks

[2021-11-09 21:18] adamjhawley commented on #2879
Hi, I would like to pick this up as my first issue if possible. Does NLTK have a standard way of deprecating parameters already? I have seen the `@Deprecated` decorator but I am not sure how I could use it to deprecate the parameter only.

[2021-11-10 09:30] tomaarsen commented on #2879
I don't believe so, no. The decorator are only for deprecating classes, methods and functions, iirc.

There's at least three options here:
1. Raising a warning when `return_str` is True, but having the functionality the same. In the future, we would remove this functionality, and for now we just warn users. This would be like a slow deprecation.
2. Raising a warning when `return_str` is True, and

[2021-11-10 19:22] adamjhawley commented on #2879
As can be seen in the PR above (#2883), I have opted for option 2 in agreement with @tomaarsen's comment but am happy to rework if another solution is preferred.

[2021-11-11 01:09] stefkauf commented on #1884
I have just stumbled upon this thread. I have written my own version of the CFG.chomsky_normal_form() method because the one present was incomplete (cannot deal with empty productions, etc.). Mine works. Also simplifies the grammar if possible. I'd be happy to contribute it. I haven't contributed to NLTK before. How does this work?

[2021-11-11 06:32] tomaarsen commented on #1884
@stefkauf Information on how to contribute can be found in [CONTRIBUTING.md](https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md).

[2021-11-11 18:15] adamjhawley commented on #2500
Having looked into this I can conclude that it is likely that this specific example does not work for the Punkt Tokenizer model which is packaged in nltk_data. I am unfamiliar with the implementation details of the Punkt Tokenizer other than the fact that it is trained using an unsupervised learning method so I cannot provide a concrete reason for why it does not work. I have tried `sent_tokenize(

[2021-11-11 19:38] tomaarsen commented on #2500
The example given indeed produces just one sentence.
That said, simply using the English tokenizer produces:
[code]
[code]

---

This is definitely not ideal. Upon inspection of the Punkt models [here](https://github.com/nltk/nltk_data/blob/gh-pages/packages/tokenizers/punkt.zip), it shows that the Russian model is *by far* the smallest in size, with only 33 KB uncompressed size. The second smalle

[2021-11-11 21:38] tomaarsen commented on #2500
I have identified the bug. It originates in the `_first_pass_annotation` method:
https://github.com/nltk/nltk/blob/7d3d6a4f77b76a1f5eb0d0cbc9731716fcc17e68/nltk/tokenize/punkt.py#L603-L624

This method will take an `aug_tok`, a `PunktToken` instance like `PunktToken('дедушка.', linestart=True)`. It will then annotate this token with more details. Crucially, it also tries to annotate it with inform

[2021-11-11 22:35] adamjhawley commented on #2500
As far as I am aware the `-c` suffix was used in older Russian but is not used anymore (which aligns with the fact this appeared from tokenizing classic texts).

Edit: See a Russian-language Stack Exchange discussion on this [here](https://russian.stackexchange.com/questions/266/what-does-%D1%81-suffix-mean).

[2021-11-12 13:31] #1324 closed, assigned to nobody

[2021-11-12 13:31] #2478 closed, assigned to nobody

[2021-11-12 13:31] #2875 closed, assigned to tomaarsen

[2021-11-14 15:11] ekaf opened #2885 "Using the latest Wordnet 2021 version"
Open English Wordnet 2021 (https://github.com/globalwordnet/english-wordnet) was recently released in a format compatible with NLTK:

https://john.mccr.ae/oewn2021/english-wordnet-2021.zip

It can work out-of-the-box with NLTK's wordnet.py module, by just replacing nltk_data/corpora/wordnet. However, a few thousand problems have already been reported in 3 issues: (https://github.com/globalwordnet/

[2021-11-14 16:22] n-zare opened #2886 "pretty_print() problem with right to left language"
Hi!
It seems pretty_print() print the tree from left to right but for right to left languages, print the words in leaves in the wrong order.
Is there a way to solve this?
an example:
![image](https://user-images.githubusercontent.com/5520593/141689280-e39be68e-7446-41af-aacb-52164a269cee.png)

[2021-11-14 23:21] ruijpbastos commented on #2302
I guess this issue could be closed 😄

[2021-11-15 00:34] ivan-marroquin commented on #2521
Hi @tomaarsen

I have ubuntu 18.04.5 with Python 3.6.5 ans nltk 3.6.5. I experience the same issue. What solution do you propose?

Thanks for all,

Ivan

[2021-11-15 08:48] tomaarsen commented on #2521
@ivan-marroquin
This issue has been encountered by many, and hence has a few potential solutions online. For example: https://stackoverflow.com/questions/43993890/modulenotfounderror-no-module-named-sqlite3

If this doesn't help, other solutions can be found by searching for e.g. `Ubuntu 18 ModuleNotFoundError: No module named '_sqlite3'` with your browser of choice.

[2021-11-15 17:44] DanielBorgesOliveira opened #2887 "Articles-about-NLT"
Hi guys,

There are some broken links in the articles wiki page [https://github.com/nltk/nltk/wiki/Articles-about-NLTK](https://github.com/nltk/nltk/wiki/Articles-about-NLTK).
I suggest repairing the links and I would like to ask if it is possible to send me the articles.

Thank you very much.

[2021-11-15 22:46] tomaarsen commented on #2887
Whenever I encounter broken links, my go-to is to look for an Internet Archive, e.g. https://archive.org/. Within the search option, I select "Search archived web sites", and I paste in the now broken link, e.g. https://aclweb.org/anthology-new/W/W08/W08-0208.pdf.

Doing so gives me: https://web.archive.org/web/*/https://aclweb.org/anthology-new/W/W08/W08-0208.pdf

Here I can select between 45 sna

[2021-11-16 08:43] 12mohaned commented on #2886
As far as I know, there is no direct solution for your problem in NLTK. But you can solve the problem by reversing the list that contains your leaves using [reverse](https://www.programiz.com/python-programming/methods/list/reverse).

i.e:
[code]

![Screen Shot 2021-11-16 at 10 46 03](https://user-images.githubusercontent.com/30902228/141952460-4f7d6fb2-7907-4232-8a74-34936a0ae0c2.png)

If we did

[2021-11-16 13:43] n-zare commented on #2886
How to reverse more complicated sentences like:

`[Tree('S', [Tree('VPS', [Tree('N', ['آشپزها']), Tree('VP', [Tree('PP', [Tree('PREP_EZ', ['برای']), Tree('N', ['مهمانها'])]), Tree('MV', [Tree('N', ['آشپزی']), Tree('V', ['می\u200cکنند'])])])]), Tree('PUNC', ['.'])])]`

[2021-11-16 14:48] tomaarsen commented on #2886
@n-zare You can simply recursively reverse trees:

[code]
which produces:
[code]

In short, `revert_tree` will take a node, and if it's a `Tree` object, create a new object with the same label but with the children `reversed`. Beyond that, `revert_tree` is recursively applied on all children.

Perhaps there would be a use case for an `revert` method on Tree objects. I'd like to see some discussion

[2021-11-16 15:15] n-zare commented on #2886
But It doesn't solve the problem because it reversed leaves too. I need to reverse only leaves or reverse the tree without reversing leaves.

[2021-11-16 15:21] tomaarsen commented on #2886
In that case I'm afraid I don't think I understand what you are looking for.

[2021-11-16 15:26] n-zare commented on #2886
For Right to left languages, pretty_print print the tree structure from left to right but print the sentence from right to left. So you can see that words are not exactly in their place and under the edges.

[2021-11-16 16:50] tomaarsen commented on #2886
If I understand correctly, which I'm not sure that I do, then that would suggest that the issue isn't with `pretty_print`, but that the way your build your tree isn't correct. If I take your example of a more complex tree, and print that out, then I get:
[code]
produces
[code]
And this structure matches completely with `tree.pretty_print()`:
[code]

~~I struggle to see an issue with `pretty_print`

[2021-11-16 18:34] n-zare commented on #2886
The structure is correct. For example with this tree:
[code]

the desired output is like this:
![edited](https://user-images.githubusercontent.com/5520593/142044119-5f532fbe-8d8b-4123-ad36-573f36caafbe.png)

but the pretty_print output is like below which need some replacements as arrows indicate some of it.

![Untitled-2](https://user-images.githubusercontent.com/5520593/142044504-b4345271-70bf-4

[2021-11-16 18:41] tomaarsen commented on #2886
Upon reinspection - you're totally right. I can't believe I missed it - I didn't check precisely enough. My apologies. I'll see if I can look into this soon.

[2021-11-16 18:48] n-zare commented on #2886
It will be great, thanks.

[2021-11-17 08:18] #2491 closed, assigned to nobody

[2021-11-17 08:34] tomaarsen commented on #2456
I believe this has been answered clearly!

[2021-11-17 08:34] #2456 closed, assigned to nobody

[2021-11-18 12:47] #1890 closed, assigned to nobody

[2021-11-18 12:54] #2879 closed, assigned to nobody

[2021-11-20 15:06] 12mohaned commented on #2886
I am not sure whether this analysis is right or not, but one can notice when reversing leaves' value while preserving their pos values outputs the correct tree.

i.e:
[code]
the above snippet of code outputs a wrong tree while replacing the values as shown in the below snippet outputs the right tree.

[code]

Reversing the leave values while keeping the pos_values or in general, the subtree label

[2021-11-20 16:13] tomaarsen commented on #2886
I think a core aspect of the issue might be that right-to-left text struggles to be printed correctly everywhere. For example:
[code]
outputs the following when copied from my terminal:
[code]
but it visually looks like this in my terminal:
![image](https://user-images.githubusercontent.com/37621491/142733152-a95e9dea-f626-40ad-ba13-600ed657549f.png)

---

Similarly, with a bigger tree:
[code]

Ou

[2021-11-20 17:29] 12mohaned commented on #2886
Totally agree, part of the problem is in the language itself, or right to left languages in general. I believe a quick fix might be putting an attribute called reverse which gives you the option to reverse the leaves or not in case you are dealing with right to left languages.

i.e:

[code]

[2021-11-20 22:37] #2320 closed, assigned to nobody

[2021-11-21 06:07] n-zare commented on #2886
@12mohaned  based on this code you sent:
`leaves.reverse()
tree = Tree('ROOT',Tree('S',leaves)`

just leaves reverse and we lose the middle nodes, how can I reverse leaves while preserving their pos values as you said?

[2021-11-21 08:53] 12mohaned commented on #2886
I believe the code I sent earlier is wrong. It does reverse the values and the tags. So nothing really happens. But, I am not sure I understand your concern about losing the middle ones, but reversing the leaves won't affect the middle nodes(the middle nodes won't be reversed, thus will preserve their positions).

Reversing the leaves will return the below shape.

![Screen Shot 2021-11-21 at 10 54

[2021-11-21 11:17] tomaarsen commented on #2870
I'm closing this. I suspect my comment above would work, and otherwise there are many other people who have encountered this before, e.g. https://github.com/psf/black/issues/1207, which resolve it by pinning regex to a specific version.

[2021-11-21 11:17] #2870 closed, assigned to nobody

[2021-11-21 12:36] n-zare commented on #2886
So yes, temporary answer is to reversing just leaves, but how? I have hundreds of tree strings that I want to print them and I should reverse their leaves to have a correct output. Is it possible with a code snippet?

[2021-11-24 00:25] goodmami commented on #2423
An update: I've pushed the current state of my NLTK-compatibility shim to Wn in the `nltk` branch. Here is the relevant file: https://github.com/goodmami/wn/blob/nltk/wn/nltk_api.py

It uses Wn under the hood, but the functions and even class representations mimic the NLTK's. You'll need OMW 1.4:

[code]

And here is what it looks like:

[code]

There are still a number of things unimplemented or

[2021-11-24 12:08] ekaf commented on #2885
Since https://github.com/globalwordnet/english-wordnet/issues/777#issue-1052949347 was recently solved, the only problem remaining is the sense ordering. So the difference between the candidate packages is not so big now, and the safest choice might be to use the official package at https://john.mccr.ae/oewn2021/english-wordnet-2021.zip

[2021-11-24 16:32] janscholich opened #2890 "span_tokenize yields ValueError for quotation marks"
The following code
[code]
yields
[code]

It's raised in line 293 of the function `align_tokens`. My guess is that this snippet in `span_tokenize`:
[code]
modifies the quotation marks in such a way that it differs from the token in the original raw text which causes a `ValueError` when calling `sentence.index(token, point)` (in `align_tokens`). Not entirely sure though.

[2021-11-24 16:38] tomaarsen commented on #2890
You're very right on your analysis there! Feel free to have a look at #2877. It will be included in the next release.
Until then, I would recommend installing the `develop` branch, which has this fix in place. E.g. with:
[code]

Running your test on that branch gives:
[code]
[code]

[2021-11-24 16:41] janscholich commented on #2890
Thanks a lot for the quick response! Saves me a lot of time :)

[2021-11-24 16:42] tomaarsen commented on #2890
Gladly. I'll close this then. Feel free to let us know if you encounter more issues!

[2021-11-24 16:42] #2890 closed, assigned to nobody

[2021-11-24 22:14] 0-wiz-0 opened #2891 "Link to book in python documentation wrong"
Not sure if this is a bug in the documentation or in the DNS/web server setup.
The python documentation for nltk says:
[code]
but this link does not work, `https://www.nltk.org/book/` does.

[2021-11-25 09:25] janscholich opened #2892 "sentence tokenizer (PunktSentenceTokenizer) has difficulties differentiating between ordinal and end of sentence"
Not entirely sure how you train the sentence and word tokenizer but I guess you're substituting numerical values with something like `##number##` in your corpus. As a consequence, when the sentence is tokenized into words, something like `2013.` is transformed into `##number##.` and interpreted as an ordinal. Consequently, `_annotate_tokens` will not annotate it as a sentence boundary. Statistical

[2021-11-26 11:58] #2866 closed, assigned to tomaarsen

[2021-11-26 21:18] #2874 closed, assigned to nobody

[2021-11-27 13:25] 12mohaned commented on #2886
Sorry for the late reply, honestly I do not know whether this code snippet is an appropriate solution for your case or not.

[2021-11-27 21:59] sriramja96 opened #2894 "nltk.download() does not work"
When trying to use the nltk downloader in Colab i.e., nltk.download('punkt'),

I get the below error:

[code]

![image](https://user-images.githubusercontent.com/65125423/143721787-aa57c333-4fd1-4259-b8d1-4d03150ebb55.png)

[2021-11-28 02:49] dannysepler commented on #2894
hey! i'm not totally sure i'll be able to help you here, since I know nothing about Colab and running

[code]

works for me locally. Further, running that snippet in this [Colab notebook I found online](https://colab.research.google.com/github/gal-a/blog/blob/master/docs/notebooks/nlp/nltk_preprocess.ipynb#scrollTo=-44aMwUcQZxm) also works. but can you give some more information about your Colab n

[2021-11-28 02:52] dannysepler commented on #2891
You're right, thanks! We recently revamped our website, and this must have slipped through the cracks. Not to worry, it's an easy fix :)

[2021-11-28 03:07] dannysepler commented on #2725
hi! i am _not_ a native spanish speaker, but i did notice that we have `ación` (which looks like `aci\xF3n` in the code) as an option in the SpanishStemmer. We do not have `aciónes` though.

Are these related and should we have different combinations of this? Or are these not actually related?

(EDIT: Realized we happen to have `uciones` but not `ucion`, yet we have `ución` but not `uciónes`. Perh

[2021-11-28 03:14] dannysepler commented on #2725
also, the code is [here](https://github.com/nltk/nltk/blob/develop/nltk/stem/snowball.py) and should be pretty simple to change (just make sure to add to both `__step1_suffixes` and the `stem` function)

[2021-11-28 05:27] dannysepler commented on #1853
hey all! this feels almost certainly fixed now. please do re-open if you still think this is breaking

[2021-11-28 05:27] #1853 closed, assigned to alvations

[2021-11-28 13:59] #2891 closed, assigned to nobody

[2021-11-28 21:18] #2573 closed, assigned to stevenbird

[2021-11-29 01:30] milandesai commented on #2894
I had this problem yesterday too but it's working now. I believe it was related to the github outage since the nltk data is stored on github.

[2021-11-29 01:56] sriramja96 commented on #2894
Yea, you're probably right. It works now !!

[2021-11-29 01:56] #2894 closed, assigned to nobody

[2021-11-29 01:58] sriramja96 commented on #2894
@dannysepler Sure Danny. Noted for the future. I'm very new to GitHub **issues** so made an amateur post without the logs.

[2021-11-29 02:01] dannysepler commented on #2894
Thank you @milandesai and not at all @sriramja96 glad it's working now!

[2021-11-29 05:47] iliakur commented on #2894
@dannysepler that error message seems confusing. do you know if it's easy to wrap in something clearer to users?

[2021-11-29 21:55] elliedai0323 commented on #2357
I used nltk.download('punkt') and it worked

[2021-12-02 11:01] tomaarsen commented on #2892
I believe you're right, yes. I must say that I'm not particularly happy with the sentence tokenizer.
If I remember correctly, the model uses specific (deterministic) rules to determine potential sentence ends, and then uses statistical methods (i.e. what is trained) to determine whether a potential sentence end should indeed be a sentence end. This is where (in my opinion) any situation of `##numb

[2021-12-07 13:09] ekaf commented on #2885
OEWN 2021 is now supported through https://github.com/nltk/nltk/pull/2860

[2021-12-07 13:09] #2885 closed, assigned to nobody

[2021-12-07 16:23] swierh opened #2904 "Downloader fails when download_dir is a nested folder that doesn't exist"
### Problem
When the download folder doesn't exist, it is created by the downloader. But when that folder is nested, the creation fails.

### Code example

[code]

Will give the following error:

[code]

### Suggested solution

The following line throws the error: https://github.com/nltk/nltk/blob/develop/nltk/downloader.py#L698

`os.makedirs(download_dir)` could be used instead of `os.mkdir(downl

[2021-12-07 16:33] badGarnet opened #2905 "`cmn` wordnet folder name and data `.tab` name doesn't match"
`nltk==3.6.5`
Tested on `python==3.8.12`
Chinese language wordnet data is now stored in `corpora/omw/cow/wn-data-cmn.tab`
But code assumes folder name and wordnet data suffix is the same: https://github.com/nltk/nltk/blob/f50b6b1023689bb49c0f0a76f907e035f4360b12/nltk/corpus/reader/wordnet.py#L1253-L1254

Now loading `cmn` data raises error, e.g.,

[code]

[2021-12-07 21:12] stevenbird commented on #2905
Can any of you advise please, @ekaf, @goodmami, @fcbond

[2021-12-07 23:29] ekaf commented on #2905
Yes, the directory structure of the new OMW version 1.4 (PR https://github.com/nltk/nltk_data/pull/171) has changed: the directory name now denotes provenance and does no longer always match the language name. This only affects a few languages, in particular 'cmn', which is now in the 'cow' folder.
 To interpret the new structure, you need the updated functions in wordnet.py PR: https://github.com

[2021-12-08 08:20] ekaf commented on #2905
Until it is merged, the solution is to use the updated nltk/corpus/reader/wordnet.py available here https://github.com/nltk/nltk/raw/4e3f01cdbc57e1f4cda50d9f825e3d4bb6c0b815/nltk/corpus/reader/wordnet.py

[2021-12-08 13:27] tomaarsen commented on #2905
@badGarnet Feel free to use the `develop` branch of nltk until the solution is published in the upcoming version.
I believe that would be:
[code]

[2021-12-08 15:03] goodmami commented on #2905
But this will remain broken for anyone using an older version of the NLTK. Is it possible to have versioned data that the code can select for? E.g., `omw.zip` in nltk_data would be reverted to the previous version to support users of the current and previous versions of the NLTK, while something like `omw-1.4.zip` could be the new data that could be selected by the next code release of the NLTK?

[2021-12-08 15:06] tomaarsen commented on #2905
I would be in favor of any method that allows current users to continue to use OMW without being forced to update NLTK. I raised some concerns about this in https://github.com/nltk/nltk/pull/2899#pullrequestreview-826235609 too.
The suggestion by @goodmami seems like a proper solution. We could then, in `nltk`, look solely for `omw-1.4.zip`, while older versions still use the (working) `omw.zip`.

[2021-12-08 15:10] ekaf commented on #2905
Yes, I was actually just thinking exactly the same. We could have different OMW packages, just like we now have a choice of different Wordnet versions

[2021-12-08 15:13] tomaarsen commented on #2905
So, from now onwards, this is what needs to be done, if I didn't forget anything:
* Rename the current `omw.zip` to `omw-1.4.zip` in nltk_data.
* Revert `omw.zip` in nltk_data.
* Modify `nltk` to use `omw-1.4.zip` by default.

Would there be a use case of accessing the old OMW data, or would we want NLTK 3.7.0 onwards to exclusively use `omw-1.4.zip`, while `omw.zip` exclusively exists for compati

[2021-12-08 15:33] ekaf commented on #2905
@tomaarsen, your plan sounds good and feasible. Omw-1.4 supersedes the old omw package by adding a few new languages, plus definitions and examples, while the lemmas remain unchanged. So there is no case for preferring the old package, except for compatibility with old NLTK versions.
Fortunately, the updated OMW functions in wordnet.py support both the old and the new omw packages seamlessly. But

[2021-12-08 15:41] ekaf commented on #2905
There actually is another way to fix this problem: since the 'cmn' language now is in the 'cow' directory, it would be sufficient to add a 'cmn' symlink, pointing to the 'cow' directory, and do the same for a small number of languages that have this problem. However, I'm not sure that symlinks exist in Windows (I haven't used it for a while :).

[2021-12-08 15:46] tomaarsen commented on #2905
They do exist, I believe. That said, I'm not sure if you can create a symlink within the .zip in e.g. Linux, and have it work when unzipping in Windows.

[2021-12-08 17:05] goodmami commented on #2905
One concern I have is with replicability of experiments. E.g., if someone creates a research project with a dependency on the NLTK, someone downloading that project code and fetching the relevant data should get the same results.

I agree, however, that there's no real use-case for providing both versions of OMW in one version of NLTK. That hypothetical research project would be pinned to an older

[2021-12-08 17:09] ekaf commented on #2905
Symlinks would not work as a general solution to provide omw-1.4 compatibility to older NLTK versions, because there also other problems. With some languages, the new data would fail to load anyway, since the parser expects solely triples, while the new definitions and examples have four fields. However, this additional field is an ordinal number, which we don't actually use, so it would be possib

[2021-12-08 17:44] tomaarsen commented on #2905
We have similar issues with the `inaugural` corpus, which was broken for several days. The zip file of the corpus did not include a folder with files, but rather it was just a zip file with files directly. Everyone who downloaded the corpus until I fixed it a few days afterwards now has a bunch of arbitrary .txt files in their `nltk_data/corpora` folder.

Let's leave the idea of symlinks as a pote

[2021-12-13 15:58] joneill87 opened #2911 "nltk.corpus.gutenberg help fails if punkt corpus is not downloaded"
## The Issue

It seems that the call to help on the nltk.corpus.gutenberg module has an undocumented dependency on the nltk.corpus.punkt module. It is currently not possible to view the help info on the gutenberg module without downloading punkt.

This appears to be specific to the PlaintextCorpusReader class. No error is thrown when loading the movie_reviews corpus.

## Expected Behaviour

The he

[2021-12-13 16:21] tomaarsen commented on #2911
Hello!

Thank you for the detailed report. Upon downloading `punkt`, the output starts with:
[code]
Here, it already becomes possible to see why `punkt` is required. It's due to this line:
[code]
This line prints out the default value for all parameters, and in particular for `sent_tokenizer`. Printing out this value requires the `PunktSentenceTokenizer` instance to be loaded. Doing so will trigge

[2021-12-13 16:29] joneill87 commented on #2911
Thanks for the quick reply. I think you're right; any attempt to fix the issue would probably raise more problems than it solved. As it stands the error message is clear so the impact is minimal. Closing.

[2021-12-13 16:29] #2911 closed, assigned to nobody

[2021-12-13 22:55] #2904 closed, assigned to nobody

[2021-12-13 23:01] tomaarsen opened #2912 "Consider deprecating Python 3.6"
Hello!

Python 3.6 is approaching its End Of Life on December 23rd, and we should consider dropping support for Python 3.6 accordingly. In particular, this involves modifying:
* CI tests
* `python_requires` in `setup.py`.
* Lots of documentation throughout the project.

Among other places, I'm sure.

- Tom Aarsen

[2021-12-13 23:03] tomaarsen opened #2913 "Add CI tests for Python 3.10"
Hello!

Python 3.10 is no longer a glimmer far into the future, and we should start supporting it. The first step in doing so is adding 3.10 to the CI tests, and mentioning that NLTK works for Python 3.10 in our documentation throughout the project.

- Tom Aarsen

[2021-12-14 08:41] purificant commented on #2913
May need to look into refactoring gensim codebase, we are currently locked to version <4

[2021-12-14 08:52] tomaarsen commented on #2913
@purificant Gensim is exclusively used in this file: https://github.com/nltk/nltk/blob/develop/nltk/test/gensim.doctest
So, we can also remove the dependency if we want, as no code in NLTK relies on it. We could then keep the dependency in CI locked to < 4, and in the future we can refactor the doctest to allow for gensim > 4. Another option is to deprecate fully, and remove gensim.doctest too.

[2021-12-14 09:19] purificant commented on #2913
gensim <4 appears incompatible with py310, at least in my recent attempts to pass the CI here: https://github.com/purificant/nltk/runs/4467436202 it is failing to build / install.

Because of the above, it seems the only two options are to refactor and relax <4 version lock or deprecate the test entirely?

[2021-12-14 09:50] tomaarsen commented on #2913
I agree that those seem like the only options. Judging by the gensim.doctest, the functionality seems quite useful. Perhaps we can attempt a refactor of gensim.doctest?
Another option is to remove the gensim dependencies, even from the CI, which should let the tests pass automatically due to https://github.com/nltk/nltk/blob/develop/nltk/test/gensim_fixt.py.

[2021-12-14 13:42] tomaarsen commented on #2905
I believe this has now been solved both on `develop` and for older NLTK versions. From the upcoming release onwards (including the current `develop` branch), OMW 1.4 will be used. On all prior versions, the previous version of OMW will continue to be accessible.

[2021-12-14 13:42] #2905 closed, assigned to nobody

[2021-12-15 14:53] engineerchange opened #2915 "maltparser log4j dependency"
I wanted to note that malt.py appears to have a log4j dependency. Any recommendations on how to eliminate any concerns with the recent exploit?

[2021-12-16 13:55] #1920 closed, assigned to nobody

[2021-12-16 14:36] tomaarsen opened #2916 "In CI, refresh `nltk_data` cache if the hash of `index.xml` differs from the cached hash"
Rather than simply caching `nltk_data` until the cache expires and it's forced to re-download the entire `nltk_data`, we should perform a check on the `index.xml` which refreshes the cache if it differs from some previous cache.

I would advise doing this in the same way that it's done for `requirements.txt`:
https://github.com/nltk/nltk/blob/59aa3fb88c04d6151f2409b31dcfe0f332b0c9ca/.github/workfl

[2021-12-17 22:00] spiketrap-daniele opened #2917 "nltk + gunicorn + preloading + subprocess.check_output crashes worker on macOS"
We have a gunicorn (20.0.4) server that we start with code preloading enabled. One of the APIs at some point performs a `subprocess.check_output(some_command)`, which crashes the worker, without any log.
We were able to nail the problem down to an `import nltk` statement. Removing the nltk import fixes the problem (this happens both on nltk 3.4.5, nltk 3.5 and nltk 3.6.5).
The main issue with repr

[2021-12-18 19:08] tomaarsen commented on #2915
MaltParser is not packaged within NLTK, thus general use of NLTK should not be vulnerable to log4j.

To use NLTK's `malt.py`, then you must also install a version of a [MaltParser jar](http://maltparser.org/). Then, NLTK simply calls the MaltParser jar. If you wish to avoid a potential Log4j vulnerability, then I would advise downloading a new MaltParser jar to some version without this dependency

[2021-12-18 19:08] #2915 closed, assigned to nobody

[2021-12-18 21:00] tomaarsen opened #2918 "Potential accidental capture of loop variable in Boxer"
Hello!

Within the last list comprehension in this return statement, the `cond` value will always take the value of the last element of `conds`:
https://github.com/nltk/nltk/blob/4a130f1cdf642327378a4387b319cd2df6f79287/nltk/sem/boxer.py#L533-L537

This seems like it would be unexpected or undesired behaviour.

For those unaware of what I'm talking about, a Python implementation detail causes the

[2021-12-19 17:54] dnk8n opened #2919 "is_writable function produces the wrong boolean output when run on AWS Lambda with EFS storage attached"
[The function in question](https://github.com/nltk/nltk/blob/59aa3fb88c04d6151f2409b31dcfe0f332b0c9ca/nltk/internals.py#L1102)

I need to debug further, but I am 100% sure the drive is writable, as I was able to create folders (e.g. `Path(os.environ['NLTK_DATA']).mkdir(parents=True, exist_ok=True)`)

This being returned as False causes environment variable NLTK_DATA not to function. I think you sh

[2021-12-19 18:00] dnk8n commented on #2919
Can confirm that the lambda function would have returned an error (e.g. NLTK_DATA=/cache/nltk) if the supplied nltk_data directory was read-only.

It would have been of the following format:

[code]

[2021-12-19 18:14] dnk8n commented on #2919
The results of the following:

[code]

are:

[code]

[2021-12-19 18:16] dnk8n commented on #2919
I have a feeling this code would fail on any NFS type filesystem too

[2021-12-19 18:18] dnk8n commented on #2919
Anyone here with a similar issue. The workaround I am going to try is to change `NLTK_DATA=/tmp/nltk_data`. I only really need Amazon EFS for the library that is calling ntlk (allenNLP).

[2021-12-19 18:22] dnk8n commented on #2919
That would have worked if NLTK data required was < 512MB, however it is not.

I get the following:
`[ERROR] OSError: [Errno 28] No space left on device Traceback (most recent call last)`

[2021-12-19 18:24] dnk8n commented on #2919
I am going to have to investigate monkeypatching to get this to work.

For what reason can you not use try / except in this case? It is a much more portable solution to try write a file. If it fails handle exception, if it passes then delete temporary file.

I am happy to submit a PR but only if the maintainer agrees that this is the way to go.

[2021-12-19 18:52] tomaarsen commented on #2919
`nltk_data` is about 3.37GB in size if all packages are installed. However, it's possible to only install the required sections. If, by chance, you have installed all of `nltk_data` (i.e. with `import nltk; nltk.download("all")` or `python -m nltk.downloader all`), then reducing this to merely the sections that are required, then you might be able to make some progress here.
That said, I'm assumin

[2021-12-19 19:26] dnk8n commented on #2919
I don't have control here. NLTK is called through another library, AllenNLP.

Anyway, I found a way. I call the module which results in the downloads during build time of the docker image and use NLTK_DATA variable to reference the now populated read-only directory at lambda invocation time. This way, the downloader does not need to be called and we work around the problem.

FYI, the size of what

[2021-12-19 19:40] tomaarsen commented on #2919
Wonderful! Glad to hear you got it working.
That said, my understanding is that there is still a bug in `is_writable` on AWS Lambda with EFS storage? Or do you not expect this to be a problem?

I believe the usage of `is_writable` will defer to downloading to `~/nltk_data` if `is_writable` is bugged to exclusively return False on certain systems, which might not commonly be a problem.

[2021-12-19 20:19] dnk8n commented on #2919
Yeah despite my workaround, the NLTK library would still fail to make use of EFS with the checks in their current form. And in Lambda's case ${HOME} or ~/ is read-only so `~/nltk_data` is not suitable.

[2021-12-21 02:33] #2912 closed, assigned to nobody

[2021-12-21 02:33] #2913 closed, assigned to nobody

[2021-12-21 13:03] zqwerty opened #2921 "Sentence tokenizer fails when sentence.startswith('. ')"
[code]
will trigger IndexError from `punkt.py:_realign_boundaries`. But `sent_tokenize('. ')` will not.

Envs:
python=3.6
nltk=3.6.6

[2021-12-21 14:09] mermakov opened #2923 "'wordnet' package and its data dependencies for version 3.6.6"
Hello!

As of today (presumably due to version 3.6.6) our automated tests in a project using NLTK started failing due to missing NLTK data.

Environment: Ubuntu 18.04
Python: Python 3.7

I've used a short script to reproduce (clearing the entire NLTK data directory before each run):

[code]

On version 3.6.5 this works properly.

On version 3.6.6 this fails with the following log:

[code]

I'm not

[2021-12-21 14:13] tomaarsen commented on #2921
Thank you for the bug report!
I believe to have resolved the issue in #2922. If you are experiencing that issue, please use the `develop` branch instead:
[code]

I'll reopen this so others can see this.

[2021-12-21 14:24] tomaarsen commented on #2923
As per NLTK 3.6.6, we've started using `omw-1.4` instead of `omw`. You may have already noticed that installing `omw-1.4` via `nltk.download` will resolve the issue. However, I recognise that this is not particularly intuitive.

The difference with NLTK 3.6.5 (which requires `omw`), is that `omw` was required lazily: it would only be needed when calling e.g. `_load_lang_data`, and then it would re

[2021-12-21 14:41] mermakov commented on #2923
I see, thanks for your answer. I'll double check our code regarding lazy loading and whether `omw` was actually used, perhaps package initialization can be somewhat optimized.

I'll close the issue since the behavior is intended. Thanks again.

[2021-12-21 14:41] #2923 closed, assigned to nobody

[2021-12-22 04:08] ExplorerFreda commented on #1611
Hi @fcbond -- I've build a simple loader that could support loading the extended OMW together with the original wordnet as well as OMW (https://github.com/nltk/nltk/pull/2924). I'd appreciate it a lot if I can hear some feedback from you!

[2021-12-23 06:01] fcbond commented on #1611
Hi,

I will take a look as soon as I can.

On Wed, Dec 22, 2021 at 12:08 PM Freda Shi ***@***.***> wrote:

--
Francis Bond <https://fcbond.github.io/>
Division of Linguistics and Multilingual Studies
Nanyang Technological University

[2021-12-24 13:35] Bernhard-Steindl opened #2925 "NLTK word_tokenize throws IndexError: list index out of range"
I am working on some NLP experiments, where I want to tokenize some texts from users.
For that I am using NLTK right now, but I noticed an unexpected behavior when tokenizing a raw user input string.
I am not sure if this is a bug of NLTK or if I should provide some pre-processed string. Before, I had no problems using NLTK for tokenization of pre-processed datasets, but with raw user input I run

[2021-12-24 13:40] tomaarsen commented on #2925
This is a bug introduced in NLTK 3.6.6, and has been resolved in #2922 after #2921 reported it. In short, any sentence starting with a potential "end of sentence" character (i.e. `.` ,`?` or `!`) followed by a space will throw an IndexError.
For the time being I would recommend using the unofficial version through
[code]
or using an older NLTK version. Alternatively, you can pre-process

We'll pub

[2021-12-24 13:45] Bernhard-Steindl commented on #2925
Thanks for your fast response!
I am looking forward to the new release. 😊

[2021-12-27 13:24] borzunov commented on #2925
This has broken our pipelines as well, I hope the new release will come out soon :)

Thank you for the quick fix!

[2021-12-27 13:33] tomaarsen commented on #2925
Apologies for the inconvenience, we're working on it!

[2021-12-28 23:38] tomaarsen commented on #2921
@zqwerty
NLTK 3.6.7 has been released, which includes the fix for this issue. Thank you for reporting it! I'll close this now.

[2021-12-28 23:38] #2921 closed, assigned to nobody

[2021-12-28 23:39] tomaarsen commented on #2925
@Bernhard-Steindl @borzunov
NLTK 3.6.7 has been released, which includes the fix for this issue. Thank you for reporting it!
I'll close this as it should be resolved now.

[2021-12-28 23:39] #2925 closed, assigned to nobody

[2021-12-30 11:03] fredericrous commented on #2923
This is a breaking change, if nltk is using semver, 3.6.6 should have been tagged 3.7.0

[2022-01-01 22:46] tomaarsen commented on #2923
It should have been. This was an oversight. Apologies.

Happy new year.

[2022-01-07 01:22] tingjhenjiang opened #2927 "error in nltk tokenize"
following codes:
[code]
would produce an error:
[code]

[2022-01-07 09:40] tomaarsen commented on #2927
@tingjhenjiang Hello! This was an issue from NLTK 3.6.6 (See #2925, #2921), and has been patched in NLTK 3.6.7.

This can easily be resolved by updating to version NLTK 3.6.7 (The current version).

Also, this is besides the point, but for Tweets and other "casual" texts, I would personally recommend the [TweetTokenizer](https://www.nltk.org/api/nltk.tokenize.casual.html?highlight=tweettokenizer#n

[2022-01-07 09:40] #2927 closed, assigned to nobody

[2022-01-09 17:51] 404-P4rziv4L commented on #2916
Hey @tomaarsen, I would like to try working on this problem. Could I be assigned?

[2022-01-09 18:19] tomaarsen commented on #2916
Sure!

[2022-01-11 03:42] 404-P4rziv4L commented on #2916
I'm a little confused with this as it's my first issue where I'm handling CI. Could you provide me with some resources where I could read up a little to understand the problem better? @tomaarsen

[2022-01-11 09:45] tomaarsen commented on #2916
The GitHub CI is a bit of a fickle beast, simply because (seemingly) the only way to test the performance of it, is to push a commit to GitHub and observe it there. You can't easily test it locally.
That said, the documentation of GitHub Actions as a whole is here: https://docs.github.com/en/actions. Furthermore, https://docs.github.com/actions/automating-builds-and-tests/building-and-testing-node

[2022-01-12 07:55] tdekelver commented on #1832
Hi, I'm having the same issue today, and it was always working before this and I did not change anything to my environment. What should I do? I tried both via the command line or via the code

[code]

[2022-01-12 09:36] tomaarsen commented on #1832
@tdekelver Hello!

I'm unable to reproduce this, sadly:
[code]

Perhaps you can let us know which command you used, which NLTK version you're using, and what Python version you're on (presumably 3.7?)
By the way, the RuntimeWarning can safely be ignored.

[2022-01-13 07:24] tdekelver commented on #1832
@tomaarsen Hi !

Thanks for the reply. Here you can find the info asked:

This is on a Windows pc:
[code]

Weirdly on a linux virtual machine with the same nltk version (other python version) I don't have the issue:
![image](https://user-images.githubusercontent.com/33689424/149284249-94dc3064-91a0-40b3-a6b3-1115187b4b28.png)

[2022-01-13 09:39] tomaarsen commented on #1832
@tdekelver That is indeed odd.
I've tried to reproduce your issue, but couldn't, sadly:
[code]

To give you a bit more information on the topic: NLTK Downloads the data from https://github.com/nltk/nltk_data, where the data can be accessed via GitHub Pages. The "main" file for this is https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml, which contains info on all of the data that c

[2022-01-13 11:16] tdekelver commented on #1832
Hi @tomaarsen,

Thanks for the explanation. This indeed clarified the issue:
[code]

As you can see we get an error message saying that the access to this site is blocked in our company policy. Weirdly this was not the case before and is the case now, and on the linux machine it was not behind the same company policy which is why it worked correctly.

Thanks for the help,
Kind regards,
Thomas

[2022-01-13 11:25] tomaarsen commented on #1832
Wonderful! Mystery solved.
nltk_data downloads are generally just one-time use things, so you might be able to transfer `stopwords.zip` to `C:\Users\...\AppData\Roaming\nltk_data\corpora\stopwords.zip` in some way, and then unzip it to create a `C:\Users\...\AppData\Roaming\nltk_data\corpora\stopwords` folder. NLTK should then be able to recognise it.

Hope this helped.

[2022-01-13 16:33] sarathsund opened #2929 "Regular Expression Denial of Service (ReDoS) from RegexpTagger"
Hi NLTK team,

Recently when I try to run security scans for nltk package (3.6.7), below is the exception posted by twistlock

**nltk package from all versions is vulnerable to Regular Expression Denial of Service (ReDoS). ^-?[0-9]+(.[0-9]+)?$ groups [0-9]+(.[0-9]+) match each other, which causes a nasty backtracking in case of failure. If the attacker succeeds to use a malicious payload against R

[2022-01-13 16:42] tomaarsen commented on #2929
@sarathsund Hello!

I believe this has been covered and solved in #2906. This PR has been included in NLTK 3.6.7, so I'm unsure how you were able to still find the vulnerability in this issue. Are you certain that you're using NLTK 3.6.7 for this?

Obviously, it is possible that the fix was not sufficient, or that only a part of the ReDoS was fixed.

Tom Aarsen

[2022-01-13 17:17] sarathsund commented on #2929
Hi @tomaarsen

Thanks for the quick check..

Yes I was using the 3.6.5 previously and I upgraded to 3.6.7  after checking the solved #2906

This is the latest scan results from today.  Not very sure why PRISMA error still shows. (PRISMA-2021-0204)
![image](https://user-images.githubusercontent.com/6964886/149377267-a86a7b68-e0cf-432f-9dd4-c322f95ac233.png)

Sarath

[2022-01-13 17:37] tomaarsen commented on #2929
I'm not quite sure either. Perhaps the tool fails to take into account the `r` before the string in
[code]
If this is the case, then the string is not considered "raw", and is converted to:
[code]
(Note, no \ before the dot)

However, with my knowledge of regexes I don't see a vulnerability in the current code. `[0-9]+` and `(\.[0-9]+)` do not overlap (which is what causes the vulnerability, as it

[2022-01-13 20:51] sarathsund commented on #2929
Hi @tomaarsen

once again thanks for the quick support. I will check with twistlock prisma team on this..

Thanks
Sarath

[2022-01-13 20:51] #2929 closed, assigned to nobody

[2022-01-19 11:43] ghost opened #2930 "[question] "us" lemmatizes into "u"?"
## Confusion

While playing around with some sample code, I found the Lemmatizer has some odd results, the most reproducible (not requiring crafted input) is the English word `us`. This consistently lemmatizes to `u`.

Is this intentional, and if so, why? [I'm curious.]

## Sample Code

[code]

[2022-01-19 11:52] tomaarsen commented on #2930
This is not necessarily intentional, but it's indicative of the simple nature of the NLTK Lemmatizer. WordNetLemmatizer (as the name suggests) uses WordNet, and in particular the WordNet `morphy` function. This function (originally specified [here](https://wordnet.princeton.edu/documentation/morphy7wn)) is a very simple suffix replacement system. For example, if there is a noun that ends with `xes

[2022-01-19 11:52] #2930 closed, assigned to nobody

[2022-01-19 22:31] sjurgis opened #2931 "nltk-3.5 build fails in docker and python 2.7.18 due to regex-2022.1.18"
Sorry I'm not super familiar with this ecosystem, but just noticed my docker build on GCP fails with this message:

[code]

Unsure if this exactly correct source of error so full log attached
[scratch_9.txt](https://github.com/nltk/nltk/files/7900938/scratch_9.txt)

Looking at regex releases there was new one yesterday - https://pypi.org/project/regex/#history

My previous build just yesterday was

[2022-01-19 22:32] sjurgis commented on #2929
It seems this fix might have caused this issue https://github.com/nltk/nltk/issues/2931

[2022-01-19 22:54] sjurgis commented on #2931
Looking at regex latest commit messages, [this one](https://github.com/mrabarnett/mrab-regex/commit/227163df1b66a616e20a7f04424860540573949c) stands out:
[code]
Yikes

[2022-01-19 22:54] tomaarsen commented on #2931
Hello!

It appears that you are using Python 2.7 based on your logs, which include the line:

[code]

As a result, it makes sense that you are now experiencing these issues, as regex was updated yesterday (as you mentioned) to remove Python 2 functionality: https://github.com/mrabarnett/mrab-regex/commit/227163df1b66a616e20a7f04424860540573949c. With other words: I recommend that you lock `regex`

[2022-01-20 00:09] sjurgis commented on #2931
Thanks that worked. Tho correct syntax is:

[code]

[2022-01-20 09:05] tomaarsen commented on #2931
Wonderful! I've updated my comment to reflect that, in case some people find this and quickly copy-paste before reading your message.
Glad to hear that it works now. I'll close this accordingly. Feel free to let us know if there's more issues, as always.

[2022-01-20 09:05] #2931 closed, assigned to nobody

[2022-01-21 09:49] itzsimpl opened #2932 "nltk.tokenize.word_tokenize crash with leading terminal punctuation"
If text starts with a terminal punctuation mark (.!?) followed by space, nltk.tokenize.word_tokenize(text) will crash.
[code]

it will not, however, if there is no space after the punctuation
[code]

[2022-01-21 09:52] tomaarsen commented on #2932
Hello @itzsimpl!

This has been resolved in #2922, which has been published in NLTK 3.6.7. You are (presumably) using NLTK 3.6.6, and I would highly recommend upgrading to NLTK 3.6.7.

I hope this helps.

[2022-01-21 10:00] itzsimpl commented on #2932
@tomaarsen Thank you for the quick reply. Upgrading to NLTK 3.6.7 solved my problem.

[2022-01-21 10:00] #2932 closed, assigned to nobody

[2022-01-21 10:00] tomaarsen commented on #2932
Wonderful! Glad to hear.

[2022-01-24 15:49] scale-itx opened #2933 "[Removed] Potential bug in sentence tokenizer since 3.6.6"
We use `nltk` tokenizer `tokenizers/punkt/english.pickle` to split relatively long text into sentences.
After we upgrading to 3.6.6, we noticed at least one change in the tokenizer results which looks rather like a bug
Given this simple text example:
[code]

We expect those sentences:
[code]
However since `3.6.6` we got these sentences:
[code]

This may looks very insignificant but may has some ef

[2022-01-24 15:50] radcheb opened #2934 "Potential bug in sentence tokenizer since 3.6.6"
We use `nltk` tokenizer `tokenizers/punkt/english.pickle` to split relatively long text into sentences.
After we upgrading to 3.6.6, we noticed at least one change in the tokenizer results which looks rather like a bug
Given this simple text example:
[code]

We expect those sentences:
[code]
However since `3.6.6` we got these sentences:
[code]

This may looks very insignificant but may has some ef

[2022-01-24 15:51] #2933 closed, assigned to nobody

[2022-01-24 22:27] espoof opened #2935 "From TreebankWordDetokenizer, the detokenize adds/subtracts spaces to/from special characters"
After using word_tokenize() on the following sample string:

"Hello ; Hello World     . Hello ; ;Hello;"

I use detokenize to put the string back together. I receive the following:

"Hello; Hello World . Hello;; Hello;"

The example above show spaces disappearing before semicolons. There are also scenarios where:

";;;" turns to "; ; ;"

Is there a bug in the function or is this a way to clean up

[2022-01-25 00:55] rykroon-momentum commented on #2935
I have also experienced a similar issue.
[code]

[2022-01-25 10:20] tomaarsen commented on #2935
I'm afraid this is an issue caused by the TreebankTokenizer not being an [injective](https://en.wikipedia.org/wiki/Injective_function) function. To give an example, both `"Ryan 's"` and `"Ryan's"` map to `['Ryan', "'s"]` in the Tokenizer, and thus the Detokenizer can't be certain which of the two was the original string.

So, although the Detokenizer simply uses the reverse regex operations from t

[2022-01-25 14:19] sstojanoska opened #2937 "Possible tokenization issue with PunktSentenceTokenizer (nltk version is: 3.6.6)"
Hi, I am uncertain whether this is expected behavior, but I have encountered this issue on a real-case data. Some of my input data comes with EOS (end-of-sentence: `!?.`) punctuation at the beginning of the string, which causes the `_match_potential_end_contexts` method to fail.
To reproduce:
[code]
Is string preprocessing before tokenization the only solution? Thanks.

[2022-01-25 14:23] tomaarsen commented on #2937
Hello! This is indeed a bug. It has been resolved already, luckily! NLTK version 3.6.7 has solved this issue.

I would very much recommend upgrading to NLTK 3.6.7:
[code]
(or similar with anaconda)

See #2925 for more information. (Other similar issues: #2921, #2925, #2927)

I hope this helped!

[2022-01-25 14:23] #2937 closed, assigned to nobody

[2022-01-26 03:09] leifwalsh opened #2938 "ConditionalFreqDist.__add__ is quadratic time-ish"
https://github.com/nltk/nltk/blob/3f74ac55681667d7ef78b664557487145f51eb02/nltk/probability.py#L2067-L2068

Because `conditions()` is a list:

https://github.com/nltk/nltk/blob/3f74ac55681667d7ef78b664557487145f51eb02/nltk/probability.py#L1901-L1911

The `not in` operator on line 2068 is linear time, so the whole loop is quadratic.

Within `__add__`, converting `conditions()` on each object into a

[2022-01-26 09:44] tomaarsen commented on #2938
Well spotted. I'm surprised this wasn't the original implementation, also because on line 2063 we (again) call self.conditions(), while this value isn't cached to be efficient. I'll have a look whether I can optimize this (and the other relevant methods). Thanks for opening this!

[2022-01-26 11:22] tomaarsen commented on #2938
I've included it in a small PR with a bunch of tiny changes I wrote the other month.

[2022-01-30 18:42] giorgosera opened #2940 "Division by zero error for agreement metrics when there is perfect agreement"
The following code fails with `ZeroDivisionError: float division by zero`:

[code]

Am I missing something or is this a bug?

[2022-01-30 19:45] 12mohaned commented on #2934
I believe this is not a bug, the problem is in the text.
For the below test cases, it does work perfectly.

[code]
output:-
['1.', 'This is Right .', '2.', 'This is A .', '3.', "That's all"]
['1.', 'This is Good .', '2.', 'This is Amazing .', '3.', "That's all"]

Quick analysis:
The reason behind such unexpected output is that the tokenizer recognizes the R in "1. This is R . 2." as a character ra

[2022-01-31 14:52] Filco306 opened #2942 "word_tokenize raises IndexError if . is in beginning of text in 3.6.6 but not in 3.6.2"
**Example: **

If I run the code below with `nltk==3.6.6`, I get an `IndexError`

[code]

However, running it in `nltk==3.6.2` works just fine.

I have switch to nltk 3.6.2 for now, but perhaps this should be fixed?

[2022-01-31 14:53] tomaarsen commented on #2942
Hello! This is indeed a bug. It has been resolved already, luckily! NLTK version 3.6.7 has solved this issue.

I would very much recommend upgrading to NLTK 3.6.7:
[code]
(or similar with anaconda)

See #2925 for more information. (Other similar issues: #2921, #2925, #2927)

I hope this helped! Apologies for the inconvenience.

[2022-01-31 14:53] #2942 closed, assigned to nobody

[2022-01-31 15:04] Filco306 commented on #2942
Hello again,

No problem! Thank you for the answer :)

[2022-01-31 15:05] tomaarsen commented on #2942
Gladly! Good luck with your projects!

[2022-02-01 13:52] harshith001 opened #2943 "issue with nltk import , VS code"
PS D:\Sem 2\PFA\Programs PFA> & C:/Users/bhars/anaconda3/python.exe "d:/Sem 2/PFA/Programs PFA/nltk.py"
Traceback (most recent call last):
  File "d:\Sem 2\PFA\Programs PFA\nltk.py", line 2, in <module>
    import nltk
  File "d:\Sem 2\PFA\Programs PFA\nltk.py", line 6, in <module>
    nltk_tokens = nltk.word_tokenize(word_data)
AttributeError: partially initialized module 'nltk' has no attribute

[2022-02-01 14:12] tomaarsen commented on #2943
Hello!

This problem is caused by is a tricky issue in Python that occurs whenever you name one of your files the same thing as one of the modules you want to import. Let me show you.

Imagine I have a file called `this_is_my_file.py`, which has only one line, and looks like this:
[code]
If I then run it, then I'll get this output:
[code]
Although somewhat confusing if you didn't see it coming, th

[2022-02-01 14:12] #2943 closed, assigned to nobody

[2022-02-07 17:27] aflah02 opened #2945 "How to use nltk.lm.api.LanguageModel.perplexity"
I want to compute the perplexity of a sentence and found this function https://www.nltk.org/api/nltk.lm.api.html#nltk.lm.api.LanguageModel.perplexity but I can't seem to understand how will I use it in code if say I have a sentence "I love cats". Can someone share an example script where I can tweak ngrams?
Currently I tried passing ngrams but got argument errors that one argument is missing

[2022-02-07 17:42] aflah02 commented on #2945
I found some docs here - https://www.nltk.org/api/nltk.lm.html
Also I found this for using a pretrained model - https://github.com/huggingface/transformers/issues/473

[2022-02-07 17:42] #2945 closed, assigned to nobody

[2022-02-09 16:47] griverorz commented on #2934
This is only to document that I have also come across a similar change. One of our unit tests noticed that the sentence tokenizer produces different results after 3.6.5. In particular:

[code]

While in the newer versions:
[code]

[2022-02-14 17:01] 12mohaned commented on #2934
Tagging @tomaarsen  @stevenbird to check this issue, and whether it is a bug or not.

[2022-02-15 08:41] davidbbaumann opened #2947 "Load .pickle from AWS S3 URL and use it with word_tokenize()"
I uploaded the german.pickle file to aws s3 and would like to use it with `word_tokenize()`

First I loaded the .pickle file and use it with `tokenize()`
[code]
As a result I get text tokenized in sentences.

But when I use the following code I receive an AttributeError:
[code]

How can I use `nltk.tokenize.word_tokenize() `with the downloaded file from S3? Since when I try the common way `word_to

[2022-02-15 12:22] tomaarsen commented on #2947
Hello!

I see that you've uploaded the german Punkt model, which works for sentences, but not for splitting words, as you've noticed.
The cause is that Punkt (`PunktSentenceTokenizer`) is a *sentence* tokenizer, and a different model is used for word tokenization: `NLTKWordTokenizer`.
I'm not 100% certain, and I don't have the time to verify this now, but I think `NLTKWordTokenizer` does not requi

[2022-02-16 09:10] davidbbaumann commented on #2947
Hi @tomaarsen,

thanks for your swift assistance! I will implement it that way but also noticed one difference. `word_tokenize() `returns one list with all the tokens whereas `sentences = [word_tokenize(sentence, preserve_line=True) for sentence in sentences]` returns a list of lists where each sub-list holds the tokens of one sentence.

it would be much easier if I could implement it directly lik

[2022-02-17 15:33] kamrapooja opened #2948 "key phrase extraction in NLTK"
Do we have key phrase extraction in NLTK?

[2022-02-17 17:13] 12mohaned commented on #2948
I do not believe you will find a ready-made algorithm in NLTK to extract keywords from a corpus. Also, I am not sure that NLTK should have such a feature, but it would be a nice add-on. However, you can use NLTK mainly for preprocessing your corpus. For example, tokenization, removing stop words and punctuations, lemmatization, stemming or even pos tagging tokens in your corpus. I believe this is

[2022-02-18 15:56] eggplants commented on #2020
Now, nltk requires is Python 3.7 or later. So we are able to write type annotations mindlessly.

[2022-02-19 01:37] TortoiseHam opened #2949 "Importing NLTK breaks PyTorch multiprocessing on Mac"
Importing NLTK breaks PyTorch multi-processing on Mac (both Intel and M1 based).

[code]

The above code will run fine if the (unused) nltk import is removed, but when it is present it will cause the worker threads to crash:

RuntimeError: DataLoader worker (pid 62735) is killed by signal: Trace/BPT trap: 5.
RuntimeError: DataLoader worker (pid(s) 62735) exited unexpectedly

This conflict exists b

[2022-02-21 17:19] geblanco opened #2950 "Panlex lite not working"
Hi!

I'm trying to get the panlex_lite corpus working, but I'm not able to download it. Reading [this](https://github.com/nltk/nltk/issues/1253) I've tried to do it with the develop version of NLTK but still no success.

I'm I missing something?

Thanks,
Best

[2022-02-21 18:34] TortoiseHam commented on #2949
After further investigation, this is due to nltk's use of the tkinter module. The code will work again if the following is done before importing nltk:

[code]

I'm not sure what, if anything, you want to do with this information. I'm not familiar with the Tkinter package, but banning it did not adversely impact the functionality I needed from the nltk library. Depending on the ratio of Mac+pytorch

[2022-02-22 05:23] sunjiao123sun opened #2951 "WordNet 31 cannot be loaded"
To whom it may concern,

I have been trying to follow the tutorial here and use WordNet 31 in my project: https://www.nltk.org/howto/wordnet.html.
My environment is
`Python 3.10.0;
nltk version: 3.7
`
While `from nltk.corpus import wordnet31 as wn31` can work, but when I try to do `wn31.get_version()`, it shows that `OSError: No such file or directory: '/Users/sunjiao/nltk_data/corpora/wordnet/ind

[2022-02-22 05:30] sunjiao123sun commented on #2951
Also, when I do `wn31`, it will give me `<WordNetCorpusReader in '.../corpora/wordnet31' (not loaded yet)>`. i wonder if it means that the wordnet31 is not supported yet!

Any guidance would be much appreciated!! thanks!

[2022-02-25 16:48] ekaf commented on #2951
This problem is a bug, due to the fact that the recent wordnet update is not yet prepared to handle zipped nltk_data packages.
It is fixed in #2946, but in the meantime, you could just unzip wordnet31.zip in the nltk_data/corpora folder, and everything should work as intended.

[2022-02-25 16:51] sunjiao123sun commented on #2951
thanks a lot ekaf! i have figured it out as well!

For other people's info -- I went to the nltk_data/corpora folder, deleted the wordnet package, and unzipped the wordnet31.zip under the same directory! Just as @ekaf said :)) I really appreciate it!

[2022-02-25 16:51] #2951 closed, assigned to nobody

[2022-02-26 08:36] ekaf commented on #2951
Thanks @sunjiao123sun! But unzipping the package just bypasses the problem, which remains unsolved for those users who want to preserve space by keeping their data packages zipped.
A solution is to use a LazyCorpusLoader class to read the "index.sense" file, as line 1220 does in the wordnet.py update proposed in #2946.
So this issue remains until an adequate fix is merged.

[2022-02-27 06:06] kocoten1992 opened #2952 "reverse search `pos tag` to words"
Hi nltk, how could we do a reverse search from pos tagging to words?

For example, normal word to pos_tag as follow:
[code]

Here is what I would want:
[code]

Is there a way to achieve this? Thank you very much!

[2022-02-27 11:38] kocoten1992 commented on #2952
Just realize my question don't make much sense, if you want something like that, simply use a dictionary!

[2022-02-27 11:38] #2952 closed, assigned to nobody

[2022-02-28 11:34] BLKSerene opened #2953 "Missing newlines between entries in release notes"
There're no newlines between each entry in [release notes](https://www.nltk.org/news.html), resulting in poor readability.
I'm not sure whether the release notes are generated automatically or added manually.

[2022-03-01 20:10] yzhaoinuw opened #2954 "edit_distance_align wrong results"
I'm using NLTK 3.7. When running the `edit_distance_align` example (copied below) in pull request #2257, I get a different and wrong result
[code]
The move from (3, 4) to (3, 3) is wrong, which corresponds to an insertion, "fubar" -> "fubbar". According to the pull request post below, the expected path is `[(0, 0), (1, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]`

[2022-03-05 14:51] arademaker opened #2955 "is this comment still valid?"
https://github.com/nltk/nltk/blob/34ee17b395b1bb18cf307bdafb3feea99bf54243/nltk/test/featstruct.doctest#L10-L12

The `featstruct.py` file imports `nltk.sem.logic` (see https://github.com/nltk/nltk/blob/develop/nltk/featstruct.py#L97-L103). I didn't find any other module for FOL in `nltk.sem`. I seems that this comment is deprecated and the module is already using the `nltk.sem.logic`, am I right?

[2022-03-08 16:21] Geremia opened #2957 "integrating conllu with NLTK?"
Can [`conllu`](https://github.com/EmilStenstrom/conllu/) be integrated with [NLTK](https://www.nltk.org/_modules/nltk/corpus/reader/conll)?
NLTK has a [ConllCorpusReader class](https://www.nltk.org/_modules/nltk/corpus/reader/conll), but [it currently doesn't support CoNLL-U](https://stackoverflow.com/q/66563494/1429450).

<sup>cf. [`conllu` issue "Integrating with NLTK?" #58](https://github.com/E

[2022-03-09 12:47] CamerAllan opened #2959 "Support for basic authentication in NLTK Downloader index URLs"
Hello!

We would like to use NLTK in our closed analyst environment. This environment has no _direct_ access to GitHub, so we can't use the default sources index file. We do use have a GitHub mirror, from which we can download NLTK corpuses using basic authentication, like this:

[code]

Our workaround was going to be to specify a custom sources file using `NLTK_DOWNLOAD_URL`. In this file, we wou

[2022-03-10 11:48] CamerAllan commented on #2959
Closing this as I don't think having credentials in the sources file is the way to go

[2022-03-10 11:48] #2959 closed, assigned to nobody

[2022-03-11 16:50] mbauwens opened #2961 "nltk.lm.api entropy formula source?"
Hi! I've been experimenting with training and testing a standard trigram language model on my own dataset. Upon investigating the `entropy` method of the LM class, I was a bit confused. The [docs](https://www.nltk.org/api/nltk.lm.api.html#nltk.lm.api.LanguageModel.entropy) only mention a very brief description: "Calculate cross-entropy of model for given evaluation text."

It seems to me that this

[2022-03-12 00:39] davidmezzetti commented on #2934
Adding another similar example in 3.6.5 vs 3.6.6

[code]

[code]

It would be greatly appreciated if a ruling could be made on whether this is a bug or the new desired functionality. I understand this isn't perfect grammatical English but it seems like splitting in these cases is more desirable than not. In my case, I'll be left with 3 options (I expect there are others in that same boat).

1.) Ac

[2022-03-13 22:24] tomaarsen commented on #2961
@mbauwens Hello!

I dug into the code a little bit, and the `git blame` reported that the entropy calculation was last updated in this commit: 9e7989e99418a741f70fea77cdca56fafe2c5d9c

The commit info is:
[code]

Some quick searching indicates that JBG might refer to Jordan Boyd-Graber, who has taught about Language Models at the University of Maryland. That said, I wasn't able to find a specific

[2022-03-13 22:53] mbauwens commented on #2961
Thanks for the quick reply! Ok, interesting. After a quick Google search, it does seem Jordan Boyd-Graber (if that's what "JBG" references) actually also references the Shannon Entropy formula (see [slide 16](http://users.umiacs.umd.edu/~jbg/teaching/INST_414/02d.pdf), second formula) so that does make it more 'perplexing'... :)

Given that it's hard to find the source of this formula and general

[2022-03-15 15:09] iliakur commented on #2961
Hi all! I'm currently swamped, will respond to this in the course of this week. @mbauwens thanks for the detailed issue :pray:

[2022-03-16 15:27] mbauwens commented on #2961
Small update: my formula for perplexity based on Jurafsky (in the original post) was completely wrong so I did correct that. I dug a little deeper by comparing Shannon (entropy and perplexity) with the NLTK formulas (entropy and perplexity) as well as Jurafsky's implementation of perplexity.

I've written a little program so you can easily compare the outcome of the formulas by supplying the main

[2022-03-17 07:57] tomaarsen commented on #2934
I recognize that that is far from optimal. These were definitely not intentional changes.

[2022-03-19 01:01] rumezaa opened #2962 "vader_lexicon.txt failed to load"
Hi everyone - been struggling w/ this for a week now

Using the SentimentIntensityAnylzer and keep on getting the LookupError when I try to nltk.download("vader_lexicon")--> tried "vader_lexicon.txt" too

I've tried appending the data path for vader_lexicon but still no luck,

I am using ubuntu

pleasssepleaseplease help

[2022-03-20 19:14] xhluca opened #2963 "Allow `nltk.corpus.wordnet` to take in PTB and Universal tags"
WordNet (and wordnet lemmatizer) allow specifying a `pos` as an optional argument. For example:

[code]

However, many of the POS taggers either use the universal or PTB tags (e.g. `nltk.pos_tag`). If you try to input them directly here, you'd get an error:

[code]

Right now it's possible to download `universal_tagset` and use `tagset_mapping` with some additional hardcoded mapping. However, I fe

[2022-03-21 09:27] tomaarsen commented on #2962
I'm unable to reproduce this, sadly:
[code]
That said, I'm using Windows for this test now.

Are you able to download other NLTK data? And otherwise, you can manually download the file from https://github.com/nltk/nltk_data/tree/gh-pages/packages/sentiment and place it under `nltk_data/sentiment/vader_lexicon.zip`.
I hope that helps a bit.

[2022-03-21 09:36] tomaarsen commented on #2963
I think the issue arises when people are told that NLTK WordNet now supports Universal/PTB, as they might e.g. try to find synsets of a word in `VBN` (verb, past participle). That said, I recognize that allowing Universal/PTB tags is logical here, as long as we restrict this to only `NOUN`, `NN`, `VERB`, `VB` and `ADJ`, `JJ`.

In code this simply means applying a mapping from those 6 tags I just m

[2022-03-21 11:38] cestwc commented on #1612
The make file in https://github.com/chrzyki/candc works on linux.
I have successfully initialized a Boxer object like `<nltk.sem.boxer.Boxer at 0x7f4f52daf6d0>`, but encountered FOUR problems then.

1. The first one I eventually (I guess) solved it. `not open model configuration file for reading:/content/candc/candc/models/boxer/config\x1b[0m\n'` --> solved by putting the unzipped [models-1.02.tgz

[2022-03-21 11:54] mastdev commented on #2725
Hi,
I want to join the open-source community. Can I work on this issue?

[2022-03-21 12:23] rumezaa commented on #2962
unfortunately I have tried that :/ the problem is w/ ubuntu or for what I'm trying to achieve

thank you tho :)

[2022-03-21 13:11] konkodi210 opened #2964 "CVE-2021-0204"
nltk version: 3.7

During the security reviews, we have found [CVE-2021-0204](https://nvd.nist.gov/vuln/detail/CVE-2021-0204).

[2022-03-21 15:43] alvations commented on #2964
Thank you @konkodi210 for notifying on the CVE. Most probably this is caused by your system allowing CLI access to NLTK resources through `python -m nltk.downloader`

According to https://kb.juniper.net/InfoCenter/index?page=content&id=JSA11114&actp=METADATA, it looks like it might be the Juniper dependancy you have on your system causing the problem that's allowing the `dexp` usage.

Since it'll

[2022-03-22 01:25] xhluca commented on #2963
I just checked and it seems that VB* can be lemmatized to their base form and the correct synset can be found.

[code]

I'm not sure if that applies to all verbs though (I don't know how the lemmatizer was built). For example, there might be exception in VBP that isn't the base form.

[2022-03-22 01:50] xhluca commented on #2963
I've started a PR towards that here: https://github.com/nltk/nltk/pull/2965

I can also add a note to the docs in that PR. Also I'm raising an `AttributeError` if the pos is incorrect, let me know if that's the correct error to raise.

[2022-03-22 07:28] xdwang0726 opened #2966 "Error: concordance for multiple words"
Hi,

When I tried to use concordance to find multiple words following exact this official tutorial (https://www.nltk.org/howto/concordance.html), I got the error message
[code]

Here is the codes I am using:
[code]

nltk version
[code]

Thanks!

[2022-03-22 16:09] iliakur commented on #2961
I'm still a bit tight on time, but I can at least provide some leads. I can confirm Tom's hunch: the entropy/perplexity formula is taken verbatim from Jordan Boyd-Graber. He was kind enough to share a script in [this comment](https://github.com/nltk/nltk/issues/1342#issuecomment-203060085) (the `lm.txt` file). I'm sure that's the Jurafsky formula.

From scanning your comment, @mbauwens it seems yo

[2022-03-23 09:05] valeriobasile commented on #1612
Thank you so much for this contribution @cestwc
Feel free to do a pull request with your changes.
In general, this is the problem with legacy software dpending on non-backward compatible libraries, it is hard to keep up. I am thinking of Dockerizing the C&C tools, if anything for historical value, and maybe put it into a system like the European Language Grid.

[2022-03-23 20:38] lopez86 commented on #2949
I have also run into this issue recently. I think unless there's some reason why it is necessary to import tkinter when importing nltk, it would be good to delay it until it's needed. Right now this can break a lot of code in a pretty non-obvious way and at least for me, I was not expecting tkinter to be imported at all when I'm not doing anything in a popup window.

[2022-03-23 20:44] tomaarsen commented on #2949
This definitely should be a doable change, I can't imagine why not.

[2022-03-24 11:18] ghost opened #2967 "Broken Links on the FAQ page"
On the FAQ page, all links to nltk.org appear broken (they 404). Prefixing `https://www.` solves the issue, so this might be a domain config error. Otherwise just changing the links on the FAQ should also fix this. This occurs on Firefox (desktop and android) and Chrome.

[2022-03-24 22:33] mbauwens commented on #2961
**Well, this cleared up where the formula is from, yes! In that sense, the issue can be closed.**

The only 'issue' I still have is that this formula of entropy-perplexity is less documented, apparently, whereas the Shannon Entropy formula is more commonly found. Don't know which one is 'better' though (I assume they're just *different*). Future users might benefit from an update. So, not sure if

[2022-03-25 08:13] iliakur commented on #2961
:+1: from me for your plan. Adding methods and docs is generally not bad imo, we should just make sure we take this opportunity to think about the relevant interfaces. Ping me when you make the PR, I'll gladly do the review. **Or** ping me if you need help in the process of making the PR too :)

Thanks for your work on this!

[2022-03-25 08:18] tomaarsen commented on #2961
This is done via GitHub, actually. The API Reference pages, such as [this page](https://www.nltk.org/api/nltk.lm.api.html#nltk.lm.api.LanguageModel.entropy) is automatically generated from comments in https://github.com/nltk/nltk/blob/develop/nltk/lm/api.py. You can change the comments in the code, and after a website push, the site will be updated.

Similarly, the Example Usage pages, such as [th

[2022-03-25 12:49] Biciato commented on #2966
@xdwang0726 which python version are you using ?

[2022-03-25 13:24] tomaarsen commented on #2966
Hey @xdwang0726!
The changes that you mention were implemented in #2570, which I believe was first added in NLTK version 3.6. The documentation (which is for version 3.7) includes this accordingly, but your version of 3.4.4 does not have this functionality.

You can either upgrade to a newer version (NLTK 3.6 onwards), or e.g. call `text.concordance` or `text.concordance_list` multiple times, once

[2022-03-25 13:24] #2966 closed, assigned to nobody

[2022-03-25 13:52] tomaarsen commented on #2953
The release notes page is not automatically generated, but at some point we seem to have switched to a more itemized list of changes. The release notes page can be found here on github: https://github.com/nltk/nltk/blob/develop/web/news.rst
(That said, perhaps https://raw.githubusercontent.com/nltk/nltk/develop/web/news.rst is more legible).

It's a bit of a confusing story, as we *also* have a Ch

[2022-03-25 14:28] #2953 closed, assigned to nobody

[2022-03-25 15:00] tomaarsen commented on #2963
True, so technically we *could* also support e.g. VBG as a "v" and go from there. That said, I'm not sure whether this would be more or less confusing. Beyond that, I delved into this a bit more, and found some issues with this approach.

First of all, `synset_from_pos_and_offset` is not the only place that relies on these `pos` values. With other words, the mapping would have to be done in more p

[2022-03-25 15:21] tomaarsen commented on #2949
Alright, I looked into it more. Tkinter is imported in a bunch of sections of NLTK:
* \_\_init\_\_.py
* downloader.py
* nltk/app/*.py (lazily imported)
* nltk/draw/*.py (lazily imported)
* nltk/sem/drt_glue_demo.py
* nltk/sem/drt.py (this and the one above draw a Discourse Representation Structure (DRS) with Tkinter)

The primary use of Tkinter in NLTK is either showing certain datatypes, or the f

[2022-03-26 02:45] xhluca commented on #2963
I'm not really sure why specifying `VBG` would conflict with specifying multiple wordnet-form pos values; do you mean the end user might get confused and try to write `VBNN`?

The PR would allow automatically converting `VB*` and `NN*` to `v` and `n`, but not the other way around. So `pos='v'` or `pos='vn'` would still work. I'm not sure I see how it would conflict with morphy as it stands. I gues

[2022-03-27 22:57] mcepl opened #2969 "Testing offline"
(I am sorry for bothering you on the issue tracker with something which probably isn't a bug, but I haven't any other functional means of communication with the project)

While packaging NLTK for openSUSE, I would like to make tests running. The problem is that our build system (as build systems for all distributions) are isolated from Internet, so I need to make running test suite possible withou

[2022-03-28 14:12] xdwang0726 commented on #2966
Thanks, it works when I upgraded to NLTK 3.7

[2022-03-30 01:09] erikc96 commented on #2870
Just had this issue popup. Does it make sense to pin the regex version to this project's requirements?

[2022-03-30 07:47] tomaarsen commented on #2870
@erikc96 I'd say so. I'm willing to say that you won't have this issue again with `regex>=2021.8.3`. Good luck!

[2022-03-31 05:37] #2938 closed, assigned to nobody

[2022-03-31 07:44] BoomSky0416 opened #2972 "how to use wordnet to get antonyms for a Chinese word?"
I tried to use wordnet to get antonyms for a Chinese word like in English, but I failed. Here is the code. Anyone helps?

...     print('synset:',synset)
...     for synlemma in synset.lemmas('cmn'):
...             print('synlemma:',synlemma)
...             for antonym in synlemma.antonyms():
...                     print('antonym:',antonym.name())
...
synset: Synset('grief.n.01')
synlemma: Lemm

[2022-03-31 19:41] mbauwens commented on #2961
Will do, @iliakur !
Thanks for the tips @tomaarsen !

I'm actually investigating some variants of entropy because I've come across some practical issues/limitations when using the measure. Would it be okay if I suggest some optional parameters to the entropy function so that the method allows for more flexibility? I am planning to test whether the parameters do improve the quality of the measure a

[2022-04-01 00:23] arademaker commented on #2972
Consider using the new wn library from @goodmami. See https://wn.readthedocs.io/en/latest/guides/nltk-migration.html how to integrate with NLTK

[2022-04-01 19:17] mbauwens commented on #2961
Update: I have found the reasoning behind negative average log probability as a measure for entropy (Shannon-McMillan-Breiman theorem). It's actually mentioned in [chapter 3](https://web.stanford.edu/~jurafsky/slp3/) of Speech and Language Processing (Jurafsky and Martin, 2021). I probably overlooked it as it was mainly explained using mathematical formulas (and I'm a mere computational linguist 😃

[2022-04-02 17:15] ekaf commented on #2972
@BoomSky0416, there are two problems with your example. First, WordNet knows no antonyms for these lemmas, even in English. Second, antonymy is only defined between English lemmas, so you need to go through English in order to get Chinese antonyms.

For example:
[code]

[code]

[2022-04-03 08:45] iliakur commented on #2961
@mbauwens optional parameters should be ok as long as their default values result in existing behavior. The idea being that folks who aren't passing these parameters explicitly should not have their code break all of a sudden :)

[2022-04-03 09:53] ekaf opened #2973 "Nonexistent OMW offsets"
In a few cases, the Open Multilingual Wordnet refers to synset offsets, which do not actually exist in WordNet. This issue has been known for some time (https://github.com/omwn/omw-data/issues/24#issuecomment-974789720), and it is not clear whether and when the OMW data will be fixed.

But from the point of view of NLTK, the issue is not harmless,
because it leads to fatal errors:
[code]
[code]

T

[2022-04-03 12:15] mbauwens commented on #2961
Ok, that was also what I was planning 😃 Do you prefer a new method `shannon_entropy()` or including a parameter in the existing `entropy` method which defines the type of entropy used?

[2022-04-03 18:43] iliakur commented on #2961
could you outline the two alternatives a bit more? Just the level of method signatures should be enough to help us decide between the two.

[2022-04-04 04:28] ArztKlein opened #2975 "Tree.__delitem__ retrurns a list instead of a tree"
What I'm wanting to do is delete an item from a tree (del tree[index]), but this returns a list of Trees instead of a Tree itself.
I'm not sure why this has been decided to be the behaviour, but shouldn't this return the Tree itself?

I'm willing to send a pull request myself so that it returns a Tree, if this is a reasonable thing to change.

If this is not something we should change, then how am

[2022-04-04 06:44] ekaf commented on #2972
@arademaker wrote:

Does the new wn library provide a way to handle antonyms yet? From the cited documentation, and the _core.py_ source, my understanding is that the _get_related()_ function is only defined for synsets, not lemmas.

[2022-04-04 16:28] goodmami commented on #2972
Apologies if the documentation wasn't clear, but it does and has since its first release. See [Sense.get_related()](https://wn.readthedocs.io/en/latest/api/wn.html#wn.Sense.get_related). As @ekaf noted, antonyms are only defined between lemmas, not synsets. Wn's API splits Lemmas into Words and Senses, so the relations are defined between 'senses', as shown in this example:

[code]

Second, since

[2022-04-06 02:26] BoomSky0416 commented on #2972
Got it. Thanks!

[2022-04-06 02:26] #2972 closed, assigned to nobody

[2022-04-06 13:19] Abedq commented on #2967
They are working for me on Firefox and Chrome.

[2022-04-06 14:23] ghost commented on #2967
Also the ones to nltk itself? E.g.

But if so, I'm not that invested in fixing this, if someone wants to close this as an odd error on my side, I also don't mind.

[2022-04-06 14:30] Abedq commented on #2967
You are right. I misunderstood your comment. All the links that are http://nltk.org/* in the FAQs are broken.
In addition to:
1- https://code.google.com/archive/p/nltk/
2- https://code.google.com/archive/p/nltk/source
3- http://sourceforge.net/mailarchive/forum.php?thread_id=22772&amp;forum_id=960

[2022-04-07 09:10] tomaarsen commented on #2967
I've updated the [FAQ](https://github.com/nltk/nltk/wiki/FAQ) slightly to try and fix these issues. Let me know if they are indeed resolved now! I only "purposefully" left broken links in `13. How did NLTK start?`, as I'm afraid we don't have backups of those.

[2022-04-07 20:07] ghost commented on #2967
Nice, seems to be fixed. Cheers!

[2022-04-07 20:21] tomaarsen commented on #2967
Wonderful! I'll close this then. Let us know if there's more issues. I appreciate it!

[2022-04-07 20:21] #2967 closed, assigned to nobody

[2022-04-08 17:37] aflah02 opened #2976 "Which Pointers from WordNet are Used for Synset in NLTK?"
I'm trying to create a custom parser for wordnet and hit a roadblock. I see that there are tons of different pointer_symbols and lots of them seem almost like synonyms but not exactly synonyms. I'm trying to extract the synonyms for each word and I'm not sure which pointers should be considered.

Any hints or leads through which I can find out what's being used?

[2022-04-08 19:01] LifeIsStrange opened #2977 "Integrate wordnet english"
[English wordnet](https://github.com/globalwordnet/english-wordnet) is a fork of princeton wordnet that is developped in opensource, as such it is much more actively maintained, hence it is both more correct and more complete.
NLTK integrating english wordnet corpus as an option, would make it more discoverable and accessible.

@tomaarsen friendly ping

The complexity seems low, as if wordnet engl

[2022-04-08 22:47] tomaarsen commented on #2977
I believe that NLTK can use the english-wordnet data. For example see https://github.com/globalwordnet/english-wordnet/issues/771 and https://github.com/nltk/nltk/pull/2860 by @ekaf.

Alongside that open-source english Wordnet, @goodmami is working on [wn](https://github.com/goodmami/wn), which may also be worth checking out as an alternative to NLTK's Wordnet functionality. As far as I can tell,

[2022-04-09 00:04] LifeIsStrange commented on #2885
@ekaf So are there remaining problems with OEWN 2021 support ?
Has this been solved ? " the only problem remaining is the sense ordering"

[2022-04-09 05:42] ekaf commented on #2885
The present issue is closed because the problem is not in NLTK support, but in OEWN 2021 itself, as explained in the issues cited above (globalwordnet/english-wordnet#773 (comment), globalwordnet/english-wordnet#774 (comment)), which are still open.

[2022-04-09 05:52] ekaf commented on #2976
Synonyms are not linked by a pointer, but by belonging to the same _synset_ ("synonym set"). You may want to read the fine WordNet documentation at https://wordnet.princeton.edu/documentation .

[2022-04-09 06:00] aflah02 commented on #2976
@ekaf Thanks for the reply
I understand that part however from what I could find relationships are described using pointers which tells whether it's an Antonym or Hypernym etc. ->
_A relation from a source to a target synset is formed by specifying a word from the target synset in the source synset, followed by the pointer_symbol indicating the pointer type._
Source - https://wordnet.princeton.edu

[2022-04-09 07:16] ekaf commented on #2976
@aflah02, the domain relation has nothing to do with synonymy. Synonyms are found by finding the synset offsets for each synsets that a word belongs to, and then retrieving the other words that belong to each of these synsets.
If you really want to write a WordNet parser, you should expect to spend _a lot of_ time getting familiar with the official documentation, and maybe start with the 'wndb' ma

[2022-04-09 07:19] aflah02 commented on #2976
Thanks @ekaf this clears up a lot of things

[2022-04-09 07:19] #2976 closed, assigned to nobody

[2022-04-09 18:04] goodmami commented on #2973
I think these are mostly bugs in the OMW data that should be fixed. But I also want to live in a world where the non-English wordnets can grow beyond the Princeton WordNet. So, ideally, both changes would happen: fixing the OMW data, and change the code to support synsets not in PWN.

[2022-04-10 06:30] ekaf commented on #2973
Thanks @goodmami: it is great to hear that you support fixing the OMW data.
The NLTK library already allows English concepts that were not in Princeton WordNet. For example, the new wordnet2021 package introduces additional English synsets at the end of the new 'data.noun', like 'ruled surface', 'light fitting' and 'chick sexer', which did not have a synset offset in PWN.
The problem is that the N

[2022-04-10 22:11] williamLyh commented on #1612
Great thanks @cestwc.
As you mentioned in bulletin 2, we need to add ```.decode("utf-8")``` for py3. I just list which line exactly we need to modify:
In file nltk.sem.boxer.py :
* line 171: ```f.write(candc_out.decode("utf-8"))```
* line 229: ```lines = boxer_out.decode("utf-8").split('\n')```

[2022-04-12 10:53] #2973 closed, assigned to nobody

[2022-04-12 16:58] abdullah3737 opened #2980 "How to convert natural language to sql query using NLTK"
How to convert natural language to Sql query using Nltk i have already done tokenization stemming lemmatization and facing problem in relationship extraction and then how to generate MySql query

[2022-04-12 17:12] tomaarsen commented on #2980
This issue tracker is not an appropriate place for a question like this. You can try again on stack overflow, perhaps. Although they will most certainly ask for more information.

[2022-04-12 17:12] #2980 closed, assigned to nobody

[2022-04-13 10:10] ViktorDrugge opened #2981 "TreebankWordTokenizer potentially slower tokenizing text going from 3.6 to 3.7"
Hi,

When I update NLTK from version 3.6 to 3.7 in python 3.9 the speed for tokenizing text slows down significantly. My word tokenizer is the ```TreebankWordTokenizer()``` and the sentence tokenizer is loaded from with a Swedish pickle file with ```nltk.data.load()``` and doesn't change between 3.6 and 3.7. Has anyone else had a similar problem?

[2022-04-14 07:25] ekaf opened #2982 "Avoid fatal wordnet errors"
In the wordnet.py module, there are 12 occasions where a WordNetError can be raised. The WordNetError class is defined as a Python Exception, i. e. a fatal error that aborts any further processing.

This behaviour is unfortunate in the frequent use case where the user wants to process a batch of queries, because if one error occurs, the whole batch is aborted. To avoid that, users can wrap the pro

[2022-04-14 08:11] tomaarsen commented on #2982
I believe it will be unintuitive if we reimplement an error class to effectively not be an error class, but a warning class instead. With other words, that method is only viable if we rename WordNetError to WordNetWarning. That said, this would be a breaking change, as there are certainly people who import WordNetError.

I think the more intuitive solution is to simply call `warning.warn()`.

[2022-04-15 06:06] ekaf commented on #2982
Ok, thanks @tomaarsen. Initially, this issue is just hypothetical, as long as we don't know if any of the 12 calls of WordNetError need to be fixed. To answer that question,
problematic errors are those that are raised, directly or indirectly, by a function that can return lists or sets of results, where one result could raise the error while any remaining correct result would be lost when wrappin

[2022-04-15 16:46] monocongo opened #2983 "ImportError: cannot import name 'Counter' from partially initialized module 'collections' (most likely due to a circular import)"
I get a circular dependency error when I attempt to run code in a conda environment where NLTK is installed. The issue might be that the name of the module file in the NLTK package (`collections.py`) is named the same as the module being imported?

[code]

[2022-04-15 19:04] monocongo commented on #2983
This seems to be happening as a result of PyCharm finding WSL/Ubuntu files, although PyCharm itself wasn't started from the WSL shell. I have removed that installation of NLTK from the WSL filesystem, and now the issue has gone away.

[code]

[2022-04-15 19:04] #2983 closed, assigned to nobody

[2022-04-16 06:59] ekaf commented on #2982
After going through the 8 functions that ran raise a WordNetError, it appears that most only return one result, and don't really need to be fixed.
Although  "_load_lang_data" is called by "synsets", which can return multiple synsets, these would all be for the same value of "lang", so it seems ok to raise a fatal error if that language does not exist.
This leaves us with only 2 functions where it

[2022-04-18 09:20] ekaf opened #2984 "Senses lost in WordNet mappings"
The Multilingual Wordnet uses WordNet 3.0 identifiers, and relies on mappings when used together with later wordnet versions.
However, a few WordNet 3.0 synsets are deprecated in these later versions, and thus _lost in the mapping_.
Presently, these cases lead to fatal errors. For example, one of the 3 senses of 'perceptible' in French was lost in WordNet 3.1,
so the following outputs nothing, but

[2022-04-21 00:06] Miguelvs23 commented on #2825
Hi, it is my first time contributing to an OSS, can I work on this task? @tomaarsen can you help me get started?

[2022-04-21 13:56] ekaf commented on #2982
The present issue is purely speculative, and seems groundless with the current Wordnet and OMW packages, because no problem occurs with any word included in these packages, apart from #2973, and #2984, which are respectively solved in #2974 and #2985.
So it seems appropriate to close this issue without further action, and eventually reopen it if any future data should cause actual problems.

[2022-04-21 13:56] #2982 closed, assigned to nobody

[2022-04-21 15:31] LifeIsStrange commented on #2984
@ekaf I would like to thank you for your invaluable work and robustness testing in NLP.

[2022-04-21 15:36] LifeIsStrange commented on #2977
Thank you for this great answer :). While NLTK and wn supports english wordnet, english wordnet has 2 upstream issues (including one regarding sense ordering, as pointed by ekaf) that are not yet fixed so in the meantime I will stick with NLTK classic wordnet 3.0/3.1.

[2022-04-21 15:36] #2977 closed, assigned to nobody

[2022-04-21 18:17] aflah02 opened #2986 "Preprocessing on input Before Finding Synset"
I'm interested to know what preprocessing is done if any on the input words to `wordnet.synsets()` is it just lowering and lemmatizing or is it something else? I tried to look into the code but it got difficult to track any leads or hints as to which lines of code might be relevant would be great!

[2022-04-21 19:11] #2986 closed, assigned to nobody

[2022-04-21 19:11] stevenbird commented on #2986
Sorry, this is not an appropriate issue with NLTK.

[2022-04-28 10:57] ajdapretnar commented on #2578
So TweetTokenizer will not be able to recognize valid Unicode emojis?
Because currently, what I get from this `'🇸🇮🤝🇺🇦'` is this `'🇸', '🇮', '🤝', '🇺', '🇦'`. Is there an option to add support from Unicode emojis?

[2022-04-29 07:39] gokulnathselvaraj27 commented on #2918
i would like to contribute

[2022-05-01 06:28] ekaf opened #2989 "Failing tests in DocStrings"
Checking the Python files in NLTK with "python -m doctest" reveals that many tests are failing. In many cases, the failures are just cosmetic discrepancies between the expected and the actual output, such as missing a blank line, or unescaped linebreaks. Other cases may be real bugs.

If these failures could be avoided, it would become possible to improve CI by running "python -m doctest" each tim

[2022-05-01 15:15] salokr opened #2991 "NLTK inter-annotator agreement using Krippendorff Alpha Outputs Zero on only 1 disagreement"
I have a [sequence-labeling](https://en.wikipedia.org/wiki/Sequence_labeling) task in NLP, where the annotators are asked to provide 1 or more labels to each word in a sentence. For e.g., for a sentence [a, b, c, d]

Ann 1. provided [[0, 1, 2], [0, 1], [0], [0]]

Ann 2. provided [[0, 2], [0], [0], [0, 1]]

I used the NLTK's [agreement module](https://www.nltk.org/_modules/nltk/metrics/agreement.ht

[2022-05-01 17:54] kloczek commented on #2742
Issue is that you are doing that with installed `nltk`.
I'm trying to do the same wiithout installed module and looks like currebt ly it is not possible to generate documentation ouly out of source tree.

[2022-05-01 17:58] kloczek opened #2992 "3.7: pytest is failing"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH point

[2022-05-01 21:57] tomaarsen commented on #2578
@ajdapretnar  I feel like this is a bit of a complex situation. To give some context:
[code]
Long story short, flags are combinations of regional indicator symbols. When converted into a string, Python is the one unable to recognize that 🇸🇮 is a (single) valid Unicode emoji, but it instead sees it as two separate regional indicator symbols. TweetTokenizer only rarely merges Unicode characters toge

[2022-05-03 01:19] #2984 closed, assigned to nobody

[2022-05-03 01:20] #2442 closed, assigned to nobody

[2022-05-03 06:55] ajdapretnar commented on #2578
@tomaarsen Thank you for the reply. I see what's the problem. If it is a difficult/tricky fix, don't bother. Just something I noticed and thought it might be nice to solve. But I agree that there are two use cases that are at odds here.

[2022-05-06 04:29] rmalouf commented on #2948
You can use NLTK's association metrics for doing keyword analysis. For example, this finds the keywords associated with the "romance" section of the Brown corpus as measured by likelihood ratio:
[code]
And the output is:
[code]

[2022-05-06 12:37] TMPxyz opened #2996 "Verbnet reader doesn't process the semantics predicate bool field"
The current verbnet reader doesn't read the `bool` attribute of `'VNCLASS/FRAMES/FRAME/SEMANTICS/PRED'` element, it doesn't handle the negative case in `pprint_frames` either.

Take the [`murder-42.1.xml`](https://verbs.colorado.edu/verb-index/vn3.3/vn/murder-42.1.php) as example, the `PRED` element has a `bool` attribute. `pprint_frames()` should print `¬alive` instead of `alive` here.

[code]

[2022-05-06 21:06] sid-maddy opened #2997 "CHILDES Corpus Reader doesn't parse data correctly"
### Steps to reproduce
1. Download and unpack the CHILDES dataset
2. Follow the instructions at [Sample usage of childes](https://www.nltk.org/howto/childes.html)

### Expected outcome
Output is as shown on the sample usage page.

### Actual outcome
No words, sentences, etc. are parsed and are empty.

### Cause
- The reader tries to find the nodes using the wrong namespace.
- The namespace (NS) wa

[2022-05-09 13:32] willstott101 commented on #2409
FWIW anyone looking about at why regex is used by NLTK - it might be worth noting that there's an issue in CPython about following the unicode standard for the built in re engine: https://github.com/python/cpython/issues/56940

[2022-05-09 16:05] #2997 closed, assigned to nobody

[2022-05-11 06:57] kamrapooja commented on #2948
no option in NLTK for Key Phrases

[2022-05-11 06:57] #2948 closed, assigned to nobody

[2022-05-11 08:29] TMPxyz opened #3001 "Verbnet longid() method returns wrong results on some shortids"
For verbnet3.3 corpus,

`verbnet.longid("114-1")` is supposed to return longid "act-114-1", but it instead returns "114-1".

It seems that the bug is rooted in the regex in verbnet.py, which wrongly matches "114-1" as a longid :

`    _LONGID_RE = re.compile(r"([^\-\.]*)-([\d+.\-]+)$")`

I currently use `_LONGID_RE = re.compile(r"([A-Za-z_]*)-([\d.\-]+)$")` as a workaround.

[2022-05-11 12:15] StephanHasler opened #3002 "wordnet_app crashes with TypeError: 'method' object is not iterable"
I'm using nltk 3.7 / python 3.8.

Steps to reproduce:
1. I start the wordnet_app
2. I enter a search string in the browser window, e.g. 'help'
3. I click the 'S;' of the a found entry, .e.g. the first one.

I get:
File "wordnet_app.py", line 352, in lemma_property
    return flattern([func(l) for l in synset.lemmas if l.name == word])
TypeError: 'method' object is not iterable

It is this line:
ht

[2022-05-11 12:28] StephanHasler opened #3003 "wordnet_app crashes with _pickle.UnpicklingError: invalid load key, 'n'."
I'm using nltk 3.7 / python 3.8.

Steps to reproduce:
1. I start the wordnet_app
2.  I enter a search string in the browser window, e.g. 'help'
3.  I click the 'S;' of the a found entry, .e.g. the first one.
4. I click 'Hyponyms'

Note: This assumes that issue #3002 is solved. Otherwise it will crash earlier.

I get:
File "wordnet_app.py", line 692, in decode
    word, synset_relations = pickle.lo

[2022-05-12 06:42] Sujingqiao opened #3004 "generated not Syntactically Correct Sentences"
dogs disappears
dogs walks
dogs disappear
dogs walk
dogs disappeared
dogs walked
girls disappears
girls walks
girls disappear
girls walk
girls disappeared
girls walked

gra = cp.grammar()
for prd in generate(gra, depth=4):
    dot = ' '.join(prd)
    print(dot)

[2022-05-18 12:11] santha96 opened #3005 "NLTK punkt sentence tokenizer for multiple languages"
Hi,
My corpus contains text from multiple languages such as Arabic, Persian, Urdu, Armenian, etc... is it possible to train a single tokenizer pickle file for all the above languages. if so, can someone pls suggest the steps to train the single custom sentence tokenizer which works well for all these languages?

[2022-05-18 12:20] arademaker commented on #3005
can't you simply write your own code that deals with that scenario? It would first call a language detector in the text fragment, and later, based on the result of the language detector, it calls the sentence tokenizer with the appropriate Punkt model.

[2022-05-18 12:32] santha96 commented on #3005
I appreciate your help. Instead of having many Punkt models, is it possible to have one model which works well for the group of languages?

[2022-05-18 15:34] arademaker commented on #3005
I don’t think so. Punkt is actually best used for a given corpus not for a “language”. Punkt is almost based on the idea of recognize abbreviations, very domain/corpus specific.

[2022-05-19 05:33] santha96 commented on #3005
okay.Thanks a lot @arademaker

[2022-05-19 05:33] #3005 closed, assigned to nobody

[2022-05-19 13:28] sinking-point opened #3006 "TreebankWordDetokenizer consistently positions opening quotation marks incorrectly"
I am aware that `TreebankWordDetokenizer` can never be 100% accurate, but it should be able to get this right.

[code]
[code]

[code]
[code]

And so on. I've encountered no example where it gets this right.

It should be simple enough to fix this by assuming the nth quotation mark in the text is a left quote if n mod 2 == 0 or a right quote if n mod 2 == 1. I'm making the assumptions that nested q

[2022-05-20 10:27] ekaf commented on #3002
@StephanHasler

Yes, this fix is really obvious.

[2022-05-20 10:32] ekaf commented on #3003
It is not obvious what to do here: the best would probably be to prevent passing the b' type, rather than removing it afterwards.

[2022-05-20 11:50] StephanHasler commented on #3003
Along your thinking, I just removed the encode() here:
https://github.com/nltk/nltk/blob/4616bcdf3b045e4c76b724e210f11fd0b8b9a501/nltk/app/wordnet_app.py#L633
This seems to do the trick.
I tried different searches and then randomly clicked on any link over and over again, everything works as expected now.
The question is why this encode was necessary once? Maybe because of the old python 2 behavio

[2022-05-21 08:00] ekaf commented on #3003
@StephanHasler, your explanation is very convincing.
The input to _make_lookup_link_ can only be a Reference object (with 2 fields), while the output of Reference.encode() is a string, so passing the latter to the former is bound to raise an error, even with older versions of Python.
Then, it is clear that the Reference passed in line 633 must not be encoded, and that your solution is adequate.
Wo

[2022-05-21 11:41] 1092928282 opened #3007 "NLTK download() error"
Hi, I'm trying to load a self-made grammar file and there is a consistent resource error showing up:

---------------------------------------------------------------
Resource [93mC:[0m not found.
 Please use the NLTK Downloader to obtain the resource:

 [31m>>> import nltk

 [0m
 For more information see: https://www.nltk.org/data.html

 Attempted to load [93m/C:/nltk.data/grammar.cfg[0m

 Searche

[2022-05-24 06:54] jalca014 commented on #2223
Hello all, I have still been having this exact issue while running ngrams within Google Colab today. I checked `nltk.__version__` and it gave me 3.2.5, meaning Google Colab keeps importing a version of nltk from 2017 (at least, that's the copyright year given in the path `/usr/local/lib/python3.7/dist-packages/nltk/util.py` when I check it). Fortunately what I'm trying to do is still working, but

[2022-05-24 13:50] purificant commented on #2223
Try to install the latest version of `nltk` with

`!pip install nltk`

Along the lines of https://colab.research.google.com/notebooks/snippets/importing_libraries.ipynb

[2022-05-24 23:15] purificant commented on #3007
It looks like you might be using Windows. May I suggest trying to replicate the issue with a Ubuntu app ( something along the lines of https://apps.microsoft.com/store/detail/ubuntu-2204-lts/9PN20MSR04DW ). Or running any other Linux in WSL 2 on Windows.

[2022-05-25 15:33] 1092928282 commented on #3007
Hi, I actually solved the problem. (It was something regarding the file extension.) Thank you for your help!

[2022-05-25 15:33] #3007 closed, assigned to nobody

[2022-05-30 07:34] #3003 closed, assigned to nobody

[2022-05-30 07:34] #3002 closed, assigned to nobody

[2022-06-02 10:54] tomaarsen commented on #3006
I understand your frustration here, and your confusion, but I must say that this functionality has a clear reason. You see, the Detokenizer tries to revert the functionality of the Tokenizer, which performs like so on your samples:
[code]
and
[code]

As you can see, opening quotes are referred to as ``, while closing quotes are ''. This functionality matches e.g. LaTeX:
![image](https://user-image

[2022-06-02 13:59] sinking-point commented on #3006
I see. I assumed the dataset I'm using (Wikilarge) used standard Treebank tokenisation, but clearly it doesn't. I've managed to clean the data reasonably well though, so never mind. Thanks.

[2022-06-02 13:59] #3006 closed, assigned to nobody

[2022-06-10 08:17] Mikelhoya opened #3011 "Include Stopwords in Basque and Catalan"
Hi everyone,
I propose you to add these languages to the stopwords list, i leave the source where they can be taken.

https://github.com/Mikelhoya/StopwordsEU/blob/main/StopwordsEU
https://github.com/stopwords-iso/stopwords-ca/blob/master/stopwords-ca.txt

Best regards

[2022-06-17 12:30] mbauwens commented on #2961
sorry @iliakur for the late reply! Was a bit busy and had to still try out some things. I've just presented the alternatives on Computational Linguistics in The Netherlands (CLIN32) and wrote a demo in a GitHub repo: https://github.com/mbauwens/clin32-entropy

Basically, the different variations of entropy would be:
- Entropy (as in Shannon-McMillan-Breiman): the current entropy in `nltk`
- Shanno

[2022-06-20 20:21] juhoinkinen opened #3013 "Performance regression in sent_tokenize"
We encountered a performance regression in `sent_tokenize` introduced in NLTK 3.6.6. The slow-down is serious with texts of length of ~1 M characters.

The snippet from #2869 can be modified for demonstration:

[code]
With NLTK v3.6.6 I get this output of the snippet:
[code]
Going from 300k to 3M characters the running time increases hugely.

Whereas with NLTK v3.6.5 the running time seems just pr

[2022-06-23 14:33] happyMindHaha opened #3015 "license of punkt in nlt_data"
Hi
Is it possible to use punkt for commercial in nltk_data?
I cannot find out License information.

[2022-06-23 15:07] arademaker commented on #3015
Indeed, I didn't find any license information in the punkt models provided in https://github.com/nltk/nltk_data/blob/gh-pages/packages/tokenizers/punkt.zip. I guess it will depend on the specific languages you want to use.

[2022-06-23 15:08] arademaker commented on #3015
At least you have the corpus used to train the models.

[2022-06-23 17:06] tomaarsen commented on #3015
I must say that I'm not sure about the licensing information for it. Perhaps @stevenbird knows.

[2022-07-04 05:33] stevenbird commented on #3015
Please see https://github.com/nltk/nltk_data/issues/188

[2022-07-04 05:33] #3015 closed, assigned to nobody

[2022-07-04 05:37] stevenbird commented on #3011
Thanks @Mikelhoya. Resoved in https://github.com/nltk/nltk_data/commit/4d5ecb6077471be3ac9747efcd59b85d6a8d835c

[2022-07-04 05:37] #3011 closed, assigned to stevenbird

[2022-07-04 05:40] #3013 closed, assigned to tomaarsen

[2022-07-04 05:40] #2934 closed, assigned to tomaarsen

[2022-07-04 05:40] #2981 closed, assigned to tomaarsen

[2022-07-05 07:49] #2964 closed, assigned to nobody

[2022-07-07 00:12] Miguelvs23 commented on #2954
Hey, can I work on this issue?

[2022-07-07 10:35] tomaarsen commented on #2954
Feel free! I'm not certain that the description by @yzhaoinuw is fully correct however. Couldn't the mentioned move correspond to an insertion like: "fubar" -> "fuobar"? I'm not certain.

[2022-07-07 16:54] Miguelvs23 commented on #2954
Yes, I was checking and testing, however the results I get from the code are
[('_', '_'), ('f', 'f'), ('u', 'o'), ('b', 'o'), ('b', 'b'), ('a', 'a'), ('r', 'r')]
[(0, 0), (1, 1), (2, 2), (3, 3), (3, 4), (4, 5), (5, 6)]

This as it is, indicates a mapping f->f, u->o, b->o, which are the first 3 substitutions that must be made with respect to the levenshtein distance. Then, the fourth event is an in

[2022-07-07 16:57] Miguelvs23 commented on #2954
@yzhaoinuw is this what you meant? Or maybe the pull request was not correct, let me know to keep digging

[2022-07-07 17:27] Miguelvs23 commented on #3001
Hi! Can i work on this issue?

[2022-07-07 20:06] yzhaoinuw commented on #2954
Hi @Miguelvs23 and @tomaarsen, thank you for looking into my issue. My problem with the move `(3, 3), (3, 4)` in `[(0, 0), (1, 1), (2, 2), (3, 3), (3, 4), (4, 5), (5, 6)]` is that it is an illegal move. If we write out the entire edit distance table (substitution cost equals 1, which is the default of `edit_distance_align()`),
|            | \# | f | o | o | b | a | r |
| ------ | -- | - | - | - |

[2022-07-07 20:48] tomaarsen commented on #2954
If you write out the table like that (as opposed to transposed), then the bottom right-most cell is usually denoted by `(6, 5)`, I believe, instead of `(5, 6)`. I think this is where the confusion comes in. If I'm not mistaken, then `(3, 3)` and `(3, 4)` are the highlighted cells in the following table:
![image](https://user-images.githubusercontent.com/37621491/177868295-1c1fbf62-4db6-4aa0-9c18-7

[2022-07-07 20:50] Miguelvs23 commented on #2954
Yes @tomaarsen I thought of that too. Both paths end in a minimum distance edit of 2, or is there any reason for the particular minimum distance you picked? @yzhaoinuw

[2022-07-09 03:41] Psudhanshu opened #3016 "NLTK word tokenizer crashes"
So I was working on my first sentiment analysis project and I tried to use a word tokenizer by using the function
nltk.word_tokenizer(example)

also used another syntax
didn't work and got an error, searched for the error but realized it might be an issue with the library itself
kindly try to solve this problem
[code]
the error is as follows

[code]

[2022-07-09 03:58] DennisPersaud commented on #3016
Try running this to download the punkt nltk library tool:

[code]

[2022-07-09 17:41] yzhaoinuw commented on #2954
@tomaarsen but you can't go from `(3, 3)` to `(3, 4)` (the two highlighted cells in your comment) without incurring an additional cost, right? The value in cell `(3, 3)` is already 2. Moving right to cell `(3, 4)` corresponds to inserting a "b", which would incur an additional cost of 1, making the value in cell `(3, 4)` become 3. `(3, 4)` can only be reached diagonally from the cell to its upper

[2022-07-10 00:43] Miguelvs23 commented on #2954
@yzhaoinuw Okey I think that i understand now, So on the image below, the numbers in yellow correspond to the actual path, and the cell in red you say that is an illegal move because I when going from 3,3 to 3,4 there should be a +1. I am going to check the algorithm for the edit_distance_align and get back to you
![Captura de pantalla 2022-07-09 194019](https://user-images.githubusercontent.com/8

[2022-07-11 05:02] yzhaoinuw commented on #2954
Created a pull request #3017 for this issue. Please let me know if it makes sense.

Briefly, the [`_edit_dist_backtrace()`](https://github.com/nltk/nltk/blob/b0e85694107992e00a2f9fb48e6410c50fe1f1f6/nltk/metrics/distance.py#L126) function inside [`edit_distance_align()`](https://github.com/nltk/nltk/blob/b0e85694107992e00a2f9fb48e6410c50fe1f1f6/nltk/metrics/distance.py#L147) has a mistake. Using t

[2022-07-11 07:01] Madnex commented on #2989
Is anyone working on this? I would be happy to pick it up and improve the tests.

[2022-07-11 09:43] tomaarsen commented on #2989
Not to the best of my knowledge. Feel free to pick this up @Madnex!

[2022-07-12 15:45] asdoost opened #3019 "NameError: name 'pycrfsuite' is not defined"
I was trying to train a CRF POS tagger in Google Colab, using the following code:

[code]
but I got the following error:
`NameError: name 'pycrfsuite' is not defined`
 despite the fact that I had installed `python-crfsuite`. I even tried `sklearn-pycrfsuite`, but it didn't work either.

I looked in the `crf.py` file and changed the following lines

[code]

to

[code]
And it solved the problem. Alt

[2022-07-13 10:20] Coldog2333 opened #3020 "[Implementation Error] nltk.metrics.windowdiff and nltk.metrics.pk"
## API that has an error
`nltk.metrics.windowdiff`

## Wrong Codes
Line 92
[code]

## Corrections
Line 92
Should be revised as
[code]

## Detailed Descriptions
Hello, thanks for your contribution to this useful toolkit.

Recently, I found a mistake in the implementation of `nltk.metrics.windowdiff`.

According to the formula on the 8th page of the paper _'Pevzner, L., & Hearst, M. A. (2002). A cri

[2022-07-13 11:17] Coldog2333 commented on #3020
What's more, API: `nltk.metrics.pk` has the same problem.

[2022-07-13 11:22] tomaarsen commented on #3020
#345 has more information on the changes that introduced `k + 1` for `windowdiff`.
Furthermore, #353 has information caused the `k + 1` for `pk`.

It does seem like the intention was to correspond with these formulas.

[2022-07-13 11:56] tomaarsen commented on #3020
I've had a look at #345, the current code, and https://aclanthology.org/J02-1002.pdf (p26), and it makes me suspect that your correction will not work. Note that in the formula, although the denominator is `N-k`, the loop is also from `1` to `N-k`, while our loop is from `0` (inclusive) to `N-k + 1` (exclusive).
![image](https://user-images.githubusercontent.com/37621491/178726844-bc14d15c-a5a8-48

[2022-07-15 03:49] Coldog2333 commented on #3020
Thank you for your detailed explanation!

Yes, you are right.

Based on this, I think the implementations of Windowdiff and Pk in `segeval` library are right.

[2022-07-15 03:49] #3020 closed, assigned to nobody

[2022-07-15 07:14] tomaarsen commented on #3020
Gladly! And perhaps, but do note that they return the same values in my quick tests.

[code]

[code]

[2022-07-15 08:41] tomaarsen commented on #3016
Dennis' solution should work. I'll close this accordingly.

[2022-07-15 08:41] #3016 closed, assigned to nobody

[2022-07-17 14:24] BrandonBennett99 commented on #3004
Yes I just noticed this problem.
It looks like the generator does not take into account the features.
I'm not sure if this is a bug or just has not been implemented to check the features when generating. I'm going to try to implement a generator, but but might be a while before I have time and can figure it out. B

[2022-07-18 23:03] jmcelroy01 opened #3021 "nltk.chat.chatbot() endless loop"
When I type `import nltk` followed by `nltk.chat.chatbots()`, it lists/asks which one I want to talk to, and then endlessly scrolls the following: ` Enter a number in the range 1-5:     Error: bad chatbot number`, in both Jupyter and Spyder.

[2022-07-19 00:55] stevenbird commented on #3019
Not an NLTK issue

[2022-07-19 00:55] #3019 closed, assigned to nobody

[2022-07-19 00:57] stevenbird commented on #2957
@geremia: we would welcome a pull request, if you'd like to add this support

[2022-07-19 00:57] #2957 closed, assigned to nobody

[2022-07-19 09:42] tomaarsen commented on #2954
I'll close this as #3017 has been merged. Thanks all.

[2022-07-19 09:42] #2954 closed, assigned to nobody

[2022-07-19 20:49] #3021 closed, assigned to nobody

[2022-07-20 17:35] vikigenius opened #3023 "Punkt word tokenizer regex"
Appologies if this is the wrong place. But I am trying to understand the word tokenization regex used here

https://github.com/nltk/nltk/blob/1f28903066fe3ee3a4ab75085bfd5254184d135c/nltk/tokenize/punkt.py#L235-L247

Specifically the part
https://github.com/nltk/nltk/blob/1f28903066fe3ee3a4ab75085bfd5254184d135c/nltk/tokenize/punkt.py#L238-L239

My question is why is the lazy quantifier `\S+?` is

[2022-07-20 21:37] tomaarsen commented on #3023
Let's start by converting the regex into its full form:
[code]
And then we'll consider the example input of `Hello!`.

First of all, the first alternative of `(?:\-{2,}|\.{2,}|(?:\.\s){2,}\.)` clearly does not match, as we don't start with repeated dots or dashes. So, we start with a positive look-ahead of `(?=[^\(\"\¹{\[:;&\#\*@\)}\]\-,])`, which matches, as `H` is not in that set of options. (No

[2022-07-20 21:37] #3023 closed, assigned to nobody

[2022-07-21 09:24] lanzkron opened #3024 "nltk 3.7 requires explicit download of omw-1.4 on Linux"
Consider the following script:

[code]

This runs successfully on both Windows and Linux for nltk version 3.5, however for version 3.7 it only succeeds for Windows and produces the following error on Linux:

[2022-07-21 09:46] tomaarsen commented on #3024
@ekaf Could you have a look at this when you have some time? I know you're familiar with `omw-1.4` and NLTK's wordnet downloading.

[2022-07-21 12:02] bryanekong commented on #2611
I use a windows device and I have this issue also, any suggestions?

[2022-07-21 12:18] tomaarsen commented on #2611
Perhaps you can install the problematic package on its own first? i.e.:
[code]
`-U` for "Upgrade"

[2022-07-21 12:40] bryanekong commented on #2611
thank you for that. A different solution worked for me. I am working on a python 2 project and the last version of regex compatible with Python 2.7 is [2021.3.17] (https://pypi.org/project/regex/2021.3.17/). Installed it with pip install regex==2021.3.17

[2022-07-21 19:18] Neoxs opened #3025 "AttributeError: 'SubPattern' object has no attribute 'pattern'"
i have installed ntlk using
[code]

When running codes on Python 3.9, it runs successfully:

[code]

However, when I run above codes in jupyter notebook, it shows error:
[code]

I couldn't find a proper fix anywhere...

OS: MacOS Monterey
Chip: M1

[2022-07-22 05:12] ekaf commented on #3024
Yes, this problem is real. It is caused by the introduction of a "provenances" dictionary (line 1176) to handle the new omw-1.4 directory structure. Building this dictionary requires the presence of the omw-1.4 package, which was not needed in the past. The ideal would be to return to the old situation, where it was possible to load wordnet without omw. I will try to look at how to do this.

[2022-07-23 04:40] Psudhanshu commented on #3016
thanks for the help

[2022-07-24 07:33] lanzkron commented on #3024
Just another titbit, on my Windows machine the script failed in WSL2 but succeeded in the regular Windows but a colleague of mine says it fails for Windows too.

[2022-07-24 17:07] ekaf commented on #3024
I think it would fail on any computer that hasn't downloaded the omw package yet.

[2022-07-25 06:37] Madnex opened #3027 "Pre commit hook fails"
I have setup my development environment as described here: [Setting up a Development Environment](https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md#setting-up-a-development-environment). This is working so far and I could make changes and tests were running fine. However, when I want to make a commit I get the following error:

<details>
<summary>Commit Logs</summary>

<pre><code>08:24:09.

[2022-07-25 17:40] amdjedbens commented on #3025
It seems like the used kernel in Jupyter doesn't contain same packages, in other words it means that terminal and jupyter notebook are in different environments.

- Try installing nltk using conda: `conda install nltk`, since conda creates language-agnostic environments natively unlike pip.
- also for more Tracebacks, apparently you're using VSCode interactive Python:

	The Jupyter extension curre

[2022-07-27 11:07] tomaarsen commented on #3027
Hello!

This seems to be an issue with `pre-commit` combined with `conda`. I've found a handful of other users with similar issues, e.g.:
* https://github.com/pre-commit/pre-commit/issues/1329
* https://github.com/JuliaPy/PyCall.jl/issues/963
* https://github.com/conda-forge/python-feedstock/issues/539
* https://github.com/materials-marketplace/standard-app-api/issues/6

In particular this comment

[2022-07-27 11:15] tomaarsen commented on #3025
This seems like a correct judgement. The traceback shows issues in `nltk/align/__init__.py`, in the `nltk.align` package. However, we renamed `align` to `translate` some 7 years ago now, in 7690cbf5f4b548b51d1985c6432dade3d09bb460.

In short, @Neoxs, your Jupyter Notebook is using a different Python environment than you have in your terminal. The version in your terminal is up to date, while the o

[2022-07-27 11:15] #3025 closed, assigned to nobody

[2022-07-28 05:43] nlnjnj commented on #3027
have the same issue with python 3.10.4 on a Windows 10，I fixed the issue by reinstalling python from the conda-forge channel.

[code]

[2022-07-28 12:26] canfang-feng opened #3028 "already downloaded 'wordnet' but can't find it"
Hello, I ran `nltk.download('wordnet')`  in jupternotebook in Linux.
[code]
then then i ran
[code]
got error message
[code]

in the terminal, i also try to ` cd /home/xxxx_linux/nltk_data`, i only found two folders `corpora  tokenizers`

Anyone know what is the reason to cause it? I assumed it should download successfully, but it is not there.

[2022-07-29 02:21] #3024 closed, assigned to nobody

[2022-07-29 05:14] jayambe36 opened #3029 "word confustion in nltk stemmer"
when i use word president that time, i get output as presid
my question is why this ent is cut by system or library??

code :-

from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
sentence = "Hello I am Smit Patel President of India live in Delhi"
words = word_tokenize(sentence)
print(words)
ps = PorterStemmer()
for w in words:
  rootWord = ps.stem(w)
  print

[2022-07-29 09:46] tomaarsen commented on #3029
This is because Step 4 of the original Porter Algorithm, as described in "An algorithm for suffix stripping." by Porter, M. will strip away the `ent` suffix, e.g. in the word `dependent`. Note that all related words like president, preside, presiding, presided, etc. all stem to `presid`.

As implemented in NLTK:
https://github.com/nltk/nltk/blob/4a130f1cdf642327378a4387b319cd2df6f79287/nltk/stem/p

[2022-07-29 09:46] #3029 closed, assigned to nobody

[2022-08-01 06:15] Madnex commented on #3027
Thank you both for your help!

This worked for me as well :)

[2022-08-01 09:19] tomaarsen commented on #3027
Glad to hear it, I'll close this, then!

[2022-08-01 09:19] #3027 closed, assigned to nobody

[2022-08-03 16:08] jjmalina commented on #3028
I'm having the same exact issue. `nltk.download('wordnet')` does get run and the data is there in my docker container:

[code]

[2022-08-03 16:14] canfang-feng commented on #3028
For some reason, the process couldn't unzip it by itself. I fixed it by manually unzipping the "wordnet.zip" file.

[2022-08-03 17:24] jjmalina commented on #3028
@canfang-feng thanks!

my workaround was to download the wordnet data outside of python:

[code]

[2022-08-07 03:42] nbertagnolli commented on #2991
I have noticed the same problem. Does anyone have a solution?

[2022-08-12 15:47] kloczek opened #3032 "3.7: pep517 build fails"
Looks like pep517 based build fails
[code]

[2022-08-17 06:58] JordiCarreraVentura commented on #2992
@kloczek This problem reminded me of [this one](https://github.com/nltk/nltk/issues/3028), error messages look suspiciously similar.

In that other issue, the reason for the problem was that already-downloaded corpora had not been unzipped and were not found by NLTK until manually unzipped.

If that was also the explanation here, it could suggest a change in either NLTK's default behavior (no long

[2022-08-17 07:06] kloczek commented on #2992
To be honest I have no Idea what I try to do basing on your comment.
Did you try to re[roduce that issue?

[2022-08-17 07:10] tomaarsen commented on #2992
Some of the tests require certain NLTK resources to be downloaded, such as `wordnet`. Normally, this is done through either:
[code]
(in Python)
or fully via the commandline:
[code]
The logs indicate which resources are required.

[2022-08-17 07:50] kloczek commented on #2992
[code]
BTW are you aware of that on many OS distribuions build systems during build, install and test suite exetion system is cut of from public network?

[2022-08-18 08:19] JordiCarreraVentura commented on #1689
@ExplodingCabbage

Issues 284 and 541 are listed on the NLTK site [under this header](https://www.nltk.org/howto/wordnet.html#regression-tests). Quoted below for convenience.

Bug 541 seems to be about adding domains. I can see it for the first example, as code has a few different senses, but I'm not sure what would be valid new domains for the second and third examples.

Bug 284 may be more serio

[2022-08-18 10:36] arademaker commented on #1689
So the first step is to check if the bugs were solved or not. Right?

[2022-08-18 11:00] JordiCarreraVentura commented on #1689
@arademaker

👍 agree!

Right now I'm not sure if the first bug was fixed, I don't know what would be the correct similarity scores for all the examples used there. The similarity for `wn.synset('john.n.02').wup_similarity(wn.synset('dog.n.01'))` is the same as today (just ran the example) so it's either correct or it wasn't fixed. That one seems to be correctly calculated as the shortest distance

[2022-08-18 15:42] JordiCarreraVentura commented on #2950
@geblanco I've noticed that the definition of this corpus [in the source code](https://github.com/nltk/nltk/blob/3.4.5/nltk/corpus/__init__.py) is commented out, which suggests this corpus may have been deprecated:

[code]

Do you **have to** to use `panlex_lite`? Can't you use any of the other ones that are still supported, like `panlex_swadesh`? They may have a superset of the information on `pa

[2022-08-18 15:48] tomaarsen commented on #2950
Related to @JordiCarreraVentura 's comment, #1719 is the PR that commented away `panlex_lite`. #1718 mentions that:

That seems to be the suggested workaround.

[2022-08-20 15:25] MarkAmeryCurative commented on #1689
By all means check, but given we're quoting these from a _regression tests_ section, I would presume that they are; the tests are presumably there to prove that the fix worked and prevent regressions.

[2022-08-20 15:49] JordiCarreraVentura commented on #1689
If the bugs can be assumed to be fixed, it seems safe to close the issue. It's from April 2017, after all.

[2022-08-20 15:58] ExplodingCabbage commented on #1689
I didn't open the issue because I was concerned that the bugs might be unfixed, but rather because these bug numbers are effectively broken links - issue references that can't be followed. It'd be nice if someone familiar with the history of NLTK's hosting could point us to wherever the old issue tracker was; then we could replace these bug numbers with e.g. Internet Archive links to the bugs, sim

[2022-08-20 19:27] arademaker commented on #1689
The proper solution is to remove from the code the references to issues, right? The practice to reference issues in the comments inside the code just prove to be fragile.

[2022-08-21 18:57] #2250 closed, assigned to nobody

[2022-08-22 08:14] Madnex commented on #2989
Hi! I have managed to fix most of the tests. However I have issues with the following ones:

1. `nltk/parse/corenlp.py: 9 passed and 33 failed.`
I am getting errors indicating that the local server is not running that is needed for parsing.

2. `nltk/tag/hunpos.py: 1 passed and 4 failed.`
The hunpos-tag file and the en_wsj.model file were not found

3. `nltk/parse/dependencygraph.py: 13 passed and

[2022-08-22 08:39] tomaarsen commented on #2989
Good work!

I've experienced issues 1 through 3 that you listed. These make some sense, as these services simply require some additional setup. That said, the 4th one is odd. That might be indicative of some actual bugs.

As for the deprecated errors, we'll end up wanting to include the doctests in the CI check, so we should probably ensure that all tests pass. In that case, we might want to eithe

[2022-08-22 08:57] Madnex commented on #2989
Okay, so is there a way to include issues 1-3 in the tests for the CI if we need specific setups?
For the issue 4 I think it is a bug then. I will try to see where it's going wrong exactly.

I will add a `+SKIP` for the deprecated tests as suggested.

I don't know how to run the doctests all at once. Maybe @ekaf has more info on this?

[2022-08-22 09:06] tomaarsen commented on #2989
Issues 1-3 can be included in the CI, but only with a lot of additional work. I would argue that it's not worth it. We have done something similar in the past for some of the "regular" tests. See our CI job which downloads and caches third party resources:
https://github.com/nltk/nltk/blob/3b72fa2b3dea0088cd6d15d4409ce52318a3d1a0/.github/workflows/ci.yaml#L53-L72
And the script it actually execute

[2022-08-22 10:35] tomaarsen commented on #2989
I've looked into the reason that `pytest --doctest-modules .\nltk\` was failing. It should be fixed after #3033. That way, we will be able to modify the following line from `nltk/test` to `nltk`:
https://github.com/nltk/nltk/blob/3b72fa2b3dea0088cd6d15d4409ce52318a3d1a0/.github/workflows/ci.yaml#L128

And then it will automatically work with all doctests.

[2022-08-22 13:31] Madnex commented on #2989
Wow, thanks for the quick fix 👍

[2022-08-23 06:06] ekaf commented on #2989
Of the 2 doctests failures in File "nltk/parse/dependencygraph.py", only the first is caused by missing the dot binary from Graphviz package.

The second failure reveals a genuine problem in the module:

There could be non-determinism in the implementation of _contains_cycle()_, eventually caused by iterations over randomly ordered dictionary keys, or is the expected doctest output just wrong?