[2017-11-03 07:42] Dobatymo commented on #1336
[code]
[code]

no problem here.

was probably fixed here https://github.com/nltk/nltk/commit/f0f3c412e36e2a8b43066634b6d3462201d2e3ec or here https://github.com/nltk/nltk/commit/bec4e496d821710a21a59147e242ac84225c855e

[2017-11-03 07:43] alvations commented on #1427
@phyhwj Does the previous post resolve the confusion?

[2017-11-03 07:45] alvations commented on #1216
With the new `nltk.parse.corenlp` and the upcoming new interface in v3.2.6, this issue is obsolete =)

[2017-11-03 07:45] #1216 closed, assigned to nobody

[2017-11-03 08:01] Dobatymo commented on #859
http://www.nltk.org/_modules/nltk/tree.html#Tree.pprint done
http://www.nltk.org/_modules/nltk/tree.html#Tree.pretty_print done
http://www.nltk.org/_modules/nltk/probability.html#FreqDist.pprint done
http://www.nltk.org/_modules/nltk/corpus/reader/verbnet.html#VerbnetCorpusReader.pprint returns string
http://www.nltk.org/_modules/nltk/corpus/reader/conll.html#ConllSRLInstance.pprint returns string

[2017-11-03 08:06] alvations commented on #94
This should have been resolved.  The current book uses `labelled_names` as the variable instead of `names: https://github.com/nltk/nltk_book/blob/master/book/ch06.rst

[2017-11-03 08:10] Dobatymo commented on #783
was fixed here https://github.com/nltk/nltk/pull/1226 wasn't it?

[2017-11-03 08:15] alvations commented on #1324
I'm not sure what's the use of copying the `Tree` object but it seems like `ParentedTree` can't be deeply copied.

[code]

And having NLTK object breaking native Python `copy` isn't a good thing...

We should look into this, most probably the error is coming from how `ParentedTree` are made up of `ParentedTree`:

[code]

[2017-11-03 08:20] Dobatymo commented on #514
I have no problems using nltk 3.2.4, python 3.5 /  nltk 3.2.5, python 2.7

[code]

[2017-11-03 08:23] alvations commented on #859
@Dobatymo actually I think there's still quite some work that needs to done to make `pprint` consistently prints to stdout and `pformat` return a string.

From [docs](https://docs.python.org/3/library/pprint.html#pprint.pformat):

There's also quite some `pretty_print()` in NLTK that does various things =(

[2017-11-03 08:30] alvations commented on #514
Thanks @Dobatymo! Yes, it looks like modern pickle works in python 2.7 and 3.6 as well =)

[2017-11-03 08:33] alvations commented on #783
Yes, it resolved in #1226. Thanks for catching this!

And also thank you for spotting the other lingering issues on the tracker that should have been resolved =)

[2017-11-03 09:07] WladimirSidorenko commented on #1336
Yep. Checked it on my computer---no error with NLTK 3.2.5. Has apparently been fixed in the previous versions.

[2017-11-03 09:07] #1336 closed, assigned to nobody

[2017-11-03 13:46] k0pernicus commented on #1860
Thanks @alvations
I think it's ok now - but I didn't think NLTK was so "difficult" to use for real-world text; for examples:
[code]
If the beginning of a sentence contains an entity ("X Cie."), it will become "x cie.", and "X" is not an entity anymore when I will tokenize it. I have many issues like that actually for "real world text".
But I am going off the point actually :-)

[2017-11-03 19:33] tomirio619 commented on #1876
Thanks, that solves my problem.

[2017-11-03 22:33] mariehane opened #1878 "Identifying chemical entities with OSCAR4"
I'm interested in hearing whether this is something you would be interested in adding.

[OSCAR4](https://bitbucket.org/wwmm/oscar4/wiki/Home) is an open source software toolkit for identifying chemical entities in a text. It also includes a tokeniser.
The accompanying publication is here: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3205045.

[2017-11-04 21:55] #94 closed, assigned to nobody

[2017-11-05 12:01] robsonpeixoto opened #1879 "Fail to install nltk==2.0.5"
[code]

[2017-11-05 22:37] stevenbird commented on #1879
Please upgrade to current version of NLTK

[2017-11-05 22:37] #1879 closed, assigned to nobody

[2017-11-05 22:40] stevenbird commented on #1878
Please give the rationale for adding another library to nltk. What does it enable that is not possible otherwise.

[2017-11-06 01:46] alvations commented on #1878
@stevenbird OSCAR4 and CheBI would have added chemical/medical NLP capabilities to NLTK which is sorely lacking in most NLP tools. E.g. when tokenizing medical names:

[code]

The main corpus from CheBI would have provided a good gazetteer for most NLP task too.

----

@mariehane thank you for your suggestion but would you be interested in writing the API and port the related tools into Python? If

[2017-11-06 02:23] queirozfcom commented on #1209
I was going to fix this but apparently it's already been fixed in branch `develop`

[2017-11-06 03:25] alvations commented on #1209
Yes this should have been resolved in #1863

[2017-11-06 05:09] Prudenceyyx commented on #1752
There happen to be another script with the same name Python is looking for. Python got confused about the script from package and your own script because it start searching from the folder where you are.
So just change your own script to another name.

[2017-11-06 22:03] mariehane commented on #1878
@alvations thank you for responding to @stevenbird's question.

I would be interested in porting it myself since I would use it for my work. Starting with CheBI.
I'll look into it in a couple of months when I hopefully have some downtime. What I'm most vary of is whether it matches the design/intention of NLTK.

Do you mean something specific by '... that fits the continuous integration on NLTK to

[2017-11-07 00:05] alvations commented on #1878
@mariehane you can do a pull-request whenever the corpus/tokenizer/tools you've written for CheBI and OSCAR4 is ready and there should be at least one reviewer guiding you.

Before the writing anything, please take a look at https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md and that'll provide you with the details to setup your environment for the contribution as well as setting up the con

[2017-11-07 03:56] tom-aa opened #1880 "nltk 2.0.4 get HTTP Error 403 when access pypi api"
https://mail.python.org/pipermail/distutils-sig/2017-October/031712.html
pypi dropped http access of api

https://github.com/nltk/nltk/blob/2.0.4/distribute_setup.py#L50
so there will be an error during install in 2.0.x
could we fix it in the 2.0.5+ version?

[2017-11-07 08:12] benfurber commented on #736
This is still referred to in Chapter one of the book: http://www.nltk.org/book/ch01.html

It's no biggy, but I'm probably typical in spending a few minutes googling this as an issue. Those few minutes times however many people are working their way through the book... :)

[2017-11-07 12:32] rameshjes commented on #1489
Hi @alvations,

I have question regarding implementation, Is it fine to use StanfordNERTagger, StanfordParser, StanfordPOSTagger to develop monolingual word aligner Sultan et. al(2014)  in nltk? Or these all modules should be only from nltk?

[2017-11-07 14:59] limpapud commented on #914
Well, maybe it is time for closer look @domspad ?
What can I do to make it happen? (Despite I am new to GH, I want this issue to resolve)

[2017-11-08 00:01] stevenbird commented on #914
Words like "little", "year", and "oath" are stopwords?

[2017-11-08 02:22] alvations commented on #1489
You should use the updated `nltk.parse.corenlp.CoreNLPParser` from #1843, it should have the POS , NER and Parsing functions inside. There's no need to rewrite the API codes ;P

[2017-11-09 18:49] 10B-B11 commented on #1879
same issue here.
Can anyone tell me how to fix it?

[2017-11-10 01:58] robsonpeixoto commented on #1879
@caiyajing9210 https://stackoverflow.com/questions/46977498/urllib2-httperror-http-error-403-ssl-is-required-when-installing-nltk-2-0-5#answer-46982580

[2017-11-10 02:03] alvations commented on #1879
@caiyajing9210 @robsonpeixoto you should be using the latest version of NLTK v3.2.5.

Is there any reason why you are looking to install v2.0.5?

[2017-11-10 02:58] robsonpeixoto commented on #1879
@alvations It's a very old code that our team do not have time to migrate to nltk 3.x and check if everything will keep working.
But migration to 3.x is in our plan.

[2017-11-10 19:23] PhysB commented on #1759
Yes! This works. Thank you very much for the help.

[2017-11-11 05:03] bjpl commented on #1574
Hi, I'm new to python. How do I go about the pip installation exactly? Thanks!

I'm running the right version, I think... Not sure what I am doing wrong. Any guidance would be appreciated.

Python 3.5.0 (v3.5.0:374f501f4567, Sep 13 2015, 02:16:59) [MSC v.1900 32 bit (Intel)] on win32
Type "copyright", "credits" or "license()" for more information.
[code]

[2017-11-11 12:31] hendro93 commented on #1574
@bjpl hello there

You should use 'pip' in command prompt, not in python. See example below:

C:\User\bjpl> python -m pip install nltk

hope this help u!

[2017-11-11 13:59] bjpl commented on #1574
Thanks @hendro93
I had to use py instead of python, but now eveything works!

[2017-11-11 14:01] bjpl commented on #1574
Thanks @hendro93
I had to use py instead of python, but now eveything seems to be working!

[2017-11-13 10:10] Janiknoah commented on #1876
Hello,

I am sorry I dont get the solution or may be I have a different Problem.

I use the the coreNLPParser to tokenize my text. Example "...dem späteren Papst Benedikt XVI., in der Glaubenskongergation..."

Now the problem is, when I use the parser to tokenize my text I get a token with "XVI." which is correct. But when I use this token with the Core NLP Pos Tagger, I get two tokens back [u'XVI

[2017-11-13 10:31] tomirio619 commented on #1876
This is indeed the same problem I had.
You can see the annotator dependencies [here](https://stanfordnlp.github.io/CoreNLP/dependencies.html).
For POS-tagging, it will apply tokenization again, which explains why your token gets tokenized again.

The way I solved this is by creating an instance of `CoreNLPParser`, and specify the additional properties.
Now you call the function `api_call` with the

[2017-11-13 15:34] DavidNemeskey opened #1883 "Tree.chomsky_normal_form() throws AttributeError"
More specifically, `AttributeError: 'str' object has no attribute 'label'`. This happens when the grammar doesn't have preterminals, e.g.
[code]

[2017-11-13 15:35] DavidNemeskey opened #1884 "chomsky_normal_form() for grammars"
`nltk.tree.Tree` has a `chomsky_normal_form()` function, but grammars don't. Since CNF is a form of the **grammar**, it should, also.

[2017-11-13 15:38] DavidNemeskey opened #1885 "AlignedSent display broken"
If there is a source word that doesn't appear in the target sentence (or vice versa), `AlignedSent` cannot be displayed at all:
- `_repr_svg_` throws `TypeError: list indices must be integers or slices, not NoneType`
- `__str__` throws `TypeError: %d format: a number is required, not NoneType`

[2017-11-13 15:40] DavidNemeskey opened #1886 "__align and __align_all in IBMModel should be public"
The `__align` and `__align_all` functions in `IBMModel`s should should be public. What use is an alignment model if it can only be run on the train set?

[2017-11-13 21:11] limpapud commented on #914
Well, "little" and "year" are, but probably "oath" is translation typo,
"oath" in Azeri is "and" and it is not stop word, but english word 'and' is.
Added 165 words and pushed. Please check :)

[2017-11-14 02:39] alvations commented on #1884
The `chomsky_normal_form()` in NLTK is a tree-binarization function. I think it can't be directly applied to grammars, see https://github.com/nltk/nltk/blob/develop/nltk/treetransforms.py

Grammar transformation to CNF is rather complex and hasn't yet been implemented. It would be good if there's an attempt at it, but it might not be trival.

If anyone is interested in contributing, a good algorit

[2017-11-14 02:42] alvations commented on #1885
Thank you for reporting the issue.

Could you give an example and the code that throws the error?

[2017-11-14 02:47] alvations commented on #1886
It's a little mind-warping but that was the intended use case =)

For the use of machine translations, IBM models are unsupervised and the intended use was to run the models on parallel sentences to learn the alignments and apply them to the same parallel sentences. The inference model should be specific to the data you have trained on.

Usually, on an unseen data, the model needs to re-learn the

[2017-11-14 08:39] DavidNemeskey commented on #1886
You might be right in that the original intention was unsupervised learning. However, I don't see why it could not be used to align candidate translations of texts similar to what it was trained on. You could also say that n-gram LMs are trained in an unsupervised fashion, yet they are also used on unseen data. Even from an educational standpoint I would prefer public alignment functions with appr

[2017-11-14 11:18] DavidNemeskey commented on #1885
Starting from the ibm1 test script: https://github.com/nltk/nltk/blob/640d39af8d1195a0349f97efa81f535956c28328/nltk/test/unit/translate/test_ibm1.py#L48 , one can see that `None` is valid on the source side and `UNUSED` on the target side. So:
[code]
but also
[code]
As for the other function:
[code]

[2017-11-14 11:21] DavidNemeskey commented on #1883
Well, the code to run would be:
[code]

[2017-11-14 11:30] Janiknoah commented on #1876
That worked well! Thanks a lot!

[2017-11-14 11:44] DavidNemeskey opened #1887 "Tree drawing doesn't work on a headless server"
`nltk.tree.Tree` uses the Tcl (tkinter) backend to draw trees. Unfortunately, that doesn't seem to work on a headless server, which is the setup I use: run Jupyter on the server and access it via the browser from another machine.

If `python3-tk` is not installed, I get
[code]

If it is, I get
[code]

However, `dot` works in such a setup, so it would be preferable if it was used as the backend ins

[2017-11-14 16:01] cforelle commented on #1765
This doesn't work for me on a remote Jupyter notebook server. The tree's `_repr_png_()` is calling `CanvasFrame()`, which wants to create a tkinter window (and there is no display on the remote server). Not really sure what the right workaround is.

![image](https://user-images.githubusercontent.com/10046979/32789725-71455e02-c954-11e7-87ff-bb2a30336699.png)

nltk=3.2.4
ipython==6.2.1
jupyter-core

[2017-11-14 16:57] rmalouf commented on #1765
Good catch!

Someone else just opened a new issue (#1887) about the same thing.  Not sure about the procedure, but can we merge them?

[2017-11-14 16:59] rmalouf commented on #1887
`nltk.tree.Tree._repr_png_` also depends on ghostscript, which might be a problem.  E.g., it doesn't get appear to get installed as part of the default anaconda environment.

[2017-11-14 17:12] DavidNemeskey opened #1888 "IBM Models mix up target and source"
The documentation IBM models (at least `IBMModel1`) mixes up the source and target languages:
1. The constructor accepts a list of `AlignedSent` objects, which state that `words: source language words ... mots: target language words`.
1. `IBMModel1` just eats it and generates the translation table, as well as generates `Alignment` objects for the input corpus
    - the docstring for `__init__` sta

[2017-11-14 17:36] DavidNemeskey commented on #1888
Also, `defaultdict` should probably be replaced with `dict.get()` in `prob_t_a_given_s()`.

[2017-11-16 08:50] saurabh502 opened #1889 "nltk.download() error"
Hi, When i am trying to download using nltk.download(), I am getting error: <urlopen error  [WinError 10054] An Existing connection was forcibly closed by remote host>

please suggest.

Thanks,
Saurabh

[2017-11-17 01:50] stevenbird commented on #1889
I don't believe this is an NLTK error. You'll need to check proxy settings, and if you can't get it working, download manually

[2017-11-17 01:50] #1889 closed, assigned to nobody

[2017-11-17 02:19] alvations commented on #1888
@DavidNemeskey Thanks for raising the issue.

Could you further explain what you mean by:

Is `prob_t_a_given_s` used in the `IBMModel1` object? I haven't looked at the code closely but I can't find where it's been used.

@hoontw could you help to look into this?

[2017-11-17 02:21] alvations commented on #1886
@hoontw could you help to look into this too?

[2017-11-17 02:28] alvations commented on #1885
This would require some major changes to the `Alignment` and `AlignSent` object to include the `None` mappings. But if we look at the pharaoh specification, there's no need to add them.

So when you have

[code]

You can simply do:

[code]

The non-mapping will be implicit. It's not Pythonic but that's the norm when using MGIZA++ , Pharaoh and Moses toolset.

[2017-11-17 10:25] DavidNemeskey commented on #1888
@alvations The formatting was messed up. I fixed it, and I hope it is clearer now. If not, just let me know what I should explain more.

`prob_t_a_given_s` is not used **in** `IBMModel1` (or maybe it is, I don't know), but it is a public method, so it can be called by client code. (And how else would I compute _prob_t_given_s_?)

[2017-11-17 10:27] DavidNemeskey commented on #1885
Yes, those would be displayed correctly.

[2017-11-17 10:30] DavidNemeskey opened #1890 "CFG.fromstring cannot handle epsilons"
There are times when one wants to include an empty terminal, such as:
[code]

However, when trying to read it via `CFG.fromstring`, I get
[code]

Interestingly, `Tree` has no problems with empty terminals:
[code]
prints
[code]

[2017-11-17 23:50] hoontw commented on #1888
It's been a while since I looked at the code, so I'll write a more detailed response later.

One easy thing I can clear up is that the translation table represents P(word|mot). For example, `translation_table["house"]["haus"]` is the probability that given the word "haus", "house" is the right translation. Therefore the translation direction is from `mot -> word`.

[2017-11-18 11:23] DavidNemeskey commented on #1888
Any specific reason why you translate from _target_ to _source_? I mean, the semantics of those two words in English are very clear. What is the benefit of inverting them?

Also, the function is called _P(T,A|S)_ -- again indicating that the translation should be _S -> T_.

Finally, if you use the translation table as you say in the comment above, that also goes against any intuition one might hav

[2017-11-18 11:38] DavidNemeskey opened #1891 "prob_t_a_given_s() only computes half of what it should"
According to the Jurafsky & Martin book, but also the [original paper](http://www.aclweb.org/anthology/J93-2003) (eq. 5), _P(F,A|E)_ is not just the product of the word probabilities, but it should also be weighted by the alignment probability (_eps / (l + 1)^m_). This is missing from the implementation of `prob_t_a_given_s()`, which, as it is, actually just computes _P(F|A,E)_. So either
- the mi

[2017-11-18 17:30] hoontw commented on #1888
tl;dr: documentation for `AlignedSent` is wrong. `words` is not target language, `mots` is not source language. We should swap them or use neutral terms like "first of a language pair" and "second of a language pair".

@DavidNemeskey Good catch! The documentation for `AlignedSent` says that `words` is source and `mots` is target, but the IBM models swap them. Either the documentation or the IBM mo

[2017-11-18 18:00] hoontw commented on #1888
Regarding the order of indices in `translation_table`, I agree that it is counter-intuitive and should be swapped. There isn't a good reason why P(a|b) is represented as p[a][b], other than historical reasons and was meant to be used internally by the IBM models, not for humans to examine.

I agree that it will be useful to examine the likely translations of a source word. Perhaps we could create

[2017-11-18 22:26] DavidNemeskey commented on #1888
@alvations another option would be to add a parameter to the `IBMModel` constructor that specifies the direction (and provide a default value to maintain backward compatibility).

BTW _mots_ is not a very sensible name, but I guess it is too late to change that now...

@hoontw no, the whole `translation_table` is a `defaultdict` of `defaultdict`s. That's a problem because the user can call `prob_t

[2017-11-19 22:39] hoontw commented on #1888
Yet another way to switch the direction of translation is to use `AlignedSent.invert()` for the data. This is probably what the IBM models would do internally anyway if it supported switching.

Yes, _mots_ isn't a great name. It was originally _s1_ and _s2_, which wasn't great either because it is too cryptic. _target_sentence_ and _source_sentence_ can be confusing too because the relationship be

[2017-11-20 00:30] alvations opened #1892 "Deprecating and removing Stanford API support"
Stanford CoreNLP has released their official Python wrapper https://github.com/stanfordnlp/python-stanford-corenlp

Should we remove the support for the Stanford API in NLTK and replace it with `NotImplementedError`?

[2017-11-20 13:50] jb6 opened #1893 "moses.tokenize(sent, escape), same result when escape =True and escape = False (French data)"
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import os
import csv
import nltk

from nltk.tokenize.moses import MosesTokenizer

moses = MosesTokenizer(lang='fr')
sent = "Le télétravail n'aura pas d'effet sur ma vie"
print (moses.tokenize(sent, False))

print (moses.tokenize(sent, True))

and I would like to have this result :
['Le', 'télétravail', 'n' ', 'aura', 'pas', 'd'', 'effet', 'sur', 'ma',

[2017-11-20 20:40] stevenbird commented on #1892
Good idea, but I think we should deprecate it first, and remove it in the next major release.

[2017-11-20 20:41] stevenbird commented on #1890
I agree, it should handle epsilons!

[2017-11-21 01:37] alvations commented on #1893
Which version of NLTK are you using?

[code]

`escape` is the last argument in the `tokenize()` function. When you don't use explicit keyword arguments, i.e. `moses.tokenize(sent, True)`, the True there is setting the second argument to True, i.e. `agressive_dash_splits=True` instead of `escape=True`

See https://github.com/nltk/nltk/blob/develop/nltk/tokenize/moses.py#L332

[code]

[2017-11-21 11:36] abuvanth opened #1894 "POS tagger for tamil language"

[2017-11-21 19:25] fafa92 opened #1895 "AttributeError: 'module' object has no attribute 'gleu_score'"
When I'm using BLEU score I'm not getting any error and it works but when I change it to GLEU, it says:
"AttributeError: 'module' object has no attribute 'gleu_score'", any can give me a clue please?

[2017-11-21 22:49] #1895 closed, assigned to nobody

[2017-11-22 21:50] jb6 commented on #1893
You were right @alvations  thanks ! Since I am using python through conda, I thought the nltk package was updated, but it was its 3.2.4 version. Now it works using nltk 3.2.5 and python2.7 👍 output [u'Le', u't\xe9l\xe9travail', u"n'", u'aura', u'pas', u"d'", u'effet', u'sur', u'ma', u'vie'] and with a print I get the tokens I wanted:
Le
télétravail
n'
aura
pas
d'
effet
sur
ma
vie
For the French st

[2017-11-23 05:28] kmr0877 opened #1897 "Object Score in Sentiment Score Calculation???"
I tried calculating the pos_score(),neg_score() and obj_score() for each word in a sentence.Now my question is to estimate the sentiment score of the sentence do we just consider pos and neg values of all values and based on the avg value we then conclude whether a sentence is positive or negative else should we consider the object value as well???
I couldn't find much resources online to conclude

[2017-11-23 06:05] alvations commented on #1897
@kmr0877 There are some resources on what NLTK provides with regards to sentiment analysis and resources, please see:

 - http://www.nltk.org/howto/twitter.html
 - https://github.com/nltk/nltk/blob/develop/nltk/tokenize/casual.py#L268
 - http://www.nltk.org/howto/sentiment.html
 - http://www.nltk.org/howto/sentiwordnet.html
 - http://www.nltk.org/howto/corpus.html (`opinion_lexicon` section)

Hope

[2017-11-23 06:08] alvations commented on #1894
@abuvanth Thanks for raising an issue. Just like to clarify and ask what is the issue about =)

- Is this a feature request?
- Are you going to contribute a Tamil POS tagger model to NLTK?

If it's the latter, please take a look at https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md

Please do a pull request once it's ready and someone will review and take a look at it =)

[2017-11-23 06:36] kmr0877 commented on #1897
yeah i just wanted to check if someone passed with my problem before... appreciate your effort mate!!!
cheers

[2017-11-23 06:36] #1897 closed, assigned to nobody

[2017-11-23 13:04] #1888 closed, assigned to nobody

[2017-11-25 02:29] hoontw commented on #1886
There is no strong reason to make `__align` functions private. In fact, it used to be public but I changed it in 2ae8dcf3a9b5b86f9bd122fed931a40d8a5e1b88 because it does not work well with unseen data. But the same can be said about other public methods like `prob_t_a_given_s`, so @DavidNemeskey is correct about the inconsistency.

These days, IBM models are not used for translation or obtaining w

[2017-11-25 15:32] DavidNemeskey commented on #1886
I think it is more Pythonic (as in "we are all consenting adults") to make them public then to make everything private. Also, less underscores.

[2017-11-27 09:08] sara-02 opened #1900 "Why does ntlk.tokenize.wordpunct_tokenize not split on `_`"
I am using `nltk.tokenize.wordpunct_tokenize`, but do not see the string containg `_` being split up.
Test Code
[code]
Current Output: `['Hello_world']`
Expected_output: `['Hello', '_', 'World']`
Am I missing something?

[2017-11-27 09:25] alvations commented on #1900
Which version of NLTK are you using?

There's no problem on v3.2.5, `['Hello_World']` is the expected output.

[code]

----

If we trace back the code of `wordpunct_tokenize`

From https://github.com/nltk/nltk/blob/develop/nltk/tokenize/__init__.py#L69, it points to   https://github.com/nltk/nltk/blob/develop/nltk/tokenize/regexp.py#L199 which points to the `WordPunctTokenizer` object at https://g

[2017-11-27 09:29] sara-02 commented on #1900
@alvations I am using version `3.2.2`
Also, if you look at the code you pasted above the split is actually not happening.

[2017-11-27 09:41] alvations commented on #1900
The expected behavior is to treat underscore `_` as valid `\w+` character. Please see the extended explanation above.

[2017-11-27 10:07] alvations opened #1901 "Differences between FrameNet in Python3.6 and Python2.7"
Framenet in Python3.6 and Python2.7 seems to behave differently:

From https://github.com/nltk/nltk/blob/develop/nltk/test/framenet.doctest#L119

**Python3.6**

[code]

**Python2.7**

[code]

Is the order of the frames important?

@nschneid any hints on why this is happening?

----

Another instance is during the doctest at https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/framenet.py#L

[2017-11-27 10:35] sara-02 commented on #1900
Thanks.

[2017-11-27 15:18] nschneid commented on #1901
The lists are constructed by iterating over a dict (returned by `frame_ids_and_names()`). The order is not important. These methods might as well return sets, though I think for compatibility with Python <2.7 I was avoiding set literals and comprehensions.

[2017-11-27 15:20] nschneid commented on #1901
Oh I see, these return `PrettyList` instances for pretty-printing, and there is no `PrettySet`.

[2017-11-27 22:57] alvations commented on #1901
Thanks @nschneid! I'll put all of them under `set()` and check for sequence equality =)

[2017-11-28 02:26] alvations commented on #1901
@nschneid how about `frame_relations()` and `fe_relations` is order unimportant for those too? https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/framenet.py#L2277

I think there's some inherent sorting at https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/framenet.py#L2345 and https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/framenet.py#L2377

[2017-11-28 03:27] nschneid commented on #1901
Right, there is purposeful sorting in `frame_relations()` and `fe_relations()`, so those should be left alone.

[2017-11-28 03:42] alvations commented on #1696
This issue should be cleared in 2.7, 3.5 and 3.6.1
CI tests clears this too.

[code]

Are there anyone else having similar issues?

One issue down, preparing for #1659  =)

[2017-11-28 03:45] alvations commented on #1681
Similar to #1696.

We're preparing for #1659, anyone still having this issue on Python 2.7, 3.5 or > 3.6.1 ?

[2017-11-28 04:10] alvations commented on #1659
@nschneid Regarding PEP479, it'll actually clean up the code if we get rid of `StopIteration` on generators and use:

[code]

[2017-11-28 04:18] nschneid commented on #1659
Won't this break 2.7 compatibility? https://docs.python.org/3/library/__future__.html

[2017-11-28 04:36] alvations commented on #1659
Argh, it looks like a no-going-back PEP.

Looks like even [Jinja goes py3.x only, dropping py2.7 support](https://www.palletsprojects.com/blog/jinja-29-released/), they have a motivation when it comes to unicode templates though.

Maybe they'll backport it to Python2.7. Lets wait to resolve the warnings. Clearing the CI for 3.6 would be a good first step.

[2017-11-28 04:51] alvations commented on #1805
This bug would be phase out by the new `dict` object in Python 3.6. Dictionary will be always ordered Python 3.6 by @methane and @rhettinger

- https://mail.python.org/pipermail/python-dev/2016-September/thread.html#146327
- https://twitter.com/raymondh/status/850102884972675072

[2017-11-28 04:56] alvations commented on #518
Using "f-strings" might be an alternative too https://www.python.org/dev/peps/pep-0498/ =)

[2017-11-28 04:58] nschneid commented on #518
I fully support this if/when 2.7 support is dropped. Moving to `format()` for now will ease the transition to f-strings.

[2017-11-28 05:03] alvations commented on #781
@stevenbird I think the modern day machines can handle the XML file size, should we set the default value for `lazy` should be set to False.

[2017-11-28 05:09] alvations commented on #769
On Python 2.7 and 3.6:

[code]

@stevenbird maybe dropping support for Python 3.4 would be good. We could still keep 2.7, 3.5 and push for 3.6 support.

[2017-11-28 10:25] workflowsguy opened #1903 "Consider typographical quotes when splitting sentences"
When using various tools that build upon NLTK to split sentences, I keep running into the problem that texts with typographical quotes like chevrons (»«) or guillemets («») are not handled correctly.

E.g. with a text like:

`»Die militärische Welt ist doch manchmal recht unschön. Wie froh bin ich da, dass ich Dich habe, die Du so viel anders bist als die meisten Menschen.« Das hatte Robert Scholl

[2017-11-28 12:22] #1886 closed, assigned to hoontw

[2017-12-02 23:03] kenneth070 opened #1905 "Cannot install on Windows"
Fresh install of Python 3.5.4 (32-bit), no other interpreter versions are installed on my computer, still I cannot install ntlk in any way that is listed on the official webpage.

When I'm trying to use nltk-3.2.5.win32.exe I'm getting the error 'Python version -32 required, which was not found in the registry.' even though there is a 32-bit version that is listed in the PATH variable.
[code]

[2017-12-03 05:19] Anujay-Saraf commented on #919
not working

[2017-12-03 20:43] Ch0ronomato commented on #1877
I added a super simple PR for this: https://github.com/nltk/nltk/pull/1906

Any feedback on how to proceed? If this isn't the best fix, let me know and I will address it.

[2017-12-04 04:32] alvations commented on #1905
Please use `pip` or `conda` to install on Windows. Maybe this'll help: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9

[2017-12-05 07:06] #1277 closed, assigned to nobody

[2017-12-05 09:15] alvations commented on #1901
Resolved in #1902

[2017-12-05 09:15] #1901 closed, assigned to nobody

[2017-12-08 06:59] alvations commented on #1095
@blumonkey Thank you for your question.

Possibly, it's more of a `train vs test` and overfitting issue. If we look at the tagger's performance on the training set we see that it's at 98%.

[code]

The low error rate on train and high error rate on test, suggests that:

 - The model is overfitting to the training data
 - The training data is insufficient to cover the cases in the test data
 - Usin

[2017-12-09 18:17] limpapud commented on #914
@domapad @stevenbird please check my PR, if it is OK. Thanksl

[2017-12-10 13:56] HydrangeAria opened #1912 "Isuess with "No such file or directory: ""
I just started learning nltk and tried to followed the book.
 I don't know why but it keep showing No such file or directory:
Could anyone explain to me why this happens and how to fix it?
Thank you very much!

[code]

[code]

[2017-12-11 02:53] stevenbird commented on #1905
Thanks @alvations

[2017-12-11 02:53] #1905 closed, assigned to nobody

[2017-12-11 02:55] stevenbird commented on #1912
Not an appropriate NLTK issue, sorry.

[2017-12-11 02:55] #1912 closed, assigned to nobody

[2017-12-11 02:55] #1900 closed, assigned to nobody

[2017-12-11 02:56] stevenbird commented on #1893
Thanks @alvations

[2017-12-11 02:56] #1893 closed, assigned to nobody

[2017-12-11 02:56] #1877 closed, assigned to nobody

[2017-12-11 02:57] stevenbird commented on #1770
Thanks @alvations

[2017-12-11 02:57] #1770 closed, assigned to nobody

[2017-12-11 02:58] #514 closed, assigned to nobody

[2017-12-11 02:58] #965 closed, assigned to nobody

[2017-12-11 02:58] #1209 closed, assigned to nobody

[2017-12-11 02:59] #1681 closed, assigned to nobody

[2017-12-11 03:03] stevenbird commented on #1696
@alvations fyi in compat.py:

[code]

From memory these extra subdirectories were created manually.

[2017-12-11 03:03] #1696 closed, assigned to nobody

[2017-12-11 03:03] #783 closed, assigned to nobody

[2017-12-11 03:03] stevenbird commented on #783
Yes, thanks @Dobatymo

[2017-12-11 03:06] #1761 closed, assigned to nobody

[2017-12-11 03:09] alvations commented on #1838
Resolved in #1844

[2017-12-11 19:21] aziyamehboob opened #1913 "TypeError: sequence item 352: expected str instance, NoneType found"
i am new in nltk and chunking.i dont know where i am getting this error and why.i tagged the corpus and then i was trying to do chunking in that but i am getting the type error. here is the code:
[code]

[2017-12-11 23:13] alvations commented on #1814
@puli83 Are you still having the same problem? Could you provide the code and details of which Stanford API you're using?

[2017-12-12 10:46] KazutoshiShinoda commented on #1239
I have the same question as hansen7

[2017-12-13 04:57] alvations commented on #1829
@gtoffoli Sorry for getting back this late. Had been busy these months.

It's because the infinite while loop didn't have a breaking condition `grow_diag()`. This seems to fix the issue:

[code]

Also, I agree that the spaghetti function is weird but it stays close to the pseudo-code (perl-like syntax)

[2017-12-13 19:10] nputikhin opened #1915 "eval() in DependencyEvaluator returns LAS and UAS in wrong order"
According to documentation, return order is Labeled Attachment Score (LAS) and then Unlabeled Attachment Score (UAS).
UAS is computed based on correct number of HEAD fields only, while LAS is based both on HEAD and DEPREL fields.
Actual code returns UAS as the first item and LAS as the second:
https://github.com/nltk/nltk/blob/8490d9d8ef58482d4c3d17826b4b5224e421714e/nltk/parse/evaluate.py#L121-L1

[2017-12-15 04:48] #1829 closed, assigned to alvations

[2017-12-16 07:25] ghost opened #1917 "How to modify requests module timeout when using corenlp?"
I want to parse long text using corenlp so the request tooks longer than the default timeout which is 60 seconds. Is it possible to change it?

![image](https://user-images.githubusercontent.com/12383137/34068405-d42d0a40-e274-11e7-9519-679967a1e086.png)

[2017-12-16 18:09] dimazest commented on #1917
Currently timeout is hardcoded in https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L254 so you need to change the source code.

[2017-12-18 10:32] KanwalPrakashSingh commented on #1625
i dont think it is resolved yet

[2017-12-19 07:05] acattle opened #1920 "BllipParser: AttributeError: 'str' object has no attribute 'decode' on Python 3.5"
When calling next(BllipParser.parse()) on Python 3.5, I receive the following error:

File "/home/andrew/.local/lib/python3.5/site-packages/nltk/parse/bllip.py", line 169, in parse
    _ensure_ascii(sentence)
  File "/home/andrew/.local/lib/python3.5/site-packages/nltk/parse/bllip.py", line 101, in _ensure_ascii
    word.decode('ascii')
AttributeError: 'str' object has no attribute 'decode'

Relat

[2017-12-19 09:04] alvations commented on #1917
@dimazest Maybe we'll need to expose the timeout argument when intializing the `CoreNLPParser()`

But then again, we should be deprecating the module and directing people to the canonical Python wrapper https://pypi.python.org/pypi/stanford-corenlp/ ;P

[2017-12-20 10:45] sarancruzer commented on #1495
[nltk_data] Downloading package punkt to /home/saravanan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Traceback (most recent call last):
  File "codevector.py", line 37, in <module>
    tok_corp = [nltk.word_tokenize(sent,'utf-8') for sent in corpus]
  File "codevector.py", line 37, in <listcomp>
    tok_corp = [nltk.word_tokenize(sent,'utf-8') for sent in corpus]
  File "/home/

[2017-12-20 11:05] greenat92 opened #1921 "Improving Snowball Arabic stemmer in Nltk"
I've opened this issue to add improvements of snowball ArabicStemmer in [nltk snowball ArabicStemmer](https://github.com/nltk/nltk/blob/e0b882177421498a1a49e42d4b83c51bfa451f3d/nltk/stem/snowball.py#L297) from the [original algorithm](https://github.com/assem-ch/arabicstemmer)

[2017-12-20 21:10] dimazest commented on #1917
I agree, using the official bindings is the best solution in long term.

[2017-12-21 02:21] alvations commented on #1853
As for the 1st two failures in the doctest failure due to `# doctest: +NORMALIZE_WHITESPACE` flag not being picked up. No worries for those failure.

BTW, which version of `tox` did you use?

----

Regarding failure 3, the current https://github.com/nltk/nltk/commit/c0a373066e1477bd201acb071be171e8cc0ca673 `nltk_data` returns 64797 Japanese synsets lemma. The howto is a little outdated from 2 year

[2017-12-22 01:45] bdevnani3 commented on #1457
Hey! Could I give this a shot? :)

[2017-12-22 02:01] alvations commented on #1457
@bdevnani3 Sure! But this might be a little challenging since it has to do with builtin Python class.

The code referred to in this PR is in the `nltk.probability.FreqDist` specifically https://github.com/nltk/nltk/blob/develop/nltk/probability.py#L379

And the motivation of having `__le__`, `__ge__`, `__lt__` and `__gt__` functions in FreqDist is to check through all items in the FreqDist and mak

[2017-12-22 02:19] alvations commented on #1457
One possible solution is to remove these lines:

[code]

And write a generic inequalities function and make duck-types of the individual inequality:

[code]

[out]:

[code]

But it'll lead to some cases where it's awkward but still logical if the aim of the inequality is restricted to the definition of comparing counts of each word given the "self" i.e. the first FreqDist as the "deictic"  :

[cod

[2017-12-22 13:23] dseddah commented on #1756
seems to me that there're two possible licenses here

# If this wasn't such a trivial program, I'd include all that stuff about
# no warrantee, free use, etc. from the GNU General Public License.  If you
# want to be picky, assume that all of its terms apply.  Okay?

either it's full GPL of that time or it's none of it, public domain style.

[2017-12-23 01:45] caitvanhoff commented on #1574
Thanks @bjpl!! I was so close to giving up and then I used py instead of python and it worked!

[2017-12-23 01:47] #428 closed, assigned to nobody

[2017-12-23 01:47] #69 closed, assigned to nobody

[2017-12-23 11:41] EgorNemchinov commented on #1920
Hey!
There are indeed differences since in Python 3 strings are no longer bytes arrays.
This problem might be solved by changing decode() to encode(), since they both check whether it's an _ascii_ string.

May I solve this?

[2017-12-24 01:10] liujinliang01 opened #1923 "Windows installation problem"
I have been stuck at the installation stage. Could anybody help please?
The error message I get is "Python version -32 required which was not found in the registry."

When I run the register.py script, I get a "file not found" error. No clue which file it is looking for.
And besides, I wonder what NLTK is looking for in the registry?

My environment is Win7, Python 3.5.0, and NLTK 3.2.5. Installpa

[2017-12-25 10:41] chrishna1 commented on #1923
Give a try to conda. Didn't you find anything helpful on googling your error?

[2017-12-26 10:03] iliakur commented on #1457
I've given this some thought and actually I think we shouldn't change the implementation (it makes sense), but instead document it clearly.
This involves me updating my SO answer, I'm cool with that, so just let me know what the final verdict on this is!

[2017-12-27 07:35] stevenbird opened #1926 "nist.py regexp breaks in py27"
Our CI server [reports](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/testReport/nose.failure/Failure/runTest/) error `nothing to repeat` on line https://github.com/nltk/nltk/blob/develop/nltk/tokenize/nist.py#L110

@alvations: would you mind having a look at this please?

[2017-12-27 07:51] alvations commented on #1926
Hmmm... It's a little strange that the error doesn't happen locally:

[code]

Let me take a closer look.

[2017-12-27 07:55] alvations commented on #1926
Looks like there's a `[]` missing in the compiled regex but it still doesn't throw the error.

[code]

[2017-12-27 08:02] alvations commented on #1926
Argh, github.com is doing strange thing with bad wifi... Reverting the latest https://github.com/nltk/nltk/commit/052cc88295d122834b7a21e1c73fdceb23130d8f and doing a fresh PR.

[2017-12-27 08:36] alvations commented on #1923
@chrishna1 please check if this helps: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9

[2017-12-27 08:38] alvations commented on #1913
@aziyamehboob we'll need more information in order to help you.

Also, perhaps [Stackoverflow](stackoverflow.com/questions/tagged/nltk) would be a better place to look for solutions to your problems if the issue is not with the code in the NLTK codebase.

[2017-12-27 10:29] liujinliang01 commented on #1923
Thank you very much for your kind reply, and Merry Christmas and Happy New Year to you!
But the link you sent me is broken. Any other options? Thank you again.
love
Jim

At 2017-12-27 16:36:30, "alvations" <notifications@github.com> wrote:

@chrishna1 please check if this helps: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9

—
You are receiving this because you authored the thread.
Reply

[2017-12-28 02:41] alvations commented on #1923
@liujinliang01 please check the link again, it's working: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9

There's also a short version on just NLTK installation for windows users on: https://www.kaggle.com/alvations/getting-nltk-installed-for-windows-users

See also: https://docs.anaconda.com/anaconda/install/windows

Hope the links help.

[2017-12-28 05:36] alvations commented on #1880
@tom-aa the `distribute_setup.py` has been deprecated  and removed since a long time ago and the latest versions of NLTK uses `setup.py` with the native [`setuptools`](https://pypi.python.org/pypi/setuptools). Last known tagged version with it is [v3.0a1](https://github.com/nltk/nltk/blob/3.0a1/distribute_setup.py)

Modern `pip` and `python setup.py` should be able to handle NLTK installation with

[2017-12-28 06:03] kavin26 commented on #1510
@dimazest  Hi... if the text contains `\` or `/` solution for `Assertion Error` is to only use Core NLP? i'm using `stanford-parser-full-2017-06-09`
Sentence used for parsing was `Iraqi security forces drove Islamic State fighters from the centre of a town just south of the militants\' main stronghold of Mosul on Saturday and reached within a few km (miles) of an airport on the edge of the city, a

[2017-12-28 06:25] alvations commented on #1510
@kavin26 Yes, please use the `nltk.parse.corenlp.CoreNLPParser`.

[2017-12-28 06:31] kavin26 commented on #1510
@alvations  thank you so much :+1:

[2017-12-29 17:35] martinbroadhurst commented on #1890
An empty terminal is not the same as an empty right-hand side, though, and if you implement epsilon rules this way it will have all sorts of counter-intuitive consequences. For example, if you generate from your grammar, you will get the two sentences ``['a', 'b']`` and ``['a', '']`` (*not*  ``['a']``), and similarly if you try to parse ``['a']`` (or ``'a'.split()``) it will fail because the empty

[2018-01-02 09:06] kparisa05 commented on #1574
Thanks maitetaboada. your solution worked for me.

[2018-01-03 04:52] liujinliang01 commented on #1923
Thank you very much for your kind help. But the first link is still broken to me in China. The 2nd link opens, but I cannot find a solution to my problem. The 3rd link opens but is not helpful. I have tried Conda, and Anaconda. No luck.
My problem is still "Python verion -32 is required which is not found in the registry".
My environment is "nltk-3.2.5.win32.exe", Win 10 Family, Python 3.5.0.

Tha

[2018-01-03 05:00] alvations commented on #1923
Maybe you're behind a firewall that disable pip install? If you're installing it in a company or institution/university. Please contact your administrator to check whether you're behind some firewall.

The installer for Windows is unreliable. Installing it using powershell with `pip` is the preferred method.

Could you install other libraries using `pip`? E.g. `pip install tensorflow`
Or using con

[2018-01-03 06:56] liujinliang01 commented on #1923
Thank you very much for your quick response.
I cannot believe that I succeeded, just on the verge of giving up, with the help of  an instruction written by a Chinese postgraduate who is working an NLP project. He fumbled for quite some time and succeeded. The trick is just to use pip to install NLTK.
I just hope that the good guys behind Python and NLTK make it more user friendly for Windows users

[2018-01-03 14:13] iliaschalkidis opened #1928 "Unclosed file in stopwords corpora"
/Users/kiddo/anaconda/lib/python3.6/site-packages/nltk/corpus/reader/wordlist.py:28: ResourceWarning: unclosed file <_io.BufferedReader name='/Users/kiddo/nltk_data/corpora/stopwords/english'>
  return concat([self.open(f).read() for f in fileids])

That's a warning that I found on debugging mode. I thought that maybe you would like to fix that before the next release.

[2018-01-03 14:56] liujinliang01 commented on #1923
As a token of my gratitude to kind people like chrishna1 and alvations who took the trouble to respond to my request even during the Christmas and New Year holiday period, I must publish the solution to my problem which maybe helpful to others:

1. install Python 3.5.0, which is supported by the latest NLTK 3.2.5. I downgraded from Python 3.6.4 to 3.5.0 to comply with the NLTK requirement.
2. set

[2018-01-03 14:57] #1923 closed, assigned to nobody

[2018-01-05 01:49] alvations opened #1929 "Adding popular and book nltk_data during installation process"
It is possible to enforce `nltk_data` downloads inside the `setup.py`. And maybe that'll remove some gotchas when people use functions that requires default models the first time and they would need to do `nltk.download(...)` (e.g. `sent_tokenize`, `word_tokenize`, `pos_tag`).

Some useful hints to implement this:

 - https://stackoverflow.com/questions/26799894/installing-nltk-data-in-setup-py-sc

[2018-01-05 08:17] iliakur commented on #1929
would it be possible to instead run `nltk.download()` for specific models/corpora the first time a function that relies on them is invoked?

[2018-01-05 21:07] puli83 commented on #1814
HI,

I'm using "from nltk.parse.stanford import StanfordNeuralDependencyParser"
in python.

dep_parser = StanfordNeuralDependencyParser(java_options = "-mx10g")

########### test 1
text1 = "This study is an attempt to resolve an apparent inconsistency in
C. I. Lewis' theories of the good and the right. This study is an attempt
to resolve an apparent inconsistency in  C.-I.-Lewis' theories of the g

[2018-01-08 03:54] alvations opened #1931 "An interface to the 1M sense tagged inventory"
There's a nice corpus of 1M WordNet tagged instances of MultiUN corpus produced in http://www.comp.nus.edu.sg/~kaveh/papers/wsd-conll15.pdf

If anyone is up for a challenge, It'll be a nice addition to have a reader for this corpus in NLTK.

The data source is on http://www.comp.nus.edu.sg/~nlp/corpora.html

[2018-01-08 09:27] maykulkarni commented on #1928
Hi, can I take this issue?

[2018-01-08 15:17] alvations opened #1932 "Jenkins is breaking because Stanford and Senna pages are timing out"
It looks like Jenkin is breaking because old Stanford tools pages are timing out https://nltk.ci.cloudbees.com/job/pull_request_tests/564/TOXENV=py34-jenkins,jdk=jdk8latestOnlineInstall/console

[`Jenkins.sh`](https://github.com/nltk/nltk/blob/develop/jenkins.sh#L34) is trying to curl the timeout page to get the direct link to the tools.

We're having trouble doing:

[code]

The direct links to th

[2018-01-09 14:13] alvations commented on #1932
Now curling https://nlp.stanford.edu/software/lex-parser.shtml is back but downloads for the zipfiles are extremely slow.

Maybe we should totally deprecate the old Stanford API now and drop the related tests since we have the CoreNLP module working.

[2018-01-09 22:41] alvations commented on #1932
Cleared up after Stanford fixed their network config, notes from https://twitter.com/stanfordnlp/status/950848903238189056

[2018-01-09 22:41] #1932 closed, assigned to nobody

[2018-01-10 03:47] alvations opened #1934 "Function to access the Synset object using sense key"
I might have missed it but is there a function to access the `Synset` object from the NLTK wordnet interface from the [sense key](https://wordnet.princeton.edu/wordnet/man/senseidx.5WN.html)?

If there isn't could we expose a function that can achieve that in `nltk.corpus.wordnet`? E.g. https://stackoverflow.com/questions/48170666/how-to-get-the-gloss-given-sense-key-using-nltk-wordnet/

Ideally,

[2018-01-11 02:08] babbottscott commented on #1880
We have an existing service coded against v2.0.5, and we are having to hack our provisioning scripts to death to provision new instances to run it due to this installation failure.  A backport or workaround would be greatly appreciated

In my brief (and non-python-guy) testing, changing https://github.com/nltk/nltk/blob/18c842fca78b77e2cdaced944903c793437a1034/distribute_setup.py#L50 from http to

[2018-01-11 06:19] alvations commented on #1880
I've created a branch off 3ff37647eeb2327d943a8cc15acc30adfa1e806f where v2.0.5 (aka 3.0.1) took off with the `distribute_setup.py` with the change to https.

Before that change is "pip-able", it still requires

 - new github release
 - updates on PyPI

Until the above is done, you can do:

[code]

----

It might be a better thing for us to know what breaks when you upgrade your code to NLTK > v.2

[2018-01-11 11:11] vivekscl commented on #1854
Hi! I'd like to work on this issue as my first contribution to this project! Just to confirm, every instance of `if isinstance(i, slice):` that is not required needs to be removed and the code that uses that condition should be refactored afterwords right? Here is the updated list of occurrences.

[code]
Please do correct me if i'm wrong, but for a particular slice usage to be related to PEP-357,

[2018-01-16 12:04] ohenrik commented on #693
@shcherbin Any idea about what the correct column types are? could you provide an example?

Here is some test data:

[code]

[2018-01-16 15:33] shlomihod opened #1939 "Translation Probabilities do not sum to 1 in IBM1 Translation Model"
After running IBM1 Translation model in the given code, I've summed the translation probabilites (the probability for a target word given source word), and it doesn't sum to 1:

[code]

I guess it is because here:
https://github.com/nltk/nltk/blob/7bbc00e908087b60325db30526872306e767de13/nltk/translate/ibm_model.py#L336-L340
The iteration only on the counts, and not all the vocabulary. So (src_wor

[2018-01-17 08:13] #1854 closed, assigned to nobody

[2018-01-18 14:56] psukys opened #1941 "WordNet unclosed files"
When using wordnet, Python complains about unclosed files, i.e.:
[code]

[2018-01-20 21:43] boralprophecy opened #1943 "ValueError: not enough values to unpack (expected 2, got 1)"
[code]
While running this code, got the following error.

[code]

Using Windows 10, Python 3.6.2

[2018-01-21 18:41] sks4903440 commented on #1928
@iliaschalkidis @alvations How can I reproduce the warning on linux?

[2018-01-21 20:27] sks4903440 commented on #1943
@boralprophecy UnigramTagger takes a list of tagged sentences of type list(list(tuple(str, str))) as its first argument. You are giving train_sents of type list(tuple(str,str)).

[2018-01-22 09:58] boralprophecy commented on #1943
Yes you are right. Thank you.

[2018-01-22 09:58] #1943 closed, assigned to nobody

[2018-01-22 16:43] iliaschalkidis commented on #1928
@sks4903440  Using version 3.2.5, you may try to run the following script in your command line:

**test.py**
[code]

You should get:

`ResourceWarning: unclosed file <_io.BufferedReader name='/Users/kiddo/nltk_data/corpora/stopwords/english'>`

[2018-01-23 11:56] RodgerKibble commented on #1575
Hi, will someone be updating the example in section 3.6 of the book which still shows uc output from Porter? This is confusing my students.  Many thanks.

[2018-01-23 17:29] Thunderforge commented on #1756
Unfortunately, there's a big difference between "full GPL" and "public domain". I don't suppose there was any luck in contacting the original author?

[2018-01-25 10:51] villmow opened #1944 "Wordnet: Comparison of a _WordNetObject fails if other object is not a _WordNetObject."
Problem: As the title says, the comparison of a _WordNetObject fails if compared to something that doesn't have the attribute `.name`.

Solution: Catch `AttributeError` and return `False`

See output log:
[code]

[2018-01-25 16:16] sks4903440 commented on #1941
@alvations #1945 Fixed the warning

[2018-01-25 16:20] sks4903440 commented on #1928
Fixed in #1945

[2018-01-25 17:10] lukedorney opened #1946 "present is spelled wrong - causes issue at least on line 535"
https://github.com/nltk/nltk/blob/2d925b8816842630f40dc2ca562131ef1161bfc2/nltk/stem/snowball.py#L406

[2018-01-26 01:26] alvations commented on #1928
Hmmm.. Inheriting the `io.BufferedReader` to the StreamCorpusReader is an interesting solution but maybe closing the file properly with context managers `with` scope might be a better fix.

And I think Python3.6 has some special requirements for files that are different from previous versions. We have to read the change log from CPython to be sure what we're doing is not just a bandaid =)

[2018-01-26 01:31] alvations commented on #1946
Thanks @lukedorney for catching this!

@LBenzahia it looks like that code is introduced in https://github.com/nltk/nltk/commit/ca00be97c8c88dac726e8ae6c16d601f89fd6db8#diff-5b448b9df2c61fb49cef650029974907 .

Could you take a look at it? Thank you in advance!

[2018-01-26 01:39] alvations commented on #1944
@villmow could you post the code with more context that caused the Attribute error?

It looks like you have been looking at the wrong object to check for the `names()`. When you try to access the `lemma_names()`, it will return a list of `str`, which doesn't have the `_name` attribute.

Whereas when you access the `lemmas()`, it will return a list of `Lemma` objects which has the `_name` attribute

[2018-01-26 07:28] villmow commented on #1944
@alvations sure I can:
[code]
I would expect it to return `False` as we compare a string with a `Synset`, but it throws an `AttributeError`.

[2018-01-26 07:54] alvations commented on #1944
Thanks @villmow, now it's clear =)

Checking the type before accessing the attributes would be a quick fix.

[2018-01-26 08:00] alvations commented on #1944
At https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L197

Maybe this could fix it, the `type()` checks should be evaluated first.

[code]

I'm not sure what's the use of `___lt___` for Lemma or Synset objects though.

[2018-01-26 12:06] sks4903440 commented on #1928
@alvations Using `with` would surely be a good idea. I would try to incorporate that. Since in CPython, the garbage collector automatically closes the file after zero reference counts, I had not used that. Also for `with` statement to work, we will have to use `io.BufferedReader` or implement `__enter__` and `__exit__` methods. What do you think is better?

[2018-01-30 01:27] alvations commented on #1928
~I think we don't have to implement the enter/exit methods since we'll not be inheriting from the BufferedReader but using the context to open and close and then let handle `io` module handle the gc (garbage collection).~

This is tricky, the `io.BufferedReader` already has the `seek()` like function and when `SeekableUnicodeStreamReader` inherits from that without doing any super `__init__()`, I'

[2018-01-30 20:28] somnathrakshit commented on #1939
Interested in fixing this

[2018-01-30 21:31] yipjustin opened #1949 "Weird conflict with nltk and google storage api under ProcessPool"
Hello,

I experienced some weird error when using `nltk` and `google.cloud.storage` under `ProcessPool`.

After `import nltk`, I tried to extract data from google storage from the main process, it works fine. See `first_main_then_pool()` below.

However, when I extract data from a process pool executor directly after `import nltk`, See `only_pool()`, I get the following error:

[code]

I am curiou

[2018-01-31 06:52] somnathrakshit commented on #1946
Opened a PR at #1950.

[2018-02-01 13:11] zainulabidin302 commented on #856
If you remove `inspect.py` keep in mind to remove `inspect.pyc` too

[2018-02-03 10:32] craaaa commented on #1934
I'd like to work on this!

[2018-02-03 13:57] francescomambrini commented on #1237
Just one quick follow-up!
I was trying to port some code with calls to `StanfordNER` that I had written on a machine with NLTK 3.2.1 to a machine where I have NLTK 3.2.5. I am still using the hold distribution  `stanford-ner-2015-12-09` on both machines and `$CLASSPATH` is configured correctly on both.
Everything was working well on NLTK 3.2.1, but I met this very problem on NLTK 3.2.5. The workar

[2018-02-09 21:48] gkaramanolakis opened #1952 "Tweet Tokenizer - preserve_case does not lowercase always"
When the preserve_case argument of TweetTokenizer is set to True we should expect that it lowercases examples like 'Ok' or 'A' but it doesn't.

[2018-02-10 14:35] drevicko opened #1953 "tweet tokenizer has US-specific phone number regex"
The [phone number regex](https://github.com/nltk/nltk/blob/develop/nltk/tokenize/casual.py#L125) is ONLY for united states phone numbers. Standard international numbers are not recognised at all.

Further, this regex is (causing problems with long numbers in general)[https://github.com/nltk/nltk/issues/1799].

Creating a regex capable of recognising ALL phone numbers (including other countries and

[2018-02-12 11:48] drevicko opened #1954 "Casual tokeniser allows newline in elipses and phone number tokens"
This may be intended behaviour, but if so, it would be good to point it out in the docs as it is ONLY possible in these two cases and it is a common assumption that tokens do not contain newline characters.

It may be appropriate to disallow newlines in these tokens. This can be done by, [for example](https://stackoverflow.com/a/3469155/420867), using `[^\S\r\n]` in place of `\s` in the relevant r

[2018-02-13 13:03] gdavoianb commented on #1877
@IanSchweer, sorry, but the problem still occurs in Python 2 (I'm using the latest version of `nltk`).

[2018-02-14 19:11] JeffreyQ commented on #736
Bump, generate() references are still there.

[2018-02-14 19:21] goodmami opened #1955 "Misspelled function parameter for MosesTokenizer: agressive_dash_splits"
Just a minor issue. The `agressive_dash_splits` is misspelled. It should be `aggressive_dash_splits`. Or maybe use `hyphen` instead of `dash` to be consistent with both the `AGGRESSIVE_HYPHEN_SPLIT` class member and with `tokenizer.perl`.

http://www.nltk.org/api/nltk.tokenize.html#nltk.tokenize.moses.MosesTokenizer.tokenize

Also this functionality does not appear to be tested.

[2018-02-15 00:04] goodmami commented on #1955
Thanks @somnathrakshit for the quick PR. Note that altering the parameter name breaks the API, so it might be better to first provide it as an option with a DeprecationWarning when the old parameter name is used, then it can be fully removed at the next major version. Maybe a regular NLTK dev can comment on the procedure here, as I didn't see it mentioned explicitly in the developer guidelines or

[2018-02-15 00:44] alvations commented on #1955
@goodmami @somnathrakshit no worries about breaking API in this case. Most people would be more stymied by the typo argument instead of the correct one =)

Regarding deprecation and breaking user space, in this case it's our fault and it's easier for users to update to new NLTK version.

But in other cases, esp. when it comes to more major changes that's not just typo, we'll can use [`warnings`](h

[2018-02-15 01:46] alvations commented on #1952
[`preserve_case`](https://github.com/nltk/nltk/blob/develop/nltk/tokenize/casual.py#L291) is supposed to keep the original capitalization of the input if it already there. By default, it's set to True. E.g.

[code]

If it's set to False, it will start lowercasing everything except for emoticons, see https://github.com/nltk/nltk/blob/develop/nltk/tokenize/casual.py#L308. E.g. :

[code]

To get lowe

[2018-02-15 01:49] alvations commented on #1953
Instead of attempting to capture every possible phone number, if there's a way to "enable/disable" a regex when initializing the `TweetTokenizer` that'll be more helpful, e.g. `TweetTokenzier(use_phone_regex=False)` should disable the phone regex.

But this is a little more tricky to separate it out from the other list of regexes in https://github.com/nltk/nltk/blob/develop/nltk/tokenize/casual.py

[2018-02-15 02:03] alvations commented on #1954
I think something like there's more things that `\s` represent. To capture a single space, it would be `[^\S\t\n\r\f\v]` or simply space ` ` =)

We could simply use `(?:\.(?: *\.){1,})`  for elipses instead of `(?:\.(?:[^\S\t\n\r\f\v]`*\.){1,})`.

But I think of why `\s` is helpful in tweets, e.g. people who use "vertical elipsis"

[code]

I'm not sure which is more appropriate since I don't work

[2018-02-15 02:08] alvations commented on #1934
@craaaa Sorry for the late reply, was away for a while.

Feel free to work on it and create a PR afterwards.
P/S: Don't worry about breaking anything, there'll be checks and reviews before we merge the code.

[2018-02-15 05:12] somnathrakshit commented on #1955
Thanks @alvations for letting us know. As a beginner in open source, nltk has been nice to tinker with. Are you taking part in GSoC 2018?

[2018-02-15 06:53] craaaa commented on #1934
Implemented the function suggested in the stackoverflow, but it didn't seem to map to the correct senses -- for instance, `synset_from_sense_key('afraid%3:00:00::')` returned `afraid.a.04` instead of `afraid.a.01`. This problem extends to other POS as well. (Sense keys were obtained from [Wordnet's online interface](http://wordnetweb.princeton.edu/perl/webwn?s=afraid&sub=Search+WordNet&o2=&o0=1&o8

[2018-02-17 03:21] swanstro opened #1959 "NLTK installation error"
I am trying to install nltk on my work computer. I have admin access, but I keep getting the following error. Clearly I am doing something wrong or there is a permission issue I need to resolve, but I am not sure what. I would be grateful for any tips/advice.
<img width="698" alt="nltk_error" src="https://user-images.githubusercontent.com/26263982/36337597-02c3c7a0-1357-11e8-962f-d0fc3d8e40f4.png"

[2018-02-18 02:12] 2hands10fingers opened #1961 "AttributeError: module 'nltk' has no attribute 'download"
[code]

[code]

Specs:
Mac, High Sierra, Python 3.6

[2018-02-18 11:36] NouraAls commented on #1852
Still having the error :
AttributeError: 'ArabicStemmer' object has no attribute '_ArabicStemmer__conjugation_suffix_verb_present'

I'm using python 3

[2018-02-18 12:29] greenat92 commented on #1852
@NouraAls solved in  [PR](https://github.com/nltk/nltk/pull/1856)

[2018-02-19 03:44] somnathrakshit commented on #1961
Try putting the name of the model as a parameter of the download() function. e.g.

[code]

[2018-02-19 03:52] 2hands10fingers commented on #1961
@somnathrakshit I have done so by adding 'popular' and 'all', but receive the same error.

[2018-02-19 04:17] somnathrakshit commented on #1961
'all' and 'popular' will work in an interactive console. Are you trying that or running from a .py script?

[2018-02-19 04:33] 2hands10fingers commented on #1961
@somnathrakshit Yes. I also tried `nltk.download('punkt')` as  you suggested and got the same error.

[2018-02-19 04:41] somnathrakshit commented on #1961
Can you try it out from an interactive console instead of a .py script? It worked for me.

[2018-02-19 05:02] alvations commented on #1961
Please rename your file from `nltk.py` to something else, e.g. `my_nltk_script.py`. Then rerun the script. Please see

- https://meta.stackoverflow.com/questions/360877/canonical-q-a-for-module-x-has-no-attribute-y-in-python
- https://sopython.com/canon/96/attributeerror-module-object-has-no-attribute-foobar/

Also, normally you shouldn't be downloading the NLTK data downloads in a script, unless

[2018-02-19 05:16] alvations commented on #1959
On Mac OSX, try these instruction.

## First install `pip`

either through:

[code]

Or using homebrew:

[code]

(See https://stackoverflow.com/q/17271319/610569)

## [Optionally] Install and create virtual environment

See http://docs.python-guide.org/en/latest/dev/virtualenvs/

## Install for user.

[code]

[2018-02-20 00:52] alvations opened #1962 "Better CONLLCorpusReader"
Alexis has an improved version of the CONLL corpus reader on https://stackoverflow.com/a/46875652/610569

It'll be good if we incorporate these changes by either:

 - retaining the name `BetterConllCorpusReader` and inherit from `ConllCorpusReader`
 - refactoring the `ConllCorpusReader` and remove the hard-coded columns and a more flexible `self._get_iob_words`

[2018-02-20 15:57] satyammittal opened #1963 "word_tokenize not tokenizing strings containing ','"
I tried
[code]
**Output I am getting:**
['g', ',', 'a', ',', 'b', ',', 'c', ',', '123', ',', 'g32,12', '123121', '{', '1', '}']
**Output should be**
['g', ',', 'a', ',', 'b', ',', 'c', ',', '123', ',', 'g32',',','12', '123121', '{', '1', '}']

[2018-02-20 18:26] beniza commented on #1963
word_tokenize works only at the sentence level. So you'll have to split at the sentence level and the tokenize the sentences.
You can remove punctuation without using NLTK.
`Please ref. to this question on SE for more info:` https://stackoverflow.com/questions/15547409/how-to-get-rid-of-punctuation-using-nltk-tokenizer

[2018-02-20 20:51] jnothman commented on #1963
Are you concerned about "g32,12" staying as one token? Yes, this is in accordance with the rules that word_tokenize follows, and is consistent with other implementations of Penn TreeBank-style tokenization. Consistency across your NLP pipeline is often more important than the specific rules.

[2018-02-20 22:17] rameshjes commented on #1489
Hi guys,
I have completed implementation of word aligner using NLTK. This is diagram of word aligner. I wanted to know, how should I integrate my code and send pull request?

![word_aligner](https://user-images.githubusercontent.com/25647309/36452182-c79862d6-1693-11e8-8c3a-3d24647448d8.png)

[2018-02-21 01:04] alvations commented on #1963
I'm interested in which regex causes that particular "non-split" though. I suspect it's the digits punctuation regex keeping the comma between numbers. It'll be good to know. Get back to you all in a while.

[2018-02-21 01:17] alvations commented on #1963
Yes, it looks like the [digits punctuation regex](https://github.com/nltk/nltk/blob/develop/nltk/tokenize/treebank.py#L75) is forcing the comma between the numbers.

[code]

[out]:

[code]

But keeping the character before the digits is not well-motivated since we usually get text that contains `US$10,000` and expect the tokenizer to return `['US', '$' , '10,000']`.  But if we have something like

[2018-02-21 01:18] jnothman commented on #1963
Oh of course, it's only when the comma is followed by a digit that it is
not split: '([:,])([^\d])' -> ' \1 \2'​

Shrug. It's too rare a case to handle specially, isn't it?

The rule could instead be '(\b[\d+][:,])([^\d])' but you really need a whole
lot of non-regression tests to make any change to a tokeniser.

[2018-02-21 01:22] jnothman commented on #1963
Sorry, wrong expression. Hard to compose. Hard to test. Hard to maintain. I'd say Won't Fix.

[2018-02-21 01:29] alvations commented on #1963
Yes, if we do try to fix this, it's hard to maintain and not the true port of the sed `TreebankWordTokenizer`.

The [chervon fix](https://github.com/nltk/nltk/blob/develop/nltk/tokenize/__init__.py#L97) is an easy hack on top of it. And maybe these hacks has to been handled in a similar way.

But I do know of one type of counter examples where we would want the commas to be kept when the "token" i

[2018-02-21 01:41] alvations commented on #1963
@satyammittal Thank you for raising this bug/feature!

I suggest chaining tokenizers to achieve your desired output. Hope this helps:

[code]

Note: If you don't need other fancy regex from the `TreebankWordTokenizer`, the simple `punct_tokenize` should be enough.

[2018-02-21 01:45] alvations commented on #1961
@2hands10fingers did changing your script filename resolve the issue?

[2018-02-21 01:46] alvations commented on #1959
@swanstro did the installation above helped you to install `nltk` successfully?

[2018-02-21 02:05] swanstro commented on #1959
Thank you so much for this tip, @alvations --I will be at my office computer tomorrow and will try it!

[2018-02-21 03:59] 2hands10fingers commented on #1961
@alvations While it did bring up the GUI as intended, I have run into an SSL error which has rendered my ability to interact with the GUI.  This is my error.

[code]

[2018-02-21 04:05] alvations commented on #1961
Are you using Python3.6? If so, it looks like ~an upstream bug from CPython~ similar to this issue: https://bugs.python.org/issue28150

See

- https://stackoverflow.com/questions/41348621/ssl-error-downloading-nltk-data
- https://stackoverflow.com/a/41692664/610569

TL;DR
====

[code]

[2018-02-21 04:26] 2hands10fingers commented on #1961
`sudo /Applications/Python\ 3.6/Install\ Certificates.command`

Did the trick! I was definitely using Python 3.6. Thank you!

[2018-02-21 04:26] #1961 closed, assigned to nobody

[2018-02-21 16:52] swanstro commented on #1959
@alvations -- it worked!  many thanks for your help.  I didn't need to create a virtual environment--the

 pip install --user nltk

worked perfectly.

[2018-02-22 00:58] #1959 closed, assigned to nobody

[2018-02-23 18:59] kindloaf commented on #1342
Hi - I would like to use the "old" feature of language model in NLTK. What is the latest version that still has the pre-trained language model (for English)?

[2018-02-26 00:27] jaehoonhwang commented on #1962
Hi, can I take this one?

[2018-02-26 00:55] alvations commented on #1962
@jaehoonhwang sure! Create a pull-request once it's ready and there'll be some review and it'll be merge once the test pass and it's good to go =)

[2018-02-26 08:45] jaehoonhwang commented on #1962
I have implemented using the first route: creating another class named `BetterConllCCorpusReader`.
Is there a way that I can get this tested?

[2018-02-27 02:07] mrelich opened #1967 "Different results using tag vs. tag_sents"
I was having an issue tagging short sentences and I tracked the issue to this line: https://github.com/nltk/nltk/blob/cdaa7dd4e60251390a82e42456edb359191ea6e8/nltk/tag/stanford.py#L190

The full explanation can be found [here](https://stackoverflow.com/questions/48998936/nltk-tag-tag-sents-give-different-results).  I think that the executable is not recognizing this argument (eg. swap false for tr

[2018-02-27 02:26] #1934 closed, assigned to nobody

[2018-02-27 17:54] PanderMusubi opened #1968 "Incorrect word_tokenize for Dutch"
I have observed the following incorrect word_tokenize for Dutch. The characters `'` and `’` are very often used unbalanced to represent an apostrophe that is part of correct word. It will chopped up words when tokenizing on it. The in the code below `tmp` is the correct tokenization.

    from nltk import word_tokenize
    from pprint import pprint

    sentence = "Test alinea's alinea’s ‘smaak’ '

[2018-02-27 20:32] PanderMusubi opened #1969 "Improve word tokenizer on balanced opening double quotes"
The following example:

    #!/usr/bin/env python3
    import nltk
    text = 'He said: "No!" He said: "No!" and walked away.\nHe said: “No!” and walked away.\n\nHe asked: "Really?" He asked: "Really?" and walked away.\nHe asked: „Really?” and walked away. He asked: „Really?” and walked away.'
    paragraphs = nltk.LineTokenizer().tokenize(text)
    for paragraph in paragraphs:
        sentences =

[2018-03-02 09:49] marcevrard opened #1970 "WordNet: Synsets' relations are absent from their corresponding lemmas"
In WordNet, it seems to me that the relations relevant for a given synset should be relevant for its corresponding lemmas as well. In the `nltk` implementation, all semantic relations implemented as methods for synsets (e.g., `hypernyms()`) are indeed also available for lemmas. Though for example, the lemma `trick.n.01.trick` `hypernyms` method does not return anything, while its synset's does.

U

[2018-03-05 09:25] MartinNeighbours commented on #1765
Just to add to rmalouf solution which works for me after a few tweaks:

Mac
Jupyter
Python 2.7

You need to have ghostscript installed for this to work: https://wiki.scribus.net/canvas/Installation_and_Configuration_of_Ghostscript
brew install ghostscript

If this fails due xcrun: error: invalid active developer path

Then do the following first
see http://mds.is/xcrun-error/
xcode-select --instal

[2018-03-06 10:24] jaehoonhwang commented on #1962
@alvations Just waiting for suggestions.

[2018-03-07 07:27] altescy opened #1971 "RecursionError in PorterStemmer._is_consonant"
RecursionError occurs in [`PorterStemmer._is_consonant`](https://github.com/nltk/nltk/blob/5a63a62cfc2bdd9d35d863d1c583942e3e6baf6b/nltk/stem/porter.py#L126) when trying to stem a word containing 'yyyyyyy....'.
If the length of 'yyyyyyy....' is larger than the maximum recursion depth, PorterStemmer cannot stem the word.

[code]

[2018-03-08 00:11] ekembi opened #1972 "Trivial typos in book"
All these mistakes are in the book located at the URL: http://www.nltk.org/book/ and the pages under it.

Typo in Preface:
In ch00.html, "the remaining time of time to" should be "the remaining amount of time"

   Chapter 3:
replacet

   Chapter 4:
"ph.d..n.01" should be "ph.d.n.01", because paragraph says it has four periods, not five.

Strange end of paragraph: ".. doctest-ignore:"

Chapter 5:
"

[2018-03-08 00:12] ekembi opened #1973 "missing bibliography info"
Missing bibliography:
http://www.nltk.org/book/bibliography.html
The page is empty except for a heading saying "Bibliography".

[2018-03-08 02:00] alvations commented on #1972
@ekembi Thanks for raising this issues! They should be reported to https://github.com/nltk/nltk_book =)

[2018-03-08 02:01] alvations commented on #1973
@ekembi Thanks for raising this issues! They should be reported to https://github.com/nltk/nltk_book =)

[2018-03-08 02:08] alvations commented on #1968
I think the `word_tokenize` was originally meant for English. It's possible to extend it like how we did it for the french chervon https://github.com/nltk/nltk/issues/1434.

But we'll need some more explanation as to how apostrophe works for Dutch. Pardon the Dutch noobness =)

Is it safe to assume that if the not-normal apostrophe `’` appears at the start of the word i.e. `$’W+`, it's doesn't nee

[2018-03-08 02:16] alvations commented on #1971
@altescy That is some extreme examples you have found! =)

A normal word shouldn't have > 990 characters, unless it's languages without explicit word boundaries (for those, after tokenization, it shouldn't have 990 characters).

[code]

The stress test if we increase the number of character seems to break at 996:

[code]

I'm not sure what to fix here though.  Raise a custom more informative error

[2018-03-08 02:26] alvations commented on #1969
@PanderMusubi yes, the `“` has been patched together with the chevron fix at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/__init__.py#L105

Adding the lower double quotes there should achieve the same, e.g. from #1974

[code]

Just like to double check the `„` is only a starting quote, right? Would it ever be used as a closing quote?

[2018-03-08 04:57] altescy commented on #1971
I think it is not very important to fix because it is a very rare case.

However, this error is completely unexpected to me.
It is important to know the special token pattern that causes deep recursion.

I'll be careful of the token length and the special pattern when using the stemmer:)

[2018-03-08 06:52] alvations commented on #1971
Ah, that's because of this rule at https://github.com/nltk/nltk/blob/develop/nltk/stem/porter.py#L140
As long as the token ends with >990 `y` the `RecursionError` will kick in.

If we do it with other characters, it'll work fine, e.g.

[code]

It's because of the recursion when `self._is_consonant` calls itself inside the function.

[code]

----

P/S: There's a way to set a higher limit globally (

[2018-03-08 11:44] PanderMusubi commented on #1968
I will add full specs on Dutch here soon, also for https://github.com/nltk/nltk/issues/1969 It is not that trivial as it looks in the first place, but it can be parsed.

[2018-03-08 13:20] ekembi commented on #1973
https://github.com/nltk/nltk_book/issues/209

I finished reporting it ot the nltk_book page, just now.

[2018-03-08 13:21] ekembi commented on #1972
https://github.com/nltk/nltk_book/issues/210
I finished reporting it on the nltk_book page, just now.

[2018-03-08 14:09] PanderMusubi commented on #1968
Proper balanced use for a word, phase, sentence or multiple sentences:
1. double neutral quotes: opening `"` U+0022 and closing `"` U+0022
2. single neutral quotes: opening `'` U+0027 or U+0060* and closing `'` U+0027
3. double quotes: opening `“` U+201C or `„` U+201E or `‟` U+201F and closing `”` U+201D
4. single quotes: opening `‘` U+ 2018 or `‚` U+201A or `‛` U+201B and closing `’` U+2019
5. do

[2018-03-09 01:07] alvations commented on #1968
@PanderMusubi Thanks for the informative gamut of information!

As for

That's covered, `word_tokenize()` will not make a mistake with these:

[code]

For the following I think it's safe to put a space after the name. BTW, why is there an apostrophe after the name in these cases?

To the last point, these are the problematic ones:

My suggestion is to not try to extend the `word_tokenize` to handl

[2018-03-09 01:08] alvations commented on #1968
As for #1969, the double quotes must be padded with space regardless so the latest merge code #1974 patched that.

[2018-03-09 01:38] alvations commented on #1968
One other solution I could think of is to first block out a list of phrases, then tokenize and replace it back, e.g.

[code]

[out]:

[code]

I think this is a useful feature that we can easily extend to the current `word_tokenize()` but I would prefer if more people expressed interest before creating a PR.

I find this more scalable than messing with regexes inside the tokenizer esp for single ap

[2018-03-09 01:47] alvations commented on #1968
@rmalouf, the proposed extension for `word_tokenize` above sort of overlap with `MWETokenizer`, is it a feature worth adding?

This is a little complicated since it involves punctuations in the MWE and I couldn't find an elegant solution to re-stitch the phrases back using `MWETokenizer`, so I thought replacing them before tokenization and putting them back is easier.

[2018-03-09 02:04] alvations commented on #1962
@jaehoonhwang Sorry been a little busy for a while. I've tried to ask alexis from SO to help look at the PR, lets wait a little =)

[2018-03-09 03:34] alvations commented on #1969
For the double quotes, I think it's clear that we should pad with spaces. #1974 should have patched this. @PanderMusubi would this issue be resolved?

[2018-03-09 13:45] almaleksia commented on #1851
@alvations I looked into this issue - there are several problems.  First two errors  you reported  look easy to fix:
1) looks like encoding is detected incorrecly for this corpus by xml parser, can be solved by  passing encoding to parser explicitly.
2) can be fixed by supporting multiple files

But I tried to parse single file and got this:
`>>> pil.words('Zovirax_Cream.sgml')
Traceback (most rec

[2018-03-10 02:30] carrickdb commented on #1425
Not for me. I'm having the same SSL issue for Python 3.6. The downloader works for me for Python 2.7, however.

I restarted my computer and also upgraded nltk as you suggested. I'm on OSX 10.13.3, using python 3.6. I get the following errors.
![screen shot 2018-03-09 at 6 28 35 pm](https://user-images.githubusercontent.com/7660304/37237429-ed31c1e0-23c7-11e8-94f5-a19653381d3d.png)
![screen shot 20

[2018-03-10 09:32] alvations commented on #1425
@carrickdb your issue is different from the original issue. Yours is the Mac issue raised previously.

Please see https://github.com/nltk/nltk/issues/1961#issuecomment-367207040

In the terminal

[code]

[2018-03-10 10:42] arkgithubforyou opened #1975 "missing argument in sentence_bleu smoothing methods"
I do not understand what is going on. So when I try:

    ref = [['a', 'b', 'd', 'e', 'f']]
    c = ['a', 'b', 'c', 'd']
    nltk.translate.bleu_score.sentence_bleu(ref, c,
                                        smoothing_function=nltk.translate.bleu_score.SmoothingFunction.method3)

I get:
[code]
that line 199 actually looks like:
[code]

[2018-03-10 15:24] #1975 closed, assigned to nobody

[2018-03-10 22:01] Hyperparticle commented on #69
I am also trying to train an HMM on unsupervised data, first training with supervised data.  I can apply smoothing in the supervised training via the `estimator` parameter, but there is no simple way to smooth the result of the unsupervised training, as the transitions and outputs erase the underlying `FreqDist` used to calculate smoothing.

Without smoothing, both supervised and unsupervised eval

[2018-03-14 01:40] alvations opened #1977 "word_tokenize doesn't treat backtick as a starting quote"
`word_tokenize` fails to treat backtick as a starting quote, resulting in the ` being attached to the following word, e.g.

[code]

Note: the token "**`to**" token.

[2018-03-14 01:53] alvations commented on #1977
The backtick is most probably an artifact of the old corpora following the PTB style of open quotations so they should be treated separately from the extended opening quotes we've added to the `word_tokenize()` at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/__init__.py#L105

Instead of jamming the backtick into the group of open quotations, I suggest splitting it with an OR to treat it

[2018-03-14 02:31] alvations opened #1978 "Consistent pos argument between wn.synsets() and WordNetLemmatizer.lemmatize()"
Currently, there's some inconsistency of how POS is treated in `wn.synsets()` and `WordNetLemmatizer.lemmatize()`, e.g.

[code]

I'm not sure how to allow `None` to `WordNetLemmatizer.lemmatize()` though.

**What should be the expected behavior of `pos=None`, default to `pos='n'`?** If so, then we can make changes at https://github.com/nltk/nltk/blob/develop/nltk/stem/wordnet.py#L39:

[code]

[2018-03-15 05:52] shuaihuaiyi opened #1979 "nltk.stem.arlstem.ARLSTem#pref(token) returns None"
Is this a bug or feature? Have you missed a return statement at the end of this function?

[2018-03-15 09:38] alvations opened #1980 "span_tokenize rtype should be standardized"
Currently, there are different Tokenizer classes having the `span_tokenize()` function that returns a mix of generator/list outputs:

| Tokenizer | rtype |
|:-|:-|
|[CharTokenizer](https://github.com/nltk/nltk/blob/develop/nltk/tokenize/simple.py#L68)| generator|
|[LineTokenizer](https://github.com/nltk/nltk/blob/develop/nltk/tokenize/simple.py#L123)| generator|
|[StringTokenizer](https://github.c

[2018-03-15 18:35] carrickdb commented on #1425
Oh. Thank you.

[2018-03-15 22:10] hilaloytun commented on #1923
Hi @liujinliang01
thank you very much for your post; I followed the steps, but it didn't work for me... Do you think should I remove Python first (now I'm using 3.6.4 version) and download Python 3.6.4 again?

[2018-03-15 23:41] alvations commented on #1923
The instructions on https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 should work if you **don't** use the . exe file.

[2018-03-16 00:45] jxu commented on #1387
I had this issue and it turns out fonts were the problem. https://stackoverflow.com/a/42393994/3163618

[2018-03-16 04:41] ShradhaJaichand opened #1981 "nltk.download() error"
C:\Users\Shradha\AppData\Local\Programs\Python\Python37\python.exe C:/Users/Shradha/PycharmProjects/untitled/start.py
Traceback (most recent call last):
  File "C:/Users/Shradha/PycharmProjects/untitled/start.py", line 2, in <module>
    nltk.download()
  File "C:\Users\Shradha\AppData\Local\Programs\Python\Python37\lib\site-packages\nltk\downloader.py", line 661, in download
    self._interactive

[2018-03-16 22:54] pulkitmaloo commented on #1980
Can I work on this?

[2018-03-17 00:31] pulkitmaloo commented on #1980
Please review PR #1983
I have converted all rtypes to generator and updated unit test cases for TreebankWordTokenizer

[2018-03-17 04:54] liujinliang01 commented on #1923
HI, I have forgotten what I did then. It was a very frustrating experience and I was on the verge of giving up. That is all I remember. I don't want to go back and re-live that experience.
Even now, I have still not succeeded in getting matplotlib up and running though my Python is working.
Python is a poweful language with the many libraries. But I really don't like this kind of bitter sweet expe

[2018-03-17 12:11] hilaloytun commented on #1923
Hi, thanks for the comment.
Actually it appeared that it was my fault, because I had there different versions of Python, and I had to import nltk to 3.6.4, but I was using 3.2.5 all the time.

But maybe I can add here a method that really helped me. in cmd
py -3 -m pip install nltk
and then I could see If it installed nltk...

[2018-03-19 05:47] alvations commented on #1980
Thanks @pulkitmaloo for the PR! I've reviewed it and it looks good.

We'll just let leave PR up for a while and see whether there's any strong objections on returning generators instead of list.

[2018-03-19 05:49] alvations commented on #1981
@ShradhaJaichand How did you install `nltk`? It looks like you're using Windows OS. Did you follow the instructions on https://gist.github.com/alvations/0ed8641d7d2e1941b9f9 ?

Instead of using the downloader GUI, did `nltk.download('popular')` in Python work for you?

[2018-03-19 06:06] pulkitmaloo commented on #1980
Also, I didn't find any unit tests for Tokenizer classes except for TreebankWordTokenizer, should I work on it?

[2018-03-19 06:18] alvations commented on #1980
Sure! If you would like to write some tests for the other Tokenizer classes, that'll be great!

But usually, people only use `RegexpTokenizer`,  `PunktSentenceTokenizer` and `TreebankWordTokenizer`.

[2018-03-19 06:30] ShradhaJaichand commented on #1981
I am actually downloading with python and i followed all the instructions
to download it with python 2.7 or any other 3.x Version of python. My
windows 10 OS is of 64 bit. But whenever i write nltk.download() it don't
work and gives me xml tree parser error on all the versions of python that
i downloaded like 3.6, 3.7, 3.5, 2.7. With anaconda also its giving me
error.I also checked index.xml file

[2018-03-19 06:36] alvations commented on #1981
Which `nltk` version are you using? What's the output of `import nltk; print(nltk.__version__)`

Try:

[code]

or

[code]

[2018-03-19 07:13] ShradhaJaichand commented on #1981
Pip install nltk
Nltk 3.2.5

On 19 Mar 2018 12:06 pm, "alvations" <notifications@github.com> wrote:

[2018-03-19 07:22] alvations commented on #1981
Just double checking do you have internet connection to your machine (without a proxy/firewall)? Or is it going through proxy?

Is it an institution's machine or your own?

It looks like the same problem as https://stackoverflow.com/questions/40458145/elementtree-parseerror-while-downloading-nltk-corpus

Could you do this `wget` on the command prompt?

[code]

[2018-03-19 07:33] ShradhaJaichand commented on #1981
Its my own machine and also i have the internet connection. I have looked
several times on stack overflow but can't find solution. It sometimes shows
a screen along with the error but shows a dialog box showing server problem
or host problem or connection attempt failed even if my internet is working
totally fine.

[2018-03-19 07:55] alvations commented on #1981
What is the output of this wget command on the the command prompt from your machine?

[code]

[2018-03-19 08:49] ShradhaJaichand commented on #1981
Its not recognizing it as an internal or external command.

On Mon, Mar 19, 2018 at 1:26 PM, alvations <notifications@github.com> wrote:

[2018-03-19 09:20] alvations commented on #1981
Use powershell and try this:

[code]

What output do you get?

If it works without an XML error, please consider reinstalling NLTK using powershell following instructions from https://gist.github.com/alvations/0ed8641d7d2e1941b9f9

[2018-03-19 11:35] ShradhaJaichand commented on #1981
OUTPUT OF:  wget https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/
index.xml
StatusCode        : 200
StatusDescription : OK
Content           : <?xml version="1.0"?>
                    <?xml-stylesheet href="index.xsl" type="text/xsl"?>
                    <nltk_data>
                      <packages>
                        <package
checksum="d577c2cd0fdae148b36d046b14eb48e6" id="maxent_

[2018-03-19 20:47] nabihach opened #1984 "Wrong BLEU scores?"
I see strange (and possibly wrong) behaviour of the BLEU implementation in NLTK version 3.2.5 (I am using Ubuntu 16.04, Python 3.5.2). Here are my logs:
[code]
Can someone help me understand what's going on here?
Thanks.

EDIT:
Testing with cumulative BLEU scores also yields unexpected results:
[code]
It seems that there are bugs when using n-th order BLEU scores with no n-gram overlaps.

[2018-03-19 20:57] alvations commented on #1984
Please see https://github.com/nltk/nltk/pull/1844#issue-144280278

[2018-03-20 07:19] ShengleiH opened #1985 "Makefile error when install ReppTokenizer"
I have followed the steps:

[code]
I have passed all steps except 'make'.

And I encountered errors in "make step":

[code]
Does anyone could help me?

[2018-03-20 08:05] alvations commented on #1985
What's your OS build?  `lsb_release -a`

What's your make version? `make --version`

[2018-03-20 08:47] alvations commented on #1985
@ShengleiH It looks like the `libtoolize` isn't automatically run on the newer autoreconf that comes with the modern version of debian.

So the new instructions to install `repp` is:

[code]

Tested on Ubuntu 16.04.3.  Hope the above works on your machine.

The instructions are updated on https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software#repp-tokenizer

[2018-03-20 16:15] meldavis opened #1986 "Zipfile as corpus raises exception unless subdirectory is appended to filename"
Unable to use a zipfile as a corpus unless a subdirectory is appended to the zipfile name.  A root name like 'twitter_samples.zip' will raise an exception.  But 'twitter_samples.zip/twitter_samples/' will work.

Using python 3.6.4, NLTK 3.2.5, Windows.

## Example using the twitter corpus.

#### Fails with exception
[code]
#### This works
[code]

## Traceback
[code]

[2018-03-21 07:30] randidwiputra commented on #1752
My script name is tokenize.py too and error when running. Thanks dude

[2018-03-21 11:08] ShengleiH commented on #1985
@alvations Thanks for replying, unfortunately, it still doesn't work for me:

[code]

And my OS build is:

[code]

And make version is:

[code]

[2018-03-21 11:47] alvations commented on #1985
Could you post what is on the console when you do the steps before the `make`?

[2018-03-21 12:50] Euphorbium opened #1987 "ValueError: unknown locale: UTF-8"
when importing `nltk==3.2.5` I am getting locale unknown error. Traceback is long, but I don't think it matters. the issue is in:

[code]

Python 3.5.2 :: Continuum Analytics, Inc.  Running on mac osx

[2018-03-21 13:12] alvations commented on #1987
I'm afraid you'll have to post more of the traceback to understand what's happening.

[2018-03-21 18:18] Euphorbium commented on #1987
[code]

[2018-03-21 19:06] kaselby opened #1988 "sentence_bleu crashes with method1 smoothing if the input is one word long"
Using python 3.6.1, nltk 3.2.5

I ran the following:
test = ['hi']
smooth = SmoothingFunction.method1
sentence_bleu([test], test, smoothing_function=smooth)

This gives me the error:
File "/Users/kiraselby/anaconda3/lib/python3.6/site-packages/nltk/translate/bleu_score.py", line 89, in sentence_bleu
    emulate_multibleu)
  File "/Users/kiraselby/anaconda3/lib/python3.6/site-packages/nltk/translat

[2018-03-21 19:39] #1988 closed, assigned to nobody

[2018-03-21 19:40] kaselby commented on #1988
Nevermind, looks like I was just using the smoothing functions wrong. It needs to be SmoothingFunction().method1 instead of SmoothingFunction.method1

[2018-03-22 18:01] ndvbd commented on #1839
I can see info [here](http://www.nltk.org/api/nltk.tag.html#module-nltk.tag.stanford) on how to connect to the POStagger 'server' at port 9000, but I can't find information on how to **run** the Stanford postagger server to listen on port 9000... Anyone knows?

[2018-03-22 18:02] ndvbd opened #1989 "How to run Stanford postagger to listen to port 9000 so we can use it from NLTK?"
How to run Stanford postagger to listen to port 9000 so we can use it from NLTK, without running the Java jar each time (and leave the loaded model in memory, to save time)

[2018-03-22 18:15] dimazest commented on #1989
If I understand you correctly, you need to start CoreNLP server. Refer to https://stanfordnlp.github.io/CoreNLP/cmdline.html

Once the server is running, you can tag sequnces https://github.com/nltk/nltk/blob/develop/nltk/parse/corenlp.py#L363

[2018-03-22 18:18] dimazest commented on #1989
Also, consider using https://github.com/stanfordnlp/python-stanford-corenlp

[2018-03-22 19:11] ndvbd commented on #1989
@dimazest,
Thanks. This is the page that I was looking for:  https://stanfordnlp.github.io/CoreNLP/corenlp-server.html

[2018-03-22 19:50] #1989 closed, assigned to nobody

[2018-03-22 20:15] dimazest commented on #1989
yeah, i meant to link to the corenlp-server page, my mistake

[2018-03-24 15:41] ExplodingCabbage commented on #1778
Just tested this with Martin's reference C implementation from https://tartarus.org/martin/PorterStemmer/c.txt and it also stems "this" to "thi", so I think nltk's behaviour is correct.

Test code:

[code]

Output:

[code]

@alvations note that your example using `stemming` that gets a different result is using the *porter2* stemmer, not the *porter* stemmer. If you'd instead imported the *porter*

[2018-03-25 09:48] ndvbd opened #1990 "Using CoreNLPPOSTagger.tag returns list of tuples in a different size than the input"
Using CoreNLPPOSTagger.tag returns list of tuples in a different size than the input

This happens for example when the input contain some *space* elements: ' '

The tagger simply ignores the spaces and don't return then. This creates difficulties in correlating the output to the input...

[2018-03-25 10:11] alvations commented on #1990
Could you provide an example input, the core NLP output and your expected output?

[2018-03-25 15:43] bayou3 opened #1991 "Why nltk uses "CoreNLPTokenizer(url='http://localhost:9000').tokenize(s) == expected"
Why it uses url='http://localhost:9000', what does it has any matter with Tokenizer??
It always raises errors when I run it. This code is from /python3.6/site-packages/nltk/tokenize/stanford.py.
What I want to do is to tokenize a normal Engltish sentence. I follow the codes of "stanford.py", but it always always pops up errors. How to fix it ?

[2018-03-25 21:31] dimazest commented on #1991
`CoreNLPTokenizer` in NLTK uses CoreNLP via REST API.

Refer to https://stanfordnlp.github.io/CoreNLP/corenlp-server.html for instructions on how to start the server. Once it's running, `CoreNLPTokenizer` will work.

[2018-03-25 22:06] campionfellin commented on #1778
Good looks @ExplodingCabbage . Anything I can do to help here?

[2018-03-26 08:17] 53X opened #1992 "ROUGE Score for NLTK not found"
I don't think that there is an inbuilt function in nltk for calculating the ROUGE Score between two different pieces of text. The ROUGE Score has been introduced in this paper :
                            http://www.aclweb.org/anthology/W04-1013

[2018-03-26 08:24] alvations commented on #1992
@53X Thanks for the suggestion! Yes, that'll be a sort of easy score to code. If you're up for the challenge, feel free to contribute and create a PR for the ROUGE score =)

Don't worry about breaking the code, there'll be reviews and edits to be made after you've submit a PR before it's merged.

[2018-03-26 09:57] deepakmishra commented on #1879
If nltk's new version was backward compatible, there would not have been so many problems. Method signatures have changed. For example, batch_ne_chunk doesn't exist.; it is changed to ne_chunk. node attribute has changed to label. We have no choice but to use 2.0.5.

[2018-03-26 10:01] 53X commented on #1992
@alvations  , I am taking it

[2018-03-26 10:08] alvations commented on #1992
Looking forward to the contribution =)

[2018-03-26 10:10] alvations commented on #1879
For this you could use the version from this patch 54ec4662be59238d957d7fc2662bb1871cb739f0:

[code]

[2018-03-26 10:15] alvations commented on #1879
As for backwards compatibility, I think it's good for research related packages to be updated and move ahead, be it for API considerations or module extensions/enhancement.

Moreover, v.2.0.5 is really too old for any good usage of NLTK =)

[2018-03-26 18:12] alvations commented on #1985
@ShengleiH Could you post what is on the console when you do the steps before the make?

BTW, have you installed `sudo apt-get install libtool`?

[2018-03-26 18:51] 53X opened #1993 "Weighted Longest Common Subsequence forROUGE metric in nltk.translate"
Probably NLTK doesn't have any inbuilt function for finding the Longest Common Subsequence between two pieces of texts .

[2018-03-27 03:37] alvations commented on #1993
Yes, but native python does =) https://docs.python.org/3/library/difflib.html#difflib.SequenceMatcher.find_longest_match

[2018-03-27 11:24] 53X commented on #1993
@alvations , the link you provided answers the Longest-Common-substring problem but not the Longest-Common -Subsequence problem. In the **Longest-Common -Subsequence , if we have 2 strings ----  " police killed the gunman" and " police kill the gunman" , then the answer should be " police the gunman**"

[2018-03-27 17:38] lifengjin opened #1994 "misalignment in pretty print trees with Chinese"
If the leaves of a tree are Chinese words, the pretty printed tree is misaligned:

[code]

A minimal example:
[code]

[2018-03-28 02:18] alvations opened #1995 "word_tokenize keeps the opening single quotes and doesn't pad it with space"
`word_tokenize` keeps the opening single quotes and doesn't pad it with space, this is to make sure that the clitics get tokenized as `'ll`, `'ve', etc.

The original treebank tokenizer has the same behavior but Stanford CoreNLP doesn't. It looks like some additional regex was put in to make sure that the opening single quotes get padded with spaces if it isn't followed by clitics.

There should b

[2018-03-28 02:26] josephcc commented on #139
Hi guys,

I've been writing a search engine backend with the default PorterStemmer in nltk, not knowing that it doesn't behave the same way as many other Porter stemmer implementations. Now that I'm working on the front-end using Javascript I'm running into bugs where the frontend and my backend stem words differently. I was wondering what I should look at if i need to recreate nltk's default Port

[2018-03-28 02:40] alvations commented on #1995
If we make the following changes to `word_tokenize` at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/__init__.py, it would achieve similar behavior as of Stanford CoreNLP:

[code]

[out]:

[code]

The above regex hack will cover the following clitics:

[code]

**Are there more clitics that should be added?**

[2018-03-28 02:48] #1977 closed, assigned to nobody

[2018-03-28 02:54] alvations commented on #1991
Hope the following helps.

In terminal, start the server:

[code]

In Python:

[code]

[2018-03-28 02:57] alvations commented on #1987
@Euphorbium Ah, your locale isn't set by default on your system.

Try this in terminal:

[code]

Then try `import nltk` in Python again. Did that resolve your issue?

[2018-03-28 03:25] alvations commented on #1993
@53X whoops sorry. Just took a look at the ROGUE paper carefully.

The O(mn) solution from https://www.geeksforgeeks.org/longest-common-subsequence/ and https://rosettacode.org/wiki/Longest_common_subsequence#Python would help.

Don't think the substring is needed, but if needed, something like this https://www.geeksforgeeks.org/printing-longest-common-subsequence/ would work.

[2018-03-28 04:14] alvations commented on #1993
Here's an implementation to unify the weighted and normal LCS function for the ROGUE metric. You can use this as a reference.

[code]

[out]:

[code]

Hope it helps.

[2018-03-28 04:23] alvations commented on #1993
As for `SKIP2()` function, `nltk` has the `nltk.skipgrams`, e.g.

[code]

[out]:

[code]

[2018-03-28 10:16] ExplodingCabbage commented on #139
@josephcc [porter.py](https://github.com/nltk/nltk/blob/develop/nltk/stem/porter.py) has basically no dependencies and isn't doing anything profound or magical, just a long series of string manipulations. You'll just want to port the `PorterStemmer` class to JavaScript, preserving only the `if self.mode == self.NLTK_EXTENSIONS` branches and throwing away the logic from the others.

Not a 5-minute

[2018-03-28 11:33] ndvbd commented on #1990
The input to the CoreNLPPOSTagger.tag is:` ['The', ' ', 'boy', ' ', 'walks', ' ', 'well', '.']`

The output is:` [(u'The', u'DT'), (u'boy', u'NN'), (u'walks', u'VBZ'), (u'well', u'RB'), (u'.', u'.')]`

So the length of the input differs from the length of the output. The spaces tokens are ignored. I think it's better programming to keep the lengths the same, because it allows easier correlation be

[2018-03-28 13:26] dimazest commented on #1990
I would suggest to look into CoreNLP documentation and try to get desired behavior directly, without using NLTK's interface.

[2018-03-28 15:31] Euphorbium commented on #1987
Yes, this solves the problem. But UTF-8 seems like a valid locale, I don't know what set it up like this for me.

[2018-03-29 06:33] ShengleiH commented on #1985
@alvations Really thank you for your patience and help :)

I have installed libtool on my machine:
[code]

**1. `svn co http://svn.delph-in.net/repp/trunk nltk_repp`**
[code]

**2.  `cd nltk_repp; aclocal; libtoolize`**
[code]
**3. `autoreconf -i`**
[code]

**4. `./configure CPPFLAGS=-P`**
[code]

**5. `make` where error occurs always**
[code]

[2018-03-29 13:13] Lingviston commented on #1995
What about the ending single quotes, which appear in the end of the objective form of plurals? Like "providers'".

[2018-03-29 20:27] fanjin-z opened #1996 "[Enhancement] nltk.cluster.kmeans.KMeansClusterer Runs Too Slow"
nltk.cluster.kmeans.KMeansClusterer takes a very very long time to run kmeans on my 5000 points data. This issue is also mentioned in [a stackoverflow comment](https://stackoverflow.com/questions/5529625/is-it-possible-to-specify-your-own-distance-function-using-scikit-learn-k-means#comment70579730_39442355) a year ago. I think the problem lies in overusing for-loop. Since numpy is an optional dep

[2018-03-29 20:57] fanjin-z commented on #1994
@lifengjin I tested your example, Chinese characters not even show. Maybe there is a deeper problem.

x = '(X (X (X a) (X 海)) (X 天边)) '
t = nltk.Tree.fromstring(x)
t

![image](https://user-images.githubusercontent.com/15572906/38113063-b9e7b394-3358-11e8-9037-69325a4ed054.png)

[2018-03-29 21:39] fanjin-z opened #1997 "Please move the default download directory "$HOME/nltk_data" to a less intrusive location"
I really don't like the way that nltk assert its default download location to home directory. I have to change the download path and add 'nltk.data.path.append('/less/intrusive/path/')' every time. In my opinion, a software should never take creating a folder in home directory as default option. I think '$HOME/.local/share/nltk_data'  is a better substitute.

There is similar [discussion](https://

[2018-03-29 23:47] fanjin-z commented on #1986
@meldavis @alvations I think the problem lies in here:
https://github.com/nltk/nltk/blob/a8446adace93893332d42ff0f564343748b7f83c/nltk/data.py#L491

If entry is empty(which it is in our case), it add a dot to entry, causing unintended error later. Here is an error showcase:
[code]
out
[code]

A simple fix could be changing this line:
https://github.com/nltk/nltk/blob/a8446adace93893332d42ff0f56434

[2018-03-30 00:12] jsstoroz commented on #985
I'm having a similar issue with the TaggedCorpusReader using Python 3 and NLTK 3. Any advice for how to fix/circumvent it?

[2018-03-30 19:20] ClaudeCoulombe commented on #1304
The best thing to do it simply to download the latest version of the Stanford POS tagger where the dependency problem is now fixed (March 2018).

    wget https://nlp.stanford.edu/software/stanford-postagger-full-2017-06-09.zip

[2018-03-31 13:32] alexisdimi commented on #985
@jsstoroz: A good work-around is to pre-process your corpus to remove the BOM.

UTF-8 does not need a BOM and should not, in principle, have one; but Windows likes to add it anyway. So by removing it you're also improving your files, in a sense. To clear the BOM, read in a file with encoding `utf_8_sig` and write it out with encoding `utf_8`.

[2018-04-01 20:37] #1427 closed, assigned to nobody

[2018-04-01 20:38] #1987 closed, assigned to nobody

[2018-04-01 20:39] #1984 closed, assigned to nobody

[2018-04-01 20:39] #1486 closed, assigned to nobody

[2018-04-01 20:40] #1926 closed, assigned to alvations

[2018-04-01 20:41] stevenbird commented on #1838
Thanks @alvations, @bamattsson, @benleetownsend

[2018-04-01 20:41] #1838 closed, assigned to nobody

[2018-04-01 20:41] #1946 closed, assigned to nobody

[2018-04-01 20:42] #1852 closed, assigned to nobody

[2018-04-01 20:45] stevenbird commented on #1659
So, from the CI server, it looks like we do have a clean bill of health for both 2.7 and 3.6, right?

[2018-04-01 20:45] #1759 closed, assigned to dimazest

[2018-04-01 20:46] stevenbird commented on #1759
Thanks @dimazest, @alvations

[2018-04-01 20:46] #1952 closed, assigned to nobody

[2018-04-01 20:46] #1858 closed, assigned to nobody

[2018-04-01 20:47] stevenbird commented on #1858
Thanks @cdraper-CS and @alvations

[2018-04-01 20:47] #1969 closed, assigned to nobody

[2018-04-01 22:03] alvations commented on #1659
Yes, 2.7 and 3.6 work fine now on CI =)

[2018-04-02 02:31] alvations commented on #1997
@Fnjn I think this issue with snapd and NLTK is a little different. The XDG Base Directory Specification is for user-specific data, e.g. things like logfile, temporary save points, etc.

But for NLTK, the `nltk_data` directory doesn't contain user specific data (read/write) but resource data (mostly read-only) for NLP purposes. That way, hiding the `nltk_data` under a `$HOME/.*` might not be a goo

[2018-04-02 08:10] fanjin-z commented on #1997
I think `/usr/local/share` is not a good idea either. The ownership and group of `/usr/local/*` is root & root by default, so its hard for users (esp. those using shared servers) to download to this location.

Another workaround may be supporting `NLTK_DATA_PATH` (contains customized nltk_data path) in a setting py file, so that users don't need to add 'nltk.data.path.append('/customized/nltk/data

[2018-04-02 08:37] alvations commented on #1997
As an environmental variable, that's already available in NLTK, see https://github.com/nltk/nltk/blob/develop/nltk/data.py#L88 =)

[2018-04-02 09:33] fanjin-z commented on #1997
Thanks, this works. I add your solution to a [related stackoverflow question](https://stackoverflow.com/a/49608594/7329044).

[2018-04-02 09:35] #1997 closed, assigned to nobody

[2018-04-03 01:16] alvations commented on #1996
Perhaps there's some other bottleneck in your code. For 5000 data points, NLTK's k-means is not that slow. But beyond 10**7 data points, its better to use other optimized library like `sklearn`.

Some benchmarks:

[code]

[out]:

[code]

The error comes when you have large cluster size, e.g.

[code]

[out]:

[code]

[2018-04-03 03:04] fanjin-z commented on #1996
sklearn is probably not a good substitute, because it only support minkowski distance, which is not very useful in nlp. I'm not sure sklearn will support cosine distance in near future.

In my case, I used nltk-kmean last month with relative occurrence probability of 5000 words from brown_words, 100 cluster centers and cosine-distance. I didn't record the exact runtime, because it took too long an

[2018-04-03 05:13] alvations commented on #1996
5000 data points is surely manageable at literally split seconds with `KMeansClusterer. cluster()`. I think the bottle neck is somewhere else in your code.

If you would like some help, maybe it would be better posting the question on Stackoverflow with the full or crucial part of the code you're working on, then a wider community of coders can help with your solution.

But there are bugs in the `

[2018-04-06 11:18] SundusJ commented on #1823
I want to build a SMT model in python. Can anyone gives me the idea of doing it with parallel corpus?

[2018-04-10 12:27] oxinabox opened #2000 "Is the Moses Tokenizer in violation of it's license?"
I was looking through the tokenizers,
and I spotted Moses Tokenizer
https://github.com/nltk/nltk/blob/cdaa7dd4e60251390a82e42456edb359191ea6e8/nltk/tokenize/moses.py#L23

which is ported from the perl script:
https://github.com/moses-smt/mosesdecoder/blob/ae7aa6a9d25be49ab4c15ec68515e74490af399b/scripts/tokenizer/tokenizer.perl#L3-L4

Which currently says that it is LGPL 2.1+

As I understand it o

[2018-04-10 16:22] alvations commented on #2000
Yes, it is in violation, sadly.

And it's not possible to get permission from Moses maintainers. https://www.mail-archive.com/moses-support@mit.edu/msg15864.html

[2018-04-10 16:50] noe commented on #2000
[LGPL has linking exception](https://github.com/moses-smt/mosesdecoder/blob/master/COPYING):

Library, but is designed to work with the Library by being compiled or
linked with it, is called a "work that uses the Library".  Such a
work, in isolation, is not a derivative work of the Library, and
therefore falls outside the scope of this License.

Why not separating the moses-derived works into a ne

[2018-04-11 09:43] stevenbird commented on #2000
@noe: nice idea - I'd be happy to consider a PR

[2018-04-12 10:27] noe commented on #2000
@stevenbird I'd be glad to contribute. From the moses mailing list I understand that @alvations may contact the authors to request their permission to have the derived code as Apache, and hence not needing to modify anything in the NLTK code. @alvations is that correct?

If that attempt does not succeed: as new repo's cannot be subject to PR's, we can either have NLTK create a new empty repo to wh

[2018-04-13 08:28] stevenbird commented on #2000
Thanks @noe. Yes, let's wait to hear if @alvations has any luck.

[2018-04-13 10:26] stevenbird commented on #2000
Oh, looks like the answer is already [no](https://github.com/nltk/nltk/issues/2000#issuecomment-380162156).

[2018-04-13 10:27] stevenbird opened #2003 "Create a new repo for GPL extensions to NLTK"
cf #2000, #1781.

[2018-04-18 01:09] alvations commented on #2000
Sorry for being away for a while. The short answer is **no** until we get everyone to agree on Moses side (which is hard unless we're at WMT and MTM to just ask almost everyone for their permissions when they're physically there).

The best solution is to have some sort of LGPL repo for `nltk_contrib`. Now all LGPL code goes there and then we do a `git submodule add `.

Additionally on Moses side,

[2018-04-18 07:15] oxinabox opened #2004 "`word_tokenize` could handled URL's better"
Here is what it currently does for URLs.

[code]

I'm not sure what it should do.
But I feel like the answer is _not that_

I'm pretty sure one can recognise URLs with a regex.
I think the answer might be to just pick them out at the start,
and preform no splitting on them.

Obs. the treeback tokenizer  that `word_tokenize`, is based on doesn't handle URLs because they were not a thing. But we hav

[2018-04-18 07:26] oxinabox opened #2005 "Neither `word_tokenize` nor `TreebankWordTokenizer` matchs the original Penn Word Tokenizer"
Right now,
NLTK has 2 tokenizers that are very similar to  Robert McIntyre's original  treebank tokenizer.
Those are:

  - `nltk.tokenize.treebank.TreebankWordTokenizer()`
     -  a default instance of the type
 - and `nltk.tokenize._treebank_word_tokenizer`
    - a particular instance of that type **behind** `word_tokenize`.
    - It has modifications for better unicode support given [here](https

[2018-04-18 07:31] alvations commented on #2004
FWIW, handling URL and making it fit with the current `TreebankWordTokenizer` is no easy feat.

Personally, I would rather create a brand new tokenizer rom scratch and use it as the default `word_tokenize`.

----

BTW, this is not an exclusive issue to `word_tokenize`:

[code]

But there is a fix in @jonsafari toktok:

[code]

Specifically this: https://github.com/nltk/nltk/blob/develop/nltk/token

[2018-04-18 07:40] alvations commented on #2005
Could you reformat your issue to a readable format? Sorry, I'm not getting what you're trying to explain here.

[2018-04-18 07:47] alvations commented on #2005
Also I am quite sure the chervon fix isn't causing the split on the `cannot`, if anything it's actually the contraction regex causing it. The chervon only kicks in when an actual chervon character is use as an opening quote.

[2018-04-18 07:54] oxinabox commented on #2005
Ok I have rewritten it, hopefully it is now clear.

Indeed the chervon regex does not cause the difference.
It is the contraction regex doing so. (I think)

But since the contraction regex already is a improvement over the original,
might as well merge the chervon regex into it, which is also an improvement.

[2018-04-18 07:55] alvations commented on #2005
Ah, now I understand. That's because of `regexp.sub`, we can easily use sub once and that'll replicate the treebank word tokenizer.

[2018-04-18 07:58] alvations commented on #2005
Here's the "culprit":  https://github.com/nltk/nltk/blob/develop/nltk/tokenize/treebank.py#L135

This will replicate the original treebank tokenizer (with deafult sed):

[code]

But I think we shouldn't do that. And also **merging the hacks into the treebank word tokenizer isn't a good thing.**

Instead I suggest creating a new Tokenizer object and get whichever regex hack we need from any existin

[2018-04-18 08:01] oxinabox commented on #2005
Yep, now you get me.
That solution sounds good to me.

I really  just wanted to make you aware that the current behavor of the treebank tokenizer is not in agreement with the original.
(Feel free to edit my title to make it sane)

[2018-04-19 02:33] stevenbird commented on #2005
Thanks @oxinabox.
@alvations: I'm not clear what you mean when you say: "a new Tokenizer object and get whichever regex hack we need from any existing or outside tokenizer"

[2018-04-19 03:09] alvations commented on #2005
@stevenbird something like a `class NLTKTokenizer` object and we create a tokenizer by picking the regexes we like from other tokenizer.

That way, we're not restricted by license and fear of not replicating the exact output of the other tokenizers.

E.g. in `nltk.tokenize.__init__.py`:

[code]

[2018-04-19 16:59] znd4 opened #2006 "Jaro-Winkler Distance in nltk.metrics.distance"
Hi, I think it would be awesome to have [Jaro Winkler Distance](https://en.wikipedia.org/wiki/Jaro%E2%80%93Winkler_distance) implemented in nltk.metrics.distance. I'd love to take a crack at it if there's no one currently working on it. There are a number of projects online implementing this, but NLTK seems like the right larger project that should have this implemented.

[2018-04-20 04:43] alvations commented on #2000
I've repackaged `MoseTokenizer` as a separate library and I think we can either wrap around it in NLTK or add a deprecation message and ask users to use the new package. https://github.com/alvations/sacremoses

Should I transfer the ownership to NLTK organization on github? Not sure how the Moses community feels about this, let me try to ask them first.

Note: The SacreMoses was just a continuatio

[2018-04-21 03:16] radhen commented on #1859
I am following up on issue #1873. I was getting the error
TypeError: Can't instantiate abstract class RandomProbDist with abstract methods max

with NLTK version 3.2.4. I saw the commit to fix this issue was in version 3.2.5 so I downloaded that but I still get the same error. Any ideas why?

[2018-04-22 17:41] 53X commented on #2006
Working on it currently . I will make the PR soon . :smile:

[2018-04-23 10:01] alvations commented on #1993
@53X Just checking in on the ROGUE implementation. Do you need some help on it?

[2018-04-24 01:17] alvations commented on #1955
Resolved in #1956

@somnathrakshit Thanks for the contribution! Unfortunately, we're not taking part in GSoC 2018. Perhaps another year when we have more volunteers =)

[2018-04-24 01:17] #1955 closed, assigned to nobody

[2018-04-24 01:18] alvations commented on #1880
Resolved in https://github.com/nltk/nltk/issues/1880#issuecomment-356837823 with `https://github.com/user/repository/archive/2.0.5a.zip`.

Closing this since we resolved the `http` -> `https`.

Please reopen if there's further issues on this.

[2018-04-24 01:18] #1880 closed, assigned to nobody

[2018-04-24 01:19] alvations commented on #1865
Thanks again @yibinlin !

Resolved in #1864

[2018-04-24 01:19] #1865 closed, assigned to nobody

[2018-04-24 01:20] alvations commented on #1805
After support for Python 3.6, moving forward, I think the issue is resolved upstream in CPython and also in #1918.

Thanks @ymfa !

[2018-04-24 01:20] #1805 closed, assigned to nobody

[2018-04-24 01:55] alvations opened #2008 "Better PunktTrainer"
While trying to retrain a sentence tokenizer model with `PunktTokenizer`, the NLTK code took up >200GB of RAM and a lot of swap and doesn't seem to end after 2 days of training.

[code]

The code seem inefficient for the massive data set we have now to train better Punkt models.

Let's keep this issue to track Punkt related issue until we get a better version of the algorithm.

[2018-04-24 02:16] alvations commented on #2008
Replace `_pair_iter` with `bigrams`
====

This seems to be like the ngram function we have in `nltk.util.ngrams`: https://github.com/nltk/nltk/blob/develop/nltk/tokenize/punkt.py#L306

We shouldn't be maintaining both `_pair_iter(it)` and `bigrams(it)`.

Replace `counter` with `bounter`
====

Our FreqDist object based on `collections.Counter` has a high memory footprint, we should replace it with

[2018-04-24 03:04] jnothman commented on #2008
You're missing the fact that the `PunktTrainer` has a facility to manage memory usage due to infrequent elements. It's a method called `freq_threshold` that is intended for calling between batches of training. Yes, it should be more clearly documented.

We have had punkt models trained on Wikipedia for years, but when I first did so, it was using an occasional `freq_threshold` to prune useless sta

[2018-04-24 03:53] alvations commented on #2008
Yes, I was reading the code to understand what's happening while listing things that can be improved. But `bounter` replacement is the main goal here =)

I find the Punkt word tokenizer useful too, maybe exposing it out would be good instead of hiding it inside the `PunktLanguageVars`.

Cool, I didn't know that there's a `freq_threshold` parameter! Still reading the code.

[2018-04-24 03:55] jnothman commented on #2008
I think it was previously more exposed and caused confusion...

[2018-04-24 03:57] alvations commented on #2008
It does ~50% of the cleaning task that I've been doing with other regexes for non-English languages though. I think I've to look at the code history too.

Interesting: #746 and 0b91a7160717faa2fe93d42f7c6bba735f6dd48a

Unfortunately, going from `FreqDist` -> `bounter` isn't an easy fix though. First problem encountered, FreqDist allows any object to be the key while bounter only allows unicode obj

[2018-04-25 08:48] alvations commented on #2008
Collapsing multiply loops might help. In the current code, `PunktTrainer` is looping through to:

1. [Find the frequency of each case-normalized type](https://github.com/nltk/nltk/blob/develop/nltk/tokenize/punkt.py#L739)

2. Add/Remove type-based abbreviations based on the word type's heuristics and thresholds](https://github.com/nltk/nltk/blob/develop/nltk/tokenize/punkt.py#L747)
    - requires

[2018-04-25 15:13] hexingren opened #2010 "CoreNLPNERTagger throws HTTPError: 500 Server Error: Internal Server Error for url: ......"
Hello,

I'm using nltk v3.2.5 and try to use CoreNLPNERTagger with both Stanford CoreNLP v3.9.1 (the latest version) and v3.8.0. However, they both throw an HTTPError: 500 Server Error.

The code is
"""
from nltk.tag.stanford import CoreNLPPOSTagger, CoreNLPNERTagger
CoreNLPPOSTagger(url='http://localhost:9000').tag('What is the airspeed of an unladen swallow ?'.split())
CoreNLPNERTagger(url='http

[2018-04-25 15:35] dimazest commented on #2010
Hi,

do you see any errors coming from the CoreNLP log?

[2018-04-25 15:52] hexingren commented on #2010
Yes.

CoreNLPPOSTagger worked as expected with no error. The error message when I ran CoreNLPNERTagger is
"""
[pool-1-thread-1] INFO CoreNLP - [/0:0:0:0:0:0:0:1:52437] API call w/annotators tokenize,ssplit,pos,lemma,ner
Rami Eid is studying at Stony Brook University in NY.
[pool-1-thread-1] INFO edu.stanford.nlp.pipeline.StanfordCoreNLP - Adding annotator tokenize
[pool-1-thread-1] INFO edu.stanfo

[2018-04-25 16:04] dimazest commented on #2010
[code]

This looks like the key error on the CoreNLP side.

Did you try to tag the sentence via the web interface on http://localhost:9000

[2018-04-25 16:47] hexingren commented on #2010
Hi Dmitrijs,

Thanks for pointing this out. I guess it's on the CoreNLP side. I tried several texts with person names and none of them worked in the live demo at the point. But I remember the demo site worked last week.

Moving forward, if NLTK only provides wrappers for CoreNLP then the users have to worry about the server. Do you think it would be a good idea if we can keep StanfordNERTagger or

[2018-04-26 03:12] alvations commented on #2010
Actually, we should just deprecate the Stanford APIs in NLTK and only wrap around https://github.com/stanfordnlp/python-stanford-corenlp

But that'll require some work to clean out, wrap, merge the API's with NLTK's objects and test. Anyone up for a challenge?

[2018-04-26 07:25] hitvoice opened #2011 "TweetTokenizer causes UnicodeEncodeError when input string is valid"
[code]
The result will be:
[code]
The input string is valid, and the output of TweetTokenizer has UnicodeEncodeError. This is not expected.

Testing environments:
- Ubuntu Server 16.04
- python 3.6
- nltk 3.2.5

[2018-04-26 08:48] alvations commented on #2011
Since you're in Python3, nltk shouldn't have a problem with handling utf8 in bytes.

[code]

But when printing out the output,

[code]

As a temporary fix, to print it in console you could either try replacing it with unknown characters or ignore and skip these characters, e.g.

[code]

But the issue really comes when the TweetTokenizer enforces conversion of special HTML https://github.com/nltk/n

[2018-04-26 09:36] hitvoice commented on #2011
Thanks for the detailed explanation!! The "replace_html" argument is a good idea. Furthermore, I wonder if it's possible to automatically ignore HTML-unparsable characters instead of leaving it in the output list. TwitterTokenizer is meant to process very dirty data and this should be reasonable.

The data is from Twitter. I'll try to track the source of corruption but it won't be easy.

[2018-04-26 16:04] gabeorlanski opened #2012 "module 'nltk' has no attribute 'data'"
Hello. I am getting this error just from importing stopwords:

    ---------------------------------------------------------------------------
    AttributeError                            Traceback (most recent call last)
    <ipython-input-12-9cf149ae136d> in <module>()
        1 from collections import Counter
        2 from nltk.tokenize import word_tokenize
    ----> 3 from nltk.corpus import

[2018-04-26 16:59] gabeorlanski commented on #2012
It took using `nltk,download('all') and restarting the jupyter notebook to fix

[2018-04-26 16:59] #2012 closed, assigned to nobody

[2018-04-29 15:12] djinn-anthrope commented on #1995
Do "readers' " need to be tokenized to "readers" and "'"? Also, what is the status of this bug so far? If the change mentioned above has not been implemented, I'd like to take up this issue

[2018-04-29 23:21] #1986 closed, assigned to nobody

[2018-04-30 06:55] alvations commented on #1995
This issue is on the opening quotes and the clitic fix for that can be easily done and that'll make the `word_tokenize` behave like Stanford's. IMHO, I think it's a good feature to have.

Feel free to contribute and open a pull-request on it =)

----

But to handle possessive plural, it's hard to understand how to do it because we need to define the difference between sentences like:

[code]

Ther

[2018-05-03 23:41] TristanJM opened #2014 "Importing NLTK breaks multiprocessing"
Using `multiprocessing.Pool().map` to train Keras models concurrently.

As soon as I add the import for `nltk` the shell freezes with no exceptions, requiring the terminal window to be force closed.

nltk 3.2.5
keras 2.1.5
tensorflow 1.4.0

The exact point of failure is
[code]
Works as soon as `import nltk` is removed from the project (a completely different py module), so I'm guessing it's a prob

[2018-05-04 00:01] alvations commented on #2014
Could you share where nltk is called in your code? It couldn't have been inside the LSTM cell in your keras code.

Issue #947 was rather old and we haven't been able to replicate the issue since.

I suspect it's instantiating multiple file instances while you created the pools.

[2018-05-04 00:13] TristanJM commented on #2014
Hey,
Code base is pretty large but here's an overview:

my_multiprocessing_module:
[code]

my_training_module:
[code]

my_nltk_module:
[code]

So nothing within NLTK is used, it's simply just an import in a different module. The nltk_module is also imported from main.py

Removing the `pool.map` works perfectly, just not multiprocessed as desired.

[2018-05-04 00:42] alvations commented on #2014
Hmmm, the `my_nltk_module` -> `nltk` is a warning sign of circular imports.

What's in my_nltk_module?

Can you comment away everything in my_nltk_module and see whether the `import nltk` gets you stuck?

[2018-05-04 00:58] TristanJM commented on #2014
Interesting, I'll do some reading up on circular imports.

my_nltk_module is completely empty apart from `import nltk` (all commented out). Previously it just contained functions callable from other modules to process text (Vader sentiment).

`main.py` imports my_nltk_module because I wanted to globally create the Vader `sentiment intensity analyser` with a custom lexicon at the start. Then those

[2018-05-04 02:04] alvations commented on #2014
If it has something to do with serialization and pickle.

Try this in your `my_nltk_module.py`:

[code]

See whether it's still get stuck.

[2018-05-04 10:00] TristanJM commented on #2014
@alvations the `dill` import didn't resolve any problems

However, `import nltk` within a function works at any point after creating the `multiprocessing.Pool().map`

So
`my_multiprocessing_module` can import nltk before the pool creation, and it will break. Importing after, such as importing in the `my_training_module.train()` function, will work.

[2018-05-05 01:51] agodbehere opened #2015 "Verbnet corpus is out of date"
The nltk data index (https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml) points `verbnet` to version 2.1. The latest `verbnet` definition is 3.2.

The latest version has updated frame descriptions that provide much more information about the phrasal structure. For example, the primary description of a frame from class `future_having-13.3` in the latest version is `NP V NP-Dative N

[2018-05-08 16:16] dolyha commented on #1943
![image](https://user-images.githubusercontent.com/26044805/39769228-d111bf7e-5315-11e8-9e2e-a7a99ae64e6e.png)

![image](https://user-images.githubusercontent.com/26044805/39769260-de2ab3be-5315-11e8-96b8-d84758b80e03.png)

[2018-05-10 11:21] The-Gupta opened #2016 "Stanford CoreNLP 'coref' resolution model"
Does NLTK have Stanford CoreNLP 'coref' resolution model?

[2018-05-12 03:56] rpkilby commented on #947
As far as I can tell, this issue seems to affect macOS. Using Python 3.6 so far,

- macOS 10.13 (fails)
- Centos 7.2 (succeeds)
- Ubuntu 16.04 (succeeds)

Modified OP's script for python3:
[code]
Output:
[code]

The subprocess quits unexpectedly, receiving similar output to what's seen in this [Stack Overflow post](https://stackoverflow.com/questions/42433421/tornado-multi-process-crash-with-nltk)

[2018-05-12 04:16] alvations commented on #947
I think this is quite mind boggling. It might has something to do with threads handling on MacOS.

[2018-05-12 05:49] rpkilby commented on #947
I'm not incredibly familiar with nltk, but I did a little blind poking around to see what caused the test to pass/fail. Here's what I had to do to the package `__init__.py` in order to make the test pass:

<details>
<summary>Details (click to expand)</summary>

[code]
</details>

----

Interestingly, all of the disabled imports ultimately lead back to importing `tkinter`, which I *think* is the ro

[2018-05-13 00:00] alvations commented on #947
Thanks @rpkilby, that's very helpful!

It looks like this problem https://stackoverflow.com/questions/16745507/tkinter-how-to-use-threads-to-preventing-main-event-loop-from-freezing

I think tinkter has been a pain point for us for quite some time. Perhaps, it'll be good if we can find an alternative to it.

[2018-05-13 00:04] stevenbird commented on #947
I agree. A shorter-term solution would be to bury the tkinter imports inside the classes and methods that need tkinter, and avoid importing it by programs that don't need it. We've already done something similar for numpy.

[2018-05-14 03:23] alvations opened #2017 "dataclasses"
[Dataclasses](https://www.python.org/dev/peps/pep-0557/) are good and more powerful than `namedtuples` c.f. https://github.com/nltk/nltk/issues/530

It's pretty apt for most classes we have in `nltk` (not restricted to `nltk.corpus`) and one natural application is to re-write `CorpusReader`. I think after adopting `dataclasses`, creating a custom new corpus reader would be a lot easier for users.

[2018-05-14 03:48] stevenbird commented on #2015
@agodbehere, thanks for reporting this issue. I've verified that the existing verbnet 2 corpus reader breaks on verbnet 3 data, so both will need to live alongside each other in the corpus collection.

The next step is for someone to contribute a corresponding corpus reader `nltk.corpus.verbnet3`, which can hopefully share some of the existing code.

We'll need to support both for a while.

[2018-05-14 03:53] alvations commented on #2014
@TristanJM just to check-in, did you happen to be getting the error on a Mac OSX? Which OS are you using?

[2018-05-14 07:18] TristanJM commented on #2014
@alvations Yeah I get the error on Mac OS (both El Capitan and High Sierra)

[2018-05-14 07:59] alvations commented on #2014
Thanks @TristanJM for the information. Yes, it looks like Mac OSX and tinkter and multiprocessing aren't playing well.

This is the same issue as #947. We'll track this issue and hopefully someone would find a way to handle it =)

[2018-05-14 17:38] navkant opened #2019 "CERTIFICATE_VERIFY_FAILED"
![screen shot 2018-05-14 at 11 06 53 pm](https://user-images.githubusercontent.com/25250253/40013591-8da3d942-57cb-11e8-88ac-1a09c7052910.png)
Hi guys,

Please help me with this. I do not firewall ON on my system.

[2018-05-15 15:19] f0lie opened #2020 "Type hinting / annotation (PEP 484)?"
Hello folks,

Recently [numpy](https://github.com/numpy/numpy/issues/7370) added some type hinting for their types. Tools like mypy is suppose to make it easier to test large codebases.  There is a recent [pycon](https://www.youtube.com/watch?v=pMgmKJyWKn8) talk about using mypy in the real world. Since nltk is pretty old and large, I figure it might be useful here.

I tried use tools like Monkeyt

[2018-05-15 17:16] alvations commented on #2020
Yes, type-hints are nice. If you would like to, pick a module or a couple of files that you'll like to add type-hints and create a PR. Someone will review it and take a look to see how it fits in and how it can be extended to more modules/files in `nltk`.

[2018-05-15 17:18] alvations commented on #2019
Are you using a Python 3.6 and Mac OSX? If so, take a look at

 - https://github.com/nltk/nltk/issues/1425#issuecomment-372016707
 - https://github.com/nltk/nltk/issues/1961#issuecomment-367207040

[2018-05-15 17:26] f0lie commented on #2020
@alvations Can you suggest a few modules?

I am trying to work on [better documentation](https://github.com/python/mypy/issues/5033) for mypy so some concrete projects would be nice.

[2018-05-15 17:26] f0lie commented on #2020
[](url)

[2018-05-15 17:26] f0lie commented on #2020
[](url)

[2018-05-15 17:38] alvations commented on #2020
Maybe you can try `*_score.py` files from https://github.com/nltk/nltk/tree/develop/nltk/translate. They are quite isolated and self-contained.

Otherwise, a really useful place to have type-hints would be any files/functions/classes in https://github.com/nltk/nltk/tree/develop/nltk/tag

[2018-05-15 20:08] f0lie commented on #2020
https://github.com/f0lie/nltk/commit/01bb903e00d6aad182fef4c9a96ff8e351c9422a

Here's the first part of type hinting for brill.py. I was surprised how involved the process was to type hint. Fortunately, I am at pycon so I can ask the authors in person for advice. While mypy is awesome, it has a lot of confusing error messages. https://github.com/python/mypy/issues/5055

Note: if you are running my

[2018-05-16 01:15] agodbehere commented on #2015
@stevenbird, what breaking case did you find for using the existing corpus reader with verbnet 2? I didn't run the test suite after updating the corpus, but for my use-case (requesting classids and frames), the existing corpus reader works just fine.

[2018-05-16 01:56] navkant commented on #2019
thanks, it worked

On Tue, May 15, 2018 at 10:48 PM alvations <notifications@github.com> wrote:

[2018-05-16 02:26] stevenbird commented on #2015
The problem exists with verbnet 3. We need a different corpus reader for
that.

On Wed, 16 May 2018 10:45 am Andrew Godbehere <notifications@github.com>
wrote:

[2018-05-16 04:08] #2019 closed, assigned to nobody

[2018-05-16 04:16] alvations commented on #2020
Thanks @f0lie , the type-hints looks good as a start! Our sincere thanks to the people who's helping at PyCon too.

I've not tried personally tried mypy, but I guess it does check a single `.py` file too right?

Unfortunately, support for Python 2 is sort of important still (at least until PyCon 2020), we see people still reporting issues that are Python2 specific.

We can try adding a branch to p

[2018-05-17 07:41] nikhilkul commented on #1356
Is this feature coming anytime soon?

[2018-05-18 16:42] hyandell opened #2022 "Potential license incompatibility"
The https://github.com/nltk/nltk/blob/79ef1cfb4c5dcc8543c465aba8b34aa0878e738b/nltk/corpus/reader/sinica_treebank.py file says that it is CC-NC-SA. Looking at Apache's License guidance ( https://www.apache.org/legal/resolved.html ) they flag both CC-NC and CC-SA code as being problematic with the Apache license.  [that page is for Apache projects, but may be of value here]

CC-NC-SA is also on the

[2018-05-19 04:09] stevenbird commented on #2022
The corpus sample is CC-NC-SA. The corpus reader is Apache.

[2018-05-19 04:09] #2022 closed, assigned to nobody

[2018-05-19 18:30] hyandell commented on #2022
Thank you - my apologies for being confused by the comment; I see what it is saying now.

[2018-05-20 05:48] stevenbird commented on #2022
Thanks @hyandell - I've edited the text to make this clear.

[2018-05-21 11:24] Coykto opened #2024 "Text.concordance does not take into account "width" argument and shows maximum of 25 lines (no matter "lines" argument value)"
Just started learning nlp with nltk book.
I don't know why, but i'm having very apparent problems nobody seems to talk about (google search gave me nothing).

From the beginning of the book (1.3 Searching Text):
`text1.concordance("monstrous")`
Gives me
[code]

As it should. But
`text1.concordance("whale")`
Gives me:
[code]
Does that mean there is only 25 occurrences of word "whale" in Moby Dick?

[2018-05-21 15:55] Coykto commented on #2024
Added pull request #2026 to fix the problem.

[2018-05-22 00:21] amosleokim commented on #2015
@stevenbird @agodbehere Hi, I work on the VerbNet project at CU Boulder and would be happy to contribute and maintain code for a corpus reader for VerbNet 3+.

[2018-05-22 00:32] stevenbird commented on #2015
@amosleokim: thanks, that would be welcome!

You can see that we have `verbnet` (2) and `verbnet3` data [here](https://github.com/nltk/nltk_data/tree/gh-pages/packages/corpora).

I propose we add an entry for `verbnet3` [here](https://github.com/nltk/nltk/blob/develop/nltk/corpus/__init__.py#L233)

And then work out how to extend [verbnet.py](https://github.com/nltk/nltk/blob/develop/nltk/corpus/r

[2018-05-22 00:41] amosleokim commented on #2015
@stevenbird That sounds good to me! If you can send me an invite code to the slack channel, I'll hop on so we can get started on the nitty gritty.

[2018-05-22 23:10] PavanGJ commented on #1859
The updates in the git repo aren't yet reflected in the nltk pip package. I would suggest pulling the updates in the commits and working with it.

[2018-05-23 12:23] tholor commented on #1750
I am running into an exception with the current version of span_tokenize for strings that contain brackets before quotation marks. I believe the regex is wrong since it also matches brackets and later replaces quotation marks in the "raw_tokens" with those brackets. Or am I missing something?

**Example:**
[code]

**Exception:**
[code]

**Suggested fix:**
Change the regex in span_tokenize from `r'

[2018-05-23 16:56] tholor commented on #1750
Ok my bad, it has actually already been fixed in commit 4b21300999e11ba6f91952c05a936ccec0673e2e and is running like a charm in nltk-3.3

[2018-05-26 10:11] stevenbird commented on #2024
Resolved in #2026.

[2018-05-26 10:11] #2024 closed, assigned to nobody

[2018-05-26 10:12] stevenbird commented on #2015
@amosleokim I hope you received my invitation?

[2018-05-26 10:13] stevenbird commented on #2000
Resolved.

[2018-05-26 10:13] #2000 closed, assigned to stevenbird

[2018-05-26 10:14] stevenbird commented on #1993
@53X ping

[2018-05-26 10:15] #1981 closed, assigned to nobody

[2018-05-28 00:26] edwardjchou opened #2028 "a"

[2018-05-28 01:00] alvations commented on #2028
@edwardjchou did you miss-clicked on the issue tracker? Or is there an issue that you would like to report?

[2018-05-28 02:48] edwardjchou commented on #2028
misclick, sorry about that

[2018-05-28 02:48] #2028 closed, assigned to nobody

[2018-05-28 05:20] fseasy opened #2029 "when nltk failed to download nltk-data, it outputs error info to stdout?"
my nltk version is 3.2.5. and I put a code of

[code]

to let the user automatically download it.

but I found that, it output the error info to stdout, I thought it may a problem.

the error info like:

[code]

[2018-05-28 05:53] alvations commented on #2029
c.f. https://github.com/nltk/nltk/issues/1961#issuecomment-367207040

Are you using Python3.6 on Mac OS? If so, it looks like similar to this issue: https://bugs.python.org/issue28150

See

- https://stackoverflow.com/questions/41348621/ssl-error-downloading-nltk-data
- https://stackoverflow.com/a/41692664/610569

TL;DR
====

[code]

[2018-05-28 06:04] fseasy commented on #2029
@alvations  thx, but I'm using Python2.7 on CentOS 4.3.
May be I hadn't expressed my intention，I am not for the error, but for that the error info output device: not to stderr, but to stdout. I am using `stdin -> procedure -> stdout`  to run my code, so it messed up my streaming procedure.

[2018-05-28 07:47] abhirupnandy opened #2030 "503 error"
I'm facing a 503 error whenever I'm trying to download WordList.
![screenshot from 2018-05-28 13-15-31](https://user-images.githubusercontent.com/39028831/40603425-7708b9d8-6279-11e8-98a2-5a8ca847bbd3.png)
I tried downloading the file from the website. The problem still remains the same.

[2018-05-30 01:27] u8621011 commented on #995
@rain1024 How about your original porting plan? I reached here because i have ported a python version vnTokenizer and planning if it's possible to port into nltk. I also saw your continuous good job of underthesea and have a question about your next step.

[2018-05-30 01:50] alvations commented on #995
@u8621011 `underthesea` isn't my work but they're doing a good job =)

I'm not sure how much mileage we can get if we start porting from `Jvntextpro`. But I think I won't be able to take another try at porting until late July.

Vietnamese support is surely on the list of things I personally would like to see and work on in NLTK.

[2018-05-30 01:57] rain1024 commented on #995
@u8621011 Glad you asked. Our next steps in underthesea are integrating more modules such as speech synthesis, machine translation and (simple) chatbot for Vietnamese and improving speed and accuracy in current modules (word segmentation, pos tagging, chunking, named entity recognition, text classification and sentiment analysis).

About porting plan in nltk, I think we can write code in pure pyth

[2018-05-30 02:03] stevenbird commented on #2030
This is not a problem with NLTK but with your network connection... this is discussed on the nltk-users mailing list.

[2018-05-30 02:03] #2030 closed, assigned to nobody

[2018-05-30 02:06] stevenbird commented on #2029
@memeda, that's interesting. We always thought of the NLTK corpus downloader as being used interactively. Even successful use generates output on stdout.

One fix is a flag to specify non-interactive use.

[2018-05-30 02:12] fseasy commented on #2029
@stevenbird Yeah, I thought so. but I want to reduce the users' preparatory operations to run my code, so I put it to the module's initialization.
A flag is great. may be just output to stderr will ok? The interactive terminal could display the stderr info right.

[2018-05-30 02:23] alvations commented on #2029
@memeda  we do have the `quiet` argument for `nltk.download()` function. But I think having controls to know where the error messages are piped to is useful.

@stevenbird I think expecting error messages to go to `stderr` could be the default. And `stdout`
or otherwise as defined by users. How about something like #2031?

[2018-05-30 10:43] fseasy commented on #2029
@alvations great

[2018-05-30 16:28] lasit19 commented on #1576
Hey, I am having the similar issue. Is there any way to solve this error? I have tried importing nltk locally and tried the solution on this [page](https://stackoverflow.com/questions/27433370/what-would-cause-wordnetcorpusreader-to-have-no-attribute-lazycorpusloader/27437149#27437149)

thanks in advance!!!!

[2018-05-31 07:15] stevenbird commented on #2029
Adopted, thanks @alvations and @memeda.

[2018-05-31 07:15] #2029 closed, assigned to nobody

[2018-05-31 11:14] ghost opened #2032 "TrigramCollocationFinder nbest method exception"
While trying to determine trigrams using the TrigramCollocation finder an exception was received with following details:
from nltk.collocations import TrigramCollocationFinder
from nltk.metrics import TrigramAssocMeasures

wordList = ['borrower', 'borrower', 'borrower', 'borrower', 'borrower', 'borrower', 'page']

tcf = TrigramCollocationFinder.from_words(wordList)
tcf.apply_freq_filter(3)
for wor

[2018-06-01 11:03] twinkled commented on #1824
@jnothman Thanks for your comments. I meet the same problem today. Could you explain how to set the parameter  _period_context_fmt to solve the problem? I'm new for NLKT so not quite knowledgeable about it .

[2018-06-02 11:37] jnothman commented on #1824
sub-class PunktLanguageVars, setting whatever class attributes you need to
change, instantiate it and pass to PinktTrainer

[2018-06-02 15:48] 53X commented on #1993
@alvations  Sorry I was having my exams...... I am almost done with ROUGE though  :)

[2018-06-02 15:55] 53X commented on #1978
@alvations , I think we should the map the expected behavior for **None same as that of pos= 'n'** . This is because if we don't pass the **pos** argument to the **WordNetLemmatizer** , the **pos value of noun** is automatically assumed

[2018-06-03 11:54] stevenbird commented on #2032
Do you need at least 3 distinct words for `TrigramCollocationFinder` to work?

[2018-06-04 02:06] jnothman commented on #2032
That's not the problem.

IIRC, we've previously had similar issues.

The basic issue is that for simplicity of calculation, we rely on sufficient statistics that are counts of {1,2,3}-grams, and then use approximations such as:
* number of 3-grams == number of 2-grams == number of 1-grams
* number of n-grams of form (any word, target word 2, target word 3) = number of 2-grams of form (target word

[2018-06-04 03:44] ghost commented on #2032
Till now I have not seen the error come up for larger dataset.

Thanks

[2018-06-04 10:32] sahitpj opened #2033 "nltk cosine_distance error with numpy arrays"
Cosine_distance, a function of nltk.cluster.util, throws an error when working with numpy arrays, even though they are same dimension

[code]

However when we apply the same function for arrays, it works fine

[code]

I think it would be a good idea if we can extend its compatibility to numpy arrays too, because we work more often with them ( if at all I am missing something or if this is actually

[2018-06-04 14:13] #2033 closed, assigned to nobody

[2018-06-06 02:39] alvations opened #2034 "Better Panlex Swadesh"
From https://github.com/nltk/nltk_data/issues/117 , we can have a better Panlex swadesh list interface that also reads the language ID files (which might be useful for nlp, e.g. language ID).

Maybe an interface in https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordlist.py#L31 might be:

[code]

And then on https://github.com/nltk/nltk/blob/develop/nltk/corpus/__init__.py#L199

[code

[2018-06-06 06:36] 53X commented on #1978
@alvations , I have sent a PR for this issue . Mind checking it out  :)

[2018-06-06 09:25] iliakur commented on #2020
If you plan to support python 2.7 for a long time still, you can also use a cross-compatible syntax for type hints:
https://mypy.readthedocs.io/en/latest/python2.html#type-checking-python-2-code

[2018-06-07 06:48] 53X opened #2036 "Hamming Distance for NLTK"
Hamming Distance between 2 strings is probably not available as of now in NLTK.

[2018-06-07 09:19] #2036 closed, assigned to nobody

[2018-06-07 09:20] stevenbird commented on #2034
@kamholz: do have any feedback on this?

[2018-06-07 09:21] stevenbird commented on #2032
@AyBeeNLP: would you like to respond to @jnothman's suggestion to submit a PR that raises a more informative error?

[2018-06-08 03:18] ghost commented on #2032
I agree with @jnothman

[2018-06-08 19:46] xamboon opened #2038 "How to add your own tags for POS tagging over default taggers using nltk?"
import nltk.tag, nltk.data
tagger_path = '/home/amit/nltk_data/taggers/maxent_treebank_pos_tagger/english.pickle'
default_tagger = nltk.data.load(tagger_path)
tagger = nltk.tag.UnigramTagger(model=model, backoff=default_tagger)
tagged=tagger.tag(text)
#model is a dict which has the required tags ,"tagged" gives tags according to default_tagger but I want to put tags to text from model dict .Please

[2018-06-08 19:58] tamirbennatan commented on #1992
Out of curiosity - was this contribution ever made?

[2018-06-09 07:05] 53X commented on #1992
@tamirbennatan  I am working on it . Will make the PR in 2 - 3 days

[2018-06-11 06:42] 53X opened #2041 "METEOR score for MT in nltk not present"
Introduction of **METEOR score for MT** could be done in nltk as it is better than most of the available  scoring metrics for MT. This score was introduced in the following paper :

**https://www.cs.cmu.edu/~alavie/papers/BanerjeeLavie2005-final.pdf**

[2018-06-11 06:43] 53X commented on #2041
If this issue is good to go , I can make the PR real quick  :)

[2018-06-11 07:56] alvations commented on #2041
Yes, having METEOR would be good. But do note that it's a little harder than it looks =)

[2018-06-11 08:27] 53X commented on #2041
No problem , I am taking it  :)

[2018-06-11 08:36] alvations commented on #2041
Thanks in advance! Try to finish the ROUGE first. I think that's more test-able and maintainable =)

[2018-06-11 08:45] 53X commented on #2041
Yeah sure :)

[2018-06-11 11:16] 53X commented on #1993
@alvations  please check out this !!!!! .A weighted LCS is needed for the ROUGE-W score instead of a normal LCS.

[2018-06-11 12:15] 53X commented on #1992
@alvations , Do i need to code up ROUGE- W score ?  I haven't actually come across any of it's applications . I guess ROUGE - L ,S ,N are the most used ones . Please correct me if I am wrong.

[2018-06-11 12:20] alvations commented on #1992
Start with any ROUGE score, extending it the others, whether it's W or not should be easy.

[2018-06-11 15:26] ghost opened #2042 "NLTK Naive Bayes Classifier train method runs out of memory for considerable train data size"
I was using the Naive Bayes classifier for training a sample set.
The sample set has 11392 labels and 4109 unique features spread across the labels.

When the train method is called the memory runs out rapidly and Memory error is received.
I have done the following:
1. Moved the code to use 64 Bit Python interpreter
2. Used indices (int instead of string) for both features and labels
But still the

[2018-06-11 16:10] alvations commented on #2042
**TL;DR**

Take a look at https://www.kaggle.com/alvations/basic-nlp-with-nltk

I suspect you might run out of memory too using scikit-learn too.
Why do you have 11392 labels? Are you sure it's a task suitable for classification? How many data points do you have?

----

I think it's a little `off-topic` as it's not exactly a bug but yes you're right about naive bayes implementation in NLTK not bei

[2018-06-12 05:12] ghost commented on #2042
Thanks @alvations for the reply and information.
The prototype being developed is for page classification for further document classification.
Currently there are 250-300 documents and each of them might have variations i.e. page content is different and/or number of pages are different.
Currently the learnset has around 7000 pages i.e. ~7000 labels
So in case the prototype is taken to product sta

[2018-06-12 07:10] 53X commented on #2006
@zdog234 , @alvations  , @stevenbird  I made the PR [here](https://github.com/nltk/nltk/pull/2044)

[2018-06-15 19:04] 53X opened #2046 "TER Metric for MT not present"
TER metric for machine translation is not present in nltk. TER Metric has been introduced in [here](https://www.cs.umd.edu/~snover/pub/amta06/ter_amta.pdf)

[2018-06-15 19:05] 53X commented on #2046
If this issue is good to go then I am taking it

[2018-06-18 02:51] coderlxn commented on #736
It's still there now.

[2018-06-18 11:50] darrensapalo commented on #1612
### Closest reference to C&C tools and Boxer I could find

As explained by @valeriobasile in his free [C&C/Boxer HTTP API](http://valeriobasile.github.io/candcapi/):

Following the link arrives at [his repository](https://github.com/valeriobasile/learningbyreading) containing the implementation of his 2016 paper entitled [KNEWS: Using Logical and Lexical Semantics to Extract Knowledge from Natural

[2018-06-18 15:29] valeriobasile commented on #1612
Hi,
  as mentioned, the C&C tools server was discontinued. As far as I know, there has been no attempt at putting it back online.
I put the most recent copy of the source code of C&C (before it went down) inside the repository of KNEWS, and I created a script to help with the installation, which can be a pain in the neck.

@darrensapalo: it seems that Boxer did not compile successfully. Unfortunat

[2018-06-18 17:12] darrensapalo commented on #1612
@valeriobasile Thanks for the update on C&C tools. 👍

And no problem re: my boxer not compiling. I'm exploring other options, including the ones you talked about on your paper. I sent you an email containing further questions. Thanks again!

[2018-06-19 11:04] shingohu commented on #1255
@alvations @dimazest  I have the same question
we want to show the Tree in html ，so we use the method print_to_file to save the Tree in .ps file，and we convert the .ps file to .png file

the method like this:
TreeView(trees)._cframe.print_to_file('tree1.ps')
os.system('convert tree1.ps tree1.png')

english is ok，but chinese is not show in png file

[2018-06-19 16:20] PanderMusubi commented on #1968
To tackle the issues one by one, I have found one that might be easy. The one regarding a word containing a single quote followed by only a single letter might have a hard-coded condition which letters are allowed there without breaking the word.

    words = "alinea's auto's m'n zo'n sms't ge-sms't ftp't ge-ftp'd"
    print(word_tokenize(words, language="dutch"))
    ['alinea', "'s", 'auto', "'s"

[2018-06-19 18:52] PanderMusubi commented on #1969
Sorry for the late reply. Confirmed that it works. Thanks very much for fixing this.

[2018-06-20 05:48] shingohu commented on #1994
@lifengjin 解决了？

[2018-06-24 18:31] uriva opened #2048 "Following Stanford parser import warning yields an error"
If I init the parser using this import:
`from nltk.parse.stanford import StanfordDependencyParser`
I get:

But this import:
`from nltk.parse.corenlp import StanfordCoreNLPParser`

Gives the following error:

version: nltk 3.3

[2018-06-24 21:12] stevenbird commented on #2048
Thanks for reporting this @uriva

[2018-06-25 08:41] 53X opened #2049 "Masi Distance Doc_test Error"
Running the **doctest** on **masi_distance** in *nltk.metrics.distance* gives the doctest error as follows:

    Failed example:
        masi_distance(set([1, 2]), set([1, 2, 3, 4]))
    Expected:
        0.665
    Got:
        0.335

[2018-06-25 13:14] 53X commented on #2049
`0.665` is most probably the `masi_similarity = 1-masi_distance` between the given sets.

[2018-06-26 06:03] 53X commented on #2049
@alvations what do u think about this

[2018-06-26 06:17] alvations commented on #2049
~Yes, from first look, it looks like distance and similarity is mixed up.~ Let me relook at the old Passonneau paper and the implementation after I figure out what went from on CI #2044

[2018-06-26 06:31] ImanoWilliams opened #2051 "TypeError: __init__() got an unexpected keyword argument 'tagtype'"
Hello,
I got "TypeError: __init__() got an unexpected keyword argument 'tagtype'" when calling

`parser = CoreNLPParser(url='http://localhost:9000', tagtype='pos')`

I am using NLTK 3.3 and CORENLP 3.9.1

It seems to work when I have `parser = CoreNLPParser(url='http://localhost:9000')`

[2018-06-26 06:49] alvations commented on #2049
Looks like the function docstring isn't documented properly too =(
**But the implementation is right. No error here.**

In NLTK:

[code]

From the paper, the MASI is a weighted jaccard similarity

[code]

The original MASI formula is for the similarity, c.f. [Passonneau (2006)](http://www.cs.columbia.edu/nlp/papers/2006/passonneau_06.pdf):

So the masi_distance ` 1 - len_intersection / len_union *

[2018-06-26 07:14] alvations commented on #2051
@ImanoWilliams What is your python version? Might be that your NLTK version is out-of-sync. What's your output for:

[code]
-----

[2018-06-26 14:54] ImanoWilliams commented on #2051
@alvations, I had it resolved. I restarted the python console in PyDev Eclipse.

[2018-06-26 14:54] #2051 closed, assigned to nobody

[2018-06-28 22:14] ataylor32 opened #2053 "Remove the "twython library has not been installed" warning?"
I'm using nltk for sentiment analysis in a Django project. Every time I run a command with Django's `manage.py`, I get this output:

[code]

I also get emailed by cron since cron emails whenever output is generated. Could this warning just be in the nltk documentation or is it important for it to be in the code too?

[2018-06-29 05:16] ghost commented on #1961
This worked for me.
At first, I had saved a file named nltk.py and in that file, I had written those 2 lines.
Go to C:\Users\User\AppData\Local\Programs\Python\Python36\
In here, delete that nltk.py file.

Now, re-run those 2 lines from the cmd prompt and it'll work.

[2018-06-29 14:39] alvations commented on #2053
Try installing with the `twitter` option, e.g.

[code]

Or if you like it fuss-free, all batteries-included:

[code]

[2018-06-29 21:53] 53X commented on #2049
[code]
@alvations , I had a look at this code ( which u posted earlier) but didn't understand the purpose of the second **elif** which calculates monotonicity,m. If the first **elif** is true then there is no reason to have the second **elif**. The bottomline being that the second **elif** is never encoutered.  I guess the error lies here.

[2018-07-02 16:33] PanderMusubi opened #2055 "List installed language support"
By downloading `punkt`, several languages are support, such as:
* czech
* danish
* dutch
* english
* estonian
* finnish
* french
* german
* greek
* italian
* norwegian
* polish
* portuguese
* slovene
* spanish
* swedish
* turkish

How can, in Python, this list of language names be queried from NLTK? If that is not possible in a generic way, could this please be made into a feature request?

[2018-07-02 21:35] mjalkio commented on #2053
@alvations are you recommending that everyone install with Twitter?

For example, if I just do `from nltk.sentiment.vader import SentimentIntensityAnalyzer`, I'll get the error. I don't need any twitter functionality, I'm just getting the warning due to the way things are being imported (some of the Twitter functions seem to be used for `demo_` functions in `nltk.sentiment.util`).

[2018-07-02 23:33] alvations commented on #2053
It's a warning so it's not breaking anything critical. I think it makes sense to install with twitter if you're using `nltk.sentiment`, at some point you might need the twython functionalities.

One could also do something like:

[code]

[2018-07-06 07:25] libingnan54321 opened #2057 "Help me please! nltk and standford nlp integration"
There was a problem make me confused when i used nltk and standford nlp integration.
My develop environments like this :
1.   nltk 3.3
2.   standford nlp stanford-segmenter 3.6.0 / 3.9.1
And i try to create an StanfordSegmenter Object like this :
  standfordNlpPath = self.projectPath + "\standford-nlp\stanford-segmenter-2015-12-09"
  stanfordSegmenter= StanfordSegmenter(
    path_to_jar=standfordN

[2018-07-06 14:09] Demetrio92 commented on #1839
So is this decided or not?
I am now trying to run `nltk.tag.StanfordNERTagger()`. There is a small issue with it, that I wanted to fix. Shall I do it or not?

I want the parser to run locally without API-calls. Is this possible with `CoreNLPParser`?

[2018-07-07 09:33] uriva opened #2058 "Exception while parsing using stanford parser"
[code]

[2018-07-08 08:07] jayvdb opened #2059 "Support XDG_DATA_HOME"
Sort of following on from https://github.com/nltk/nltk/issues/1997 , allowing the data to be stored in typical locations is great, however it should be customisable using `XDG_DATA_HOME`.

i.e. add `os.environ.get('XDG_DATA_HOME') + '/nltk_data/'` to the list at

https://github.com/nltk/nltk/blob/develop/nltk/data.py#L107

[code]

Wrt writing the data, `NLTK_DATA_PATH` obviously comes first, any e

[2018-07-09 17:10] Demetrio92 commented on #2057
@libingnan54321 why are you not using the latest 3.9.1 version?

Can you please try this one first and provide the output?
[code]

[2018-07-11 19:27] Priyansh2 opened #2061 "Not able to import nltk"
I am trying to import nltk in python2.7 interpreter but it throw this :- ![screenshot from 2018-07-12 00-59-09](https://user-images.githubusercontent.com/13703438/42595117-d2d4fdae-856e-11e8-99e1-07b8b2f9628a.png). I am curious why module "sklearn" have a problem while importing nltk. Any help is appreciated. The importing problem present in both version of python i.e 2.7 and 3.4.
EDIT1:- I have t

[2018-07-12 07:22] 53X commented on #2061
@Priyansh2 , what I understood from my limited knowledge is that your error is not an` ImportError` but rather an `AttributeError`and thus my suggestion would be to run `nltk.download()`  and make sure that all the submodules are downloaded.

@alvations , @stevenbird please throw some light here.

[2018-07-12 14:43] Priyansh2 commented on #2061
@53X for doing `nltk.download()`, first  i have to `import nltk` but i'm not able to do that as shown in screenshot.

[2018-07-12 15:42] 53X commented on #2061
OOPS ... sorry my bad =) . Thanx for pointing that out @Priyansh2 . Did u try changing the version of Python? Did your` pip install nltk` run successfully?

[2018-07-12 15:47] Priyansh2 commented on #2061
@53X  yes, i checked with python3 but still the same error. Even i tried the alternative way of downloading nltk stuff as written in [this](http://www.nltk.org/data.html#command-line-installation).

[2018-07-12 16:36] alvations commented on #2061
In that same directory what's the output of

[code]

[2018-07-12 16:47] Priyansh2 commented on #2061
@alvations When i give it the path of current working directory as you told it gives me this :-  [`'dup.txt', 'code_mixed-lyrics_bogie.csv', 'cm_line_map.py', 'Shabdanjali', 'IAA', 'classifier.pyc', 'model.pickle', 'code_mixed-out2.csv', 'full_reduplication.py', 'data', 'test', 'syllable_count.py', 'file_iaa.txt', 'li_and_back_transliteration.py', 'devnagari_word_list', 'english_word_list.txt', 'd

[2018-07-12 17:19] Priyansh2 commented on #2061
@alvations @53X I am able to import nltk only if I run any python2/3 command with 'sudo'. That's very strange to me as it never happened before. I am closing this issue. Thank you all for your support :D

[2018-07-12 17:33] #2061 closed, assigned to nobody

[2018-07-12 19:47] rmNULL opened #2063 "ConditionalFreqDist keys are mutated on call to plot"
### Brief
`ConditionalFreqDist` modifies the conditions(keys) when a non-existing key
is passed as a `conditions` keyword argument to `tabulate()`/`plot()`.

Look at an
### Example
![nltk-condist](https://user-images.githubusercontent.com/8173131/42654522-7dd6451a-8636-11e8-993a-fd10889dc211.png)

This undocumented behaviour appears a bug to me.

---

### Why is this happening to me ?
**Note**,  p

[2018-07-12 21:07] ZiyangYE opened #2064 "Something wrong with nltk.text.Text"
When I'm running the function concordance in the Text object, it returns at most 25 results.

For example:

Displaying 25 of 25 matches:
minded him of his mortality . " While you take in hand to school others , and t
aketh the signification of the word , you deliver that which is not true ." --
oever , sacred or profane . Therefore you must not , in every case at least , t
n ." -- GOLDSMITH , NAT

[2018-07-18 20:38] SepidehGoli commented on #1574
Executables don't work at all! Try pip as maitetaboada said.

[2018-07-23 09:39] buhrmann opened #2066 "Too many dependencies in conda-forge feedstock"
Hi, I've already created an issue on https://github.com/conda-forge/nltk-feedstock, but my suspicion is that that repo is not actively monitored by anyone, which is why I post this here too.

It seems that in the latest update of the feedstock too many unnecessary dependencies have been added, I suspect by accident. E.g. all of the following have been added as hard dependencies suddenly:

- gensim

[2018-07-24 11:20] sleepyfoxen commented on #1342
For those finding this thread, I have kind of bodged together a submodule containing the old model code.

https://github.com/sleepyfoxen/nltk_model

[2018-07-24 22:24] timgianitsos opened #2068 "PunktLanguageVars becomes immutable after methods are invoked"
The instance variables of PunktLanguageVars are initialized with a faulty design pattern that leads to buggy behavior when using the sentence tokenizer. The two culprits are `def word_tokenize(self, s):` and `def period_context_re(self):` in PunktLanguageVars. Both of these methods have the following construction.
[code]
This is a faulty way of initializing an instance variable because it only all

[2018-07-24 23:18] jnothman commented on #2068
I haven't had time to read your comment thoroughly yet, but
PunktLanguageVars was intended to be modified/extended through
inheritance... Although it's not as if we put together something
instructive or really tried that... But setting attributes of a global
PunktLanguageVars is obviously a bad idea if you need to support multiple
languages.

 Is there a way the documentation can be improved - per

[2018-07-25 03:38] alvations commented on #2066
@buhrmann Thanks for bringing this issue to our attention!

I'm not very sure how it works in conda land but do you know whether

 - `nltk-feedstock` is something used by `anaconda` or (mini) `conda`,
 - Who packages `nltk-feedstock`?
 - And possibly why they used the `pip install nltk[all]` idiom to include all dependencies?

@conda-forge-admin @pmlandwehr any clues?

[2018-07-25 03:43] alvations commented on #2055
It's rather odd because not all functionalities are available for all languages. But I think it's a good thing to have and get it documented. Then again saying things like supporting >10+ languages is a little over-claiming because most probably, it'll be only stopwords / punkt having that many languages.

Unlike SpaCy or Stanford CoreNLP, pipeline-based framework, it's not that simple to get a ma

[2018-07-25 03:43] jnothman commented on #2066
Conda-forge is a community packaging project, i.e. not maintained by
Continuum IO. But it is certainly a popular channel!

https://github.com/conda-forge/nltk-feedstock/blob/master/recipe/meta.yaml
says @pmlandwehr is the recipe maintainer.

Extra requirements were added here, apparently without comment or pull
request:
https://github.com/conda-forge/nltk-feedstock/commit/e400e09fbde3d0064bc5bb326

[2018-07-25 05:23] alvations commented on #2066
Thanks @jnothman! I think depends on the purpose, if the package wants to achieve the "all-batteries included" purpose, then I guess 500MB is not much an issue. I suppose most of it might have been taken by `scipy`.

I guess it's up to @pmlandwehr's decision whether to trim the extra dependencies ;P

[2018-07-25 05:28] alvations commented on #2064
@ZiyangYE Thank you for raising this bug. BTW, which version of NLTK are you using?

In version 3.3, the `lines` parameter isn't doing what it supposed to when it's >25.

[code]

[2018-07-25 05:32] jnothman commented on #2066
Hmmm... I think conda-forge would rather see this as a decision that the package maintainers should be involved in. NLTK is clear that it has minimal required external dependencies, and I think that's how conda-forge should supply it to users. Certainly, that would be consistent with the Anaconda NLTK package which depends only on things like Python, six, tk and sqlite.

I think 500MB is a serious

[2018-07-25 05:40] alvations commented on #2064
In the bleeding edge version of the NLTK (`develop` branch) from #2026, there isn't any issue now =)

[code]

[2018-07-25 06:02] alvations commented on #2066
I didn't know `anaconda` only ships with minimal dependencies =)
Then @pmlandwehr and https://github.com/conda-forge/nltk-feedstock should follow try that.

[2018-07-25 07:55] PanderMusubi commented on #2055
Such feature matrix, not only on the website but inside NLTK, would be very welcome.

[2018-07-25 14:10] frankier commented on #2066
Well anaconda is batteries included, but there's miniconda which doesn't come with the kitchen sink. The problem is Conda doesn't support square bracket type dependencies. The reasonable compromise at the moment would be to supply nltk with just minimal dependencies and an nltk-all metapackage. Then if people want something in-between they have to do it manually. There's a proposal now: https://gi

[2018-07-25 15:10] ZiyangYE commented on #2064
@alvations  Yes, it's 3.3

[2018-07-25 15:10] #2064 closed, assigned to nobody

[2018-07-26 00:53] alvations commented on #2006
Thanks again @53X for the contribution! Resolved in #2044

[2018-07-26 00:53] #2006 closed, assigned to nobody

[2018-07-26 01:06] alvations commented on #1842
Resolved. NIST was completed in #1840 a couple of month before =)

[2018-07-26 01:06] #1842 closed, assigned to alvations

[2018-07-26 01:07] alvations commented on #1841
Thanks again @campionfellin for the fixes! It's merged on `nltk_book` =)

[2018-07-26 01:07] #1841 closed, assigned to nobody

[2018-07-27 15:15] ales-t commented on #1785
In the Maja Popovic's implementation, when multiple references are provided, the one which leads to the highest f-score is used, see:

https://github.com/m-popovic/chrF/blob/master/chrF%2B%2B.py#L155

[2018-07-29 23:07] ksun91 opened #2070 "AttributeError: module 'nltk' has no attribute 'internals'"
[code]

[code]

Specs:
Mac, High Sierra Version 10.13.6, Python Python 3.6.3

[2018-07-30 01:36] alvations commented on #2070
Quick sanity check.
Did you happen to name your script `nltk.py`? If so, please try renaming it and try the import again.

[2018-07-30 06:36] ksun91 commented on #2070
I do not have a script named nltk.py. I tried reinstalling nltk and other fixes I found online, but none of them work. However, I just restarted my jupyter notebook, and now it works. Don't know which one of my actions fixed the issue...

[2018-07-30 06:36] #2070 closed, assigned to nobody

[2018-07-31 12:50] BLKSerene opened #2071 "Paramaters not used in nltk.text.concordance()"
nltk.text.concordance() call print_concordance() and pass word, width, lines as parameters, but print_concordance() then call find_concordance(word, width=80, lines=25) where parameter width and lines are assigned 80 and 25, rendering the parameters input by the user useless (when printing the concordance results, there are always 25 lines whose width are 80-charater long).

[2018-07-31 16:07] alvations commented on #2071
This should have been fixed with #2026 in the bleeding edge branch.

If you want it to be resolved now, you can try the bleeding edge version with the following:

[code]

Otherwise waiting for the next version is the other option.

[2018-08-02 01:23] LemmaEOF commented on #2019
I'm on Python 3.7 and Mac OS X, and I'm still having this issue. The pointer is at `_ssl.c:748` instead of `_ssl.c:777` for me. I've done the the Install Certificates.command and no luck.

[2018-08-02 02:47] stevenbird commented on #2019
Please use Python 3.6.

[2018-08-02 02:51] LemmaEOF commented on #2019
Thank you!

[2018-08-02 06:56] alvations commented on #2019
@stevenbird I think it's around time to play catchup with Python on CI again =)

[2018-08-02 07:00] alvations opened #2072 "Supporting Python3.7"
Python 3.7.0 had been shipped in June 2018, [PEP537](https://www.python.org/dev/peps/pep-0537/), I think it's better to pre-empt the end-of-life for Python 3.6 than to wait for user uptake and rush for a build.

I think we're safe to have a tentative support for 3.7 later this Dec 2018 when 3.6.8 is shipped. End of life for Python 3.6 is Dec 2012 =)

This should help when porting code https://docs

[2018-08-02 13:09] stevenbird commented on #2019
@alvations yes, you're right...

[2018-08-02 13:10] stevenbird opened #2073 "Upgrade CI config for Python 3.7"

[2018-08-02 13:12] #2073 closed, assigned to nobody

[2018-08-02 13:13] stevenbird commented on #2019
See #2072

[2018-08-03 12:07] Syntax3r commented on #1574
do any one know how to add nltk library in ironpython? i try all solution almost :|

[2018-08-04 11:12] nandanii opened #2075 "issue while executing eliminiting proper noun"
file not found at wordsEng.txt
![screenshot from 2018-08-04 16-40-02](https://user-images.githubusercontent.com/42090227/43675889-457e4bf0-9805-11e8-99bb-cd6af85d212d.png)

[2018-08-05 07:39] gkucsko opened #2076 "TreebankWordTokenizer span_tokenize still throwing exception for some corner-cases"
very similar to #1865, there are still unhandled inputs to TreebankWordTokenizer that will cause span_tokenize to throw:
[code]
a working fix could be:
[code]
i don't like the extra look arounds, but at least this wouldn't change anything about the current implementation. happy to submit a merge req if it's helpful!

[2018-08-07 13:02] xulaus commented on #2053
I am also finding this issue quite annoying. We don't want to install with the twitter option as our application will fairly likely never need it and we like to keep our docker images as slim as possible. We also don't want to turn off warnings as that might hide genuine issues from other modules.

It seems like the cause of this is `json2csv_preprocess` in `nltk/sentiment/util.py`, which in turn

[2018-08-07 14:58] 53X opened #2079 "Integrating word vector support for NLTK"
Word Vectors are currently not supported by NLTK.

Integrating them would be a really good step as we often deal with them in our day-to-day jobs. This would then make NLTK a one stop for many more kinds of NLP purposes

Following are a list of word-vectors that can be integrated with NLTK :
 [**word2vec**](https://drive.google.com/file/d/0B7XkCwpI5KDYNlNUTTlSS21pQmM/edit)
[**GloVe**](https://nlp.

[2018-08-07 21:56] MrCubaX commented on #736
It's still there now.

[2018-08-09 18:08] 53X commented on #2079
@alvations , @stevenbird  please comment and provide your views

[2018-08-10 05:02] stevenbird commented on #2079
Is there a way to integrate word vectors without replicating big chunks of gensim?

[2018-08-10 09:07] 53X commented on #2079
@stevenbird , do u mean without importing gensim package?

[2018-08-10 13:44] gkucsko commented on #2076
@alvations (in regards to https://github.com/nltk/nltk/pull/1864#issuecomment-411657125)
thanks, agreed. due to the substitutions this will probably never work reliably. close this as won't fix?

[2018-08-10 15:35] annargrs commented on #1928
Any news on this? Python 3.6 still complains about NLTK 3.3, on pretty much every resource:

[code]

[2018-08-10 18:48] stevenbird commented on #2079
Can you please explain what you're proposing to do?

[2018-08-10 18:58] ekembi commented on #1973
It is already reported in nltk_book. I am closing this issue (because it is a duplicate).

[2018-08-10 18:58] #1973 closed, assigned to nobody

[2018-08-10 18:59] #1972 closed, assigned to nobody

[2018-08-10 20:04] frankier commented on #2079
Gensim is fantastic. About the only thing nltk generally provides that Gensim is lacking is the dataset management stuff, which is possibly what 53X was getting at? Nltk could add something like this. In fact I have implemented something of this style in my own project, finntk: https://github.com/frankier/finntk/tree/master/finntk/emb (it's a bit different from nltk - it pulls in datasets "on-dema

[2018-08-10 20:26] frankier commented on #2079
In terms of repositories of word vectors. There's also: http://vectors.nlpl.eu/repository/

[2018-08-11 04:22] py-ranoid opened #2082 "sent_tokenize fails to seperate sentences that have no space after fullstop."
[code]

[2018-08-12 10:03] 53X commented on #2079
@stevenbird , quoting from the SpaCy doc.:

We can build and integrate something like this  in NLTK,and I think that this might be the right PR where we start integrating DL functionality to NLTK.

We can build something similar in NLTK and for that we might need to add the pre trained word embeddings in the NL

[2018-08-15 02:44] wwt17 opened #2083 "corpus BLEU score have a minor issue when smoothing"
[Here](https://github.com/nltk/nltk/blob/ecced11335a8942beeab4ed9020eb93f18457d10/nltk/translate/bleu_score.py#L210) should be `hyp_lengths` rather than `hyp_len`.

[2018-08-15 03:06] alvations commented on #2083
Thanks @wwt17! Good catch!

[2018-08-15 06:06] #2083 closed, assigned to nobody

[2018-08-15 11:35] 53X commented on #2079
My idea might be very crude, but with a bit of refinement from u guys, I think we can make something out of this ..

[2018-08-15 11:51] stevenbird commented on #2079
@53X what are you proposing to do exactly?

[2018-08-15 12:06] 53X commented on #2079
Let's say for a start incorporating something like sentence2vec, doc2vec etc. so that given comparable quantities we can say how similar they are.

[2018-08-15 15:52] alvations commented on #2079
I think you're suggesting something like https://radimrehurek.com/gensim/models/keyedvectors.html ?

----

My 2-cents worth. Without the cython or c code hacks, we'll not be able to achieve the `gensim`/`spacy` speed. Unless there's some way to differentiate the code between NLTK and gensim, there's no good use for two libraries to be too similar.

[2018-08-15 16:02] alvations commented on #2079
Also, we haven't figured out a good distribution channel for data management.

Personally, (on and off for quite some time), I've been trying  different styles of reformatting the `nltk.corpus` but I haven't came up with an API design that has suitable Content Delivery Network (CDN) that can handle data management elegantly.

I've explored Kaggle Datasets, dropbox and zendoo and even data distribu

[2018-08-15 19:22] 53X commented on #2079
@alvations , this problem sounds interesting and if it's not a problem for any of u guys then please can I take it up as a challenge?

[2018-08-15 20:01] 53X commented on #2079
My apologies to all of you guys if the following suggestion sounds foolish or absurd.

I was actually thinking about making a separate repository (inside NLTK) for all these datasets. I think it would then be possible to address the issue that @alvations  mentioned. Mostly importantly, then we could then directly download(clone)  anything new (datasets or pretrained models like GloVe ) into the lo

[2018-08-15 20:12] 53X commented on #2079
Oops, sorry .... turns out NLTK already has a repository called `nltk_data`.

[2018-08-15 20:55] frankier commented on #2079
@alvations Do your objections apply to Quilt?

[2018-08-15 21:28] stevenbird commented on #2079
@alvations how about posting your comments about datasets to nltk-dev.

[2018-08-16 12:00] hecoding commented on #2041
Hi! This issue is now 2 months old, so it's like to know the status of the implementation @53X self-assigned 🙂

[2018-08-16 13:02] 53X commented on #2041
I have already implemented this locally @hecoding.  It is just a matter of time till I make a PR. Actually I have made a PR on another issue. So to reduce reviewer's load I am waiting for my current PR to be merged. Thanks for your concern.

[2018-08-16 13:18] hecoding commented on #2041
Many thanks for your work! That's great news, we'll be waiting for your implementation.
Have a good day.

[2018-08-16 14:11] dg1an3 commented on #736
It's still there now (on the Safari Online version of the NLTK book)

[2018-08-16 14:13] dg1an3 commented on #736
Oh I see there was a note inserted after the example, that generate() was removed from NLTK 3 -- sorry

[2018-08-16 17:34] AlJohri opened #2085 "sent_tokenize fails on sentence ending in smart quotes"
![screen shot 2018-08-16 at 1 28 02 pm](https://user-images.githubusercontent.com/2790092/44224644-0d2cc800-a159-11e8-8ee0-9c2f803e887c.png)

resolution for now:

[code]

would be great if this was supported OOB

[2018-08-17 02:24] alvations commented on #1647
@stevenbird Hmmm, it looks like Github is doing it again, limiting bandwidth and it's causing CI to fail =( https://nltk.ci.cloudbees.com/job/pull_request_tests/799/PYV=2.7.14,jdk=jdk8latestOnlineInstall/console

[2018-08-17 02:39] zxiiro commented on #1647
We're experiencing this issue as well.

[2018-08-17 03:01] alvations commented on #2079
Lets continue the conversion on the dataset distribution on https://groups.google.com/forum/?hl=en#!topic/nltk-dev/LjThWkAthwc

----

@53X there's no foolish/absurb suggestions, just how we can make it constructive and knowing what's the next steps =)

@frankier I'm not familiar with Quilt data but it looks like a potential space to distribute the data.

[2018-08-17 03:48] sivabushan opened #2086 "nltk.corpus.reader.wordnet.WordNetError: line '01593254 v 0104"
While loading the application, im facing the  below error,
ValueError: invalid literal for int() with base 10: 'v' During handling of the above exception, another exception occurred:
This happens when im trying to load wordnet. Please help me how to resolve this. Thank you

[2018-08-17 04:36] alvations commented on #1647
This is due to GitHub outage. Please try again and monitor https://status.github.com/messages

[2018-08-17 05:07] alvations commented on #2086
Please check whether your wordnet file is corrupted, in terminal/command prompt, do this:

[code]

If the number is different, please rm the zip and redownload the wordnet data file:

[code]

[2018-08-17 05:09] alvations commented on #2082
c.f. https://github.com/nltk/nltk/pull/2081

Possibly users should clean their sentences before putting it through `sent_tokenize` =)

[2018-08-17 05:13] alvations commented on #2085
c.f. #2082

Since Punkt sentence tokenizer is a statistical model, we shouldn't be adding pre-/post-regex hacks to the the model. I suggest that we retrain the models. But it might require some pre-cursor issue, e.g. https://github.com/nltk/nltk/issues/2008

[2018-08-17 05:16] alvations commented on #2076
If the current `span_tokenize()` is really buggy, we might want to deprecate it back to the `NotImplementedError` until a better solution. Meanwhile, we can leave this open because someone might be able to find some way to fix this smartly =)

[2018-08-17 05:17] alvations commented on #2075
@nandanii Sorry I think this is not an issue related to NLTK specifically. I don't think we have any resource with filename `wordsEng.txt` in NLTK.

[2018-08-17 05:35] #1659 closed, assigned to nobody

[2018-08-17 05:36] alvations commented on #2049
The implementation is right as explained above, closing this issue to clean up the issue tracker. Do feel free to re-open if there's further problems on it =)

[2018-08-17 05:36] #2049 closed, assigned to nobody

[2018-08-17 05:37] alvations commented on #2071
Resolved in #2026

[2018-08-17 05:37] #2071 closed, assigned to nobody

[2018-08-17 05:38] alvations commented on #1613
Closing `off-topic` issues to clean up the issue tracker. Please feel free to reopen or create PR if you would like to contribute to Solr integration.

[2018-08-17 05:38] #1613 closed, assigned to nobody

[2018-08-17 05:39] alvations commented on #1762
Closing `off-topic` issues to clean up the issue tracker. Please feel free to reopen or create PR the issue is really related to NLTK code.

[2018-08-17 05:39] #1762 closed, assigned to nobody

[2018-08-17 05:40] alvations commented on #2075
Closing `off-topic` issues to clean up the issue tracker. Please feel free to reopen or create PR if you find that the data/resource is coming from NLTK and causing the error.

[2018-08-17 05:40] #2075 closed, assigned to nobody

[2018-08-19 16:44] TrigonaMinima opened #2087 "Hindi and Hinglish stop-words"
Hi,
I am working with [Hinglish](https://en.wikipedia.org/wiki/Hinglish) data. While exploring the text corpus, I wanted to remove the stopwords from the data. There were none for the Hinglish. So, I created one big stopwords list for Hinglish. I have basically used the English one from NLTK plus transliterated hindi words. I also have one having just Hindi stopwords. I wanted them to be accessibl

[2018-08-20 11:12] BLKSerene opened #2088 "find_concordance() return empty list for left_context"
[code]

When the first occurrence of the search term is at the beginning of the text (for example at offset 7), suppose the width parameter is set to 20, then [i-context:i] would be evaluated as [-13:7].
In this case, if the text consists more than 20 words, the variable left_context would be an empty list, rather than a list containing the first 7 words of the text.

A simple fix would do:

[code

[2018-08-20 14:14] alvations commented on #2088
Could you provide a sample input and desired output so that we can add to the regression test?

[2018-08-21 04:12] BLKSerene commented on #2088
Input:
[code]

Output (NLTK 3.3):
[code]

Desired Output:
[code]

[2018-08-21 06:02] koyo922 opened #2089 "`wordnet.ic()` does not support non-English corpus"
I was trying to creates an information content lookup dictionary from a Japanese corpus.(KNBC)
[code]
the bug rooted here (should be `self.synsets(ww, lang=lang)` ):

https://github.com/nltk/nltk/blob/378fee689b493edc197282444efe8300a936db79/nltk/corpus/reader/wordnet.py#L1907

[2018-08-21 16:40] meldavis commented on #1986
This is still broken.   The fix did remove the exception; however, now the corpus fails to return any data.

## Example using Twitter Corpus
### Appending a subdirectory to the zip filename
[code]
This correctly reports
[code]

### Using a zipfile as a corpus root produces no data
[code]
This incorrectly reports an empty set:
[code]

[2018-08-21 17:44] meldavis opened #2090 "Zipfile as corpus fails unless a subdirectory is appended to the filename"
I am adding another issue because I could not reopen #1986.

Issue #1986 is still broken.   The fix did remove the exception; however, now the corpus fails to return any data.    Note that this issue applies to all corpus; I am using the Twitter Corpus as an example.

The issue is using a zip file as a corpus fails, unless a subdirectory is appended to the zip's filename.
Example: ```twitter_sampl

[2018-08-22 08:19] HaelC opened #2091 "nltk.app.concordance() crashes on macOS terminal"
macOS: 10.12.6
Python: 3.6.3
NLTK: 3.3

When calling `nltk.app.concordance()` on Terminal, Python would crash with the exception message:
[code]

The same problem seems to apply to IDLE as well: [nltk.app.concordance() crashes IDLE on Mac OS
](https://stackoverflow.com/questions/42882127/nltk-app-concordance-crashes-idle-on-mac-os).
However, nltk.app.concordance() works well on Jupyter Notebook an

[2018-08-23 05:15] alvations commented on #2058
Please use the new `CoreNLPParser` interface.

First update your NLTK:

[code]

Then still in terminal:

[code]

Finally, start Python:

[code]

[2018-08-23 05:28] alvations commented on #2057
Please use the new `CoreNLPParser` interface.

First update your NLTK:

[code]

Then still in terminal:

[code]

----

For Chinese:

[code]

Then in Python3:

[code]

----

For Arabic:

[code]

Finally, start Python:

[code]

[2018-08-23 05:50] alvations commented on #2016
It's not officially supported in the NLTK interface. But you can try the following:

In terminal:

[code]

(Note: the order of `tokenize,ssplit,pos,lemma,ner,depparse,coref` is important)

Then in Python3:

[code]

You will get the JSON output from CoreNLP which you'll have to parse/read the JSON it yourself.

If you're up for the challenge, write a small wrapper function to read the coref into an

[2018-08-23 05:54] alvations commented on #2010
@hexingren Please try the following with NLTK v3.3.

Please use the new `CoreNLPParser` interface.

First update your NLTK:

[code]

Then still in terminal:

[code]

Finally, start Python:

[code]

Are you still getting the error with the above?

[2018-08-23 05:57] alvations commented on #1991
@bayou3 did you get the NLTK's API to Stanford CoreNLP to work with the code in the previous comment?

[2018-08-23 07:02] alvations commented on #2088
Thanks @BLKSerene for reporting the bug!

Ah, there's a cool fix here. Instead of the if-else. We can clip the minimum bound to a `max()`, e.g.

[code]

-----

Adding the doctest to https://github.com/nltk/nltk/blob/develop/nltk/test/concordance.doctest for the continuous integration / regression test would be very helpful =)

[code]

[2018-08-23 08:00] alvations commented on #2082
@py-ranoid A possible fix would be to retrain the punkt models on wikipedia and then re-submitting a PR with the models to https://github.com/nltk/nltk_data.

Otherwise, I think it's a `wontfix` for now =(

[2018-08-23 08:00] #2082 closed, assigned to nobody

[2018-08-23 08:01] alvations commented on #2085
@AlJohri A possible fix would be to retrain the punkt models on wikipedia and then re-submitting a PR with the models to https://github.com/nltk/nltk_data.

Otherwise, I think it's a `wontfix` for now =(

[2018-08-23 08:01] #2085 closed, assigned to nobody

[2018-08-23 08:04] alvations commented on #2087
Thank you for proposing the hinglish and hindi stopwords. Please do continue the conversation on adding the stopwords on https://github.com/nltk/nltk_data

(Do note that the issues on `nltk_data` gets handled slower because it involves some book-keeping of datasets)

[2018-08-23 08:04] alvations commented on #2058
Closing the issue as resolved for now =)
Please open if there's further issues.

[2018-08-23 08:04] #2058 closed, assigned to nobody

[2018-08-23 08:05] alvations commented on #2057
Closing the issue as resolved for now =)
Please open if there's further issues.

[2018-08-23 08:05] #2057 closed, assigned to nobody

[2018-08-23 08:06] alvations commented on #2010
Closing the issue as resolved for now =)
Please open if there's further issues.

[2018-08-23 08:06] #2010 closed, assigned to nobody

[2018-08-23 08:06] alvations commented on #1991
Closing the issue as resolved for now =)
Please open if there's further issues.

[2018-08-23 08:06] #1991 closed, assigned to nobody

[2018-08-23 08:10] alvations commented on #1990
@nadavb  Please try the following with NLTK v3.3.

Please use the new `CoreNLPParser` interface.

First update your NLTK:

[code]

Then still in terminal:

[code]

Finally, start Python:

[code]

[2018-08-23 08:10] alvations commented on #1990
Closing the issue as resolved for now =)
Please open if there's further issues.

[2018-08-23 08:10] #1990 closed, assigned to nobody

[2018-08-23 10:47] alvations commented on #2091
It seems like some upstream problems where IDLE and Tkinter don't play nice on MacOS https://www.python.org/download/mac/tcltk/

Might be a quick hack but reinstalling Python with brew packaged Tkinter might help.

[code]

[2018-08-23 13:19] scoder opened #2093 "Compile some processing intensive modules"
We are using NLTK 3.3 for large scale text processing with custom grammars, and found that compiling two of the NLTK modules with Cython speeds up our processing by about 30%, essentially for free. All we had to do was
[code]
after the NLTK installation. Note that this compilation remains entirely optional, we didn't change any code.

Obviously, the little downside for us is now that we need to ke

[2018-08-23 22:51] alvations commented on #2093
It would be interesting to see how this works out and know which module can be easily cythonize.

It might take some time to fully create wheels for all platforms but it's worth a try. If you're up for it, please do submit a PR with cythonized versions of the setup.py and we'll take a look at it.

[2018-08-24 15:24] luckybook2018 opened #2095 "concordance method - bug?"
Hello,

I noticed that when I use concordance method, it always only searches up to 25.  It was not the case before. Not sure if this has something to do with the new release? To give a concrete example, when I did text2.concordance('affection'), it used to return "Display 25 of 79 matches" (I did this in Spring). Now it only returns "Display 25 of 25 matches"). I tried text2.concordance('the'), t

[2018-08-24 16:16] alvations commented on #2095
@luckybook2018 this issue should have been fixed by #2026  in the bleeding edge branch.

If you want it to be resolved now, you can try the bleeding edge version with the following:

[code]

Otherwise waiting for the next version is the other option.

[2018-08-24 23:33] #2048 closed, assigned to nobody

[2018-08-25 06:39] iliakur commented on #167
@stevenbird we can close this now!

[2018-08-25 06:40] iliakur commented on #367
Folks we can finally close this :)

[2018-08-25 06:41] iliakur commented on #388
@stevenbird @alvations we should close this :)

[2018-08-25 06:41] iliakur commented on #380
@stevenbird This can now be closed, we have a regression test for it.

[2018-08-25 06:55] #380 closed, assigned to nobody

[2018-08-25 06:55] #167 closed, assigned to nobody

[2018-08-25 06:55] stevenbird commented on #167
Thanks @Copper-Head

[2018-08-25 06:56] dryleaf commented on #367
Update 2018. Already graduated and started working and still the Ngram issue exists

[2018-08-25 06:56] stevenbird commented on #367
Yay!

[2018-08-25 06:56] #367 closed, assigned to nobody

[2018-08-25 07:02] iliakur commented on #1342
@stevenbird I think we can close this finally :)

For concrete feedback on the existing implementation, folks can open separate issues.

[2018-08-25 07:03] iliakur commented on #396
@stevenbird this can also be closed while we're at it!

[2018-08-25 07:42] stevenbird commented on #1342
@Copper-Head yes I agree. Congratulations! :)

[2018-08-25 07:42] #1342 closed, assigned to nobody

[2018-08-25 07:43] #2095 closed, assigned to nobody

[2018-08-25 09:42] #396 closed, assigned to nobody

[2018-08-27 00:54] Bisht9887 commented on #2010
https://stackoverflow.com/questions/52031337/stanfords-corenlp-name-entity-recogniser-throwing-error-500-server-error-inter

[2018-08-27 00:55] Bisht9887 commented on #2010
There is some similar error occuring

[2018-08-27 01:38] alvations commented on #2010
@Bisht9887 would you be able to share the dataset and we'll test what happened? If not, could you post the full stacktrace of the error as well as the output on the console for the Stanford CoreNLP server?

[2018-08-27 02:24] Bisht9887 commented on #2010
---------------------------------------------------------------------------
HTTPError                                 Traceback (most recent call last)
<ipython-input-33-7e0ea97722f7> in <module>()
     22                             print(m)
     23
---> 24 name_extracter()

<ipython-input-33-7e0ea97722f7> in name_extracter()
     18                         name_details=match[1]
     19

[2018-08-27 02:33] Bisht9887 commented on #2010
The data is somewhat this kind of. So I have like 400 text files contaning data similar to as shown below . I am parsing every text file and every line and I am passing the text after 'patient name:' to NER.

patient name: Johny, Rick Performed:  Due: 21Mar2018; Last Updated By: Morgan;
patient name: Wes Conte.
patient name: Comfort, John;
patient name: Oswald, Andy Performed:  Due: 12Mar2014; Las

[2018-08-27 03:30] alvations commented on #2010
@hexingren do you know which is the line that caused the error? Before `tagger.tag(tokens)`, add the line `print(tokens)`.

----
Due to the nature of the dataset, I hope the sample in the previous is anonymized. Or at least changed into some fictional names.

BTW, if the data is so structured as shown above, there's really no need for an NER ;P

[2018-08-27 14:12] Bisht9887 commented on #2010
@alvations : Thank you! The issue has been resolved as there were some empty tokens getting passed to NER, so now I have put a check for them.
Also, the data is not as structured as I have shown above. It is very much unstructured, otherwise, I would have used regular expression or something else :) . I just put a simple clear sample of it here.

[2018-08-28 03:17] alvations opened #2096 "Supporting Python 3.7"
Python 3.7.0 had been shipped in June 2018, [PEP537](https://www.python.org/dev/peps/pep-0537/), I think it's better to pre-empt the end-of-life for Python 3.6 than to wait for user uptake and rush for a build.

I think we're safe to have a tentative support for 3.7 later this Dec 2018 when 3.6.8 is shipped. End of life for Python 3.6 is Dec 2012 =)

This should help when porting code https://docs

[2018-08-28 05:52] alvations opened #2097 "How to stabilize NaiveBayesClassifier outputs?"
On sometimes we see that the continuous integration test fails because of some non-deterministic results from the `NgramTagger` i.e. are `NaiveBayesClassifer`, e.g. https://nltk.ci.cloudbees.com/job/pull_request_tests/822/PYV=3.6.4,jdk=jdk8latestOnlineInstall/testReport/junit/(root)/nltk/tag/

Is there someway to set a random seed or something such that classifier's output is consistent and make s

[2018-08-28 06:11] iliakur commented on #2097
Yes, there is [a way to seed randomness](https://docs.python.org/3/library/random.html#random.seed)!

I would also recommend using a seeded `random.Random` so that setting a seed in one part of NLTK doesn't affect any other parts.

Actually, an example of how this works can be found in `LanguageModel.generate`, [here](https://github.com/nltk/nltk/blob/develop/nltk/lm/api.py#L196)

[2018-08-28 06:28] alvations opened #2098 "Moving to Travis, cleaning up setup/installation and better CI"
More and updated documentation is necessary for [`continuous-integration` section from the `CONTRIBUTING.md`](https://github.com/nltk/nltk/blob/develop/CONTRIBUTING.md#continuous-integration)