[2015-06-19 00:43] andrewyang96 commented on #959
Yes I can import sklearn just fine.

[2015-06-19 00:54] andrewyang96 commented on #959
I found the problem! I was running an old version of numpy (1.7.2). I upgraded it to 1.9.2 and now I can import nltk!

[2015-06-19 00:54] #959 closed, assigned to nobody

[2015-06-19 01:30] jnothman commented on #959
It's an issue caused by discrepancy in numpy version
between scikit-learn's compile- and run-time.

On 19 June 2015 at 10:54, Andrew Yang notifications@github.com wrote:

[2015-06-19 01:30] jnothman commented on #959
(I think!)

On 19 June 2015 at 11:30, Joel Nothman joel.nothman@gmail.com wrote:

[2015-06-19 09:32] iuhaq commented on #1023
I got it but if I use simulate_root=False then similarity between two verbs will also be None. And this is conflicting with other implementations like WordNet::Similarity. So, similarity between same part of speech is supported but not between different part of speech. For example, WordNet::Similarity gives a similarity value between 'price' and 'tax' as:
price#v#1  tax#v#2  0.333333333333333
But

[2015-06-20 04:58] stevenbird commented on #1023
Ideally NLTK's implementation of similarity would be identical in behaviour to WordNet::Similarity, for a given version of WordNet.

@haqirfan:

Can you please give an example of when the similarity between two verbs is None?

When you write: "similarity between 'item.r.01' and 'tax.v.02' is None or negative" – are you talking about NLTK's version? What do you mean "None or negative"?

[2015-06-20 05:00] stevenbird commented on #1022
@ensignavenger – I'm not able to replicate this problem. Would you please try again, and confirm that you're not behind a firewall or something that could be blocking your access?

[2015-06-20 05:00] #1022 closed, assigned to nobody

[2015-06-20 05:17] ensignavenger commented on #1022
Sorry, I forgot to update this- I was able to finally get it to work- I think the problem was my high latency satelite Internet connection was probably conflicting with an aggressive connection timeout or somthing similiar on the download server.

After network conditions improved, I was able to download the data :)  Thanks!

[2015-06-21 15:26] yanykin opened #1024 "import nltk causes UnicodeDecodeError when user path contains cyrillic symbols."
I have Windows 8.1 x64 with Python 2.7 x86 installed in the system.
Unfortunately, path of my user folder contains cyrillic symbols (`C:\Users\Кирилл`) and it makes some inconveniences with using NLTK library.

I have faced with problem trying to import some packages:

[code]

It doesn't matter whether I want to import some specific package or whole NLTK

After some investigations, I found out wha

[2015-06-22 13:09] iuhaq commented on #1023
For example, consider two words 'tax' and 'distance'. if I give these two words to WordNet::Similarity and use path similarity with root_node=yes, it returns following values:
tax#v#2  distance#v#1  0.2
tax#v#2  distance#v#2  0.2
tax#v#3  distance#v#2  0.166666666666667
tax#v#3  distance#v#1  0.166666666666667
tax#v#1  distance#v#2  0.142857142857143
tax#v#1  distance#v#1  0.142857142857143
tax#v#

[2015-06-23 07:20] manhtai commented on #995
I've implemented a neural net for Vietnamese word segmenting here https://github.com/manhtai/vietseg. Have a look!

It's not so good for now. But at least I've tried, huh? :smile:

[2015-06-23 08:49] longdt219 commented on #995
About the performance, it look OK though. However, what's the baseline ?
What is the dependencies ? using network.py from https://github.com/mnielsen/neural-networks-and-deep-learning probably is not a good way w.r.t maintenance and licensing. The idea is we don't want to rely on external code.
Using Theano (python based) for this might be a better (and simpler) solution.

[2015-06-23 09:33] manhtai commented on #995
Thanks, I'm looking for a baseline and will add it soon.

Theano may be better but not simpler, `network.py` is an independent file with less than 300 lines of code.

Anyway, it's only a quick and dirty implementation. I've added future works to README file, and that's for working in the future :smile_cat:

[2015-06-24 17:44] pombreda opened #1025 "Cannot use more than a 100 patterns with the RegexpTagger on Python 2.7 (regression from nltk v2.x)"
See the reason here:
https://github.com/nltk/nltk/commit/dd2a827b32900cc6be73b9e45c3b818b7c343e0f#commitcomment-11844004
`re` can have only 100 named groups in Python 2.7.
Taggers that worked with nltk 2.x no longer work with 3.x

[2015-06-24 17:57] pombreda commented on #1025
Actually even a moderately sized list of regexp quickly creates 100+ named groups

[2015-06-24 18:35] pombreda commented on #1025
@aboSamoor : the commit that triggered this was yours. Any clue for an alternative way?

[2015-06-24 21:58] jnothman commented on #1025
Note that it doesn't matter whether the groups are named or numbered. I think you simply need to split this into regexps of 100 expressions. However, one may want to change any non-essential capturing groups in expressions into non-capturing groups.

Another side effect of the above optimisation is that back-references in expressions won't work (e.g. `r'(a|b)c\1'` matches `aca` but not `acb`), alt

[2015-06-25 07:50] pombreda commented on #1025
@jnothman my tag regexps are actually not complex, though they include some alternations in groups.
I do not use backrefs (who should? ;) )...

That said, I may easily replace the groups by non-capturing ones, but I cannot split my tagger in multiple taggers to go below the 100 limit, can I?

FWIW, the offending std lib code enforcing the 100 limits can be removed without noticeable side effect. I

[2015-06-25 13:59] pombreda commented on #1025
So I was able to get through by refactoring my patterns a bit by merging several smaller patterns in one . A tad uglier and less readable by ok.
Also the performance optimization supposedly gained from this change in handling patterns in 3.x ranges from neutral to minuscule to negative based on a fairly large test suite of mine and is generally insignificant. As the saying goes, premature optimiza

[2015-06-26 23:07] stevenbird commented on #1015
Thanks @ksuderman and @mheilman. I've merged this PR and updated the index (with updated checksum).

[2015-06-26 23:07] #1015 closed, assigned to nobody

[2015-06-27 11:38] jnothman commented on #1025
I get the impression from #200 that reverting the combination of all expressions is a good idea, but that all expressions should be compiled in the constructor.

[2015-06-28 11:20] pombreda commented on #1025
Since `re` caches compiled regexes, pre-compiling regex can have a performance benefit only if you create a lot of regexes and use the standard cache value.

That could happen rather quickly with `nltk` of course. Increasing the cache size is an option that keeps the code simpler IMHO.

In some use, pre-compiling in `__init__` could have an adverse impact if you were to create many taggers objects

[2015-06-28 11:52] jnothman commented on #1025
Indeed, I was surprised that there should be such a great speed-up from
pre-compilation. Thanks for clarifying the purpose of the max cache
parameter.

On 28 June 2015 at 21:20, Philippe Ombredanne notifications@github.com
wrote:

[2015-06-28 20:36] stevenbird commented on #1025
Thanks @pombreda, @jnothman. I like the suggestion of pre-compiling but not pre-combining the expressions. @pombreda would you be willing to submit a PR for this please? Would it be worth mentioning `re._MAXCACHE` in the RegexpTagger docstring?

[2015-06-28 20:54] jnothman commented on #1025
I think @pombreda https://github.com/pombreda's point is that
precompilation should be unnecessary with an increased _MAXCACHE. Would it
be rude to just set  re._MAXCACHE = max(re._MAXCACHE, 1000) in locations
where regexps are in high use, so that there is a decent setting out of the
box?

On 29 June 2015 at 06:36, Steven Bird notifications@github.com wrote:

[2015-06-28 20:57] jnothman commented on #1025
Still, I think that solution (pre-compiling but not pre-combining) should be fine as creating many large taggers at once without ample memory for their patterns seems an unlikely scenario.

[2015-06-28 23:34] hammansamuel opened #1029 "RunTimeWarning while running WSD/Lesk"
I run this code, and get the output quoted below

[code]

[code]

[2015-06-29 01:26] stevenbird commented on #1025
Thanks for clarifying @jnothman. I like your idea to set a larger value for `_MAXCACHE`, assuming there's no penalty. (Regexp objects must be variable in size so I assume it's not a simple question of reserving memory).

Note that other NLTK modules include compilation of regexp parameters, e.g.:
- https://github.com/nltk/nltk/blob/develop/nltk/stem/regexp.py#L46
- https://github.com/nltk/nltk/blo

[2015-06-29 05:56] jnothman commented on #1029
In Python 2, `'x'` means x is a sequence of bytes, not a unicode string. Try `u'I went to the bank...'` and `u'deposit'`.

[2015-06-29 06:29] awhillas commented on #132
k-fold and leave-one-out would be handly! What you really want is to give the number of folds to a reader class, which already has the data, and then get an iterator that returns two sentence iterators: one for the leave-one-out sentences and the other for the training folds. The top iterator would rotate the folds.

[2015-06-29 15:16] pombreda commented on #1025
@jnothman @stevenbird : re setting up `re._MAXCACHE`, this could be done with caution, testing that you are not decreasing it (or may be not changing it at all if it is not the default.`_MAXCACHE` only defines the cache eviction policy (which is a simple dict otherwise) not the size of any preallocated data structure

@stevenbird you wrote:

This could be a possibility but it not supported any now

[2015-06-29 15:17] pombreda commented on #1025
@stevenbird you wrote:

Sure thing. Let me work on this and come back in a few days.

[2015-06-29 18:04] davidjurgens opened #1030 "Bug in WordNet wup_similarity for same-synset comparisons"
The implementation of the Wu & Palmer similarity function WordNet seems to report an incorrect value when comparing a synset to itself.

[code]

For the second dog.n.1 comparison, [WordNet::Similarity](http://maraca.d.umn.edu/cgi-bin/similarity/similarity.cgi?word1=dog%23n%231&senses1=synset&word2=dog%23n%231&senses2=synset&measure=wup&rootnode=yes) gives the correct similarity of 1.0, as does [WS

[2015-07-02 06:37] hammansamuel commented on #1029
Actually, maybe my example was over-simplified. In my code, the `sent` variable gets data from a file that has unicode characters

[2015-07-02 17:39] dimazest commented on #1029
Could you update NLTK to the latest version, the `nltk.wsd` code was changed after NLTK 3.0.0.

Does the code like:

[code]

yield the same warning?

Actually, it seems that the warning is raised when the word (`wrd` in your example) contains non-ascii characters, and the synset is being printed. In this case the magic of getting an  ascii string out of a unicode string throws a warning. Could you

[2015-07-02 17:48] dimazest commented on #1029
It seems that the problem is in Synset repr https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L963

[code]

I can't come up with an example that triggers the warning, but I see why it's triggered. If you show an example that does trigger a warning, I'll be able to fix this behavior.

[2015-07-02 21:27] LenRemmerswaal opened #1031 "AlpinoCorpusReader delivers words out of sequence"
I noticed that `nltk.corpus.alpino.tagged_sents()` delivers sentences with the words out of order.
Investigation learned that, due to a lexical tree structure existing in the alpino xml element tree, the word elements can appear out of word order in the corpus file, while the alpino reader assumes that the order of word elements coincides with the sentence's word order.
So I fixed that using the p

[2015-07-02 21:44] LenRemmerswaal opened #1032 "Brill demos fail by calling unknown method batch_test()"
I tried to use `nltk.tbl.demo` functions, but many crash on calling `brill_tagger.batch_tag(testing_data)` in function `postag` as there is no `batch_tag()` method.
I fixed this, and another bug (possibly #129) with the following patch.

Versions:
- nltk: 3.0.2
- python 2.7.9

The patch:

[code]

[2015-07-03 08:40] fievelk opened #1033 "AbstractCollocationFinder from_documents() issues"
If we pass a set of documents (e.g. tweets) to the `from_documents()` method we also get bigrams that never appeared in any document. This is due to `_itertools.chain(*documents)`, which collapses all the documents (so we end up with a single big document and we extract _its_ bigrams).

[code]

For example,using a list of two documents:

[code]

So the method will also generate the bigram `('farme

[2015-07-04 11:54] jnothman commented on #1033
Yes, it's an issue. A simple solution may involve putting n placeholders
between documents.

On 3 July 2015 at 18:40, Pierpaolo Pantone notifications@github.com wrote:

[2015-07-07 18:57] LenRemmerswaal commented on #1032
Patch now in pull request #1037

[2015-07-07 18:58] LenRemmerswaal commented on #1031
Patch now in pull request #1037

[2015-07-07 21:22] alexisdimi commented on #1031
Nice to see this fixed! The Alpino corpus includes the sentence in the original order (as plain text), in the span <sentence>. You could use it to test the code on the entire corpus for correctness.

[2015-07-09 08:42] txtsd commented on #994
[code]

Is this expected behavior at this point?
Should I be compiling from git?

[2015-07-09 08:49] ncoghlan commented on #994
@txtsd there's a typo in your install command, as you have `ntlk` rather than `nltk` (and pip/pypi don't currently implement typo suggestions)

[2015-07-09 08:57] txtsd commented on #994
@ncoghlan Well that's embarrassing. Thanks!

[2015-07-09 20:29] domspad commented on #725
`from nltk.corpus.reader.framenet import AttrDict, PrettyDict, PrettyList`

You can find these classes [here](https://github.com/nltk/nltk/blob/412263afdba4ec6c799bf5e138090d871cbcee15/nltk/corpus/reader/framenet.py)

[2015-07-10 05:34] domspad commented on #914
Looks like there's no resource out there for this language yet. I managed to aggregate the texts of [63 "Good Articles" from the Azerbaijani wikipedia](https://az.wikipedia.org/wiki/Vikipediya:Yax%C5%9F%C4%B1_m%C9%99qal%C9%99l%C9%99r) and calculate what seems to be a plausible set of stopwords. [Here's a link](https://github.com/domspad/azerbaijani_stop_words) to a repo with the data and computati

[2015-07-11 15:22] domspad commented on #914
Wow finally came across [this](http://www.lexiteria.com/word_frequency/azerbaijani_word_frequency_list.html) as well, will take a closer look at the words later

[2015-07-12 22:11] stevenbird commented on #1031
Closed by #1037.

[2015-07-12 22:11] #1031 closed, assigned to nobody

[2015-07-12 22:11] stevenbird commented on #1032
Closed by #1037.

[2015-07-12 22:11] #1032 closed, assigned to nobody

[2015-07-17 18:51] #725 closed, assigned to nobody

[2015-07-18 10:13] fievelk opened #1042 "Doctests and unicode failures"
If I run, for example, `tokenize/simple.py` from console using python2.7, I get several failures because of unicode `u` prefix:

[code]

Is there a way to solve this problem?

[2015-07-18 13:31] fievelk commented on #1042
I solved it using the following code:

[code]

It seems that NLTK is actually already solving the problem with unicode (see [NLTK Doctests porting notes](http://www.nltk.org/dev/python3porting.html#doctests-porting-notes)), but I suppose that this is only applied when tests are executed "globally", using Tox ([NLTK Testing](https://github.com/nltk/nltk/blob/develop/web/dev/local_testing.rst)) and

[2015-07-18 16:53] kmike commented on #1042
You can execute individual tests using tox, e.g.: `tox -e py33 -- nltk.test.unit.test_seekable_unicode_stream_reader`, or run them from the command line like this: `nltk/test/runtests.py nltk.test.unit.test_seekable_unicode_stream_reader`. I think we should remove [these](https://github.com/nltk/nltk/blob/0c6847d59815b2a832167085ed3280e520f07f12/nltk/tokenize/simple.py#L136) lines from individual

[2015-07-18 18:40] stevenbird commented on #1042
Thanks @kmike

[2015-07-19 10:31] fievelk commented on #1042
Thank you @kmike . I think you are right then about removing doctest imports and tests from individual files.

[2015-07-19 10:36] fievelk commented on #1042
@kmike @stevenbird : If doctest instructions are not needed in individual modules, I think that the [**Developers Guide**](https://github.com/nltk/nltk/wiki/Developers-Guide) should be consequently updated:

[2015-07-20 18:28] tylerjryan commented on #90
Was this ever implemented? Having trouble finding more information on it and came across this old thread in a search for multi-word concordances. I've been enjoying using nltk, and this feature would be great. Thanks!

[2015-07-20 18:32] stevenbird commented on #90
@tylerjryan: yes, multi-word search expressions are supported, please see:

[code]

[2015-07-20 18:34] stevenbird commented on #90
Oh, but this is in our graphical concordance app. The command-line version in Text.concordance doesn't support multi-word searches.

[2015-07-20 20:03] tylerjryan commented on #90
Thanks for the quick response! I'll look into it and see if it can be adapted for the command line interface. Is there anything preventing this?

[2015-07-20 20:08] stevenbird commented on #90
@tylerjryan: feel free to submit a pull request to extend the functionality of `Text.concordance` in this way. That would be a welcome contribution. Note that `app.concordance` also searches POS tags, so you'll need to drop that functionality.

[2015-07-20 20:49] tylerjryan commented on #90
I'll see what I can do, thanks for the info!

[2015-07-21 06:20] peter-the-tea-drinker opened #1045 "Minor error in wordnet.py"
Hi, I noticed a small bug in wordnet.py, in the `all_synsets(pos)` method, line 1515 (note - it doesn't matter in the default case of iterating over all synsets, with no pos requested).

The error: `pos_tag` has been clobbered:

[code]

Fix: use `pos` (which has not been clobbered)

[code]

It won't change anything in the default case (iterate over all synsets).

Testing the original, `wn.all_syns

[2015-07-21 16:22] stevenbird commented on #1045
Thanks @peter-the-tea-drinker.

[2015-07-21 16:28] stevenbird commented on #1042
@fievelk, @kmike: I've removed that line from the developers guide.

[2015-07-21 16:29] stevenbird opened #1048 "Removing doctest lines"
Remove the doctest lines from the bottom of most modules, cf #1042

[code]

[2015-07-21 16:30] #1042 closed, assigned to nobody

[2015-07-21 16:31] stevenbird commented on #1033
@longdt219 would you please implement @jnothman's suggestion.

[2015-07-21 16:32] stevenbird commented on #1030
Thanks @davidjurgens

[2015-07-22 02:24] longdt219 commented on #1033
Sure @stevenbird,

[2015-07-23 01:37] roopalgarg commented on #32
+1 for CoNLL 2003. Could really use that for NER work.

[2015-07-23 02:23] jnothman commented on #32
I think this is a good idea. It might also be interesting to add the entity disambiguation layer annotated by the YAGO-AIDA project (Hoffart et al).

[2015-07-23 07:53] dimazest opened #1050 "Non deterministic gluesemanitcs tests."
Sometimes gluesemantics.doctest fails because of nondeterministic output. Here is an example of a successful run

[code]

This is a failing test

[code]

Am I right, that the different outputs are equivalent, even though they are order and variable names are different?

[2015-07-23 16:44] stevenbird commented on #1050
That's right, they're equivalent. Solutions are to skip the tests or to make them deterministic, as @kmike did [here](https://github.com/kmike/nltk/commit/0542ec47a69a6bdea00401d15de60e4b979b4feb) vs [here](https://github.com/nltk/nltk/pull/315).

A compromise which I like is to have a doctest for documentation purposes which is maximally readable (and which is skipped), plus a regression test whi

[2015-07-23 18:29] stevenbird opened #1052 "tgrep doctests"
The tgrep doctests are breaking on the [CI server](https://nltk.ci.cloudbees.com/job/nltk/) because pyparsing isn't being imported. Yet pyparsing is [listed as a required package](https://github.com/nltk/nltk/blob/develop/pip-req.txt).

[2015-07-23 19:55] dimazest commented on #1050
I'll try to make the test deterministic as having untested documentation example will ultimately lead to outdated docs.

[2015-07-24 12:06] baoilleach opened #1054 "A request for span_tokenize for TreebankWordTokenizer"
It would be great to have a span_tokenize for the default word tokenizer. Currently...

[code]

[2015-07-26 12:15] IlinAleksey opened #1056 "NLTK downloader bug"
[code]

[2015-07-26 14:04] mdegis commented on #1056
Same error with python2.7

[code]

[2015-07-26 18:10] zachguo commented on #882
I ran into this bug this morning, using `nltk` that came with `anaconda`.

[code]

[2015-07-26 22:13] ahjones commented on #882
I've just had the same issue as @zachguo . I'm new to Python so I'm only able to hack a fix, but here's how I did it. Hopefully this'll be useful either for a quick workaround for others in the same position, or for finding the root cause. I've made the below changes to tag 3.0.4.

I added `print(type(child))` to line 857 of `downloader.py`. The error occurs when the type of `child` is a string ra

[2015-07-26 22:25] kingcoconut commented on #882
See here: https://github.com/nltk/nltk/issues/1056

[2015-07-26 22:48] kingcoconut opened #1058 "Package downloader failure"
I'm trying to install some nltk packages but there seems to be a failure when installing dependencies. It looks like the downloader loops over a collection of packages to install each however one of those packages is actually just the string "dependency_treebank". It has been talked about at the bottom of this closed issue: https://github.com/nltk/nltk/issues/882

The error is thrown on line 857 o

[2015-07-26 22:49] #1058 closed, assigned to nobody

[2015-07-26 22:49] xandergroeneveld commented on #1056
Yes all seeing this issue. It looks like the downloader loops over a collection of packages to install each however one of those packages is actually just the string "dependency_treebank". It has been talked about at the bottom of this closed issue: https://github.com/nltk/nltk/issues/882

[2015-07-27 03:38] alexlouden commented on #882
Is the cause one of these recent commits? https://github.com/nltk/nltk_data/commit/16735a698e3463c924b4e54a3cc5b1eea519be27

[2015-07-27 05:22] chr15m commented on #1056
Hello, we are also getting this bug on `nltk==3.0.4`, Python 2.7.

[2015-07-28 03:15] zoe-hammar commented on #50
I just submitted a pull request addressing this issue.  Here's what I did.  I copied the existing docstring into the correct spot so that it would show up in the auto-generated documentation. I also quoted a couple of descriptive sentences from the existing link that explains what VerbNet is.

This is my first time doing this, so please let me know if anything I did could be improved.

[2015-07-31 14:11] lqkhoo opened #1062 "WordNet satellite adjectives lookup failure in SentiWordnet"
### The problem

The WordNet corpus makes the distinction between satellite adjectives (POS tag 's') and normal adjectives (POS tag 'a'). SentiWordnet does not make this distinction, and defines all adjective entries with 'a'. This causes a lookup failure.

For reference, this is when using the latest versions of the corpus with NLTK 3.0.2 - WordNet 3.0 with SentiWordnet 3.0.
### Bug replication

[2015-08-02 12:27] alvations opened #1063 "Where did the NLTK pos_tag model come from?"
Following up from http://stackoverflow.com/questions/31386224/what-created-maxent-treebank-pos-tagger-english-pickle, there's a question on the origins of `nltk.pos_tag` (https://github.com/nltk/nltk/blob/develop/nltk/tag/__init__.py#L83).

Possibly, the model is from https://github.com/arne-cl/nltk-maxent-pos-tagger. But there's no reply from https://github.com/arne-cl/nltk-maxent-pos-tagger/issu

[2015-08-04 09:42] ewan-klein commented on #1056
I think this was fixed in https://github.com/nltk/nltk_data/commit/a35beafa6aaa94b6e93895a86d54ed3827286ac4

[2015-08-04 09:42] #1056 closed, assigned to nobody

[2015-08-04 23:37] ninowalker commented on #947
[code]

We are also experiencing this issue with the combination of: nltk, gunicorn (with nltk loaded via prefork), and flask.

Remove the nltk import, and everything works. Except nltk.

 /cc @escherba

[2015-08-05 12:56] jttoday opened #1065 "Why VectorSpaceClusterer#cluster print if assign_clusters is True?"
I found that `VectorSpaceClusterer#cluster` will print out `self._Tt` and `vectors`. I think the API documentation did not mention it.

[2015-08-05 18:16] stevenbird commented on #1063
I remember trying to find that out back when we published the book, and failed, sorry.

[2015-08-05 18:34] #1045 closed, assigned to stevenbird

[2015-08-06 00:35] alvations commented on #947
@ninowalker, @oxymor0n It's strange, my processes runs fine with the code, I get:

[code]

**That's the expected output, right?**

It doesn't break my request with this too:

[code]

I'm using:
- python 2.7.6
- nltk 3.0.3
- ubuntu 14.04

[2015-08-06 03:14] longdt219 commented on #798
Hi @stevenbird ,
Could you close this issue ? Resolve in PR #971

[2015-08-06 03:15] longdt219 commented on #876
Hi @stevenbird
Could you close this one as it is merged.

[2015-08-06 03:17] longdt219 commented on #1001
Hi @stevenbird,
Could you close this issue ?

[2015-08-06 17:17] stevenbird commented on #876
Thanks @longdt219

[2015-08-06 17:17] #876 closed, assigned to longdt219

[2015-08-06 17:20] stevenbird commented on #798
Thanks @longdt219

[2015-08-06 17:20] #798 closed, assigned to longdt219

[2015-08-06 17:26] #1065 closed, assigned to stevenbird

[2015-08-07 04:36] #1001 closed, assigned to longdt219

[2015-08-07 16:31] stevenbird opened #1068 "CI errors for twitter module"
@ewan-klein, @fievelk – there's about a dozen errors showing up with the twitter module (and also in the corpus reader documentation) on the [CI server](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/testReport/). Would you please take a look?

[2015-08-07 16:35] stevenbird opened #1069 "Gensim errors on CI server"
@longdt219 – there's some errors showing up on the [CI Server](https://nltk.ci.cloudbees.com/job/nltk/lastCompletedBuild/TOXENV=py26-jenkins,jdk=jdk8latestOnlineInstall/testReport/%28root%29/gensim_doctest/gensim_doctest/). Would you please take a look? It's also warning about not finding Theano, and printing out a log.

[code]

[2015-08-07 16:46] fievelk commented on #1068
@lrnzcig some of these are the ones we found yesterday.

[2015-08-07 21:07] alvations opened #1070 "Skipgram Implementation"
Could we add [this skipgram](http://stackoverflow.com/questions/31847682/how-to-compute-skipgrams-in-python) implementation to `nltk.util`?

[2015-08-07 21:11] alvations commented on #1070
Ah there's a bug there where it's generating extra ngrams.

[2015-08-07 21:25] stevenbird commented on #1070
An implementation of skipgrams would be a welcome addition.

[2015-08-08 09:42] alvations commented on #1070
Sorry for the open and closing, I wasn't sure whether i've got it right but here's a working implementation (But it requires the knowledge of `len(sequence)` so it can't take an iterable. This is because of the need of skipgram to know whether `n+k > len(sequence)`).

Making `pad_sequence` into a separate function would relief the repeated code from ngram and skipgram but also it's needed so that

[2015-08-09 05:11] jnothman commented on #1070
I might be missing edge cases, but I'm able to produce your two example cases with:

[code]

[2015-08-09 06:14] alvations commented on #1070
@jnothman nice, i think your implementation is much cleaner and better with no crazy checks =)

[2015-08-09 06:38] jnothman commented on #1070
You're welcome to make a pull request of it!

[2015-08-09 07:01] stevenbird commented on #1070
Thanks @jnothman.

Note that `ingrams` became just `ngrams` in NLTK 3 (no explicit iterator methods; using iterators by default).

[2015-08-09 12:26] jnothman commented on #1070
I'd thought that might be the case...

[2015-08-09 16:19] zoe-hammar commented on #50
This issue is resolved (unless I'm missing something), so it should be closed.

[2015-08-10 11:52] alvations commented on #1070
@jnothman, some tweaks are needed to the cleaner implementation so that it takes on padding for actual use.

[2015-08-10 12:39] jnothman commented on #1070
Sure. Submit a PR, and it will be easy to review the  approach.

[2015-08-10 15:17] stevenbird opened #1074 "Unicode strings in doctest files"
Several doctest files contain unicode strings (`egrep -l "u'" *.doctest`). Shouldn't these be (non-unicode) python 3 strings? @kmike would you please advise?

[2015-08-10 15:59] kmike commented on #1074
@stevenbird many tests may start failing in Python 2.x if we remove u'' prefixes from the example output. 'u' letters in doctest output are stripped by https://github.com/nltk/nltk/blob/develop/nltk/test/doctest_nose_plugin.py to smooth Python 2.x/3.x differences.

[2015-08-10 16:00] kmike commented on #1074
This is documented [here](https://github.com/nltk/nltk/blob/develop/web/dev/python3porting.rst#doctests-porting-notes); maybe it worths it to move these docs to a more visible location.

[2015-08-11 09:33] dimazest commented on #1074
Sometimes joining and printing the value helps, as in #1075.

[2015-08-11 10:43] kmike commented on #1074
@dimazest the test in #1075 shouldn't be failing because of `u` letters if executed using NLTK runtests script.

[2015-08-12 12:53] dimazest commented on #1074
Right. Though I prefer to use pytest instead of nose mostly because it's possible to get to set `pdb` tracebacks inside of doctests and then the plugin doesn't work.

I, personally, don't like the idea of adopting doctests to a test runner either, as the main point is to make them as clear to the reader as possible.

I  investigate how pytest can be configured to treat this correctly. Hopefully th

[2015-08-13 11:04] BramVanroy opened #1079 "Why avoid 64bit Python?"
I'd like to install NLTK for a new project, but [the installation page](http://www.nltk.org/install.html) asks you to avoid the 64 bit version. Why is that? I'd like to run Python in 64 but to maximize my performance and to allow the use of more RAM.

(Github might not be the best place to ask this question but I couldn't find any _contact_ information on the website)

[2015-08-13 11:32] dimazest commented on #1079
Could it be because of issues specific to Windows. I use 64 bit python on Linux and Mac and it forks fine.

What parts of NLTK do you plan to use?

[2015-08-13 11:46] BramVanroy commented on #1079
@dimazest Not sure yet. Considering my domain is syntax, I'll probably use the `treebank` function. But I haven't read into the documentation as much as I should, so I probably could use a lot more functions.

[2015-08-13 15:11] stevenbird commented on #1079
We advised against 64-bit windows because of no end of problems being reported on the NLTK mailing list, possibly due solely to problems with Python. Please let us know if you can get it to work, and what your configuration is.

[2015-08-13 15:20] BramVanroy commented on #1079
I'm sorry, I don't entirely get what you mean. Do you mean that a lot of people are reporting problems when using 64 bit Python? Or on 64 bit systems? Or on 64 bit CPUs?

[2015-08-14 14:54] stevenbird opened #1080 "malt.py"
@alvations, there's some minor issues with `malt.py`. Would you please take a look? It breaks with Python 2, and it has some non PEP-8 formatting (e.g. missing whitespace around operators)

[code]

[2015-08-14 15:02] stevenbird opened #1081 "issue with data.py"
@longdt219 would you please try to diagnose the problem with accessing NLTK data here:

https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py34-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/

I can't replicate it locally. I wonder if it is related to [recent changes to internals.py](https://github.com/nltk/nltk/commit/73fc6553574678198994b265cc32387133b6c8fd#diff-6d3d9c7d1794a239ab6

[2015-08-14 20:40] alvations commented on #1080
@stevenbird I've fixed the problem for `taggedsent_to_conll()` reported on #1049 and PEP8 the `malt.py` and some minor doctest fixes with #1082. I am not having problems with python2. Could you post the error traceback from your machine?

[2015-08-14 21:07] alvations commented on #1081
@stevenbird @longdt219 I couldn't replicate the problem too and I didn't spot any problem. I'm sorry if the changes made I've made caused the nosetest to break.

[2015-08-14 21:31] alvations commented on #1080
I just realized that `with` statements in python2.6 doesn't do multiple inputs.

[code]

I've fix it so that it's py2.6.x compatible, https://github.com/alvations/nltk/commit/9df9371b55fd3d829e77886d23ef2fff02d2b457

[2015-08-14 22:11] stevenbird commented on #1080
Thanks @alvations. Please note that we use four-space indentation (recommended by PEP-8).

[2015-08-15 04:14] #986 closed, assigned to longdt219

[2015-08-15 06:25] alvations commented on #1080
@stevenbird #1084 changed the tabs to four spaces. Sorry about the tabs, it was set on automatically through my IDE.

[2015-08-15 07:02] alvations commented on #1081
@stevenbird @longdt219 The errors disappeared after the recent PRs https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py34-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/

I'm not sure what happened though.

[2015-08-15 22:48] stevenbird commented on #1081
Right, I don't know what has caused this either.

[2015-08-16 22:33] longdt219 commented on #1081
Hi @stevenbird, @alvations,
It shown again in the CI server. The problem is because all the nltk.data is not downloaded, instead the exception is thrown.
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "nltk/**init**.py", line 129, in <module>
    from nltk.chunk import *
  File "nltk/chunk/**init**.py", line 157, in <module>
    from nltk.chunk.api import ChunkPar

[2015-08-17 02:16] stevenbird commented on #1081
Thanks @longdt219. Let's see if this works.

[2015-08-17 09:32] kamaunyrroh commented on #90
So stevenbird your saying that it can search for multiple words in a paragraph and replace them? I was forced to abandon nltk because on complete project has ever been implemented. After coding for three months and dead roads by asking nltk questions on their google groups to answer they did not answer.

[2015-08-17 16:42] stevenbird opened #1087 "six dependency"
[malt.py](https://github.com/nltk/nltk/blob/develop/nltk/parse/malt.py) introduces a dependency on `six`, which is not required anywhere else in NLTK. @kmike – do you think we can avoid this?

[2015-08-17 16:48] longdt219 commented on #1087
Actually Six is required for Gensim package too.

[2015-08-17 18:38] kmike commented on #1087
I'm fine with six dependency. If I'd be doing Python 3 port now I'd be definitely using six instead of creating a custom compat.py module.

But if six is required we should add it to `install_requires` in setup.py, to make it install automatically.

[2015-08-17 19:28] #1087 closed, assigned to nobody

[2015-08-17 19:29] stevenbird commented on #1087
Thanks @kmike – I added it to the requirements files for pip and tox, since we're not using `install_requires`.

[2015-08-18 07:30] alvations commented on #1087
`six` would help a lot in resolving quite a lot of py2->py3, especially unicode problems.

[2015-08-18 07:36] alvations commented on #1081
To resolve https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py34-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/%3Cnose/suite/ContextSuite_context_gluesemantics_malt_fixt__setup/

Would it be more intuitive to:
- Change the class call from `depparser = MaltParser()` to `depparser = MaltParser('maltparser-1.7.2')` at https://github.com/nltk/nltk/blob/develop/nltk/test/gluesemantics_

[2015-08-18 09:21] kmike commented on #1087
@stevenbird I think we should start using `install_requires` for six because it is the only non-optional dependency, and it is good to get it installed automatically. We can do it because we already switched to setuptools.

@alvations there are six-inspired utilities in https://github.com/nltk/nltk/blob/develop/nltk/compat.py; most unicode-related stuff should be covered. NLTK's compat.py is a cop

[2015-08-18 18:10] stevenbird opened #1089 "align.doctest errors"
The changes to `nltk.align` have resulted in some doctest errors, e.g.:

[code]

@hoontw, would you please take a look at this?

[2015-08-18 18:19] stevenbird commented on #1087
Thanks for the suggestion @kmike. I'll create a new low-priority issue to update our compatibility code.

[2015-08-18 18:22] stevenbird opened #1090 "Update compat.py"
Update [compat.py](https://github.com/nltk/nltk/blob/develop/nltk/compat.py) to use the more recent [six library](https://pypi.python.org/pypi/six), cf #1087.

[2015-08-18 19:43] hoontw commented on #1089
Sure. Sorry for the mistake. I didn't realize that there were other doctests hiding in the /test folder.

[2015-08-18 20:42] stevenbird commented on #1089
Thanks

[2015-08-18 21:23] #1089 closed, assigned to nobody

[2015-08-19 06:26] alvations commented on #1024
**Easiest Solution Possibly**: Using python3.0

**Fastest Possible Hack**: Add these lines to your script before the imports

[code]

(But do note the caveats: http://stackoverflow.com/questions/3828723/why-we-need-sys-setdefaultencodingutf-8-in-a-py-script)

[2015-08-19 06:40] alvations commented on #43
I know this is an old issue but it's nice to keep track of state-of-code:

**POS Tagger**:  `nltk.pos_tag` with https://github.com/nltk/nltk/issues/1063 and http://stackoverflow.com/questions/30821188/python-nltk-pos-tag-not-returning-the-correct-part-of-speech-tag

**Tokenization**: `nltk.word_tokenize` , `nltk.sent_tokenize` (punkt). Support for more languages would be nice, e.g. CJK / Thai / Ar

[2015-08-19 14:19] dimazest commented on #1087
Just a small comment. Even though NLTK doesn't use `install_requires`, other projects that depend on NLTK might use it. By listing dependencies in `install_requires` we not only making installation and packaging of NLTK easier, but also avoid surprises for the projects that depend on NLTK.

[2015-08-19 16:06] stevenbird commented on #1087
So, is six the only package that we need to list in `install_requires`? Can we move the other packages from [pip-req.txt](https://github.com/nltk/nltk/blob/develop/pip-req.txt) and remove it?

[2015-08-19 16:32] kmike commented on #1087
I think we shouldn't move other packages to install_requires because 1. they are optional, and 2. installation of these packages can fail because many of them are not pure-python.

[2015-08-25 08:38] fievelk commented on #1080
@stevenbird @alvations
After merging `develop` I am getting errors for **Python 3.2** and for all **no-deps** environments, relatively to `malt.py`, using `tox`. For example:

[code]

---

[code]
- Python 3.2 does not have support for unicode prefix, so it gives an invalid syntax error for `u'log4j.jar'` etc.
- I guess that `six` could be wrapped in a `try/catch` module (as we discussed regarding

[2015-08-25 09:48] alvations commented on #1080
@fievelk , I could do multiple `try-excepts` whenever `six.text_type()` is used but would that be alright? The code will look a little ugly but it should still work.

[2015-08-25 09:53] fievelk commented on #1080
@alvations : I couldn't examine your code in detail, but ideally I would directly wrap the first import `from six import text_type`, as it has often been done for `numpy`:

[code]

(Or maybe with a more explanatory message instead of the simple `pass`)

[2015-08-25 09:57] alvations commented on #1080
@fievelk but that would cause the later code to break without the `six.text_type()` because in py2.x it would be `unicode(text)` and in py3.x it would be `byte(text)`. So lines like these https://github.com/nltk/nltk/blob/develop/nltk/parse/malt.py#L188 will end up looking like

[code]

And for the import, would this be better or should I just pass on the `ImportError`:

[code]

I'm not sure what

[2015-08-25 10:20] kmike commented on #1080
six should be installed automatically now because it is in install_requires, I think we shouldn't do try/except for six.

[2015-08-25 10:23] fievelk commented on #1080
@kmike `tox` tests are failing in no-deps environment because of six, though. Is there a different way to fix this?

[2015-08-25 10:32] alvations commented on #1080
@fievelk @kmike Martijn gave an ingenious solution the text_type =)

[code]

But the `six` and `tox` issue will continue for other modules in NLTK. Should I modify the malt.py code and do a pull-request again? Or should the problem be solved with the `tox` side?

[2015-08-25 11:04] fievelk commented on #1080
Writing this in `malt.py` fixed the errors that I got using `tox`. But I would wait for a possible other option by @kmike , given his previous comment.

[code]

[2015-08-25 11:07] kmike commented on #1080
We are installing six in tox (it is in 'deps' section); I have no idea why isn't it working. It should be definitely solved as a part of our test running setup, not as a code change.

[2015-08-25 11:26] blumonkey opened #1095 "HMM Tagging is not accurate?"
Hello, I have been trying to implement a simple POS tagger using HMM and came up with the following code.

[code]

As you can see (many)tags are pretty much off. Is there something wrong in my approach or could this be a bug?

Also, there is only a 0.3 match with the gold standard when I run `tagger.evaluate(treebank.tagged_sents()[3000:])`

[2015-08-25 12:06] fievelk commented on #1080
@kmike Do you mean the 'deps' section in `tox.ini`? If so, I will also wait to fix `twython` imports, since they have the same problem (see [#1076](https://github.com/nltk/nltk/pull/1076)) and they are included in the deps section as well.

[code]

[2015-08-31 05:22] alvations commented on #1081
PR #1101 should fix the last standing problems in the build test (https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py34-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/)

[2015-08-31 05:26] alvations commented on #1080
@fievelk @kmike did the `tox` tests go through? Should I add try-except for the `six.text_type` import?

[2015-08-31 05:27] stevenbird commented on #1079
@BramVanroy please see: https://groups.google.com/forum/#!searchin/nltk-users/64$20bit

[2015-08-31 14:10] richzw opened #1102 "Chinese pos tag issue"
hi,

I am newbie here, and I try to add POS to Chinese via nltk. However, the output I got seems not well.

[code]

Could someone help me to figure out the root cause of my codes?

[2015-08-31 14:29] alvations commented on #1102
The `nltk.pos_tag` is an English POS tagging model. It will not work on Chinese texts.

Currently, I think the only wrapper for Chinese POS tagging in NLTK is from the Stanford NLP:

Following the instructions here: https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software#stanford-tagger-ner-tokenizer-and-parser

Then

[code]

You can also take a look at
- https://github.com/a33kuo/postag

[2015-08-31 15:19] kamaunyrroh commented on #90
I see that you have provided this code:

but how does it work when you implement it on the web or commandline? Do you have a complete code for this?

[2015-08-31 15:39] kamaunyrroh commented on #902
I am trying to implement a python grammar checker on python. I already have the part of the code that needs modification. What I need is the code to search for multiple words instead of two words.

Please tell me the parts that need modification or changing:

class WordReplacer(object):
def init(self, word_map):
self.word_map = word_map

[code]

class CsvWordReplacer(WordReplacer):
def init(self,

[2015-08-31 15:40] richzw commented on #1102
@alvations, thanks for your answer.

Another question here. I found there was `sinica_treebank` in the `nltk.corpus` and also `tagged_words` were in this `sinica`. Could I use those `tagged_words` as one Chinese tagger?

[2015-08-31 15:41] kamaunyrroh opened #1103 "Multi word search in NLTK"
I am trying to implement a python grammar checker on python. I already have the part of the code that needs modification. What I need is the code to search for multiple words instead of two words.

Please tell me the parts that need modification or changing:

class WordReplacer(object):
def init(self, word_map):
self.word_map = word_map

[code]

class CsvWordReplacer(WordReplacer):
def init(self,

[2015-08-31 16:31] stevenbird commented on #1103
This is not an appropriate use of the NLTK issue tracker. Please consult the NLTK book, or other resources on regular expressions, for information about searching for multiple words.

[2015-08-31 16:31] #1103 closed, assigned to nobody

[2015-08-31 18:57] alvations commented on #1102
With the Sinica corpus, you could train a bigram tagger, e.g. http://stackoverflow.com/questions/14732465/nltk-tagging-spanish-words-using-a-corpus but note that you should add a backoff unigram tagger to get better accuracy (Note that the code given in the SO example is not complete, it works but not to the best possible model).

[2015-09-01 10:46] kmike commented on #1080
@alvations no, try/except for six.text_type doesn't sound good.

six is not installed in nodeps environment because of 2 reasons:
1. we are not installing nltk using `pip install` in tox, so `install_requires` are not processed;
2. six is not in `deps` section of -nodeps environments.

I think we should add six to all -nodeps environments. There are ways to do it without duplicating the same lines

[2015-09-01 12:28] richzw commented on #1102
@alvations Thanks for your help

[2015-09-01 12:28] #1102 closed, assigned to nobody

[2015-09-01 21:55] alvations commented on #1080
#1076 is going ahead with the try-except.

I'm not sure how this works out but possibly `six` is more "natively" python as compared to `twpython` so I shouldn't wrap the import with try-except. I'll wait out for the `tox` issue to be resolved.

[2015-09-02 23:47] stephenry opened #1106 "Python 3.5 support"
Folks,

I am seeing the following error message when attempting to work through the eBook:

Python 3.5.0rc2 (v3.5.0rc2:cc15d736d860, Aug 25 2015, 04:45:41) [MSC v.1900 32 b
it (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2015-09-04 16:07] brox opened #1108 "Mutable default constructor argument values in PunktTrainer and PunktSentenceTokenizer"
When creating several `nltk.tokenize.punkt.PunktTrainer` instances they end up interfering with each other:

[code]

This is because `nltk.tokenize.punkt.PunktBaseClass` instantiates `PunktParameters` as a constructor default argument. The `PunktParameters` instance will then be reused when creating new `PunktTrainer` objects:

[code]

`nltk.tokenize.punkt.PunktSentenceTokenizer` has the same issu

[2015-09-04 16:20] stevenbird commented on #1108
Thanks for the bug report @brox.

@arthurdarcet or @jnothman – do you have any time to look into this please?

[2015-09-04 17:00] brox commented on #1108
Thanks @stevenbird.

I'd be happy to submit a pull request after the weekend to save you some time.

[2015-09-05 13:51] nschneid opened #1109 "Reader for Prague Dependency treebanks"
I think there would be substantial demand for a clean Python interface to the Prague treebanks, which are annotated with rich multilayer structures, notably the "tectogrammatical layer" with deep syntactic dependencies. E.g., [PCEDT 2.0](http://ufal.mff.cuni.cz/pcedt2.0/), which annotates the English WSJ corpus as well as its Czech translation. The annotations are stored in XML files which are dif

[2015-09-05 18:18] stevenbird commented on #1109
I agree, it would be great to have this. I'll ask around too.

[2015-09-05 20:06] martinpopel commented on #1109
I agree a Python interface and NLTK integration would be nice to have.

Note that with [Treex](https://github.com/ufal/treex) you can convert both *.treex.gz (PCEDT) and *.t.gz (PDT) files to YAML:

[code]

Similarly, you can convert it to CONLL-X or [CONLL-U](http://universaldependencies.github.io/docs/format.html) and several other formats, but these cannot contain the tectogrammatical layer.

[2015-09-05 22:43] stevenbird commented on #1063
Looking at the [trained model](https://github.com/nltk/nltk_data/blob/gh-pages/packages/taggers/maxent_treebank_pos_tagger.zip) that is used by [pos_tag](https://github.com/nltk/nltk/blob/develop/nltk/tag/__init__.py#L84), I see that it is a [ClassifierBasedPOSTagger](https://github.com/nltk/nltk/blob/develop/nltk/tag/sequential.py#L693) trained on Penn Treebank, using [a variety of contextual fea

[2015-09-05 23:10] stevenbird opened #1110 "nltk.pos_tag performance"
NLTK's built-in POS tagger doesn't perform so well:

[code]

We need a better built-in model.

cf. http://stackoverflow.com/questions/30821188/python-nltk-pos-tag-not-returning-the-correct-part-of-speech-tag

[2015-09-06 00:56] stevenbird commented on #1068
Looks ok now.

[2015-09-06 00:56] #1068 closed, assigned to ewan-klein

[2015-09-06 00:56] stevenbird commented on #1069
Seems ok now.

[2015-09-06 00:56] #1069 closed, assigned to longdt219

[2015-09-06 00:57] stevenbird commented on #1052
Looks ok now.

[2015-09-06 00:57] #1052 closed, assigned to nobody

[2015-09-06 00:57] #1048 closed, assigned to longdt219

[2015-09-06 04:09] #403 closed, assigned to nobody

[2015-09-06 12:49] ewan-klein commented on #1110
@stevenbird Can we get one or more new labels for issues that try to improve coverage, accuracy, robustness of existing modules? I'm thinking also about e.g., better trained models for the dependency parser and the NER module, and making the CCG parser probabilistic.

[2015-09-06 19:39] tuetschek commented on #1109
Hi,

I don't know if it will be of any use, but we kind of have Python access to
PDT treebanks -- it's experimental (i.e. I am the only one using it) and
it's pretty limited (can't read XML, YAML-serialized Treex files only), but
it works for me. It's here:

https://github.com/ufal/pytreex

I have never used NLTK and don't have the time now to port the code to work
with NLTK and try to parse the o

[2015-09-06 20:38] alvations commented on #1110
@stevenbird , I think the simplest to "reimplement" with top quality accuracy is actually [honnibal's perception tagger](https://honnibal.wordpress.com/2013/09/11/a-good-part-of-speechpos-tagger-in-about-200-lines-of-python/).

Next, the simplest to implement with unknown accuracy is ngram taggers with backoff ngram taggers using existing tagger corpora in NLTK or redistributable model that one ca

[2015-09-07 03:18] stevenbird commented on #1110
@alvations: thanks for those suggestions. It looks like Honnibal's tagger uses an MIT license. @syllog1sm is there any objection to including this tagger in NLTK?

[2015-09-07 07:30] honnibal commented on #1110
Sure, go ahead. You might want my transition-based parser too, which is also under MIT I think.

[2015-09-07 18:02] stevenbird commented on #1110
@honnibal – great, thanks very much

[2015-09-07 18:12] stevenbird opened #1116 "specifying the type of dictionary values"
In sphinx documentation, specify not just the key type but also the value type, either as `dict(key_type): value_type` or as `dict(key_type -> value_type)`

[2015-09-07 19:18] stieglma opened #1117 "Add a method returning the content of a corpus as Text object"
During our studies we found it quite useful to have a method returning the words of a corpus wrapped in a text object, such that the concordance view and many other methods can be used.
As suggested from @stevenbird in the pull request #1112 I would propose to add this method to the CorpusReader class, such that it will be available for all corpora.

Here is the code we used in our corpus reader b

[2015-09-07 22:17] stevenbird commented on #1117
Is there a strong reason to prefer `some_corpus.text(fileids)` over `Text(some_corpus.words(fileids))`? The proposal is shorter, but it presumes more knowledge on the part of the reader. It also provides a second way to do the same thing, and greater variability in code for no apparent benefit.

[2015-09-08 01:23] stevenbird opened #1119 "Dependency parser names"
Consider giving the dependency parsers more specific names (e.g. related to the name of the person who designed the algorithm, not just `nonprojectivedependencyparser`).

[2015-09-08 07:44] stieglma commented on #1117
You are right, the Text object can also easily be used without the method of the reader (which has to be done anyway if you want something else as Text than the whole corpus (or the via fileids selected parts). The only benefit I see, is that you don't have to import nltk.Text manually, as it will be done by the corpus reader, but that's not really worth it.
The reason why we had this method, was

[2015-09-08 13:48] stevenbird commented on #1117
Thanks for your feedback. I think you're right, so let's not do anything at this stage.

[2015-09-08 13:48] #1117 closed, assigned to nobody

[2015-09-08 13:50] stevenbird opened #1120 "Modify CI server to run Python 2.7"
We are dropping support for Python 2.6, so this configuration in the [CI Server](https://nltk.ci.cloudbees.com/job/nltk/) needs to be changed to 2.7.

[2015-09-08 14:39] stevenbird commented on #694
I've updated our roadmap for dependency parser support, including Honnibal's shift-reduce parser, cf.
https://github.com/nltk/nltk/wiki/Dependency-Parsing

[2015-09-08 17:48] longdt219 commented on #1120
I changed the configuration so that it run with Python 2.7.6

[2015-09-08 17:49] stevenbird commented on #1120
Thanks @longdt219

[2015-09-08 17:49] #1120 closed, assigned to longdt219

[2015-09-08 17:57] stevenbird opened #1122 "Perceptron tagger"
Port the [TextBlob PerceptronTagger](https://github.com/sloria/textblob-aptagger/blob/master/textblob_aptagger/taggers.py) to NLTK. Assume NLTK-style input, i.e. an iterator of sentences, where each sentence is a list of tokens. Train on Penn Treebank and create a trained model for addition to the NLTK data collection. Request review from @honnibal before merging. cf #1110

[2015-09-09 14:54] stevenbird commented on #715
@serapio, @pandersity, @rmlockwood – I'm revising [NLTK book chapter 11](http://www.nltk.org/book/ch11.html) and would like to replace the Toolbox section with something about LIFT (to cover FLEx and WeSay lexicons) and FLExText (for interlinear text). I'd like to take stock of what's now available out there, in case we can just refer to external libraries and not have to do anything special in NL

[2015-09-09 15:30] serapio commented on #715
I don't know of anything covering flextext, but if you are interested in a LIFT reader in NLTK, I think what I have here https://github.com/serapio/kwaras/blob/master/src/formats/lift.py would be easily adaptable.

[2015-09-09 17:27] lukhnos commented on #715
@stevenbird Hi, I saw [lift-convert](https://github.com/lukhnos/lift-convert) being mentioned here. It was some ad hoc code for extracting Taiwanese Hokkien data in LIFT into CSV for an input method project, and is unlikely to be useful in general cases. I think the `lift.py` mentioned above would indeed be a better starting point. Thanks!

[2015-09-09 19:17] KenZook commented on #715
For accessing FieldWorks data via Python, I’d recommend using FLExTools, developed by Craig Farrow. This is something he developed around the FDO access code which is core to FieldWorks.

You can get details and downloads of this at https://github.com/cdfarrow/FLExTools/wiki. Craig’s e-mail is craig_farrow@sil.org.

It would be possible working strictly with LIFT, but LIFT really needs some enhanc

[2015-09-10 11:06] BramVanroy commented on #1079
@stevenbird From what I've gathered in that thread, NLTK  ought to work in 64 bit Python. See [this post](https://groups.google.com/d/msg/nltk-users/HbyhWIXDud0/0ge6rwbCA8AJ). However, it doesn't seem to work perfectly well with some IDEs. Maybe some further investigation is possible to find out the issue? Unfortunately I'm not skilled enough for the task.

[2015-09-11 00:59] bjut-hz opened #1125 "JAVA command failed"
It raise an OSError when I called Stanford NLP by NLTK stanford interface.
'''
OSError: Java command failed : ['C:\Program Files (x86)\Java\jdk1.8.0_60\bin\java.exe', u'-mx1000m', '-cp', u'.\stanford-parser.jar;.\stanford-parser-3.5.2-models.jar', u'edu.stanford.nlp.parser.lexparser.LexicalizedParser', u'-model', 'englishPCFG.ser.gz', u'-sentences', u'newline', u'-outputFormat', u'penn', u'-encodi

[2015-09-11 02:25] bjut-hz commented on #1125
I tried to edit the java_options as follows:
java_options='-Xmx1024m'

It still raise an OSError:
::
Loading parser from serialized file englishPCFG.ser.gz ...  done [0.6 sec].
Parsing file: c:\users\hz\appdata\local\temp\tmpmjgtxb
Parsing [sent. 1 len. 201]: The invention provides an OLED device with improved light out-coupling , which can be manufactured easy and reliable at low costs , which co

[2015-09-11 06:33] hoontw commented on #1125
The warning message is a big clue. Looks like the sentence being parsed is too long. Personally, I think anyone who writes an English sentence that is 201 words long should be shot, but that's just me.

Do you absolutely have to parse such long sentences? If not, you can filter out long sentences as a preprocessing step, or follow the recommendations in the warning to set the maximum sentence leng

[2015-09-11 14:27] bjut-hz commented on #1125
Thanks for your comment. Thanks to uncertainty of length of sentence to be parsed. I just want to change the size of JVM memory by the command: java -Xmx1024m -Xms1024m -Xmn256m -Xss16m. But it dose not seem to work.

[2015-09-11 15:23] mindriot78 opened #1128 "FreqDist Error"
Hi,
total newbie so bear with me :) Despite starting my session with the instruction 'from nltk.book import *', when I try to use the FreqDist function, I keep getting NameError: name 'FreqDist' is not defined. Any thoughts? I'm using version 2.7.6
Thanks a lot!

[2015-09-11 16:19] hoontw commented on #1128
FreqDist is from a different module. Try using `from nltk.probability import FreqDist`.

[2015-09-11 16:22] stevenbird commented on #1128
NB https://github.com/nltk/nltk_book/issues/163

[2015-09-11 16:22] #1128 closed, assigned to nobody

[2015-09-11 16:25] hoontw commented on #1125
Have you tried running Stanford NLP directly without using nltk? That is, run `C:\Program Files (x86)\Java\jdk1.8.0_60\bin\java.exe -Xmx1024m -cp .\stanford-parser.jar .\stanford-parser-3.5.2-models.jar`. Does it give the same errors? If yes, the parsed sentence is too long and your only options are the recommendations in the warning message.

[2015-09-11 16:32] rmalouf commented on #1125
I don't think you'll be able to get the stanford parser to deal with sentences that long no matter how much memory you give it.  Depending on your application, though, you might by dividing it into, say, 50 word fragments and parsing them individually.  At any rate, I'm pretty sure this isn't an issue with NLTK.

[2015-09-11 18:58] mindriot78 commented on #1128
Many thanks to you all.

[2015-09-12 19:13] stevenbird opened #1130 "Adopt abstract base class syntax"
NLTK has plenty of abstract base classes. Now that Python has support for these, we need to audit the codebase and adopt this syntax.

cf https://docs.python.org/3.0/whatsnew/2.6.html#pep-3119

[2015-09-14 02:14] letuananh commented on #995
@longdt219 @rain1024 I have been using jvntextpro2 for awhile and it's pretty decent. It's written in Java and also an opensource project. We may choose to port this as well.

[2015-09-14 09:21] mind1m commented on #1106
+1, updated to python3.5 and received this error (nltk 3.0.5)

[2015-09-14 10:46] nschneid opened #1132 "FrameNet corpus reader should sort multiword lexemes on "order" attribute"
It looks like the ordering of a lexical unit's lexemes in the XML does not always follow the "order" attribute:

[code]

These should be sorted on loading so "write" comes first.

(N.B. This example is using FN 1.6, but the XML schema has not changed.)

[2015-09-14 10:47] nschneid commented on #1132
I can fix this. Making a note so I don't forget.

[2015-09-14 11:20] nschneid commented on #1132
Relatedly: there are a few number LUs whose lexeme name is loaded as an int rather than a string:

[code]

[2015-09-14 13:18] kamaunyrroh commented on #1103
Why are you so hateful stevenbirds? You have always answered my questions rudely.

[2015-09-14 14:43] ruiEnca commented on #1106
+1 I'm getting this error after update to Python 3.5 (NLTK 3.05)

[2015-09-15 01:11] stevenbird commented on #1110
Another example of bad behaviour: http://stackoverflow.com/questions/32571486/nltk-red-not-recognised-as-an-adjective

[2015-09-15 19:09] laura-burdick commented on #1106
+1 Same

[2015-09-15 19:21] PanderMusubi commented on #747
NLTK 3.0.4 is scheduled for Ubuntu 15.10, see https://launchpad.net/ubuntu/+source/nltk and 3.0.0 is currently distributed via apt-get. If this issue has been fixed, can it be closed?

[2015-09-17 12:41] redrush85 commented on #1106
+1, os x yosemite, python 3.5, nltk 3.0.5

[2015-09-17 14:18] stevenbird opened #1134 "Installing NLTK 3.0.5 on Windows"
It seems that `six` is not being automatically installed on some Windows machines.
https://groups.google.com/forum/#!topic/nltk-users/YhFSSvB8Has

[2015-09-17 14:52] suyashbansal commented on #1134
I am also getting the same error on windows. Now I installed the NLTK 3.0.4

[2015-09-17 17:34] stevenbird commented on #1134
@dimazest, @kmike – if you have any advice I'd love to hear it.

[2015-09-17 19:57] beeblebroccoli opened #1135 "Python 3.5: from nltk.books import * | Attribute Error: parsed_pattern.pattern.groups = 1"
Running Python version 3.5

[code]

[2015-09-17 21:51] dimazest commented on #1134
My answer in the mailing list waits moderation. I'll rewrite it here.

How did you install NLTK (did you use pip, cloned github repo or the .zip distribution). What python version do you use?

[2015-09-18 02:10] suyashbansal commented on #1134
I installed NLTK by using the Windows installer provided at https://pypi.python.org/pypi/nltk

Also, I am using the latest version of Python i.d.e. python-3.5.0

[2015-09-18 03:05] stevenbird commented on #1135
Duplicate of #1106

[2015-09-18 03:05] #1135 closed, assigned to nobody

[2015-09-18 03:10] fcbond commented on #296
You can get an iterator with all words from wordnet with `wordnet.all_lemma_names()` (for English).
This could be use to provide `wordnet.words()`. Note that you can also get the lemmas for other languages with, e.g.  `wordnet.all_lemma_names(lang='jpn')` for Japanese.

I am not sure what an appropriate value would be for wordnet.raw(), maybe `" ".join(wordnet.words())`?

[2015-09-18 03:18] stevenbird commented on #1106
I've added Python 3.5 testing to our continuous integration service at https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/

[2015-09-18 03:23] fcbond commented on #31
It would be nice to have a standard interface to access the license and citation interface, as we do for the readme.

I suggest adding to the API  something like:

[code]

And the same for '''citation' which would look for "citation.bib".

Then we need to add the LICENSE and citation info for each corpus.  I will do it for the open multilingual wordnet and wordnet.

[2015-09-18 04:04] stevenbird commented on #31
Good idea. I've added this, but without the conditional, since I think it's fine let Python generate an error message. I see that there are many corpora containing `README.txt` instead of `README`, so that also needs to be standardized.

[2015-09-18 04:36] stevenbird commented on #296
I agree that text corpora (e.g. `shakespeare`) and wordlist corpora (e.g. `cmudict`) should implement `words()`. Others, like `ppattach` and `toolbox`, are text databases and I don't think it makes much sense for them.

[2015-09-18 04:37] stevenbird commented on #296
@turicas – that's a nice analysis of our interface consistency.

[2015-09-18 09:40] dimazest commented on #1134
Thanks.

I thought that installer will work only with Python 2.6. That installer doesn't include dependencies. I'll have a look how include them into the installer.

[2015-09-18 12:53] iemelyanov commented on #1106
+1 Same

[2015-09-18 17:46] stevenbird commented on #1106
Well, NLTK passes the Python 3.5 CI server testing, which just means our tests are not comprehensive. Does anyone have time to diagnose this particular problem some more, and report back or submit a PR please?

[2015-09-20 05:18] aliabbasjp opened #1137 "find the head of a noun phrase for English language"
nltk should have a NP and its head finder, discussed in detail here

http://stackoverflow.com/questions/32654704/finding-head-of-a-noun-phrase-in-nltk-and-stanford-parse-according-to-the-rules

[2015-09-20 10:10] bjut-hz commented on #1125
Thanks for you all.

[2015-09-20 10:10] #1125 closed, assigned to nobody

[2015-09-22 04:03] manning commented on #1125
@rmalouf: Actually, if you give the parser enough memory and time, the Stanford PCFG parser **will** parse sentences that long or longer. I once proved this to someone by parsing a 675 word sentence from a regulatory manual. But it took about 70 gigs of RAM and a few hours ... so not recommended. If you want to parse such sentences, you should use a greedy transition-based parser. I'm not sure whe

[2015-09-22 05:43] turicas commented on #296
@stevenbird, :) I think the idea behind it is to keep the same interface to reuse code, so if there are no cases where `toolbox` would be used for an analysis you've made for `shakespeare` then they may not be objects of the same class and don't need to share the same interface. In this case I prefer completely different class names so the difference will be explicit (`Corpora` and `TextDatabase`,

[2015-09-23 17:05] stevenbird commented on #1137
That's too language- and grammar- specific. Maybe you could switch to using a dependency parser.

[2015-09-23 17:05] #1137 closed, assigned to nobody

[2015-09-23 18:03] stevenbird commented on #1132
@nschneid – If you accept the invitation to the nltk team I can assign this to you.

[2015-09-23 22:29] maraujo commented on #280
Hello Guys,
We do we have an possible fix in the next nltk commits? I'd really enjoy to use this metrics my lab research.
Here is a stackoverflow link:
http://stackoverflow.com/questions/24456056/python-nltk-windowdiff-and-pk-vs-python-segeval-windowdiff-and-pk
Thanks.

[2015-09-24 20:35] stevenbird commented on #1106
I'd appreciate any feedback on my proposed solution in https://github.com/nltk/nltk/commit/7e43ac05c41d5ffcce9197952e1bf46831d08d90

[2015-09-25 07:40] aliabbasjp commented on #1137
At least for English language it should be implemented as its most commonly used language.

[2015-09-27 03:42] ssbb commented on #797
Got in on 3.5.0

[2015-09-27 04:44] vaskonov opened #1144 "krippendorff alpha with MASI distance"
Hello,

There is a problem with calculating krippendorff alpha with MASI distance.

[code]

The above fails with error message

[code]

[2015-09-27 07:22] jnothman commented on #1144
It's not particular to MASI. Try:

nltk.metrics.agreement.AnnotationTask([['1', 5723, 0],['2', 5723, 0]]).alpha()

for the same error.

On 27 September 2015 at 14:44, vaskonov notifications@github.com wrote:

[2015-09-28 15:12] salimzayat opened #1147 "Download of punkt not working (package vs string issue)"
I am trying to download the punkt package:
python version: 2.7
nltk version: 1.0.1
command: python -m nltk.downloader punkt
stacktrace:

[code]

[2015-09-28 15:44] stevenbird commented on #1147
Please update your NLTK installation to the current version.

[2015-09-28 15:44] #1147 closed, assigned to nobody

[2015-09-28 16:26] salimzayat commented on #1147
That did it.  Thanks, Steven.

BTW, I don't know if you remember me.  I worked for you at the LDC after I got out of college, back in 2001 or so.  I don't think any of the stuff I did for the nltk back then stuck around, but it was a good time.

[2015-09-28 19:59] alvations commented on #1080
With the `six` issue resolved, now Malt API should be stable. Would that be an issue "closed"?

[2015-09-28 19:59] alvations commented on #1081
That's resolved too, so close too?

[2015-09-28 20:09] alvations commented on #1070
@jnothman the basic implementation is merged but there's still some work to sort out the padding, i'll do this once i'm free over the weekend.

[2015-09-29 00:00] stevenbird opened #1148 "Use perceptron tagger as NLTK's default POS tagger"
cf #1143

[2015-09-29 00:04] stevenbird opened #1149 "Refactor Perceptron Tagger"
cf @honnibal's feedback at https://github.com/nltk/nltk/pull/1143#issuecomment-143524107

[2015-09-29 00:09] stevenbird opened #1150 "Allow tagset specification in pos_tag_sents"
`tag.pos_tag_sents()` should have an optional `tagset` parameter, cf `tag.pos_tag()`

[2015-09-29 00:15] #1148 closed, assigned to stevenbird

[2015-09-29 00:39] #1150 closed, assigned to stevenbird

[2015-09-29 00:39] stevenbird opened #1151 "POS taggers should return iterators not lists"

[2015-09-29 00:47] stevenbird opened #1152 "Twitter demo code breaks in Python 2.7"
[code]

[2015-09-29 00:48] stevenbird commented on #1152
@fievelk or @ewan-klein – would you please take a look at this?

[2015-09-29 04:10] stevenbird commented on #1080
Thanks @alvations

[2015-09-29 04:10] #1080 closed, assigned to nobody

[2015-09-29 04:10] #1081 closed, assigned to longdt219

[2015-09-29 04:14] stevenbird commented on #716
Access to PanLex Swadesh data was added in https://github.com/nltk/nltk/blob/daf4d0f7b56a155bf708a0fdf271000586422922/nltk/corpus/reader/wordlist.py#L28. Work on a more comprehensive interface is covered by #983.

[2015-09-29 04:14] #716 closed, assigned to stevenbird

[2015-09-29 04:15] stevenbird commented on #597
Closing, since our CI service at ShiningPanda is meeting our needs atm.

[2015-09-29 04:15] #597 closed, assigned to stevenbird

[2015-09-29 04:22] stevenbird commented on #506
Resolved in https://github.com/nltk/nltk/commit/7cefb5a4fb34ce786e817b0ef4f48321a6be5eb8 by @fcbond

[2015-09-29 04:22] #506 closed, assigned to nobody

[2015-09-29 05:08] AnilRedshift commented on #797
This repros again on `python 3.5.0`
@stevenbird, would you like me to open a new issue on this, or reactivate this one?
File "/server/utils/cache.py", line 3, in <module>
    from nltk.tokenize import sent_tokenize
  File "/opt/envs/worker/lib/python3.5/site-packages/nltk/__init__.py", line 117, in <module>
    from nltk.align import *
  File "/opt/envs/worker/lib/python3.5/site-packages/nltk/alig

[2015-09-29 05:22] AnilRedshift commented on #797
The 3.5.0 source has group set via a property. An ideal fix here would not muck around with the guts of the pattern object. I will take a quick look.
[code]

[2015-09-29 05:24] intentionally-left-nil commented on #797
Sorry, I see this is referenced in https://github.com/nltk/nltk/issues/1106 for python 3.5

[2015-09-29 07:47] ewan-klein commented on #1152
Hopefully 52a894eb4cc8cb410eef30f8ff3e21e70801e54c will fix this.

[2015-09-30 09:51] alvations commented on #1030
@stevenbird @davidjurgens I would think it's a feature and not a bug but i agree, it should be fixed. =)

This issue was also raised here: http://stackoverflow.com/questions/32333996/python-nltk-wup-similarity-score-not-unity-for-exact-same-word/32347253#32347253

The simple fix could have been at https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L861 but I'm not sure whether

[2015-09-30 20:48] kmike opened #1154 ""brill" branch shouldn't be default"
Hey,

It seems when develop branch was deleted and re-created 'brill' branch became default on github.

[2015-09-30 21:37] ewan-klein commented on #1154
Thanks for noticing this @kmike. I've just changed it back so `develop` is the default.

[2015-09-30 21:37] #1154 closed, assigned to nobody

[2015-09-30 22:41] kmike commented on #1154
thanks @ewan-klein!

[2015-10-01 00:33] stevenbird commented on #1154
Thanks!

[2015-10-02 22:02] jelmelk opened #1155 "Is this intended for TweetTokenizer?"
[code]

The `word_tokenize` gives me the following:

[code]

However, `TweetTokenizer` splits the coding making the count for `\\` extremely large and not possible to use emoji

[code]

Is this intended? If so is it possible to change?

[2015-10-02 22:06] kmike commented on #1155
This doesn't look right:

[code]

What Python version are you using? If it is Python 2.x then `tweet` becomes a bytestring (while you should pass unicode to NLTK methods). If it is Python 3 you're getting str representation of a bytes object, this is not what you want:

[code]

[2015-10-02 22:08] kmike commented on #1155
In Python 3 you'd want to do this:

[code]

[2015-10-02 22:16] jelmelk commented on #1155
That's just an example (apparently a poor one), I usually have the tweets written to a csv file and I've been pulling from that.

In the actual scenario I am using Python3, pulling data into pandas df and from that using TweetTokenizer, but the emoji is still being broken up.
![image](https://cloud.githubusercontent.com/assets/14167775/10259033/be3e30b0-6931-11e5-8267-40a211f98fa5.png)

[2015-10-02 22:19] kmike commented on #1155
Your example works perfectly fine in Python 3 if fed with correct input:

[code]

[2015-10-02 22:24] jelmelk commented on #1155
Is it not possible to keep the coding in order to display "\xF0\x9F\x98\x81" as word_tokenizer?

[2015-10-02 22:28] kmike commented on #1155
There must be something wrong either in a way you're reading the data or with CSV data itself. Maybe pandas doesn't use right encoding or escaping by default and you need to tweak options to make encoding compatible with your CSV file, or maybe instead of raw data there is escaped data stored in CSV file.

It may be possible, but I'm not sure it is a good feature to support: "\xF0\x9F\x98\x81" loo

[2015-10-02 22:52] stevenbird commented on #1152
Thanks @ewan-klein

[2015-10-02 22:52] #1152 closed, assigned to nobody

[2015-10-02 23:16] jelmelk commented on #1155
So here's what I tried, if I take the exact "tweet" that I gave in the original example and save it to a csv file as `b"@someone did you check out this #superawesome!! it's very cool \xF0\x9F\x98\x81 http://t.co/ydfY2"`. I import it with pandas as such `df = pd.read_csv('kjd.csv', header=None, names=['TWEET'])`.

Then I type :

[code]

Which I know is a bit overkill, but when you import it with pa

[2015-10-02 23:18] kmike commented on #1155
Could you please show the code to save the example to a csv file?

[2015-10-02 23:22] jelmelk commented on #1155
I simply saved the tweet manually into a csv file as `b"@someone did you check out this #superawesome!! it's very cool \xF0\x9F\x98\x81` similar to when doing `tweet=b"@someone did you check out this #superawesome!! it's very cool \xF0\x9F\x98\x81`

[2015-10-02 23:43] kmike commented on #1155
No, this is not correct. `b"\xF0\x9F\x98\x81"` is a literal for a 4-byte sequence:

[code]

If you copy `\xF0\x9F\x98\x81` and paste it to a CSV file using a text editor you won't get the same bytes - you're copying and pasting a representation of this data (the way Python displays it), not the data itself. For example, `\xF0` means a hex value F0 or int value 240. `b"\xF0\x9F\x98\x81"` was 4 byte

[2015-10-03 00:06] jelmelk commented on #1155
Thank you for the detailed explanation. I'll go ahead and close the issue.

[2015-10-03 00:06] #1155 closed, assigned to ewan-klein

[2015-10-03 06:33] stevenbird commented on #1106
This should be resolved now.

[2015-10-03 06:33] #1106 closed, assigned to stevenbird

[2015-10-03 06:33] #1122 closed, assigned to longdt219

[2015-10-03 06:34] stevenbird commented on #1110
Resolved by #1122

[2015-10-03 06:34] #1110 closed, assigned to nobody

[2015-10-03 06:47] stevenbird commented on #691
Closing as this looks stale.

[2015-10-03 06:47] #691 closed, assigned to nobody

[2015-10-03 21:59] stevenbird commented on #505
We now have support for the Open Multilingual Wordnet, so I'm closing this.

[2015-10-03 21:59] #505 closed, assigned to nobody

[2015-10-03 22:01] stevenbird commented on #140
Closing due to lack of interest. Some of this is met by #302.

[2015-10-03 22:01] #140 closed, assigned to nobody

[2015-10-03 22:11] ewan-klein commented on #1155
Many thanks @kmike for all your helpful input on this issue.

[2015-10-04 00:43] stevenbird commented on #34
Right, this is no longer valid!

[2015-10-04 00:43] #34 closed, assigned to stevenbird

[2015-10-05 19:39] zeehio commented on #1151
I had the need for using iterators in my pos tagger tests (I am just starting to play with nltk) and I made a small modification (zeehio/nltk@b453d7f8c864b383e7c749ef7ba187336d933654) to nltk to train and check the accuracy using iterators. I don't know the nltk implementation details and having the testsuite broken makes it very difficult for me to check what has been broken by my (small) changes

[2015-10-05 23:13] stevenbird commented on #1063
We have adopted a new default POS tagger (https://github.com/nltk/nltk/issues/1148), so this issue is no longer current.

[2015-10-05 23:13] #1063 closed, assigned to nobody

[2015-10-05 23:14] stevenbird commented on #776
We have adopted a new default POS tagger (https://github.com/nltk/nltk/issues/1148) so this issue is no longer current.

[2015-10-05 23:14] #776 closed, assigned to nobody

[2015-10-05 23:18] stevenbird commented on #182
I expect this issue is stale.

[2015-10-05 23:18] #182 closed, assigned to nobody

[2015-10-05 23:18] stevenbird commented on #173
I expect this issue is stale.

[2015-10-05 23:18] #173 closed, assigned to nobody

[2015-10-05 23:20] stevenbird commented on #83
This is probably superseded by deep learning and gensim.

[2015-10-05 23:20] #83 closed, assigned to nobody

[2015-10-06 14:21] leondz opened #1157 "Relax PoS requirement for ConllCorpusReader"
The ConllCorpusReader _require()s a PoS field for many functions, but this seems unnecessary in practice. Many corpora are in fact distributed chunked for e.g. NEs without a PoS field, leaving the determination of this intermediate piece of information down to the end user.

Can this _require()ment thus be relaxed? See e.g. from nltk/corpus/reader/conll.py:

[code]

[2015-10-06 16:24] stevenbird commented on #1134
It looks like six is not automatically installed on Windows, and it looks like it's a pain to install it manually (https://groups.google.com/forum/#!topic/nltk-users/YhFSSvB8Has). How about we include it in NLTK?

[2015-10-06 16:27] stevenbird commented on #1033
@fievelk is this satisfactorily resolved now?

[2015-10-06 16:28] stevenbird commented on #1090
cf #1134

[2015-10-06 19:08] jelmelk opened #1158 "TweetTokenizer hangs"
I have the following code that I use to  TweetTokenize a day worth of tweet collection, ~2.2M tweets.

[code]

The code works as intended unless I come across certain types of tweets, I confirmed this through couple of tests.

For that specific file it was hanging for a long period and couldn't figure out why. I added the `print()` function to find out where the issue lies. Last time I ran it befo

[2015-10-06 19:17] kmike commented on #1158
I think we should try fixing the pathological regex; it looks like a security issue.

[2015-10-06 21:59] dimazest commented on #1134
+1 six is a single file, and we can distribute it as `nltk.six`, for example.

For a more complex set up I would suggest to use Anaconda or a similar software instead of windows installers.

[2015-10-06 22:16] kmike commented on #1134
Like pip and venv which are built-in in recent Python 3? :) Since https://github.com/nltk/nltk/pull/697 was opened some things changed: most important scientific packages got official Windows wheels, so AFAIK installing numpy/scipy/scikit-learn on Windows shouldn't be a problem if pip+venv are used.

Users will have to learn how to use pip anyways - e.g. for twython. Very few packages provide .exe

[2015-10-06 22:34] kmike commented on #1134
Anaconda is nice though: you download a couple hundred of MBs file and get a brand new Python with most important scientific packages pre-installed. One data point: I was doing a tutorial on ML text processing and just downloaded Anaconda distributions for all OSes and put them on USB flash sticks, then gave them to auditory. They had a mix of Linux, OS X and Windows laptops, and WiFi was almost n

[2015-10-07 07:43] fievelk commented on #1033
@stevenbird I can confirm that the issue seems to be solved now:

[code]

The bigram `('farmer', 'Newspapers')` is now correctly omitted.

[2015-10-07 09:29] fievelk commented on #1158
I created a csv file with several tweets, adding your entry at the end (I added an ID column just for test):

Then I parsed it using pandas (following your code):

[code]

I found out that the entry is sligthly different after pandas parsing:

[code]

You can see that the `\n` has been modified, and it is now escaped as `\\n` (see [here](https://groups.google.com/forum/#!topic/pydata/-kCo7OYAJaE)

[2015-10-07 11:13] dimazest commented on #1134
My impression is that Anaconda devs and maintainers are quite open minded. Pandas have their own channel where they provide recent versions https://conda.anaconda.org/pandas

In my experience (a web development course about django and things) anaconda was the most reliable choice as it's supports all the major OSes.

[2015-10-07 18:18] stevenbird commented on #1157
@leondz – your example `tagged_sents()` does require POS information. Are there particular methods for which the POS requirement can be dropped?

[2015-10-07 21:45] stevenbird commented on #1134
So if I add `six`, I presume I can drop it from setup.py (`install_requires`) and from tox.ini.

[2015-10-07 22:17] kmike commented on #1134
@stevenbird yes, that's correct.

[2015-10-07 22:35] stevenbird commented on #1134
Resolved in https://github.com/nltk/nltk/commit/f4342ffe451c2fa6e3f48f9646c5f2a92018a260

[2015-10-07 22:35] #1134 closed, assigned to nobody

[2015-10-09 05:47] stevenbird commented on #533
CI testing evidently includes module docstrings.

[2015-10-09 05:47] #533 closed, assigned to nobody

[2015-10-09 05:48] stevenbird commented on #519
@kmike: do you think this is an issue with NLTK?

[2015-10-09 05:49] stevenbird commented on #442
I think this must have been a transient issue.

[2015-10-09 05:49] #442 closed, assigned to nobody

[2015-10-09 05:53] stevenbird commented on #298
I suspect this is no longer current, cf https://github.com/nltk/nltk/blob/develop/nltk/parse/malt.py#L58

[2015-10-09 05:53] #298 closed, assigned to alexrudnick

[2015-10-09 05:54] stevenbird commented on #49
Closing – too out of date.

[2015-10-09 05:54] #49 closed, assigned to nobody

[2015-10-11 03:17] stevenbird opened #1164 "compat vs six"
Now that we've added six to the NLTK distribution, some methods in compat, like `python_2_unicode_compatible` should be imported from six instead.

[2015-10-11 06:59] alvations commented on #1029
@hwsamuel Ah ha, I think i know what happened.

Did this error:

[code]

occur because you did this:

[code]

Or did you do something like:

[code]

If you have done an `open('infile.txt', 'r')` in python2 the default encoding is not 'utf8' because of strange `str()` representation when you `print`. Try this instead:

[code]

@hwsamuel does the `io.open()` resolve your problem or is the wsd module

[2015-10-11 09:50] kmike commented on #1164
`compat.python_2_unicode_compatible` is different from `six.python_2_unicode_compatible`; in six it always uses utf8 and so doesn't work correctly in non-utf8 consoles (Windows?).

[2015-10-12 15:10] stevenbird commented on #1164
Thanks @kmike – I saw that it was different and wondered if that was just because NLTK's version was a stale copy.

[2015-10-12 17:23] stevenbird opened #1166 "Trie implementation"
Consolidate `tokenize.mwe.MWETokenizer.add_mwe` and `sem.logic.StringTrie` into `util.Trie`.

[2015-10-12 17:43] hammansamuel commented on #1029
I did the former, i.e. without opening a file

[2015-10-12 18:16] alvations commented on #1029
@hwsamuel , use `io.open` and the problems should be resolved. This is a good reference for dealing with text I/O in python: http://stackoverflow.com/questions/5250744/difference-between-open-and-codecs-open-in-python =)

[2015-10-12 18:37] stevenbird commented on #179
@fcbond are there problems with NLTK upgrading English WordNet to 3.1? I'm happy to hold off upgrading if that would cause problems.

[2015-10-12 19:00] hammansamuel commented on #1029
The problem does seem to be related to `print`. If I do the following, the program gives the desired output without any errors.

[code]

[2015-10-12 19:00] #1029 closed, assigned to nobody

[2015-10-13 03:21] alvations commented on #1029
@hwsamuel Possibly, it's a problem with locale , default encoding, or how you control the I/O. Always use the encoding parameter when using `io.open()` and that should minimize encoding issues when dealing with text.

[2015-10-13 10:07] fcbond commented on #179
Yes, we should wait until after the next global wordnet conference (in
January in Romania), when we will have a better integration of the
different languages.

On Tue, Oct 13, 2015 at 2:37 AM, Steven Bird notifications@github.com
wrote:

##

Francis Bond http://www3.ntu.edu.sg/home/fcbond/
Division of Linguistics and Multilingual Studies
Nanyang Technological University

[2015-10-14 04:03] stevenbird opened #1172 "BLEU unit tests should not be sensitive to floating point precision"
@alvations: the [BLEU unit tests](https://github.com/nltk/nltk/blob/develop/nltk/test/unit/translate/test_bleu.py#L59) produce errors on our CI server like the following. Do you think you could find a way to test with less precision please?

[code]

[2015-10-14 14:23] JonathanReeve opened #1173 "How can I contribute a corpus?"
I'd like to contribute a corpus to http://www.nltk.org/nltk_data/. What format does the corpus need to be in? Does it need to be POS tagged?

It's a corpus of about 65K books from the British Library. Currently, they're only XML files, but I'm working on getting them in plaintext, as well. You can see a few sample files in https://github.com/Git-Lit/git-lit/tree/master/data2.

[2015-10-14 14:26] JonathanReeve commented on #1173
Nevermind, I see that there's a separate repo for nltk_data. Will put this issue there instead.

[2015-10-14 14:26] #1173 closed, assigned to nobody

[2015-10-15 09:16] alvations commented on #1172
@stevenbird sorry for the slow response, I was getting intermittent internet connection while travelling. Hopefully i made it in time for 3.1.

[2015-10-16 11:29] bryandeng commented on #668
Hi, @stevenbird.

How's the progress of this enhancement? I need exactly this feature in a recent project. If you would like, I can start to write some code for this.

[2015-10-17 10:06] ewan-klein opened #1176 "Installing NLTK data on Mac OS X El Capitan"
To configure the NLTK Downloader, http://www.nltk.org/data.html says:

[code]

However, with the new ['rootless' feature](http://apple.stackexchange.com/questions/193368/what-is-the-rootless-feature-in-el-capitan-really) in El Capitan, you can't modify `/usr/share` as `sudo` without turning off SIP. However, you **can** modify `/usr/local`.

Would it make things too complicated to say the followin

[2015-10-18 04:55] anupamme opened #1177 "sentiment analysis using nltk"
How can I do sentiment analysis using nltk?

Does nltk 3.1 has inbuilt sentiment analyzer?

If not, I heard it now supports stanford corenlp integration, if this is true then how can it be achieved?

I think it is more like a stackoverflow question but since 3.1 is new I thought this might be better place.

[2015-10-18 14:44] ewan-klein commented on #1177
The documentation for the new sentiment analysis functionality is still a bit rudimentary, but have a look at:
- New corpora in http://www.nltk.org/howto/corpus.html#categorized-corpora
- Brief examples in http://www.nltk.org/howto/sentiment.html
- Longer examples in http://www.nltk.org/api/nltk.sentiment.html#module-nltk.sentiment.util

[2015-10-20 07:14] ewan-klein commented on #1177
@anupamme I suggest that if you want to pursue this question further, it would be best to do it on the [NLTK user mailing list](https://groups.google.com/forum/#!forum/nltk-users).

[2015-10-20 07:14] #1177 closed, assigned to nobody

[2015-10-22 05:21] #1172 closed, assigned to alvations

[2015-10-23 16:02] alvations commented on #1070
@jnothman , Sorry that it took that long to add the padding. It's done on #1179 . Abstracting the padding away from the `ngram` generation seems to be the most clean solution without duplicated code in `ngrams()`, `evergrams()` and `skipgrams()`.

[2015-10-26 17:40] #1176 closed, assigned to nobody

[2015-10-27 21:59] JonathanReeve opened #1180 "Is generate() coming back?"
Would really love to see this function back again. The book says it will be reinstated in a later version, but when?

[2015-10-27 22:06] alvations commented on #1180
+1 .  Given the recent RNN generation from @karpathy (https://github.com/karpathy/char-rnn), it might be very easy to create a `generate()` algorithm but support of any neural net implementation is all very unstable, API changes almost every 2-3 weeks =(

[2015-10-28 12:25] alvations opened #1181 "Combination (Math) implementation in NLTK"
Strangely, python don't seem to provide a quick/easy way to get mathematical combinations/choose ([nCr](http://docs.scipy.org/doc/scipy-0.16.0/reference/generated/scipy.misc.comb.html)). It's sort of essential for the RIBES algorithms and most rank-based Machine Translation metrics.

**Would it be okay to add [this function](http://stackoverflow.com/a/3025547/610569) to NLTK?** It seems to be the

[2015-10-28 15:23] stevenbird opened #1182 "Word attribute in DependencyGraph TOP node"
As reported in https://groups.google.com/forum/#!topic/nltk-users/C7e-jRdeVtM, there seems to be a bug caused by the fact that the added TOP node has no value for its `word` attribute:

[code]

The same error happens with:

[code]

[2015-10-28 15:24] stevenbird commented on #1182
@dimazest – do you have any suggestion for how to resolve this please?

[2015-10-28 23:46] alvations commented on #1181
Currently, the combination binomial coefficient is implemented in `nltk.translate.ribes_score.choose()` at https://github.com/alvations/nltk/blob/ribes/nltk/translate/ribes_score.py#L184 in a sandbox branch but I'm not sure whether it should reside there.

[2015-10-29 01:22] hoontw commented on #1181
+1 for nCr function. I wonder if any of the external packages used in nltk already have that.

[2015-10-30 08:49] vishnumani2009 commented on #1019
Has anybody started working on this?
Hope to get a response

[2015-10-30 10:46] dimazest commented on #1182
I need to have a look, but the idea of creating an empty graph, appending nodes to it and then connecting the nodes seems strange to me. The reason is that this code knows too much about DG internal implementation, for example the fact that we are using dictionaries to store node information.

[2015-10-30 15:50] stevenbird commented on #1019
@vishnumani2009 – not that I'm aware of, sorry.

[2015-10-30 17:46] stevenbird commented on #1181
+1 yes good idea to check whether it's provided in any of the other packages we import

[2015-10-30 17:49] alvations commented on #1181
`scipy` does that but it's slower than this implementation =(

[2015-10-31 00:39] stevenbird commented on #1181
That's surprising. It might be worth mentioning that to them. Anyway, I'm happy for us to include nCr. It probably belongs in `nltk.util`.

[2015-10-31 02:13] erickrf opened #1183 "Character ranges in TweetTokenizer regular expressions"
As reported in the nltk-dev mailing list, I found that the TweetTokenizer splits words at accented characters. Checking the code, I found at line 159:

[code]

A simple solution would be replacing the character ranges by `\w`:

[code]

[2015-10-31 16:06] vishnumani2009 commented on #1019
Thanks for the reply .
Steven

Just to get some insight as of how nltk community works.
how do guys set the milestones for each versions.Do you guys have any sprints sessions?

According to https://github.com/nltk/nltk/milestones 3.2 release is due by Nov 30 and has 31 open issues and Stanford tagger is not among them.(under enhancements).

Can i still proceed with the development?.

[2015-10-31 16:20] stevenbird commented on #1183
@fievelk – would you mind taking a look at this please?

[2015-10-31 18:37] fievelk commented on #1183
@stevenbird Sure.
@erickrf Thank you for pointing this out.

[2015-10-31 20:10] fievelk commented on #1183
@erickrf could you please provide some examples please? I am not able to reproduce your issue using common accented characters.

[2015-11-01 18:08] erickrf commented on #1183
Sure:

[code]

Output:

[code]

The regexp groups the first three letters, accented or not. The splits occurs when the accents are after the first three.

[2015-11-01 21:28] dimazest commented on #1182
I think the best solution for this is to stop assuming that there is only one root node.

A radical solution is to remove the .root attribute from DpendencyGraph, this will break some code and might lead to surprises because the attribute might be set outside of the dependencygraph module.

Another solution is to call the TOP node the root node. This will change the behavior of tree printing for e

[2015-11-02 09:59] fievelk commented on #1183
**Edit:** I am now able to reproduce your results:

[code]

I will make a pull request soon.

[2015-11-02 10:50] mhjabreel opened #1184 "Getting a wrong synsets"
Hi, all,

I have tried to calculate the semantic similarity between "flower" and "stamina", but I have got a wrong result. after checking the reason I have relaised  that the wrong result because the synsets of "stamina" that I have obtained using NLTK are "Stamina" and "Stamen", but when I have searched about this in wordnet I have found only one synset which is "Stamina".

could you please fix t

[2015-11-02 23:56] alvations commented on #1181
After some tests, `scipy` implementation is still a lot slower. http://stackoverflow.com/questions/33468821/is-scipy-misc-comb-faster-than-an-ad-hoc-binomial-computation.

[2015-11-03 08:03] ewan-klein commented on #1183
Resolved in 2f7acb81a496044077af934817e02616c76badce

[2015-11-03 08:03] #1183 closed, assigned to nobody

[2015-11-03 11:42] nschneid opened #1187 "Open Roget's Thesaurus"
Might be nice to have a way to use this resource in NLTK: https://sites.google.com/site/openrogets/

[2015-11-03 16:53] stevenbird commented on #1187
I see that @prpole has worked on a Python interface here: https://github.com/prpole/roget-tools

[2015-11-03 17:52] prpole commented on #1187
Indeed---I didn't know about Open Roget's, but I'm pursuing similar semantic-relatedness measurements using Python. This also does the basic lookup functions, of course. Hoping to clean it up a bit soon.

[2015-11-04 18:56] meticulo3366 opened #1188 "nltk.tokenize functions `can't set attribute` error"
tokenizer fails on all methods and functions and produces `can't set attribute` error

See this to reproduce the following error
[http://www.nltk.org/api/nltk.tokenize.html#module-nltk.tokenize.regexp](http://www.nltk.org/api/nltk.tokenize.html#module-nltk.tokenize.regexp)

`from nltk.tokenize import RegexpTokenizer`
`s = "Good muffins cost $3.88\nin New York.  Please buy me\ntwo of them.\n\nThank

[2015-11-04 19:18] shijunil commented on #731
Hi
I m facing a similar problem in a python code which uses stanford parser.

shiju@shiju-Satellite-C665D:~/Downloads/SVO_Extractor-master/stanford-parser-2012-07-09$ python svo.py
Traceback (most recent call last):
  File "svo.py", line 204, in <module>
    svo = SVO()
  File "svo.py", line 37, in **init**
    self.parser = stanford.StanfordParser(model_path="/home/shiju/Downloads/SVO_Extractor-m

[2015-11-05 08:08] alvations opened #1189 "Wordnet words doesn't tally with all lemma_names from all_synsets"
Using `wn.words()` should return the same no. of unique lemmas as iterating through every synset and collecting the lemmas but somehow the numbers are different here:

[code]

The bigger problems comes when we check the number of words that the methods extract and we find that both ways are extracting different sets instead of one set being a subset of the other:

[code]

Looking at the lemmas the

[2015-11-05 08:22] alvations commented on #1184
Thanks @mhjabreel , yes it seems like an error with how the synset was retrieved at https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/wordnet.py#L1423

NLTK API is fetching a wrong synset for the lemma `stamina`:

[code]

On Princeton's search interface, it fetches only `Synset('stamina.n.01')`, see [here](http://wordnetweb.princeton.edu/perl/webwn?s=stamina&sub=Search+WordNet&o2=&o0=1&

[2015-11-05 10:10] nschneid commented on #1189
Looks like the main difference between diff_wn and diff_wn_2 is in capitalization. What happens if you lowercase everything and then do a diff?

[2015-11-05 15:46] stevenbird commented on #1184
Thanks for the report @mhjabreel and diagnosis @alvations

[2015-11-05 16:11] stevenbird commented on #1188
This was fixed in NLTK 3.1. Please upgrade.

[2015-11-05 16:11] #1188 closed, assigned to nobody

[2015-11-05 16:18] nschneid opened #1191 "FrameNet corpus reader: include additional metadata about annotated sentences"
- NER layer
- WSL layer? Possibly indicate things not denoted "NT" as potential targets. Or maybe mark it as functional vs. content, or relational vs. nonrelational.
- GF and PT layers?
- Missing attribute `cDate` on `annotationSet` elements
  - Leave out: `cBy` (annotator ID?) on FE, Target labels

[2015-11-05 21:24] nschneid commented on #1191
The sentence object should have a way to get the spans of all targets, and possibly a token or chunk-level pairing of POS and frame with the word.

[2015-11-05 21:32] meticulo3366 commented on #1188
my requirements document says otherwise...

nltk==3.1
PyMySQL==0.6.6
gspread==0.2.5
pytest==2.7.2
pytest-cov==2.0.0
oauth2client==1.4.12
pyOpenSSL==0.15.1
jellyfish==0.5.1
tldextract==1.6
celery==3.1.18
Beaker==1.7.0

[2015-11-07 15:25] stevenbird opened #1194 "ngram regression"
The CI server reports errors such as the following for the ngram functions (build [456](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/456/) following merge of #1179).

[code]

[2015-11-07 15:25] stevenbird commented on #1194
@alvations – would you be able to have a look at this please?

[2015-11-07 15:50] alvations commented on #1194
@stevenbird , sorry for missing that out in the previous merge. The fix #1195  removes the checks and converts into iterable when padding.

[2015-11-07 16:03] alvations commented on #1189
@nschneid, thanks for resolve the puzzle! It seems it is the case of capitalization:

[code]

As a sanity check:

[code]

[2015-11-07 16:03] #1189 closed, assigned to nobody

[2015-11-07 16:04] #1181 closed, assigned to nobody

[2015-11-07 16:25] alvations commented on #109
Updates on Roget Corpus at #1187

[2015-11-08 23:32] alvations opened #1196 "Wordnet _morphy handling of exception words"
Wordnet lemmatizer that depends on `nltk.corpus.wordnet._morphy()` doesn't handle exception words as expected,

[code]

Even though these are irregular words are already in the Princeton exception list. It seems like `_moprhy()` was adding more options rather than immediately return the lemma of the exception words, e.g.:

[code]

Possibly adding this before the rest of code in the `_morphy()` fun

[2015-11-09 00:49] nschneid commented on #1196
I believe this is not technically a bug because WordNet has [saw](http://www.golovchenko.org/cgi-bin/wnsearch?q=saw) and [teeth](http://www.golovchenko.org/cgi-bin/wnsearch?q=teeth) as lemmas. "Saw" is certainly ambiguous. The problem is that WordNet's POS inventory doesn't distinguish inflectional categories like tense and number.

It might be worth having a `lemmatize()` function that wraps `_mo

[2015-11-09 07:26] alvations commented on #1196
@nschneid thanks for the wordnet links to the lemmas. That makes more sense why the `_morphy()` would generate beyond the exception list. Look at [teeth in other languages](http://compling.hss.ntu.edu.sg/omw/cgi-bin/wn-gridx.cgi?usrname=&gridmode=grid&synset=05282433-n&lang=eng&lang2=eng) makes more sense when it refers to dentures.

[2015-11-09 07:26] #1196 closed, assigned to nobody

[2015-11-10 01:03] stevenbird commented on #1194
Thanks @alvations

[2015-11-10 01:03] #1194 closed, assigned to nobody

[2015-11-10 03:01] mrecachinas commented on #1166
I'm currently working on ensuring the `util.Trie` I've adapted from `sem.logic.StringTrie` maintains compatability with both `sem.logic.LogicParser.process` and `tokenize.mwe.MWETokenizer.add_mwe`.

[2015-11-10 06:34] stevenbird commented on #1166
+1

[2015-11-10 13:31] alexisdimi opened #1201 "OS X: interactive downloader handles "natural" scrolling option backwards"
On OS X, there is a system-wide setting (System Preferences > Trackpad > Scroll and Zoom > Scroll direction: natural) that controls the way scrolling works. "Natural" (the default, I believe) is pinch-like: when the pointer moves down, the text "scrolls up", i.e., the viewport moves toward the start of the content. When "natural" scrolling is disabled, text moves in the opposite direction (in the

[2015-11-10 14:32] erip commented on #50
What's the status of this issue? Should it be closed?

[2015-11-10 15:21] erip commented on #815
Note: anywhere you use `__future__.division`, you'll need to convert the existing integer division to `//`. Fret not, this also works in python 2. This should be the first step in the refactor.

Alternatively you could cast the quotient to `int`, but I think this is less idiomatic.

[2015-11-10 17:19] ewan-klein commented on #50
It looks to me as though @justinhammar's https://github.com/nltk/nltk/commit/a9fa3e3cbd83ea77eb8958f0a749970e0d82b4ab only addresses two instances of the issue, i.e. docstrings for WordNet and Verbnet readers. Are there other corpus readers still lacking docstrings?

[2015-11-10 17:29] stevenbird commented on #50
Right, this is a more general issue. Things would be significantly better if help(c) caused corpus c to be loaded. (To see why, do: `from nltk.corpus import c; help(c); c.method(); help(c)`)

[2015-11-10 17:48] stevenbird commented on #815
Good point, thanks @erip.

[2015-11-10 20:20] zeeraktalat commented on #367
Just checking in for an update. I can see some issues have been closed but just want to make sure it's still far from being usable?

[2015-11-11 03:14] hoontw commented on #367
@ZeerakW Unfortunately, there has been little progress in ngram models, and no one has committed to tackle this yet.

[2015-11-11 10:30] mhjabreel commented on #1184
Tanks for your information @alvations, I have made some trace for this and I notice that this tow sysnsests come from the exception file "nouns.exc", as I have checked the WordNet::QueryData code also i guess there is a condition to check the exception files or not when they trying to get the forms.

sub _forms#
{
    # Assume that word is canonicalized, pos is number
    my ($self, $word, $pos) =

[2015-11-11 17:08] stevenbird opened #1203 "Multext reader returns map object"
The `tagged_sents` and `tagged_words` methods should return a sequence type not a map object.

[code]

[2015-11-11 17:09] stevenbird commented on #1203
@stieglma: would you please look into this?

[2015-11-11 17:12] stevenbird opened #1204 "Zipfile corpus reader breaks in Python 3.5"
The zipfile corpus reader breaks in Python 3.5.

[code]

[2015-11-11 18:25] stieglma commented on #1203
This seems to be a problem with Python 3. It can easily be fixed by wrapping the return value of the mentioned functions in `list(...)`. This is also what I would do. But I have a question on this: When executing the tagged_words() function on the brown corpus it only shows the first two elements and not the whole list. With the multext-east reader it will always print the whole list. I couldn't f

[2015-11-11 21:07] nschneid commented on #1203
@stieglma, that's done with the lazy sequence API in http://www.nltk.org/api/nltk.html#module-nltk.util. I think lazy loading should be preferred except for very small corpora.

[2015-11-13 12:41] jerrygaoLondon opened #1206 "bug in RegexpTokenizer when upgrading to 3.1"
In NLTK 3.1 (in python 3.4), i cannot run regexpTokenizer with a verbose regex epxression correctly.

A typical pattern is like:

[code]

An example of code snippets:

[code]

In NLTK 3.0, it can output the following result:

[code]

However, in NLTK 3.1, the output is as follows:

[code]

What am i doing wrong ? Is this a potential bug ?

Thanks,

[2015-11-13 15:53] alvations commented on #1206
I'm not sure why your regex works in `NLTK v3.0` (possibly, it's something to do with how regexes were compiled previously using `nltk.internals.compile_regexp_to_noncapturing()` that is abolished in v3.1, see [here](https://github.com/nltk/nltk/blob/0b46f70c097126401ea43d85605e87385581c1d6/nltk/tokenize/regexp.py#L119))

[code]

But it doesn't work in `NLTK v3.1`:

[code]

With slight modificatio

[2015-11-13 17:13] jerrygaoLondon commented on #1206
Thanks for your answer. You're right!

[2015-11-13 17:13] #1206 closed, assigned to nobody

[2015-11-14 02:44] hoontw commented on #1206
Support for capturing groups was dropped for RegexpTokenizer recently. Use non-capturing groups instead as @alvations suggested.

[2015-11-19 06:32] ened commented on #1025
This issue prevents tests in project scancode from being executed successfully on OS X. Anyone got a fix in sight?

[2015-11-19 07:58] pombredanne commented on #1025
@ened are you sure? ScanCode runs Travis on Mac and Linux and all tests pass alright: https://travis-ci.org/nexB/scancode-toolkit
This is why https://github.com/nexB/scancode-toolkit/tree/7b264410bc43133046c9fadf35636d085d72b78b/thirdparty/prod contains a vendored copy of NTLK 2.x ....
I will eventually upgrade NLTK to v3 in ScanCode at some time, and submit some patch upstream here then. It is tr

[2015-11-19 07:59] pombredanne commented on #1025
I wrote

I guess I dropped the ball there... ;)

[2015-11-19 08:02] pombredanne commented on #1025
About the MAXCACHE discussion above, FWIW I use it in scancode here: https://github.com/nexB/scancode-toolkit/blob/d48f396efdd8df44758014866e6b92653f902003/src/commoncode/__init__.py#L26

[2015-11-20 15:15] alvations commented on #1070
@jnothman Going back to the Nully check on https://github.com/nltk/nltk/blob/develop/nltk/util.py#L560 of the skipgram implementation (spillover issue from #1179), do you have any suggestion of how we can resolve it?

Should I instead use `ngrams(sequence, n + k, pad_right=True, right_pad_symbol='<EOSG>')` on [line 556](https://github.com/nltk/nltk/blob/develop/nltk/util.py#L556) and then do a che

[2015-11-21 15:18] stieglma commented on #1203
I created the pull request quite a while ago, did you just forget to merge it, or is something wrong with it?

[2015-11-21 16:17] stevenbird commented on #1203
Thanks @stieglma! I'm getting to it...

[2015-11-21 18:54] arranger1044 opened #1209 "Integer division issue in python 3 for texttiling"
When computing the clip index under python 3, when calling the `tokenize` method of a `TextTilingTokenizer`, I receive the sequent error:

[code]

From what I can see from the source code it may happen that the clip index is indeed a floating point and not an integer:

[code]

Can someone confirm this?

[2015-11-21 21:31] jnothman commented on #1070
Best way to construct an arbitrary (but not pickleable) sentinel in Python
is `SENTINEL = object()`. And with apologies: I won't be regularly watching
github threads for the next little while.

On 21 November 2015 at 02:15, alvations notifications@github.com wrote:

[2015-11-22 09:34] ened commented on #1025
@pombredanne Not sure, but that message is popping up once I install scan code using easy_install etc from the repository. Will double check and report there..

[2015-11-23 10:57] jeryini opened #1210 "Sentence tokenizer not splitting correctly"
I think there is a bug in standard sentence tokenizer `sent_tokenize`. The problem is, that it is not splitting text into sentences under certain case. Here is this case, where the tokenizer fails to split text into two sentences:

[code]

This returns `['Model wears size S. Fits size.']`, instead of `['Model wears size S.', 'Fits size.']`. The problem seems to appear, when the last string before

[2015-11-23 11:04] kmike commented on #1210
This looks very hard to fix in sentence tokenizer if you consider that S. Fits may be a first and a last name of a person.

[2015-11-23 11:10] kmike commented on #1210
I think the way to go is to subclass or copy-paste default NLTK sentence tokenizer and modify it to fit your application. E.g. if you don't expect such person names in text then remove rules which handle person names. Another option is to use a workaround like replacing `size <X>` with `size_<X>` before tokenization and replacing them back again after text is split into sentences.

[2015-11-23 11:52] jeryini commented on #1210
Hmmm. Just tried again. So the first case that I presented is not splitting correctly. But if I use different characters then it **sometimes** splits! That is why I wrote this quick test:

[code]

Output:

[code]

@kmike, as you can see it is very inconsistent.

[2015-11-23 12:29] alvations commented on #1210
@JernejJerin It's not a rule-based tokenizer so it wouldn't be able to control/explain the "rules" of splitting using regex-like explanation.

The algorithm used to train the `sent_tokenizer` is [Kiss and Strunk (2006) punkt algorithm](http://old.linguistics.rub.de/~strunk/ks2005FINAL.pdf). It is a statistical system that tries to learn sentence boundary so it's not perfect but it's consistent wit

[2015-11-24 08:40] ened commented on #1025
@pombredanne turns out to be environment / usage problem. All fine now. Thanks!

[2015-11-25 15:37] Newtonvolt opened #1211 "Stanford parser unicodeDecodeError on phone numbers"
Python 3.4.3 windows 7
The stanford parser (3.5.2) will replace spaces with 0xa0 (which I guess is unicode non-breaking space), in the event of a phone number appearing. The stanford nltk module will not handle this well, and will crash with a UnicodeDecodeError.

To reproduce:

[code]

result:

[code]

[2015-11-25 16:50] stevenbird commented on #1211
Thanks @Newtonvolt

[2015-11-30 06:44] longdt219 commented on #1211
Hi @Newtonvolt  and @stevenbird,
This bug is caused by non-break char inserted between numbers. I added the code to remove this char. Tested on windows.

[2015-11-30 14:21] alvations commented on #1211
From previous experiences, there will be a lot more noise coming your way other than `0xa0`, one solution that was used in [NTU - Multilingual Corpus](http://web.mysites.ntu.edu.sg/fcbond/open/pubs/2012-ijalp-ntumc.pdf), [SeedLing Corpus](http://www.aclweb.org/anthology/W/W14/W14-2211.pdf) and [DSL Corpus Collection](https://comparable.limsi.fr/bucc2014/4.pdf) is to use a function to replace all c

[2015-11-30 14:35] alvations commented on #311
Closing this because MaltParser API has been revamped and should be stable now, see #943 and  #944

[2015-11-30 14:35] #311 closed, assigned to nobody

[2015-11-30 14:40] alvations commented on #147
Closing this because it seems like `MaltEval` is an orphaned project and it [cannot be found even on wayback machine](http://web.archive.org/web/*/http://w3.msi.vxu.se/users/jni/malteval). I would love to visualize it dependencies and see how `MaltEval` works too but now I think there're [`brat`](http://brat.nlplab.org/) that can do the same job #668  =(

[2015-11-30 14:40] #147 closed, assigned to nobody

[2015-11-30 14:43] alvations commented on #102
Bumping this issue up, align/translate has gone through quite some changes. Wrapping modern day word alignments would totally help in improving NLTK usage in Machine Translation.

[2015-11-30 14:50] alvations commented on #747
@PanderMusubi , Cool, now `sudo apt-get python-nltk` get NLTK v3.1!

[2015-11-30 14:50] #747 closed, assigned to nobody

[2015-11-30 14:58] stevenbird commented on #747
Thanks @PanderMusubi

[2015-11-30 15:18] alvations commented on #742
It's not exactly a bug but a feature. But yeah, it gets annoying if words like `lest` are tagged as adjective and morphy / lemmatizer just stems the `-est` out. Here's an extreme case:

[code]

But words in the exception list would not get the same treatment:

[code]

Typically non-content words should not go through `wn.morphy` or `nltk.stem.WordNetLemmatizer.lemmatize`. These function should onl

[2015-11-30 16:17] nschneid opened #1214 "Incorporate more accurate sentence-splitter, tokenizer, and/or lemmatizer for English?"
Among open issues, we have (not an exhaustive list):
- #135 complains about the sentence tokenizer
- #1210, #948 complain about word tokenizer behavior
- #78 asks for the tokenizer to provide offsets to the original string
- #742 raises some of the foibles of the WordNet lemmatizer. #1196 discusses some counterintuitive behavior and how it might be fixed if POS tags with tense and number were prov

[2015-11-30 16:43] alvations commented on #1214
+1 @nschneid Most of Rebecca's work is in HPSG which I would love to integrate into NLTK but it's a tough nut. @goodmami, @fcbond and the DELPH-IN group has done quite some work with https://github.com/delph-in/pydelphin

Possibly a python wrapper to [Repp](http://moin.delph-in.net/ReppTop) might be worth the code =)

[2015-11-30 17:11] nschneid commented on #1214
There's [one on word tokenization](http://anthology.aclweb.org/P/P12/P12-2.pdf#page=406), and [this](http://www.anthology.aclweb.org/C/C12/C12-2.pdf#page=999) and [this](https://www.scm.tees.ac.uk/users/j.read/publications/ReaDriOep13.pdf) on sentence splitting.

Looking at citing papers, I see [this](http://cs.unb.ca/~ccook1/ijcnlp2013-socmed.pdf) and [this](http://link.springer.com/chapter/10.10

[2015-12-02 10:38] alvations opened #1216 "Adding a DependencyGraph.fromjson() function"
@dimazest Is it possible to added a `fromjson()` function to the [`DependencyGraph`](https://github.com/nltk/nltk/blob/develop/nltk/parse/dependencygraph.py#L34) object?

It would be something like what you've did with the `transform()` function from http://www.eecs.qmul.ac.uk/~dm303/stanford-dependency-parser-nltk-and-anaconda.html

[code]

But I'm not sure whether have `self = DependencyGraph` w

[2015-12-02 11:09] alvations commented on #1214
@nschneid after some trawling on the REPP code, there're quite a lot of LISP rules written in separate file. Maybe the first thing we could try is to organize all of them into a single text file and then write a wrapper to read these rules. Or possibly just wrapping the whole tool itself might be easier like what we did with `nltk.tag.stanford`:

[code]

Possibly there are constraints up the tool

[2015-12-02 14:59] jdejoode opened #1217 "Is there a built-in TokenMerger?"
I am using `from ntlk import word_tokenize`. If I'm correct this uses the treebank tokenizer. This results in a lists of tokens. Is there a built-in tokenmerger for these tokens, e.g. if I want to go from a list of tokens to the original text (possible after some list operations), is that possible?

For a comparable idea, cf. https://github.com/cheshire3/cheshire3/blob/develop/cheshire3/tokenMerge

[2015-12-02 18:52] nschneid commented on #1217
Can you give a simple example of the desired behavior? (Would it allow for modification of tokens in the list?) It's not immediately clear to me what the linked code does.

[2015-12-02 19:14] goodmami commented on #1214
@alvations I don't think we would gain much by using a full parser like [ACE](http://sweaglesw.org/linguistics/ace/) just for tokenization, unless you also want morphological analysis, or pronoun detection, or quantifier scope, or something else. I don't think it would be all that difficult to implement a REPP tokenizer in [pyDelphin](https://github.com/delph-in/pydelphin) that doesn't require the

[2015-12-02 20:17] jnothman commented on #1217
Untokenising like this isn't something you should plan to do in the first
instance. Instead, you need to maintain the tokenisation as standoff
annotations.

On 3 December 2015 at 05:52, nschneid notifications@github.com wrote:

[2015-12-02 23:44] stevenbird commented on #1217
NB #1190

[2015-12-03 04:15] cbg commented on #66
I would like to get started on implementing this iterator. Is the solution described in [this comment](https://github.com/nltk/nltk/issues/728#issuecomment-52033085) still the preferred direction in which you all want to take this API? cc @stevenbird

[2015-12-03 06:09] stevenbird opened #1218 "Translation metrics in Python 2.7"
The [CI Server](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py27-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/) reports test failures for  `nltk.translate.ribes_score.kendall_tau` and `nltk.translate.ribes_score.spearman_rho`.

[2015-12-03 06:09] stevenbird commented on #1218
@alvations – would you mind taking a look please?

[2015-12-03 06:12] stevenbird commented on #1166
@mrecachinas – our [CI Server](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py34-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/) reports test failures that involve the new Trie object:

[code]

Would you be able to track down the problem and submit a new PR please?

[2015-12-03 06:15] mrecachinas commented on #1166
Very odd. I'll check it out.

[2015-12-03 06:48] mrecachinas commented on #1166
@stevenbird -- In Python 3, `dict.iteritems` was removed because `dict.items` has optimized what `iteritems` had done and now returns a `memoryview` (an iterator that does much more).

There are a few different ways to fix this that will ensure compatibility between 2 and 3:
- Add an `iteritems` method to `Trie` that will simply `return self.items()`.
  - Downside: Performance hit in Python2 becau

[2015-12-03 10:35] alvations commented on #1218
@stevenbird sorry about it, I miss the `from __future__ import division`.

[2015-12-03 11:35] #1218 closed, assigned to nobody

[2015-12-03 11:36] stevenbird commented on #1218
Thanks @alvations

[2015-12-03 12:47] jdejoode commented on #1217
Thanks for getting back to me. In terms of desired behavior, I was thinking something along the lines of the following pseudocode:

[code]

So essentially the goal of the tokenmerger would be to track where the spaces are so that tokens can easily be merged again (if the list length is identical) after making changes. This is useful when doing classification tasks. Maybe it would be easier to have

[2015-12-03 13:42] nschneid commented on #1217
If the tokenizer returned offsets into the original string, then for each
position between consecutive tokens you could check whether the original
string contains a space. Would that be sufficient?

On Thu, Dec 3, 2015, 12:47 PM J. de Joode notifications@github.com wrote:

[2015-12-03 13:58] jnothman commented on #1217
(FWIW, I have written such code before where the original untokenised text was not available, for PTB-style quotes:

[code]

)

[2015-12-03 14:28] nschneid commented on #1217
So there are two possible strategies:
1. Restore whitespace from a pretokenized string. I think this can be done easily if the tokenizer provides offsets (#1190). Not sure if it deserves a special function.
2. Define rules for where spaces should go based on the orthographic conventions of the language (@jnothman's code for English). Useful, for example, if the English tokenized sequence is being

[2015-12-03 16:44] alvations commented on #1217
@nschneid @jnothman Stanford NLP has [one](http://nlp.stanford.edu/nlp/javadoc/javanlp/edu/stanford/nlp/process/PTBTokenizer.html) and Moses tokenizer has [several too](https://github.com/moses-smt/mosesdecoder/blob/master/scripts/tokenizer/detokenizer.perl).

A quick hack is to add `-untok` parameter to NLTK's  Stanford tokenizer API at https://github.com/nltk/nltk/blob/develop/nltk/tokenize/stan

[2015-12-05 21:19] stevenbird commented on #1203
Thanks @stieglma

[2015-12-05 21:19] #1203 closed, assigned to nobody

[2015-12-07 12:01] dimazest commented on #1216
That's a great idea.

`fromjson()` can be a static method.

[2015-12-07 13:01] rjwebb commented on #1209
The result of division of two ints under Python 3 is always a float. So depending on the value of `len(scores)`, clip can be either a float or an int... This particular part of the source was written back in 2010 (https://github.com/nltk/nltk/commit/9f4243a633917b36689b2305779e377ef91ec29e), so I assume it was written with Python 2 in mind (where the result of integer division was rounded down).

[2015-12-08 00:03] alvations commented on #994
Recently, `scikit-learn` has steered people away from `pip` and trust on the distro's package manager or `conda`: http://scikit-learn.org/stable/install.html.

Possibly adding a conda install instructions to http://www.nltk.org/install.html might be save users some time, e.g. http://nlpworkgroup.postach.io/post/install-miniconda-python-for-nltk-on-windows , especially for windows users.

[2015-12-08 14:57] dimazest commented on #994
@alvations good point regarding `conda`. It's probably the most robust way of getting a working scientific python environment.

[2015-12-09 11:46] josti92 opened #1227 "NLTK sentiment analysis returns only positive classifications"
# Python script

import nltk
import csv

FBdata = None
with open('Classified.csv' ,'rb') as f:
    reader = csv.reader(f)
    FBdata = map(tuple, reader)

with open('Classified2.csv' ,'rb') as f:
    reader = csv.reader(f)
    Negative = map(tuple, reader)

import random
random.shuffle(FBdata)
Negativedata = Negative

newFBdata = []  #sorting data
for row in FBdata:
    statement = row[0]
    sent

[2015-12-09 12:12] ewan-klein commented on #1227
@fievelk Would you have time to have a look at this?

[2015-12-09 18:24] ewan-klein opened #1228 "vader_lexicon.txt currently not being included in Python egg"
At present, the text file `vader_lexicon.txt` doesn't get included in the Python egg built by NLTK's `setup.py`. Making the following change seems to fix the problem:

[code]

Is there a better way of dealing with this?

NB The very specific information inside `vader_lexicon.txt` means that it's not likely to be used by any code other than `vader.py`, which is why it doesn't make a lot of sense to

[2015-12-09 19:06] stevenbird commented on #1228
Seems ok to me.

[2015-12-10 09:53] fievelk commented on #1227
Sure, I will check it

[2015-12-10 11:37] fievelk commented on #1227
@josti92 I think I found the online tutorial you are using for your task; since I do not have your data, I cannot replicate your results. However, it seems that you only changed the datasets (**FBdata** and **Negative**), so the issue is probably there. You are supposed to train the classifier on both positive and negative labeled examples; testing on **Negativedata** instances is then supposed to

[2015-12-10 11:54] #1228 closed, assigned to nobody

[2015-12-11 11:15] andrewtremblay commented on #59
Is there any development on this? As far as I can see the only third party support available inside nltk.download is through editing the server index.

[2015-12-11 15:29] stevenbird commented on #59
@andrewtremblay – this functionality is now supported in NLTK (and exemplified in the panlex_lite corpus). Simply add a `url` attribute to the XML file that describes a corpus, e.g.

[code]

It needs to point to a zipfile `corpus.zip` which unzips to a single directory `corpus/*`

[2015-12-11 15:29] #59 closed, assigned to nobody

[2015-12-12 02:51] mgabilo opened #1230 "WordNet verb synset missing hyponym"
In WordNet 3.0, the 4th sense of the verb "suppress" has two hyponyms:

Sense 4
suppress, repress
       => swallow
       => inhibit, bottle up, suppress

However, synset suppress.v.04 in NLTK WordNet only has one hyponym (swallow).

The problem does not appear with hypernyms:

[2015-12-12 03:19] mgabilo commented on #1230
Also, I'm not sure if this is related. It probably isn't, but, the data.verb in NLTK differs from the data.verb in the stock WN 3.0 installation by a single line, and it's related to the verb "suppress".

[code]

But this appears to be a different sense. I also tried overwriting the NLTK WN files with the stock WN files, but it made no difference to the bug above.

[2015-12-12 10:26] josti92 commented on #1227
Thank you for your reply! I figured it out, I had to redo the cleaning of my data.

Best regards,
Øystein Løken

From: Pierpaolo Pantone [mailto:notifications@github.com]
Sent: 10. desember 2015 12:38
To: nltk/nltk nltk@noreply.github.com
Cc: josti92 loken.oystein@gmail.com
Subject: Re: [nltk] NLTK sentiment analysis returns only positive classifications (#1227)

@josti92 https://github.com/josti9

[2015-12-12 10:37] jdejoode commented on #1217
@nschneid Yes, it would work with offsets. It might be a bit cumbersome, but useful for texts that do not fit in memory.

For texts that do fit in memory, I found the following. I guess this would work with a RegexTokenizer?:

[code]

This does add `''` empty strings somehow. Not sure why.

Detokenizing is then as easy as:

[code]

[2015-12-12 10:51] ewan-klein commented on #1227
Thanks, @fievelk.

[2015-12-12 10:51] #1227 closed, assigned to nobody

[2015-12-12 11:03] jdejoode commented on #1217
@jnothman What is the purpose of the snippet you posted?

[2015-12-14 04:29] goodrahstar opened #1232 "StanfordParser method error"
Hello Team,
 I am trying to initialise the Stanford parser but getting error on this line.

parser = stanford.StanfordParser(model_path="C:/Rahul/englishPCFG.ser.gz")

Traceback (most recent call last):

  File "<ipython-input-41-f65e460c7c4d>", line 1, in <module>
    parser = stanford.StanfordParser(model_path="C:/Rahul/englishPCFG.ser.gz")

  File "C:\WinPython-64bit-3.4.3.5\python-3.4.3.amd64\

[2015-12-14 05:03] alvations commented on #1232
The `StanfordParser()` no longer use the direct path to the model tarball because of how the new Stanford Parser is packaged.

After setting up your python variables as per the instructions on https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software#stanford-tagger-ner-tokenizer-and-parser, you should be able to do the following:

[code]

Also, please update your NLTK to version 3.1 and a

[2015-12-14 05:11] alvations commented on #1070
#1212 should be the stable version of the skipgram. Thanks @jnothman for advices/suggestions and code and thanks @stevenbird for the code reviews.

[2015-12-14 05:11] #1070 closed, assigned to nobody

[2015-12-14 05:34] goodrahstar commented on #1232
Thanks @alvations .. updating NLTK version resolved the issue.

[2015-12-14 05:34] #1232 closed, assigned to nobody

[2015-12-21 19:40] alvations opened #1237 "Automatically adding classpath for Stanford Tools"
The [new Stanford NER tool](http://nlp.stanford.edu/software/stanford-ner-2015-12-09.zip) and [parser](http://nlp.stanford.edu/software/lex-parser.shtml) requires more `.jar` files to be added to the classpath. Possibly, it's easier to modify the `nltk.tag.stanford`  to do something like what
- `nltk.parse.malt` is doing with the dependencies check using `find_jar_within_paths`  (e.g. https://gith

[2015-12-22 03:12] ghost commented on #179
As of May 10 2012 - a few months after this issue was filed - the [NLTK Data](https://github.com/nltk/nltk_data/tree/gh-pages) GitHub repository was created, separating this sort of concern from the NLTK GitHub repository. Can this issue report be migrated to the [NLTK Data bug tracker](https://github.com/nltk/nltk_data/issues), or at least closed here as invalid?

I appreciate the historical reas

[2015-12-22 10:19] pembeci commented on #901
May be I can help with porting but couldn't find documentation on how this can be done. I am checking the .sbl file but it seems like it is using some other techniques compared to other nltk Stemmers (i.e. nowhere I can find the r1, r2 indices or how they are progressed).

[2015-12-22 12:21] alvations commented on #1216
Moving on with this issue assuming this input:

[code]

Should there be a function for `stanfordjson2conll(json_sentence)` (one parse) and then iterate through the big json for `u'sentences'` from stanford's output for multiple parses?

Or should there be a stanfordjson2conll(json_sentences)` (multiple parse)?

[2015-12-22 13:15] alvations commented on #1216
@dimazest I'm getting a 3-tuple instead of a 5-tuple from `sentence['dependencies']`. Do you know whether this is a product of difference in Stanford CoreNLP version or python wrapper? I'm using this https://github.com/dasmith/stanford-corenlp-python instead of conda's distribution with `stanford-corenlp-full-2014-08-27`

[2015-12-22 15:55] he7d3r commented on #901
I don't know if this helps (maybe you already found this) but there is a description of the algorithm at
http://snowball.tartarus.org/algorithms/turkish/stemmer.html
(or more precisely, on this [accompanying_paper.doc](http://snowball.tartarus.org/algorithms/turkish/accompanying_paper.doc))

[2015-12-23 08:51] dimazest commented on #1216
I guess that stanford-corenlp-full-2014-08-27 which is Version 3.4.1 is too old. I used their new neural-network dep. parser (Version 3.5.0).

It also might be because of the wrapper difference. The 2 additional elements in the tuple are node indices.

[2015-12-23 12:59] pembeci commented on #901
Thanks @he7d3r. I found that but I wasn't sure how to translate that into nltk. I guess I need to check an existing snowball stemmer and its corresponding nltk code to understand what is going on. I was asking for that kind of documentation but I don't think it exists yet.

[2015-12-24 17:19] alvations commented on #1237
Given the new corenlp v3.6, maybe that's the way to go wrap around the JSON output: https://github.com/smilli/py-corenlp and something like https://github.com/alvations/nltk/blob/stanfordnlp/nltk/parse/dependencygraph.py#L636

That way we don't have to play catch up with Stanford NLP tools all the time and say that we only support tagger/parsers/tools versions from corenlp

[2015-12-24 23:10] stevenbird commented on #179
Thanks @sampablokuper. This issue is not valid. Please see https://github.com/nltk/nltk_data/issues/18.

[2015-12-24 23:10] #179 closed, assigned to stevenbird

[2015-12-25 10:21] yuvval opened #1239 "OSError: Java command failed when using stanford parser example"
Hi,

I am trying to run the stanford parser example. E.g.

[code]

executing the last command results with an error:

[code]

when I reproduce the same command on the command line, I get the error `Exception in thread "main" java.lang.NoClassDefFoundError: org/slf4j/LoggerFactory`

Therefore, after adding `slf4j-api.jar` to the classpath _on the commandline_, parsing is successful.

How can `slf4j

[2015-12-25 11:54] alvations commented on #1239
@yuvval Just to be sure are you using Stanford Parser version 2015-12-09? If so, this error occurs because of the new StanfordNLP using more dependencies than before. This is similar to #1237

You would have to wait for a while before #1237 is fixed and NLTK catches up with Standford tools.

The quick fix solution is to either:
1. use the previous version 2015-04-20 from http://nlp.stanford.edu/so

[2015-12-25 20:13] yuvval commented on #1239
Thank you! It works with the 2015-04-20 version.

[2015-12-25 20:13] #1239 closed, assigned to nobody

[2015-12-25 20:24] alvations commented on #1239
Did the classpath hack also work?

[2015-12-25 21:21] yuvval commented on #1239
I didn't try - I just deleted the latest version and downloaded the 2015-04-20 version.

[2015-12-25 21:35] alvations commented on #1237
@stanfordnlp Any thoughts on whether third-party wrappers to Stanford tools should wrap the individual tools or the Stanford CoreNLP? If we're wrapping Stanford CoreNLP, what's an easy way to specify language or a specific model for a specific task to the server query?

[2015-12-31 11:57] alvations commented on #1214
@nschneid for now, the simplest solution seems to be wrapping REPP and reading the output files like other third party tools in NLTK. It seems simple enough and there are several implementations. I'm not sure which one to choose given the variety of solutions: http://stackoverflow.com/questions/34416365/unpacking-tuple-like-textfile

**Which implementation should we use to wrap REPP in NLTK?**

@g

[2015-12-31 13:52] nschneid commented on #1214
I have no particular objection to REPP, but it may be worth exploring other tools that are out there.

For example, https://github.com/armatthews/TokenizeAnything is written in Python and claims to do something reasonable for most languages. (It's a fairly young implementation, but is based on https://github.com/redpony/cdec/blob/master/corpus/tokenize-anything.sh, which has been around for awhile

[2015-12-31 13:54] nschneid commented on #1214
Another question more broadly is what options/functionality we want the tokenizer to support. E.g., I think it would be useful to have:
- an option to separate clitics like "'s" and "n't" or not in English (`--no_english_apos` in TokenizeAnything)
- offsets back into the original string

[2015-12-31 14:14] alvations commented on #1214
+1 for TokenizeAnything. There's also https://github.com/jonsafari/tok-tok from @jonsafari.

[2016-01-01 20:58] alvations opened #1241 "Bug in summation of modified precision in BLEU scores"
It seems like we overlooked this problem with BLEU scores where the summation of BLEU gives `ValueError` because of `log(0)`: http://stackoverflow.com/questions/34557078/why-nltk-align-bleu-score-bleu-gives-an-error

[2016-01-02 00:26] Khutuck commented on #1024
I've encountered the same problem in Windows 7. My path is as "C.\Users\Fırt" (ı has no dot, Turkish letter), and i was getting this:

[code]

I've tried this solution, and "import nltk" worked: http://stackoverflow.com/questions/31700152/i-can-not-import-nltk-in-python-in-windows7 (But this solution also caused soo may other problems, so it's not very useful).

[2016-01-02 11:27] dryleaf commented on #367
Entering 2016 and the 'ngram model' issue has not had any advances.

[2016-01-03 19:23] RichardLitt opened #1244 "Change link in repository description"
The current description for this repository says: "NLTK Source http://nltk.github.com/". However, that link provides a 301, and redirects to http://www.nltk.org/. The link should be changed to http://www.nltk.org/.

[2016-01-03 19:58] stevenbird commented on #1244
Fixed, thanks @RichardLitt

[2016-01-03 19:58] #1244 closed, assigned to nobody

[2016-01-03 20:06] RichardLitt commented on #1244
No problem. Thanks.

[2016-01-04 04:44] stevenbird commented on #1130
Thanks @mrecachinas and @kmike for https://github.com/nltk/nltk/pull/1223. It looks like we have a model that can be applied across the toolkit now.

[2016-01-04 10:30] vishnumani2009 commented on #1019
Steven,
Regarding support for temporal tagger.
Would extension of StanfordTagger class similar to earlier written StanfordNERTagger and StanfordPOSTagger with reimplimentation of _cmd property and parse_output suffice?

[2016-01-04 18:52] eugenet12 commented on #1062
Any updates on this? Not a huge issue, but would be really convenient if updated to fix this so other people don't have to spend time debugging this as well!

[2016-01-04 19:27] aewhatley opened #1246 "Add "ll" to nltk.corpus.stopwords.word("english")"
I think that "ll" should be added to this corpus, as "s" and "t" are already there, and when sentences with contractions such as "they'll" or "you'll" are tokenized, "ll" will be added as a token, and if we filter out stopwords, "ll" should be removed as well.

[2016-01-07 21:55] cschwem2er commented on #1239
Hi! I tried to follow your hack but for me there is no `StanfordDependencyParser``:

[code]

Any idea how to solve this? I would really like to use the latest stanford version.

[2016-01-08 01:56] alvations commented on #1239
@methodds Pardon my typo, it's `from nltk.parse.stanford import StanfordDependencyParser`. Please see https://gist.github.com/alvations/e1df0ba227e542955a8a for detailed explanations.

[2016-01-08 09:58] cschwem2er commented on #1239
Thank you for the link. Unfortunately, I can't get the environment variables to work on my linux mint os.

My `bashrc` looks like this:

[code]

Echoing the variables looks right:

[code]

However (even after rebooting) NLTK still does not find  the tagger:

[code]

[2016-01-08 11:34] alvations commented on #1239
Do `source .bashrc` and it will work meanwhile take a look at http://apple.stackexchange.com/questions/12993/why-doesnt-bashrc-run-automatically to learn how bashrc works.

[2016-01-08 13:10] cschwem2er commented on #1239
Thank you for your tip, but I did source .bashrc beforehand and it did not work. I tried it again and unfortunately it's still not working.

[2016-01-08 13:28] alvations commented on #1239
What is your Linux distribution and version? Can you do a `lsb_release -a`? Or are you working with a Mac?

[2016-01-08 13:29] cschwem2er commented on #1239
Thank you for investigating. ``lsb_release -a` returns

[code]

[2016-01-08 13:31] alvations commented on #1239
- Where did you do the `export` commands? Which directory?
-  Where are you running your python scripts? Which directory?

Go to the place where you want to run your python script, do this: `import os; print os.environ`.

Then go to your home directory, start python and do the same:  `import os; print os.environ`

Do you see the 2 sets of environment variables differ?

[2016-01-08 13:40] cschwem2er commented on #1239
I guess you wanted me to use `import os; print(os.environ)`, which did not reveal the environment variables that I exported in `.bashrc`. After that I copy pasted the content into `.profile` (in my home folder) and now it works perfectly. I have no idea why though =D.

[2016-01-08 13:43] alvations commented on #1239
Glad that `.profile` works, i think it's a OS distro issue. I would not recommend to store the environment variables as static, personally, I rerun them everytime I start my python scripts, so that I can sure that there's no conflict. Have fun with the NLTK API and Stanford tools!

[2016-01-08 13:44] cschwem2er commented on #1239
Thank you :)

[2016-01-08 19:25] DuyguA opened #1248 "Turkish language extension"
Hello all,
I'm a Turkish NLP developer and I'd like to add Turkish language libraries including a morphological analyzer and a parser. Would anyone be interested?

[2016-01-08 21:49] DuyguA commented on #1246
I agree as well.

[2016-01-09 16:24] erip commented on #1166
Any status on this? @stevenbird

[2016-01-12 20:19] iliakur commented on #1166
This is coming a little bit out of left field, but would it be worth considering using @kmike's [DaTrie Implementation](https://github.com/kmike/datrie) for its speed? Or is it a problem to have such an external dependency?

[2016-01-12 20:24] mrecachinas commented on #1166
+1 @Copper-Head This is a good question. I'd be curious about it too. cc @stevenbird @kmike

[2016-01-12 20:33] alvations commented on #1166
+1 for @kmike's Trie dependency.

[2016-01-13 02:16] Korred commented on #1211
Hi @longdt219,
unfortunately this "fix" leads to another issue on python 2.7.10 .. please see below:

[code]

Used the example as provided by @Newtonvolt
Issue occured after adding your two lines:

[code]

Edit:

Replaced `b' '` with `b'_'` just for testing... and it magically works now.. Any clue why?

[2016-01-13 10:30] octavian-ganea opened #1250 "Tokenization error"
There is an error of processing dots in the tokenizer:
The following code

[code]

gives "performed.Parameters" as an word. If I put a space after 'performed' it will work, but still, natural text can be messy and omitting spaces after punctuation is very common.

[2016-01-13 17:16] olsgaard opened #1251 "corpus.reader.knbc misreads annotation for 33 words"
When using the corpus reader for the KNB Corpus, tags are misread / displayed wrongly for 33 words.

`nltk.corpus.reader.knbc.tagged_words()` returns a list of touples in the following form:

[code]

(note that this is a different form than what the comments in the code document, on line 39, 40, 41 in  knbc.py says)

This misreading happens for 30 occurrences of '特殊', which appears to be used in t

[2016-01-14 12:36] olsgaard commented on #1251
I've inspect the the corpus further and the errors are because:
- 2 words in the KNB Corpus contains a `space`, which is unfortunate since the markup of the corpus is space delimited. (the emoticon errors)
- 1 line contains a double `space` (2 delimiters where only 1 is supposed to be)  (the ５００ error)
- 30 words in the corpus are `double-width spaces`. (the 特殊)

**PLEASE ADVICE:** Should the corp

[2016-01-14 16:35] petr-tik commented on #1246
Good point. Seconded

[2016-01-16 23:08] ExplodingCabbage opened #1252 "Tox fails with "ERROR: Failure: ImportError (No module named 'six')""
When I try to run the tests with Tox (on Ubuntu) from within a local clone of the repo, it manages to install the dependencies but blows up when trying to import things from within NLTK.

I imagine I can work around this by figuring out how to manually run just the tests I care about, but it's inconvenient.

I'm not sure whether I'm doing something dumb or whether the Tox setup is broken; if the f

[2016-01-17 11:25] udaysai50 opened #1253 "how to download corpus panlex_lite package in nltk in python"
I am able to download all the packages except the panlex_lite how to download it?

[2016-01-17 12:41] alvations commented on #1253
Try within python:

[code]

Or on command line:

[code]

Note: It might take some time to download the data.

[2016-01-17 23:13] stevenbird commented on #1253
Note that you need to install the [development version of NLTK](https://github.com/nltk/nltk/archive/develop.zip) in order to do this.

[2016-01-17 23:13] #1253 closed, assigned to nobody

[2016-01-18 06:09] goodrahstar opened #1254 "Loading jars from custom path."
Hello Team,
 I want to load the stanfor-parser.jar file from my custom defined path. I dont want to set ENV variable for jar locations. Is this possible ? If yes then how?

Thanks,
Rahul

[2016-01-18 06:22] alvations commented on #1254
Please see https://gist.github.com/alvations/e1df0ba227e542955a8a and http://stackoverflow.com/questions/13883277/stanford-parser-and-nltk/34112695#34112695

Also, if you're interested, please keep track of #1249 on updates on new Stanford API integration in NLTK.

[2016-01-18 06:22] longdt219 commented on #1254
Use the constructor (just set the path_to_jar and path_to_models_jar)
Here's the constructor for stanford parser

[code]

[2016-01-18 07:28] longdt219 commented on #1237
Hi @stevenbird,
All the bugs related to Stanford packages shown in the CI server is due to the new logging requirements such that <b> slf4j-api.jar</b> and <b> slf4j-simple.jar </b> are needed. We can do some hackings as suggested by @alvations  <a href = 'https://gist.github.com/alvations/e1df0ba227e542955a8a'> here </a> to add these additional .jar files to the classpath through the `find_jar_wi

[2016-01-18 11:04] dimazest commented on #1237
here is what I did to make it working https://github.com/nltk/nltk/pull/1249/files#diff-3ddcbc41d8654bc0748b8afb087c55aeR40

[2016-01-18 13:00] hack1nt0 opened #1255 "Printing to postscript error"
I draw a syntax tree with tree.draw(), which is below:

![2016-01-18 8 56 33](https://cloud.githubusercontent.com/assets/5208653/12391905/0683e8a8-be26-11e5-85f7-fba3b98c1626.png)

But after i save it as a ps file using 'File --> Print to Postscript', I get below:

![2016-01-18 8 58 20](https://cloud.githubusercontent.com/assets/5208653/12391934/3f2fa23c-be26-11e5-9494-36cd0e99427d.png)

So what i

[2016-01-18 13:27] JiHongyu opened #1256 "Reading wordnet error"
My environment is Python3.5.1 and nltk3.1. When I executed the second command below, it throws an AssertionError.

[code]

I find that there is a bug in class OpenOnDemandZipFile(data.py) about file reference count.
I modified the member function read() and it worked.

[code]

[2016-01-18 14:54] alvations commented on #1256
@JiHongyu can you post the full traceback for the `AssertionError`? I've tried removing wordnet from my nltk_data directory and then redownloading and tried the import but I didn't get any errors when retrieving synsets.

[2016-01-19 02:59] JiHongyu commented on #1256
The immediate cause is file reference count down to 0 before close the file.

[2016-01-19 03:03] JiHongyu commented on #1256
Maybe caused by the version of python. It work well on the other computer with python 3.4.

[2016-01-19 06:11] longdt219 commented on #1237
Vote for @alvations'solution since we don't have to manually specify the jar file names.

[2016-01-20 00:18] dlukes commented on #1204
Any idea why? And is anyone currently investigating? Or should I try to fix it myself (I was planning to use the zipfile corpus reader in a project) and submit a pull request if I manage to get it working again?

Thanks so much for NLTK by the way! :)

[2016-01-20 00:28] alvations commented on #1204
The same thing was reported in #1256. @JiHongyu suggested a fix with a +1. But I'm not sure what exactly is wrong. So sorry that I can't fix this for now because I'm busy with something else.

[2016-01-20 09:59] dlukes commented on #1204
Thanks for the reference!

I understand and please don't apologize :) I'll try to have a look at it myself if I have time.

[2016-01-20 10:33] Fiedzia opened #1258 "Potential wordnet lemmatization issue"
I am not sure if its an issue with wordnet corpus or with nltk or my way of using it, but I've found one case where I am not getting expected result:
~/nltk_data/corpora/wordnet/noun.exc contain this line:
antae anta

where (according to wikipedia) anta is singular and antae plural.
yet this code:

from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()
print(wnl.lemmatize('antae'))

pri

[2016-01-20 14:20] dlukes commented on #1204
OK, so it looks as though a `_fileRefCnt` private attribute was added to `zipfile.ZipFile` (something to do with a bug in reopening the underlying file, see commit https://github.com/python/cpython/commit/d4d1c956f96fda459bbc08b177831884a16bea67, I only had a cursory look at the related issue). It gets incremented on each call to `self.open()` and decremented on each `self.close()` (via `self._fpc

[2016-01-20 15:01] nschneid commented on #1258
Interesting...has there been a change for anta/antae between WN 3.0 and 3.1? http://www.golovchenko.org/cgi-bin/wnsearch?q=antae (WN 3.0) gives an error that 'anta' cannot be found, but it apparently lemmatizes 'antae'. http://wordnetweb.princeton.edu/perl/webwn?s=anta&sub=Search+WordNet&o2=&o0=1&o8=1&o1=1&o7=&o5=&o9=&o6=&o3=&o4=&h= (WN 3.1) has 'anta' but isn't lemmatizing 'antae'.

[2016-01-20 17:22] Sandy4321 opened #1259 "ImportError: No module named sentiment for python 2.7 on Windows PC and Anaconda installation"
I use python 2.7 on Windows PC and Anaconda python installation
Pls help run  example from  http://www.nltk.org/howto/sentiment.html
can not import nltk.sentiment, error comes from `from nltk.sentiment import SentimentAnalyzer`

It gives the error:

[code]

but nltk import is ok

`import nltk` and `NaiveBayesClassifier` import is ok seems to be everything

[code]

but

[code]

gives

[code]

[2016-01-21 15:09] petr-tik commented on #449
Is this still open? Looks pretty thoroughly discussed

[2016-01-21 15:15] petr-tik commented on #114
@alexrudnick Have punctuation models been updated yet? If so, can you please close this issue?

Thanks

[2016-01-21 15:41] GraphGrailAi commented on #449
No, close please.
From that time i have moved to Python 3.4 so this issue no longer actual

[2016-01-21 15:41] #449 closed, assigned to nobody

[2016-01-21 17:23] fievelk commented on #1259
Hi @Sandy4321. Could you please check which NLTK version you are running? You can do it for example with:

[code]

or

[code]

The `sentiment` package has been added in **NLTK 3.1**. In case you are using an older version, you can upgrade it using

[code]

[2016-01-21 20:46] alvations opened #1260 "SRL in SENNA"
Just a quick raincheck. Is there a reason why semantic role labeling (SRL) was left out in the [nltk.tag.senna.py](https://github.com/nltk/nltk/blob/develop/nltk/tag/senna.py)? Is someone working on adding it?

[2016-01-21 20:53] alvations commented on #1259
In `conda`, do:

[code]

But remember to also update your `python` and `conda` distribution:

[code]

[2016-01-22 04:57] #1241 closed, assigned to nobody

[2016-01-22 13:13] fievelk commented on #1259
@alvations Thank you, I forgot to add Anaconda details.

[2016-01-24 08:23] vinbo8 opened #1266 "AttributeError with convert_regexp_to_noncapturing_parsed"
I've got this error working with TextBlob, the traceback is more or less all on the NLTK side though.

Essentially, running `blob.noun_phrases` throws an AttributeError. Here's the end of the dump:

[code]

Could this be a problem with the Java install?

[2016-01-24 17:32] dlukes opened #1267 "RegexpTokenizer does not handle capturing parens as advertised"
The docstring for `nltk.tokenize.regexp.RegexpTokenizer` states:

[code]

But this does not seem to be the case:

[code]

Contrast with:

[code]

Tested both with PyPI release (`nltk-3.1`) and current `develop` branch.

[2016-01-24 23:08] #1267 closed, assigned to nobody

[2016-01-24 23:08] stevenbird commented on #1267
Duplicate of #1206.

[2016-01-24 23:12] stevenbird commented on #1266
Duplicate, cf #1106, #1135, #1188, #1267.
NB https://github.com/nltk/nltk/search?q=convert_regexp_to_noncapturing_parsed&type=Issues&utf8=%E2%9C%93

[2016-01-24 23:12] #1266 closed, assigned to nobody

[2016-01-24 23:15] stevenbird commented on #1260
@aboSamoor – would you please comment on this?

[2016-01-24 23:15] alvations commented on #1267
@stevenbird Possibly we need to edit the docstrings and tutorials:
- Page 111 of the NLTK book (physically)
- "NLTK's Regular Expression Tokenizer" section on http://www.nltk.org/book/ch03.html
- the [docstrings here](http://www.nltk.org/_modules/nltk/tokenize/regexp.html) looks fine though; I did a quick doctest on `nltk.tokenize.regexp.py` and the expected outputs and outputs were the same.

[2016-01-24 23:17] #1259 closed, assigned to nobody

[2016-01-24 23:26] dimazest commented on #1255
Could you please share the code that produces the trees.

[2016-01-24 23:42] dlukes commented on #1267
@stevenbird Thanks for ae78614e9751c1230cb13fa815a75fc9f0a2acc1, that's exactly what I had in mind :)

Yes, it would also be a good idea to fix the relevant part of the NLTK book, that's what prompted me to expect capturing groups to work in the first place.

[2016-01-24 23:46] alvations commented on #1267
+1 on https://github.com/nltk/nltk/commit/ae78614e9751c1230cb13fa815a75fc9f0a2acc1

[2016-01-25 00:04] aboSamoor commented on #1260
Srl could be added to the module, but I am not working on it.

[2016-01-25 02:06] alvations opened #1268 "Technical issues in BLEU"
This is an issue with how BLEU works and not exactly the implementation that causes an error with https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/492/testReport/junit/(root)/bleu_doctest/bleu_doctest/

---

There are many flaws in the original formulation of BLEU in http://www.aclweb.org/anthology/P02-1040.pdf but there's a big problem that we've all overlook

[2016-01-25 03:18] alvations commented on #1268
Given the `smooth_bleu()` method from https://github.com/alvations/nltk/commit/1ee6ffdb883d4b62ce2e9083bce0e93a32c6a319

For now, the solution seems to be [to allow hard 0 scores](https://github.com/alvations/nltk/commit/a83e7242453b81f587f99d493d93b6e5cb246c8c) and then if users wants to avoid hard 0 scores, he/she should use the `smoothing_method` parameter:

[code]

That should resolve the doct

[2016-01-26 10:48] stevenbird commented on #1260
Thanks @aboSamoor. @alvations – feel free to open a new issue if you think this should be added.

[2016-01-26 10:48] #1260 closed, assigned to nobody

[2016-01-26 23:16] erip commented on #514
I think this is addressed in the Google Group: just need to change the pickling protocol when pickling.

[2016-01-27 02:42] #1252 closed, assigned to nobody

[2016-01-27 03:27] jdeitelzweig commented on #1228
What file are you making that change to?

[2016-01-27 04:35] hoontw commented on #1268
The default interpretation of BLEU depends on what users are hoping to achieve, and also what we want to encourage. Do users want the original but flawed BLEU, or something that is more practical for real world usage?

If the MT community has settled into a certain interpretation of BLEU, we should probably use that. The original BLEU formulation can probably be renamed to something like `bleu_cla

[2016-01-27 11:53] alvations commented on #1268
@hoontw I think there's still no consensus as to how to handle sentence-level BLEU yet. But I think the hard 0 implementation is the norm (though not as described as in the paper):

[code]

[2016-01-27 12:00] alvations commented on #1268
**Would it be okay if we stick with the hard 0 implementation since it's more logical than the original BLEU?** And if users doesn't want the hard zero, then the new smoothing functions can be used.

[2016-01-27 12:19] alvations commented on #1214
I've written a small wrapper for REPP: https://github.com/alvations/nltk/blob/repp/nltk/tokenize/repp.py. Will do a PR once the `translate` modules are more stable.

[2016-01-27 16:33] dimazest commented on #1268
I would say so. If the original implementation is considered to be outdated then there is no reason to stick to it.

[2016-01-27 17:29] tadndx opened #1276 "Tgrep label predicates fail without macros tgrep.py line 696"
I'm not a tgrep expert but I was futzing around with nltk's implementation and it seems like tgrep strings of the form:
"NNP=n: =n > NP;" fail because the NNP predicate is a string and the source code is expecting the lambda function.

The NLTK implementation fails on the above tgrep string because the string 'NNP' isn't a lambda function like the code in tgrep.py line 696 assumes.

The following

[2016-01-27 22:36] alvations commented on #1214
Ported `tok-tok.pl` into python: https://github.com/alvations/nltk/blob/repp/nltk/tokenize/toktok.py too.

[2016-01-27 22:55] goodmami commented on #1214
@alvations so you wrapped a REPP binary instead of implementing a REPP processor? It would then be good to provide a link to where someone could get such a binary. And I haven't used the REPP binary directly---do you know how portable it is?

[2016-01-27 22:59] alvations commented on #1214
@goodmami I would put up the information on https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software once I get some time to do a PR. I wrote the wrapper while being stuck on a train without wifi =)

I'm not sure whether REPP works outside of linux though, possibly we'll have to ask rebecca or stefan whether they've tried installing REPP on a windows/mac. I would still want to reimplement

[2016-01-28 14:44] a1lu opened #1277 "Better documentation for HMM unsupervised training"
I had some problems using unsupervised training for hmms.
The docs say:

[code]

When i read this i thought about a List [ word_1, ..., word_n ] < a unlabeled sequence > but the correct way is [ (word_1, tag_1),...,(word_n,tag_n) ] < a labeled sequence imo > .
I think we should explain this better to avoid confusion.

[2016-01-29 07:36] CodingLionDargon opened #1278 "use source-code to install fail"
git clone code;
sudo python setup.py install;
a problem:
Traceback (most recent call last):
  File "setup.py", line 30, in <module>
    from setuptools import setup, find_packages
ImportError: No module named setuptools

[2016-01-29 07:56] alvations commented on #1278
You would need `setuptools`:

[code]

(see http://python-packaging-user-guide.readthedocs.org/en/latest/installing/)

If you do not have `pip`, see https://pip.pypa.io/en/stable/installing/

---

To install the bleeding edge code, I suggest using `pip` instead of using `setup.py`:

[code]

But this will make your currently environment use the bleeding edge code which might contain unresolved bugs

[2016-01-29 09:16] CodingLionDargon commented on #1278
thank you!

[2016-01-29 09:16] #1278 closed, assigned to nobody

[2016-01-29 11:16] simoneb commented on #1062
:+1:

[2016-01-29 18:56] sandipchatterjee opened #1279 "OSError when downloading/unzipping NLTK data (Python 3.5.1)"
I'm getting an OSError when I try to download data via the NLTK command line interface. This occurs when unzipping `corpora/panlex_lite.zip`

Running NLTK 3.1 on Python 3.5.1 (Python installed via Homebrew, NLTK installed via pip) on Mac OS X 10.11.3

Tried running `python3 -m nltk.downloader all` as suggested on http://www.nltk.org/data.html

[code]

[2016-01-29 19:17] alvations commented on #1279
The error could have been caused by a variety of reasons:
- the server hosting the panlex file is somehow busy
- you don't have enough space on your disk on directory that you're working on
- you don't have extended access to download a file over the net for quite a long period of time
- somehow your internet connection broke while downloading the file

---

If you don't need the `panlex_lite` pac

[2016-01-29 19:42] sandipchatterjee commented on #1279
Thanks, didn't know about the `halt_on_error` parameter.

I don't need `panlex_lite` at the moment, but I think the issue might not be caused by those reasons mentioned... the issue seems to occur during the `Unzipping corpora/panlex_lite.zip` stage, after the file has already been downloaded, and trying multiple times results in the same error (after downloading the file). Could be an issue with

[2016-01-29 19:52] alvations commented on #1279
Your `panlex_lite.zip` might have been corrupted from multiple download tries. Delete the file from your `nltk_data` directory manually, then redownload the file while you have stable internet connection for quite some minutes. I managed to get it downloaded and unzipped after a pretty long coffee break.

[2016-01-29 20:22] sandipchatterjee commented on #1279
I just tried removing `corpus/panlex_lite.zip` and the `panlex_lite` directory before (re)downloading and ran into the same OSError at the "unzipping" stage.

I tried running `import nltk;nltk.download('all', halt_on_error=False)` with Python 2.7.11 on my system and the download/unzipping finished successfully for all files, including `panlex_lite.zip`... so maybe something exclusive to Python 3.5

[2016-01-29 20:24] alvations commented on #1279
It's a Python3.5 thing, see #1204

[2016-02-02 09:38] #1158 closed, assigned to nobody

[2016-02-04 14:39] alvations commented on #1268
For now, it's doing the logical thing to return a hard 0 when there's 0 overlaps for all order of ngrams.

[2016-02-04 14:39] #1268 closed, assigned to nobody

[2016-02-05 11:08] tobias-nawa opened #1283 "panlex is offline (404)"
[code]

[2016-02-09 19:53] derekcoleman commented on #1283
Is there a workaround for this?

[2016-02-10 07:43] sorpaas commented on #1283
+1

[2016-02-10 12:57] stevenbird commented on #1283
Please install the development version of nltk to get the required functionality (third party corpus download locations)

[2016-02-10 18:50] alvations commented on #1214
If anyone else is interested in reimplementing/wrapping other tokenizers/stemmers/lemmatizers, I would suggest the following list of tools that would make a `good-first-contribution` to NLTK.
- [Moses tokenizer + detokenizer](https://github.com/moses-smt/mosesdecoder/tree/master/scripts/tokenizer)
- [Elephant](http://gmb.let.rug.nl/elephant/about.php)
- [Tokenize Anything](https://github.com/armat

[2016-02-13 00:39] erlizhou commented on #1283
Where can I get the development version of nltk?

[2016-02-13 07:02] alvations commented on #1283
On a linux machine, You can try:

[code]

But do note that doing so will subject your environment to the develop branch and it might contain some buggy code that is under-development. Also, it might break other software that depends on NLTK or its dependencies.

IMHO, if you don't really need the `panlex` corpus, you should wait until the 3rd party download feature get pushed into the normal maste

[2016-02-14 03:17] kengz commented on #1019
SUTime is part of Stanford CoreNLP too, so can we extend it by allowing nltk to export a tagger/parser [like this example](https://gist.github.com/alvations/e1df0ba227e542955a8a) where the CoreNLP is used, and specifying the `corenlp_options='-annotators tokenize,ssplit,pos,lemma,ner,sutime'` etc. to reflect the command used to run SUTime:

[code]

[2016-02-15 09:17] wangchuan commented on #1228
Where to find NLTK's setup.py? My question may be too trivial since I am new to this area. Thanks! @ewan-klein

[2016-02-16 14:45] spijs opened #1285 "Weird issue with bleu scores"
I discovered a weird issue when trying to calculate bleu scores for individual sentences with evaluation code [https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.py](here).
The method that contains the weird behaviour is : `sentence_bleu`
The problem occurs whenever the pn value becomes 1.

When for example calculating the bleu 1 score for the following candidate sentence:
_[this,

[2016-02-16 17:06] alvations commented on #1285
Now this is a wacky bug that has to do with the nature of BLEU and not the implementation ;P

The if [`sum_s == 0: return 0`](https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.py#L94) is a hack to handle cases where 0 words in the ngram matches the reference sentences. So that part is correct.

The problem lies with the [summing of the precision scores](https://github.com/nltk/nl

[2016-02-16 17:19] spijs commented on #1285
Couldn't it be possible to change the code so instead of returning 0 in the else, some kind of zero-counter can be raised. And before the exp, the counter is compared to the n in the n-grams?
That way 0 will only be returned if every p_i is 0. Correct me if I'm wrong

[2016-02-16 17:19] alvations commented on #1285
@spijs Thanks for reporting the bug!

But do note that with the patches for #1286 and https://github.com/nltk/nltk/blob/develop/nltk/translate/bleu_score.py#L94, the BLEU implementation in NLTK would NOT be the original BLEU but the most logical choice of implementation

[2016-02-16 17:19] alvations commented on #1285
Fixed at #1286 ;P

[2016-02-16 17:30] alvations commented on #1285
Ah, actually, it's not fixed. We cannot simply just to `w * 1` when `p_n == [1, 1, 1, 1]`. Because the exponential comes the sum.

[2016-02-16 17:54] alvations commented on #1285
@spijs Seems like there's no clean way to mathematically hack the equation since `exp(0)` is required for `BLEU == 1.0`, so it seems like the only way out to cover both `BLEU=0` and `BLEU=1` is to do https://github.com/nltk/nltk/pull/1286/files#diff-de624b4549ea37f3f8480d6734bd475bR94

[2016-02-16 18:08] spijs commented on #1285
At first glance that seems like a good fix to me.

2016-02-16 18:54 GMT+01:00 alvations notifications@github.com:

[2016-02-16 18:09] alvations commented on #1285
Does the update above on the problem and the hack makes sense?

[2016-02-16 18:17] spijs commented on #1285
yeah it's actually about the same solution as what I proposed, but cleaner
:)

2016-02-16 19:09 GMT+01:00 alvations notifications@github.com:

[2016-02-17 04:37] stevenbird commented on #1166
Sorry for the delay. I've adopted the second suggestion of @mrecachinas above, given that `iter*` methods from Python 2 are the default behaviour in Python 3.

I think if someone wants the added efficiency that @kmike's implementation offers, surely they can use it directly? I don't think it needs to be bundled in NLTK.

[2016-02-17 04:37] #1166 closed, assigned to nobody

[2016-02-17 09:16] ewan-klein commented on #1228
It's in the top-level of the NLTK directory: `https://github.com/nltk/nltk/blob/develop/setup.py`

[2016-02-17 10:02] kmike commented on #1166
FTR: datrie has pathological cases: building of a trie can dramatically slow down (see https://github.com/kmike/datrie/issues/12#issuecomment-28498683). For a trie which can be updated efficiently https://github.com/kmike/hat-trie is better. For static data structures (the ones you build once) https://github.com/kmike/DAWG or https://github.com/kmike/marisa-trie provide much better memory usage.

[2016-02-17 16:04] stevenbird opened #1288 "BLEU test failing"
The CI server reports the following failure for the BLEU doctest.

[code]

[2016-02-17 16:10] alvations commented on #1288
I think it comes from yesterday's quirky hack. I'll look at it again and see how Moses does it. Maybe recoding the whole BLEU as how Moses did might save our sanity and time spent on debugging theory vs implementation =)

[2016-02-17 16:26] stevenbird commented on #1288
It would be fine to have two versions of BLEU, one based on the theory and one based on Moses, and just let people take their pick.

[2016-02-17 16:40] alvations commented on #1288
I can't replicate the `0.09697196786440505` output on my own machine though:

[code]

From the doctest on my machine:

[code]

[code]

[2016-02-17 17:02] stevenbird commented on #1288
Ok, this is going to take more analysis then, and I won't prioritise it for 3.2. Thanks for checking @alvations.

[2016-02-17 17:05] alvations commented on #1288
I'll also skip the split implementation of BLEU (original vs moses) for now. Getting the tokenizers to work for a new decoder would be more important (for me personally =)) .

[2016-02-17 20:27] alvations commented on #1288
Ah, found the bug, line 94 should be:

[code]

instead of

[code]

But that's somewhat wrong too. I've to sit down and think about the math properly.

[2016-02-18 01:47] #1288 closed, assigned to nobody

[2016-02-18 01:49] stevenbird commented on #1283
Closing (resolved in HEAD)

[2016-02-18 01:49] #1283 closed, assigned to nobody

[2016-02-18 11:04] iliakur commented on #1166
@kmike thanks a lot for that. There was talk of using Tries when refactoring the NgramModel, this will help us make an informed decision about it :)

[2016-02-18 12:09] njbuch opened #1289 "Module not found sentiment_analyzer (Python3.5.2, NLTK3.1)"
This piece of code should, according to my best knowledge, work:

[code]

c:\users\user\appdata\local\programs\python\python35-32\lib\site-packages\nltk\sentiment\util.py in demo_sent_subjectivity(text)
    598         print('Cannot find the sentiment analyzer you want to load.')
    599         print('Training a new one using NaiveBayesClassifier.')
--> 600         sentim_analyzer = demo_subjecti

[2016-02-19 11:03] fievelk commented on #1289
@njbuch Thank you.
The error was in the imports. As stated in the [Package Structure Wiki](https://github.com/nltk/nltk/wiki/Package-Structure), imports from the package should have the form `from nltk.package import name`.

I fixed the problem in #1290.

[2016-02-19 12:52] ghost opened #1291 "NLTK relation extraction"
I am trying to extract relations from a text
the example that is provided in the book uses ieer corpus
I tried to make it on a single text but it's not working , I am not getting anything
Can anyone help ?

Here is my code :

import nltk
import re
sent = "Barack Obama is the president of America"
tokens = nltk.word_tokenize(sent)
tagged = nltk.pos_tag(tokens)
grammar = r"""
    NP : {<DT|PP\$>?<JJ

[2016-02-22 05:15] cassidylaidlaw opened #1293 "Gale-Church aligner raises TypeError"
Running

[code]

raises

[code]

---

Example:

[code]

[2016-02-22 07:11] henryon commented on #1283
@stevenbird I am still get error, refer below log.
Any update documents or something else? Thanks
 /usr/local/bin/python2.7 -m nltk.downloader -q all -d /usr/local/share/nltk_data
[nltk_data] Error downloading u'panlex_lite' from
[nltk_data]     <https://raw.githubusercontent.com/nltk/nltk_data/gh-
[nltk_data]     pages/packages/corpora/panlex_lite.zip>:   HTTP Error
[nltk_data]     404: Not Found

[2016-02-22 12:49] Mustufain opened #1294 "Malt parser not parsing sentences"
whenever I parse a sentence using malt parser it gives me the following exception:
mp.parse_one(token)

Exception: MaltParser parsing (java -cp D:/Python Files/maltparser-1.8.1\maltparser-1.8.1.jar:D:/Python Files/maltparser-1.8.1\lib\liblinear-1.8.jar:D:/Python Files/maltparser-1.8.1\lib\libsvm.jar:D:/Python Files/maltparser-1.8.1\lib\log4j.jar org.maltparser.Malt -c engmalt.poly-1.7.mco -i C:\Us

[2016-02-22 13:56] alvations commented on #1294
Are you using Windows? As asked on Stackoverflow, without you telling us what is the code you ran, how you setup the environment, it would be hard for us to help you.

Please follow the instructions on https://github.com/nltk/nltk/wiki/Installing-Third-Party-Software#malt-parser and see whether it works for you. Please also do look at the MaltParser API carefully: http://www.nltk.org/api/nltk.pars

[2016-02-22 14:28] Mustufain commented on #1294
Yes I am using windows I have setup my environment variable by going into my computer properties advanced system protection and then creating a new environmental variable

[2016-02-22 14:30] alvations commented on #1294
Please show the steps and the PATH that you have set. How did you setup your environment variable. Please shows print-screens like these (http://www.computerhope.com/issues/ch000549.htm) if you're unsure of where you saved your files and which path you're set in your environmental variables.

Where is the directory located? Where is the `.mco` file located? Have you tired the `TL;DR` answer? Pleas

[2016-02-22 14:39] Mustufain commented on #1294
![env](https://cloud.githubusercontent.com/assets/17406354/13221190/ffffbef0-d971-11e5-9792-037740477b7f.PNG)

[2016-02-22 14:40] Mustufain commented on #1294
Here you see I have MALTPARSERHOME and MALT_MODEL environment variable set up.MALTPARSERHOME points to the malt.jar file and MALT_MODEL points to the engmalt-linear-1.7.mco file

[2016-02-22 14:41] Mustufain commented on #1294
.mco file is located at : D:\Python Files\maltparser-1.7.2
I tried the TL;DR answer it says AttributeError: 'str' object has no attribute 'tag

[2016-02-22 14:45] Mustufain commented on #1294
dir C:\Users\mustufain\Desktop\Python Files\maltparser-1.8.1\ It says network path was not found

[2016-02-22 14:46] alvations commented on #1294
Now, we see. You have setup your environment variables wrongly.

You're suppose to point:

`MALT_PARSER` variable to `D:\Python Files\malt-parser-1.7.2\`

and

`MALT_MODEL` variable to an `.mco` file. You can download them from www.maltparser.org/mco/english_parser/engmalt.html, right-click on `engmalt.poly-1.7.mco` and save as. Then set the `MALT_MODEL` variable to the path where you have saved `

[2016-02-22 15:02] alvations commented on #1294
Did any of the solutions work?

[2016-02-22 15:08] Mustufain commented on #1294
I am using nltk version 3.1

[2016-02-22 15:14] Mustufain commented on #1294
![error](https://cloud.githubusercontent.com/assets/17406354/13222244/01289f4a-d977-11e5-908b-fa7627cf98ca.PNG)

[2016-02-22 15:18] Mustufain commented on #1294
This is the path to my jar file:![path](https://cloud.githubusercontent.com/assets/17406354/13222342/7fa0843c-d977-11e5-90b0-853b51a54788.PNG)

[2016-02-22 15:19] Mustufain commented on #1294
![mco](https://cloud.githubusercontent.com/assets/17406354/13222377/a194e56a-d977-11e5-8cd9-672a3bed93f8.PNG)

[2016-02-22 15:26] osamamukhtar11 commented on #1294
![capture](https://cloud.githubusercontent.com/assets/13291427/13222587/6b2ccd46-d9a2-11e5-9263-b65c16895e56.PNG)
Having similar problem using MaltParser. Parser fails with exit code 1

[2016-02-22 16:01] Mustufain commented on #1294
![error](https://cloud.githubusercontent.com/assets/17406354/13223724/6bc53b3c-d97d-11e5-9a68-b66b0a6eeac3.PNG)
This is the error I am getting after trying out all the solutions

[2016-02-22 16:54] alvations commented on #1294
Have you installed Java as per https://java.com/en/download/help/windows_manual_download.xml ? Can you try using MaltParser without NLTK http://www.maltparser.org/userguide.html#startusing ? Until you get the configs right in MaltParser, the NLTK API won't work.

[2016-02-22 16:56] Mustufain commented on #1294
yes I have java installed

[2016-02-22 17:15] alvations commented on #1294
I am going to hijack a windows computers and show the setup in print-screens. If the solution don't work for you then, I'm afraid someone else should help the both of you with the problem. My knowledge is limited, so sorry. Please wait for answers from the other devs/users.

First follow these screen shots to

**Install Anaconda + Python + Pip (DO NOT INSTALL NLTK FIRST!!)**

From the link: https:

[2016-02-22 17:38] Mustufain commented on #1294
ok waiting for it

[2016-02-22 18:19] alvations commented on #1294
Okay after much debugging, the problem lies in how classpath in Java command is OS dependent.

[2016-02-22 18:23] Mustufain commented on #1294
so what is the solution

[2016-02-22 18:33] alvations commented on #1294
If you need the solution "right now":

[code]

Then:

[code]

[out]:

![screenshot 58](https://cloud.githubusercontent.com/assets/1050316/13228267/4dcac3a4-d99b-11e5-8490-ef45939fc382.png)

[2016-02-22 18:49] alvations commented on #1294
Patched on #1295.

[2016-02-23 10:19] ghost opened #1296 "Fail to load vader_lexicon.txt"
I'd like to use `SentimentIntensityAnalyzer`, but got such a error:

[code]

How can I fix it? Or where can I download it manually?

[2016-02-23 13:07] rapaliwal commented on #1237
Hi,
I am also facing the same issue. I believe its not fixed yet? Please comment in case it is or there is any way to get it working. Thanks

[2016-02-23 13:32] alvations commented on #1237
@rapaliwal the code is merged into the `develop` branch, if you want to use the bleeding edge version of `NLTK`, you can try`pip install -U https://github.com/nltk/nltk/archive/develop.zip` (CAUTION: this will subject your python environment to developmental code; it may break something!).

Otherwise, it should be patched in the current/next stable release of NLTK and `pip install -U nltk` should

[2016-02-23 13:35] rapaliwal commented on #1237
Thanks @alvations for quick reply. I am trying to use nltk with stanford parser (and maybe dependency parser later). I will give the new version of nltk a go. Will let you know what happens. Thanks

[2016-02-23 14:36] henryon opened #1297 "panlex_lite 404"
I am still get error, refer below log.
Any update documents or something else? Thanks
/usr/local/bin/python2.7 -m nltk.downloader -q all -d /usr/local/share/nltk_data
[nltk_data] Error downloading u'panlex_lite' from
[nltk_data] [nltk_data] pages/packages/corpora/panlex_lite.zip>: HTTP Error
[nltk_data] 404: Not Found

[2016-02-23 23:34] sat230594 opened #1298 "stanford parser setup error"
Hi,
i am using the following code to parse a sentence using stanford parser and for setting the variables

import os
java_path = "C:/Program Files/Java/jdk1.8.0_60"
os.environ['JAVAHOME'] = java_path
os.environ['CLASSPATH'] ='C:\Users\ASUS\Downloads\stanford-parser-full-2015-12-09\stanford-parser-full-2015-12-09'
os.environ['STANFORD_MODELS'] = 'C:\Users\ASUS\Downloads\stanford-parser-full-2015-12

[2016-02-24 04:43] stevenbird opened #1299 "zipfile problem for Python 3.5"
The bulk of the CI errors concern zipfiles in Python 3.5:

https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/

[2016-02-24 13:17] henryon commented on #1283
@alvations  can you help on this? When run it on cli still get above error

[2016-02-24 14:05] alvations commented on #1283
@henryon there're several options to resolve the problem.

**If you don't need to use the `panlex_lite` corpus**, then you can just use the python interpreter and do

[code]

(That will save the `nltk_data` to `/path/to/where/you/wanna/save/nltk_data`, see https://github.com/nltk/nltk/blob/develop/nltk/downloader.py#L646 for parameters for the `nltk.downloader` function)

**If you need the `panlex

[2016-02-24 14:23] alvations commented on #1285
As a spillover issue from #1268, #1285, #1288, #1241, #789, #775, #922

After thinking through it, I think the sensible solution is to follow the [mteval-v13a.pl](https://github.com/moses-smt/mosesdecoder/blob/master/scripts/generic/mteval-v13a.pl#L834) and make the default setting to always smooth the output with our implementation of [SmoothingFunction.method3()](https://github.com/nltk/nltk/blo

[2016-02-24 14:50] henryon commented on #1283
@alvations  thanks for your reply. will response to you after verify.

[2016-02-24 18:15] stevenbird commented on #1283
Thanks @alvations. This functionality is not yet available in any release.
(This issue is a duplicate of #1253)

[2016-02-25 02:49] afgiel commented on #1296
[this line](https://github.com/nltk/nltk/blob/develop/nltk/sentiment/vader.py#L201) has been problematic for me as it makes it very difficult to manually point to the lexicon if its not within `nltk/sentiment/`

it seems https://github.com/nltk/nltk/commit/37a89c4a53ffc7723df9097c417cc00737f0494f attempted to ensure that `vader_lexicon.txt` was within `nltk/sentiment/` at distribution time but the

[2016-02-25 07:41] alvations commented on #1299
The issue happens when automatically opening a zipfile when it hasn't been previously extracted in the `nltk_data` directory, e.g.

[code]

The issue may seem to come from the changes from python3.4 -> 3.5: https://fossies.org/diffs/Python/3.4.3_vs_3.5.0/Lib/zipfile.py-diff.html which cause the code to break at https://github.com/nltk/nltk/blob/develop/nltk/data.py#L505

But there isn't a differen

[2016-02-25 11:29] ewan-klein commented on #1296
I didn't initially put the VADER lexicon into the nltk data repo because it's so closely tied to the VADER code -- it's not generically usable resource. However, given the continued difficulty with loading it, putting it in data is probably the right solution. I can try to do this at the weekend, but I'm more than happy if someone else does it before I do!

[2016-02-25 16:04] kylebgorman commented on #1285
I don't have any dogs in this race but I'm going to guess that users generally want and expect mteval compatibility.  But I would greatly prefer the interface to be:

[code]

etc. I greatly prefer this to @alvations' snippet version.

[2016-02-26 15:27] nanarth opened #1304 "Last stanford-pos-tagger (2015-12-09) jar problem"
Hello,

First I'm really new to nltk and what i learn is amazing, so really thank you for this great piece of software.

I'm trying to use stanford-pos-tagger, and the last version seems to be currently uncompatible with nltk.

The problem is related in this stackoverflow post:
http://stackoverflow.com/questions/34361725/nltk-stanfordnertagger-noclassdeffounderror-org-slf4j-loggerfactory-in-windo/

[2016-02-26 15:46] alvations commented on #1304
Please take a look at https://gist.github.com/alvations/e1df0ba227e542955a8a

**`TL;D12R`**

On Windows Powershell:

[code]

Or Linux terminal:

[code]

Then:

[code]

This was resolved in #1280, #1281, #1292

[2016-02-26 16:34] nanarth commented on #1304
Thank you very much, sorry for the noise

[2016-02-26 16:45] arendu-zz opened #1305 "confusing maxent formula."
I dont understand this formula from  [ nltk.classify.maxent](http://www.nltk.org/_modules/nltk/classify/maxent.html)

Isin't maxent same as logistic regression classifier? So the correct formula for p(fs| label) should be:

There seems to be 2 mistakes in the original formula, is should have been p(label|fs) and the dot product should be exponentiated.

Am I missing something?

[2016-02-26 20:57] tanin47 opened #1307 "Unicode support in CCG.doctest fails when using Python 2.7"
The result looks like this:

[code]

It produces nothing.

I have figured out that it is because of the word `panadería` (https://github.com/nltk/nltk/blob/develop/nltk/test/ccg.doctest#L306). When deleting that line, a parse is produced. But the test still fails because of some other issues (see #1306).

I'm guessing that `í` causes a failure in the lexicon.

Please note that the problem only occ

[2016-02-26 22:22] alvations opened #1308 "BufferedGzipFile in Python3.5"
On the [CI tests for Python 3.5](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/%28root%29/data_doctest/data_doctest/), `BufferedGzipFile` test is breaking at https://github.com/nltk/nltk/blob/develop/nltk/test/data.doctest#L327

This is because of the change in how buffer is read when code was modified from Python3.4 -> 3.5:
-

[2016-02-26 22:35] alvations opened #1309 "Example in SentiWordNet doctest is outdated."
The example in SentiWordNet doctest is outdated given the current version of expanded SentiWordNet in NLTK, see https://github.com/nltk/nltk/blob/develop/nltk/corpus/reader/sentiwordnet.py#L19 causing [failed tests on the CI server ](https://nltk.ci.cloudbees.com/job/nltk/TOXENV=py35-jenkins,jdk=jdk8latestOnlineInstall/lastCompletedBuild/testReport/nltk.corpus/reader/sentiwordnet/)

This can be fi

[2016-02-26 22:46] alvations commented on #1309
As a start, here's some steps that one might find useful:
1. Fork the NLTK repository.
2. Clone the repository to your machine `git clone https://github.com/youruser/nltk.git`
3. Locate the `nltk/nltk/corpus/reader/sentiwordnet.py` file and make the modification.
4. (Optionally): Add your name to [contributors list in the meta-information at the top of the file](https://github.com/nltk/nltk/blob/d

[2016-02-27 00:56] DerekZH opened #1311 "Stanford NER tagging results differ between JAVA GUI and NLTK"
Hi there,

For some reason the NER tagging results for my test paragraph differ between JAVA GUI and NLTK's wrapper, even though I used the same trained classifier (english.conll.4class.distsim.crf.ser.gz).  The test sentence I used was:

The studio is super great. **LOCATION LOCATION LOCATION**. 2 blocks from **Union Square**, 1 block from **Chinatown**, right in the middle of restaurants, cafete

[2016-02-27 08:06] alvations commented on #1309
Fixed on https://github.com/nltk/nltk/commit/43696a171c159871ab3d8e1793292d4770b0a177

[2016-02-27 08:06] #1309 closed, assigned to nobody

[2016-02-27 12:06] alvations commented on #1311
Could you post your code in NLTK used to generate the tags? I suspect you did not tokenize your text before feeding it to POS and NER tagger.

[2016-02-27 19:03] tanin47 opened #1313 "Semantic predicate for CCG parser"
A little bit of the background: I was one of the @ewan-klein's student that extended the CCG parser in 2009. Sadly, the code was never merged. But I'd like to make the work into the codebase.

The extension included:
- Semantic predicate calculation
- Probability calculation
- Feature value -- right now we have `NP[sg]`. But `NP[num=sg]` or `NP[num=?x]` (variable-value) are better because it fits

[2016-02-28 08:00] #1308 closed, assigned to nobody

[2016-02-28 08:29] #1299 closed, assigned to nobody

[2016-02-28 08:45] stevenbird opened #1314 "resolve NLTK data issues"
https://github.com/nltk/nltk_data/milestones/3.2

[2016-02-28 09:30] alvations commented on #1304
@nanarth did the solution work?

[2016-02-28 09:32] alvations commented on #1294
@Mustufain , @osamamukhtar11  did the solution work?

[2016-02-28 09:32] alvations commented on #1298
@sat230594 please take a look at: https://gist.github.com/alvations/0ed8641d7d2e1941b9f9

[2016-02-28 09:34] osamamukhtar11 commented on #1294
Unfortunately, it didn't. 😞
On 28 Feb 2016 2:32 pm, "alvations" notifications@github.com wrote:

[2016-02-28 09:34] alvations commented on #1256
@JiHongyu Thanks for reporting this issue. This should be patched by #1301

[2016-02-28 09:37] alvations commented on #1250
@octavian-ganea are you reporting to the correct library? Could you specify which file the code is coming from and we'll see whether we can help you.

[2016-02-28 09:39] alvations commented on #1294
Did you follow the full solution? Including the steps to setup python and NLTK in powershell and  `pip install -U https://github.com/nltk/nltk/archive/develop.zip` ?

[2016-02-28 09:40] osamamukhtar11 commented on #1294
Yes. Nltk Waa uninstalled and reinstalled successfully.
On 28 Feb 2016 2:39 pm, "alvations" notifications@github.com wrote:

[2016-02-28 09:41] alvations commented on #1294
With `pip install -U https://github.com/nltk/nltk/archive/develop.zip` on Windows Powershell? Or using the installer? Please don't use the `.exe` installer, it won't work. And if you're using IDLE, you have to do a lot more setup. Follow the steps to use Conda + Python + NLTK in powershell.

I've verified that the Conda + Python+Git+Java installation steps, and pip installation for NLTK in powersh

[2016-02-28 10:16] osamamukhtar11 commented on #1294
I used pip command.
On 28 Feb 2016 2:41 pm, "alvations" notifications@github.com wrote:

[2016-02-28 10:19] alvations commented on #1294
Could you post the traceback error you're getting?  If possible print-screens of why it's not working for you will help us debug the problem better.

[2016-02-28 10:22] osamamukhtar11 commented on #1294
Okay. I will post it as soon as I get to my PC. Thank you very much for
your concern.
On 28 Feb 2016 3:20 pm, "alvations" notifications@github.com wrote:

[2016-02-28 13:17] octavian-ganea commented on #1250
@alvations I've tried a simple example starting from this tutorial : http://nlp.stanford.edu/software/tokenizer.shtml

[2016-02-28 22:42] alvations commented on #1250
@octavian-ganea I think the proper channel for your question is on @stanfordnlp https://github.com/stanfordnlp/CoreNLP instead of NLTK =)

[2016-02-28 22:48] alvations commented on #995
Bumping the issue ;P

I've written a [JVnTextPro wrapper](https://github.com/alvations/NTU-MC/blob/master/ntumc/toolkit/vie.py) some time ago but it's not properly documented and the coding style is outdated but I hope it helps.

Would be great to see other Asian languages annotators wrappers/ports too =)

[2016-02-28 23:49] octavian-ganea commented on #1250
Sorry about this. Just realized the mistake.

[2016-02-28 23:49] #1250 closed, assigned to nobody

[2016-02-29 00:09] #1237 closed, assigned to nobody

[2016-02-29 04:55] ruffyleaf opened #1315 "Dispersion Plot has an incorrectly used Parameter"
`nltk.draw.dispersion.dispersion_plot(text, words, ignore_case=False, title='Lexical Dispersion Plot')[source]¶
`
'title' is seen to be a parameter in the source code and above(documentation), but we cannot modify this parameter.

[2016-02-29 07:09] letuananh commented on #995
@alvations: are you interested in porting JVnTextPro to NLTK :P ?

[2016-02-29 10:58] lrnzcig commented on #1315
Hi @ruffyleaf, this is working for me with no problem. Could you please post the code you are using in your call? Thanks.

[2016-02-29 11:13] xiaozongyang commented on #1253
use this url [http://dev.panlex.org/db/panlex_lite.zip] to download it manually.

[2016-02-29 11:17] alvations commented on #1253
Wait for NLTK v3.2 and please see extensive discussion on https://github.com/nltk/nltk/issues/1283

[2016-02-29 11:17] alvations commented on #1297
Wait for NLTK v3.2 and please see extensive discussion on https://github.com/nltk/nltk/issues/1283

[2016-02-29 12:09] #1297 closed, assigned to nobody

[2016-03-01 02:01] ruffyleaf commented on #1315
Hey @lrnzcig, I used nltk.**version** '3.0.2', Python 2.7.10, Anaconda 2.2.0

[code]

And I got the error:
`TypeError: dispersion_plot() got an unexpected keyword argument 'title'`

[2016-03-01 11:15] lrnzcig commented on #1315
@ruffyleaf You're right, I've checked for python 2.7 and nltk version 3.0.2, and the method `dispersion_plot` does not accept the argument `title`; the title is always set to "Lexical Dispersion Plot". I'd suggest you upgrade to version nltk version 3.1 (using the command `conda upgrade nltk`). Cheers.

[2016-03-01 21:42] pombredanne commented on #1025
So I really need to work on this .... Though I am surprised none else faced the issue. I will get a proposed fix this month.

[2016-03-02 03:24] alvations opened #1317 "Training the default perceptron tagger with bigger corpus"
The default pickle for the `PerceptronTagger` is nice but it's a little too small for realistic usage:

[code]

Would it be possible to retrain a model on something like the full Penn TreeBank or BNC? Is the model then releasable on NLTK?

[2016-03-02 08:12] stevenbird commented on #1317
Yes, a trained model is not a derived work, so long as the original data cannot be reconstructed from it.

[2016-03-02 10:08] stevenbird commented on #1315
Thanks @lrnzcig

[2016-03-02 10:08] #1315 closed, assigned to nobody

[2016-03-02 11:48] dimazest commented on #1285
smoothing can be either a string (for default cases) or a function (if custom method is used).

[2016-03-02 14:10] ruffyleaf commented on #1315
Thanks @lrnzcig. I thought I was at the latest version because the Docs said "Version 3.0 Documentation". Have since updated to 3.1 and works. :+1:

[2016-03-03 07:06] pombredanne commented on #1025
I verified this fix on the https://github.com/nexb/scancode-toolkit  test suites and all my tests pass with NLTK 3.2 alright.
There is a slight performance decrease for this use case between 2.0b4 and 3.2 but nothing serious.

[2016-03-03 22:11] #1304 closed, assigned to nobody

[2016-03-04 11:44] #1314 closed, assigned to stevenbird

[2016-03-05 03:11] theaverageguy commented on #1277
I would like to fix this.

[2016-03-05 03:54] stevenbird commented on #1204
Resolved by #1301

[2016-03-05 03:54] #1204 closed, assigned to nobody

[2016-03-05 03:58] stevenbird commented on #983
This is resolved

[2016-03-05 03:58] #983 closed, assigned to longdt219

[2016-03-05 15:13] wenbowang commented on #947
I ran into the same problem that @Hiestaa had. I have helper file string_util.python that import nltk, but it is not used in the main python file that uses multiprocessing module to start a multi-process crawler. The symptom is that the child process just gets stuck and there is no error message (not even exception message).
After commenting out nltk-related imports and functions, the problem got

[2016-03-05 20:50] mattdornfeld opened #1320 "No module nltk.sentiment"
I'm trying to follow on along with this example http://www.nltk.org/howto/sentiment.html, but there is no nltk.sentiment module. Do I have to install it separately?

[2016-03-05 21:11] fievelk commented on #1320
@mdornfe1 The `sentiment` package is available since NLTK 3.1, so I think that you probably have an older NLTK release.

I suggest you to update it and check again.
You can find installation information here: [Installing NLTK](http://www.nltk.org/install.html)

[2016-03-06 00:50] mattdornfeld commented on #1320
@fievelk Thanks I fixed it by installing from the git repository. Previously I had installed it from pip. Is the pip package out of date?

[2016-03-08 09:49] valentinkoe opened #1322 "german stopwords"
the german stopword file contains wrong inflected forms of "uns"

instead of

[code]

in lines 190-194 of the stopword file `stopwords/german`, it should be

[code]

[2016-03-08 18:21] melvyniandrag opened #1323 "Error in BigramAssocMeasures _contingency?"
Hello,
Before submitting a pull request I would like to know if this was done deliberately for some reason:

The contingency table in BigramAssocMeasures seems incorrect to me.
When I give a set of identical bigrams, i.e. [(X,X), (X,X), (X,X)] what should the table say?
I think:
n_ii = 3, n_io = 0, n_oi = 0, n_oo = 0.
Instead, we get 3, 1, 1, -1.

This causes the likelihood_ratio and chi_sq tests

[2016-03-08 23:52] jnothman commented on #1323
It's due to the use of `word_fd` to calculate `n_ix` and `n_xi`, I agree. Go ahead, put together a PR.

[2016-03-09 00:50] josepvalls opened #1324 "ParentedTree breaks deepcopy"
Can deepcopy Tree but not ParentedTree, not sure if may be related to this: https://github.com/nltk/nltk/issues/130

[2016-03-09 17:52] ventice opened #1325 "Number text representation"
Within the framework of the project I am currently working on I have to develop a library that will convert a number to its text representation in Russian and English.
For instance, given the number **1235** the library will output "one thousand two hundred and thirty five" for English and "одна тысяча двести тридцать пять" for Russian.
I can design this library in such a way that it is localizabl

[2016-03-10 06:22] ayushkalani commented on #1253
this url [http://dev.panlex.org/db/panlex_lite.zip] is giving Error 503
while using command line command $ python -m nltk.downloader panlex_lite
I have been waiting for almost 1 hour but Iam unable to download that on a 8mbps connection .
any other alternate links or tar files ?

[2016-03-10 15:54] Moon-Raven opened #1326 "Receiving GetURLError"
When calling function nltk.pos_tag, I get the following error in nltk-3.2:

[code]

The error does not happen in nltk-3.1. I am using Windows 7, python 3.5.1

[2016-03-10 18:15] ELind77 opened #1327 "Proposal for a CorpusReader for presidential debate texts"
Hi all,

I wrote a CorpusReader for reading presidential debates as formatted here: http://www.presidency.ucsb.edu/debates.php

My implementation is here: https://github.com/ELind77/Candidate_Classifier/blob/master/candidate_classifier/debate_corpus_reader.py

Tests are here: https://github.com/ELind77/Candidate_Classifier/blob/master/tests/test_debate_corpus_reader.py

It would need a bit of work

[2016-03-12 06:14] stevenbird opened #1328 "Regression in BLEU code"
It looks like #1319 has caused a new set of regressions.
@josiahwang, @alvations – any input would be appreciated, thanks.

[2016-03-12 07:45] alvations commented on #1328
@stevenbird I'm recoding the BLEU from scratch with a lot more unit tests. I think that's a more maintainable solution than trying to improve the old one. It will take a while though.

[2016-03-12 22:04] tastyminerals commented on #1326
This is a bug in `perceptron.py`.
Here is the [solution](http://stackoverflow.com/questions/35836907/nltk-unable-to-nltk-pos-tag).
You can also downgrade to `3.1.0`.

[2016-03-13 19:44] alvations opened #1330 "BLEU Issues"
The BLEU implementation has sort of generated quite a lot of "wack-a-mole" situations where the fringe cases of using BLEU cause errors or unexpected output values from the following issues: #1328 #1288 #1285 #1268 #775 #789 #922 #926 #989 #1172 #1241

To resolve the issues, possibly our best chance is to emulate [`mteval-13a.perl`](https://github.com/moses-smt/mosesdecoder/blob/master/scripts/gen

[2016-03-13 20:43] alvations commented on #1328
@stevenbird I'm checking the cpython code and it seems like the `_normalize` parameter in `fractions.Fraction()` is a new feature that's only available in Python >3.5, https://hg.python.org/cpython/file/3.5/Lib/fractions.py#l187

The default behavior before python 3.5 is to always normalize:
- https://hg.python.org/cpython/file/2.7/Lib/fractions.py#l163
- https://hg.python.org/cpython/file/3.4/Lib

[2016-03-13 21:45] alvations commented on #1330
The "mini-roadmap" would be to:
- #1331: Revert code using `fractions.Fraction._normalize` (from #1319)
- #1332: Create some sort of `nltk.compat` object to handle `_normalize` parameter in fractions.Fraction for Python < 3.5.
- #1332: Put back the `_normalize` patches in #1319
- #1332: Write tests with fringe cases
- #1383 Validate these fringe cases by changing the BLEU implementation accordingl

[2016-03-14 00:26] stevenbird commented on #1328
I see, thanks @alvations – sorry to hear this is complicated!

[2016-03-14 00:32] alvations commented on #1328
I've got the `_normalize` parameter to work by overloading the class. And some `try-except` tricks will be needed after the imports to use the overloaded class.

[code]

But I think it's best to revert to the BLEU without the `_normalize` first, then write the necessary tests first and patch the code with the overloaded `Fraction` to validate the tests.

[2016-03-14 16:02] SeanPlusPlus opened #1334 "'Text' object has no attribute 'generate'"
On page 7 of the hard copy of the book "Natural Language Processing with Python", there is an example of the command:

`>>> text3.generate()`

Using nltk version 3.2 I get the following error:

`AttributeError: 'Text' object has no attribute 'generate'`

The online book [states that this feature will be reinstated in a subsequent version](http://www.nltk.org/book/ch01.html#searching-text).

Which

[2016-03-14 23:11] adeshgupta opened #1335 "pkg_resources.DistributionNotFound: nltk-contrib==3.1"
`Traceback (most recent call last):
  File "/usr/local/bin/nltk-server", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 2749, in <module>
    working_set = WorkingSet._build_master()
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 446, in _build_master
    return cls._build_from_requirements(__require

[2016-03-16 10:00] lingling91 commented on #983
Hi, I have problem in unzipping the panlex_life,zip, the status is still unzipping the panlex_life.zip after 8 hours

[2016-03-16 13:33] alvations commented on #1328
@stevenbird The CI tests are failing for BLEU again because I think i accidentally merged the code that contains the requires `nltk.compat.Fraction` at https://github.com/nltk/nltk/commit/9b74f56ebe61372cb30bcecf25b28c7b25d5dc87

We should either revert https://github.com/nltk/nltk/commit/9b74f56ebe61372cb30bcecf25b28c7b25d5dc87 or move it forward with #1332. Sorry about the mistake.

[2016-03-16 16:39] WladimirSidorenko opened #1336 "ZeroDivisionError when computing Krippendorff's alpha"
(1) Steps to reproduce:

[code]

(2) Error:

[code]

(3) Expected return value:

[code]

(4) System information:

[code]

[2016-03-18 20:53] alvations commented on #1317
@syllog1sm Is there a reason for the high `freq_thresh = 20` at https://github.com/nltk/nltk/blob/develop/nltk/tag/perceptron.py#L268 ?

[2016-03-18 21:55] syllog1sm commented on #1317
I tried to set the tag dictionary hyper-parameters such that impact on accuracy is really minimal. I don't remember how much I tested this across domains. The POS tagger blog post did include a cross-domain evaluation at the end, but I think I considered this a test set and only did the experiment after I'd finalised the model.

I think you should be quite careful about setting the tag dictionary

[2016-03-19 15:01] sadeghmir opened #1337 "log_probability bug and inconsistent documentation for HMM tagger"
The log_probability function doc in HMM tagger says:

This is vague and also inconsistent with what a labeled and unlabeled sequence are defined in other functions of the same class (a list of tuples and a list of symbols respectively). In another function such as "train", unlabeled_sequence is defined as a list of lists, presumably a list of unlabeled sequences. I think it should be plural for cl